
@import "styles/sites/smartdv";

.request_datasheet {
  padding-top: size(122);
  max-width: size(1440);
  @include marginX(auto);

  .container {
    position: relative;
    padding-bottom: size(144);
    @include large-screen {
      @include paddingX(size(241), size(239));
    }

    &:after {
      content: "";
      width: 100%;
      height: 50%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, #F6F6F6 0%, rgba(246, 246, 246, 0) 100%);
      z-index: -1;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
      @include min-medium-screen {
        height: calc(100% + 56rem);
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      @include square(100%);
      background: $smart_dv_white;
      z-index: -1;
    }
  }

  .slide-bg {
    height: size(60);
    @include min-medium-screen {
      height: size(124);
    }

    svg {
      @include square(100%)
    }

    path {
      fill: $smart_dv_dark_light_gray;
    }
  }

  .request-datasheet-wrapper {
    padding-top: size(90);
    @include large-screen {
      padding-top: size(122);
    }
  }

  .title {
    padding-bottom: size(40);
    text-align: center;
    @include small-screen {
      text-align: left;
    }
  }

}


input, select {
  padding-left: size(20) !important;
  padding-top: size(15) !important;
  padding-bottom: size(15) !important;
  padding-right: size(20) !important;
  background: #FFFFFF !important;
  border: 1px solid #086875;
  text-transform: capitalize;
  width: size(386);
  font-size: size(16) !important;
  line-height: size(20) !important;
  font-weight: 500 !important;
  color: $smart_dv_green_4 !important;
  font-family: $ibm-plex-sans !important;

  &:focus {
    border: 1px solid #BFD730;
    color: #0A1B57 !important;
    font-weight: 600 !important;
  }
}

.gfield {
  position: relative !important;
  width: 100% !important;

  &.focused {
    padding-left: 0 !important;

    .gfield_label {
      top: size(-20) !important;
      font-size: size(12) !important;
      line-height: size(10) !important;
      transform: translateY(0) !important;

    }

    label {
      left: size(18) !important;
    }

    //&:before {
    //  content: "" !important;
    //  position: absolute !important;
    //  top: 0 !important;
    //  border-left: 5px solid #33657E !important;
    //  height: 100%;
    //  left: 0;
    //}

  }
}


label {
  //display: flex;
  font-size: size(16) !important;
  line-height: size(20) !important;
  font-weight: 500 !important;
  color: $smart_dv_green_4;
  font-family: $ibm-plex-sans !important;
  text-transform: capitalize;
  margin-bottom: size(8) !important;
  position: absolute !important;
  top: 50% !important;
  left: 1.8rem !important;
  -webkit-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  pointer-events: none !important;
  transition: all .2s cubic-bezier(0, 0.84, 0.64, 0.69) 0s !important;
}

select {
  appearance: none;
}

.select {
  position: relative;
  //border-radius: size(50);
  @include square(size(35));
  border: 1px solid #086875;

  &:after {
    content: "";
    //background: url(../../svgs/select-arrow.svg) no-repeat right !important;
    //position: absolute !important;
    width: 40px !important;
    height: 40px !important;
    top: 6% !important;
    right: 6% !important;
    cursor: pointer !important;
    pointer-events: none !important;
    transition: transform $duration !important;
    @include min-medium-screen {
      width: size(25) !important;
      height: size(25) !important;
      top: 18% !important;
      right: 6% !important;
    }
    @include large-screen {
      width: size(23) !important;
      height: size(23) !important;
      top: 28% !important;
      right: 6% !important;
    }
  }
}

.gform_wrapper.gravity-theme .gform_fields {
  display: flex !important;
  justify-content: space-between !important;
  flex-wrap: wrap !important;
  //grid-row-gap: 2.9rem !important;
  width: 100% !important;

  .gfield {

    margin-bottom: size(30) !important;
    @include min-medium-screen {
      margin-bottom: size(34) !important;
    }
  }

  .recaptcha-wrapper {
    margin-bottom: 0 !important;
  }
}

.ginput_container.ginput_container_select {
  //margin-top: auto !important;
  width: 100% !important;
}


textarea {
  font-size: size(16) !important;
  line-height: size(30) !important;
  font-weight: 400 !important;
  color: red;
  font-family: $montserrat !important;
  margin-bottom: size(8) !important;
  opacity: 0.8 !important;
  padding-top: size(9) !important;
  padding-left: size(17) !important;
  resize: none;
  border: 1px solid #10384F;
  border-radius: 10px;
}

.gform_wrapper.gravity-theme .gform_footer {
  padding-top: size(56) !important;
  text-align: center !important;
  margin: 0 !important;
  padding-bottom: 0 !important;

  button {
    margin-left: auto !important;
    margin-bottom: 0 !important;
    margin-right: auto !important;
    position: relative;
    z-index: 1;
  }
}


.w-50 {
  width: 100% !important;
  @include min-medium-screen {
    width: calc(50% - 10px) !important;

  }
}

.gfield_required {
  display: none !important;
}

.gform_wrapper.gravity-theme {


  label {
    margin-left: 0 !important;
    margin-bottom: 0 !important;

  }

  .chosen-container {
    position: relative;

    &:after {
      content: "";
      //background: url(../../svgs/select-arrow.svg) no-repeat center !important;
      position: absolute !important;
      width: size(24) !important;
      height: size(24) !important;
      top: 28% !important;
      right: 4% !important;
      //border: 1px solid white !important;
      //border-radius: 50%;
      //padding: size(16) size(12) size(13) size(13);
      cursor: pointer !important;
      pointer-events: none !important;
      transition: transform $duration !important;
      @include min-medium-screen {
        top: 13% !important;
        right: 3% !important;
        width: size(34) !important;
        height: size(34) !important;
      }
      @include large-screen {
        width: size(34) !important;
        height: size(34) !important;
        top: 14% !important;
        right: 3% !important;
      }
    }

    .chosen-single {
      background: unset !important;
      border: 1px solid #086875 !important;
      //border-radius: size(10) !important;
      display: flex !important;
      align-items: center !important;
      padding: 0 !important;
      height: size(49) !important;
      box-shadow: unset !important;

      span {
        font-size: size(16) !important;
        line-height: size(30) !important;
        font-weight: 500 !important;
        margin-bottom: 0 !important;
        font-family: $ibm-plex-sans !important;
        margin-right: 0 !important;
        color: #162932;
        //color: $smart_dv_white;
        padding-left: size(20) !important;
        padding-top: size(15) !important;
        padding-bottom: size(15) !important;
        padding-right: size(20) !important;
      }
    }

    b {
      display: none !important;
    }

    .chosen-results {
      padding: 0 !important;
      margin: 0 !important;
    }

    .chosen-results li {
      font-size: size(16) !important;
      line-height: size(20) !important;
      font-weight: 500 !important;
      color: #313545;
      padding: size(13) size(20) size(16) !important;
      font-family: $ibm-plex-sans !important;


      &:nth-child(odd) {
        background-color: #ECEDED !important;
      }

      &.highlighted {
        background-color: unset !important;
        background-image: unset !important;
        color: unset !important;
      }
    }
  }

  .chosen-drop {
    border: 1px solid $smart_dv_white !important;
    border-radius: unset !important;
    box-shadow: unset !important;
  }

  .chosen-container-active {
    &.chosen-with-drop {
      a.chosen-single {
        //border-radius: size(10) size(10) 0 0 !important
      }


      &:after {
        transform: scaleY(-1) !important;
      }
    }

    .chosen-single {
      box-shadow: unset !important;
    }

  }

  .chosen-container-single .chosen-search {
    display: none !important;

    input[type=text] {
      //font-size: size(16) !important;
      //line-height: size(30) !important;
      //font-weight: 400 !important;
      //color: red;
      //font-family: $montserrat !important;
      display: none !important;
    }
  }
}

.gform_confirmation_message {
  font-size: size(20) !important;
  line-height: size(24) !important;
  font-weight: 700 !important;
  color: #BFD730 !important;
  font-family: $ibm-plex-sans !important;
  letter-spacing: normal !important;
}

.validation_message {
  font-size: size(16) !important;
  line-height: size(20) !important;
  clear: both;
  font-family: $montserrat !important;
  font-weight: 500 !important;
  width: 100%;
  color: #BFD730 !important;
  background: none !important;
  border: none !important;
  margin-top: 0 !important;
  padding: size(12) size(14) !important;
  position: absolute !important;
  top: 87% !important;
  @include min-medium-screen {
    top: 91% !important;
  }
  @include large-screen {
    top: 96% !important;
  }
}

.gform_wrapper {
  .gform_validation_errors {
    display: none !important;
  }

  .gravity-theme {
    .gfield {

      &:not(.gfield--width-full) {
        margin-bottom: size(20) !important;
      }


    }

  }


  .gform_validation_errors > h2 {
    font-size: size(14) !important;
    font-weight: 400 !important;
    color: blue !important;
    line-height: size(30) !important;

    .gform-icon {
      align-items: center !important;
      display: flex !important;
      font-size: size(22);
      height: 100%;
      left: size(4);
      position: absolute;
      top: 0;
    }

  }

  &.gform_validation_error {
    .gform_footer {
      margin-top: size(50) !important;
    }
  }


  //  region additional text styling
  .form-additional-text {
    @include font(14px, 400, 18px, grey, "Roboto", 0.02em);
    @include min-medium-screen {
      max-width: size(570);
      @include marginX(auto);
    }
  }

  //  endregion additional text styling

  // region general styling
  .gform_fields {
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    gap: 0 !important;
    grid-row-gap: 0px !important;

  }

  // endregion general styling

}

.gform_ajax_spinner {
  box-sizing: border-box;
  border: size(3) solid $smart_dv_green;
  border-left: size(3) solid #5EABAB;
  border-top: size(3) solid #33657E;
  border-right: size(3) solid #237272;
  animation: spinner 1.1s infinite linear;
  border-radius: 50%;
  @include square(size(30));
  z-index: 1;
  margin-top: size(15);
}

.gfield.gfield_error {
  .gfield_label {
    color: $smart_dv_green_4 !important;
  }


  margin-bottom: size(25);
}


.gform_wrapper.gravity-theme .gfield_error [aria-invalid=true] {
  border: 1px solid #086875 !important;

}


.gform_wrapper.gravity-theme {

  .gfield {

    .ginput_container.ginput_container_select {
      .chosen-container.chosen-container-single {
        .chosen-single {
          border: 1px solid $smart_dv_white !important;

          span {
            color: $smart_dv_white;
          }
        }

        //.chosen-drop {
        //  .chosen-results {
        //    .active-result {
        //      color: $smart_dv_white;
        //    }
        //  }
        //}
      }
    }

    .ginput_container.ginput_container_fileupload {
      input {
        border: none !important;
        background: none !important;
        position: relative !important;
        width: size(190) !important;
        margin-left: auto !important;
        margin-right: auto !important;
        display: flex !important;
        padding-top: 3.5rem !important;
        margin-top: 2rem !important;
        text-align: center;

        &::-webkit-file-upload-button, ::file-selector-button {
          //border: none !important;
          visibility: hidden !important;
          width: 0 !important;
        }

        &:before {
          content: 'Upload Resume' !important;
          color: black;
          //display: inline-block;
          border-radius: 3px;
          padding: 5px 8px;
          outline: none;
          white-space: nowrap;
          -webkit-user-select: none;
          cursor: pointer;
          text-shadow: 1px 1px #fff;
          font-weight: 700;
          font-size: 10pt;
          position: absolute !important;
          top: 50% !important;
          left: 50% !important;
          transform: translate(-50%, -50%) !important;
          display: block !important;
          margin-top: -3rem !important;
        }

        &:active {
          outline: 0 !important;
        }
      }


      .gform_fileupload_rules {
        display: none !important;
      }
    }
  }


}

.ginput_recaptcha {
  div {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.grecaptcha-badge {
  visibility: hidden !important;
}

.recaptcha-wrapper {
  .validation_message {
    left: 25%;
    top: 104% !important
  }
}



