:root {
  /* Colors: */
  --zineone-white: #ffffff;
  --zineone-black: #000000;
  --zineone-dark:#141F41 ;
  --zineone-blue:#1174BB;
  --zineone-dark-blue:#26335D;
  --zineone-green: #A0CD37;
  --zineone-dark-grey:#6E7280;
  --zineone-grey:#FAFAFA;
  --zineone-light-blue:#BACEDC;
  --zineone-Purple: #423B7E;
  --zineone-light-Purple:#D9D2E8;
  --zineone-Orange:#FB762B;
  --zineone-light-Orange: #FEE4D5;
}
