@import "variables";
@import "mixins";
@import "root";

body {
  background: $zineone-grey;

  &.fixed-body {
    overflow: hidden;
  }
}

.container {
  @include paddingX($container-padding-sm);
  @include min-medium-screen {
    @include paddingX($container-padding-md);
  }
  @include large-screen {
    @include paddingX($container-padding-lg);
  }
}

.headline-1, .wysiwyg-block h1, .blog-content-wrapper h1 {
  @include font(size(28), 700, 121.42%, $zineone-black, 0.01em);
  @include min-medium-screen {
    font-size: size(50);
    line-height: 111.11%;
    letter-spacing: 0.2px;
  }
  @include large-screen {
    font-size: size(72);
  }
}

.headline-2, .wysiwyg-block h2, .blog-content-wrapper h2 {
  @include font(size(28), 700, 121.42%, $zineone-black, 0.01em);
  @include min-medium-screen {
    font-size: size(34);
    line-height: 125%;
    letter-spacing: 0.1px;
  }
  @include large-screen {
    font-size: size(40);
  }
}

.headline-3, .wysiwyg-block h3, .blog-content-wrapper h3 {
  @include font(size(28), 700, 121.42%, $zineone-black, 0.01em);

}

.headline-4, .wysiwyg-block h4, .blog-content-wrapper h4 {
  @include font(size(24), 700, 121.42%, $zineone-black, 0.01em);
}

.headline-5, .wysiwyg-block h5, .blog-content-wrapper h5 {
  @include font(size(20), 700, 121.42%, $zineone-black, 0.01em);
}

.headline-6, .wysiwyg-block h6, .blog-content-wrapper h6 {
  @include font(size(16), 700, 121.42%, $zineone-black, 0.01em);
}

.paragraph, .wysiwyg-block p, .blog-content-wrapper p {
  @include font(size(18), 400, 155.55%, $zineone-black, 0.2px);
}

.btn {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: size(8);
  @include font(size(16), bold, 150%, $zineone-white, 0.2px);
  background: $zineone-blue;
  padding: size(16) size(24);
  width: fit-content;
  transition: background-color $duration;

  &-border {
    background: transparent;

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      @include square(100%);
      border: 1px solid $zineone-white;
      border-radius: inherit;
    }
  }

  &:hover {
    background: #A0CD37;
    color: $zineone-white;
  }
}

.small-title {
  @include font(size(14), 700, 171.42%, $zineone-grey, 0.2px);
}

.learn-more {
  font-size: size(16);
  line-height: size(24);
  letter-spacing: 0.2px;
  font-weight: 700;
  transition: color $duration;

  path {
    fill: currentColor;
  }

  svg {
    margin-left: size(12);
    width: size(16);
    height: auto;
    transition: transform $duration;
  }

  &:hover {
    color: $zineone-green !important;

    svg {
      transform: translateX(30%);
    }
  }
}

.bottom-border {
  position: relative;
  padding-bottom: size(32);

  &.centered {
    @include min-medium-screen {
      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

  }

  &:after {
    content: '';
    position: absolute;
    width: size(120);
    height: 3px;
    background-color: $zineone-green;
    bottom: 0;
    left: 0%;
    top: 100%;
  }
}

//
//ul:not(.reset-ul) {
//  li {
//    position: relative;
//    font-size: size(15);
//    line-height: size(20);
//    font-weight: 500;
//    padding-left: size(23);
//    @include min-medium-screen {
//      font-size: size(20);
//      line-height: 125%;
//    }
//    @include large-screen {
//      font-size: size(24);
//    }
//
//    &:not(:last-child) {
//      margin-bottom: size(15);
//      @include min-medium-screen {
//        margin-bottom: size(20);
//      }
//      @include large-screen {
//        margin-bottom: size(25);
//      }
//    }
//
//    &:before {
//      content: "";
//      position: absolute;
//      top: size(6);
//      left: 0;
//      @include square(size(3));
//      background-color: currentColor;
//      border-radius: 50%;
//      @include min-medium-screen {
//        top: size(10);
//      }
//    }
//  }
//}

.swiper-button {
  @include square(size(56));
  border: 1px solid $zineone-light-blue;
  border-radius: size(24);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  z-index: 9;
  top: 50%;
  transform: translateY(-50%);
  @include small-screen {
    @include square(size(40));
  }

  &.swiper-button-next {
    right: 0;
  }

  &.swiper-button-prev {
    left: 0;
  }
}

.box-shadow {
  background: $zineone-white;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  border-radius: size(10);
}

.border-bottom {
  font-weight: bold;
  font-size: size(14);
  line-height: 171.42%;
  color: $zineone-dark-grey;
  border: 1px solid $zineone-dark-grey;
  border-radius: size(22);
  padding: size(8) size(16);
  cursor: pointer;
  margin-bottom: size(32);
  margin-right: size(9);
  transition: color $duration, background-color $duration, border-color $duration;

  &:hover {
    color: $zineone-white;
    background-color: $zineone-green;
    border-color: $zineone-white;
  }

  &:not(:last-child) {
    margin-bottom: size(32);
  }

}

.confetti-fall {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 100%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  z-index: 0;
  pointer-events: none;

  .confetti-img {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.video-toggler {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  @include square(size(60));
  border-radius: 50%;
  background: $zineone-Orange;
  cursor: pointer;

  &-playing {
    top: size(20);
    left: size(20);
    transform: translate(0, 0);
    transition-property: top, left;
    transition-duration: $duration;
    @include small-screen {
      top: size(10);
      @include square(size(45));
    }

    .video-toggler-icon {
      animation: playToPause 0.2s linear forwards;
    }
  }

  &-paused {
    .video-toggler-icon {
      animation: pauseToPlay 0.2s linear forwards;
    }
  }

  &-icon {
    width: size(19);
    height: size(22);
    background: $zineone-white;
    clip-path: $clip-play;
    @include min-medium-screen {
      width: size(24.45);
      height: size(29);
    }
  }
}

.thank-you-message {
  font-size: size(26);
  font-weight: 600;
  line-height: 130%;
  color: $zineone-green;
  text-align: center;
  height: 0;
  overflow: hidden;

  .thank-you-message-spacer {
    height: size(30);
  }

  &.active {
    display: block;
  }
}

// region general post card
.blog_posts_group {
  padding: size(32);
  height: 100%;
  padding-bottom: size(88);
  position: relative;

  &.event-post-card {
    padding-bottom: size(32);
  }

  .blog_posts_img {
    img {
      width: 100%;
      border-radius: size(8);
    }
  }

  .aspect-ratio {
    padding-top: 71.42%;
  }

  .headline-3 {
    margin-top: size(32);
    @include max-lines(3);
  }

  .paragraph {
    @include max-lines(4);
    margin-top: size(32);
  }

  .learn-more {
    display: block;
    color: $zineone-blue;
    position: absolute;
    bottom: size(32);
  }

  .blog-posts-text {
    display: flex;
    flex-wrap: wrap;
    margin-top: size(32);
    margin-bottom: size(-32);

    //@include min-medium-screen {
    //  margin-bottom: 0;
    //}
  }
}

// endregion general post card

.wysiwyg-block {
  h1 {
    font-size: size(55);
  }

  a {
    color: $zineone-green !important;
    transition: color $duration;

    &:hover {
      color: $zineone-blue !important;
    }
  }

  h1, h2, h3, h4, h5, h6, ul, p {
    margin-bottom: size(20);
  }

  ul {
    margin-bottom: size(20);
    padding-top: 0;
    list-style: initial;
    padding-left: 2.2%;
    @include font(size(16), 400, 137.5%);

    li {
      position: initial;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      padding-left: initial;
      @include min-medium-screen {
        font-size: inherit;
        line-height: inherit;
      }
      @include large-screen {
        font-size: inherit;
      }

      &:not(:last-child) {
        margin-bottom: size(5);
        @include min-medium-screen {
          margin-bottom: size(5);
        }
        @include large-screen {
          margin-bottom: size(10);
        }
      }

      &:before {
        display: none;
        content: "";
        position: absolute;
        top: size(6);
        left: 0;
        @include square(size(3));
        background-color: currentColor;
        border-radius: 50%;
        @include min-medium-screen {
          top: size(10);
        }
      }
    }
  }
}

.swiper-button.swiper-button-disabled {
  display: none;
}

// region link style
a {
  color: $zineone-blue;
  transition: color $duration;
  cursor: pointer;

  &:hover {
    color: $zineone-green;
  }
}

// endregion link style

// image rounded

.image-rounded {
  border-radius: size(16);
}

#cn-notice-buttons {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.btn, .cn-button.wp-default {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: size(8);
  @include font(size(16), bold, 150%, $zineone-white, 0.2px);
  background: $zineone-blue;
  padding: size(16) size(24);
  width: fit-content;
  transition: background-color $duration;

  &-border {
    background: transparent;

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      @include square(100%);
      border: 1px solid $zineone-white;
      border-radius: inherit;
    }
  }

  &:hover {
    background: #A0CD37;
    color: $zineone-white;
  }
}

.cn-button.wp-default {
  font-family: "Montserrat", sans-serif;
}



a.btn.cta_shortcode {
  background: #1174BB!important;
  color: #fff!important;
  transition: background-color 500ms;
  &:hover {
    background: #A0CD37!important;
    color: #ffffff!important;
  }
}

a.learn-more.cta_shortcode{
  color: #1174BB!important;
  transition: color 500ms;
  path,svg{
    fill: currentColor!important;
    color: currentColor!important;
  }
  &:hover {
    color: #A0CD37 !important;
  }
}
