// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$zineone-black: var(--zineone-black);
$zineone-white: var(--zineone-white);
$zineone-dark: var(--zineone-dark);
$zineone-blue: var(--zineone-blue);
$zineone-light-blue:var(--zineone-light-blue);
$zineone-dark-blue:var(--zineone-dark-blue);
$zineone-green: var(--zineone-green);
$zineone-dark-grey: var(--zineone-dark-grey);
$zineone-grey: var(--zineone-grey);
$zineone-Purple: var(--zineone-Purple);
$zineone-light-Purple: var(--zineone-light-Purple);
$zineone-Orange: var(--zineone-Orange);
$zineone-light-Orange:var(--zineone-light-Orange);
// fonts
$montserrat: 'Montserrat';
//default duration
$duration: 500ms;
//override bootstrap variables
$grid-gutter-width: 4rem;
$container-padding-sm: 2.4rem;
$container-padding-md: 8rem;
$container-padding-lg: 20rem;
$container-max-widths: (
  'md': 100%, //570px
  'lg': 168rem, //760px 88.4
);
$grid-breakpoints: (
  'xs': 0,
  'md': $medium-screen-min-width,
  'lg': $large-screen-min-width,
);

// video icon animation

$clip-play: polygon(0 0, 0 0, 0 0, 0 0, 0 0, 100% 50%, 100% 50%, 0 100%, 0 100%, 0 100%, 0 100%, 0% 100%);

$clip-square: polygon(0 0, 33% 0, 33% 0, 66% 0, 66% 0, 100% 0, 100% 100%, 66% 100%, 66% 100%, 33% 100%, 33% 100%, 0% 100%);

$clip-pause: polygon(0 0, 33% 0, 33% 50%, 66% 50%, 66% 0, 100% 0%, 100% 100%, 66% 100%, 66% 50%, 33% 50%, 33% 100%, 0% 100%);

@keyframes playToPause {
  0% {
    clip-path: $clip-play;
  }
  50% {
    //square up
    clip-path: $clip-square;
  }

  100% {
    clip-path: $clip-pause;
  }
}

@keyframes pauseToPlay {
  0% {
    clip-path: $clip-pause;
  }
  50% {
    //square up
    clip-path: $clip-square;
  }

  100% {
    clip-path: $clip-play;
  }
}

