@import "styles/sites/smartdv";
@import "mapbox-gl/dist/mapbox-gl.css";

.map {
  @include paddingY(size(38));
  background-color: $smart_dv_dark_green;
  overflow: hidden;

  @include large-screen {
    @include paddingY(size(100));
  }

  .map-container {
    height: size(723);
  }

  .container {
    @include paddingX(0);

    @include large-screen {
      @include paddingX(size(104));
    }
  }

  .main-content {
    background: transparent;
    margin-top: -150px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(180deg, #064952 0%, rgba(20, 83, 91, 0) 100%);
      transform: rotate(-180deg);
      height: size(288);
    }

    @include small-screen {
      margin-top: -100px;

      &:after {
        height: size(98);
      }
    }
  }

  .location-cards {
    @include paddingX(size(40));
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    z-index: 1;
    @include min-medium-screen {
      gap: 50px 65px;
      grid-template-columns: repeat(2, 1fr);
    }
    @include large-screen {
      grid-template-columns: repeat(3, 1fr);
      @include paddingX(0);
    }
  }

  .card {
    position: relative;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    border-bottom: 2px solid $smart_dv_green;
    @include paddingY(size(25));

    @include min-medium-screen {
      @include paddingY(size(25), size(38));
    }

    .card-header {
      display: flex;
      align-items: center;
      overflow: hidden;

      @include medium-screen {
        @include paddingY(size(12), size(0));
      }

      .card-header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
      }

      .title {
        position: relative;
        overflow: hidden;
        @include font(20px, 400, 125%, $smart_dv_white, $montserrat);

        @include min-medium-screen {
          @include font(14px, 500, 125%, $smart_dv_white, $montserrat);
        }
      }

      .subtitle {
        @include font(14px, 500, 214%, $smart_dv_white, $montserrat);
        margin-bottom: 4px;
        @include min-medium-screen {
          font-size: size(16);
          margin-bottom: 2px;
          line-height: 188%;
        }
      }
    }

    .card-body-wrapper {
      height: 0;
      overflow: hidden;
      transition: margin-top $duration;
    }

    .card-body {
      margin-top: size(40);
      overflow: hidden;

      a {
        cursor: pointer;
      }

      .country {
        font-weight: 700;
      }

      .paragraph {
        line-height: 125%;
        margin-bottom: size(10);

        &:hover {
          a {
            color: $smart_dv_lime;
          }
        }

        &:last-child {
          margin-bottom: size(0);
        }
      }
    }

    .svg-wrapper {
      @include square(size(17));
      @include min-medium-screen {
        @include square(size(24));

      }
      cursor: pointer;

      svg {
        line {
          stroke: $smart_dv_lime;
        }

        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &.hover-action {
        svg.minus-plus {
          &.minus-icon {
            opacity: 0;
          }
        }

        .remove-to-close {
          transform-origin: center;
          transition-property: opacity, transform;
          transition-duration: .3s;
          transition-timing-function: cubic-bezier(0.97, -0.01, 0.42, 0.56);
        }
      }

    }

    &.sales {
      .card-header {
        &:before {
          content: '';
          margin-right: size(18);
          //background-image: url(../../../src/svgs/sales-icon.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;
          width: size(40);
          height: size(40);
          border-radius: 50%;
          background-color: $smart_dv_medium_green;

          flex-shrink: 0;
        }
      }
    }

    &.office {
      .card-header {
        &:before {
          content: '';
          margin-right: size(22);
          //background-image: url(../../../src/svgs/Office-icon.svg);
          background-repeat: no-repeat;
          background-color: $smart_dv_lime;
          border-radius: 50%;
          background-size: contain;
          background-position: center center;
          width: size(40);
          height: size(40);
          flex-shrink: 0;
        }
      }
    }

    &.active {
      .svg-wrapper {
        &.hover-action {
          .remove-to-close {
            transform: rotate(90deg);
            opacity: 0;
          }
        }
      }
    }
  }

  .aspect-ratio {
    padding-top: 64.611%;

    .map-container {
      position: absolute;
      top: 0;
      left: 0;
      @include square(100%);
    }
  }

  .mapboxgl-ctrl {
    display: none;
  }

  .marker {
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: width, height;
    transition-duration: $duration;

    &.office-marker {
      //background-image: url('../../svgs/Office-icon.svg');
      width: size(30);
      height: size(30);
      background-color: $smart_dv_lime;
      border-radius: 50%;
      @include small-screen {
        width: size(5);
        height: size(7);
      }

      &.active-marker {
        width: size(66);
        height: size(66);
      }
    }

    &.sales-marker {
      //background-image: url('../../svgs/sales-icon.svg');
      width: size(30);
      background-color: $smart_dv_medium_green;
      height: size(30);
border-radius: 50%;
      @include small-screen {
        width: size(7);
        height: size(5);
      }

      &.active-marker {
        width: size(66);
        height: size(66);
      }
    }
  }

  .mapboxgl-popup {
    max-width: unset !important;
    pointer-events: auto;
  }

  .mapboxgl-popup-content {
    max-width: size(359);
    background: #FFFFFF;
    @include paddingY(size(52));

    @include paddingX(size(20));
    box-shadow: 0 size(10) size(10) rgba(0, 0, 0, 0.15);
    position: relative;
    transition: transform $duration, max-width $duration;
    border-bottom: size(9) solid $smart_dv_lime;

    @include min-medium-screen {
      @include paddingX(size(32), size(20));
    }

    .location-title {
      @include font(16px, 600, 20px, $smart_dv_dark_metal_green, $montserrat);
      margin-bottom: size(5);
    }

    .description {
      margin-bottom: size(20);
    }

    .content {
      @include font(14px, 400, 20px, $smart_dv_dark_metal_green, $montserrat);
    }
  }

  .mapboxgl-popup-close-button {
    position: absolute;
    font-size: size(24);
    right: size(15);
    top: size(15);
    transition: color $duration;
    display: none;

    &:hover {
      color: $smart_dv_lime;
    }
  }

  .mapboxgl-ctrl {
    display: none !important;
  }

  .mapboxgl-popup-tip {
    width: 1px;
    background-color: #BFD730;
    border: 0;
    height: 35px;
    pointer-events: auto;
  }

  .mapboxgl-popup-anchor-top {
    margin-top: size(10);
    margin-bottom: 0;

    .mapboxgl-popup-tip {
      margin-bottom: 0;
    }
  }

  .mapboxgl-popup-anchor-bottom {
    margin-top: size(1);

    .mapboxgl-popup-tip {
      margin-bottom: size(20);
    }
  }

  .mapboxgl-popup-anchor-left {
    flex-direction: column-reverse;
  }

  .mapboxgl-popup-anchor-top-right {
    .mapboxgl-popup-tip {
      margin-top: size(10);
    }
  }

  .mapboxgl-popup-anchor-right {
    .mapboxgl-popup-tip {
      height: 1px;
      width: 35px;
      margin-right: 14px;
    }
  }

  .mapboxgl-popup-anchor-left {
    .mapboxgl-popup-tip {
      height: 1px;
      width: 35px;
      margin-left: 14px;
      position: absolute;
      top: 50%;
      left: 0;
    }

    .mapboxgl-popup-content {
      margin-left: 49px;
      position: relative;
      z-index: 2;
    }
  }
}



