
@import "styles/sites/propellerheath";


.image_illustration_and_cta {
  overflow: hidden;
  @include paddingY(size(44), size(40));
  @include min-medium-screen {
    @include paddingY(size(149), size(134.8));
  }

  .container {
    @include small-screen {
      @include paddingX(size(45))
    }
    @include large-screen {
      padding-right: size(133);
    }
  }

  .text-and-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column-reverse;

    @include min-medium-screen {
      flex-direction: row;
      max-width: size(1167);
    }


    .left-side {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(44.205%);

      }

      .main-title {
        margin-bottom: size(31);
        font-weight: 700;
        max-width: size(296);
        @include min-medium-screen {
          @include font-size(52px, 58px);
          margin-bottom: size(38);
          max-width: size(486);
        }
      }

      .list-boxes {
        .box {
          list-style: none;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          margin-bottom: size(24);
          @include min-medium-screen {
            margin-bottom: size(28);
          }

          .icon {
            max-width: size(47);
            max-height: size(47);
            margin-right: size(17);
            transform: translateY(size(3));
            @include min-medium-screen {
              margin-right: size(24);
            }

            img, svg {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          .cta-link {
            @include font(16px, 800, 24px, $propellerhealth_coal, $Lato);

            svg {
              margin-left: 0;
              @include min-medium-screen {
                margin-left: size(12);
              }
            }

          }

          .p-text {
            max-width: size(226);
            @include min-medium-screen {
              max-width: size(289);
            }
          }

          .cta-button {
            margin-top: size(6);
            @include paddingY(size(17), size(18));
            @include small-screen {
              margin-bottom: size(30);
            }
          }

        }
      }


      .cta-button {
        margin-top: size(20);
        @include paddingY(size(11.41), size(11.41));
        @include min-medium-screen {
          margin-top: size(36);
          @include paddingY(size(17.5), size(17.5));
        }
      }

    }

    .right-side {
      @include flexBasis(100%);
      position: relative;
      margin-bottom: size(45);
      @include min-medium-screen {
        margin-bottom: 0;
        @include flexBasis(53.98%);
      }

      .above-title {
        margin-bottom: size(49);
        text-align: center;
        @include font(26px, 400, 30px, $propellerhealth_coal, $Lato);
        @include min-medium-screen {

          margin-left: auto;
          @include font(36px, 400, 42px, $propellerhealth_coal, $Lato);
          text-align: left;
          margin-bottom: size(122);
          max-width: size(541);
        }
        //@include large-screen {
        // margin-left: size(22);
        //}

      }

      .bg-svg {
        position: absolute;
        top: size(38);
        left: size(-17);
        right: size(-22);
        bottom: 0;
        width: size(426);
        height: size(410);
        @include min-medium-screen {
          top: size(34);
          left: 0;
          right: 0;
          width: size(530);
          height: size(452);
        }
        @include large-screen {
          width: size(630);
          height: size(602);
        }


        svg {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }


      .aspect-ratio {
        @include marginX(auto);
        padding-top: 115.94%;
        @include min-medium-screen {
          padding-top: 96.154%;
          width: size(357);
        }
        @include large-screen {
          width: size(457);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .moving-shape {
      &:after {
        opacity: 1;
        background: $propellerhealth_primary;
        width: 120%;
        height: 120%;
        @include min-medium-screen {
          left: 50%;
          height: size(540);
          width: size(450);
        }
        @include large-screen {
          //@include square(size(700));
          width: size(610);
          height: size(680);
        }
      }
    }

    .arrow-right {
      @include small-screen {
        width: size(10);
      }
    }

    &.reverse {
      @include min-medium-screen {
        flex-direction: row-reverse;
      }
      .above-title {
        @include min-medium-screen{
          margin-left: size(22);
        }
      }

      .moving-shape {
        &:after {
          opacity: 1;
          background: $propellerhealth_primary;
          width: 120%;
          height: 120%;
          @include min-medium-screen {
            left: 35%;
            height: size(540);
            width: size(450);
          }
          @include large-screen {
            //@include square(size(700));
            width: size(610);
            height: size(680);
          }
        }
      }

      .right-side{
        .aspect-ratio {
          @include marginX(auto);
          padding-top: 115.94%;
          @include min-medium-screen {
            padding-top: 96.154%;
            width: size(357);
            margin-right: initial;
            margin-left: size(22);
          }
          @include large-screen {
            width: size(457);
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }


    }

    &.start {
      align-items: flex-start;
    }


  }

  &.home_version{
    .aspect-ratio{
      @include min-medium-screen{
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
    .moving-shape{
      &:after{
        content:'';
        @include min-medium-screen{
          left:50% !important;
        }
      }
    }

  }
}



