@import "styles/sites/headversity";
@import "mapbox-gl/dist/mapbox-gl.css";


.map_block {
  @include paddingY(size(71.5), size(76.5));
  @include min-medium-screen {
    @include paddingY(size(126.7), size(116.5));

  }

  .container {
    @include small-screen {
      @include paddingX(size(0));

    }
    @include min-medium-screen {
      padding-left: 0;
    }
  }

  .percentage-card {
    @include small-screen {
      max-width: size(353);
      border-radius: 0 size(20) size(20) 0;
    }
    position: relative;
    z-index: 200;
    margin-top: size(-80);
    order: 2;
    @include min-medium-screen {
      order: 0;
      max-width: size(810);
      margin-top: size(-110);
      margin-left: 45%;
      border-radius: size(20) 0 0 size(20);
    }
    @include medium-screen {
      padding-left: size(115);
    }
    @include large-screen {
      max-width: size(866);
      margin-top: size(-140);
      //margin-left: 50%;
    }

    .rate-field {
      @include large-screen {
        width: size(580);
      }
    }

    .percentage-value {
      font-family: $open-sans;
      font-weight: 600;
      @include medium-screen {
        font-size: size(54);
      }
    }

    [data-number] {
      font-feature-settings: "tnum";
      font-variant-numeric: tabular-nums;
    }


  }

  .content {
    @include flex(center, space-between, false, wrap);
    @include min-medium-screen {
      flex-direction: row;
    }

    .left-content {
      @include flexBasis(100%);
      position: relative;
      order: 1;
      @include min-medium-screen {
        order: 0;
        @include flexBasis(57.17%);
      }

      .map-wrapper {
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: #0A1B57;

        .map {
          width: 150%;
          height: 150%;
          position: absolute !important;
          top: 0;
          left: 0;
          @include small-screen {
            top: 50%;
            right: 50%;
            left: unset;
            transform: translate(50%, -50%);
          }

        }
      }
    }

    .right-content {
      @include flexBasis(100%);
      @include paddingX(size(26));
      @include small-screen {
        margin-bottom: size(56);
      }
      @include min-medium-screen {
        @include paddingX(size(0));
        @include flexBasis(30.555%);
      }
    }
  }

  .title {
    margin-bottom: size(29);
    max-width: size(309);
    @include min-medium-screen {
      margin-bottom: size(40);
      max-width: size(351);
    }
  }

  .current-loc {
    &.hidden {
      display: none !important;
    }

    display: none;
    @include min-medium-screen {
      position: absolute;
      top: 0;
      left: 0;
      width: size(305);
      padding: size(26) size(69);
      display: flex;
      align-items: center;
      background-color: $headversity_white;
      box-shadow: 0 10px 20px rgba(97, 55, 55, 0.1);
      border-bottom-right-radius: 30px;
      .location-content {
        @include font(16px, 400, 20px, $headversity_dark_blue, $poppins);
        max-width: size(68);
        text-transform: capitalize;

        .country {
          font-weight: bold;
        }
      }
      .location-svg {
        width: size(28);
        height: size(40);
        margin-right: size(16);

        svg {
          @include objectImg()
        }
      }

    }
  }


  .img-wrapper {
    padding-top: 91.9%;
    @include min-medium-screen {

      padding-top: 110.192%;
    }
  }

  [class *= "cesium"] {
    display: none !important;
  }

  .we-pm-icon {
    //background-image: url("../../images/map-pin.png") !important;
  }

  .marker {
    cursor: pointer;
    //background-image: url("../../images/map-pin.png");
    width: 25px;
    height: 41px;
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      animation: bounce 1s 0 both ease-in-out;
      animation-iteration-count: infinite;
    }

    @keyframes bounce {
      0%, 100%, 50%, 80% {
        margin-top: 0;
      }
      40% {
        margin-top: -5px;
      }
      60% {
        margin-top: -3px;
      }
    }
  }


}
