
@import "styles/sites/propellerheath";
@import "~swiper/css";
@import "swiper/css/effect-fade";

.content_and_media_slider {
  background-color: #F5F5F5;
  @include paddingY(size(75));
  @include min-medium-screen {
    @include paddingY(size(133), size(92.5));
  }

  .container {
    @include min-medium-screen {
      padding-left: 0;
      padding-right: size(45);
    }
    @include large-screen {
      padding-right: size(90);
    }
  }

  .content-wrapper {
    @include flex(center, space-between);
    @include small-screen {
      flex-direction: column;
    }
  }

  .swiper {
    @include marginX(unset)
  }

  .left-content {
    @include flexBasis(100%);

    @include min-medium-screen {
      @include flexBasis(50%);
      padding-left: size(70);
    }

    @include large-screen {
      @include flexBasis(49.55%);
      padding-left: size(173);
    }
  }

  .right-content {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(43%);
    }
    @include large-screen {
      @include flexBasis(39.75%);
    }
    @include small-screen {
      margin-top: size(20);
    }
  }

  .swiper-slide {
    @include min-medium-screen {
      margin-right: 1px;
    }
  }

  .image-wrapper {
    @include flexBasis(100%);
    padding-top: 100%;
    @include min-medium-screen {
      padding-top: 121.46%;
    }


    img {
      @include square(100%);
      object-fit: cover;
    }
  }

  .title {
    margin-bottom: size(30);
  }

  .description {
    h4 {
      margin-bottom: size(11);
    }

    @include min-medium-screen {
      @include flexBasis(71%);
    }
  }

  .swiper-btn {
    margin-top: size(34);
    @include paddingY(size(17.5));
  }

  .swiper-pagination-bullet {
    cursor: pointer;
  }
}








