@import "variables";
@import "mixins";
@import "root";
@import "swiper/css";

//region HTML tags
* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 10px;
  font-family: $crimson;
  width: 100vw;
  //scroll-behavior: smooth
}

// region customize html scroll bar
::-webkit-scrollbar {
  display: none;
}

// endregion customize html scroll bar

body, html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture {
  display: block;
}

button {
  border: none;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, form {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}


//endregion HTML tags

.container {
  @include paddingX(size(20));
}

section {
  position: relative;
}

//region scroll animation classes
.line-overflow,
.word-overflow {
  overflow: hidden;
  vertical-align: top;
}

[class ^="iv-st"], [class *= " iv-st"] {
  opacity: 0;
  visibility: hidden;
}

.iv-st-from-top, .iv-st-from-bottom, .iv-st-from-left, .iv-st-from-right, .word-up, .line-up, .real-line-up {
  opacity: 0;
  visibility: hidden;
}

//endregion scroll animation classes

//region utility classes
.hover-arrow {
  .right-arrow, .left-arrow {
    transition: transform $duration;
  }

  &:hover {
    .right-arrow {
      transform: translateX(size(13));
    }

    .left-arrow {
      transform: translateX(size(13));
    }
  }
}

.hover-zoom-child {
  overflow: hidden;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: -85%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    transition: left 400ms;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
  }

  > .zoom-in {
    transition: transform 800ms;
  }

  &:hover {
    &:before {
      left: 125%;
    }

    > .zoom-in {
      transform: scale(1.02) !important;
    }
  }
}

.gutter {
  &-0 {
    @include change-gutter(0);
  }

  &--115 {
    @include change-gutter(size(50));
    @include large-screen {
      @include change-gutter(size(115))
    }
  }

  &--115v {
    @include change-gutter(false, size(50));
    @include large-screen {
      @include change-gutter(false, size(115))
    }
  }

  &--98 {
    @include change-gutter(size(76));
    @include large-screen {
      @include change-gutter(size(98));
    }
  }

  &--40 {
    @include change-gutter(size(40));
  }
}

.aspect-ratio {
  position: relative;
  height: 0;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.swiper-button {
  @include square(size(45));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: background-color, transform, opacity;
  transition-duration: $duration;
  border: 2px solid currentColor;
  color: $swc-red;
  @include min-medium-screen {
    @include square(size(68));
  }

  svg {
    //width: size(13);
    //height: size(20);
    width: 20.3%;
    height: 31.41%;
    color: currentColor;
    transition: transform $duration $bouncing;
  }

  &-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:not(&-disabled) {
    &:hover {
      background: currentColor;
      //transform: scale(1.1);

      svg {
        color: $swc-black;
      }
    }
  }

  &-red {
    background: currentColor;

    path {
      fill: $swc-white;
    }

    &:not(.swiper-button-disabled) {
      &:hover {
        background: $swc-white;

        path {
          fill: $swc-black;
        }
      }
    }
  }
}

@keyframes bouncing {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(size(-20), size(-50));
  }
}

path {
  transition: fill, stroke;
  transition-duration: $duration;
}

//endregion utility classes

// region general classes

.headline-1, .wysiwyg-block h1 {
  @include font(size(48), 400, size(56), $swc-black);
}

.headline-2, .wysiwyg-block h2 {
  @include font(size(38), 700, size(51), $swc-black);

  &-italic {
    font-style: italic;
  }
}

.headline-3, .wysiwyg-block h3 {
  @include font(size(34), 700, size(32), $swc-black);
}

.headline-4, .wysiwyg-block h4 {
  @include font(size(24), 700, size(32), $swc-black);
}

.headline-5, .wysiwyg-block h5 {
  @include font(size(20), 400, size(29), $swc-black);
  font-family: $openSans;
  letter-spacing: size(0.15);
}

.headline-6, .wysiwyg-block h6 {
  @include font(size(15), 400, size(26), rgba(0, 0, 0, 0.5));
  font-family: $openSans;
  letter-spacing: size(0.43);
}

.paragraph, .wysiwyg-block p {
  @include font(size(16), 400, size(29), $swc-black);
  font-family: $openSans;
  letter-spacing: size(0.15);

  a:not(.btn) {
    //position: relative;
    transition: color $duration;
    //border-bottom: 1px solid currentColor;

    //&:after {
    //  content: '\003e';
    //  margin-left: size(3);
    //  display: inline-block;
    //  transition: transform $duration;
    //}

    &:hover {
      color: $swc-blue;

      //&:after {
      //  transform: translateX(2px);
      //  //margin-left: size(5);
      //}
    }
  }
}

.separator-wrapper {
  //background-image: url(../images/sper.svg);
  background-repeat: round;
  background-size: contain;
  width: 100%;
  height: size(12);
  //margin-left: size(-11);
  @include min-medium-screen {
    height: size(17);
  }
}

.news-card {
  display: flex;
  flex-direction: column;
  background-color: $swc-white;
  box-shadow: 0 size(24) size(40) rgba(208, 212, 221, 0.9);
  border-radius: size(10);
  overflow: hidden;
  height: 100%;

  .aspect-ratio {
    padding-top: 100%;
  }

  .card-content {
    @include paddingY(size(32), size(23));
    @include paddingX(size(23));
    display: flex;
    flex-direction: column;
    height: 100%;

    .headline-4 {
      transition: color 500ms;

      &:hover {
        color: $swc-blue;
      }
    }

    .description {
      color: rgba(0, 0, 0, 0.54);
      margin-bottom: size(20);
      @include min-medium-screen {
        max-width: size(320);
      }
    }

    .btn {
      margin-top: auto;
      @include small-screen {
        min-width: 100%;
      }
    }
  }

  a:not(.btn) {
    display: block;
  }

}

.staff-card {
  background: $swc-white;
  box-shadow: 0 size(24) size(40) size(-12) rgba(208, 212, 221, 0.9);
  border-radius: size(10);
  overflow: hidden;

  a:not(.card-link) {
    display: block;
  }

  .image-wrapper {
    padding-top: 100%;
  }

  .card-text {
    padding: (size(30) size(24));
  }


  .headline-4 {
    transition: color 500ms;

    &:hover {
      color: $swc-blue;
    }
  }

  .paragraph {
    margin-bottom: size(11);
  }

  .card-link {
    display: flex;
    align-items: center;
    @include font(size(16), 400, size(26), $swc-blue, $openSans, size(0.42));

    svg {
      margin-right: size(12);
    }

    &:not(:last-child) {
      margin-bottom: size(8);
    }
  }
}

.quote-wrapper {
  position: relative;
  max-width: size(1080);
  background-color: $swc-yellow;
  border-radius: 7px;
  @include paddingY(size(55));
  @include marginX(auto);
  z-index: 2;
  box-shadow: 0 size(24) size(60) size(-5) rgba(255, 238, 146, 0.9);
  @include min-medium-screen {
    padding-right: size(30);
    @include paddingY(size(101), size(99));
  }
  @include large-screen {
    padding-right: size(130);
  }

  &.half-width {
    max-width: 100%;
    padding-right: size(70);
    margin-left: auto;
    margin-right: 0;
    @include paddingY(size(110), size(108));

    .quote-block-img {
      top: 0;
      @include large-screen {
        top: 23%;
      }
    }

    .headline-5 {
      margin-top: size(22);
    }
  }

  .quote-block-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-width: size(540);
    max-height: 100%;
    z-index: -1;
    object-fit: contain;
    object-position: top left;
  }

  .text {
    max-width: 88%;
    @include marginX(auto);
    @include min-medium-screen {
      max-width: 68%;
      @include marginX(auto, 0);
    }
    @include large-screen {
      max-width: 66%;
    }
  }

  blockquote {
    color: $swc-black;
    font-family: $crimson;
    font-size: size(28);
    font-weight: 400;
    line-height: size(35);
    margin: 0;
    @include min-medium-screen {
      font-size: size(38);
      line-height: size(50);
    }
  }

  .headline-5 {
    color: rgba(0, 0, 0, 0.8);
    margin-top: size(12);
    @include min-medium-screen {
      margin-top: size(5);
    }
  }

}

.filter-wrapper {
  max-width: size(1135);
  @include marginX(auto);

  .filter-head {
    box-shadow: 0 size(10) size(40) size(-12) rgba(208, 212, 221, 0.9);
    border-radius: size(10);
    background-color: $swc-white;
    padding: size(20);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include min-medium-screen {
      @include paddingY(size(28));
      @include paddingX(size(50), size(55));
    }
  }

  .filter-type {
    display: flex;
    margin: size(-12.5);
    flex-wrap: wrap;
    @include min-medium-screen {
      margin: size(-25);
      max-width: 68%;
    }
  }

  .radio-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: size(12.5);
    @include min-medium-screen {
      padding: size(25);
    }

    .paragraph {
      margin-left: size(8);
      @include min-medium-screen {
        margin-left: size(11);
      }
    }
  }

  input[type=radio] {
    position: absolute;
    @include square(size(20));
    margin: 0;
    z-index: -1;
    opacity: 0;
  }

  .design {
    @include square(size(20));
    border: 2px solid #bdbdcb;
    border-radius: 50%;
    position: relative;
    transition: border-color $duration;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include square(size(10));
      display: block;
      border-radius: inherit;
      background: #ff0023;
      opacity: 0;
      transition: opacity $duration;
    }
  }

  input:checked {
    + .design {
      border-color: #ff0023;

      &:before {
        opacity: 1;
      }
    }
  }

  .select-wrapper {
    position: relative;
    cursor: pointer;
    @include flexBasis(100%);
    margin-top: size(35);
    @include min-medium-screen {
      max-width: size(300);
      @include flexBasis(size(300));
      margin-top: 0;
    }

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: size(20);
    }
  }

  select {
    @include square(100%);
    padding: size(12) size(18) size(12) size(23);
    border-radius: 2px;
    background: none;
    border: size(1) solid #b3b3b3;
    appearance: none;
    cursor: pointer;

    option {
      color: $swc-black;
      font-family: $openSans;
      font-size: size(15);
      font-weight: 600;
      letter-spacing: size(0.43);
      line-height: size(26);
      @include paddingY(size(20))
    }

  }

  .separator {
    @include separator(26);
    max-width: 95%;
    @include marginX(auto);
    margin-top: size(30);
    margin-bottom: size(20);
    @include min-medium-screen {
      margin-top: size(60);
      margin-bottom: size(25);
    }
  }

  .filter-control {;
    @include flex(flex-end, space-between, false, wrap);
    //@include paddingY(size(15), size(30));
    margin-bottom: size(30);
    @include min-medium-screen {
      //@include paddingY(size(19), size(48));
      margin-bottom: size(50);
    }


    .headline-1 {
      @include small-screen {
        order: -1;
        width: 100%;
        text-align: center;
        margin-bottom: size(24);
      }
    }

    .btn {
      @include paddingX(size(2));
      min-width: size(154);
      @include paddingX(size(10), size(9));
    }

    .arrow-right {
      @include paddingX(size(26), size(23));
    }
  }

  .row {
    @include change-gutter(false, size(24));
    @include min-medium-screen {
      @include change-gutter(size(20), size(20));
    }
    @include large-screen {
      @include change-gutter(size(40), size(40));
    }
  }
}

.title-banner {
  width: 100%;
  position: relative;
  @include flex(center, center, false, false);
  background-color: $swc-dark-blue;
  @include font(size(34), 700, size(32), $swc-black);
  text-align: center;
  @include paddingY(size(20));
  @include small-screen {
    flex-direction: column;
  }

  &:before, &:after {
    content: "";
    @include square(size(48));
    //background-image: url(../images/motif.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: size(40);
    @include small-screen {
      margin-bottom: size(7);
      margin-right: 0;
    }
  }

  &:after {
    margin-right: 0;
    margin-left: size(40);
    @include small-screen {
      display: none;
    }
  }
}

.cover-background {
  position: absolute;
  @include square(100%);
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;

  img {
    @include objectImg(cover);
  }
}

.link, .wysiwyg-block a {
  @include font(size(20), 400, size(32), $swc-black, $openSans, size(.15));
  width: fit-content;
  display: block;
  position: relative;
  transition: color $duration;

  &-16 {
    font-size: size(16);
    letter-spacing: size(0.43);
    line-height: size(29);
  }

  &.link-shortcode {
    @include marginX(0);
  }

  &.centered {
    @include marginX(auto);
  }

  span.small-arrow {
    transition: margin-left $duration;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: calc(100% - 0.73rem);
    bottom: size(5);
    width: 100%;
    height: 1px;
    background: currentColor;
  }

  &:hover {
    color: $swc-blue !important;

    span.small-arrow {
      margin-left: size(5);
    }
  }
}

.wysiwyg-block a {
  display: inline;
  text-decoration: underline;
  font-size: inherit;

  &:before {
    display: none;
  }
}

.two-columns-wrapper {
  .gform_wrapper .ginput_container, .gform_wrapper .gsection_title {
    max-width: 100% !important;
  }

  .gform_wrapper .ginput_container.ginput_complex span {
    margin-bottom: 2rem !important;
  }

  .gf_clear.gf_clear_complex {
    display: none;
  }

  iframe {
    max-width: 100%;
  }
}

.link-hover {
  position: relative;
  width: fit-content;
  display: block;
  transition: color 0.3s;

  &:before {
    content: '';
    position: absolute;
    top: calc(100% + 0.2rem);
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: currentColor;
    transition: transform 0.3s;
    display: table;
  }

  &:hover {
    color: $swc-blue;

    &:before {
      transform: scaleX(1);
    }
  }
}

.btn {
  //display: table;
  @include flex(center, center, false, false);
  overflow: hidden;
  text-align: center;
  width: fit-content;
  min-width: size(328);
  max-width: 100%;
  background-color: $swc-blue;
  @include font(size(15), 600, 100%, $swc-white);
  //line-height: size(26);
  letter-spacing: size(0.429);
  padding: size(14) size(23);
  //padding: size(12.5) size(13);
  transition: color, background-color;
  transition-duration: $duration;
  font-family: $openSans;
  cursor: pointer;

  .arrow {
    width: size(6);
    height: size(10);
    margin-right: size(7);
    transition: transform $duration;
  }

  path {
    fill: currentColor;
  }

  &:hover {
    //background-color: $swc-black;
    color: $swc-white;
    background-color: $swc-red;

    .arrow {
      transform: translateX(size(-5));
    }
  }

  &-red {
    background: $swc-red;
  }

  &-yellow {
    color: $swc-black;
    background: $swc-yellow;

    &:hover {
      color: $swc-yellow !important;
      background-color: $swc-black !important;
    }
  }

  &-blue {
    background: $swc-blue;
  }

  &.centered {
    @include marginX(auto);
  }

  &.has-border {
    background-color: transparent;
    color: $swc-blue;
    min-width: size(130);
    @include paddingY(size(13));
    transition: color, border-color, background-color;
    transition-duration: $duration;
    border: 1px solid currentColor;
    border-radius: 2px;

    &:hover {
      color: $swc-white !important;
      border-color: transparent;
      background-color: $swc-blue;
    }
  }

  &.arrow-right {
    .arrow {
      @include marginX(size(7), 0);
    }

    &:hover {
      .arrow {
        transform: translateX(size(5));
      }
    }
  }
}

// general logo hover
.logo {
  a {
    img {
      transition: transform $duration;
    }

    &:hover img {
      transform: scale(1.05);
    }
  }
}

.social-icon {
  transition: transform, background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.55, 0.02, 1.3);
  position: relative;
  @include square(size(44));
  border: 1px solid currentColor;
  border-radius: 50%;
  overflow: hidden;
  color: $swc-red;
  //margin-bottom: size(10);

  a {
    @include square(100%);
    @include flex(center, center, false, false);
  }

  svg {
    max-width: 50%;
  }

  &:hover {
    //transform: translateY(size(-5));
    color: $swc-white;
    background-color: $swc-red;
    transform: scale(1.3);
  }
}

ul:not(.reset-ul):not(.sub-menu) {
  li {
    font-size: size(16) !important;
    line-height: size(29) !important;
    font-family: $openSans !important;
    position: relative !important;
    padding: 0 0 0 size(25) !important;

    &:before {
      display: none;
    }

    &:after {
      content: "";
      background-color: $swc-black;
      border-radius: 50%;
      @include square(size(5));
      position: absolute;
      top: size(14.5);
      transform: translateY(-50%);
      left: size(5);
    }
  }
}

ol {
  list-style: decimal;
  padding-left: size(20);

  li {
    font-size: size(20);
    font-weight: 300;
    line-height: size(32);
    position: relative;
    color: $swc-black;

    &:not(:last-child) {
      margin-bottom: size(23);
    }

    padding-left: size(14) !important;
  }
}

// region on this page
.wp-block-columns {
  position: relative;
  z-index: 22;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include paddingX(size(20));
  margin: size(45) auto;
  @include min-medium-screen {
    flex-wrap: nowrap;
    @include marginY(size(91), size(90));
  }
  @include large-screen {
    @include paddingX(size(90));
  }


  &:before {
    display: none;
    content: '';
    position: absolute;
    left: var(--left);
    top: 0;
    z-index: -1;
    //background-image: url(../images/columns-repeated-image.png);
    background-repeat: repeat-y;
    background-size: contain;
    width: 17rem;
    height: 100%;
    @include min-medium-screen {
      display: block;
    }
    @include large-screen {
      width: 24.2rem;
    }
  }

  &.are-vertically-aligned-top {
    align-items: flex-start
  }

  &.are-vertically-aligned-center {
    align-items: center
  }

  &.are-vertically-aligned-bottom {
    align-items: flex-end
  }

  .wp-block-column {
    //flex-grow: 1;
    //min-width: 0;
    //word-break: break-word;
    //overflow-wrap: break-word;
    @include small-screen {
      flex-basis: 100% !important;
      width: 100% !important;
    }

    &:first-child {
      @include medium-screen {
        flex-basis: 40% !important;
        width: 40% !important;
      }
    }

    &:last-child {
      @include medium-screen {
        flex-basis: 55% !important;
        width: 55% !important;
      }
    }

    &.is-vertically-aligned-top {
      align-self: flex-start
    }

    &.is-vertically-aligned-center {
      -ms-grid-row-align: center;
      align-self: center
    }

    &.is-vertically-aligned-bottom {
      align-self: flex-end
    }
  }

  .container {
    padding: 0;
    max-width: 100%;
  }

  .repeater_of_text_block {
    margin-bottom: 0 !important;
  }
}

// endregion on this page

.break-line {
  line-height: 0 !important;
  height: size(30) !important;
}

.sprite-sheet {
  visibility: hidden;

  &__parent {
    overflow: hidden;
    height: auto;
  }

  &__aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    @include square('auto');
  }
}

//posts loader
.load-more-wrapper {
  position: relative;
  transition: opacity 500ms;

  .loader {
    width: size(90);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity $duration;
    opacity: 0;
    pointer-events: none;

    .loader-ball {
      $anim-drt: 0.4s;
      $anim-ease: cubic-bezier(.6, .05, .15, .95);
      @include square(size(20));
      border-radius: 50%;
      background: $swc-blue;

      &:nth-child(1) {
        animation: productsLoader $anim-drt alternate infinite $anim-ease;
      }

      &:nth-child(2) {
        animation: productsLoader $anim-drt $anim-drt/4 alternate infinite $anim-ease backwards;
      }

      &:nth-child(3) {
        animation: productsLoader $anim-drt $anim-drt/2 alternate infinite $anim-ease backwards;
      }
    }
  }

  .btn {
    transition: opacity, background;
    transition-duration: $duration;
  }

  &.loading {
    .loader {
      opacity: 1;
    }

    .btn {
      pointer-events: none;
      opacity: 0;
    }
  }

  &.hidden {
    opacity: 0 !important;
    pointer-events: none;
  }
}

.no-posts {
  display: none;

  &.active {
    display: block;
    text-align: center;
    padding-top: size(80);
    padding-bottom: size(30);
  }
}

@keyframes productsLoader {

  0% {
    transform: translate3d(0, 1rem, 0) scale(1.2, 0.85);
  }

  100% {
    transform: translate3d(0, -1rem, 0) scale(0.9, 1.1);
  }
}

// animations
@keyframes shaking {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}

// custom model
.custom-model {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 400ms, z-index 400ms;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  pointer-events: none;

  &:before {
    content: '';
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .video-wrapper {
    position: relative;
    height: 0;
    padding-top: 56.25%;

    iframe, video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .custom-model-inner {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    max-height: 90vh;
    //overflow-y: scroll;
    @include marginX(auto);
    max-width: #{'min(80rem,90%)'};

    .custom-model-wrap {
      width: 100%;
      position: relative;
      background-color: $swc-white;
      border: size(1) solid $swc-black;
      border-radius: size(6);
      box-shadow: 0 size(3) size(9) rgba(0, 0, 0, 0.5);
      padding: size(20);
      @include min-medium-screen {
        padding: size(40);
      }
    }
  }

  .close-model {
    position: absolute;
    right: 0;
    bottom: calc(100% + 2rem);
    cursor: pointer;
    z-index: 5;
    transition: transform, opacity;
    transition-duration: $duration;
    background: none;
    padding: 0;
    @include square(size(23));

    svg {
      @include square(100%);
    }

    path {
      fill: $swc-white;
    }

    &:hover {
      transform: scale(1.1);
      opacity: 0.7;
    }
  }

  &.active {
    z-index: 99999;
    opacity: 1;
    pointer-events: auto;
  }
}

// endregion general classe
