:root {
  /* Colors: */
  --swc-black: #000000;
  --swc-black-80: rgba(0, 0, 0, 0.87);
  --swc-white: #ffffff;
  --swc-blue: #4093E8;
  --swc-dark-blue: #C6DFF8;
  --swc-off-white: #ecf1f6;
  --swc-blue-50: rgba(64, 147, 232, 0.5);
  --swc-red: #FF0000;
  --swc-yellow: #FFEE92;
}
