// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$swc-black: var(--swc-black);
$swc-black-80: var(--swc-black-80);
$swc-white: var(--swc-white);
$swc-blue: var(--swc-blue);
$swc-dark-blue: var(--swc-dark-blue);
$swc-off-white: var(--swc-off-white);
$swc-blue-50: var(--swc-blue-50);
$swc-red: var(--swc-red);
$swc-yellow: var(--swc-yellow);


// fonts
$crimson: 'Crimson Text';
$openSans: 'Open Sans';
//default duration
$duration: 500ms;
// bouncing
$bouncing: cubic-bezier(0.18, 0.89, 0.32, 1.28);
//override bootstrap variables
$grid-gutter-width: 4rem;
$container-max-widths: (
    'md': 100%, //570px
    'lg': 93.05%, //760px 88.4
);
$grid-breakpoints: (
    'xs': 0,
    'md': $medium-screen-min-width,
    'lg': $large-screen-min-width,
);
