@import "styles/sites/eternalSpring";

.press_block {
  //background-image: url(../../images/news-background-img.png);
  //background-position: center;
  //background-size: cover;
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  z-index: 2;
  @include paddingY(0, size(93));
  @include min-medium-screen {
    @include paddingY(size(100), size(118));
    
  }
  @include small-screen {
    padding-top: 0;
    z-index: 999;
  }
  
  .container {
    @include small-screen {
      padding-right: 0;
    }
  }
  
  .press-head {
    color: $eternal_spring-brown-200;
    text-align: center;
    margin-bottom: size(45);
    @include min-medium-screen {
      margin-bottom: size(60);
    }
    @include large-screen {
      margin-bottom: size(81);
    }
    
    @include small-screen {
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      line-height: 100%;
      margin-bottom: size(5);
    }
  }
  
  
  .press-img {
    width: 30%;
  }
  
  .text-paragraph {
    color: $eternal_spring-black-100;
    font-family: $Comicraft;
    letter-spacing: 0;
    
    @include max-medium-screen {
      margin-bottom: size(20);
      letter-spacing: 0;
      max-width: size(276);
    }
    
    @include max-lines(3);
    
  }
  
  .text-paragraph1 {
    color: $eternal_spring-brown-300;
    @include font-size(12px, 24px);
    margin-top: size(14);
    letter-spacing: size(0.5);
    @include min-medium-screen {
      @include font-size(14px, 32px);
    }
    @include max-medium-screen {
      letter-spacing: 0;
    }
    
  }
  
  .press-img-and-text {
    padding: size(30) size(22);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    min-height: size(175);
    @include min-medium-screen {
      
      padding: size(31) size(22) size(23) size(22);
    }
    
    img {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      left: 0;
      top: 0;
    }
  }
  
  //.swiper-pagination {
  //  margin-top: size(69);
  //}
  
  .swiper-button {
    color: $eternal_spring-black-100;
    transition: color $duration;
    
    svg {
      path {
        fill: currentColor;
      }
    }
    
    &:hover {
      color: $eternal_spring-yellow;
      
    }
  }
  
  .swiper-button-prev {
    left: -8%;
    
  }
  
  .swiper-button-next {
    right: -8%;
  }
  
  //.swiper-container {
  //  width: 100%;
  //  @include paddingX(size(31));
  //
  //  @include min-medium-screen {
  //    @include paddingX(size(100));
  //  }
  //}
  .swiper-container {
    position: unset;
    overflow: hidden;
  }
  
  .press-wrapper {
    @include min-medium-screen {
      position: relative;
    }
    @include small-screen {
      padding-top: size(44);
    }
  }
  
  .swiper-pagination {
    @include marginX(auto);
    margin-top: size(64);
    display: flex;
    justify-content: center;
    @include min-medium-screen {
      margin-top: size(62);
    }
  }
  
 
  }




