
@import "styles/sites/smartdv";

.icon_with_a_text_block {
  max-width: size(1440);
  @include marginX(auto);

  .box-wrapper {
    position: relative;
    overflow: hidden;

    .box-shape {
      position: absolute;

      &.vertical-style {
        height: size(24);
        width: 100%;
        background: $smart_dv_green_3;
        left: 0;
        @include min-medium-screen {
          height: size(53);
        }
        @include large-screen {
          height: size(93);
        }

        &.top {
          transform: rotateX(-133deg);
          @include min-medium-screen {
            transform: rotateX(-67deg);
          }
          top: 0;
          transform-origin: top;
        }

        &.bottom {
          bottom: 0;
          transform: rotateX(133deg);
          @include min-medium-screen {
            transform: rotateX(67deg);
          }
          transform-origin: bottom;
        }
      }

      &.horizontal-style {
        height: 100%;
        width: size(34);
        background: $smart_dv_dark_green;
        top: 0;
        @include min-medium-screen {
          width: size(80);
        }
        @include large-screen {
          width: size(122);
        }

        &.right {
          right: 0;
        }

        &.left {
          left: 0;
        }
      }
    }

  }

  .box-shapes-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 22vw;
    transform: scaleY(1.4) scaleX(1.22);
    transform-origin: center;
    pointer-events: none;
    @include min-medium-screen {
      perspective: size(260);
    }
    @include large-screen {
      perspective: size(410);
    }
  }

  .content-wrapper {
    background-color: $smart_dv_green_2;
    @include paddingY(size(100), size(70));
    @include marginX(auto);
    @include min-medium-screen {
      padding-top: size(190);
      padding-bottom: size(180);
    }
  }

  .container {
    @include small-screen {
      @include paddingX(size(60));
    }
    @include medium-screen {
      @include paddingX(size(130));
    }
    @include large-screen {
      @include paddingX(size(205));
    }
  }

  .icon-and-text-wrapper {
    text-align: center;
    @include small-screen {
      text-align: left;
    }


  }

  .icon {
    opacity: 0;
    margin-bottom: size(33);
    @include small-screen {
      @include marginX(auto);
      width: fit-content;
      margin-bottom: size(55);
    }

    svg {
      width: size(212.5);
      height: size(58);
      @include min-medium-screen {
        width: size(384);
        height: size(104);
      }

    }
  }

  .title {
    color: $smart_dv_white;
    @include marginX(auto);
    margin-bottom: size(20);
    text-align: center;
    max-width: size(777);
    @include small-screen {
      text-align: left;
    }
  }

  .description {
    color: $smart_dv_white;
    margin-bottom: size(70);
    max-width: size(653);
    text-align: left;
    @include marginX(auto);
    line-height: 160%;
    @include min-medium-screen {
      text-align: center;
      margin-bottom: size(40);
      max-width: size(583);
      line-height: 200%;
    }
    @include large-screen {
      max-width: size(653);
    }
  }

  .cta-button {
    color: $smart_dv_white;
    margin-left: size(-22);
    @include min-medium-screen {
      @include font-size(20px, 26px);
      margin-left: 0;
    }
  }

  &.version-2 {
    //.box-shapes-wrapper {
    //  transform: unset;
    //}
    .container {
      @include large-screen {
        @include paddingX(size(255));
      }
    }

    .icon-and-text-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .icon {
      @include flexBasis(100%);
      opacity: 1;
      @include small-screen {
        @include marginX(auto);
        width: fit-content;
        margin-bottom: size(55);
        height: size(200);
      }

      @include min-medium-screen {
        @include flexBasis(34.19%);
        margin-bottom: unset;
      }

      svg {
        @include square(100%);
      }
    }

    .text-wrapper {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(52.48%);
      }
    }

    .small-text {
      @include font(14px, 500, 18px, $smart_dv_white, $ibm-plex-sans);
      margin-bottom: size(13);
      text-align: left;
    }

    .title {
      text-align: left;
    }

    .last_link {
      color: $smart_dv_white;
    }

    .description {
      text-align: left;
    }
  }


}



