@import "styles/sites/raistone";

.how_early_payments_work_block {
  background: $raistone_green;
  @include paddingY(size(100));

  &.light {
    background: $raistone_white;

    .main-title, .paragraph, .description {
      color: $raistone_jet_black;
    }

    .description {
      text-align: center;
      @include marginX(auto);
      max-width: size(1280);
    }

    .dotted-line {
      stroke: $raistone_mid_gery
    }

    .date-content, .info {
      color: $raistone_gery;
    }

    .icon {
      border-color: $raistone_aluminium;
    }

    .date-content {
      text-align: center;
    }

    .step-time {
      margin-left: size(50);
      background: $raistone_white;

      &:after {
        background: #9DAAA7;

      }
    }

    .step {
      &:last-of-type {
        .content-wrapper {
          background: $raistone_white;
        }
      }
    }

    .toggle-action {
      box-shadow: 0 2.61875px 13.0938px 6.54688px rgba(195, 195, 195, 0.19);
    }
  }

  $stroke-width: 4px; //todo change svgs also
  $gap: 6px;

  .dotted-line {
    background-color: transparent;
    stroke: rgba(255, 255, 255, 0.7);
    stroke-linecap: round;
    stroke-dasharray: $gap 2*$stroke-width+$gap;
    stroke-width: $stroke-width;
    animation: dotted-line .8s infinite linear;
    fill: none;
  }

  @keyframes dotted-line {
    to {
      stroke-dashoffset: -4 * ($stroke-width+$gap);
    }
  }
  $icon-width: 9.5rem;
  $icon-background: $icon-width + 2rem;

  .animated-line-border {
    overflow: hidden;
    min-height: size(70);

    @include large-screen {
      position: relative;
    }

    &.main {
      position: absolute;
      left: $icon-background / 2;
      top: 0;
      transform: translateX(-50%);
      width: 4px;
      bottom: $icon-background;
    }


    .dotted-line {
      top: $icon-background / 2;
      left: 0;
      height: 100%;
      width: $stroke-width;
      position: absolute;

    }
  }


  .top-content {
    max-width: size(965);
    @include marginX(auto);
    text-align: center;
    margin-bottom: size(77);
  }

  .separator {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    margin-bottom: size(36);
    margin-top: size(36);
  }

  .bottom-content-text {
    max-width: size(965);
    margin-right: auto;
    text-align: left;
    margin-bottom: size(77);
    font-weight: 400;
  }

  .main-title {
    margin-bottom: size(38);
  }

  .description {
    max-width: size(1000);
    font-weight: 700;
    margin-bottom: size(25);
  }


  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .steps-wrapper {
    position: relative;
    width: 100%;
    margin-left: auto;
    animation: fadeIn 0.5s ease;
    @include large-screen {
      width: size(1125);
    }
  }

  .step {
    opacity: 0;
    margin-bottom: size(16);
    color: $raistone_robins;

    &:last-of-type {
      .animated-line-border {
        display: none;
      }

      .content-wrapper {
        background: $raistone_green;
      }
    }

    &.no-list {
      .step-time {
        .dotted-line, &:after {
          display: none;
        }
      }

      .list-wrapper {
        display: none;
      }
    }
  }

  .list-wrapper {
    @include flexBasis(75%);
    position: relative;
    transform: translateY(size(-20));
    margin-top: size(20);
    @include large-screen {
      @include flexBasis(56%);
    }

    .dotted-line {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: size(40);

      .hide-small {
        display: none;
      }

      @include large-screen {
        height: 100%;
        width: size(40);
        .hide-small {
          display: block;
        }
        .hide-large {
          display: none;
        }
      }

    }

  }


  .step-time {
    display: flex;
    align-items: center;
    padding-top: size(22);
    @include font-size(22px, 50px);
    color: $raistone_white;
    font-family: $montserrat;
    text-transform: uppercase;
    margin-left: size(14);
    background: $raistone_green;

    &:after {
      display: none;
      content: "";
      @include square(size(10));
      background: rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      margin-right: size(10);
      margin-left: size(20);
      flex: 0 0 auto;
    }

    .dotted-line {
      display: none;
      flex-grow: 1;
      order: 3;
      height: $stroke-width;
    }

    @include large-screen {
      .dotted-line, &:after {
        display: block;
      }
    }
  }

  .icon-title-wrapper {
    display: flex;
    align-items: center;
  }

  .step-title {
    @include font-size(22px, 36px);
    padding: size(12) size(25);
    border-radius: size(50);
    background: currentColor;
    width: fit-content;
    font-family: $lato;
    font-weight: 400;

    span {
      color: $raistone_jet_black;
    }
  }

  .icon {
    @include flex(center, center);
    @include square($icon-background);
    border-radius: 50%;
    background: currentColor;
    position: relative;
    margin-right: size(24);
    z-index: 1;
    border: size(10) solid $raistone_white;

    svg, img {
      @include square(size(60));
      object-fit: contain;
    }
  }

  .content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    @include large-screen {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .info-wrapper {
    position: relative;
    @include paddingX(size(40), size(20));
    @include paddingY(size(20));
    @include large-screen {
      padding-left: size(60);

    }
  }

  .info {
    text-indent: size(-25);

    &:before {
      content: "";
      flex-shrink: 0;
      @include square(size(10));
      background: currentColor;
      margin-right: size(15);
      display: inline-block;
      border-radius: 50%;

    }

    &:not(:last-of-type) {
      margin-bottom: size(24);
    }
  }

  .time-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @include flexBasis(100%);
    @include large-screen {
      @include flexBasis(44%);
    }
  }

  .date-content {
    min-width: $icon-background;
    @include large-screen {
      max-width: 70%;
      flex: 1 0 auto;
    }
  }

  // new timeline toggle
  .toggle-action {
    background: $raistone_mid_plum;
    border-radius: size(60);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin: size(40) auto size(77);
    list-style: none;
    @include max-medium-screen {
      @include marginX(auto);

    }
  }

  .toggle-btn {
    color: $raistone_mid_gery;
    padding: size(22) size(30);
    cursor: pointer;
    border-radius: size(60);
    transition-property: background, color, transform;
    transition-duration: $duration;

    @include small-screen {
      @include font-size(14px, 18px);
      text-align: center;
    }


    &.active-btn {
      background: $raistone_white;
      color: $raistone_mid_plum;
      pointer-events: none;
      //transform: scale(1.05);
    }

    &.tab-1 {
      margin-left: -1px;
    }

    &.tab-2 {
      margin-right: -1px;
    }

    @include small-screen {
      padding: size(10);
    }
  }

  .tab-content {
    display: none;

    &.tab-content-active {
      display: block;
    }
  }

  //.icon , .step-title , .step-time , .animated-line-border , .info {
  //  opacity: 0;
  //}
}
