@import "styles/sites/headversity";


.logo_carousel {
  @include paddingY(size(58), size(61));
  @include large-screen {
    @include paddingY(size(20), size(74));
  }

  .block-content {
    @include paddingY(size(45), size(57));
    @include paddingX(size(46));
    background: $headversity_white;
    border-radius: size(20);
    box-shadow: 0 size(10) size(20) rgba(97, 55, 55, 0.1);
    width: fit-content;
    @include marginX(auto);
    @include min-medium-screen {
      @include paddingY(size(60), size(53));
      @include paddingX(size(46));
    }
    @include large-screen {
      border-radius: size(30);
      @include paddingY(size(69), size(57));
      @include paddingX(size(49));
    }

    a {
      display: flex;
    }
  }

  .block-title {
    @include small-screen {
      @include font-size(20px, 24px);
      @include marginX(auto);
      margin-bottom: size(32);
      max-width: size(269);
    }
    text-align: center;
    margin-bottom: size(36);

  }

  .partners {
    display: flex;
    justify-content: center;
    align-items: center;
    @include change-gutter(size(40), size(24));
    @include min-medium-screen {
      @include change-gutter(size(56), size(40));
    }
    @include large-screen {
      @include change-gutter(size(112), size(56));

    }


  }

  .svg-wrapper {
    width: size(109);
    height: size(30);
    @include marginX(auto);

    cursor: pointer;
    @include min-medium-screen {
      width: size(135);
      height: size(36);
    }

    svg {
      width: 100%;
      height: 100%;

      &:hover {
        path {
          fill: $headversity_light_blue;
        }

      }
    }
  }

  .logo-wrapper {

    @include small-screen {
      height: auto;
      max-height: size(72);
      width: size(70);
    }
    width: size(109);
    @include marginX(auto);

    cursor: pointer;
    @include min-medium-screen {
      width: size(135);
      height: size(66);
    }

    img {

      @include marginX(auto);
      @include objectImg();


      &.has-filter {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: -webkit-filter $duration;

        &:hover {
          -webkit-filter: grayscale(0);
          filter: grayscale(0);
        }
      }
    }
  }

}
