:root {
  /* Colors: */
  --tow_smart_white: #ffffff;
  --tow_smart_white_70: rgba(255, 255, 255, 0.7);
  --tow_smart_white_50: rgba(255, 255, 255, 0.5);
  --tow_smart_white_30: rgba(255, 255, 255, 0.3);
  --tow_smart_white_20: rgba(255, 255, 255, 0.2);
  --tow_smart_white_40: rgba(255, 255, 255, 0.04);
  --tow_smart_black: #000000;
  --tow_smart_light_black: #333333;
  --tow_smart_dark_black: #16181D;
  --tow_smart_red: #E21932;
  --tow_smart_green: #3DD65F;
  --tow_smart_orange: #FFAC60;
  --tow_smart_raisin_black: #252525;
  --tow_smart_input_color: #C2CEDB;
}
