@import "variables";
@import "mixins";
@import "root";

body {
  background-color: #1A1C22;
}

// region container
.container {
  @include paddingX($container-padding-sm);
  @include min-medium-screen {
    @include paddingX($container-padding-md);
  }
  @include large-screen {
    @include paddingX($container-padding-lg);
  }

  &-large {
    @include large-screen {
      @include paddingX($container-large-padding-lg);
    }
  }
}

//endregion

// region font  Styling
.headline-1, .wysiwyg-block h1, .blog-content-wrapper h1 {
  @include font(36px, 700, 43px, $tow_smart_white, $product_sans);

  @include min-medium-screen {
    @include font-size(64px, 76px);
  }
}

.headline-2, .wysiwyg-block h2, .blog-content-wrapper h2 {
  @include font(36px, 700, 43px, $tow_smart_white, $product_sans);

  @include large-screen {
    @include font-size(48px, 58px)
  }

  &.font-28 {
    @include small-screen {
      @include font-size(28px, 42px);
    }
  }
}

.headline-3, .wysiwyg-block h3, .blog-content-wrapper h3 {
  @include font(26px, 700, 33px, $tow_smart_white, $product_sans);
  @include min-medium-screen {
    @include font-size(36px, 44px)
  }
}

.headline-4, .wysiwyg-block h4, .blog-content-wrapper h4 {
  @include font(18px, 400, 27px, $tow_smart_white, $product_sans);
  @include min-medium-screen {
    @include font-size(28px, 42px)
  }

  &.regular {
    font-weight: 400;
  }
}

.headline-5, .wysiwyg-block h5, .blog-content-wrapper h5 {
  @include font(24px, 700, 29px, $tow_smart_white, $product_sans);

  &.regular {
    font-weight: 400;
  }
}

.headline-6, .wysiwyg-block h6, .blog-content-wrapper h6 {
  @include font(18px, 400, 21px, $tow_smart_white, $product_sans);
}

.paragraph, .wysiwyg-block p, .blog-content-wrapper p {
  @include font(16px, 400, 24px, $tow_smart_white, $product_sans);
  @include min-medium-screen {
    @include font-size(18px, 27px)
  }

  &-16 {
    @include font(16px, 400, 24px, $tow_smart_white, $product_sans);

    &.bold {
      font-weight: 700;
    }

  }

  &-14 {
    @include font(14px, 700, 17px, $tow_smart_white, $product_sans);

    &.regular {
      font-weight: 400;
      @include min-medium-screen {
        @include font-size(14px, 24px)
      }
    }
  }

  &-12 {
    @include font(12px, 700, 18px, $tow_smart_white, $product_sans);
  }

  &.paragraph-bold {
    font-weight: 700;
  }
}

.sub-title {
  @include font(18px, 400, 22px, $tow_smart_red, $product_sans);

}

// endregion

// region button  Styling
.btn, .cn-button.wp-default {
  @include font(14px, 700, 13px, $tow_smart_white, $product_sans);
  @include flex(center, center, false, false);
  width: fit-content;
  background: $tow_smart_white_20;
  padding: size(14) size(22);
  transition: color $duration, background-color $duration;
  cursor: pointer;
  border-radius: 2px;
  overflow: hidden;

  &.btn-gray {
    background: $tow_smart_light_black;
  }

  &.btn-white {
    background: $tow_smart_white;
    color: $tow_smart_light_black;
    z-index: 2;
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      @include square(100%);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #FFFFFF;
      opacity: 0;
      z-index: -1;
      transition: opacity $duration;
      border-radius: 2px;
    }

    svg {
      path {
        fill: #333333;
      }
    }

    &:hover {
      background-color: transparent;

      &:after {
        opacity: 2;
      }
    }
  }

  &:hover {
    background-color: $tow_smart_white_30 !important;
  }
}

// endregion

// region  wysiwyg
.wysiwyg-block {
  h1, h2, h3, h4, h5, h6, ul, p {
    margin-bottom: size(20);
  }

  ul, ol {
    margin-bottom: size(20);
    padding-top: 0;

    li {
      position: relative;
      color: $tow_smart_white_70;
      font-weight: 400;
      @include font-size(18px, 27px);
      padding-left: size(18);

      &:not(:last-child) {
        margin-bottom: size(11);
      }

      &:before {
        content: "";
        position: absolute;
        top: size(10);
        left: 0;
        @include square(size(5));
        background-color: currentColor;
        border-radius: 50%;
      }
    }

    ul, ol {
      margin: size(5) 0 0 size(10);
    }
  }

  ol {
    padding-left: size(17);

    li {
      padding-left: size(5);

      &:before {
        display: none;
      }
    }

    ul {
      margin-bottom: 0;
    }
  }

  &.children-inherit {
    > * {
      color: inherit;
    }
  }

}

//endregionyy//

// region background-image
.background-image, .layout {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  @include square(100%);

  img {
    @include square(100%);
    object-fit: cover;
  }
}

.layout {
  z-index: -1;
}


// endregion

.btn-arrow {
  @include flex(center, center, false, false);
  margin: auto;
  width: fit-content;
  @include font(14px, 700, 14px, $tow_smart_white, $product_sans);
  transition: color $duration;
  line-height: 100%;

  svg {
    @include square(size(16));
    margin-left: size(10);
    transition: margin $duration;
    flex-shrink: 0;

    path {
      fill: $tow_smart_red;
    }
  }

  &:hover {
    color: $tow_smart_red;

    svg {
      margin-left: size(21);
    }
  }

  &.vertical {
    flex-direction: column;

    svg {
      margin-left: 0;
      margin-top: size(10);

      path {
        fill: $tow_smart_white;
      }
    }

    &:hover {
      color: $tow_smart_red;

      svg {
        path {
          fill: $tow_smart_red;
        }
      }
    }
  }
}

.learn-more {
  display: flex;
  align-items: center;
  width: fit-content;
  @include font(14px, 700, 17px, $tow_smart_light_black);

  svg {
    width: size(16);
    height: auto;
    margin-left: size(10);
    flex-shrink: 0;
  }
}

.swiper-pagination {
  position: relative;
  @include flex(center);
  width: fit-content;
  margin-top: size(50);
  @include paddingX(size(25));
  min-height: fit-content;
  @include marginX(auto);
  @include large-screen {
    margin-top: size(40);
  }

  &-bullet {
    width: size(10);
    height: size(10);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color, width, height;
    transition-duration: 400ms;
    opacity: 1;
    position: relative;

    &:not(:last-child) {
      margin-right: size(20);
    }

    &-active {
      background: $tow_smart_white;
    }

    &:hover {
      background: $tow_smart_white;
    }
  }
}

mark {
  padding: size(2);
  margin: size(2);
  background-color: rgba(255, 255, 255, 0.2);
  color: $tow_smart_white;
}

// region chat button styling
#chat-button {
  position: fixed;
  z-index: 999;
  left: size(104);
  bottom: size(80);
  display: flex;
  align-items: center;
  display: none;

  .chat-button-icon {
    @include square(size(44));
    border-radius: 50%;
    background: #878787;
    margin-right: size(16);
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      @include square(size(24));
    }
  }

  .chat-button-text {
    background: $tow_smart_white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: size(33);
    @include font(14px, 700, 17px, $tow_smart_light_black);
    padding: size(13) size(17);
    display: block;
  }
}

#tidio-chat-iframe {
  left: 61px !important;
}

// endregion chat button styling
