// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$tow_smart_black: var(--tow_smart_black);
$tow_smart_white: var(--tow_smart_white);
$tow_smart_white_70: var(--tow_smart_white_70);
$tow_smart_white_50: var(--tow_smart_white_50);
$tow_smart_white_30: var(--tow_smart_white_30);
$tow_smart_white_20: var(--tow_smart_white_20);
$tow_smart_white_40: var(--tow_smart_white_40);
$tow_smart_light_black: var(--tow_smart_light_black);
$tow_smart_dark_black: var(--tow_smart_dark_black);
$tow_smart_red: var(--tow_smart_red);
$tow_smart_green: var(--tow_smart_green);
$tow_smart_orange: var(--tow_smart_orange);
$tow_smart_raisin_black: var(--tow_smart_raisin_black);
$tow_smart_input_color: var(--tow_smart_input_color);
// fonts
$product_sans: 'Product Sans';
$product_sans_light: 'Product Sans Light';
$roboto: 'Roboto';
$raleway: 'Raleway';
//default duration
$duration: 500ms;
//override bootstrap variables
$grid-gutter-width: 4rem;
$container-padding-sm: 2rem;
$container-padding-md: 7rem;
$container-padding-lg: 10.4rem;
$container-large-padding-lg: 20.8rem;
$container-max-widths: (
    'md': 100%, //570px
    'lg': 144rem, //760px 88.4
);
$grid-breakpoints: (
    'xs': 0,
    'md': $medium-screen-min-width,
    'lg': $large-screen-min-width,
);

