
@import "styles/sites/smartdv";

.faqs_block {
  position: relative;
  @include large-screen {
    @include paddingY(size(116), size(102));
  }

  //&:after {
  //  //position: absolute;
  //  //content: "";
  //  position: absolute;
  //  content: "";
  //  width: 58.6%;
  //  height: 200%;
  //  top: -24%;
  //  background: linear-gradient(180deg, rgba(217, 217, 217, 0.3) 0%, rgba(255, 255, 255, 0.3) 77.08%);
  //  transform: matrix(-0.77, 0.63, 0.63, 0.77, 0, 0);
  //  z-index: -5;
  //  //z-index: 5;
  //}

  .container {
    @include small-screen {
      @include paddingX(0);
    }
  }

  .cards-wrapper {
    padding: size(65) size(34);
    @include large-screen {
      padding: size(96) size(88) size(110) size(96);
    }
    position: relative;

    .title {
      font-size: size(24);
      @include min-medium-screen {
        font-size: size(30);
      }
      @include large-screen {
        font-size: size(48);
      }
    }

    .faqs_cards {
      padding-top: size(29);
      @include large-screen {
        padding-top: size(72);
      }

      .faq-card {
        .content-svg {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          @include min-medium-screen {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
          }

          .faq-title {
            @include small-screen {
              font-weight: 600;
              padding-bottom: size(35);
              @include font-size(14px, 18px);
            }
            @include min-medium-screen {
              max-width: size(670);
            }
            @include large-screen {
              max-width: size(870);
            }
          }
        }

        .faq-description {
          max-width: size(768);
          height: 0;
          overflow: hidden;
          position: relative;

          &:before, &:after {
            position: relative;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            background-color: transparent;
            display: block;
          }

          &:before {
            height: size(15);
            @include min-medium-screen {
              height: size(30);
            }
          }

          &:after {
            height: size(8);
            @include min-medium-screen {
              height: size(15);
            }
          }
        }

        @include paddingY(size(25), size(25));
        border-bottom: size(2) solid $smart_dv_green;
        @include min-medium-screen {
          border-bottom: size(1) solid $smart_dv_green;
          @include paddingY(size(40), size(30));
        }
        @include large-screen {
          @include paddingY(size(45), size(39));
        }

        .hover-action {
          svg.minus-plus {
            color: $smart_dv_lime;
            @include square(size(26));
            transition: opacity $duration;
            margin-top: size(0);
            @include min-medium-screen {
              @include square(size(25));
            }

            line {
              stroke: currentColor;
            }

            &.minus-icon {
              opacity: 0;
            }
          }

          .remove-to-close {
            transform-origin: center;
            transition-property: opacity, transform;
            transition-duration: .3s;
            transition-timing-function: cubic-bezier(0.97, -0.01, 0.42, 0.56);
          }
        }

        &:first-child {
          padding-top: 0;
        }

        &.accordion-active {
          .hover-action {
            .remove-to-close {
              transform: rotate(90deg);
              opacity: 0;
            }
          }
        }
      }
    }

  }

}



