
@import "styles/sites/wrap";

.hero_block {
  min-height: calc(100 * var(--vh));
  position: relative;
  z-index: 2;
  display: flex;
  //align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  //@include paddingY(size(140), size(229));
  //@include paddingY(size(140), size(276));
  //@include paddingY(16vh, 33vh);
  //@include paddingY(26vh, 23vh);
  //@include paddingY(14vh, 23vh); // real
  //@include paddingY(14vh, 10vh); // real
  padding-bottom: 10vh;
  background-color: #030A0B;
  @include min-medium-screen {
    @include paddingY(14vh, 14vh);
    justify-content: center;
  }
  //padding-top: 26vh;
  //padding-bottom: 23vh;
  //&:after {
  //  content: '';
  //  position: absolute;
  //  z-index: -1;
  //  bottom: 0;
  //  width: 100%;
  //  height: 100%;
  //  background: linear-gradient(360deg, rgba(3, 11, 14, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  //}
  
  &:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 15%;
    background: linear-gradient(
            0deg, #030A0B, transparent);
  }
  &_video {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    @include square(100%);
    @include small-screen {
      @include aspect-ratio(106.66%);
    }
    
    &_wrapper {
      @include objectImg(cover);
    }
  }
  
  .hero-sliders {
    position: relative;
    display: grid;
    
    //margin-bottom: size(50);
  }
  
  .hero-slider {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    max-width: size(400);
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity $duration;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    pointer-events: none;
    @include min-medium-screen {
      width: 61.96%;
      max-width: 100%;
      justify-content: flex-start;
    }
    
    &-active {
      position: relative;
      pointer-events: auto;
      opacity: 1;
    }
  }
  
  .hero-title {
    margin-bottom: size(10);
    color: $wrap-white;
    //@include min-medium-screen{
    //  @include max-lines(2);
    //}
  }
  
  .hero-slider-progress {
    max-width: size(587);
    height: 2px;
    background: rgba(249, 187, 46, 0.25);
    border-radius: size(20);
    
    &-track {
      transform-origin: left;
      width: 100%;
      height: 100%;
      background: $wrap-orange;
      border-radius: inherit;
    }
  }
  
  .hero-description {
    margin-top: size(25);
    max-width: size(571);
    @include min-medium-screen {
      margin-top: size(40);
      //@include max-lines(4);
    }
  }
  
  .buttons-wrapper {
    margin-top: size(30);
    @include flex(flex-start, space-between, false, wrap-reverse);
    @include min-medium-screen {
      margin-top: size(50);
      justify-content: flex-start;
    }
  }
  
  .btn {
    width: 46.98%;
    
    &:not(:last-child) {
      @include min-medium-screen {
        margin-right: size(30);
      }
    }
    
    &-request-demo {
      width: 100%;
      margin-top: size(20);
    }
    
    &-buy-now {
      @include small-screen {
        order: 2;
        padding-left: size(10);
        padding-right: size(10);
      }
    }
    
    &-video {
      @include small-screen {
        order: 1;
      }
    }
    
    @include min-medium-screen {
      width: auto;
      margin-top: 0;
    }
  }
  
  //.video-controller {
  //  clip-path: polygon(100% 49%, 100% 49%, 46% 77%, 46% 26%, 46% 25%, 46% 77%, 0 100%, 0 0);
  //
  //  &.paused {
  //    clip-path: polygon(100% 0, 100% 100%, 66% 100%, 66% 0, 35% 0, 35% 100%, 0 100%, 0 0);
  //  }
  //}
  
  .contact-us {
    position: absolute;
    bottom: size(30);
    right: size(30);
    
    &-box {
      background-color: $wrap-big-stone;
      @include square(size(50));
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color $duration;
      
      &:not(:last-child) {
        margin-bottom: size(12);
      }
      
      &:hover {
        background-color: $wrap-orange;
      }
      
      svg {
        width: 44%;
        height: auto;
      }
    }
  }
}

  


