@import "styles/sites/raistone";

@import "~swiper/css";
@import "swiper/css/effect-fade";
//@import "swiper/css/pagination";
.more_news_block {
  position: relative;
  background-color: $raistone_plum;
  @include paddingY(size(54), size(94));
  z-index: 2;
  @include min-medium-screen {
    @include paddingY(size(65), size(105));
  }
  @include large-screen {
    @include paddingY(size(116), size(133));
  }

  &:after {
    content: "";
    width: size(208);
    height: size(201);
    position: absolute;
    bottom: 0;
    left: 0;
    background: $raistone_mid_plum;
    opacity: 0.5;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    pointer-events: none;
    z-index: -1;
    display: none;
    @include min-medium-screen {
      width: size(336);
      height: size(325);
      display: block;
    }
    @include large-screen {
      width: size(464);
      height: size(448);
    }
  }

  .container {
    @include large-screen {
      @include paddingX(size(141));
    }
  }

  .main-title {
    margin-bottom: size(40);
    text-align: center;
    @include min-medium-screen {
      text-align: left;
      margin-bottom: size(50);
    }
  }

  .swiper-container {
    border-radius: size(20);
  }

  .swiper-slide {
    height: auto;
  }

  .card {
    display: flex;
    flex-direction: column;
    background: $raistone_white;
    border-radius: size(20);
    overflow: hidden;
    height: 100%;
  }

  .image-wrapper {
    padding-top: 51.73%;
    cursor: pointer;
    @include min-medium-screen {
      padding-top: 53.73%;
    }

  }

  .card-content {
    @include paddingY(size(24));
    @include paddingX(size(32));
    @include min-medium-screen {
      @include paddingY(size(48), size(40));
      @include paddingX(size(32));
    }
  }

  .card-title {
    color: $raistone_jet_black;
    font-weight: 700;
    margin-bottom: size(16);
    line-height: size(27);
    transition: color $duration;
    cursor: pointer;
    @include large-screen {
      line-height: size(36);
    }

    &:hover {
      color: $raistone_canary;
    }
  }

  .description {
    color: $raistone_gery;
    @include font-size(16px, 22px);
    margin-bottom: size(32);
    @include large-screen {
      @include font-size(18px, 36px);
    }
  }

  .swiper-pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: size(40);
    @include large-screen {
      bottom: size(64);
    }
  }

  .btn-arrow {
    margin-top: size(20);
  }
}
