
@import "styles/sites/zineone";


footer {
  background-color: $zineone-dark;
  overflow: hidden;
  border-radius: size(40) size(40) size(0) size(0);
  @include paddingY(size(48), size(40));
  @include min-medium-screen {
    border-radius: size(80) size(80) size(0) size(0);
    @include paddingY(size(68), size(60));
  }
  
  //  footer group
  
  .footer-group {
    @include flex(false, space-between, column, false);
    @include min-medium-screen {
      align-items: center;
      flex-direction: row;
    }
  }
  
  .footer-logo {
    display: block;
    width: size(168);
    margin-bottom: size(32);
    @include min-medium-screen {
      margin-bottom: 0;
    }
    
    svg, img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  
  $footerLinkM: 3.2rem;
  
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    @include min-medium-screen {
      margin-bottom: -$footerLinkM;
      margin-right: -$footerLinkM;
      justify-content: flex-end;
      max-width: 85%;
    }
  }
  
  //  footer group
  
  .zineone-details {
    margin-top: size(48);
    @include flex(false, space-between, column, false);
    @include min-medium-screen {
      flex-direction: row;
      align-items: center;
      margin-top: size(58);
    }
    
    .footer-contact {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: size(-32);
      @include min-medium-screen {
        flex-direction: row;
      }
      
      .paragraph {
        color: $zineone-white;
        margin-bottom: size(32);
        @include small-screen {
          &:not(:last-child) {
            margin-bottom: size(16);
          }
        }
        
        &:not(:last-child) {
          margin-right: size(32);
        }
      }
      
      a {
        transition: color $duration;
        
        &:hover {
          color: $zineone-green;
        }
      }
    }
    
    .footer-icons {
      display: flex;
      @include small-screen {
        margin-top: size(24);
      }
      
      .footer-icon:not(:last-child) {
        margin-right: size(37);
      }
      
      .footer-icon {
        cursor: pointer;
        
        path {
          &:hover {
            fill: $zineone-Orange;
          }
          
        }
      }
      
    }
  }
  
  .footer-hr {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    @include marginY(size(24));
    @include min-medium-screen {
      @include marginY(size(32));
    }
  }
  
  .footer-text {
    display: flex;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
    }
    
    .paragraph {
      color: $zineone-white;
      
      @include small-screen {
        margin-bottom: size(16);
      }
      
      &:not(:last-child) {
        margin-right: size(32);
      }
    }
  }
  
  // region dropdown styling
  .footer-link {
    position: relative;
    color: $zineone-white;
    @include flexBasis(100%);
    @include min-medium-screen {
      margin-right: $footerLinkM;
      margin-bottom: $footerLinkM;
      @include flexBasis(auto);
    }
    
    &:not(:last-child) {
      margin-bottom: $footerLinkM;
    }
    
    .footer-text-style {
      font-weight: bold;
      font-size: size(14);
      line-height: 171.42%;
      //text-align: center;
      letter-spacing: 0.2px;
      color: inherit;
    }
    
    .footer-link-a {
      &:hover {
        color: $zineone-green;
      }
    }
    
    &.has-sublinks {
      @include flex(center, space-between, false, wrap);
      cursor: pointer;
      @include min-medium-screen {
        cursor: auto;
        justify-content: flex-start;
        &:after {
          content: '';
          position: absolute;
          z-index: 99;
          display: block;
          width: 100%;
          height: 2rem;
          top: calc(100% - 0.5rem);
          left: 0;
        }
      }
      
      &:last-child {
        .footer-link-dropdown {
          left: auto;
          right: 0;
        }
      }
      
      &:hover {
        @include min-medium-screen {
          .footer-link-dropdown {
            transition-delay: 0ms !important;
            pointer-events: auto;
            opacity: 1;
            transform: translateY(0);
          }
          .footer-link-a {
            color: $zineone-green;
          }
          .dropdown-angle {
            transform: scale(-1);
          }
          &.has-hover {
            color: $zineone-green;
          }
        }
      }
    }
    
    &.active-footer-link {
      color: $zineone-green;
      
      .dropdown-angle {
        transform: scale(-1);
      }
      
      .footer-dropdown-spacer {
        height: size(20);
      }
    }
  }
  
  .footer-dropdown-spacer {
    height: 0;
    width: 100%;
    transition: height 500ms;
  }
  
  .footer-link-dropdown {
    width: 100%;
    overflow: hidden;
    height: 0;
    @include min-medium-screen {
      position: absolute;
      left: 0;
      top: calc(100% + 1rem);
      z-index: 1;
      width: size(180);
      height: auto;
      opacity: 0;
      pointer-events: none;
      transform: translateY(size(20));
      transition: opacity, transform;
      transition-duration: $duration;
      transition-delay: 50ms;
    }
    
    .footer-sublink {
      padding: size(7);
      cursor: pointer;
      color: $zineone-dark;
      font-size: size(14);
      line-height: 171.42%;
      font-weight: 600;
      display: block;
      transition: background-color, color;
      transition-duration: $duration;
      
      &:hover {
        color: $zineone-green;
        background: #EEE;
      }
    }
  }
  
  .dropdown-angle {
    width: size(12);
    height: auto;
    margin-left: size(6);
    transition: transform $duration;
  }
  
  
  // endregion dropdown styling
  
  .footer-bottom-links {
    display: flex;
    flex-wrap: wrap;
    
    .paragraph {
      transition: color $duration;
      
      &:hover {
        color: $zineone-green;
      }
    }
  }
}


