
@import "styles/sites/successkpi";


.pricing_table_and_toggle {
  position: relative;
  @include paddingY(size(25));

  .choose-plan {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: size(47);
  }

  .per-months {
    transition: color $duration ease;
    margin-right: size(24);
    color: $successkpi_gray;
    cursor: pointer;

    &:hover {
      color: $successkpi_light_blue_2;
    }

  }

  .per-minute {
    margin-left: size(26);
    color: $successkpi_gray;
    cursor: pointer;
    transition: color $duration ease;

    &:hover {
      color: $successkpi_light_blue_2;
    }
  }

  .per-active {
    color: $successkpi_light_blue_1;
  }

  .switch-container {
    width: size(53);
    height: size(20);

    #switch {
      display: none;
    }

    .switch-label {
      position: relative;
      cursor: pointer;
      margin: 0;

      .switch-rail {
        transition: all 0.2s ease-in-out;
        position: absolute;
        width: size(53);
        height: size(22);
        background: $successkpi_light_blue_1;
        border-radius: 50px;
        overflow: hidden;

        .switch-slider {
          transition: all 0.2s ease-in-out;
          position: absolute;
          top: size(3);
          left: size(2);
          width: size(16);
          height: size(16);
          border-radius: 50%;
          background-color: $successkpi_white;
        }
      }
    }

    #switch:checked + .switch-label {
      .switch-rail {
        transition: all 0.2s ease-in-out;

        .switch-slider {
          transition: all 0.2s ease-in-out;
          transform: translateX(30px);
        }
      }
    }
  }

  .row {
    box-shadow: size(12) size(12) size(32) rgba(0, 0, 0, 0.05);
    border-radius: size(4);
    background-color: $successkpi_white;
    @include paddingX(size(16));
    margin-bottom: size(47);
    @include min-medium-screen {
      margin-bottom: size(94);
    }

    //.categories-table{
    //  overflow: auto;
    //}


    .col {
      padding: size(48) size(16);
      @include min-medium-screen {
        border-right: 1px solid #c5c5c54d;
        &:nth-child(2n) {
          border-right: none;
        }
        &:last-child {
          border: none;
        }
      }
      @include large-screen {
        &:nth-child(2n) {
          border-right: 1px solid #c5c5c54d;
        }
        &:nth-child(4n) {
          border-right: none;
        }
      }
      @include small-screen {
        border-bottom: 1px solid #c5c5c54d;
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      @include min-medium-screen {
        min-height: 332px;
      }
    }

    .t-name {
      margin-bottom: size(40);
      text-align: center;
      @include small-screen {
        @include font-size(28px, 32px)
      }
    }


    .price {
      color: $successkpi_light_blue_2;
      margin-bottom: size(8);
      text-align: center;
    }

    .price-minute {
      display: none;
    }

    .price-text {
      margin-bottom: size(56);
      text-align: center;
      @include font-size(18px, 25.6px);
      @include marginX(auto);
      @include min-medium-screen {
        @include font-size(14px, 24px);
      }
    }

    .price-text-minute {
      display: none;
    }

    .cta-button {
      margin-bottom: size(32);
      @include marginX(auto);
      margin-top: auto;
      @include small-screen {
        @include font(18px, 700, 25.6px);
        min-width: size(208);
      }
    }

    .description {
      text-align: center;
      margin-bottom: size(32);
      max-width: size(320);
      @include marginX(auto);
      @include font(16px, 400, 26px);
      color: $successkpi_raisin_black;
      @include min-medium-screen {
        max-width: size(262);
      }
    }

    .category-list {
      margin-bottom: size(16);
      max-width: size(200);
      @include marginX(auto);

      .category-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        list-style-type: none;
        margin-bottom: size(16);

        &:last-child {
          margin-bottom: size(0);
        }

        .item {
          @include font(16px, 400, 18.75px, $successkpi_gray, $roboto, size(0.28));
        }

        svg {
          margin-right: size(8);
          @include square(size(16));
        }
      }
    }

    .list {
      @include marginX(auto);
      max-width: size(316);
      @include min-medium-screen {
        max-width: size(225);
      }

      .list-item {
        list-style-type: none;
        @include font(16px, 400, 26px, $successkpi_gray, $roboto, size(0.28));
        position: relative;
        @include large-screen {
          @include font(12px, 400, 26px, $successkpi_gray, $roboto, size(0.28));
        }

        &:before {
          content: '-';
          position: absolute;
          left: size(-5);
        }
      }
    }

  }

  .price-text-minute {
    display: none;
  }

  .table-title {
    @include marginX(auto);
    margin-bottom: size(31);
    text-align: center;
    font-weight: 400;

  }

  .cat-table {
    box-shadow: size(12) size(12) size(32) rgba(0, 0, 0, 0.05);
    border-radius: size(4);
    @include marginX(auto);
    border-collapse: collapse;
    width: 100%;
    //overflow: auto;
    //display: block;
    display: none;
    @include large-screen {
      display: block;
      max-width: size(1240);
    }


    tr:nth-child(odd) {
      background-color: $successkpi_white;
    }

    tr:nth-child(even) {
      background-color: $successkpi_ghost_white;
    }

    tr:first-child {
      td, th {
        border-top: none;

        td, th {
          padding: size(24) size(16) size(19);
        }

      }
    }

    td, th {
      border-top: 1px solid #c5c5c54d;
      border-right: 2px solid #c5c5c54d;
      padding: size(15) size(24);
      text-align: center;
    }

    .th-title {
      margin-bottom: size(24);
      text-align: left;
    }

    .true-svg {
      width: size(24);
      height: size(24);
    }

    .false-svg {
      width: size(21);
      height: size(24);
    }


  }

  tbody {
    display: table;
    width: 100%;
  }

  .left-head {
    @include font(16px, 400, 18.75px, $successkpi_gray, $roboto, size(0.28));
  }

  .head-text {
    @include font(16px, 700, 18.75px, $successkpi_light_blue_1, $roboto, size(0.28));
    text-align: left;

  }

  .head-text-2 {
    margin-top: size(4);
    @include font(12px, 700, 14.06px, $successkpi_light_blue_1, $roboto, size(0.28));
    text-align: left;
  }

  .swiper {
    display: block;
    @include large-screen {
      display: none;
    }
  }

  .mySwiper {
    box-shadow: 12px 12px 32px 5px rgba(0, 0, 0, 0.05);
    padding: size(50) 0;
    background-color: #ffffff;

    .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .th-title {
      margin-bottom: size(24);
    }

    .text-wrapper {
      margin-bottom: size(27);

      .head-text {
        text-align: center;
      }
    }

    .dodo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      @include paddingY(size(15));
      @include paddingX(size(15));

      &:nth-child(even) {
        background-color: #FAFBFD;;
      }
    }

    .swiper-pagination {
      margin-top: size(28);
      height: size(12);
      width: 100%;

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .swiper-pagination-bullet {
        cursor: pointer;
        width: size(12);
        height: size(12);
        border-radius: 50%;
        background-color: #D9D9D9;
        margin-right: size(15);

        &-active {
          background-color: #234CC6;
        }
      }
    }
  }
}


