
@import "styles/sites/cyberhill";

.filter_block {
  //@include marginY(size(250));
  
  .drop-menu {
    z-index: 98;
    position: relative;
    background-color: $cyberHill-tangaroa;
    padding: 0;
    margin-bottom: size(97);
    height: size(48);
    @include paddingX($container-padding-sm);
    cursor: pointer;
    
    .paragraph-14 {
      font-family: $space-grotesk;
      color: $cyberHill-white;
      
    }
    
    @include small-screen {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @include min-medium-screen {
      @include paddingX(0);
      
    }
    
    .selector {
      &::first-letter {
        text-transform: capitalize;
      }
      
      @include min-medium-screen {
        display: none;
      }
    }
    
    .down-arrow {
      width: size(10);
      height: size(8);
      transition: all $duration;
      @include min-medium-screen {
        display: none;
      }
    }
    
    .filter-list {
      display: flex;
      flex-direction: column;
      @include small-screen {
        @include paddingX($container-padding-sm);
        position: absolute;
        top: 99%;
        left: 0;
        width: 100%;
        height: 0;
        background: $cyberHill-tangaroa;
        z-index: 5;
        overflow: hidden;
        background: $cyberHill-secondary-10;
      }
      @include min-medium-screen {
        height: 100%;
        width: 80%;
        margin: 0 auto;
        flex-direction: row;
        position: relative;
      }
      @include large-screen {
        width: 61.666%;
        
      }
    }
    
    .link-item {
      display: block;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color $duration;
      width: 100%;
      
      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        @include paddingY(size(13.2));
        @include min-medium-screen {
          @include paddingX(size(10));
          justify-content: center;
        }
      }
      
      @include small-screen {
        &:after {
          content: "";
          width: 200%;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translateX(-25%);
          background: $cyberHill-zumthor;
        }
        
        a {
          color: $cyberHill-Nero;
        }
      }
      @include min-medium-screen {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 0;
        @include flexBasis(20%);
        border-bottom: 2px solid #CCF6ED;
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 4px;
          left: 0;
          bottom: size(-2);
          opacity: 0;
          background-color: $cyberHill-light-green;
          transition: opacity $duration;
        }
      }
      
      &:hover {
        @include min-medium-screen {
          &:after {
            opacity: 1;
          }
        }
      }
      
      &.active {
        @include min-medium-screen {
          color: $cyberHill-light-green;
          
          &:after {
            opacity: 1;
          }
        }
      }
    }
    
    &.active {
      .down-arrow {
        transform: scaleY(-1);
      }
    }
  }
  
  
  .content {
    display: flex;
    width: 100%;
    padding-bottom: size(21);
    flex-direction: column;
    @include min-medium-screen {
      padding-bottom: size(48);
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  .search {
    position: relative;
    margin-bottom: size(21);
    @include min-medium-screen {
      @include flexBasis(50.72%);
      margin-bottom: 0;
    }
    @include large-screen {
      @include flexBasis(62.72%);
    }
    
    input {
      width: 100%;
      min-height: size(48);
      padding: size(13) size(48);
      background-color: $cyberHill-secondary-10;
      border: none;
      border-bottom: size(1) solid $cyberHill-matterhorn;
      transition: border-bottom-color $duration;
      font-weight: 400;
      font-size: size(14);
      font-family: $space-grotesk;
      color: $cyberHill-matterhorn;
      -webkit-appearance: none;
      
      &::placeholder {
        transition: opacity $duration;
      }
      
      &:focus {
        border-bottom-color: $cyberHill-Blue;
        
        &::placeholder {
          opacity: 0;
        }
      }
    }
    
    svg {
      width: size(20);
      height: size(20);
      position: absolute;
      left: size(17);
      top: size(13);
    }
  }
  
  .f-s {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @include min-medium-screen {
      flex-direction: row;
      align-items: center;
      @include flexBasis(50%);
      justify-content: space-evenly;
      
    }
    
  }
  
  
  .filter, .sort {
    display: flex;
    align-items: center;
    
    .paragraph-14 {
      border: none;
      line-height: 100%;
      
    }
    
    .paragraph-12 {
      color: $cyberHill-Blue;
      //margin-bottom: size(-5);
      line-height: 100%;
    }
  }
  
  .filter {
    justify-content: space-between;
    //@include flexBasis(76.8%);
    margin-bottom: size(60);
    @include min-medium-screen {
      margin-bottom: size(0);
      justify-content: space-evenly;
      @include flexBasis(31.97%);
    }
  }
  
  .sort {
    //@include flexBasis(76.8%);
    justify-content: space-between;
    @include min-medium-screen {
      justify-content: space-evenly;
      
      @include flexBasis(45%);
    }
    
    
  }
  
  
  select {
    -webkit-appearance: none;
    padding-right: size(20);
    cursor: pointer;
    
  }
  
  .select-wrapper {
    position: relative;
    cursor: pointer;
    
    .arrow-down {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      @include square(size(10));
      @include min-medium-screen{
        right: size(-10);
      }
      svg{
        @include square(100%);
      }
    }
  }
  
}




