@import "styles/sites/headversity";


footer {
  background-color: #0A1B57;
  @include paddingY(size(48), size(60));
  border-bottom: size(18) solid #005DB3;
  @include min-medium-screen {
    @include paddingY(size(106), size(61));
  }

  ul {
    list-style: none;
  }

  .container {
    @include small-screen {
      @include paddingX(size(60), size(55));
    }
    @include large-screen {
      @include paddingX(size(155));
    }

  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .footer-logo {
    width: size(215);
  }

  .footer-img {
    width: size(81);
    @include max-medium-screen {
      display: none;
    }
  }

  .logo-mobile {
    display: block;
    margin-top: size(60);
    @include large-screen {
      display: none;
    }
  }

  .logo-description {
    @include font(14px, 500, 22px, $headversity_white, $poppins);
    margin-top: size(12);
    margin-bottom: size(57);
    max-width: size(275);
    @include min-medium-screen {
      margin-bottom: size(67);
    }
    @include large-screen {
      margin-bottom: size(82);
      max-width: 100%;
    }

    span {
      font-style: italic;
    }
  }

  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    @include large-screen {
      width: 54.5132743%
    }
  }

  .footer-links {
    width: 48%;
    margin-top: size(20);
    @include min-medium-screen {
      width: 29%;
    }
    @include large-screen {
      width: auto;
      flex-basis: auto;
      margin-top: 0;
    }
    @include small-screen {
      &:last-child {
        width: 100%;
      }
    }
  }

  .link-title {
    @include font(16px, 700, 22px, $headversity_white, $poppins);
    text-align: left;
    margin-bottom: size(10);
    @include min-medium-screen {
      margin-bottom: size(20);
    }
    @include large-screen {
      margin-bottom: size(40);
    }

  }

  .icon-title {
    @include small-screen {
      margin-top: size(50);
      margin-bottom: size(20);
    }
  }

  .footer-link {
    @include font-size(14px, 30px);
    color: $headversity_white;
    text-align: left;
    @include min-medium-screen {
      @include font(16px, 400, 24px, $headversity_white, $inter);
    }

    &:hover {
      color: $headversity_orange;
    }
  }

  .logo-img-mobile {
    display: block;
    @include min-medium-screen {
      display: none;
    }
  }

  .footer-icons {
    a {
      &:not(:last-child) {
        margin-right: size(29);

      }

      @include min-medium-screen {
        &:not(:last-child) {
          margin-right: size(22);

        }
      }
      cursor: pointer;

      &:hover {
        path {
          fill: $headversity_light_blue
        }
      }

    }
  }


  .line {
    border: 1px solid #005DB3;
    @include marginY(size(37));
  }

  .copy-right-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .copy-right-text {
    @include font(12px, 400, 30px, $headversity_white, $poppins);
    max-width: size(1000);

    a {
      text-decoration: underline;

      &:hover {
        color: $headversity_orange;
      }
    }

  }

  .year-text {
    @include small-screen {
      @include marginY(size(20), size(37));
    }
  }

  .flag-img {
    width: size(24);
  }

  //  transition: -webkit-filter $duration;
  //  -webkit-filter: grayscale(0);
  //  filter: grayscale(0);
  //
  //  &:hover {
  //    -webkit-filter: grayscale(100%);
  //    filter: grayscale(100%);
  //  }
  //}
  .right-content {
    @include min-medium-screen {
      margin-top: size(20);
    }
    @include large-screen {
      margin-top: 0;
      width: size(115);
      display: flex;
      flex-direction: column;

    }
  }

  .language-and-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include small-screen {
      margin-bottom: size(42);
    }
  }

  .language-wrapper {
    display: flex;
    width: 39.69%;

    a {
      display: flex;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);

      transition: -webkit-filter $duration;

      &:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);


      }

    }
  }

  .language-text {
    @include font(14px, 500, 16px, $headversity_white, $inter, size(1.25));
    margin-left: size(5);
    text-transform: uppercase;
  }


  .takeoff-link {
    height: fit-content;
    display: flex;
    transition: color $duration;
    align-items: center;
    color: $headversity_white;
    font-size: size(14);
    line-height: 100%;

    @include min-medium-screen {
      margin-top: size(14);
    }
    @include large-screen {
      margin-left: auto;

    }

    &:hover {
      color: $headversity_orange;
    }
  }

  .site-logo {
    @include square(100%);
    object-fit: contain;
  }
}

