
@import "styles/sites/propellerheath";

.cta_columns {
  @include paddingY(size(30));
  position: relative;
  @include min-medium-screen {
    //margin-top: size(45);
    //100
    @include paddingY(size(100), 0);
    min-height: size(575.5);

  }
  @include large-screen {
    // 132
    @include paddingY(size(152), 0);
  }

  &.version-4 {

    .columns {
      align-items: center;
    }

    .left-title {
      @include font(26px, 400, 30px, $propellerhealth_coal);
      @include large-screen {
        @include font-size(36px, 42px);
      }
    }


    min-height: 0;
  }

  .background-svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    svg {
      width: 100%;
      height: 100%;

    }
  }

  .container {
    position: relative;

    &.version-2 {
      @include min-medium-screen {
        padding-left: 0;

      }
    }
  }

  .columns {
    display: flex;
    //align-items: center;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    &.has-img {
      .left-column {
        @include small-screen {
          margin-bottom: size(50);
        }
        @include min-medium-screen {
          //@include flexBasis(39.8%);
          @include flexBasis(52.8%);
          margin-bottom: 0;
          //margin-right: size(164);
        }
      }

      .right-column {

        @include min-medium-screen {
          @include flexBasis(43%);
        }
      }

    }

    .left-column {
      margin-bottom: size(30);
      @include flexBasis(100%);
      @include min-medium-screen {
        //@include flexBasis(39.8%);
        @include flexBasis(45.02%);
        margin-bottom: 0;
        //margin-right: size(164);
      }


      .left-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        .left-title {
          max-width: size(314);
          text-align: center;
          @include min-medium-screen {
            max-width: size(486);
            //@include font(68px, 400, 68px, $propellerhealth_coal, $Lato);
          }

          &.f-68 {
            line-height: 150%;
            @include medium-screen{
              @include font(40px, 400, 170%, $propellerhealth_coal, $Lato);
            }
            @include large-screen {
              @include font(68px, 400, 150%, $propellerhealth_coal, $Lato);
            }
          }


        }

        .left-text {
          margin-top: size(25);
          @include font(24px, 400, 30px, $propellerhealth_coal, $Lato);
          max-width: size(511);
          margin-bottom: size(32);
          text-align: center;

        }

        .left-info {
          max-width: size(284);
          margin-bottom: size(24);
          text-align: center;
          display: flex;
          align-items: center;
          position: relative;
          flex-wrap: wrap;
          justify-content: center;
          text-align: center;
          margin-top: size(30);
          @include min-medium-screen {
            margin-top: size(40);
          }

          .phone-and-time {
            display: flex;

            .phone {
              flex-shrink: 0;
              border-right: 1px solid $propellerhealth_coal;
              padding-right: size(8);
              transition: color $duration;

              &:hover {
                color: $propellerhealth_mint;
              }
            }


            .time {
              flex-shrink: 0;
              padding-left: size(5);
              @include min-medium-screen {
                padding-left: size(11);
              }
            }

          }

          .email {
            transition: color $duration;

            &:hover {
              color: $propellerhealth_hover_color;
            }

          }
        }

      }

      $border-radius-sm: size(110);
      $border-radius-md: size(200);
      $border-radius-lg: size(300);

      .aspect-ratio {
        position: relative;
        overflow: hidden;
        padding-top: 108.54%;
        @include min-medium-screen {
          padding-top: 87.84%;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 0 0 $border-radius-sm 0;
          @include medium-screen {
            border-radius: 0 0 $border-radius-md 0;

          }
          @include large-screen {
            border-radius: 0 0 $border-radius-lg 0;

          }

        }

      }
    }

    .right-column {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(47.1%);
      }


      .right-title {
        margin-bottom: size(28);
        max-width: size(314);
        font-weight: 700;
        text-align: center;
        @include min-medium-screen {
          max-width: size(511);
          margin-bottom: size(56);
        }
      }

      .right-description {
        @include font(24px, 400, 30px, $propellerhealth_coal, $Lato);
        margin-bottom: size(68);
        max-width: size(511);
      }

      .cta-button {
        display: flex;
        justify-content: space-between;
        //align-items: flex-end;
        align-items: flex-start;
        //padding: size(12) size(32);
        //padding:size(9.04) size(17);
        flex-wrap: wrap;
        margin-bottom: size(37);
        width: 100%;
        background-color: $propellerhealth_denim;
        min-height: size(90);
        min-width: size(284);
        max-width: size(350);
        transition: background $duration;
        overflow: hidden;

        @include min-medium-screen {
          min-height: size(119);
          min-width: size(284);
          max-width: size(544);
          @include paddingY(size(19),size(30));


        }
        @include medium-screen {
          min-height: size(60);

          max-width: size(340);
          align-items: center;

        }


        .text-and-link {
          width: 100%;
          display: flex;
          justify-content: space-between;
          @include max-medium-screen {
            align-items: center;
            min-height: size(50);

          }
          margin-bottom: size(15);
          //padding: size(1) 0;
        }

        &.large-width {
          min-width: size(311);
          max-width: size(311);
          min-height: size(59);

          .text-and-link {
            justify-content: center;
            min-height: unset;
            max-height: size(59);

            .btn-audience {
              @include font(16px, 700, 26px, $propellerhealth_white, $Lato);
              @include min-medium-screen {
                @include font-size(20px, 30px);
              }

            }
          }


        }

        &:only-child {
          margin-bottom: size(0);
        }

        &:last-child {
          margin-bottom: size(0);

        }

        &:hover {
          background-color: $propellerhealth_hover_color;
          //.btn-description{
          //  opacity: 1;
          //  bottom: size(10);
          //}

          .arrow-right {
            transform: translateX(size(4));

            .arrow-line {
              transform: scaleX(1);
            }
          }
        }
      }

      .cta-link {
        color: $propellerhealth_white;
        flex-shrink: 0;
        display: flex;
        justify-content: flex-end;
        @include min-medium-screen {
          width: size(180);
        }
        @include large-screen {
          //width: size(346.5);
          margin-left: size(17.65);
          //margin-left: size(186.5);
        }

        svg {
          &:hover {
            color: $propellerhealth_hover_color;

            .arrow-right {
              transform: translateX(size(4));

              .arrow-line {
                transform: scaleX(1);
              }
            }
          }

          margin-left: size(11);
        }

      }

      .btn-audience {
        @include font(24px, 700, 30px, $propellerhealth_white, $Lato);

        flex-shrink: 0;

        @include large-screen {
          @include font-size(36px, 110%);
        }

      }

      .btn-description {
        position: relative;
        //opacity: 0;
        //height: 0;
        //bottom: size(-50);
        margin-top: auto;
        transition: opacity $duration, bottom $duration ease;
        width: 100%;
        overflow: hidden;
        @include font(14px, 400, 20px, $propellerhealth_white, $Lato);
        @include min-medium-screen {
          //margin-bottom: size(13);
          @include font(18px, 400, 24px, $propellerhealth_white, $Lato);
        }
      }


    }

  }

  &.gery-bg {
    background-color: #e6e6e733;
  }

}



