@import "variables";

@function get-unit($value) {
  @return str-slice($value * 0 + "", 2, -1);
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function line-height($font-size,$line-height:100%) {
  @if type-of($line-height) == 'number' and unitless($line-height) {
    @return $line-height * 100%
  }
  $unit: get-unit($line-height);
  @if $unit == 'px' {
    $font-size-unit: get-unit($font-size);
    @if $font-size-unit == 'rem' {
      @return strip-unit($line-height) / strip-unit($font-size) * 10%;
    }
    @return strip-unit($line-height) / strip-unit($font-size) * 100%;
  } @else if $unit == 'em' {
    @return strip-unit($line-height) * 100%;
  } @else if $unit == '%' {
    @return $line-height;
  }
}


$base-size: 10;
//Function to convert px value into rem
//You can replace rem with any other value you want (rem is most preferred value for web)
@function size($target, $context: $base-size) {
  @return (strip-unit($target) / $context) * 1rem;
}
