:root {
  /* Colors: */
  --eternal_spring-white: #ffffff;
  /* brown */
  --eternal_spring-brown-50: #DDD1B8;
  --eternal_spring-brown-100: #9f9789;
  --eternal_spring-brown-200: #887f70;
    --eternal_spring-brown-300:#423c2e;
  /* black*/
  --eternal_spring-black-50: #1a1818;
  --eternal_spring-black-100: #211e17;
  --eternal_spring-black: #000000;
  /*yellow*/
  --eternal_spring-yellow: #dad497;
  /*orange*/
  --eternal_spring-light-Orange: #FF7F59;
}
