@import "variables";
@import "mixins";
@import "root";

body {
  position: relative;

}
.section-background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 200%;
  img {
    width: 100%;
    height: 110%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

// region font  Styling

.headline-1, .wysiwyg-block h1 {
  @include font(36px, 400, 100%, $eternal_spring-white, $Comicraft, size(0.48));
  @include min-medium-screen {
    font-size: size(48);
  }
}

.headline-2, .wysiwyg-block h2 {
  text-transform: uppercase;
  @include font(24px, 400, 100%, $eternal_spring-black-100, $Comicraft, size(0.24));
  padding: size(12.5) size(20);
  background: $eternal_spring-white;
  border-radius: size(50);
  width: fit-content;
  @include marginX(auto);
  @include flex(center, center);

  &.dark {
    background: $eternal_spring-black-100;
    color: $eternal_spring-white;
  }

  &.no-background {
    margin-right: unset;
    margin-left: unset;
    border-radius: unset;
    background: unset;
    padding: unset;
    width: unset;

    @include min-medium-screen {
      justify-content: unset;
    }
  }

  &.centered {
    @include marginX(auto);
    justify-content: center;
  }
}

.headline-3, .wysiwyg-block h3 {
  @include font(24px, 700, 42px, $eternal_spring-white, $Comicraft, normal);
  @include min-medium-screen {
    @include font-size(32px, 52px);
  }
}

.headline-4, .wysiwyg-block h4 {
  @include font(16px, 400, 58px, $eternal_spring-white, $Bangers, size(0.5));
  @include min-medium-screen {
    @include font-size(21px, 52px);
  }
}

.headline-5, .wysiwyg-block h5 {
  @include font(16px, 400, 28px, $eternal_spring-white, $MuktaMahee, normal);
  @include min-medium-screen {
    @include font-size(21px, 42px);
  }
}

.headline-6, .wysiwyg-block h6 {
  @include font(16px, 400, 58px, $eternal_spring-white, $Bangers, size(0.5));
  @include min-medium-screen {
    @include font-size(21px, 52px);
  }
}

.paragraph, .wysiwyg-block p {
  @include font(16px, normal, 23px, $eternal_spring-white, $Bangers, size(1.8));
  @include min-medium-screen {
    @include font-size(18px, 58px);
  }

  &-14 {
    @include font(12px, 700, 24px, $eternal_spring-white, $Bangers, size(1.4));
    @include min-medium-screen {
      @include font-size(14px, 58px);
    }
  }

  &-18 {
    @include font-size(16px, 23px);
    @include min-medium-screen {
      @include font-size(18px, 23px);
    }

  }
}

.link {
  color: $eternal_spring-brown-100;
  font-size: size(21);
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: color $duration;
  font-family: $Comicraft;

  letter-spacing: size(1.8);

  &:hover {
    color: $eternal_spring-yellow;
  }

  @include min-medium-screen {
    font-size: size(25);
  }
  @include large-screen {
    font-size: size(18);
  }
}

// endregion

// region button  Styling

.btn {
  @include font(21px, 400, 100%, $eternal_spring-white);
  min-width: size(151);
  max-width: 100%;
  background: $eternal_spring-brown-200;
  width: fit-content;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  font-family: $Bangers;
  letter-spacing: size(1.4);
  transition-property: color, background;
  transition-duration: .5s;
  transition-timing-function: ease;
  padding: size(15) size(29);
  @include min-medium-screen {
    padding: size(15) size(40);
    min-width: size(201);
    font-size: size(28);
  }

  &:hover {
    color: $eternal_spring-black-100;
    background: $eternal_spring-yellow;
  }

  .block-svg {
    @include square(size(44));
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $eternal_spring-brown-200;
    background: $eternal_spring-brown-200;
    transition: transform .5s ease;
  }
}

.bottom-border-wrapper {
  position: relative;
  padding-bottom: size(12);

  &.centered {
    @include min-medium-screen {
      .bottom-border {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  //.bottom-border {
  //  position: absolute;
  //  width: size(100);
  //  height: 3px;
  //  background-color: $eternal_spring-light-Orange;
  //  bottom: 0;
  //  left: 0;
  //  top: 100%;
  //  @include min-medium-screen {
  //    width: size(172);
  //  }
  //  @include large-screen {
  //    width: size(192);
  //  }
  //}
}

// endregion

// region Ul Styling


// endregion ul

// region number and title
.number-and-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .number {
    color: $eternal_spring-white;
    font-family: $Bangers;
    font-size: size(14);
    font-weight: 400;
    letter-spacing: size(1.4);
    line-height: 100%;
    text-transform: uppercase;
    border-bottom: 2px solid currentColor;
    margin-bottom: size(16);

    @include min-medium-screen {
      padding-bottom: size(6);
      font-size: size(18);
      letter-spacing: size(1.8);
      margin-bottom: size(22);
    }
  }

  .title {
    color: $eternal_spring-brown-50;
    font-family: $Comicraft;
    @include font-size(36px, 42px);
    font-weight: 400;
    font-style: normal;
    letter-spacing: size(0.36);
    text-align: center;
    text-transform: uppercase;

    @include min-medium-screen {
      @include font-size(48px, 42px);
      letter-spacing: size(0.48);
    }
  }


  &.brown {
    .number {
      color: $eternal_spring-brown-200;
    }

    .title {
      color: $eternal_spring-brown-300;
    }
  }
}

// endregion

// region main title
.main-title {
  color: $eternal_spring-black-100;
  font-family: $Bangers;
  @include font-size(18px, 32px);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  @include min-medium-screen {
    @include font-size(21px, 32px);
  }
}

// endregion

// region background-image
.background-image {
  @include square(100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;

  img {
    object-fit: cover;
  }
}

// endregion

// region swiper pagination
.swiper-paginations, .swiper-pagination {
  position: relative;
  @include flex(center);
  width: fit-content;
  @include marginX(auto);

  .swiper-pagination-bullet {
    @include square(size(13));
    background: $eternal_spring-brown-100;
    cursor: pointer;
    opacity: 1;
    border-radius: 50%;
    transition: background-color $duration;

    &:not(:last-child) {
      margin-right: size(10) !important;
      margin-left: size(0) !important;
    }

    &:hover {
      background-color: $eternal_spring-black-100;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $eternal_spring-black-100;
  }

}

// endregion swiper pagination

// region swiper-button
.swiper-button {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  width: size(28);
  height: size(56);
  @include large-screen {
    display: block;
  }
  transition: color $duration;

  svg {
    path {
      fill: currentColor;
    }
  }

  &:hover {
    color: $eternal_spring-yellow;

  }


  &.swiper-button-prev {
    left: -7%;
  }

  &.swiper-button-next {
    right: -7%;
  }

}

// Social media Style

.social-media {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: size(-20);
}

.social-icon {
  margin-bottom: size(20);

  &:not(:last-of-type) {
    margin-right: size(9);
  }

  &:hover {
    path {
      fill: $eternal_spring-yellow;
    }
  }
}

//endregion


.background-image-attachment {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


