// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$eternal_spring-white: var(--eternal_spring-white);
/*black*/
$eternal_spring-black: var(  --eternal_spring-black);
$eternal_spring-black-50: var(--eternal_spring-black-50);
$eternal_spring-black-100: var(--eternal_spring-black-100);
/*yellow*/
$eternal_spring-yellow: var(--eternal_spring-yellow);
/*brown*/
$eternal_spring-brown-50: var(--eternal_spring-brown-50);
$eternal_spring-brown-100: var(--eternal_spring-brown-100);
$eternal_spring-brown-200: var(--eternal_spring-brown-200);
$eternal_spring-brown-300: var(--eternal_spring-brown-300);
/*orange*/
$eternal_spring-light-Orange: var(--eternal_spring-light-Orange);
// fonts
$MuktaMahee: 'MuktaMahee';
$Bangers: 'Bangers';
$Comicraft: 'Comicraft';
//default duration
$duration: 500ms;
// bouncing
$bouncing: cubic-bezier(0.18, 0.89, 0.32, 1.28);
//override bootstrap variables
$grid-gutter-width: 2.4rem;
$container-max-widths: (
  'md': 100%, //570px
  'lg': 113.3rem, //760px 88.4
);
$grid-breakpoints: (
  'xs': 0,
  'md': $medium-screen-min-width,
  'lg': $large-screen-min-width,
);

$container-padding-sm: 3.2rem;
$container-padding-md: 8rem;
$container-padding-lg: 14.7rem ;
$container-padding-x: 32px;


