
@import "styles/sites/propellerheath";

.image_illustration_and_stats_block {
  @include paddingY(size(50));
  @include large-screen {
    @include paddingY(size(130));
  }

  .content-wrapper {
    @include flex(center, space-between);
    @include small-screen {
      flex-direction: column;
    }
  }
  .text-wrapper {
    @include flexBasis(100%);
    text-align: center;
    @include min-medium-screen {
      margin-left: 9%;
      @include flexBasis(25.7%);
    }
    @include small-screen {
      max-width: size(300);
    }
  }
  .info {
    &:not(:last-of-type) {
      margin-bottom: size(33);
    }
  }
  .image-wrapper {
    @include flexBasis(100%);
    position: relative;
    @include min-medium-screen {
      @include flexBasis(40.14%);
    }
    @include small-screen {
      margin-top: size(40);
      max-width: size(300);
    }
    @include medium-screen {
      &:after {
        width: size(432);
        height: size(400);
      }
    }
    @include large-screen {
      &:after {
        width: size(592);
        height: size(549);
        top: 59%;
      }
    }
    img {
      @include square(100%);
      object-fit: contain;
    }
  }
  .title {
    font-weight: 700;
    margin-bottom: size(25);
  }
  .stat {
    @include font-size(46px, 58px);
    color: $propellerhealth_denim;
    font-weight: 700;
    margin-bottom: size(10);
  }

}



