
@import "styles/sites/successkpi";

.faqs_block {
  @include paddingY(size(32));
  background-color: $successkpi_white;
  @include min-medium-screen {
    @include paddingY(size(56));
  }
  @include large-screen {
    @include paddingY(size(70), size(50));
  }

  .container {
    @include large-screen {
      @include paddingX(size(100));
    }

    &.wide {
      @include large-screen {
        @include paddingX(size(70));
      }

      .faq-question-title {
        @include large-screen {
          max-width: size(1295);
        }
      }

      .faq-answer {
        @include large-screen {
          max-width: size(1172.95);

        }
      }

      .faq-wrapper {
        svg {
          @include min-medium-screen {
            margin-right: size(35);
          }
        }
      }


    }
  }

  .main-title {
    text-align: center;
    @include marginX(auto);
    font-weight: 400;
    margin-bottom: size(30);
    @include min-medium-screen {
      margin-bottom: size(50);
    }
    @include max-medium-screen {
      @include font-size(32px, 40px);
    }
  }

  .faqs-content-wrapper {
    width: 100%;
    @include marginX(auto);
    background-color: $successkpi_ghost_white;

    @include large-screen {
    }
  }

  .faq-wrapper {
    width: 100%;
    position: relative;
    transition: padding $duration, box-shadow $duration, background-color $duration;

    &:first-of-type {
      .have-answer {
        height: auto;
      }
    }

    svg {
      @include square(size(18));
      transition: opacity $duration;
      @include small-screen {
        margin-left: size(10);
        margin-top: size(4);
      }
      @include min-medium-screen {
        width: size(15);
        height: size(16);
        margin-top: unset;

      }

      line {
        stroke: $successkpi_light_blue_2;
      }

      &.minus-icon {
        opacity: 0;
      }
    }

    .remove-to-close, .arrow-icon {
      transform-origin: center;
      transition-property: opacity, transform;
      transition-duration: .3s;
      transition-timing-function: cubic-bezier(0.97, -0.01, 0.42, 0.56);
    }

    &.active {
      &:first-child {
        padding-top: size(26);
      }

      padding-top: size(26);


      padding-bottom: size(20);

      @include large-screen {
        @include paddingY(size(26), size(15));
        margin-bottom: size(25);
      }

      &:before {
        opacity: 1;
        height: 100%;
      }

      background-color: $successkpi_white;
      box-shadow: size(12) size(12) size(32) rgba(0, 0, 0, 0.05);

      .remove-to-close {
        transform: rotate(90deg);
        opacity: 0;
      }

      .arrow-icon {
        transform: scaleY(-1);

        polyline {
          stroke: $successkpi_light_blue_1;
        }
      }

      line {
        stroke: $successkpi_gray;
      }
    }

    &:before {

      content: '';
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      width: size(5);
      @include min-medium-screen {
        width: size(10);
      }
      height: 0;
      opacity: 0;
      background-color: $successkpi_light_blue_2;
      transition: opacity $duration, height $duration;

    }

    &:not(:last-of-type) {
    }

    &:first-child {
      padding-top: size(30);
    }

    @include paddingX(size(14));
    margin-bottom: size(30);
    padding-bottom: size(20);

    @include medium-screen {
      @include paddingX(size(64), size(64));
      padding-bottom: size(30);
    }
    @include large-screen {
      @include paddingX(size(64), size(0));
      padding-bottom: size(30);

    }
  }

  .has-question {
    color: $successkpi_raisin_black;
    @include small-screen {
      @include font-size(20px, 125%);
      //margin-bottom: size(20);
    }
  }

  .faq-question-title {
    display: flex;
    position: relative;
    justify-content: space-between;
    cursor: pointer;
    max-width: size(870);
    align-items: flex-start;
    @include medium-screen {
      align-items: center;
      padding-bottom: size(16);
    }
    @include large-screen {
      padding-bottom: size(16);
      max-width: size(1041);
      align-items: center;

    }
  }

  .number-and-title {
    margin-bottom: size(60);
  }


  .arrow-icon {
    display: none;
  }

  .have-answer {
    height: 0;
    overflow: hidden;
    position: relative;

    .have-title {
      color: $successkpi_black;
    }

    .faq-answer-wrapper {
      @include flex(center, space-between);
      margin-bottom: size(30);

      svg {
        @include square(size(25));
        cursor: pointer;
      }
    }

    ul, ol {
      margin-left: size(20);
      list-style: unset;
    }
  }

  .faq-answer {
    color: $successkpi_raisin_black;
    max-width: size(700);

    @include large-screen {
      max-width: size(985);

    }
  }

  .note {
    @include marginX(auto);
    margin-top: size(45);
    text-align: center;
    max-width: size(1021);

    a {
      color: $successkpi_light_blue_1;

    }
  }

}



