
@import "styles/sites/smartdv";

footer {
  @include paddingY(size(60), size(31));
  border-bottom: size(21) solid #BFD730;
  max-width: size(1440);
  @include marginX(auto);
  position: relative;
  //background-color: $smart_dv_dark_green;
  .circles {
    display: flex;
    align-items: center;
    margin-bottom: size(47);
    @include min-medium-screen {
      margin-bottom: size(77);
    }
  }

  .line {
    border-top: 1px solid #162932;
    width: 100%;
    flex-grow: 1;
    //padding-bottom: size(77);
  }

  .circle {
    width: size(14);
    height: size(14);
    border: 1px solid #162932;
    border-radius: 50%;
    flex-shrink: 0;
  }


  .container {
    @include min-medium-screen {
      @include paddingX(size(74));
    }
    @include large-screen {
      @include paddingX(size(138), size(120));
    }
  }

  .footer-logo {
    display: block;
    width: size(190);
    height: size(39);
    @include min-medium-screen {
      width: size(216);
      height: size(45);
    }

    svg {
      width: 100%;
      height: 100%;

    }


  }

  .footer-logo-img {
    width: size(212);

    img {
      @include square(100%);
      object-fit: contain;

    }
  }

  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top: size(84);
    @include small-screen {
      margin-top: size(27);
    }
  }

  .footer-title {
    @include font(14px, 600, 17.5px, $smart_dv_dark_black, $montserrat);
    margin-bottom: size(12);
    @include min-medium-screen {
      @include font-size(16px, 20px);
      margin-bottom: size(25);
    }
  }

  .footer-link {
    @include font(12px, 400, 15px, $smart_dv_dark_black, $montserrat);
    @include min-medium-screen {
      @include font-size(14px, 17.5px);
    }

    &:not(:last-child) {
      margin-bottom: size(12);
    }


  }

  .footer-links {
    width: 44%;
    @include min-medium-screen {
      width: 19%;
    }
    @include large-screen {
      width: 16%;
    }

    a {
      display: inline-block;
    }
  }

  li {
    list-style: none;

  }

  a {

    &:hover {
      color: $smart_dv_green_3
    }
  }

  .space-text {
    @include small-screen {
      margin-top: size(26);
    }
  }

  .copy-right-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: size(15);
    @include small-screen {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  .copy-right-text {
    @include font(12px, 400, 15px, $smart_dv_dark_black, $montserrat);
    margin-bottom: size(16);
    max-width: size(149);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    span {
      display: none;
      @include min-medium-screen {
        @include marginX(size(12));
        display: block;
      }
    }

    a {
      @include small-screen {
        &:not(:last-child) {
          @include marginY(size(10));
        }

      }

    }

    @include min-medium-screen {
      max-width: size(409);
      margin-bottom: 0;
      margin-top: size(19);
      display: flex;
      justify-content: flex-start;
    }

  }

  .svg-icon {
    border: 1px solid #BFD730;
    padding: size(3);
    @include flex(center, center);
    @include square(size(23));

    &:not(:last-child) {
      margin-right: size(26);
      @include min-medium-screen {
        margin-right: size(19.94);
      }
    }

    svg {
      @include square(100%);
    }

    &:hover {
      svg {
        path {
          fill: $smart_dv_green_3;
        }
      }
    }
  }

  .cta-button {
    margin-top: size(31);
    @include paddingX(0);

    &:hover {
      &:after, &:before {
        height: size(8);
      }
    }

  }

  .contact-details {
    @include flexBasis(40%);
    display: flex;
    align-items: center;
    margin-top: size(41);
    @include small-screen {
      justify-content: center;
      margin-top: size(24);

    }
    @include min-medium-screen {
      @include flexBasis(19%);
    }
    @include large-screen {
      @include flexBasis(16%);
    }
  }

  .btn-wrapper {
    width: 100%;
    margin-left: auto;
    @include small-screen {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
    }
    @include min-medium-screen {
      width: 19%;
    }
    @include large-screen {
      width: 16%;
    }
  }

  .copy-text {
    @include small-screen {
      margin-top: size(31);
    }
  }

  .address-link {
    @include small-screen {
      width: 88%;
    }
  }
}
