@import "styles/sites/raistone";

.more_content_block {
  @include paddingY(size(65), size(44));
  z-index: 2;

  .container {
    @include paddingX(size(0));
    @include min-medium-screen {
      @include paddingX(size(35));
    }
    @include large-screen {
      @include paddingX(size(64), size(56));

    }

  }

  .more-content-group {
    background: $raistone_deco;
    @include paddingY(size(104), size(108));
    position: relative;
    //z-index: 2;
  }

  .content-title, .content-description {
    color: $raistone_jet_black;
    text-align: center;

  }

  .content-title {
    margin-bottom: size(20);
    max-width: 90%;
    @include marginX(auto);
  }

  .content-description {
    margin-bottom: size(40);
    max-width: 75%;
    @include marginX(auto);
    @include small-screen {
      @include font-size(22px, 36px);
    }
  }

  .input-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;

    .email-content {
      width: 50%;
      margin-right: size(20);
      margin-bottom: 0;
      color: #414042;
      background: #FFFFFF;
      border: 1px solid #B3B3B3;
      border-radius: 3px;
      padding: size(20) size(16);
      @include small-screen {
        width: 85%;
        margin-bottom: size(30);
        padding: size(15);
      }
    }

    .btn-content {
      padding: size(25) size(77);
      margin-left: size(15) !important;

    }
  }

  .top-content {
    position: absolute;
    top: -1%;
    right: 67%;
    width: size(152);
    height: size(159);
    @include min-medium-screen {
      position: absolute;
      top: 0;
      right: 70%;
      width: size(212);
      height: size(239);
    }
    @include large-screen {
      position: absolute;
      top: 13%;
      right: 78%;
      width: size(342);
      height: size(279);
    }
  }

  .bottom-content {
    position: absolute;
    right: size(25);
    bottom: 0;
    width: size(50);
    height: size(140);
    transform: rotate(-45deg);
    @include min-medium-screen {
      position: absolute;
      right: 5%;
      width: size(55);
      height: size(150);
    }
    @include large-screen {
      position: absolute;
      right: 1%;
      bottom: size(20);
      width: size(214);
      height: size(300);
    }
  }

  .gform_wrapper {
    width: 90%;
    @include large-screen {
      width: 62.2%;

    }

    .gfield {
      input {
        font-family: $montserrat !important;
        padding: size(19.8) size(16) !important;
        border: 1px solid #B3B3B3 !important;
        border-radius: 3px !important;
        @include min-medium-screen {
          height: size(74);
        }
      }
    }

    .gform_body {
      width: 100% !important;
    }

    .gform_footer {
      @include max-medium-screen {
        width: 100%;
      }
    }
  }

  form {
    display: flex !important;
    flex-direction: row !important;
    @include max-medium-screen {
      flex-wrap: wrap !important;

    }

    .gform_footer {
      padding: 0 !important;


      input {
        margin: 0 !important;
        padding: size(25) size(77) !important;
        @include small-screen {
          padding: size(15) size(37) !important;
        }

      }
    }
  }

  input[type=submit] {
    color: $raistone_jet_black;
    background: $raistone_canary;
    width: 100%;
    @include large-screen {
      height: size(74);
    }

    &:hover {
      background-color: $raistone_mid_canary;
    }

  }

  .gform_wrapper.gravity-theme .gform_footer, .gform_wrapper.gravity-theme .gform_page_footer {
    margin-top: size(15);
    height: fit-content;
    @include large-screen {
      margin-left: size(15);
      margin-top: 0 !important;
    }
  }

  .gfield_label {
    display: none !important;
  }

  .gform_wrapper.gravity-theme .gfield textarea.large {
    border: none;
  }
}


.gform_title {
  display: none !important;
}

.gfield_label {
  font-size: size(14) !important;
  line-height: size(17) !important;
  color: $raistone_jet_black !important;
  font-weight: 600 !important;
  text-transform: uppercase;

}

.gform_wrapper {
  .gfield {
    input {
      font-size: size(18) !important;
      line-height: size(36) !important;
      font-weight: 400 !important;
      font-family: $lato;
      padding: size(14) size(16) !important;
      transition: border-color $duration;

      @include min-medium-screen {
        padding: size(23) size(16) !important;
        font-size: size(22) !important;

      }

      &::placeholder {
        font-size: size(22) !important;
        line-height: size(32) !important;
        font-weight: 400 !important;
        font-family: $lato;
        color: $raistone_jet_black !important;
      }

    }
  }

}


.gform_wrapper.gravity-theme .gfield textarea.large {
  min-height: size(129) !important;
  height: size(129) !important;
  resize: none;

  font-size: size(18) !important;
  line-height: size(36) !important;
  font-weight: 400 !important;
  font-family: $lato;
  padding: size(14) size(16) !important;
  transition: border-color $duration;

  @include min-medium-screen {
    padding: size(23) size(16) !important;
    font-size: size(22) !important;

  }

  &::placeholder {
    font-size: size(22) !important;
    line-height: size(32) !important;
    font-weight: 400 !important;
    font-family: $lato;
    color: $raistone_jet_black !important;
  }
}

.gchoice_1_4_1 {
  .gfield-choice-input {

  }

  display: flex !important;
  align-items: center !important;

  .gfield-choice-input {
    margin: 0 !important;
  }

  label {
    font-size: size(14) !important;
    line-height: size(17) !important;
    color: $raistone_jet_black !important;
    font-weight: 600 !important;
    margin-left: size(10) !important;
  }

}

input[type=submit] {
  font-size: size(18);
  line-height: size(22);
  font-weight: 600;
  padding: size(30) size(164);
  border-radius: size(10);
  font-family: $montserrat;
  cursor: pointer;
  border: none;
  transition: background-color $duration;

  @include small-screen {
    padding: size(18) size(80);
  }
}

.gform_wrapper {
  position: relative;

  .gform_validation_errors {
    border: none;
    border-bottom: 1px solid $raistone_cherry;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 0 0 size(8) 0;
    display: none;
    width: fit-content;
  }

  .gform_validation_errors > h2 {
    font-size: size(16);
    line-height: size(22);
    color: $raistone_cherry;
    font-weight: 600;


    .gform-icon {
      font-size: size(38) !important;
      height: 100%;
      left: size(6) !important;
      display: none;
    }
  }

  .gfield_validation_message {
    .validation_message {
      margin-top: size(8);
      padding: size(12.992) size(24);
    }
  }
}


.gform_wrapper.gravity-theme .gfield_description, .gform_wrapper.gravity-theme .instruction {
  font-size: size(16);
  line-height: size(22);
  color: $raistone_cherry;
  font-weight: 600;
  border: none;
  border-bottom: 1px solid $raistone_cherry;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  padding-bottom: size(8);
  display: none;
  width: fit-content;
}


.gform_confirmation_wrapper {
  .gform_confirmation_message {
    font-size: size(18) !important;
    line-height: size(27) !important;
    color: $raistone_jet_black !important;
    font-weight: 600 !important;
  }

  .gform_ajax_spinner {
    //display: none!important;
    box-sizing: border-box;
    border: 3px solid $raistone_cherry !important;
    border-left: 3px solid rgba(247, 150, 33, 0) !important;
    border-top: 3px solid rgba(247, 150, 33, .15) !important;
    border-right: 3px solid rgba(247, 150, 33, .5) !important;
    animation: spinner 1.1s infinite linear !important;
    border-radius: 50% !important;
    @include square(size(40));
    position: absolute !important;
    top: 0 !important;
    right: 110% !important;
    z-index: 1 !important;
  }
}

.gchoice {
  display: flex;
  align-items: center;
  margin-top: size(11);

  label {
    margin-left: size(12);
    color: $raistone_white;
    font-size: size(16) !important;
    font-weight: 400;
    line-height: 100%;
    font-family: $lato;
  }
}

.gfield_required {
  color: currentColor !important;
}

.gfield-choice-input {
  margin: 0 !important;
  @include square(16px);
  position: relative;
  z-index: 2;
  border-radius: 50% !important;
  height: fit-content !important;

  &:after {
    content: "";
    @include square(18px);
    background-color: $raistone_white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    transition: background-color $duration;
    border-radius: 3px;
    border: 1.5px solid $raistone_gery;
  }

  &:before {
    content: "";
    @include square(9px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //background-image: url(../../images/cheqed.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity $duration;
  }

  &:checked {

    &:after {
      background-color: $raistone_mid_plum;
    }

    &:before {
      opacity: 1;
    }
  }
}

.gform_wrapper.gravity-theme .gform_footer, .gform_wrapper.gravity-theme .gform_page_footer {
  padding: 0 !important;
  margin-top: size(27);
  position: relative;
}

.gform_wrapper.gravity-theme .gform_footer button, .gform_wrapper.gravity-theme .gform_footer input, .gform_wrapper.gravity-theme .gform_page_footer button, .gform_wrapper.gravity-theme .gform_page_footer input {
  margin-bottom: 0;
}


// region Spinner
.gform_ajax_spinner {
  box-sizing: border-box;
  border: size(3) solid $raistone_canary;
  border-left: size(3) solid rgba(247, 150, 33, 0);
  border-top: size(3) solid rgba(247, 150, 33, .15);
  border-right: size(3) solid rgba(247, 150, 33, .5);
  animation: spinner 1.1s infinite linear;
  border-radius: 50%;
  @include square(size(30));
  position: absolute;
  top: 125%;
  right: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin-top: size(5);
}

//endregion

.gform_wrapper.gravity-theme .gfield {
  position: relative;
}


.gform_wrapper .gfield_error [aria-invalid=true] {

  border-color: #414042;
}

.ginput_container_phone{
  input{
    width: 100% !important;
  }
}
.gfield_visibility_visible{
  border: none !important;
}
.gfield_label_before_complex{
  display: none !important;
}
.gfield--width-half{

display: inline-block !important;
  width: 49.5% !important;
}
