@import "styles/sites/cyberhill";


.customers_slider_block {
  background-color: $cyberHill-alice-blue;
  @include paddingY(size(64));
  @include min-medium-screen {
    @include paddingY(size(152), size(125));
  }
  
  .container {
    //@include small-screen {
    //  padding-right: 0;
    //}
  }
  
  .headline-3 {
    color: $cyberHill-Blue;
    margin-bottom: size(37);
    flex-shrink: 0;
    //@include small-screen {
    //  padding-right: size(44);
    //}
    @include min-medium-screen {
      margin-right: size(10);
      @include flexBasis(40%)
    }
    @include large-screen {
      margin-bottom: 0;
      margin-right: 0;
      @include flexBasis(48.92%)
    }
  }
  
  .swiper-container {
    @include min-medium-screen {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include large-screen {
      //@include flexBasis(38.70%)
      @include flexBasis(46.45%);
    }
  }
  
  .content {
    width: 100%;
    height: size(153);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $cyberHill-white;
    padding: size(12);
    cursor: grab;
    @include min-medium-screen {
      margin-bottom: size(24);
      height: size(153);
      padding: size(26);
    }
    
    picture {
      height: 100%;
    }
    
    svg {
      height: 100%;
    }
    
    .headline-5 {
      text-align: center;
      @include text-lines(3);
      
      &:hover {
        color: $cyberHill-Blue;
      }
    }
  }
  
  .customers-slider-wrapper {
    @include min-medium-screen {
      display: flex;
      align-items: center;
      
    }
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    @include small-screen {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include min-medium-screen {
      flex-direction: column;
      width: 100%;
    }
    
    &.swiper-slide-active {
      
      .has-flip {
        transform: rotateY(180deg);
      }
    }
  }
  
  .swiper-pagination {
    justify-content: center;
  }
  
  .perspective-flip {
    perspective: size(1500);
    width: 100%;
    display: flex;
    @include small-screen {
      margin-bottom: size(10);
      min-height: 153px !important;
    }
    
    .flip {
      width: 100%;
      height: auto;
      display: flex;
      transition: transform 600ms;
      position: relative;
      transform-style: preserve-3d;
      
      .flip-card {
        height: 100%;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      &-front {
        height: auto;
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
      }
      
      &-back {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        transform: rotateY(180deg);
      }
    }
  }
}



