
@import "styles/sites/kiwi";

section.block-slider-portfolio {
  @include marginY(size(100));
  @include x-large-screen {
    @include marginY(size(150));
  }
  
  .portfolio-images {
    flex-basis: 100%;
    width: 100%;
    @include paddingX(size(20));
    margin-bottom: size(20);
    @include min-medium-screen {
      flex-basis: 49%;
      width: 49%;
      @include paddingX(0);
      margin-bottom: 0;
    }
    
    img {
      width: 100%;
      height: 100%;
    }
  }
  
  .portfolio-details {
    max-width: size(566);
    @include paddingX(size(20));
    display: flex;
    flex-direction: column-reverse;
    @include min-medium-screen {
      @include paddingX(size(50));
      display: block;
    }
    @include x-large-screen {
      padding-top: size(69);
    }
    
    &:after {
      top: auto;
      bottom: 0;
      right: size(57);
      left: auto;
      transform: translate(0);
      display: none;
      @include min-medium-screen {
        display: block;
      }
      @include x-large-screen {
        bottom: size(-25);
        right: size(-36);
      }
    }
    
    &:before {
      left: auto;
      transform: translate(0);
      top: auto;
      right: size(50);
      bottom: size(210);
      display: none;
      @include min-medium-screen {
        display: block;
      }
      @include x-large-screen {
        right: size(-44);
        bottom: size(186);
      }
    }
    
    .title {
      text-align: center;
      @include min-medium-screen {
        margin-bottom: size(20);
        text-align: left;
      }
      @include x-large-screen {
        margin-bottom: size(40);
      }
      
      h3 {
        font-family: $Avenir;
        font-weight: 300;
        @include x-large-screen {
          line-height: size(60);
        }
      }
    }
    
    //.headline-3 {
    //  font-family: $Avenir;
    //  font-weight: 300;
    //  color: $kiwi-semi-gray;
    //  @include min-medium-screen {
    //    margin-bottom: size(20);
    //  }
    //  @include x-large-screen {
    //    margin-bottom: size(40);
    //    line-height: size(60);
    //  }
    //
    //  span {
    //    color: $kiwi-dark-red;
    //  }
    //}
    .swiper-btns {
      @include marginX(auto);
      @include min-medium-screen {
        @include marginX(0);
      }
    }
    
    .btn {
      min-width: size(243);
      margin-bottom: size(20);
      @include marginX(auto);
      @include min-medium-screen {
        @include marginX(0);
      }
      @include x-large-screen {
        margin-bottom: size(50);
      }
      
      &:hover {
        .btn-text {
          color: $kiwi-white !important;
        }
      }
      
      .btn-bg {
        background: $kiwi-blue;
      }
      
      .btn-text {
        text-transform: uppercase;
      }
    }
  }
}



  


