
@import "styles/sites/towSmart";


.follow_us_block {
  background-color: #343a40;
  @include paddingY(size(40));
  
  @include min-medium-screen {
    @include paddingY(size(60), size(120));
  }
  
  .headline-5 {
    margin-bottom: size(20);
    text-align: center;
    @include min-medium-screen {
      margin-bottom: size(30);
    }
  }
  
  .row {
    @include change-gutter(size(15), size(15));
    @include min-medium-screen {
      @include change-gutter(size(16), size(16));
    }
  }
  
  picture {
    border-radius: 4px;
    padding-top: 101.3%;
    overflow: hidden;
    @include min-medium-screen {
      padding-top: 100%;
    }
    img {
      transition: transform .3s linear;
      &:hover {
        transform: scale(1.1) rotate(2deg);
      }
    }
  }
  
  .image-caption {
    text-align: center;
    margin-top: size(16);
    
    @include small-screen {
      @include font-size(14px, 17px);
      margin-top: size(10);
      
    }
  }
}



  


