
@import "styles/sites/moving";


.text_and_phone_screens_block {
  //@include paddingY(size(93), size(302));
  //@include paddingY(size(93), size(302));
  @include paddingY(size(29), 0);
  background: $moving-white;
  @include min-medium-screen {
    @include paddingY(size(60), 0);
  }
  @include large-screen {
    padding-top: size(96);
  }

  &_wrapper {
    @include flex(flex-start, space-between, false, wrap);
    position: relative;
  }

  .text-content {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(58%);
    }
    @include large-screen {
      @include flexBasis(56.38%);
    }

    &-wrapper {
      z-index: 1;
      @include min-medium-screen {
        padding-bottom: size(100);
      }
      @include large-screen {
        padding-bottom: 22.3rem - $vertical-section-line-height;
      }
    }

    &-title {
      color: $moving-cloud-burst;
      margin-bottom: size(32);
      position: relative;
      z-index: 1;
      @include medium-screen {
        font-size: size(37);
      }
      @include min-medium-screen {
        margin-bottom: size(45);
      }
      @include large-screen {
        margin-bottom: size(60);
        padding-right: size(15);
      }
    }

    &-description {
      margin-bottom: size(32);
      @include min-medium-screen {
        margin-bottom: size(70);
      }
      @include large-screen {
        margin-bottom: size(125);
      }
    }
  }

  .text-screen-case {
    padding-bottom: 30vh;
    &:last-of-type{
      padding-bottom: 75vh;
    }
    @include min-medium-screen{
      padding-bottom: 50vh;
      &:last-of-type{
        padding-bottom: 40vh;
      }
    }

    &-description {
      max-width: size(667);
      margin-top: size(8);
      @include min-medium-screen {
        margin-top: size(15);
      }
      @include large-screen {
        margin-top: size(32);
      }
    }
  }

  .phone-screens {
    z-index: 0;
    @include flexBasis(100%);
    margin-top: 0;
    //padding-top: size(12);
    max-height: 88vh !important;
    position: relative;
    height: 100vh;
    @include flexBasis(35%);
    @include large-screen {
      @include flexBasis(29.86%);

    }
    @include small-screen {
      @include flexBasis(70%);
      max-height: 60vh !important;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 65vh;
      z-index: 2;
      &:before{
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 90vw;
        height: 101%;
        background-color: white;
        z-index: -4;
        transform: translateX(-50%);
      }
    }

    &-blur {
      position: absolute;
      z-index: -3;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
      width: 90vw;
      height: auto;
      height: 96.5%;
      @include min-medium-screen {
        width: size(670);
      }
      @include large-screen {
        width: size(992);
      }
    }
  }

  .phone-case {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
    position: relative;
  }

  .phone-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 96.5%;
    border-radius: size(40);
    overflow: hidden;
    opacity: 0;
    //visibility: hidden;
    @include large-screen {
      border-radius: size(40);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      image-rendering: -moz-crisp-edges;         /* Firefox */
      image-rendering:   -o-crisp-edges;         /* Opera */
      image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
      image-rendering: crisp-edges;
      -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
    }

    //height: 96.79%;
  }

  // region section lines style

  .section-border {
    $lh-mb: 0.5rem;

    .title-circle {
      top: $lh-mb;
    }

    &:after {
      top: $lh-mb;
    }
  }


  .full-lines {
    max-width: 50.45%;
    position: relative;
    z-index: 4;

    @include medium-screen {
      max-width: 86.8%;
    }
    @include large-screen {
      max-width: 88.686%;
    }
    .line {
      &-height {
        margin-top: calc(3rem - 2.5px);

        @include min-medium-screen {
          margin-top: 27px !important;
        }
        @include large-screen {
          margin-top: calc(3rem - 2.7px);
        }
      }
    }

  }

  // endregion section lines style
}







