
@import "styles/sites/smartdv";

.benefits_block {
  background-color: #064952;
  @include paddingY(size(40), size(55));
  @include min-medium-screen {
    @include paddingY(size(65), size(105));
  }
  max-width: size(1440);
  @include marginX(auto);

  .cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: unset;
    @include flexBasis(100%);
    @include min-medium-screen {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 0;
      //@include flexBasis(46.51%);
    }
    @include large-screen {
      max-width: size(984);
      @include marginX(auto);
    }
  }


  .card-svg-title {
    margin-top: size(19);
    @include flexBasis(100%);
    position: relative;

    &:after {
      content: "";
      height: size(1);
      width: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #086875;
      transition: width .5s ease-in-out;
    }

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
    flex-basis: 100%;
    width: 100%;
    padding-bottom: size(60);

    @include min-medium-screen {
      padding-bottom: size(19);
    }

    &.active-draw {
      &:after {
        width: 100%;
      }

      .icon-wrapper {
        .green-line {
          transform: skew(20deg, 0deg) scaleY(1);
        }
      }

    }


    .card-action {

      width: 100%;
      cursor: pointer;
      @include min-medium-screen {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: size(29);
      }

      .hover-action {
        @include square(size(26));
        @include small-screen {
          position: absolute;
          bottom: size(25);
        }

        svg.minus-plus {
          color: $smart_dv_lime;
          @include square(100%);
          transition: opacity $duration;
          margin-top: size(0);
          @include min-medium-screen {
            @include square(size(24));
          }

          line {
            stroke: currentColor;
            @include small-screen {
              stroke-width: 1;
            }
          }

          &.minus-icon {
            opacity: 0;
          }
        }

        .remove-to-close {
          transform-origin: center;
          transition-property: opacity, transform;
          transition-duration: .3s;
          transition-timing-function: cubic-bezier(0.97, -0.01, 0.42, 0.56);
        }
      }
    }


    .description-card {
      max-width: size(768);
      @include marginX(auto);
      height: 0;
      position: relative;
      overflow: hidden;
      color: $smart_dv_white;
      margin-left: size(100);
      @include small-screen {
        margin-left: 0;
      }
      @include min-medium-screen {
        &:before {
          position: relative;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          background-color: transparent;
          display: block;
          height: size(15);
          @include min-medium-screen {
            height: size(20);
          }
        }
      }
    }

    &.accordion-active {
      .hover-action {
        .remove-to-close {
          transform: rotate(90deg);
          opacity: 0;
        }
      }

      .description-card {
        margin-bottom: size(10);
      }
    }
  }

  .icon-text-wrapper {
    @include min-medium-screen {
      display: flex;
      align-items: flex-end;
    }

    .title-card {
      color: $smart_dv_white;
      @include small-screen {
        @include font-size(14px, 18px);
        margin-bottom: size(12);
      }
    }
  }

  .icon-wrapper {
    flex-shrink: 0;
    width: size(40);
    height: size(32);
    position: relative;
    @include flex(flex-end, center);
    margin-bottom: size(38);
    @include min-medium-screen {
      margin-right: size(33);
      margin-bottom: 0;
      @include square(size(68))
    }

    &[class*="ones-"]:after, &[class*="tens-"]:before {
      content: '';
      position: relative;
      width: size(22);
      height: size(30);
      z-index: 1;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      @include min-medium-screen {
        width: size(30);
        height: size(48);
      }
    }


    @for $i from 0 through 9 {
      &.ones-#{$i} {
        &:after {
          //background-image: url("../../svgs/#{$i}-white.svg");

        }
      }
      &.tens-#{$i} {
        &:before {
          //background-image: url("../../svgs/#{$i}-white.svg");

        }
      }
    }

    //&.bigger-width {
    //  width: size(30);
    //  height: size(42);
    //}

    .green-line {
      position: absolute;
      width: size(36);
      height: size(28);
      left: 0;
      transform: skew(20deg, 0deg) scaleY(0);
      bottom: size(-10);
      background: #086875;
      z-index: 0;
      transform-origin: top;
      transition: transform .5s ease-in-out;
      @include min-medium-screen {
        width: size(56);
        height: size(35);
        bottom: size(-14);
      }
    }

    svg, img {
      @include square(100%);
      transform: translateX(size(8));
    }

  }
}



