@import "styles/sites/wrap";

.wrap_realty {
  position: relative;
  z-index: 2;
  @include paddingY(size(40), size(50));
  @include min-medium-screen {
    padding-top: size(100);
  }
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 79%;
    z-index: -1;
    background: linear-gradient(94.85deg, #FD9D28 0%, #F9BB2E 94.08%);
    @include min-medium-screen {
      height: 60%;
    }
  }
  
  .wrap-realty-wrapper {
    position: relative;
    padding-left: size(30);
    @include min-medium-screen {
      @include flexBasis(70%);
    }
    @media screen and (min-width: 1920px) {
      @include marginX(auto);
    }
  }
  
  .content {
    background-color: $wrap-white;
    flex-basis: 100%;
    padding: size(20);
    @include min-medium-screen {
      @include flexBasis(100%);
      padding: size(40) size(230) size(82) size(40);
    }
    @include large-screen {
      padding-left: size(80);
      padding-bottom: size(164);
      padding-right: size(310);
    }
  }
  
  .headline-6 {
    color: #FD9D28;
    margin-bottom: size(5);
    font-family: $montserrat;
    @include min-medium-screen {
      margin-bottom: size(20);
    }
    @include large-screen {
      margin-bottom: size(30);
    }
  }
  
  .headline-2 {
    margin-bottom: size(10);
    @include min-medium-screen{
      margin-bottom: size(20);
    }
    @include large-screen {
      margin-bottom: size(30);
    }
  }
  
  .paragraph-16 {
    color: #5C6770;
    margin-bottom: size(25);
    max-width: size(485);
    @include large-screen {
      margin-bottom: size(40);
    }
  }
  
  .btn {
    margin-bottom: 0;
  }
  
  .wrap-realty-image {
    max-width: 100%;
    height: auto;
    margin-bottom: size(40);
    @include min-medium-screen {
      position: absolute;
      left: 100%;
      transform: translateX(-50%);
      top: 0;
      width: size(458);
      height: size(311);
      margin-bottom: 0;
    }
    @include large-screen {
      width: size(628);
      height: size(401);
    }
    
    img {
      filter: drop-shadow(20px 20px 30px rgba(0, 0, 0, 0.2));
    }
  }
}


  


