@import "styles/sites/headversity";

.text_and_icon_card_block {
  @include paddingY(size(80));
  @include min-medium-screen {
    @include paddingY(size(120), size(130));
  }

  .container {
    @include large-screen {
      @include paddingX(size(166), size(180));
    }
  }

  .employee-cards-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .left-content {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(39.39%);
    }
    @include large-screen {
      @include flexBasis(42.39%);
    }

    @include small-screen {
      margin-bottom: size(30);
    }
  }

  .left-text {
    max-width: size(420);
    margin-bottom: size(20);
    @include large-screen {
      margin-bottom: size(40);
      max-width: 100%;
    }
  }

  .left-description {
    @include small-screen {
      margin-bottom: size(20);

    }
  }

  .right-content {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(51.18%);
    }
  }

  .has-question {
    margin-right: auto;
    transition: color $duration;
    @include min-medium-screen {
      max-width: 79%;
    }

    &:hover {
      color: $headversity_orange;
    }
  }


  .faq-question-title {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    opacity: 0.6;
    transition: opacity $duration;
    z-index: 5;
    @include small-screen {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .have-answer {
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 5;
    margin-top: size(15);
    @include min-medium-screen {
      margin-top: size(-9);
    }
    @include large-screen {
      margin-top: size(-12);
    }

  }

  .faq-answer {
    @include font(16px, 400, 24px, $headversity_gray, $poppins);
    position: relative;
    @include min-medium-screen {
      max-width: 79%;
      margin-left: auto;
    }
    @include large-screen {
      max-width: 83%;
    }
  }

  .in-desk {
    display: none;
    @include min-medium-screen {
      display: flex;
    }
  }

  .in-mobile {
    display: block;
    cursor: pointer;
    @include min-medium-screen {
      display: none;
    }
  }

  svg {
    color: $headversity_orange;
    @include square(size(26));
    transition: opacity $duration;
    margin-top: size(23);
    @include min-medium-screen {
      @include square(size(25));
      margin-top: 0;
    }

    line {
      stroke: currentColor;
    }

    &.minus-icon {
      opacity: 0;
    }
  }

  .icon {
    margin-right: 0;
    @include min-medium-screen {
      margin-right: size(20);
    }

    svg {
      width: size(59);
      height: size(65);
      margin-top: 0;
    }

    @include small-screen {
      margin-bottom: size(8);
    }
  }

  .remove-to-close {
    transform-origin: center;
    transition-property: opacity, transform;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.97, -0.01, 0.42, 0.56);
  }

  .faq-wrapper {
    background: #FFFFFF;
    box-shadow: 0 size(10) size(20) rgba(97, 55, 55, 0.1);
    border-radius: 0 size(30) size(30);
    padding: size(33) size(46.9) size(28) size(46);

    @include min-medium-screen {
      padding: size(33) size(33) size(28);
    }
    @include large-screen {
      padding: size(33) size(46.9) size(32) size(46);
    }

    &.active {
      padding-bottom: size(40);
      border-bottom-color: #9CDAE0;
      @include min-medium-screen {
        padding-bottom: size(32);
      }
      @include large-screen {
        padding-bottom: size(40);
      }

      .remove-to-close {
        transform: rotate(90deg);
        opacity: 0;
      }

      .faq-question-title {
        opacity: 1;
      }

    }

    &:not(:last-child) {
      margin-bottom: size(18);
    }
  }

  .btn {
    margin-top: size(53);
  }

  .main-title {
    @include font(32px, 600, 30px, $headversity_dark_blue, $poppins);
    margin-bottom: size(36);
  }
}
