:root {
  /* Colors: */
  --propellerhealth_black: #000000;
  --propellerhealth_white: #ffffff;
  --propellerhealth_denim: #003B72;
  --propellerhealth_denim_20: #CED8E2;
  --propellerhealth_primary: #0075E3;
  --propellerhealth_primary_blue_alt: #0075E3;
  --propellerhealth_amethyst: #6F2C91;
  --propellerhealth_beet: #B72755;
  --propellerhealth_moss: #006151;
  --propellerhealth_coal: #24272A;
  --propellerhealth_mint: #90E2C8;
  --propellerhealth_primary_tint: #C6DFF8;
  --propellerhealth_amethyst_20: #DDCFE6;
  --propellerhealth_fog: #E6E6E7;
  --propellerhealth_fog_50: #F3F3F3;
  --propellerhealth_fog_20: #FAFAFA;
  --propellerhealth_hover_color: #0058AA;

}
