@import "variables";
@import "mixins";
@import "root";
@import "swiper/css";
@import "~select2/dist/css/select2.min.css";

body {
  font-family: $Lato;
  padding-top: size(59);
  @include min-medium-screen {
    padding-top: size(91);
  }
  @include large-screen {
    padding-top: size(93);
  }
}

* {
  font-variant-ligatures: no-common-ligatures;
  -moz-font-feature-settings: "liga" 0, "clig" 0;
  -webkit-font-feature-settings: "liga" 0, "clig" 0;
  font-feature-settings: "liga" 0, "clig" 0
}


.site-dots {
  position: absolute;
  left: 0;
  width: 100%;
  height: size(60);
  @include min-medium-screen {
    height: size(210);
  }
  @include large-screen {
    height: size(180);
  }
}

// region container
.container {

  @include paddingX($container-padding-sm);
  @include min-medium-screen {
    @include paddingX($container-padding-md);
  }
  @include large-screen {
    @include paddingX($container-padding-lg);
  }
  @at-root body .section-noContainer & {
    @include paddingX(0);
  }


  &.large-container {
    @include large-screen {
      @include paddingX($container-large-padding-lg);
    }
  }
}

//endregion

// region font  Styling
.headline-1, .wysiwyg-block h1, .blog-content-wrapper h1 {
  @include font(42px, 400, 46px, $propellerhealth_coal , $Lato);
  @include large-screen {
    @include font-size(68px, 72px);
  }
}

.headline-2, .wysiwyg-block h2, .blog-content-wrapper h2 {
  @include font(36px, 400, 42px, $propellerhealth_coal ,$Lato);
  @include large-screen {
    @include font-size(52px, 56px);
  }
}

.headline-3, .wysiwyg-block h3, .blog-content-wrapper h3 {
  @include font(26px, 400, 30px, $propellerhealth_coal ,$Lato);
  @include large-screen {
    @include font-size(36px, 42px);
  }
}

.headline-4, .wysiwyg-block h4, .blog-content-wrapper h4 {
  @include font(20px, 400, 24px, $propellerhealth_coal ,$Lato);
  @include large-screen {
    @include font-size(24px, 28px);
  }
}

.headline-5, .wysiwyg-block h5, .blog-content-wrapper h5 {
  @include font(16px, 400, 20px, $propellerhealth_coal , $Lato);
  @include large-screen {
    @include font-size(18px, 24px);
  }
}

.headline-6, .wysiwyg-block h6, .blog-content-wrapper h6 {
  @include font(16px, 400, 22px, $propellerhealth_coal ,$Lato);
}

.paragraph, .wysiwyg-block p, .blog-content-wrapper p {
  @include font(16px, 400, 24px, $propellerhealth_coal, $Lato);

  &.paragraph-18 {
    @include min-medium-screen {
      @include font-size(18px, 24px);
    }
  }

  &.paragraph-20 {
    @include min-medium-screen {
      @include font-size(20px, 30px);
    }
  }
}


sup {
  @include font-size(14px, 0px);
}

.footer-nav-title {
  @include font(14px, 400, 18px, $propellerhealth_white);
}

.header-nav-title {
  @include font(24px, 400, 32px, $propellerhealth_white);
  @include min-medium-screen {
    @include font-size(16px, 20px);
  }
}

.footer-nav {
  @include font(14px, 400, 24px, $propellerhealth_white);
  @include large-screen {
    @include font-size(16px, 28px);
  }
}

.micro-text {
  @include font(10px, 400, 14px, $propellerhealth_coal);
  @include large-screen {
    @include font-size(12px, 24px);
  }
}

.fw-bold {
  font-weight: 700;
}

.fw-extra-bold {
  font-weight: 900;
}


.light-font {
  color: $propellerhealth_white;
}

.dark-font {
  color: $propellerhealth_coal;
}

.lh-24 {
  line-height: size(24);
}


.center-text {
  text-align: center;
}


// endregion

// region cta button
.cta-button {
  @include font(16px, 800, 120%, $propellerhealth_white, $Lato);
  min-width: size(153);
  background-color: $propellerhealth_denim;
  @include flex(center, center);
  border-radius: 0 size(20) 0 size(20);
  width: fit-content;
  transition: background-color $duration, color $duration;
  cursor: pointer;
  position: relative;
  transform-origin: center;
  @include paddingX(size(19));
  @include paddingY(size(17.5));

  @include min-medium-screen {
    @include font-size(20px, 120%);
    min-width: size(208);

  }

  &.large-height {
    @include paddingY(size(23));
  }

  &.white-cta {
    background-color: $propellerhealth_white;
    color: $propellerhealth_denim;

    &:hover {
      color: $propellerhealth_white;
    }
  }

  &:hover {
    background-color: $propellerhealth_hover_color;
  }

  &:focus {
    background-color: $propellerhealth_hover_color;
  }
}

// endregion cta button

// region cta link

.cta-link {
  @include font(16px, 900, 18px, $propellerhealth_coal, $Lato);
  display: flex;
  align-items: center;
  transition: color $duration;

  @include min-medium-screen {
    @include font-size(18px, 18px);
  }

  width: fit-content;

  .arrow-right {
    width: size(14);
    overflow: visible;
    transition: transform $duration;
    margin-left: size(7);

    .arrow-line {
      transform: scaleX(0);
      transform-origin: right;
      transition: transform $duration;
      transform-box: fill-box;
    }
  }

  &:hover {
    color: $propellerhealth_hover_color;

    .arrow-right {
      transform: translateX(size(4));

      .arrow-line {
        transform: scaleX(1);
      }
    }
  }

  &:focus {
    color: $propellerhealth_hover_color;

    .arrow-right {
      transform: translateX(size(4));

      .arrow-line {
        transform: scaleX(1);
      }
    }
  }
}

// endregion cta link x

// region  wysiwyg
.wysiwyg-block {
  h1, h2, h3, h4, h5, h6, ul, p {
    &:not(:last-child) {
      margin-bottom: size(20);
    }
  }

  li {
    @include font(16px, 400, 22px, $propellerhealth_coal);
  }

}

//endregion//

.pro-list-item, .wysiwyg-block {
  ul {
    li {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: size(22);
      }

      position: relative;

      &:before {
        position: relative;
        content: "";
        width: size(4);
        height: 2px;
        background-color: $propellerhealth_primary;
        margin-right: size(9);
        flex-shrink: 0;
        @include min-medium-screen {
          margin-right: size(6);
        }
      }
    }
  }
}

// region swiper navigation
.swiper-button {
}

// endregion swiper navigation

// region swiper pagination
.swiper-pagination {
  @include flex(center, center);
  margin-top: size(20);

  .swiper-pagination-bullet {
    @include square(size(14));
    border-radius: 50%;
    background: $propellerhealth_primary_tint;
    @include marginX(size(5));
    transition: background $duration;
    display: inline-block;

    &-active {
      background: $propellerhealth_primary;
    }
  }
}

// endregion swiper pagination

.svg-wrapper {
  svg {
    //path {
    //  &:first-child {
    //    fill: #DDCFE6;
    //  }
    //}

    &:hover {
      path {
        stroke: $propellerhealth_primary;
      }
    }
  }
}

.circle-arrow {
  @include square(size(30));
  cursor: pointer;

  circle {
    transition: fill $duration;
  }

  &:hover {
    circle {
      fill: $propellerhealth_hover_color;
    }
  }
}

// region cards of posts
.resources-cards {
  display: flex;
  flex-wrap: wrap;
  @include min-medium-screen {
    //justify-content: space-between;
    margin-bottom: size(-60);
    @include marginX(size(-20));
  }
  @include large-screen {
    justify-content: flex-start;
    @include marginX(size(-63.6));
  }
}

.resources-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: size(32);

  @include small-screen {
    &:not(:last-child) {
      margin-bottom: size(32);
      width: 100%;
      border-bottom: 2px solid $propellerhealth_fog;
    }
  }

  @include min-medium-screen {
    margin-bottom: size(60);
    @include paddingY(size(20), size(15));
    @include paddingX(size(20));
    @include flexBasis(33.33%);
    &:before {
      content: "";
      position: absolute;
      top: 0;
      background-color: $propellerhealth_fog;
      width: 2px;
      height: 100%;
      left: 100%;

    }
    &:nth-child(3n) {
      &:before {
        display: none !important;
      }
    }
  }

  @include large-screen {
    padding: size(30) size(63.6);
    &:before {
      right: 0;
      left: unset;
    }
  }

  .tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: size(6);
    @include min-medium-screen {
      margin-bottom: size(18);
    }


    .tag-title {
      transition: color $duration;
      line-height: size(26);
      margin-right: size(5);
      display: block;
      @include font(18px, 700, 26px, $propellerhealth_primary);
      text-transform: capitalize;

      &.amethyst {
        color: $propellerhealth_amethyst;
      }

      &.green {
        color: $propellerhealth_moss;
      }

      &.beet {
        color: $propellerhealth_beet;
      }

      &:hover {
        color: $propellerhealth_mint;
      }
    }
  }

  .post-title {
    display: block;
    margin-bottom: size(11);
    transition: color $duration;
    @include min-medium-screen {
      margin-bottom: size(23);
    }

    &:hover {
      color: $propellerhealth_moss;
    }
  }

  .excerpt {
    margin-bottom: size(16);
    @include max-lines(4);
    @include font-size(16px, 20px);
    @include min-medium-screen {
      margin-bottom: size(22);
    }
    @include large-screen {
      @include font-size(18px, 24px);
    }
  }

  .cta-link {
    font-weight: 700;
    margin-top: auto;

    svg {
      width: size(15);
      height: size(21);
    }

    &:hover {
      .download-arrow {
        animation: up-down 1s ease-out infinite;
      }
    }

    @keyframes up-down {
      0% {
        transform: translateY(0%);
      }
      50% {
        transform: translateY(100%);
      }
      50.01% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0%);
      }
    }

  }

  &.resources-coulms-card {
    @include small-screen {
      width: 100%;
    }
    @include large-screen {
      @include paddingY(size(50), size(37));
      @include large-screen {

        &:after {
          right: size(-57);
        }

        &:before {
          left: size(-70);
        }
      }
    }
  }


  &.post-card {
    &:after {
      width: size(250);
      height: size(200);
      opacity: 0;
      transition: opacity $duration;
      @include min-medium-screen {
        width: size(300);
        height: size(300);
      }
      @include large-screen {
        width: size(406);
        height: size(371);
      }
    }

    &:hover {
      &:after {
        opacity: 0.25;
      }
    }
  }

}

// endregion

//region svg background
.svg-background-animation {
  &:after {
    content: "";
    position: absolute;
    top: -5%;
    left: -10%;
    opacity: 0;
    transition: opacity $duration;
    z-index: -4;
    //background-image: url("../../src/svgs/after-background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include min-medium-screen {
      width: size(330);
      height: size(360);
    }
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

// endregion svg background

// region dark-background
.moving-shape {
  position: relative;
  isolation: isolate;

  &:after {
    content: "";
    width: size(340);
    height: size(300);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #C6DFF8;
    opacity: 0.25;
    z-index: -1;
    clip-path: url(#shape-1);

    @include min-medium-screen {
      width: size(542);
      height: size(479);
    }
  }

  &.shape-2 {
    &:after {
      clip-path: url(#shape-2);
    }
  }

  &.shape-3 {
    &:after {
      clip-path: url(#shape-3);
    }
  }

  &.shape-4 {
    &:after {
      clip-path: url(#shape-4);
    }
  }

  &.shape-5 {
    &:after {
      clip-path: url(#shape-5);
    }
  }


}

.dot-line-animation {
  animation: dot-animation .4s linear infinite;
  @keyframes dot-animation {
    to {
      stroke-dashoffset: -11;
    }
  }
}

.slide-shape {
  @include square(0);
  z-index: -1111;
  position: absolute;
}

// endregion dark-background

section {
  position: relative;
}

.dots-bg {
  @extend .cover-background;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    //background-image: url('../images/blue-dots.png');
    background-position: center;
    background-repeat: repeat;
    background-size: inherit;
    width: 100%;
    height: 100%;
    opacity: 0.25;
  }

  .white & {
    &:after {
      //background-image: url('../images/gray-dots.png');
      opacity: 1;

    }
  }
}

.text_columns_link_block {
  position: relative;
}


.archive-hero {
  padding-bottom: 0 !important;

  .archive-hero-title {
    font-weight: 700 !important;
    @include font-size(42px, 46px);
    margin-bottom: size(23);
    @include min-medium-screen {
      @include font-size(68px, 72px);
    }
  }

  .archive-hero-text {
    @include font-size(26px, 30px);
    margin-bottom: 0 !important;
    max-width: 100% !important;
    @include min-medium-screen {
      @include font-size(36px, 42px);
    }
  }
}

[ph-ref] {
  display: none;
}

.hidden {
  display: none;
}

.homepage_hero.hero-version-5.resources-hero {
  @include small-screen {
    padding-bottom: size(40);
  }

  span.cta-link {
    color: $propellerhealth_coal;
  }

  .hero-title {
    font-weight: 700;
    text-align: center;
    //text-transform: capitalize;
    @include small-screen {
      @include font-size(36px, 42px);
    }
  }

  .resources-description {
    margin-bottom: 0 !important;
    @include small-screen {
      @include font-size(26px, 30px);
    }
    @include min-medium-screen {
      max-width: size(600) !important;
    }
  }
}


.categories-cont {
  display: flex;
  align-items: center;

  .categories {
    cursor: pointer;
    margin: 0 size(17);

    &:after {
      content: " \00D7";
      margin-left: size(10);
      font-size: 28px;
      line-height: 100%;
    }
  }
}

.image_illustration_in_category {
  .text-and-image {
    border-top: 2px solid #E6E6E7;
    padding-top: size(65);
    @include min-medium-screen {
      padding-top: size(90);
    }
    @include large-screen {
      padding-top: size(118);
    }

    .right-side {
      @include flexBasis(100%);
      margin-bottom: size(78);
      @include min-medium-screen {
        margin-bottom: 0;
        @include flexBasis(41.88%);
      }
      @include large-screen {
        @include flexBasis(40.88%);
      }

      .aspect-ratio {
        width: auto;
        @include min-medium-screen {
          padding-top: 135.154%;
        }
        @include large-screen {
          padding-top: 126.31%;
        }
      }

    }

    .left-side {
      width: 100%;
      @include min-medium-screen {
        width: 47.205%;
        flex-basis: 47.205%;
      }
      @include large-screen {
        width: 41.205%;
        flex-basis: 41.205%;
      }
    }
  }
}


// region fillter

.filter-content {
  display: flex;
  flex-direction: column;
  padding-top: size(26);
  @include small-screen {
    align-items: flex-end
  }
  @include min-medium-screen {
    flex-direction: row;
    padding-top: size(41);


    align-items: center;
  }
  @include medium-screen {
    flex-wrap: wrap;
  }
  border-top: 2px solid $propellerhealth_fog;

}

.search-input-wrapper {
  position: relative;
  max-width: size(285);
  @include small-screen {
    max-width: unset;

    width: 100%;
  }

  .search-input {
    &::placeholder {
      @include font(14px, 400, 15.4px, $propellerhealth_coal, $Lato);
    }

    padding-top: size(8);

    -webkit-appearance: none;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
      appearance: none;
    }

  }

  .search-icon {
    position: absolute;
    right: size(11);
    cursor: pointer;
    @include square(size(20));
    top: 50%;
    transform: translateY(-50%);
    @include min-medium-screen {
      right: size(14);
    }

  }

  &:after {
    content: '';
    position: absolute;
    height: size(27);
    width: 2px;
    background-color: $propellerhealth_primary;
    top: 50%;
    transform: translateY(-50%);
    right: size(42);
    pointer-events: none;

  }

  @include min-medium-screen {
    max-width: size(261);
    margin-right: size(19);

  }

}

.input {
  width: size(285);
  @include small-screen {
    width: 100%;
  }
  position: relative;
  max-height: size(45);
  min-height: size(45);
  @include paddingX(size(17), size(45));
  @include paddingY(size(4), size(8));
  border-radius: 0 size(10) 0 0;
  border: none;
  background-color: rgba(206, 216, 226, 0.25);

  @include min-medium-screen {
    width: size(261);

  }


  &.select {
    appearance: none;
    cursor: pointer;

    option {
      //@include font(14px, 400, 15.4px, $propellerhealth_coal, $Lato);
      @include marginY(size(20));
      @include paddingY(size(20))
    }

  }

  &[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
  }

  &[type=date]::-webkit-datetime-edit-month-field {
    -webkit-appearance: none;
    display: none;
  }

  &[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
  }

  &[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
  }

}

.accordion-in-mob {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid $propellerhealth_fog;
  margin-bottom: size(30);
  @include small-screen {
    align-items: flex-end;
    padding-bottom: size(17);
    width: 100%;

  }
  @include min-medium-screen {
    margin-bottom: size(0);
    flex-direction: row;
    border-bottom: none;
  }

  .show-filter {
    max-width: size(130);
    @include marginY(size(25), size(10));
    -webkit-appearance: none;
    border-radius: 0;

    display: flex;
    align-items: center;

    .show {
      @include font(16px, 400, 24px, $propellerhealth_coal, $Lato);
      text-transform: capitalize;
      transition: visibility $duration, positon $duration;


    }

    .hide {
      @include font(16px, 400, 24px, $propellerhealth_denim, $Lato);
      text-transform: capitalize;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transition: visibility $duration, positon $duration;


    }

    &.active {
      .show {
        opacity: 0;
        visibility: hidden;
        position: absolute;
      }

      .hide {
        opacity: 1;
        visibility: visible;
        position: static;
      }
    }

    .filter-icon {
      margin-left: size(10);
      @include square(size(25));
    }

    @include min-medium-screen {
      display: none;

    }
  }
}

.dropdown-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 0;
  @include small-screen {
    width: 100%;
  }
  @include min-medium-screen {
    flex-direction: row;
    height: auto;
    align-items: center;
  }
}

.select-wrapper {
  position: relative;
  max-width: size(285);
  max-height: size(45);
  min-height: size(45);
  @include small-screen {
    max-width: unset;
    margin-top: size(15);
  }

  .select2-container, .select2 {
    //background-color: rgba(206, 216, 226, 0.25);
    max-height: size(45);
    //.select2-search {
    //  .select2-search, .select2-search--inline {
    //    .select2-search__field {
    //      width: 100% !important;
    //      height: 100% !important;
    //      //@include font(16px, 400, 16px, $propellerhealth_coal, $Lato);
    //      font-size: size(16) !important;
    //    }
    //
    //  }
    //}
    .selection {
      background-color: rgba(206, 216, 226, 0);

      .select2-selection {
        background-color: rgba(206, 216, 226, 0);

        .select2-selection__rendered {
          display: none;

          .select2-search__field {
            display: none;
          }
        }

        //.select2-search {
        //  .select2-search, .select2-search--inline {
        //    .select2-search__field {
        //      width: 100% !important;
        //      height: 100% !important;
        //      @include font(16px, 400, 16px, $propellerhealth_coal, $Lato !important);
        //    }
        //
        //  }
        //}

        @include small-screen {
          width: 100%;
        }
        position: relative;
        max-height: size(45);
        min-height: size(45);
        @include paddingX(size(17), size(45));
        border-radius: 0 size(10) 0 0;
        border: none;
        background-color: rgba(206, 216, 226, 0.25);

        @include min-medium-screen {
          width: size(261);


        }
      }

    }
  }


  svg {
    position: absolute;
    width: size(15);
    height: size(8);
    right: size(14);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    pointer-events: none;

    path {
      stroke: $propellerhealth_denim;
    }
  }

  .down-arrow {
    display: block;
  }

  &:after {
    content: '';
    position: absolute;
    height: size(27);
    width: 2px;
    background-color: $propellerhealth_primary;
    top: 50%;
    transform: translateY(-50%);
    right: size(42);
    pointer-events: none;

  }

  @include min-medium-screen {
    max-width: size(261);

    margin-right: size(19);
    &:last-child {
      margin-right: size(0);

    }
  }

  &.select-calender {
    input[type="date"]::-webkit-calendar-picker-indicator {
      padding: size(15);
    }

    @include large-screen {
      max-width: size(182);

    }

    .input {
      @include large-screen {
        width: size(182);

      }

      &::placeholder {
        @include font(14px, 400, 15.4px, $propellerhealth_coal, $Lato);
      }


      &.input-date {

        padding-right: 0;

        &::-webkit-inner-spin-button,
        &::-webkit-calendar-picker-indicator {
          -webkit-appearance: none;
          opacity: 0;
        }

      }
    }

    .calendar {
      display: block;
      @include square(size(20));
    }

    .down-arrow {
      display: none;
    }

  }

}

.select-wrapper {
  position: relative;

  .select-placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    pointer-events: none;
    font-family: 'Lato';
    font-weight: 400;
    font-size: size(14);
    line-height: 110%;
    color: $propellerhealth_coal;
  }
}

.filter-results-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 0;
  overflow: hidden;
  visibility: hidden;

  &.active {
    visibility: visible;
  }

  @include min-medium-screen {
    overflow: visible;
    margin-top: size(30);
  }

  .categories-cont {

    .categories {

      &:after {
        font-size: size(25);
        transition: color $duration;

      }

      &:hover {
        &:after {
          color: $propellerhealth_beet;
        }
      }
    }
  }

  .categories {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    @include font(16px, 700, 26.85px, inherit, $Lato);

    &:first-child {
      margin-left: size(10);
    }

    @include min-medium-screen {
      &:first-child {
        margin-left: size(25);
      }

    }
    /*
        .close {
          @include square(size(13));
          margin-left: size(10);
          cursor: pointer;
          transition: path $duration;

          &:hover {
            path {
              stroke: red;

            }
          }
        }

     */
  }

}


// endregion

// region select
.select2-dropdown {
  border: 0;
  transform: translateY(-2px);
}


.select2-container--default .select2-search--inline .select2-search__field {
  @include font(14px, 400, 16px, $propellerhealth_coal);
  margin: 0;
}

.select2-search--dropdown {
  background-color: rgba(206, 216, 226, 0.25);
}

.select2-results__option--selectable {
  @include font(14px, 400, 16px, $propellerhealth_coal);
  text-align: left;
  @include paddingY(size(9));

}

.select2-results__option {
  @include font(14px, 400, 16px, $propellerhealth_coal);
  @include paddingY(size(10));
}

.select2-container--default .select2-results__option--selected {
  background-color: $propellerhealth_hover_color;
  color: $propellerhealth_white;
}

.select2-results__option--highlighted.select2-results__option--selectable {
  transition: background-color $duration, color $duration;
  text-align: left;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  transition: background-color $duration;
  background-color: $propellerhealth_hover_color !important;
  color: $propellerhealth_white;
}

.select2-container--default .select2-results > .select2-results__options {
  background-color: #F2F5F7;
  border-radius: 0 0 size(10) size(10);

}


.select-wrapper .select2-container .selection .select2-selection, .select-wrapper .select2 .selection .select2-selection {
  display: flex;
  align-items: center;
  @include paddingY(size(15), size(10));
  @include paddingX(size(10), size(10));

  .categories {
    cursor: pointer;
    margin: 0 size(17);

    &:after {
      content: " \00D7";
      margin-left: size(10);
      font-size: 28px;
      line-height: 100%;
    }
  }
}

// endregion
.select2-selection__arrow {
  display: none;
}

.load-more-resources {
  margin-top: 0;
  @include small-screen {
    margin-top: size(42);
    //margin-top: size(4);
  }
  @include min-medium-screen {
    margin-top: size(50);
  }
  @include marginX(auto);
}

.filter-wrapper {
  padding-bottom: size(16);
  @include min-medium-screen {
    padding-bottom: size(84);
  }
}


.image_illustration_in_category {
  @include paddingY(size(28), size(50));
  @include min-medium-screen {
    @include paddingY(size(30), size(150));
  }
  @include large-screen {
    @include paddingY(size(38), size(216));
  }

  .text-and-image {
    border-top: 2px solid #E6E6E7;
    padding-top: size(82);
    @include min-medium-screen {
      padding-top: size(90);
    }
    @include large-screen {
      padding-top: size(118);
    }

    .right-side {
      @include flexBasis(100%);
      margin-bottom: size(78);
      @include min-medium-screen {
        margin-bottom: 0;
        @include flexBasis(41.88%);
      }
      @include large-screen {
        @include flexBasis(40.88%);
      }

      .aspect-ratio {
        width: auto;
        padding-top: 124.04%;
        @include min-medium-screen {
          padding-top: 135.154%;
        }
        @include large-screen {
          padding-top: 126.31%;
        }
      }

    }

    .left-side {
      width: 100%;
      @include min-medium-screen {
        width: 47.205%;
        flex-basis: 47.205%;
      }
      @include large-screen {
        width: 40.605%;
        flex-basis: 40.605%;
      }
    }
  }
}


.webinar-video {
@include paddingY(size(80));
  h2 {
    text-align: center;
    font-size: size(16) !important;
    line-height: size(22) !important;
    color: $propellerhealth_coal !important;
    font-weight: 400 !important;
    @include min-medium-screen {
      font-size: size(36) !important;
      line-height: size(42) !important;
    }
  }

  .videoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 0;
    padding-top: 56%;
    @include min-medium-screen {
      max-width: 80%;
      margin: 0 auto;
    }

    img, video, iframe {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
