// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$propellerhealth_black: var(--propellerhealth_black);
$propellerhealth_white: var(--propellerhealth_white);
$propellerhealth_denim: var(--propellerhealth_denim);
$propellerhealth_denim_20: var(--propellerhealth_denim_20);
$propellerhealth_primary: var(--propellerhealth_primary);
$propellerhealth_primary_blue_alt: var(--propellerhealth_primary_blue_alt);
$propellerhealth_amethyst: var(--propellerhealth_amethyst);
$propellerhealth_beet: var(--propellerhealth_beet);
$propellerhealth_moss: var(--propellerhealth_moss);
$propellerhealth_coal: var(--propellerhealth_coal);
$propellerhealth_mint: var(--propellerhealth_mint);
$propellerhealth_primary_tint: var(--propellerhealth_primary_tint);
$propellerhealth_amethyst_20: var(--propellerhealth_amethyst_20);
$propellerhealth_fog: var(--propellerhealth_fog);
$propellerhealth_fog_50: var(--propellerhealth_fog_50);
$propellerhealth_fog_20: var(--propellerhealth_fog_20);
$propellerhealth_hover_color: var(--propellerhealth_hover_color);

// fonts
$Lato: 'Lato';


//default duration
$duration: 500ms;
//override bootstrap variables
$grid-gutter-width: 4rem;
$container-padding-sm: 3.5rem;
$container-padding-md: 5rem;
$container-padding-lg: 14rem;
$container-large-padding-lg: 16rem;
$container-max-widths: (
  'md': 100%, //570px
  'lg': 144rem, //760px 88.4
);
$grid-breakpoints: (
  'xs': 0,
  'md': $medium-screen-min-width,
  'lg': $large-screen-min-width,
);


