
@import "styles/sites/propellerheath";


.icons_text_block {
  @include paddingY(size(22), size(44));
  background-color: #fdfdff;
  @include min-medium-screen {
    @include paddingY(size(100), size(65));
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include marginX(auto);

    .title {
      text-align: center;
      margin-bottom: size(26);
      @include min-medium-screen {
        margin-bottom: size(70);
      }
      @include small-screen {
        max-width: size(320);
        strong {
          display: block;
        }
      }
      @include large-screen {
        margin-bottom: size(0);
      }
    }

    .icons-wrapper {
      @include max-medium-screen {
        @include change-gutter(size(30), size(30));
      }
    }
  }

  .card {
    text-align: center;
    @include small-screen {
      max-width: size(305);
    }

    .svg-wrapper {
      margin-bottom: size(9);
      @include marginX(auto);
      width: size(140);
      height: size(150);
      @include flex(center, center);
      &:hover {
        &.moving-shape {
          &:after {
            opacity: 0.25;

          }
        }
      }

      svg {
        max-width: size(120);
        max-height: size(100);
      }
    }

    .card-sub-title {
      color: $propellerhealth_denim;
      font-size: size(16);
      @include marginY(size(8))

    }

    .card-title {
      width: size(240);

      margin-bottom: size(12);
      @include font-size(20px, 26px);
      @include min-medium-screen {
        @include font-size(24px, 30px);
        @include marginY(size(8), size(4));
      }
    }

    .description {
      @include min-medium-screen {
        @include font-size(16px, 24px);

      }
    }

  }

  .btn {
    margin-top: size(60);
    display: block;
    @include marginX(auto);
    text-align: center;
  }

  .card-wrapper {
    .card {
      @include marginX(auto);

      .card-title {
        @include marginX(auto);
      }
    }
    &:nth-child(3n+1) {
      .svg-wrapper:after {

        clip-path: url(#shape-3);
      }
    }

    &:nth-child(3n+2) {
      .svg-wrapper:after {

        clip-path: url(#shape-2);

      }
    }

    &:nth-child(3n+3) {
      .svg-wrapper:after {

        clip-path: url(#shape-4);


      }
    }
    &:nth-child(3n+4) {
      .svg-wrapper:after {
        clip-path: url(#shape-1);

      }
    }
  }

  .moving-shape {
    &:after {
      width: size(120);
      height: size(120);
      opacity: 0.25;
      transition: opacity $duration;
      background-color: #DDCFE6;
    }
  }

  &.theme-1 {
    .main-content {

      @include min-medium-screen {
        max-width: size(1052);
        @include marginX(auto);
      }

      .title {
        max-width: size(628);
        text-align: center;
        @include min-medium-screen {
          margin-bottom: size(56);
        }
      }
    }

    .icons-wrapper {
      @include large-screen {
        @include change-gutter(size(60), size(40));
      }
    }

    .btn {
      margin-top: size(40);
    }

    &.col-number-4 {
      .icons-wrapper {
        @include large-screen {
          @include change-gutter(size(40), size(40));
        }
      }
    }
  }

  &.theme-2 {

    .main-content {
      @include large-screen {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: size(1090);
      }

      .title {
        max-width: size(382);
        flex-shrink: 0;
      }
    }

    .card-title {
      width: 100%;

    }

    .description {
      @include large-screen {
        max-width: size(261);
      }
    }

    .icons-wrapper {
      flex-shrink: 0;

      @include large-screen {
        max-width: size(680);

        @include change-gutter(size(70), size(70));
      }
    }

  }

  &.theme-3 {
    background-color: $propellerhealth_fog_20;
    @include paddingY(size(70), size(78));
    @include min-medium-screen {
      @include paddingY(size(90), size(98));
    }

    .main-content {
      display: block;

      @include large-screen {
        max-width: size(1135);
        @include marginX(0);
      }

      .icons-wrapper {
        @include min-medium-screen {
          @include change-gutter(size(60), size(60));
        }
        @include large-screen {
          @include change-gutter(size(145), size(120));
        }
      }

      .title {
        margin-bottom: size(45);
        text-align: left;

      }

      .card {
        text-align: left;
        @include small-screen {
          max-width: 100%;
          @include marginX(0);
        }

        .svg-wrapper {
          @include square(size(52));
          @include marginX(0);
          margin-bottom: size(20);

          &:after {
            display: none;
          }
          svg {
            &:hover {
              path {
                fill: $propellerhealth_primary  ;
                stroke: none;
              }
            }
          }
        }

        .card-title {
          width: 100%;
          @include marginX(0);
          margin-bottom: size(32);
          @include font-size(26px, 30px);
          @include min-medium-screen {
            @include font-size(36px, 42px);
          }
        }

        .description {
          @include large-screen {
            max-width: size(478);
          }
        }
      }


    }
  }
}




