@import "styles/sites/propellerheath";

header {
  position: fixed;
  z-index: 99;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  $nav_top: 8rem;
  $padding_top_search: 1rem;
  $input_height: 5.2rem;
  box-shadow: 0 size(2) size(25) rgba(0, 0, 0, 0.15);
  transition: box-shadow $duration, transform $duration;
  background-color: $propellerhealth_white;
  transform: translate(0);

  @include large-screen {

  }
  //&:focus{
  //  border:1px solid red;
  //}

  .custom-form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @include max-medium-screen {
      justify-content: flex-end;
    }
  }

  .menu-top-menu-container {
    order: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    @include marginX(auto);
    @include max-medium-screen {
      margin-top: size(60);

    }
    @include large-screen {
      padding: 0;
      margin-top: 0;
      margin-left: auto;
      margin-right: initial;
      order: 0;
      margin-bottom: size(11.22);
    }

    .top-menu {
      @include flex(center, false, row);
      flex-wrap: wrap;
      list-style: none;
      @include marginX(size(-1.6));

      .menu-item {
        @include max-medium-screen {
          margin-bottom: size(20);
          justify-content: center;
        }
        @include marginX(size(1.6));
        position: relative;

        &:not(:last-child) {
          margin-right: size(22);

          &:after {
            content: "";
            position: absolute;
            top: 50%;
            height: 100%;
            width: 1px;
            background-color: #707174;
            left: calc(100% + 1rem );
            transform: translateY(-50%);
          }
        }

        .p-link {
          @include font(14px, 400, 15.4px, #707174, $Lato);

          //&.header-link-active {
          //  font-weight: 700;
          //  color: $propellerhealth_coal;
          //}

          &:hover {
            color: $propellerhealth_denim;
          }
        }
      }
    }

    .lg-search {
      position: relative;
      padding-left: size(6);
      border-left: size(3) solid #E6E6E7;
      margin-left: size(26);
      display: flex;
      align-items: center;

      @include max-medium-screen {
        display: none;
      }

      .search-svg {
        margin-left: size(5);
        width: size(14);
        height: size(14);
        cursor: pointer;
      }


      input {
        @include font(14px, 400, 15.4px, $propellerhealth_coal, $Lato);
        width: size(84);
        min-width: size(84);
        border: 2px solid transparent;
        padding: size(5) size(10);
        border-radius: 0 size(20) 0 size(20);
        max-width: size(500);
        text-align: right;
        -webkit-appearance: none;
        appearance: none;
        transition-property: background-color, min-width, border-color;
        transition-duration: $duration;
        transition-timing-function: ease;

        &::placeholder {
          @include font(14px, 400, 15.4px, $propellerhealth_coal, $Lato);
        }

        @include large-screen {
          &:focus {
            //border-radius: 32px;
            border-color: $propellerhealth_primary;
            min-width: size(210);
          }
          width: size(114);
          min-width: size(114);
          padding: size(5) size(50) size(5) size(10);
          margin-right: size(-41);
        }

      }

      .open-input {
        //background-color: #ececef;
        //border-radius: 32px;
        border-color: $propellerhealth_primary;
        min-width: size(210);

      }
    }

  }


  .logo-and-menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    z-index: 80;
    transition: background-color $duration;


    @include large-screen {
      width: fit-content;

    }


  }

  $bottomMenuPB: 0.4rem;

  .bottom-menu {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.5);
    justify-content: space-between;

    padding: size(12) size(20);
    @include min-medium-screen {
      padding: size(18.6) size(56) size(18.6);
    }

    @include large-screen {
      flex-direction: row;
      align-items: center;
      max-width: size(1440);
      @include marginX(auto);

      background: rgba(255, 255, 255, 0.5);
      transition: padding, background-color;
      transition-duration: 400ms;

    }

    .burger-and-menu {
      z-index: 90;
    }

    // burger menu
    .burger-menu {
      @include square(size(20));
      z-index: 10;
      cursor: pointer;
      transform: translate3d(0, 0, 0);
      flex-shrink: 0;
      border: none;
      background: transparent;
      padding: 0;
      display: block;
      @include min-medium-screen {
        @include square(size(20));
      }

      &:focus {
        outline: none !important;
      }

      span {
        display: block;
        width: 100%;
        height: size(3);
        margin-bottom: size(5);
        position: relative;
        z-index: 1;
        transition: color $duration;
        color: $propellerhealth_denim;

        &:after, &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: currentColor;
          opacity: .99;
          transition: background-color $duration;
          display: table;
        }

        &:nth-of-type(even) {
          &:before {
            transform-origin: right;
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }

          &:after {
            transform-origin: left;
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }
        }

        &:before {
          transform-origin: right;
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }

        &:after {
          transform-origin: left;
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }

        &:last-child {
          margin: 0 auto;
        }
      }

      @include large-screen {
        display: none;
      }

      &:hover {
        span {

          &:nth-of-type(even) {
            &:before {
              transform: scaleX(1) translateZ(0);
              transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
            }

            &:after {
              transform: scaleX(0) translateZ(0);
              transition: transform .6s cubic-bezier(.165, .84, .44, 1);
            }
          }

          &:before {
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }

          &:after {
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }

        }
      }
    }
  }

  .header-logo {
    flex-shrink: 0;
    width: size(214);
    height: size(35);
    object-fit: cover;

    @include min-medium-screen {
      width: size(338);
      height: size(55);
    }

    img, svg {
      @include square(100%);
    }
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $propellerhealth_white;
    //height: calc(100vh - #{size(59)});
    @include max-medium-screen {
      position: absolute;
      width: 100%;
      height: calc(100vh - #{size(59)});
      top: 100%;
      left: 0;
      overflow: auto;
      transform: translateX(-100%);
      transition: transform $duration ease;
      pointer-events: none;
      align-items: flex-start;
    }

    .navbar-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      @include max-medium-screen {
        height: auto;

        padding-bottom: size(50) !important;
      }
      @include small-screen {
        padding-bottom: size(20) !important;
      }
      margin-top: size(28);
      padding: size(12) size(55) size(12) size(55);
      @include min-medium-screen {
        padding: size(20.34) size(56) size(19.77);
      }
      @include large-screen {
        margin-top: 0;
        padding: 0;
        align-items: flex-end;
        height: 100%;
      }

      .main-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        @include large-screen {
          width: fit-content;
          flex-direction: row;
          margin-left: auto;
        }

        .primary-menu {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;

          @include large-screen {
            flex-direction: row;
            justify-content: center;
            width: fit-content;
            height: 100%;
          }

          .menu-item {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            color: $propellerhealth_coal;
            width: 100%;
            padding-bottom: size(16.6);
            border-bottom: size(1) solid $propellerhealth_fog;
            margin-bottom: size(9.5);
            @include large-screen {
              border-bottom: none;
              padding-bottom: 0;
              margin-bottom: 0;
              width: fit-content;
              &:not(:last-child) {
                margin-right: size(17);
              }
              &:hover {
                .menu-link {
                  color: $propellerhealth_primary;
                }

                svg {
                  path {
                    stroke: $propellerhealth_primary;
                  }
                }
              }
              &:focus {
                .menu-link {
                  color: $propellerhealth_primary;
                }

                svg {
                  path {
                    stroke: $propellerhealth_primary;
                  }
                }
              }
              &.active-header-link {

                &:after {
                  transform: scaleX(1);
                }

                .menu-link {
                  position: relative;
                  color: $propellerhealth_denim;

                }

                svg {
                  path {
                    stroke: $propellerhealth_denim;
                  }
                }
              }
              &.has-megaMenu {
                a {
                  &.header-link-active {
                    color: $propellerhealth_denim;

                    &:after {
                      width: calc(100% + 2rem);
                      left: 0;
                      transform: unset;
                    }
                  }

                }
              }
              a {
                position: relative;
                transition: color $duration;

                &:after {
                  content: '';
                  position: absolute;
                  top: 110%;
                  left: 50%;
                  width: 0;
                  height: 2px;
                  background-color: $propellerhealth_primary;
                  transform: translateX(-50%);
                  transition: width $duration;
                }

                &.header-link-active {
                  color: $propellerhealth_denim;

                  &:after {
                    width: 100%
                  }
                }

                &.header-sublink-active {
                  color: $propellerhealth_denim;

                  &:after {
                    width: 100%
                  }
                }
              }


            }

            .menu-link {
              @include font(24px, 600, 33.6px, $propellerhealth_coal, $Lato);
              position: relative;
              cursor: pointer;
              @include large-screen {
                font-weight: 600;
                @include font-size(16px, 22.4px);
                width: fit-content;
                display: inline-block;
              }
            }

            .svg-wrapper {
              cursor: pointer;
              padding: size(3) size(9.95);
              @include min-medium-screen {
                padding: size(5);
              }
            }

            svg {
              width: size(15.05);
              height: size(7.39);
              transition: transform $duration ease;
              cursor: pointer;
            }

            &.active-header-link {
              svg {
                transform: scaleY(-1);
              }
            }
          }


        }

        .cta-button {
          margin-right: auto;
          margin-top: size(32.2);
          padding: 0;
          height: size(34.24);
          @include font(14px, 600, 14px, $propellerhealth_white, $Lato);
          min-width: size(115);
          border-radius: 0 size(10) 0 size(10);
          margin-bottom: size(30);
          @include large-screen {
            margin-bottom: 0;
            margin-top: 0;
            margin-left: size(26);
            @include paddingY(size(6))
          }
        }
      }


      .has-megaMenu {
        position: relative;
        @include large-screen {

          &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: size(60);
            pointer-events: none;
          }

        }
      }


      .sub-menu {

        display: flex;
        flex-direction: column;
        width: 100%;
        height: 0;
        overflow: hidden;

        @include large-screen {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          flex-direction: row;
          align-items: center;
          background: $propellerhealth_white;
          min-width: size(227);
          text-align: center;
          position: absolute;
          left: 100%;
          top: calc(100% + #{$bottomMenuPB});
          transform: translate(-50%, size(20));
          transition-property: opacity, transform, visibility;
          transition-duration: $duration;
          margin-bottom: 0;
          //filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.1));
          box-shadow: 0 size(10) size(15) rgba(0, 0, 0, 0.1);
          border-bottom-right-radius: size(30);
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: #0075E3;
            width: 100%;
            height: size(5);

          }
        }

        .aspect-ratio {
          @include square(size(44));
          background: #DDDDDD;
          border-radius: 50%;
          margin-right: size(10);
          flex-shrink: 0;

          @include large-screen {
            margin-right: 0;
            @include square(size(180));
            background: rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            margin-bottom: size(31);
            padding-top: 79.2px;
          }

          img {
            @include square(100%);
            left: unset;
            top: unset;
            bottom: 0;
          }
        }

        .btn-arrow {
          display: flex;
          margin: auto;
          width: fit-content;
          align-items: center;

          svg {
            padding-top: 2px;
          }
        }

        .btn {
          color: $propellerhealth_coal;
          @include marginX(auto);
          padding: 0;
          cursor: pointer;
        }
      }

      .list-items {
        padding: size(15) 0 size(15);
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        width: 100%;


        .item-1 {
          margin-bottom: size(12);
          @include paddingX(size(11));
          width: 100%;
          transition: background-color $duration ease;

          &:hover {
            background-color: #F5F5F5;

            .paragraph {
              color: $propellerhealth_hover_color;
            }
          }

          &:focus {
            background-color: #F5F5F5;

            .paragraph {
              color: $propellerhealth_hover_color;
            }
          }

          .paragraph {
            transition: color $duration ease;
            @include min-medium-screen {
              @include font(16px, 400, 29.84px, $propellerhealth_coal, $Lato);
            }

            //&:hover {
            //  color: $propellerhealth_hover_color;
            //}
          }

          &:last-child {
            margin-bottom: 0;
          }

        }
      }


      .my-paragraph {
        padding: 0;
        @include font(14px, 400, 21px, $Lato, false);
        color: #173261b3;
        @include min-medium-screen {

        }
        @include large-screen {
          @include font(14px, 400, 21px, $Lato, false);
          color: #173261;
          margin: 0 auto size(16);

        }
      }


    }

    &.navbar-active {
      transform: translateX(0);
      pointer-events: auto;
      background-color: white;

    }
  }

  [role="navigation"] {
    width: 100%;
  }

  #search {
    display: none;
    @include large-screen {
      display: flex;
      transition: 0.3s;
      cursor: pointer;
    }
  }

  .input-search-wrapper {
    position: relative;
    width: 100%;
    height: size(62);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: opacity $duration;
    border-bottom: 1px solid #E6E6E7;
    padding-bottom: size(19.25);
    margin-bottom: size(11);


    @include large-screen {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      z-index: 99;
      margin-bottom: 0;
      opacity: 0;
      pointer-events: none;
      padding: size(10) size(30);
      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }

    form {
      width: 100%;
    }

    input {
      width: 100%;
      border: 2px solid transparent;
      transition: border-color $duration;
      border-radius: 0 size(20) 0 size(20);
      @include font(14px, 400, 15.4px, $propellerhealth_black, $Lato);
      -webkit-appearance: none;
      background-color: transparent;
      @include max-medium-screen {
        @include paddingX(size(20));

      }
      @include paddingY(size(10));
      position: absolute;

      &::-webkit-search-cancel-button {
        display: none;
      }

      &:focus {
        border-color: $propellerhealth_primary;
        min-width: size(210);
      }

    }
  }

  .search-popup {
    width: 100%;
    @include large-screen {
      width: fit-content;
    }
  }

  .close-search {
    cursor: pointer;
    display: none;

    &.close-search-active {
      display: block;
      opacity: 1;
      pointer-events: auto;
    }

    &:hover {
      path {
        fill: $propellerhealth_amethyst;
      }

    }
  }

  .search-result {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 3;
    top: $nav_top;
    left: 0;
    background: $propellerhealth_white;
    width: 100%;
    height: calc(100vh - 6.8rem);
    transition: opacity 500ms ease;

    @include paddingY(size(30));
    @include paddingX(size(32));
    @include large-screen {
      top: 100%;
      padding: size(30) size(30) size(30) size(90);
      height: calc(100vh - var(--header-height));
      max-height: initial;
      z-index: 3;

    }

    .search-menu {
      flex-direction: column;
      list-style: none;
      color: $propellerhealth_white;
      transition: opacity 500ms ease;
    }

    .search-item {
      margin-bottom: size(30);
      @include font(14px, 400, 15.4px, $propellerhealth_black, $Lato);

    }
  }

  .lds-roller {
    position: absolute;
    z-index: 5;
    top: $nav_top;
    left: 50%;
    transform: translateX(-50%);
    @include large-screen {
      top: calc(100% + 6rem);
    }
  }

  .open-search-result {
    opacity: 1;
    pointer-events: auto;
  }

  .par-search {
    display: none;
    text-align: center;
    width: 70%;
    margin: size(50) auto size(30);
    color: #A5B4C4;
  }

  .cart-number {
    position: absolute;
    left: calc(100% - 0.7rem);
    bottom: calc(100% - 1.1rem);
    @include square(size(17));
    background: $propellerhealth_coal;
    color: $propellerhealth_white;
    border-radius: 50%;
    text-align: center;
    line-height: size(17);
    font-size: size(11);
    @include large-screen {
      color: $propellerhealth_coal;
      background: $propellerhealth_white;
      font-size: size(13);
    }
  }

  .foucs-menu {
    border: 1px solid red;
  }


  .search-icon {
    @include max-medium-screen {
      margin-right: size(10);
    }
  }

  &.other-header {
    .bottom-menu {
      background-color: #F5F5F5;
    }
  }

  &.header-active {

    .menu span {
      background: $propellerhealth_black;
    }
  }

  .hide {
    display: none;
  }


  &.sticky {
    transform: translateY(-100%);
    box-shadow: unset;

    .bottom-menu {
      .menu span {
        background: $propellerhealth_black;
      }
    }
  }

  &.fixed {
    box-shadow: none;
    transform: translateY(0);
    transition: transform $duration, box-shadow $duration;
  }

}
