
@import "styles/sites/propellerheath";

.filter_and_posts_block {
  padding-bottom: size(28);
  @include min-medium-screen {
    padding-bottom: size(30);
  }
  @include large-screen {
    padding-bottom: size(38);
  }
}





