@import "styles/sites/headversity";

.text_and_image_block {
  @include paddingY(size(104), size(54));
  @include min-medium-screen {
    @include paddingY(size(124));

  }

  .container {
    @include paddingX(0);
    @include min-medium-screen {
      @include paddingX(0, size(101));
    }

  }

  &.reversed {
    .text-and-image-wrapper {
      flex-direction: row-reverse;
    }

    .container {
      @include paddingX(0);
      @include min-medium-screen {
        @include paddingX(size(101), 0);
      }

    }
  }

  .text-and-image-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;


  }

  .text-img {
    padding-top: 111.11%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .left-content {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(53.77%);
    }
  }

  .right-content {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(38.16%);
    }
    @include small-screen {
      @include paddingX(size(27), size(17));
      margin-top: size(63);
    }
  }

  .right-text {
    max-width: size(480);
    margin-bottom: size(30);
    @include medium-screen {
      font-size: size(36);
    }
  }

  .right-description {
    max-width: size(430);
    margin-bottom: size(48);

  }
}
