
@import "styles/sites/eisgroup";




.resource_block_subscribe {
  @include paddingY(size(111), size(66));

  .shape {
    position: absolute;
    right: 0;
    z-index: auto;
    top: 0;
    height: 100%;
    overflow: hidden;

    @include small-screen {
      width: calc(100% + 4rem);
      margin: 0 -2rem;
    }


    svg {
      height: 100%;
      width: 140%;
      @include min-medium-screen {
        width: 100%;
      }
    }
  }

  .subscribe-wrapper {
    background: #FFFFFF;
    //box-shadow: 0 4px 20px rgb(0 , 0 , 0 ,0.1);
    border-radius: 3px;
    position: relative;
    @include paddingX(size(20));
    padding-top: size(40);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    @include max-medium-screen {
      flex-direction: column;
    }
    @include min-medium-screen {
      @include paddingY(size(80));
      @include paddingX(size(50));
    }
    @include large-screen {
      @include paddingX(size(100));
    }
  }

  .left-content {
    @include flexBasis(100%);
    padding-bottom: size(40);
    @include min-medium-screen {
      @include flexBasis(46.16%);
    }
    @include large-screen {
      @include flexBasis(54.16%);
      padding-bottom: 0;
    }
    @include max-medium-screen {
      @include flexBasis(100%);
    }
  }

  .left-title {
    margin-bottom: size(10);
    @include min-medium-screen {
      margin-bottom: size(20);
    }
  }

  .right-content {
    @include flexBasis(100%);
    z-index: 1;
    @include min-medium-screen {
      @include flexBasis(48.8%);
    }
    @include large-screen {
      @include flexBasis(40.8%);
    }
    @include small-screen {
      padding-bottom: size(52);
      padding-top: size(31);
      position: relative;
    }
    @include max-medium-screen {
      @include flexBasis(100%);
    }
  }

  .form-wrapper {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background: #FFFFFF;
    z-index: 1;
    position: relative;
    @include max-medium-screen {
      padding: size(30);
    }
    @include large-screen {
      padding: size(40);
    }
  }

  .form-title {
    max-width: size(341);
    margin-bottom: size(20);
  }

  .remove-in-small {
    @include small-screen {
      display: none;
    }
  }

  .show-in-small {
    width: 100% !important;
    @include min-medium-screen {
      display: none;
    }
  }
}
