@import "styles/sites/raistone";


.image_and_description_block {
  position: relative;
  z-index: 2;
  @include paddingY(size(70), size(72));
  @include min-medium-screen {
    @include paddingY(size(164), size(128));
  }
  @include large-screen {
    @include paddingY(size(82), size(65));
  }

  .container {
    @include paddingX(0);
    @include min-medium-screen {
      @include paddingX(size(24));
    }
    @include large-screen {
      @include paddingX(size(120));
    }
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include large-screen {
      flex-direction: row;
    }

  }

  .left-content {
    @include flexBasis(100%);
    @include paddingX(size(20));
    @include min-medium-screen {
      @include paddingX(size(25));
    }

    @include large-screen {
      @include flexBasis(47.26%);
      padding: 0;
    }


    .description {
      color: rgba(0, 0, 0, 0.8);
      @include small-screen {
        @include font-size(18px, 26px);

      }
    }

    .paragraph {
      color: $raistone_white;
    }
  }

  .aspect-ratio {
    padding-top: 119%;

  }

  .right-content {
    @include flexBasis(100%);
    margin-top: size(48);
    @include min-medium-screen {
      margin-top: size(86);
    }
    @include large-screen {
      margin-top: 0;
      @include flexBasis(42.9%);
      @include paddingX(0);
    }

    .aspect-ratio {
      padding-top: 109.5%;
      @include large-screen {
        padding-top: 112.87%;
      }
    }

  }


  .theme-1, .theme-2, .theme-3, .theme-4 {
    position: relative;

    .theme-one-inner2 {
      @include small-screen {
        max-height: size(240);
      }
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 82%;
      height: size(480)
    }

    .content-image {
      @include square(100%);
      object-fit: cover;

      &.contain {
        object-fit: contain;
      }
    }

  }

  .theme-1 {

    .theme2-pic1, .theme3-pic1, .theme4-pic1 {
      display: none;
    }
  }

  .theme-2 {
    .theme1-pic1, .theme3-pic1, .theme4-pic1 {
      display: none;
    }
  }

  .theme-3 {
    .theme1-pic1, .theme2-pic1, .theme4-pic1 {
      display: none;
    }
  }

  .theme-4 {
    .theme1-pic1, .theme2-pic1, .theme3-pic1 {
      display: none;
    }
  }

  .sub-title {
    font-weight: 700;
    @include font-size(16px, 20px);
    margin-bottom: size(15);
    color: $raistone_jet_black;
  }

  .main-title {
    margin-bottom: size(24);
    color: $raistone_jet_black;
  }

  .cta-button {
    background-color: $raistone_green;
    color: $raistone_white;
    margin-top: size(32);
    @include small-screen {
      @include paddingX(size(20));
      font-size: size(16);
    }
    @include min-medium-screen {
      min-width: size(448);
      margin-top: size(80);

    }

    &:hover {
      background: $raistone_mid_green;
    }
  }

  &.title-and-description {
    .left-content {
      @include large-screen {
        padding-top: size(65);
      }

      .paragraph {
        color: rgba(0, 0, 0, 0.8);
      }
    }

    .main-title {
      color: $raistone_jet_black;
      margin-bottom: size(18);
      font-weight: 600;
      @include large-screen {
        max-width: size(675);
        @include font-size(32px, 50px);
      }
    }

  }

  &.only-description {
    @include large-screen {
      @include paddingY(size(70), size(65));
    }

    .content-wrapper {
      @include large-screen {
        max-width: 97%;
      }

      .left-content {
        @include large-screen {
          padding-top: size(20);
          @include flexBasis(49.64%);
        }

        .description {
          font-family: $montserrat;
          color: $raistone_gery;
          font-weight: 500;

          @include small-screen {
            @include font-size(23px, 36px);
          }

          @include large-screen {
            @include font-size(32px, 55px);
          }
        }
      }

      .right-content {

        @include large-screen {
          @include flexBasis(44.3%);
        }
      }
    }
  }

  &.has-cta-button {
    @include large-screen {
      @include paddingY(size(39), size(88));
    }

    .content-wrapper {
      display: flex;
      align-items: center;
    }

    .left-content {
      @include large-screen {
        @include flexBasis(37.05%);
      }

      .description {
        color: $raistone_gery;
        @include font-size(26px, 36px);
      }
    }
  }

  &.dark-theme {
    background: $raistone_plum;
    @include large-screen {
      @include paddingY(size(147), size(149));
    }

    .content-wrapper {

      .left-content {
        .sub-title {
          color: $raistone_white;
        }
      }

      .main-title {
        color: $raistone_white;
      }

      .description {
        color: $raistone_white;
        @include large-screen {
          margin-bottom: size(70);
        }
      }

      .cta-button {
        background-color: $raistone_canary;
        color: $raistone_jet_black;
        @include min-medium-screen {
          min-width: size(426);
        }

        &:hover {
          background: $raistone_mid_canary;
        }
      }

    }

    &:after {
      content: "";
      width: size(208);
      height: size(201);
      position: absolute;
      bottom: 0;
      left: 0;
      background: $raistone_mid_plum;
      opacity: 0.5;
      clip-path: polygon(0 0, 0% 100%, 100% 100%);
      pointer-events: none;
      z-index: -1;
      @include min-medium-screen {
        width: size(336);
        height: size(325);
      }
      @include large-screen {
        width: size(464);
        height: size(448);
      }
    }

  }

  .reverse {
    @include large-screen {
      flex-direction: row-reverse;
    }
  }
}
