
@import "styles/sites/senet";


.second_content_link_block {
  @include paddingY(0, 25px);
  @include min-medium-screen {
    @include paddingY(0, 40px);
  }
  .headline-2 {
    color: #3A65C1;
  }
  .cards {
    background: #FFFFFF;
    box-shadow: 0 4px 19px 8px rgba(17, 43, 100, 0.09);
    padding: 25px;
    justify-content: space-between;
    @include min-medium-screen {
      padding: 76px;
    }

    .card-title-description {
      display: flex;
      flex-direction: column;
      @include large-screen {
        flex-direction: row;
        justify-content: space-between;
      }

      .left-title {
        flex-shrink: 0;
        flex-grow: 1;
        @include large-screen {
          margin-right: 52px;
        }

        .title-card {
          margin-bottom: 0;
          @include small-screen {
            font-size: 21px;
            line-height: 26.19px;
          }
        }

        margin-bottom: 5px;
        @include large-screen {
          margin-bottom: 0;
          max-width: 33%;
        }
      }

      .right_description {
        margin-bottom: 0;
        margin-top: 0;
        color: #616161;
        @include large-screen {
          width: 58.63%;
          margin-top: 0;
        }

        p {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

    .link {
      margin-top: 13px;

      a {
        color: #FF5900;
        display: inline-block;
        font-weight: 700;
        @include small-screen {
          font-size: 13px;
        }
      }

      path {
        fill: #FF5900;
      }

      @include small-screen {
        margin-right: auto;
      }
    }
  }
}


