
@import "styles/sites/propellerheath";

.research_collaborators_block {
  overflow: hidden;
  @include paddingY(size(75));
  background-color: $propellerhealth_fog_20;
  @include min-medium-screen {
    @include paddingY(size(60));
  }

  .title {
    text-align: center;
    margin-bottom: size(25);
    font-weight: 700;
  }

  .description {
    text-align: center;
    margin-bottom: size(25);
    @include marginX(auto);
    @include min-medium-screen {
      max-width: size(720);
    }
  }

  .logos {
    margin-bottom: size(30);
    display: flex;
    align-items: center;
    max-width: size(880);
    width: 100%;
    flex-wrap: wrap;
    @include marginX(auto);
    @include small-screen {
      justify-content: center;
    }
    @include min-medium-screen {
      margin-bottom: size(40);
      width: size(880);

    }

    .square {
      width: size(200);
      height: size(109.22);
      margin-bottom: size(20);
      margin-right: size(20);
      background-color: $propellerhealth_white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;


      @include min-medium-screen {
        &:nth-child(4n) {
          margin-right: 0;
        }
      }

      picture, img, svg {
        width: 100%;
        height: 100%;

      }

      img {
        object-fit: contain;
      }

      svg {
        padding: size(22);
      }

      &.hover-link {
        &:after {
          content: "";
          @include square(100%);
          position: absolute;
          top: 0;
          left: 0;
          background-color: #000000;
          transition: opacity $duration;
          pointer-events: none;
          opacity: 0;
        }

      }

      &:hover {
        &:after {
          opacity: 0.35;
        }
      }
    }

  }

  .cta-button {
    @include marginX(auto);
  }

}



