
@import "styles/sites/propellerheath";

.leadership_cards_block {
  @include paddingY(size(32), size(46));
  @include min-medium-screen {
    @include paddingY(size(75));
  }
  @include large-screen {
    @include paddingY(size(114), size(80));
  }

  .title {
    margin-bottom: size(53);
    @include small-screen {
      @include font-size(36px, 42px);
    }
    @include min-medium-screen {
      margin-bottom: size(70);
    }
    @include large-screen {
      margin-bottom: size(112);
    }
  }

  .leadership-cards {
    @include change-gutter(size(20), size(50));
    @include min-medium-screen {
      @include change-gutter(size(40), size(40));
    }
    @include large-screen {
      @include change-gutter(size(53), size(30));
    }
  }

  .leadership-card {

    .user-url {
      display: block;
      position: relative;

      &:after {
        @include square(size(210));
        opacity: 0;
        transition: opacity $duration;
        top: size(-36);
        transform: translate(-50%, 0);
        @include min-medium-screen {
          @include square(size(360));
          top: size(-56);
        }
        @include large-screen {
          @include square(size(350));
        }
      }
    }

    .image-wrapper {
      padding-top: 121.343%;
      margin-bottom: size(18);
      @include min-medium-screen {
        margin-bottom: size(25);
      }
    }

    .name {
      color: $propellerhealth_denim;
      transition: color $duration;
      margin-bottom: size(11);
      line-height: size(28);
      display: block;
      @include min-medium-screen {
        margin-bottom: size(17);
      }


    }


    .has-hover {
      &:hover {
        color: $propellerhealth_moss;
      }
    }


    &:hover {
      .user-url {
        &:after {
          opacity: 0.25;
        }
      }
    }
  }
}



