
@import "styles/sites/towSmart";

.tow_smart_in_3_easy_steps_block {
  @include paddingY(size(30));
  
  @include min-medium-screen {
    @include paddingY(size(66), size(60));
  }
  
  .sub-title {
    text-align: center;
    margin-bottom: size(8);
  }
  
  .headline-2 {
    text-align: center;
    margin-bottom: size(64);
    @include small-screen{
      max-width: size(335);
      @include marginX(auto);
    }
  }
  
  .content {
    
    .row {
      @include small-screen {
        @include change-gutter(auto, size(40));
        margin-bottom: size(40);
      }
      @include min-medium-screen {
        @include change-gutter(size(32), size(32));
        margin-bottom: size(40);
      }
    }
    
    picture {
      margin-bottom: size(-40);
      height: size(175);
      @include marginX(size(40), size(25));
      max-height: size(175);
      
      img {
        object-fit: contain;
        width: fit-content;
        max-width: 100%;
      }
    }
    .svg-style{
      margin-bottom: size(-40);
      @include marginX(size(40), size(25));
      svg{
        height:size(175);
      }
      #travel-car{
        width: 95%;
      }
    }
    
    .col-md-4 {
      height: auto;
    }
    
    .card {
      height: 100%;
    }
    
    .margin-auto {
      @include marginX(auto);
    }
    
    .info {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.02) 100%);
      border-radius: 12px;
      padding: size(40) size(34) size(36) size(40);
      min-height: size(270);
      @include min-medium-screen{
        min-height: size(280);
      }
      
      .headline-5 {
        margin-bottom: size(12);
      }
      
      .paragraph {
        @include font-size(14px, 21px);
        color: $tow_smart_white_70;
      }
    }
    
    .number {
      @include font(56px, 400, 67px, rgba(226, 25, 50, 0.5), $product_sans_light);
      margin-bottom: size(6);
      margin-top: size(12);
    }
  }
}

  


