
@import "styles/sites/smartdv";

.section_with_a_list {
  @include paddingY(size(40));
  max-width: 144rem;
  margin-left: auto;
  margin-right: auto;
  @include min-medium-screen {
    @include paddingY(size(90), size(139))
  }


  .section-list {
    @include large-screen {
      margin-left: size(106);
    }

    .small-icon {
      margin-bottom: size(31);
    }

    .section-title {
      margin-bottom: size(27);
    }

    .description-wrapper {
      @include min-medium-screen {
        max-width: size(669);
      }
      @include large-screen {
        max-width: size(859);
      }

    }


    .description {
      @include font(14px, 400, 19px, $smart_dv_gray, $montserrat);
      @include min-medium-screen {
        @include font-size(16px, 24px)
      }

      ul {
        li {
          margin-bottom: size(20);
          list-style: none;
          position: relative;
          padding-left: size(20);

          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: size(5);
            transform: translateY(50%);
            @include square(size(8));
            border-radius: 50%;
            background-color: $smart_dv_lime;
          }

          strong {
            font-weight: 600;
          }
        }
      }
    }
  }

  &.dark-background {
    .description {
      color: $smart_dv_white;
    }
  }
}



