@import "styles/sites/headversity";

.stats_block {
  @include paddingY(size(15.5), size(65.5));

  @include min-medium-screen {
    @include paddingY(size(151/2), size(171/2));

  }

  .card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: size(30);
    box-shadow: 0 size(5) size(10) rgba(97, 55, 55, 0.1);
    @include paddingY(size(25));
    @include paddingX(size(20));
    @include small-screen {
      flex-direction: column;

    }
    @include min-medium-screen {
      box-shadow: 0 size(10) size(20) rgba(97, 55, 55, 0.1);

      @include paddingY(size(97), size(107));
      @include paddingX(size(76), size(76));

    }
  }

  .card_stats {
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include small-screen {
      flex-direction: row;
      border-bottom: 3px solid $headversity_orange;
      padding-bottom: size(19);
      margin-bottom: size(22);
      width: size(265);

    }
    @include min-medium-screen {
      &:first-of-type {
        .description {
          align-self: flex-end;
        }
      }
    }

    &:last-of-type {
      border-bottom: none;
      padding-bottom: size(0);
      margin-bottom: size(0);


    }

  }

  hr {
    background-color: var(--headversity_orange);
    width: 3px;
    position: relative;
    display: block;
    background-clip: content-box;
    box-sizing: content-box;
    flex-shrink: 0;
    border: none;
    box-shadow: none;
    @include paddingX(size(16));
    height: size(54);
    @include small-screen {
      display: none;
    }
    @include medium-screen {
      height: size(114);
      @include paddingX(size(26));
      @include marginX(0);
    }

    @include large-screen {
      @include marginX(0);

      height: size(144);
      @include paddingX(size(86));
    }

    &:last-of-type {
      display: none;
    }
  }

  .number {
    font-family: $open-sans;
    font-weight: 700;
    @include small-screen {
      display: flex;
      //@include font-size(31px,32px);
      margin-right: size(14);
    }
    @include min-medium-screen {
      max-width: size(232);
      margin-bottom: size(28);
    }

    [data-number] {
      font-feature-settings: "tnum";
      font-variant-numeric: tabular-nums;
    }
  }

  .description {
    text-align: center;
    @include small-screen {
      //@include font-size(11px, 16px);
    }
    max-width: size(187);
  }
}
