@import "styles/sites/raistone";


.get_started_block {
  position: relative;
  background-color: $raistone_plum;
  z-index: 2;
  overflow: hidden;
  @include paddingY(size(59), size(68));
  @include min-medium-screen {
    @include paddingY(size(83), size(44));
  }
  @include large-screen {
    @include paddingY(size(110), size(124));
  }

  .ellipse-back-ground {
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0;
    left: 0;
    @include small-screen {
      display: none;
    }

    img {
      @include square(100%);
      object-fit: cover;
    }
  }

  .get-started-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include large-screen {
      max-width: 93%;
      flex-direction: row;
    }
  }

  .left-content {
    @include min-medium-screen {
      @include flexBasis(77.53%);
    }
    @include large-screen {
      @include flexBasis(51.1%);
      min-height: size(750);
    }
  }

  .title {
    color: $raistone_moss;
    margin-bottom: size(14);
    max-width: size(300);
    text-transform: uppercase;
    @include min-medium-screen {
      margin-bottom: size(29);
    }
  }

  .description {
    margin-bottom: size(74);
    max-width: size(325);
    @include min-medium-screen {
      margin-bottom: size(92);
      max-width: size(500);
    }
    @include large-screen {
      margin-bottom: size(102);
      max-width: size(600);
    }
  }

  .shape-wrapper {
    width: fit-content;
    position: relative;
    @include min-medium-screen {
      //margin-left: size(138);
      margin-left: 17%;
    }
    @include large-screen {
      margin-left: size(100);
    }


    img {
      @include square(100%);
      object-fit: contain;
      position: absolute;
      bottom: size(-40);
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .image-wrapper {
    @include square(size(182));
    background: $raistone_canary;
    border-radius: 50% 50% 50% 0;
    overflow: hidden;
    position: relative;
    @include min-medium-screen {
      @include square(size(228));
    }
    @include large-screen {
      @include square(size(368));
    }
  }

  .right-content {
    width: 100%;
    margin-top: size(104);
    display: flex;
    flex-direction: column;
    @include large-screen {
      @include flexBasis(29.1%);
      margin-top: size(0);
    }
  }

  #lines-chart-svg {
    position: absolute;
    left: 74%;
    bottom: 7%;
    @include square(100%);
  }

  .price-btn {
    width: 100%;
    background-color: transparent;
    border-radius: size(3);
    border: 1px solid #DDDDDD;
    color: $raistone_white;
    font-size: size(22);
    @include paddingY(size(22.4));
    transition: border-color $duration, color $duration, background-color $duration;

    &:not(:last-child) {
      margin-bottom: size(14);
    }

    &:hover {
      background-color: $raistone_white;
      border-color: $raistone_white;
      color: $raistone_jet_black;
    }

    &.active {
      background-color: $raistone_white;
      border-color: $raistone_white;
      color: $raistone_jet_black;
    }
  }

  .continue-btn {
    width: 100%;
    margin-top: size(43);
    @include min-medium-screen {
      margin-top: size(33);
      @include paddingY(size(21.56));
    }
    @include large-screen {
      margin-top: size(43);
    }
  }

  .step {
    display: none;
  }

  .step-one {
    display: block;
    @include large-screen {
      margin-top: size(120);
    }
  }

  .step-description {
    @include font-size(26px, 40px);
    font-family: $lato;
  }

  .phone-wrapper {
    display: flex;
  }

  .gform_confirmation_wrapper {
    .gform_confirmation_message {
      font-weight: 400 !important;
      font-size: size(26) !important;
      line-height: size(40) !important;
      color: $raistone_white !important;

    }

    a {
      text-decoration: underline;

      &:hover {
        color: $raistone_canary;
      }
    }

  }


  .step-two {
    input {
      height: size(64);
    }

  }

  form {
    label {
      margin-bottom: size(8);
      @include font-size(14px, 17px);
      color: $raistone_white;
      font-family: $montserrat;
      display: inline-block;
    }


    input {
      padding: size(14) size(16);
      color: $raistone_mid_gery;
      margin-bottom: size(14);

      &:last-of-type {
        @include marginY(size(13), size(27))
      }
    }

  }

  .gfield_label {
    color: #FFFFFF !important;
    font-size: size(14) !important;
    line-height: size(17) !important;
    font-weight: 600 !important;
  }

  .gform_wrapper {
    .gfield {
      input {
        padding: size(14) size(16) !important;
        background: #FFFFFF;
        border: 1px solid #9DAAA7 !important;
        border-radius: 3px !important;

        &::placeholder {
          font-size: size(22) !important;
          line-height: size(36) !important;
          font-weight: 400 !important;
          font-family: $lato;
          text-transform: capitalize !important;
          color: $raistone_mid_gery !important;
        }
      }
    }
  }

  input[type=submit] {
    background-color: $raistone_canary;
    color: $raistone_plum;
    width: 100%;
    font-weight: 700 !important;

    &:hover {
      background-color: $raistone_mid_canary;
    }
  }

  .custom-checkbox {
    .gchoice_2_6_1 {
      .gfield-choice-input {
        background: #521437 !important;
        border-radius: size(4) !important;
        border: 1px solid #9DAAA7 !important;
        box-sizing: border-box;
        width: size(16) !important;
        height: size(20) !important;
        margin-top: 0 !important;
        margin-right: size(12) !important;
        cursor: pointer;

      }

      display: flex !important;
      align-items: center !important;

      .gfield-choice-input {
        margin: 0 !important;
      }

      label {
        font-size: size(16) !important;
        line-height: size(22) !important;
        color: $raistone_white !important;
        font-weight: 600 !important;
        margin-left: size(10) !important;
        max-width: 100% !important;
      }

    }
  }

  .gform_wrapper.gravity-theme .gfield {
    &:not(:last-child) {
      margin-bottom: size(16);
    }
  }


  .gform_wrapper.gravity-theme .gform_fields {
    grid-row-gap: 0;

  }

  .custom-checkbox {
    .ginput_container_checkbox {

      .gchoice_1_6_1 {
        label {
          cursor: pointer;
        }
      }

      .gfield-choice-input {
        cursor: pointer;

      }
    }

    .gfield-choice-input {
      display: none !important;

      &:checked + label {
        background-color: $raistone_white;
        border-color: $raistone_white;
        color: $raistone_jet_black;
      }
    }

  }

  .gfield_radio {
    label {
      width: 100%;
      max-width: 100% !important;
      background-color: transparent;
      border-radius: size(3);
      border: 1px solid #DDDDDD;
      color: $raistone_white;
      font-size: size(22) !important;
      text-align: center;
      font-weight: 600 !important;
      @include paddingY(size(22.4));
      transition: border-color $duration, color $duration, background-color $duration;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: size(14);
      }

      &:hover {
        background-color: $raistone_white;
        border-color: $raistone_white;
        color: $raistone_jet_black;
      }

      &.active {
        background-color: $raistone_white;
        border-color: $raistone_white;
        color: $raistone_jet_black;
      }
    }
  }


  .gchoice.gchoice_6_6_1 {
    .gfield-choice-input {
      display: inline-block !important;

      &:checked + label {
        background-color: unset;
        border-color: unset;
        color: $raistone_white;
      }
    }

    //label {
    //  margin-left: size(12) !important;
    //}

  }

  .gform_wrapper .gform_page {
    &:not(:first-of-type) {
      //transition: opacity $duration, transform $duration;
      opacity: 0;
      //transform: translateX(50%);
    }

    &.active {
      //opacity: 1;
      transform: translateX(0);
      display: block !important;
    }

    &.absolute {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }

  .button {
    width: 100%;
    margin-top: size(43);
    @include font(18px, 600, 22px, $raistone_jet_black, $montserrat);
    @include flex(center, center, false, false);
    background: $raistone_canary;
    padding: size(21) size(44);
    transition: color $duration, background-color $duration;
    cursor: pointer;
    border-radius: size(10);
    overflow: hidden;
    min-width: size(195);
    border: none;
    -webkit-appearance: none;
    @include min-medium-screen {
      margin-top: size(33);
      @include paddingY(size(21.56));
    }
    @include large-screen {
      margin-top: size(43);
    }

    &:hover {
      background: $raistone_mid_canary;

    }
  }

  .gform_previous_button {
    display: none !important;
  }

  .gchoice {
    label {
      margin-left: 0 !important;
    }
  }


  .gform_page_footer input + input {
    margin-left: 0 !important;

  }

  .gfield_checkbox {
    .gchoice {
      .gfield-choice-input {
        cursor: pointer;
        margin-right: size(10) !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        background: transparent !important;
        border: none !important;
      }
    }
  }


  .gform_wrapper.gravity-theme .gchoice.gchoice_6_6_1 .gfield-choice-input + label {
    max-width: calc(100% - 30px) !important;
  }

  .gfield_checkbox {
    .gfield-choice-input:checked + label {
      background: transparent;
      color: white !important;
      cursor: pointer;

    }
  }

}

.gform_title {
  display: none !important;
}

.gfield_label {
  font-size: size(14) !important;
  line-height: size(17) !important;
  color: $raistone_jet_black !important;
  font-weight: 600 !important;
  text-transform: uppercase;

}

.gform_wrapper {
  .gfield {
    input {
      font-size: size(18) !important;
      line-height: size(36) !important;
      font-weight: 400 !important;
      font-family: $lato;
      padding: size(14) size(16) !important;
      transition: border-color $duration;

      @include min-medium-screen {
        padding: size(23) size(16) !important;
        font-size: size(22) !important;

      }

      &::placeholder {
        font-size: size(22) !important;
        line-height: size(32) !important;
        font-weight: 400 !important;
        font-family: $lato;
        color: $raistone_jet_black !important;
      }

    }
  }

}


.gform_wrapper.gravity-theme .gfield textarea.large {
  min-height: size(129) !important;
  height: size(129) !important;
  resize: none;

  font-size: size(18) !important;
  line-height: size(36) !important;
  font-weight: 400 !important;
  font-family: $lato;
  padding: size(14) size(16) !important;
  transition: border-color $duration;

  @include min-medium-screen {
    padding: size(23) size(16) !important;
    font-size: size(22) !important;

  }

  &::placeholder {
    font-size: size(22) !important;
    line-height: size(32) !important;
    font-weight: 400 !important;
    font-family: $lato;
    color: $raistone_jet_black !important;
  }
}

.gchoice_1_4_1 {
  .gfield-choice-input {

  }

  display: flex !important;
  align-items: center !important;

  .gfield-choice-input {
    margin: 0 !important;
  }

  label {
    font-size: size(14) !important;
    line-height: size(17) !important;
    color: $raistone_jet_black !important;
    font-weight: 600 !important;
    margin-left: size(10) !important;
  }

}

input[type=submit] {
  font-size: size(18);
  line-height: size(22);
  font-weight: 600;
  padding: size(30) size(164);
  border-radius: size(10);
  font-family: $montserrat;
  cursor: pointer;
  border: none;
  transition: background-color $duration;

  @include small-screen {
    padding: size(18) size(80);
  }
}

.gform_wrapper {
  position: relative;

  .gform_validation_errors {
    border: none;
    border-bottom: 1px solid $raistone_cherry;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 0 0 size(8) 0;
    display: none;
    width: fit-content;
  }

  .gform_validation_errors > h2 {
    font-size: size(16);
    line-height: size(22);
    color: $raistone_cherry;
    font-weight: 600;


    .gform-icon {
      font-size: size(38) !important;
      height: 100%;
      left: size(6) !important;
      display: none;
    }
  }

  .gfield_validation_message {
    .validation_message {
      margin-top: size(8);
      padding: size(12.992) size(24);
    }
  }
}


.gform_wrapper.gravity-theme .gfield_description, .gform_wrapper.gravity-theme .instruction {
  font-size: size(16);
  line-height: size(22);
  color: $raistone_cherry;
  font-weight: 600;
  border: none;
  border-bottom: 1px solid $raistone_cherry;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  padding-bottom: size(8);
  display: none;
  width: fit-content;
}


.gform_confirmation_wrapper {
  .gform_confirmation_message {
    font-size: size(18) !important;
    line-height: size(27) !important;
    color: $raistone_jet_black !important;
    font-weight: 600 !important;
  }

  .gform_ajax_spinner {
    //display: none!important;
    box-sizing: border-box;
    border: 3px solid $raistone_cherry !important;
    border-left: 3px solid rgba(247, 150, 33, 0) !important;
    border-top: 3px solid rgba(247, 150, 33, .15) !important;
    border-right: 3px solid rgba(247, 150, 33, .5) !important;
    animation: spinner 1.1s infinite linear !important;
    border-radius: 50% !important;
    @include square(size(40));
    position: absolute !important;
    top: 0 !important;
    right: 110% !important;
    z-index: 1 !important;
  }
}

.gchoice {
  display: flex;
  align-items: center;
  margin-top: size(11);

  label {
    margin-left: size(12);
    color: $raistone_white;
    font-size: size(16) !important;
    font-weight: 400;
    line-height: 100%;
    font-family: $lato;
  }
}

.gfield_required {
  color: currentColor !important;
}

.gfield-choice-input {
  margin: 0 !important;
  @include square(16px);
  position: relative;
  z-index: 2;
  border-radius: 50% !important;
  height: fit-content !important;

  &:after {
    content: "";
    @include square(18px);
    background-color: $raistone_white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    transition: background-color $duration;
    border-radius: 3px;
    border: 1.5px solid $raistone_gery;
  }

  &:before {
    content: "";
    @include square(9px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //background-image: url(../../images/cheqed.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity $duration;
  }

  &:checked {

    &:after {
      background-color: $raistone_mid_plum;
    }

    &:before {
      opacity: 1;
    }
  }
}

.gform_wrapper.gravity-theme .gform_footer, .gform_wrapper.gravity-theme .gform_page_footer {
  padding: 0 !important;
  margin-top: size(27);
  position: relative;
}

.gform_wrapper.gravity-theme .gform_footer button, .gform_wrapper.gravity-theme .gform_footer input, .gform_wrapper.gravity-theme .gform_page_footer button, .gform_wrapper.gravity-theme .gform_page_footer input {
  margin-bottom: 0;
}


// region Spinner
.gform_ajax_spinner {
  box-sizing: border-box;
  border: size(3) solid $raistone_canary;
  border-left: size(3) solid rgba(247, 150, 33, 0);
  border-top: size(3) solid rgba(247, 150, 33, .15);
  border-right: size(3) solid rgba(247, 150, 33, .5);
  animation: spinner 1.1s infinite linear;
  border-radius: 50%;
  @include square(size(30));
  position: absolute;
  top: 125%;
  right: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin-top: size(5);
}

//endregion

.gform_wrapper.gravity-theme .gfield {
  position: relative;
}


.gform_wrapper .gfield_error [aria-invalid=true] {

  border-color: #414042;
}
.field_sublabel_below{
  border: none !important;
}