@import "styles/sites/headversity";


.latest_content_block {
  @include paddingY(size(108.5), size(50));
  @include min-medium-screen {
    @include paddingY(size(96.5), size(144));
  }
  position: relative;

  .title {
    color: $headversity_dark_blue;
    margin-bottom: size(64);
  }

  .filter-content-wrapper {
    position: relative;
    z-index: 5;
    @include small-screen {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: size(43);
      border-radius: size(50);
      border: 2px solid $headversity_dark_blue;
      background: transparent;
      margin-bottom: size(68);
      padding-left: size(27);
      cursor: pointer;
      max-width: size(400);
      @include marginX(auto);
    }
    @include min-medium-screen {
      @include paddingX(0);
      height: size(71);
      overflow: hidden;
      width: fit-content;
      background: $headversity_white;
      box-shadow: 0 size(10) size(20) rgba(97, 55, 55, 0.1);
      border-radius: size(30) size(30) 0 0;
      margin-bottom: size(80);
      @include marginX(auto);
    }

    .selector {
      @include font(14px, 400, 30px, $headversity_gray, $poppins);

      &:first-letter {
        text-transform: capitalize;
      }

      @include min-medium-screen {
        display: none;
      }
    }

    .icon-wrapper {
      @include square(size(40));
      background: $headversity_orange;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-right: -1px;
      @include min-medium-screen {
        display: none;
      }

      .down-arrow {
        width: size(16);
        height: size(10);
        transition: all $duration;
      }

    }

    .filter-list {
      display: flex;
      @include small-screen {
        flex-direction: column;
        background: $headversity_white;
        position: absolute;
        top: calc(100% + .2rem);
        left: 0;
        width: 100%;
        height: 0;
        z-index: 5;
        overflow: hidden;
        border-radius: size(30);
        box-shadow: 0 size(10) size(20) rgba(97, 55, 55, 0.1);
      }
      @include min-medium-screen {
        flex-wrap: wrap;
        height: 100%;
        margin: 0 auto;
      }
    }

    .link-item {
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color $duration;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include paddingX(size(27));
      @include font(16px, 600, 24px, #B3B3B3, $poppins);
      transition-property: color, opacity !important;
      transition-duration: $duration;
      text-transform: capitalize;
      @include paddingY(size(15));
      margin-bottom: 0;
      @include small-screen {
        &:not(:last-child) {
          border-bottom: 2px solid $headversity_orange;
        }
      }
      @include medium-screen {
        @include font-size(13px, 16px);
      }
      @include min-medium-screen {
        //height: 100%;
        display: flex;
        height: size(71);
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 0;
        min-width: size(212);
        @include flexBasis(20%);
        @include paddingY(size(23));
        @include paddingX(size(10));
        &:not(:last-child) {
          border-right: 1px solid rgba(0, 0, 0, 0.1);;
        }

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 4px;
          left: 0;
          bottom: 0;
          opacity: 0;
          background-color: $headversity_orange;
          transition: opacity $duration;
        }
      }

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
      }

      .link-item-wrapper {

      }


      &.featured {
        &:before {
          content: "";
          @include square(size(20));
          position: relative;
          margin-right: size(8);
          flex-shrink: 0;
          //background-image: url("../../svgs/star.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      &:hover {
        @include min-medium-screen {
          color: $headversity_black;
          &:after {
            opacity: 1;
          }
        }
      }

      &.active {
        color: $headversity_black;

        @include min-medium-screen {
          &:after {
            opacity: 1;
          }
        }
      }
    }

    &.active {
      .down-arrow {
        transform: scaleY(-1);
      }
    }
  }

  .row {
    @include small-screen {
      @include change-gutter(size(60), size(60));
      //min-height: size(1700);
    }
    @include min-medium-screen {
      //min-height: size(1200);
      @include change-gutter(size(40), size(40));
    }

    @include large-screen {
      //min-height: size(590);
      @include change-gutter(size(35), size(35));
    }

    .col {
      height: fit-content;
    }
  }

  .link {
    @include marginX(auto);
    margin-top: size(64);

    @include min-medium-screen {
      margin-top: size(77);
    }
  }

  .card-title {
    @include max-lines(4);
    display: -webkit-box !important;
  }

  .load-more-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
  }

  //
  .podcast-card .play-icon {
    z-index: 2;
    transition: opacity $duration, background-color $duration;

    &.active {
      opacity: 0;
    }


    circle {
      transition: fill $duration;
    }

    &:hover {
      circle {
        fill: $headversity_orange;
      }

      fill: $headversity_white;

    }
  }

  // webina modal
  .webinar-modal {

    .modal-content {
      width: 95%;
      margin-bottom: size(44);
      @include min-medium-screen {
        width: 82%;
        //margin-bottom: size(44);
      }
      @include large-screen {
        width: 66%;
        margin-bottom: size(74);
      }
    }

    .modal-video {
      padding-top: 55.5%;
      cursor: pointer;

    }

    .btn {
      min-width: size(135);
      @include min-medium-screen {
        min-width: size(172);
      }
      @include large-screen {
        min-width: size(222);

      }
    }


  }


  //   uncharted modal
  .uncharted-modal {
    @include paddingY(size(108), 0);
    overflow: auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    //width: 0;
    //height: 0;
    background-color: rgba(255, 255, 255, .95);
    top: 50%;
    z-index: 999;
    display: flex;
    //justify-content: center;
    //align-items: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;

    width: 100vw;
    height: 100vh;
    transition: opacity $duration, transform $duration;

    &.show {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      pointer-events: visible;
    }

    .exit {
      @include small-screen {
        top: 30px;
      }
      cursor: pointer;
      position: absolute;
      top: 24px;
      right: 20px;
    }

    .modal-content {
      width: 95%;
      @include min-medium-screen {
        width: 82%;
        //margin-bottom: size(44);
      }
      @include large-screen {
        width: 66%;
      }
    }

    .modal-video {
      padding-top: 55.5%;
      cursor: pointer;
      //margin-bottom: size(63);
    }

    .bottom-section {
      margin-top: size(63);

      border-top: 3px solid $headversity_orange;
      @include paddingY(size(28))
    }

    .episodes-section-title {
      margin-bottom: size(22);
    }

    //.episodes-wrapper {
    //  display: flex;
    //  flex-wrap: wrap;
    //  justify-content: space-between;
    //}

    .episode {
      display: flex;
      cursor: pointer;
      //justify-content: center;
      //width: calc((100% / 3) - 112px);
    }

    .poster-img {
      margin-right: size(16);
      width: size(150);
      height: size(85);

      img {
        @include objectImg()
      }
    }

    .episode-desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .episode-title {
      @include font(16px, 700, 20px, $headversity_dark_blue, $poppins, normal);
      margin-bottom: size(3);
      width: size(77);
    }

    .episode-time {
      @include font(14px, 500, 20px, $headversity_dark_blue, $poppins, normal);

    }

  }

  .tab-content {
    display: none;

    &.active {
      display: block;
    }
  }

  //  region modal
  .podcaste-model {
    @include paddingY(0);
    overflow: auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgba(255, 255, 255, .95);
    top: 50%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    transition: opacity $duration, transform $duration;

    &.show {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      pointer-events: visible;
    }

    .exit {
      @include small-screen {
        top: 30px;
      }
      cursor: pointer;
      position: absolute;
      top: 24px;
      right: 20px;
    }

    .modal-content {
      width: 95%;
      @include min-medium-screen {
        width: 82%;
        //margin-bottom: size(44);
      }
      @include large-screen {
        width: 66%;
      }
    }

    .modal-video {
      padding-top: 55.5%;
      cursor: pointer;
      //margin-bottom: size(63);
    }

    .bottom-section {
      margin-top: size(63);

      border-top: 3px solid $headversity_orange;
      @include paddingY(size(28))
    }

    .episodes-section-title {
      margin-bottom: size(22);
    }

    .episode {
      display: flex;
      cursor: pointer;
      //justify-content: center;
      //width: calc((100% / 3) - 112px);
    }

    .poster-img {
      margin-right: size(16);
      width: size(150);
      height: size(85);

      img {
        @include objectImg()
      }
    }

    .episode-desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .episode-title {
      @include font(16px, 700, 20px, $headversity_dark_blue, $poppins, normal);
      margin-bottom: size(3);
      width: size(77);
    }

    .episode-time {
      @include font(14px, 500, 20px, $headversity_dark_blue, $poppins, normal);

    }

  }

  //  endregion modal


  .center-col {
    .col {
      @include medium-screen {

        &:last-child:nth-child(odd) {
          margin-right: auto;
          margin-left: 0;
        }

        &:first-child {
          margin: 0 auto !important;
        }

      }

    }
  }

}
