
@import "styles/sites/propellerheath";


.content_media_block {
  @include paddingY(size(70), size(90));

  @include min-medium-screen {
    @include paddingY(size(75.5), size(80));
  }

  .content-media-title {
    color: $propellerhealth_white;
    @include min-medium-screen {
      margin-left: size(95);
      max-width: size(346);
      margin-bottom: size(90);
    }
    @include large-screen {
      margin-bottom: size(134);
      max-width: size(496);
    }

    @include small-screen {
      margin-bottom: size(50);
      font-size: size(26);
      text-align: center;
      max-width: size(251);
      @include marginX(auto);
    }

  }

  .site-dots {
    bottom: 0;
  }

  .content-media-cards {
    display: flex;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &.content-media-cards-reverse {
      flex-direction: column;
      @include min-medium-screen {
        flex-direction: row-reverse;
      }
      .content-media-text {
        @include min-medium-screen {
          margin-left: auto;
          padding-top: size(220);
        }
        @include large-screen {
          padding-top: size(280);
        }
        .content-media-text-description {
          @include min-medium-screen {
            max-width: size(353);
          }
          @include large-screen  {
            max-width: size(419);
          }
        }
      }
    }

    .content-media-image {
      @include flexBasis(100%);
      .aspect-ratio {
        padding-top: 108.55%;
        width: 100%;
        @include min-medium-screen {
          padding-top: 103.45%;
        }
      }
      @include min-medium-screen {
        @include flexBasis(42.73%);
        z-index: 2;
        .aspect-ratio {
          padding-top: 121.45%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

      }

    }

    .content-media-text {
      padding-top: size(41);

      @include min-medium-screen {
        padding-top: 0;
        width: 47.08%;
        flex-basis: 47.08%;
      }

      @include small-screen {
        //margin-left: size(30);
      }

      .content-media-text-title {
        margin-bottom: size(17);
        color: $propellerhealth_white;
        @include min-medium-screen {
          margin-bottom: size(25);
        }

        &.large-title {
          @include font(36px, 700, 42px, $propellerhealth_white);
          @include large-screen {
            font-weight: 700;
            @include font-size(52px, 56px);
          }
        }

        &.small-title {
          @include font(26px, 400, 30px, $propellerhealth_white);
          @include large-screen {
            @include font-size(36px, 42px);
          }
        }

      }

      .content-media-text-description {
        color: $propellerhealth_white;
        margin-bottom: size(25);
        @include min-medium-screen {
          margin-bottom: size(35);
          max-width: size(457);
        }

        &.large-description {
          @include font(20px, 400, 24px, $propellerhealth_white);
          @include large-screen {
            @include font-size(24px, 28px);
          }
        }

        &.small-description {
          @include font(16px, 400, 24px, $propellerhealth_white);
        }

      }

      .content-media-link {
        @include small-screen {
          @include paddingY(size(15));
          min-width: size(152);
        }
      }

      &.no-padding {
        padding-top: size(41);
        @include min-medium-screen {
          padding-top: size(150);
        }
        @include large-screen {
          padding-top: size(110);
        }
      }

    }

    &.increase {
      align-items: unset;
      .content-media-text {
        @include min-medium-screen {
          @include paddingY(size(35),size(40))
        }
        @include large-screen {
          @include paddingY(size(65),size(105))
        }
      }
    }

  }

  &.new-form {
    .content-media-cards {
      align-items: unset;
      .content-media-image {
        margin-top: size(-70);
        @include min-medium-screen {
          margin-top: size(-90);
        }
        @include large-screen {
          margin-top: size(-150);
        }
      }
      .content-media-text {
        padding-top: size(41);
        @include min-medium-screen {
          padding-top: size(100);
        }
        @include large-screen {
          padding-top: size(140);
        }
      }
    }
  }

}


$border-radius-sm: size(150);
$border-radius-md: size(200);
$border-radius-lg: size(400);

.background_shape_block {
  position: relative;
  z-index: 2;

  .background-shape, .background-trigger {
    position: absolute;
    width: 100%;
    background-color: $propellerhealth_moss;
    z-index: -1;

    &.top-right, &.top-left {
      top: size(97);
      bottom: 0;
      @include min-medium-screen {
        top: size(140);
      }
    }

    &.top-right {
      transform-origin: bottom left;
      border-top-right-radius: $border-radius-sm;
      @include min-medium-screen {
        border-top-right-radius: $border-radius-md;
      }
      @include large-screen {
        border-top-right-radius: $border-radius-lg;
      }
    }

    &.top-left {
      transform-origin: bottom right;
      border-top-left-radius: $border-radius-sm;
      @include min-medium-screen {
        border-top-left-radius: $border-radius-md;
      }
      @include large-screen {
        border-top-left-radius: $border-radius-lg;
      }
    }

    &.bottom-left, &.bottom-right {
      bottom: size(78);
      top: 0;

      @include min-medium-screen {
        bottom: size(20);
      }
      @include large-screen {
        bottom: size(78);
      }
    }

    &.bottom-left {
      transform-origin: top right;
      border-bottom-left-radius: $border-radius-sm;
      @include min-medium-screen {
        border-bottom-left-radius: $border-radius-md;
      }
      @include large-screen {
        border-bottom-left-radius: $border-radius-lg;
      }
    }

    &.bottom-right {
      transform-origin: top left;
      border-bottom-right-radius: $border-radius-sm;
      @include min-medium-screen {
        border-bottom-right-radius: $border-radius-md;
      }
      @include large-screen {
        border-bottom-right-radius: $border-radius-lg;
      }
    }

    &.padding-content {
      top: 0;
      bottom: 0;
    }
  }

  .background-trigger {
    background-color: transparent;
  }

  section {
    background-color: transparent !important;
  }

  section * {

    .headline-1, .headline-2, .headline-3, .headline-4, .headline-5, .paragraph, .number_title {
      color: $propellerhealth_white !important;
    }

    .cta-button {
      color: $propellerhealth_denim;
      background-color: $propellerhealth_white !important;

      &:hover {
        color: $propellerhealth_white;
        background: $propellerhealth_denim !important;
      }

    }

    .cta-link {
      color: $propellerhealth_white;

      .arrow-head, .arrow-line {
        fill: currentColor !important;
      }

      &:not(:hover) {
        background: transparent !important;

      }

      &:hover {
        color: rgb(0, 117, 227);
      }
    }

    .faqs-svg-wrapper {
      svg {
        line {
          stroke: #BFD730;
        }
      }

      &:hover {
        svg {
          line {
            stroke: $propellerhealth_white;
          }
        }
      }
    }

    .hover-svg {
      &:hover {
        path {
          &:not(.bg) {
            fill: $propellerhealth_white;
          }
        }
      }
    }

    .circle-arrow {
      @include square(size(30));
      cursor: pointer;

      circle {
        transition: fill $duration;
        fill: $propellerhealth_white;
      }

      path {
        stroke: $propellerhealth_denim;
      }

      &:hover {
        path {
          stroke: $propellerhealth_white;
        }

        circle {
          fill: $propellerhealth_hover_color;
        }
      }
    }

  }

  .load-more-wrapper {
    .loader {
      .loader-ball {
        background: $propellerhealth_white;
      }
    }
  }
}



