
@import "styles/sites/smartdv";

.accordion_of_categories {
  @include paddingY(size(71), size(18));
  position: relative;
  max-width: size(1440);
  @include marginX(auto);
  @include min-medium-screen {
    @include paddingY(size(70), size(50));
  }
  @include large-screen {
    @include paddingY(size(173), size(56));
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: size(120);
    left: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 50%);
    z-index: -3;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.3) 0%, rgba(255, 255, 255, 0.3) 77.08%);
    @include min-medium-screen {
      height: calc(100% + 60rem);
      top: 0;
      clip-path: polygon(30% 0, 100% 70%, 100% 100%, 70% 100%, 0 30%, 0 0);
    }
  }

  .card-content {
    .title {
      padding-bottom: size(15);
      text-align: start;
      max-width: size(192);
      @include min-medium-screen {
        margin: auto;
        text-align: center;
        max-width: size(694);
      }
      @include large-screen {
        padding-bottom: size(20);
      }
    }

    .description {
      max-width: size(329);

      @include min-medium-screen {
        margin: auto;
        text-align: center;
        max-width: size(609);
      }
      @include large-screen {
        max-width: size(689);
      }
    }
  }

  .cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: size(76);
    margin-bottom: size(-19);
    @include min-medium-screen {
      flex-direction: row;
      justify-content: space-between;
      padding-top: size(56);
      margin-top: size(-19);
    }
    @include large-screen {
      padding-top: size(76);
      max-width: size(1177);
      margin-left: auto;
    }

    .card-svg-title {
      margin-top: size(19);
      @include flexBasis(100%);
      position: relative;

      &:after {
        content: "";
        height: size(1);
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $smart_dv_green;
        transition: width .5s ease-in-out;
      }

      @include min-medium-screen {
        @include flexBasis(47.16%);
      }

      &.active-draw {
        &:after {
          width: 100%;
        }

        .icon-wrapper {
          &:after {
            transform: translateX(-50%) translateY(0) skew(20deg, 0deg) scaleY(1);
          }
        }
      }

      .card-action {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        cursor: pointer;
        //padding-bottom: size(28);
        //@include min-medium-screen {
        //padding-bottom: size(36);
        //}
        flex-wrap: wrap;

        .hover-action {
          width: size(17);
          height: size(17);
          @include min-medium-screen {
            width: size(26);
            height: size(26);
          }

          svg.minus-plus {
            color: $smart_dv_gray;
            @include square(size(17));
            transition: opacity $duration;
            margin-top: size(0);
            @include min-medium-screen {
              @include square(size(19));
            }
            @include large-screen {
              @include square(size(24));
            }

            line {
              stroke: currentColor;
            }

            &.minus-icon {
              opacity: 0;
            }
          }

          .remove-to-close {
            transform-origin: center;
            transition-property: opacity, transform;
            transition-duration: .3s;
            transition-timing-function: cubic-bezier(0.97, -0.01, 0.42, 0.56);
          }
        }

        &:after {
          position: relative;
          content: "";
          bottom: 0;
          width: 100%;
          transition: height $duration;
          background: transparent;
          left: 0;
          height: size(28);
          @include min-medium-screen {
            height: size(36);
          }
        }
      }

      .description-card {
        max-width: size(496);
        height: 0;
        position: relative;
        overflow: hidden;
        margin-left: size(60);

        &:before {
          position: relative;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          background-color: transparent;
          display: block;
          height: size(10);
          @include min-medium-screen {
            height: size(5);
          }
        }

        &:after {
          position: relative;
          content: "";
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: transparent;
          display: block;
          height: size(30);
          @include min-medium-screen {
            height: size(40);
          }
          @include large-screen {
            height: size(60);
          }
        }

        @include min-medium-screen {
          margin-left: size(118);
          max-width: size(412);
        }
      }

      &.accordion-active {
        .hover-action {

          .remove-to-close {
            transform: rotate(90deg);
            opacity: 0;
          }


        }

        .card-action {
          &:after {
            height: 0;
          }

        }

        .description-card {
          will-change: margin;
        }
      }

    }

    .icon-text-wrapper {
      display: flex;
      align-items: center;

      .title-card {
        @include small-screen {
          font-size: size(20);
        }
      }
    }

    .icon-wrapper {
      flex-shrink: 0;
      width: size(40);
      height: size(42);
      position: relative;
      margin-right: size(24);
      @include min-medium-screen {
        margin-right: size(47);
        width: size(71);
        height: size(75);
      }

      &:after {
        content: "";
        position: absolute;
        width: size(42);
        height: size(30);
        left: 47%;
        transform: translateX(-50%) translateY(-20%) skew(20deg, 0deg) scaleY(0);
        bottom: size(-11);
        background: $smart_dv_lime;
        z-index: -1;
        transform-origin: top;
        transition: transform .5s ease-in-out;
        @include min-medium-screen {
          width: size(66);
          height: size(45);
        }
      }

      svg, img {
        @include square(100%);
        transform: translateX(size(8));
      }
    }

    .right-content {
      @include small-screen {
        @include paddingY(size(15), size(15));
        &:first-child {
          padding-top: 0;
        }

      }
    }

    .cta-link {
      margin-top: size(10);
      @include min-medium-screen {
        margin-top: size(18);
      }
    }

  }

}



