@import "styles/sites/headversity";


.subscribe_block {
  position: relative;
  @include paddingY(size(33), size(69));
  @include min-medium-screen {
    @include paddingY(size(49), size(100));
  }
  @include large-screen {
    @include paddingY(size(62), size(135));

  }

  .block-content {
    position: relative;
    @include paddingY(size(58), size(78));
    @include paddingX(size(34), size(26));
    background-color: $headversity_white;
    box-shadow: 0px 10px 20px rgba(97, 55, 55, 0.1);
    border-radius: size(20);
    @include min-medium-screen {
      @include paddingY(size(58), size(78));
      @include paddingX(size(68), size(52));
    }
    @include large-screen {
      border-radius: size(30);
      @include paddingY(size(18), size(119));
      @include paddingX(size(187), size(159));
    }
  }

  .subs-logo {
    width: size(85);
    height: size(78);
    margin-bottom: size(18);
    border-radius: 50%;
    overflow: hidden;
    @include min-medium-screen {
      width: size(106);
      height: size(97);
      @include marginX(auto);
      margin-bottom: size(12);
    }

    img {
      width: 100%;
      height: 100%;
      @include objectImg()
    }
  }

  .title {
    margin-bottom: size(14);
    width: size(302);
    @include min-medium-screen {
      @include marginX(auto);
      text-align: center;
      margin-bottom: size(12);
      width: size(498);

    }
  }

  .description {
    color: $headversity_gray;
    margin-bottom: size(20);

    @include min-medium-screen {
      @include marginX(auto);
      text-align: center;
      margin-bottom: size(30);
      width: size(500);
    }
    @include large-screen {
      width: size(762);
    }
  }

  .subs-form {
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
    //height: size(43);
    //border: 2px solid $headversity_dark_blue;
    //border-radius: size(50);
    //overflow: hidden;
    //max-width: size(551);
    //@include min-medium-screen {
    //  @include marginX(auto);
    //  height: size(60);
    //}


  }

  .subs-text-field {
    height: 100%;
    width: 90%;
    @include paddingX(size(29), size(10));
    @include paddingY(size(14));
    @include font(14px, 400, 20px, $headversity_black, $poppins);
    border: none;

    &::placeholder {
      color: $headversity_gray;
    }
  }

  .subs-btn {
    height: size(60);
    @include square(size(43));
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $headversity_orange;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color $duration;
    @include min-medium-screen {
      height: 100%;
      width: 30.3%;
      border-radius: size(50);

    }

    .submit {
      display: none;
      @include font(16px, 600, 24px, $headversity_dark_blue, $poppins, normal);

      @include min-medium-screen {
        display: block;
      }
    }

    .subs-arrow {
      @include square(size(15));
      @include min-medium-screen {
        display: none;
      }
    }

    &:hover {
      background-color: #ddd;

    }
  }

  .error-message {
    margin-top: size(20);
    @include font(16px, 400, 18px, red, $poppins, normal);
    width: fit-content;
    @include marginX(auto);
    display: none;
  }

  .thanks-wrapper {
    text-align: left;
    height: 0;
    overflow: hidden;
    @include min-medium-screen {
      text-align: center;
    }

    .thanks-message {
      margin-bottom: size(10);
    }
  }

  form {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    border: 2px solid $headversity_dark_blue !important;
    border-radius: size(50) !important;
    overflow: hidden !important;
    //max-width: size(551) !important;
    @include min-medium-screen {
      margin-left: auto !important;
      margin-right: auto !important;
      height: size(60) !important;
      width: size(551) !important;
    }

    .gform_footer {
      margin: 0 !important;

      input {
        margin-bottom: 0 !important;
      }

      .gform_button {
        color: $headversity_dark_blue !important;
        width: fit-content !important;
        border: none !important;
        padding: size(20) size(2) size(16) size(4) !important;
        transition: border-color $duration !important;
        cursor: pointer !important;
        border-radius: size(50) !important;
        min-width: size(167) !important;
        height: size(65) !important;
        background: $headversity_orange !important;
        font-size: size(16) !important;
        line-height: size(24) !important;
        font-family: $poppins !important;
        font-weight: 600 !important;
        display: block !important;
        @include small-screen {
          position: absolute !important;
          top: 0;
          left: 0;
          pointer-events: none;
        }

        &:before {
          display: none;
        }

        &:after {
          opacity: 0;
        }
      }


    }
  }

  .gravity-theme {
    .large {
      border: none !important;
      //border-radius: none !important;

    }
  }

  .gfield.mobile-submit {
    flex-shrink: 0;
    background: $headversity_orange !important;
    width: size(49) !important;
    height: size(49) !important;
    border-radius: size(50) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-left: auto;
    @include min-medium-screen {
      display: none !important;
    }
  }

  .gform_body {
    width: 100%;

  }

  input[type=reset] {
    display: none !important;
  }

  // subscription input field
  #gform_5 {
    width: 100%;

  }

  .validation_message {
    position: absolute !important;
    margin-top: 1rem !important;
    max-width: 56% !important;
    bottom: size(12);
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    @include small-screen {
      font-size: size(12) !important;
      line-height: size(20) !important;
      max-width: 97% !important;
      margin-top: 0 !important;
    }
    @include min-medium-screen {
      bottom: size(-5);
    }
    @include large-screen {
      bottom: size(20);
      position: absolute !important;
    }
  }

  .gravity-theme {
    .large {
      &:focus {
        border: unset !important;
        color: unset !important;
        font-weight: unset !important;
      }
    }
  }

  .gform_ajax_spinner {
    top: 200%;
    right: 50%;
    transform: translateY(-50%);
    z-index: 1;
    margin-top: size(5);
    display: none !important;
  }

  .gform_wrapper {
    .gform_fields {
      flex-wrap: nowrap !important;
    }
  }

  .ginput_container {
    input {
      font-size: size(16) !important;
      line-height: size(30) !important;
    }
  }
}


.gform_title {
  display: none !important;
}

.gravity-theme {
  .large {
    border: 2px solid #0A1B57 !important;
    border-radius: 50px !important;
    background-color: $headversity_white;

    &:focus {
      border: 2px solid $headversity_orange !important;
      color: #0A1B57 !important;
      font-weight: 600 !important;
    }
  }

  .gfield_label {
    font-size: size(16) !important;
    line-height: size(16) !important;
    font-family: $poppins !important;
    font-weight: 400 !important;
    color: $headversity_gray !important;
    text-align: center !important;
    display: none !important;

  }

  .gfield {
    width: 100% !important;
  }
}

.gfield {
  input, select {
    font-size: size(14) !important;
    line-height: size(30) !important;
    font-family: $poppins !important;
    font-weight: 400 !important;
    color: $headversity_gray !important;
    padding: size(8) size(26) !important;

  }

  select {
    appearance: none !important;
    cursor: pointer !important;
    color: $headversity_gray !important;
    border: none !important;
    height: 100% !important;
    //outline: 0!important;
    width: 100% !important;
    //position: absolute!important;
    //top: 0!important;
    //right: 0!important;
    //padding: 6px 0 6px 10px!important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
  }

}

select * {
  border-radius: size(15);
}

select {
  background-color: white !important;
}

.ginput_container_select {

  position: relative !important;


}


.gform_footer {
  position: relative;
  padding: 0 !important;
  margin: size(30) auto 0 !important;
  width: fit-content !important;
  border-radius: size(30);
  z-index: 0;
  @include flex(center, false, row-reverse, wrap);

  .gform_button {
    min-width: size(175);
    margin-bottom: 0 !important;
    @include large-screen {
      @include paddingY(1.55rem);
    }

    &.disabled {
      background: $headversity_gray;
      color: $headversity_white;
      pointer-events: none;
    }


    //&:hover {
    //  &:after {
    //
    //
    //  }
    //
    //}
  }

  .reset-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0 size(30) 0 0 !important;
    padding: 0;
    width: fit-content;
    font-size: size(16);
    font-weight: 600;
    line-height: 100%;
    color: $headversity_dark_blue;
    font-family: $poppins;
  }
}

.gform_wrapper {
  .gform_validation_errors {
    display: none !important;
  }

  .gravity-theme {
    .gfield
    &:not(.gfield--width-full) {
      margin-bottom: size(20) !important;
    }
  }

  //.gravity-theme {
  //  .gfield {
  //    margin-bottom: size(20) !important;
  //  }
  //}

  .gform_validation_errors > h2 {
    font-size: size(14) !important;
    font-weight: 400 !important;
    color: $headversity_dark_blue !important;
    line-height: size(30) !important;

    .gform-icon {
      align-items: center !important;
      display: flex !important;
      font-size: size(22);
      height: 100%;
      left: size(4);
      position: absolute;
      top: 0;
    }

  }

  .gfield_required {
    display: none !important;
  }

  //  region additional text styling
  .form-additional-text {
    @include font(14px, 400, 18px, $headversity_gray, $poppins, 0.02em);
    @include min-medium-screen {
      max-width: size(570);
      @include marginX(auto);
    }
  }

  //  endregion additional text styling

  // region general styling
  .gform_fields {
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap !important;
    grid-row-gap: size(22) !important;
    width: 100% !important;
    //margin-bottom: size(29);
  }

  // endregion general styling

}

.validation_message {
  font-size: size(18) !important;
  line-height: size(30) !important;
  clear: both;
  font-family: $poppins !important;
  font-weight: 500 !important;
  width: 100%;
  color: $headversity_orange !important;
  background: none !important;
  border: none !important;
  margin-top: 0 !important;
  padding: size(12) size(14) !important;
}

#field_4_9, #field_4_5 {
  width: 100%;
}

.lds-roller {
  //display: none !important;
  width: 20px !important;
}

.gform_ajax_spinner {
  box-sizing: border-box;
  border: size(3) solid $headversity_orange;
  border-left: size(3) solid rgba(247, 150, 33, 0);
  border-top: size(3) solid rgba(247, 150, 33, .15);
  border-right: size(3) solid rgba(247, 150, 33, .5);
  animation: spinner 1.1s infinite linear;
  border-radius: 50%;
  @include square(size(30));
  position: absolute;
  top: 125%;
  right: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin-top: size(5);
}

b {
  display: none !important;
}


.chosen-single {
  border: 2px solid #0A1B57 !important;
  background: unset !important;
  padding: size(8) size(26) !important;
  height: size(47) !important;
  line-height: 0 !important;
  display: flex !important;
  align-items: center !important;

  span {
    font-size: size(14) !important;
    line-height: size(30) !important;
    font-family: $poppins !important;
    font-weight: 400 !important;
    color: $headversity_gray !important;
    text-align: left !important;
    display: flex !important;
    align-items: center;
  }

  .chosen-search-input {
    display: none !important;
  }
}

.chosen-drop {
  border: 2px solid #0A1B57 !important;
  border-radius: 0 0 25px 25px !important;
  border-top: 0px !important;
  margin-top: unset !important;
}

.chosen-search {
  display: none !important;
}

.chosen-container {
  .chosen-results {
    li.highlighted {
      background-color: unset !important;
      background-image: unset !important;
      color: unset !important;
    }
  }

  span {
    &:not(.ginput_price) {
      margin-bottom: 0 !important;
    }
  }
}

a.chosen-single {
  border-radius: 50px !important;
}


.chosen-results li {
  padding: size(23) size(10) size(10) size(15) !important;
  text-align: left !important;
}

.chosen-container {
  position: relative;

  &:after {
    content: "";
    //background: url(../../images/select-arrow.png) no-repeat right !important;
    position: absolute !important;
    width: 40px !important;
    height: 40px !important;
    top: 6% !important;
    right: 6% !important;
    cursor: pointer !important;
    pointer-events: none !important;
    transition: transform $duration !important;
    @include min-medium-screen {
      width: 25px !important;
      height: 25px !important;
      top: 18% !important;
      right: 6% !important;
    }
    @include large-screen {
      width: 23px !important;
      height: 23px !important;
      top: 28% !important;
      right: 6% !important;
    }
  }
}

.chosen-container-active.chosen-with-drop {
  a.chosen-single {
    border-radius: size(25) size(25) 0 0 !important
  }


  &:after {
    transform: scaleY(-1) !important;
  }


}


.gform_confirmation_message {
  @include font(16px, 600, 24px, $headversity_black, $poppins, normal);
  @include min-medium-screen {
    font-size: size(20);
  }
}

// region safari

/* Safari 11+ */

@media not all and (min-resolution: .001dpcm) {
  .gform_wrapper .gform_fields {
    display: block !important;

    .gfield:not(:last-child) {
      margin-bottom: size(16);
    }
  }
}




