
@import "styles/sites/senet";

.faq_block {
  @include paddingY(50px, 80px);
  @include min-medium-screen {
    @include paddingY(40px, 110px)
  }

  .headline-2 {
    color: #3A65C1;
  }

  .cta-link {
    color: #FF5900;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: left;
    outline: none;

    &:focus {
      outline: none !important;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .cards-wrapper {
    position: relative;
    overflow: hidden;
    background: $senet_white;
    box-shadow: 0 04px 19px 8px rgba(17, 43, 100, 0.09);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px 20px;
    @include large-screen {
      flex-direction: row;
      justify-content: space-between;
      padding: 60px 80px;
    }

    .left-content {
      width: 100%;
      @include large-screen {
        padding-bottom: 0;
        width: 47.75%;
        flex-basis: 47.75%;
      }

      .title {
        margin-bottom: 15px;
        @include large-screen {
          margin-bottom: 30px;
        }
      }

      .faqs-content {
        @include large-screen {
          padding-bottom: 0;
        }

        .card-faq {
          border-bottom: transparent;

          .action-svg {
            flex-shrink: 0;
            margin-left: 12px;
            transition: transform 300ms;
          }

          &.active {
            .action-svg {
              transform: scale(-1);
            }
          }

          &:not(:first-child) {
            padding-top: 20px;
          }

          &:not(:last-child) {
            border-bottom: 1px solid #D9D9D9;
            padding-bottom: 12px;
            @include large-screen {
              padding-bottom: 20px;
            }
          }

          .content-svg {
            cursor: pointer;
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            .title-faq {
              margin-bottom: 0;
            }

          }

          .accordion-body {
            display: none;
            padding-top: 13px;
          }
        }
      }

      .faq-description-accordion {
        p {
          margin-bottom: 0;
        }
      }
    }

    .line-center {
      width: 113%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.2);
      left: 50%;
      transform: translateX(-50%);
      margin-top: 50px;
      position: relative;

      @include large-screen {
        position: absolute;
        top: 0;
        left: 52%;
        width: 1px;
        height: 100%;
        transform: translateX(0);
        margin-top: 0;
      }
    }

    .right-content {
      padding-top: 30px;
      @include large-screen {
        padding-top: 0;
        margin-top: 0;
        width: 43.51%;
        flex-basis: 43.51%;
      }

      .right-title {
        margin-bottom: 0;
      }

      .description-right {
        padding-top: 15px;
        @include large-screen {
          padding-top: 30px;
        }
      }

      .cards-link {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        @include min-medium-screen {
          margin-top: 20px;
        }

        .first-link, .second-cta-link {
          @include small-screen {
            width: 100%;
            text-align: left;
          }
        }

        .first-link {
          margin-bottom: 20px;

          svg {
            margin-left: 12px;
            width: 22px;
            height: 11px;
            transition: transform $duration;

            path {
              fill: white;
            }
          }

          &:hover {
            svg {
              transform: translateX(10px);
            }
          }

          @include small-screen {
            min-width: 190px;
            font-size: 12px;
          }

        }

        .second-cta-link {
          @include large-screen {
            padding: 13px 32px;
          }
          @include small-screen {
            font-size: 12px;
            @include paddingY(13px);
          }
        }
      }
    }
  }
}