@import "styles/sites/virtual_world";

.work_project_block {
  overflow: hidden;
  @include paddingY(size(65), size(72));
  
  @include min-medium-screen {
    @include paddingY(size(167), size(54));
  }
  
  .container {
    position: relative;
    @include min-medium-screen {
      padding-right: 0;
    }
  }
  
  .section-line {
    background: linear-gradient(180deg, #30AAE2 0%, #62BB92 100%);
    z-index: 2;
    position: absolute;
    width: 3px;
    height: size(188);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    @include min-medium-screen {
      width: size(10);
      height: size(300);
    }
    
    @include large-screen {
      width: size(30);
      height: size(400);
    }
  }
  
  .swiper-parent {
    position: relative;
  }
  
  .card {
    height: size(376);
    max-width: size(323);
    @include min-medium-screen {
      height: size(436);
      max-width: 100%;
    }
    
    @include large-screen {
      height: size(850);
    }
    
    .card-content {
      border: 2px solid $virtual_world_blue;
      border-radius: size(13);
      background-color: #040b0e;
      height: 100%;
      margin-left: size(41);
      display: flex;
      flex-direction: column;
      @include paddingY(size(23));
      position: relative;
      z-index: 2;
      //cursor: grab;
      cursor: pointer;
      @include min-medium-screen {
        margin-left: size(40);
      }
      @include large-screen {
        margin-left: size(93);
        @include paddingY(size(53));
      }
    }
    
    .paragraph {
      max-width: size(196);
      margin-left: auto;
      font-weight: 300;
      margin-bottom: size(129);
      @include min-medium-screen {
        margin-bottom: size(112);
      }
      @include large-screen {
        max-width: size(245);
        margin-bottom: size(194);
        margin-right: size(26);
        
      }
    }
    
    .headline-2 {
      font-weight: 900;
      margin-left: size(-30);
      @include font-size(40px, 48px);
      letter-spacing: size(1.36);
      
      @include min-medium-screen {
        margin-left: size(-40);
      }
      
      @include large-screen {
        @include font-size(100px, 120px);
        letter-spacing: size(3.4);
        margin-left: size(-92);
      }
    }
    
    .media-wrapper {
      position: absolute;
      z-index: -1;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 95%;
      height: 71%;
      left: 50%;
      top: 22%;
      transform: translateX(-50%);
      
      @include large-screen {
        height: size(607);
        top: 16%;
        
      }
      
      picture {
        @include square(100%);
        
        @include large-screen {
          @include square(100%);
        }
      }
      
      img, video {
        @include square(100%);
        object-fit: cover;
      }
      
      video {
        @include square(80%);
        @include large-screen {
          @include square(95%);
        }
      }
      
    }
  }
  
  .project-video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    @include objectImg(cover);
    border-radius: inherit;
  }
  
  //.project-video-poster {
  //  position: absolute;
  //  z-index: -1;
  //  top: 0;
  //  left: 0;
  //  @include objectImg(cover);
  //  transition: opacity $duration;
  //}
  
  .see-all-text {
    @include font(18px, 400, 22px, $virtual_world_white, $lato, size(1.02));
    display: block;
    width: fit-content;
    @include marginX(auto);
    transition: color $duration;
    margin-top: size(30);
    
    @include min-medium-screen {
      @include font-size(30px, 36px);
      padding-right: $container-padding-md;
    }
    @include large-screen {
      padding-right: $container-padding-lg;
    }
    
    &:hover {
      color: $virtual_world_blue;
    }
  }
  
  
  .swiper-paginations {
    margin-top: size(50);
    
    @include min-medium-screen {
      padding-right: $container-padding-md;
    }
    @include large-screen {
      padding-right: $container-padding-lg;
    }
  }
  
  //.swiper-button {
  //  z-index: 2;
  //  cursor: pointer;
  //  position: absolute;
  //  top: 50%;
  //  transform: translateY(-50%);
  //  @include min-medium-screen {
  //    @include square(size(40));
  //    display: flex;
  //    align-items: center;
  //    justify-content: center;
  //    border-radius: 50%;
  //    transition: background $duration;
  //    &:hover {
  //      background: #1A1F29;
  //    }
  //  }
  //
  //  @include large-screen {
  //    @include square(size(60));
  //  }
  //
  //  svg {
  //    width: size(10);
  //    height: size(20);
  //    @include min-medium-screen {
  //      width: size(17);
  //      height: size(20);
  //    }
  //    @include large-screen {
  //      height: size(30);
  //    }
  //  }
  //
  //}
  //
  //.swiper-button-prev {
  //  left: size(-5);
  //  z-index: 2;
  //  @include min-medium-screen {
  //    left: -4.4%;
  //  }
  //  @include large-screen {
  //    left: -3.4%;
  //  }
  //}
  //
  //.swiper-button-next {
  //  transform: translateY(-50%) rotate(180deg);
  //  right: size(10);
  //  @include min-medium-screen {
  //    right: 2%;
  //  }
  //}
}


