@import "styles/sites/raistone";

.image_and_text_block {
  @include paddingY(size(70), size(72));
  @include min-medium-screen {
    @include paddingY(size(164), size(128));
  }
  @include large-screen {
    @include paddingY(size(64), size(56));
  }

  .container {
    @include paddingX(0);
    @include min-medium-screen {
      @include paddingX(size(24));
    }
    @include large-screen {
      @include paddingX(size(56));
    }
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    @include large-screen {
      max-width: 94.56%;
      flex-direction: row;
    }

  }

  .left-content {
    @include flexBasis(100%);

    @include large-screen {
      @include flexBasis(42.26%);
    }

    .aspect-ratio {
      padding-top: 109.5%;
      @include large-screen {
        padding-top: 112.87%;
      }
    }
  }

  .theme-1, .theme-2, .theme-3, .theme-4 {
    position: relative;

    .theme-one-inner2 {
      @include small-screen {
        max-height: size(240);
      }
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 82%;
      height: size(480)
    }

    .content-image {
      @include square(100%);
      object-fit: cover;

      &.contain {
        object-fit: contain;
      }
    }

  }

  .theme-1 {

    .theme1-pic1, .theme2-pic1, .theme3-pic1 {
      display: none;
    }
  }

  .theme-2 {

    .theme2-pic1, .theme3-pic1, .theme4-pic1 {
      display: none;
    }
  }

  .theme-3 {


    .theme2-pic1, .theme1-pic1, .theme4-pic1 {
      display: none;
    }
  }

  .theme-4 {
    .theme1-pic1, .theme3-pic1, .theme4-pic1 {
      display: none;
    }
  }

  .right-content {
    @include flexBasis(100%);
    margin-bottom: size(48);
    @include paddingX(size(20));

    @include min-medium-screen {
      @include paddingX(0);
      margin-bottom: size(86);
    }
    @include large-screen {
      margin-bottom: 0;
      @include flexBasis(51.6%);
      @include paddingX(0);
      padding-top: size(64);
    }
  }

  .small-title {
    color: $raistone_mid_plum;
    margin-bottom: size(12);
    text-transform: uppercase;
  }

  .title {
    color: $raistone_jet_black;
    margin-bottom: size(8);
    @include large-screen {
      margin-bottom: size(25);
    }
  }

  .description {
    color: $raistone_gery;
    margin-bottom: size(72);
    max-width: size(669);
    @include min-medium-screen {
      margin-bottom: size(108);
    }
    @include large-screen {
      margin-bottom: size(56);
      max-width: size(840);
    }
  }

  .icon-and-title {
    display: flex;
    align-items: center;
    margin-bottom: size(33);
    @include min-medium-screen {
      margin-bottom: size(38);
    }
    @include large-screen {
      margin-bottom: size(50);
    }

    .icon {
      width: size(32);
      height: size(41);
      flex-shrink: 0;
      margin-right: size(16);

      svg, img {
        @include square(100%);
      }

      img {
        object-fit: cover;
      }
    }

    .headline-4 {
      color: $raistone_gery;
    }
  }

  .title-and-description-and-link {
    display: flex;
  }

  .columns-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: size(-48);
    flex-direction: column;

    @include large-screen {
      flex-direction: row;
    }
  }

  .column-content {
    margin-bottom: size(48);

    @include large-screen {
      @include flexBasis(size(333));
    }

    .headline-3 {
      color: $raistone_jet_black;
      margin-bottom: size(8);
      @include large-screen {
        margin-bottom: size(24);
      }
    }

    .column-description {
      @include font-size(18px, 26px);
      color: $raistone_gery;
      font-family: $lato;
      margin-bottom: size(8);
      max-width: size(660);
      @include min-medium-screen {
        margin-bottom: size(24);
        @include font-size(22px, 36px);
      }
      @include large-screen {
        max-width: 100%;
      }
    }
  }

  &.theme-two {
    background-color: $raistone_aluminium;
    @include paddingY(size(73), size(32));
    @include min-medium-screen {
      @include paddingY(size(96), size(43));
    }
    @include large-screen {
      @include paddingY(size(84), size(88));
    }

    .content-wrapper {
      @include large-screen {
        max-width: 91.9%;
      }
    }

    .left-content {
      .aspect-ratio {
        padding-top: 109.5%;
        @include large-screen {
          padding-top: 112.87%;
        }
      }

      @include large-screen {
        @include flexBasis(43.46%);
      }
    }

    .right-content {
      @include large-screen {
        @include flexBasis(51.9%);
      }

      .small-title {
        @include large-screen {
          margin-bottom: size(27);
        }
      }

      .icon-and-title {
        margin-top: size(25);

        @include large-screen {
          margin-bottom: size(36);
        }
      }

      .columns-wrapper {
        .column-content {
          //@include large-screen {
          //  @include flexBasis(size(471));
          //}

          .headline-3 {
            @include large-screen {
              margin-bottom: size(36);
            }
          }
        }
      }

      .icon-and-title {
      }
    }

  }

  &.theme-three {
    @include paddingY(size(72), size(31));
    @include min-medium-screen {
      @include paddingY(size(103), size(40));
    }
    @include large-screen {
      @include paddingY(size(69));
    }

    .content-wrapper {
      @include large-screen {
        max-width: 95.8%;
      }
    }

    .left-content {
      .aspect-ratio {
        padding-top: 108.87%;
      }

      @include large-screen {
        @include flexBasis(41.67%);
      }
    }

    .right-content {
      .small-title {
        @include large-screen {
          margin-bottom: size(15);
        }
      }

      .description {
        margin-bottom: size(16);
        @include min-medium-screen {
          margin-bottom: size(24);
        }
      }

      .icon-and-title {
        margin-top: size(25);
      }
    }

  }

  &.reverse {
    .content-wrapper {
      @include large-screen {
        flex-direction: row-reverse;
        margin-left: auto;
      }
    }
  }
}
