
@import "styles/sites/towSmart";


.product_types_block {
  background-color: #272A33;
  @include paddingY(size(60));
  @include min-medium-screen {
    @include paddingY(size(120), size(103));
  }
  
  .container {
    position: relative;
    @include min-medium-screen {
      @include paddingX(0);
    }
    
  }
  
  .car-wrapper {
    position: relative;
    
  }
  
  .text-head {
    text-align: center;
    @include marginX(auto);
    margin-bottom: size(40);
    @include min-medium-screen {
      max-width: 70%;
      margin-bottom: 0;
      margin-top: size(20);
    }
    @include small-screen {
      @include font-size(24px, 28px);
    }
  }
  
  .circle-link-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include paddingX(size(5));
    z-index: 1;
    
    @include min-medium-screen {
      width: 100%;
      text-align: center;
    }
    @include small-screen {
      .circle-title {
        margin-right: size(12);
      }
      .arrow-img {
        path {
          fill: $tow_smart_white !important;
        }
      }
      
    }
  }
  
  .product-background {
    @include small-screen {
      display: none;
    }
    
  }
  
  .product-types-wrapper {
    @include small-screen {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    @include min-medium-screen {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  
  .products-types-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    @include font-size(16px, 19px);
    font-weight: bold;
    color: $tow_smart_white;
    @include square(size(200));
    border-radius: 50%;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.1);
    transform: translate(0);
    border: 4px solid transparent;
    transition: border-color, width, height, background;
    transition-duration: $duration;
    @include small-screen {
      &:not(:last-child) {
        margin-bottom: size(40);
      }
      background: $tow_smart_black;
      border: 4px solid rgba(255, 255, 255, 0.2);
      
    }
    
    .circle-title {
      font-weight: 700;
      @include font-size(16px, 24px);
      @include min-medium-screen {
        width: 100%;
        text-align: center;
      }
      @include medium-screen {
        max-width: 60%;
      }
    }
    
    img {
      @include objectImg();
    }
    
    @include min-medium-screen {
      background: rgba(255, 255, 255, 0.1);
      margin-top: 0;
      transform: translate(-50%, -50%);
      .circle-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        z-index: 1;
        font: inherit;
        transition: color $duration;
      }
      
      &:hover {
        border-color: rgba(255, 255, 255, 0.1);
        background: radial-gradient(circle, #000 61%, rgba(0, 0, 0, 0) 72%) !important;
        @include min-medium-screen {
          @include square(size(180));
        }
        @include large-screen {
          @include square(size(300));
        }
        
        .product-img {
          opacity: 1;
        }
        
        .circle-title {
          color: $tow_smart_red;
        }
        
        .arrow-img {
          opacity: 1;
          margin-right: size(30);
          @include min-medium-screen {
            margin-right: size(10);
          }
          @include large-screen {
            margin-right: size(30);
          }
          
          path {
            fill: $tow_smart_red;
          }
        }
      }
    }
    @include medium-screen {
      @include square(size(150));
    }
    
  }
  
  // circles position
  @include min-medium-screen {
    .circle1, .circle2, .circle3 {
      position: absolute;
      top: 49.5%;
    }
    .circle1 {
      left: 30%;
    }
    .circle2 {
      left: 50%;
    }
    .circle3 {
      left: 70%;
    }
  }
  @include large-screen {
    .circle1, .circle2, .circle3 {
      top: 57%;
    }
  }
  
  .arrow-img {
    @include min-medium-screen {
      opacity: 0;
      transition-property: margin, opacity;
      transition-duration: .3s;
      transition-timing-function: ease-in;
      margin-left: auto;
      display: block;
      margin-right: size(30);
    }
  }
  
  .product-img {
    position: absolute;
    @include square(100%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity $duration;
    border-radius: 50%;
    overflow: hidden;
    
    img {
      object-fit: cover;
    }
    
    @include min-medium-screen {
      opacity: 0;
      @include square(91%);
    }
  }
  
  .btn-arrow {
    @include small-screen {
      margin-top: size(40);
    }
  }
  
  //.tire {
  //  animation: rotate 1.5s linear infinite;
  //  transform-origin: center;
  //  transform-box: fill-box;
  //  @keyframes rotate {
  //    from {
  //      transform: rotate(0);
  //    }
  //    to {
  //      transform: rotate(-360deg);
  //    }
  //  }
  //}
  
  //.train {
  //  animation: upDown 1s ease-in-out alternate-reverse infinite;
  //  @keyframes upDown {
  //    0% {
  //      transform: translateY(2px);
  //    }
  //    50% {
  //      transform: translateY(0);
  //    }
  //    100% {
  //      transform: translateY(-2px);
  //    }
  //  }
  //}
  
  //.tire-delay {
  //  animation-delay: 1s;
  //}
}

  


