
@import "styles/sites/rentReports";

header {
  padding-bottom: size(20);
  @include paddingX(size(24));
  @include large-screen {
    @include paddingX(size(60));
    padding-bottom: size(22);
  }
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: background-color $duration;
  background-color: transparent;
  
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 300ms ease-in;
    pointer-events: none;
    
  }
  
  &.active {
    background-color: #e2edf8 !important;
    
    &:before {
      transition-delay: 200ms;
      opacity: 0.6;
    }
  }
  
  .menu-item {
    color: $rentReporters-shark;
    font-weight: 600;
    transition: color $duration;
    position: relative;
    width: fit-content;
    cursor: pointer;
    
    &:not(:last-child) {
      margin-bottom: size(20);
    }
    
    @include large-screen {
      &:not(:last-child) {
        margin-right: size(40);
        margin-bottom: 0;
      }
    }
    
    a {
      font-size: size(16);
      line-height: size(28);
      @include large-screen {
        font-size: size(14);
        line-height: size(24);
      }
    }
    
    &.has-icon {
      @include large-screen {
        margin-left: size(25);
      }
      
      &:before {
        position: absolute;
        content: '';
        width: size(14);
        height: size(16);
        top: 50%;
        transform: translateY(-50%);
        right: calc(100% + 0.9rem);
        //background-image: url(../../images/building.svg);
        background-size: cover;
        transition: transform $duration $bouncing;
      }
      
      &:after {
        top: 120%;
        @include large-screen {
          top: 100%;
        }
      }
    }
    
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $rentReporters-shark;
      left: 0;
      top: 120%;
      opacity: 0;
      transition: opacity $duration;
      @include large-screen {
        top: 110%;
      }
    }
  }
  
  .menu-top-menu-container {
    margin-top: size(20);
    height: size(30);
    @include max-large-screen {
      position: relative;
      z-index: 999;
    }
    @include large-screen {
      display: flex;
      justify-content: flex-end;
      margin-top: size(13);
    }
    transition: margin-top 400ms;
    
    .top-menu {
      @include flex(center, flex-end, false, false);
      display: none;
      @include large-screen {
        display: flex;
      }
      
      .menu-item {
        &:not(:last-child) {
          margin-right: size(25);
        }
        
        a {
          font-size: size(14);
          line-height: size(15);
          @include large-screen {
            font-size: size(14);
          }
        }
      }
    }
    
    .language-wrapper {
      width: fit-content;
      height: size(28);
      border-radius: size(8);
      background-color: $rentReporters-white;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-left: auto;
      @include large-screen {
        margin-left: size(19);
      }
      
      .left, .right {
        color: $rentReporters-black-60;
        font-size: size(14);
        font-weight: 600;
        flex-basis: 50%;
        text-align: center;
        height: 100%;
        @include flex(center, center, false, false);
        cursor: pointer;
        overflow: hidden;
        border-radius: size(8) 0 0 size(8);
        transition: all $duration;
        padding: size(10);
        
        &:hover {
          background-color: $rentReporters-blue;
          opacity: 0.7;
          color: $rentReporters-white;
          border-color: transparent;
          
        }
        
        &.active {
          background-color: $rentReporters-blue;
          color: $rentReporters-white;
          border-color: transparent;
          cursor: auto;
          pointer-events: none;
        }
      }
      
      .left {
        border: 1px solid $rentReporters-gray;
      }
      
      .right {
        border-radius: 0 size(8) size(8) 0;
        border: 1px solid $rentReporters-gray;
        border-left: none;
      }
    }
    
  }
  
  .bottom-menu {
    @include flex(center, space-between, false, false);
    position: relative;
    z-index: 99;
    margin-top: size(30);
    
    .header-logo {
      flex-shrink: 0;
      max-width: size(124);
      height: auto;
      z-index: 99;
      transition: height 400ms;
      @include min-medium-screen {
        max-width: size(200);
      }
      @include large-screen {
        max-width: size(256);
      }
      
      img {
        @include square(100%);
        object-fit: contain;
      }
    }
    
    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      width: 100%;
      z-index: 95;
      transition: transform 300ms ease-in;
      @include large-screen {
        align-items: center;
        flex-direction: row;
        overflow-y: visible;
        position: relative;
        transform: translateX(0);
        width: auto;
      }
      
      &-wrapper {
        @include paddingY(size(30), size(130));
        background-color: #e2edf8;
        width: size(265);
        height: 100vh;
        overflow: auto;
        @include medium-screen {
          padding-top: size(70);
        }
        @include large-screen {
          background-color: transparent;
          padding: 0;
          width: auto;
          height: auto;
        }
        
        .primary-menu {
          display: flex;
          flex-direction: column;
          @include paddingX(size(40));
          padding-bottom: size(11);
          border-bottom: size(1) solid rgba(0, 0, 0, 0.2);
          @include large-screen {
            flex-direction: row;
            align-items: center;
            padding: 0;
            border: none;
          }
          
          .menu-item {
            &:after {
              top: 100%;
              height: 2px;
              @include large-screen {
                top: 110%;
              }
            }
          }
          
          .cta-button {
            width: fit-content;
            min-width: size(120);
            @include flex(center, center, false, false);
            background-color: $rentReporters-white;
            color: $rentReporters-shark;
            font-size: size(14);
            font-weight: 500;
            line-height: 100%;
            padding: size(12);
            border-radius: size(8);
            border: size(2) solid $rentReporters-shark;
            cursor: pointer;
            text-align: center;
            transition: color, border-color, background-color;
            transition-duration: $duration;
            
            &:hover {
              color: $rentReporters-white;
              border-color: transparent;
              background-color: $rentReporters-shark;
            }
            
            &:after {
              display: none;
            }
            
            display: none;
            @include large-screen {
              display: block;
            }
          }
          
          .header-link {
            color: $rentReporters-blue;
            font-size: size(14);
            font-weight: 600;
            line-height: size(24);
            --delay: 200ms;
            cursor: pointer;
            display: none;
            transition: color $duration;
            @include large-screen {
              display: block;
            }
            
            &:before, &:after {
              content: '';
              position: absolute;
              top: 103%;
              left: 0;
              transition: transform, color; //cubic-bezier(0.51, 0.18, 0, 0.88)
              transition-duration: $duration;
              transform-origin: right;
              background-color: currentColor;
              height: 2px;
              //border-bottom: 2px solid $rentReporters-blue;
              width: 100%;
              display: table;
            }
            
            &:before {
              transition-delay: var(--delay);
            }
            
            &:after {
              transform-origin: left;
              //transition-delay: 300ms;
              transform: scaleX(0);
              opacity: 1;
            }
            
            &:hover {
              color: $rentReporters-light-blue;
              
              &:before {
                transform: scaleX(0);
                transition-delay: unset;
              }
              
              &:after {
                transition-delay: var(--delay);
                transform: scaleX(1);
              }
            }
          }
        }
        
        .top-menu {
          @include paddingX(size(42));
          @include paddingY(size(25), size(66));
          
          .menu-item {
            a {
              font-size: size(14);
              line-height: size(14);
            }
          }
          
          @include large-screen {
            display: none;
          }
        }
        
        .cta-btn-mob {
          width: fit-content;
          min-width: size(225);
          @include flex(center, center, false, false);
          background-color: $rentReporters-blue;
          color: $rentReporters-white;
          font-size: size(14);
          font-weight: 500;
          line-height: 100%;
          padding: size(18);
          border-radius: size(8);
          cursor: pointer;
          text-align: center;
          transition: background-color $duration;
          margin: 0 auto;
          
          &:hover {
            background-color: $rentReporters-light-blue;
          }
          
          @include large-screen {
            display: none;
          }
        }
        
        .login {
          font-weight: 400;
          font-size: size(14);
          line-height: size(14);
          text-align: center;
          margin-top: size(30);
          @include large-screen {
            display: none;
          }
          
          a {
            font-weight: 600;
            color: $rentReporters-blue;
            transition: color $duration;
            
            &:hover {
              color: $rentReporters-light-blue;
            }
          }
        }
      }
      
      &.active {
        transform: translateX(0);
        
        &:before {
          opacity: 0.6;
        }
      }
      
      .mobile-mask {
        @include max-large-screen {
          display: block;
          height: 11.8rem;
          background: #e2edf8;
          transition: height $duration;
        }
        display: none;
      }
    }
  }
  
  .burger-and-menu {
    display: flex;
    align-items: center;
    z-index: 99;
    
    @include large-screen {
      display: none;
    }
    
    .menu {
      width: size(19);
      height: size(19);
      position: relative;
      z-index: 99;
      cursor: pointer;
      transform: translate3d(0, 0, 0);
      margin-right: size(10);
      flex-shrink: 0;
      
      .burger-menu {
        border: none;
        background: transparent;
        cursor: pointer;
        @include square(100%);
        padding: 0;
        
        &:focus {
          outline: none !important;
        }
        
        span {
          display: block;
          width: 100%;
          height: size(3);
          margin-bottom: size(3);
          position: relative;
          z-index: 1;
          border-radius: size(10);
          
          &:after, &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $rentReporters-black;
            opacity: .99;
            transition: background-color 600ms;
            border-radius: size(10);
            display: table;
          }
          
          &:nth-of-type(even) {
            &:before {
              transform-origin: right;
              transform: scaleX(0) translateZ(0);
              transition: transform .6s cubic-bezier(.165, .84, .44, 1);
            }
            
            &:after {
              transform-origin: left;
              transform: scaleX(1) translateZ(0);
              transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
            }
          }
          
          &:before {
            transform-origin: right;
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }
          
          &:after {
            transform-origin: left;
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }
          
          &:last-child {
            margin: 0 auto;
          }
          
          &:first-child {
            margin: 0 auto size(3);
          }
        }
        
        &:hover {
          span {
            
            &:nth-of-type(even) {
              &:before {
                transform: scaleX(1) translateZ(0);
                transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
              }
              
              &:after {
                transform: scaleX(0) translateZ(0);
                transition: transform .6s cubic-bezier(.165, .84, .44, 1);
              }
            }
            
            &:before {
              transform: scaleX(0) translateZ(0);
              transition: transform .6s cubic-bezier(.165, .84, .44, 1);
            }
            
            &:after {
              transform: scaleX(1) translateZ(0);
              transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
            }
            
          }
        }
        
        &.active {
          span {
            &:after, &:before {
              background-color: $rentReporters-black;
            }
          }
        }
      }
    }
    
    span {
      color: $rentReporters-shark;
      font-size: size(14);
      font-weight: 500;
    }
    
  }
  
  .ul-has-active {
    .menu-item {
      &:not(.current-menu-item) {
        color: $rentReporters-gray;
        font-weight: 400;
      }
      
      &.current-menu-item {
        &:after {
          opacity: 1;
        }
      }
      
      &:hover {
        color: $rentReporters-black;
      }
    }
  }
  
  &.sticky {
    background-color: white;
    box-shadow: .1rem 0 .6rem -.3rem rgba(0, 0, 0, .5);
    padding-bottom: 1rem;
    
    .bottom-menu {
      margin-top: 2rem;
      
      .navbar {
        &-wrapper {
          padding-top: size(30);
          @include medium-screen {
            padding-top: size(70);
          }
          @include large-screen {
            padding: 0;
          }
        }
      }
      
      @include large-screen {
        .header-logo {
          height: size(53);
        }
      }
    }
    
    .menu-top-menu-container {
      margin-top: size(-39);
    }
    
    .mobile-mask {
      height: 6rem !important;
    }
  }
}

  


