
@import "styles/sites/towSmart";


footer {
  background-color: $tow_smart_dark_black;
  @include paddingY(size(38), size(20));
  @include large-screen {
    @include paddingY(size(40), size(16));
  }
  
  .footer-wrapper {
    max-width: size(816);
    margin: 0 auto;
    @include small-screen {
      @include paddingX(size(20));
    }
    
    .footer-link {
      color: $tow_smart_white;
      @include font-size(16px, 24px);
      font-weight: 400;
      
      @include min-medium-screen {
        @include font-size(14px, 16px);
      }
      
      &:hover {
        color: $tow_smart_red;
      }
    }
    
    
  }
  
  .footer-wrapper-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-wrapper-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include flexBasis(100%);
    max-width: size(375);
    margin-bottom: size(30);
    @include min-medium-screen {
      margin-bottom: 0;
      @include flexBasis(40.44%);
    }
  }
  
  .footer-links {
    li {
      &:not(:last-child) {
        margin-bottom: size(22);
        @include min-medium-screen {
          margin-bottom: size(30);
        }
      }
    }
  }
  
  .follow-us-and-contact-info {
    @include flexBasis(100%);
    
    @include min-medium-screen {
      @include flexBasis(36.60%);
      
    }
    
    .paragraph-14 {
      font-weight: 700;
      color: rgba(255, 255, 255, 0.3);
      //text-transform: capitalize;
    }
    
    .title {
      @include font-size(14px, 17px);
      margin-bottom: size(20);
    }
  }
  
  .follow-us-links {
    display: flex;
    flex-direction: column;
    margin-bottom: size(40);
  }
  
  .social-icons {
    display: flex;
    margin: size(-20);
    flex-wrap: wrap;
  }
  
  .icon {
    @include square(size(40));
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #333539;
    margin: size(20);
    transition: background-color $duration;
    
    svg {
      @include square(size(18));
    }
    
    &:hover {
      background-color: $tow_smart_red;
    }
  }
  
  .contact-info-links {
    display: flex;
    flex-direction: column;
  }
  
  .contact-info-wrapper {
    display: flex;
  }
  
  .contact-info-link {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    @include font-size(14px, 21px);
    color: $tow_smart_white;
    max-width: size(120);
    @include min-medium-screen {
      max-width: size(160);
    }
    
    &:not(:last-child) {
      margin-right: size(68);
      @include min-medium-screen {
        margin-right: size(50);
      }
    }
    
    svg {
      @include square(size(22));
      margin-bottom: size(12);
    }
  }
  
  .footer-wrapper-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: size(40);
    
    .left-paragraph {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(52.45%);
      }
      
      .text-1, .text-2 {
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5) !important;
        @include font-size(12px, 18px);
        
        p {
          color: rgba(255, 255, 255, 0.5) !important;
          
          a {
            color: rgba(255, 255, 255, 0.5) !important;
            
            &:hover {
              color: $tow_smart_red !important;
            }
          }
        }
      }
      
      .text-1 {
        margin-bottom: size(20);
        @include min-medium-screen {
          margin-bottom: size(6);
        }
      }
      
    }
  }
  
  .footer-wrapper-bottom-images {
    display: flex;
    align-items: center;
    @include flexBasis(70%);
    margin-top: size(20);
    @include min-medium-screen {
      margin-top: 0;
      @include flexBasis(36.60%);
    }
    
    .paragraph-12 {
      font-weight: 400;
      color: rgba(255, 255, 255, 0.5);
      transition: color $duration;
      @include font-size(12px, 18px)
    }
    
    a {
      display: flex;
      align-items: center;
    }
    
    &:hover {
      p {
        color: $tow_smart_red;
      }
    }
  }
  
  .footer-wrapper-bottom-img {
    width: size(29);
    height: size(24);
    margin-right: size(12);
    flex-shrink: 0;
    
    img {
      object-fit: contain;
    }
  }
  
  &.has-three-column {
    
    @include large-screen {
      padding-bottom: size(21);
    }
    
    
    .footer-wrapper-links {
      margin-bottom: size(-40);
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(66%);
      }
    }
    
    .footer-links {
      margin-bottom: size(40);
      
      li {
        &:not(:last-child) {
          margin-bottom: size(33);
        }
      }
    }
    
    .follow-us-and-contact-info {
      @include min-medium-screen {
        @include flexBasis(23.53%);
      }
      
    }
    
    .social-icons {
      margin: size(-18);
    }
    
    
    .icon {
      margin: size(18);
    }
    
    .follow-us-links {
      margin-top: size(40);
      margin-bottom: 0;
      
      @include min-medium-screen {
        margin-top: 0;
      }
    }
    
    .contact-info-links {
      margin-top: size(30);
    }
    
    .contact-info-wrapper {
      @include min-medium-screen {
        flex-direction: column;
      }
      
      .contact-info-link {
        &:not(:last-child) {
          margin-bottom: size(30);
        }
      }
    }
    
    .footer-wrapper-bottom {
      margin-top: size(40);
      @include min-medium-screen {
        margin-top: size(60);
      }
      
    }
  }
  
  &.hide-contact {
    .contact-info-links {
      display: none;
    }
  }
}

  


