
@import "styles/sites/propellerheath";


.text_columns_link_block {
  overflow: hidden;
  background: $propellerhealth_denim;
  @include paddingY(size(56), size(55));
  position: relative;
  z-index: 3;
  @include min-medium-screen {
    @include paddingY(size(140));
  }

  .container {
    @include large-screen {
      padding-right: size(170);
      padding-left: size(70);
    }
  }

  .text-columns-link-cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include small-screen {
      flex-direction: column;
      align-items: flex-start;
    }


    .text-columns-link-left-title {
      color: $propellerhealth_white;

      @include small-screen {
        max-width: size(300);
      }

      @include min-medium-screen {
        text-align: center;
        width: size(600);
      }

      &.large-title {
        @include font(36px, 400, 46px);
        @include large-screen {
          @include font-size(68px, 72px);
        }
      }

      &.small-title {
        @include font(36px, 400, 42px);
        @include large-screen {
          @include font-size(52px, 56px);
        }
      }

    }

    .text-columns-link-right {
      margin-top: size(28);
      @include min-medium-screen {
        width: size(510);
        margin-top: 0;
      }

      .text-columns-link-right-description {
        color: $propellerhealth_white;
        @include min-medium-screen {
          padding-bottom: size(24);
          font-size: size(20);
          line-height: size(30);
        }
        @include small-screen {
          max-width: size(437);
          font-size: size(16);
          line-height: size(20);
          padding-bottom: size(30);
        }

        &.large-description {
          @include font(20px, 400, 24px);
          @include large-screen {
            @include font-size(24px, 30px);
          }
        }

        &.small-description {
          @include font(16px, 400, 20px);
          @include large-screen {
            @include font-size(20px, 30px);
          }
        }
      }

      .text-columns-link {
        color: $propellerhealth_white;

        svg {
          width: size(13);
        }
      }

      .text-columns-link-cta-btn {
        @include small-screen {
          font-size: size(16);
        }
        @include min-medium-screen {
          margin-top: size(16);
        }
      }
    }

    &.center {
      @include small-screen {
        align-items: center;
      }

      .text-columns-link-left-title {
        @include small-screen {
          text-align: center;
          @include marginX(auto)
        }
      }

      .text-columns-link-right {
        @include small-screen {
          display: flex;
          flex-direction: column;
          align-items: center;
          .text-columns-link-right-description {
            @include small-screen {
              max-width: size(312);
              text-align: center;
              @include marginX(auto)
            }
          }
        }
      }
    }

  }

  .site-dots {
    bottom: 0;
  }


  &.white {
    .text-columns-link-left-title {
      color: $propellerhealth_coal;
    }

    .text-columns-link-right {
      .text-columns-link-right-description {
        color: $propellerhealth_coal;
        @include small-screen {
          @include font-size(20px, 24px);
        }
      }

      .text-columns-link {
        color: $propellerhealth_coal;
      }

      .text-columns-link-cta-btn {
        background-color: $propellerhealth_denim;
        color: $propellerhealth_white;

        &:hover {
          background-color: $propellerhealth_hover_color;
        }
      }
    }

    .text-columns-link {
      path {
        fill: #003B72 !important;
      }
    }
  }

}



