
@import "styles/sites/propellerheath";


.gform_wrapper, .gravity-theme {
  position: relative;

  .gform_validation_errors {
    border-radius: 0 size(20) 0 size(20) !important;
    @include marginY(size(10) !important) ;
    display: none;

    .gform_submission_error {
      @include small-screen {
        @include font-size(12px, 12px)
      }
    }
  }

  .gform_heading {
    display: none;
  }

  .gform_body.gform-body {


    //radiobutton and checkboxes
    fieldset.gfield {
      width: 100%;
    }

    // input and label container
    .gfield {

      //label
      .gfield_label {
        @include font(18px, 400, 25px, $propellerhealth_coal, $Lato);
        margin-bottom: size(13);
        transition: font-weight $duration;
        //required word or  * style
        .gfield_required {
          .gfield_required, .gfield_required_asterisk {
            color: $propellerhealth_coal;
          }

          .gfield_required, .gfield_required_text {
            color: $propellerhealth_coal;
          }

        }
      }

      // maximum and minimum characters of  the input
      .charleft.ginput_counter {
        display: none;
      }

      // Normal input
      .ginput_container.ginput_container_text {
        input {
          max-width: size(340);
          height: size(71);
          width: size(300);
          @include paddingY(size(20));
          @include paddingX(size(20));
          border-radius: 0 size(20) 0 size(20);
          @include font(18px, 400, 25px, $propellerhealth_denim, $Lato);
          border: 2px solid $propellerhealth_denim_20;
          transition: color $duration, border-color $duration;
          @include min-medium-screen {
            height: size(71);
            width: size(340);
          }

          &:focus {
            color: $propellerhealth_primary;
            border-color: $propellerhealth_primary;
          }
        }
      }

      // Email input
      .ginput_container.ginput_container_email {
        input {
          max-width: size(340);
          height: size(71);
          width: size(300);
          @include paddingY(size(20));
          @include paddingX(size(20));
          border-radius: 0 size(20) 0 size(20);
          @include font(18px, 400, 25px, $propellerhealth_denim, $Lato);
          border: 2px solid $propellerhealth_denim_20;
          transition: color $duration, border-color $duration;
          @include min-medium-screen {
            height: size(71);
            width: size(340);
          }

          &:focus {
            color: $propellerhealth_primary;
            border-color: $propellerhealth_primary;
          }
        }

      }

      // radio button input
      .ginput_container.ginput_container_radio {

        .gfield_radio {

          .gchoice {
            [type="radio"] {

              &:checked + label, &:not(:checked) + label {
                position: relative;
                padding-left: size(10);
                cursor: pointer;
                display: inline-block;
              }

              &:checked + label:before, &:not(:checked) + label:before {
                content: '';
                position: absolute;
                right: 100%;
                top: 0;
                border: 2px solid $propellerhealth_denim_20;
                border-radius: 100%;
                @include square(size(25));
                @include min-medium-screen {
                  @include square(size(32));
                }
              }


            }

            &:first-child {

              [type='radio'] {
                &:checked + label:after {
                  content: '';
                  position: absolute;
                  top: 50%;
                  left: -50%;
                  @include square(size(15));
                  @include min-medium-screen {
                    @include square(size(19));
                  }
                  -webkit-transition: transform $duration ease;
                  transition: transform $duration ease;
                  -webkit-transform: scale(1) translate(-35%, -32%);
                  transform: scale(1) translate(-35%, -32%);
                  @include small-screen {
                    opacity: 1;
                    -webkit-transform: scale(1) translate(-5%, -50%);
                    transform: scale(1) translate(-5%, -50%);

                  }

                  border-radius: 100%;
                  background-color: $propellerhealth_denim;
                }

                &:not(:checked) + label:after {
                  content: '';
                  @include square(size(15));
                  background-color: $propellerhealth_denim;
                  position: absolute;
                  @include min-medium-screen {
                    @include square(size(19));
                  }
                  top: 50%;
                  left: -50%;
                  border-radius: 100%;
                  -webkit-transition: transform $duration ease;
                  transition: transform $duration ease;
                  opacity: 0;
                  -webkit-transform: scale(0) translate(-35%, -32%);
                  transform: scale(0) translate(-35%, -32%);
                  @include small-screen {
                    -webkit-transform: scale(1) translate(-5%, -50%);
                    transform: scale(1) translate(-5%, -50%);
                  }
                }

                &:checked + label:after {
                  opacity: 1;
                  -webkit-transform: scale(1) translate(-35%, -32%);
                  transform: scale(1) translate(-35%, -32%);
                  @include small-screen {
                    opacity: 1;
                    -webkit-transform: scale(1) translate(-5%, -50%);
                    transform: scale(1) translate(-5%, -50%);

                  }
                }


              }
            }

            &:nth-child(2) {
              [type='radio'] {
                &:checked + label:after {
                  content: '';
                  position: absolute;
                  top: 50%;
                  left: -50%;
                  @include square(size(15));
                  @include min-medium-screen {
                    @include square(size(19));
                  }
                  -webkit-transition: transform $duration ease;
                  transition: transform $duration ease;
                  -webkit-transform: scale(1) translate(-45%, -32%);
                  transform: scale(1) translate(-45%, -32%);
                  @include small-screen {
                    opacity: 1;
                    -webkit-transform: scale(1) translate(-19%, -50%);
                    transform: scale(1) translate(-19%, -50%);

                  }

                  border-radius: 100%;
                  background-color: $propellerhealth_denim;
                }

                &:not(:checked) + label:after {
                  content: '';
                  @include square(size(15));
                  background-color: $propellerhealth_denim;
                  position: absolute;
                  @include min-medium-screen {
                    @include square(size(19));
                  }
                  top: 50%;
                  left: -50%;
                  border-radius: 100%;
                  -webkit-transition: transform $duration ease;
                  transition: transform $duration ease;
                  opacity: 0;
                  -webkit-transform: scale(0) translate(-45%, -32%);
                  transform: scale(0) translate(-45%, -32%);
                  @include small-screen {
                    -webkit-transform: scale(1) translate(-19%, -50%);
                    transform: scale(1) translate(-19%, -50%);
                  }
                }

                &:checked + label:after {
                  opacity: 1;
                  -webkit-transform: scale(1) translate(-45%, -32%);
                  transform: scale(1) translate(-45%, -32%);
                  @include small-screen {
                    opacity: 1;
                    -webkit-transform: scale(1) translate(-19%, -50%);
                    transform: scale(1) translate(-19%, -50%);

                  }
                }
              }
            }

            input {
              opacity: 0;
              //visibility: hidden;


            }

            margin-bottom: size(12);

            &:last-of-type {
              margin-bottom: size(0);

            }

            label {
              @include font(18px, 700, 25px, $propellerhealth_coal, $Lato);
            }
          }
        }
      }

      // check box input
      .ginput_container.ginput_container_checkbox {
        .gfield_checkbox {
          .gchoice {
            margin-bottom: size(10);

            input {
              padding: 0;
              margin-bottom: 0;
              display: none;
              cursor: pointer;

              &:checked + label:after {
                content: '';
                display: block;
                position: absolute;
                top: size(5);
                left: size(9);
                width: size(6);
                height: size(14);
                border: solid $propellerhealth_denim;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
              }
            }

            label {
              position: relative;
              cursor: pointer;
              @include font(18px, 700, 25px, $propellerhealth_coal, $Lato);

              &:before {
                content: '';
                -webkit-appearance: none;
                background-color: transparent;
                border: 2px solid $propellerhealth_denim_20;
                border-radius: 0 size(7) 0 size(7);
                padding: size(10);
                display: inline-block;
                position: relative;
                vertical-align: middle;
                cursor: pointer;
                margin-right: size(5);
              }
            }

            &:last-child {
              margin-bottom: size(0);
            }
          }
        }
      }

      // text area input
      .ginput_container.ginput_container_textarea {
        textarea.textarea {
          max-width: size(710);
          width: size(320);
          max-height: size(173);
          font-family: $Lato;
          border-radius: 0 size(20) 0 size(20);
          border: 2px solid $propellerhealth_denim_20;
          transition: color $duration, border-color $duration;
          @include min-medium-screen {
            max-height: size(173);
            width: size(710);
          }

          &:focus {
            color: $propellerhealth_primary;
            border-color: $propellerhealth_primary;
          }
        }
      }

      // error message
      .gfield_description.validation_message {
        border-radius: 0 size(20) 0 size(20);
        @include marginY(size(10));
        padding: size(20);
      }
    }
  }

  //submit button
  .gform_footer {

    .gform_button {

      @include marginY(size(0));
    }
  }

  //spinner
  .gform_ajax_spinner {
    box-sizing: border-box;
    border: size(3) solid $propellerhealth_denim;
    border-left: size(3) solid $propellerhealth_denim;
    border-top: size(3) solid $propellerhealth_denim;
    border-right: size(3) solid $propellerhealth_denim;
    animation: spinner 1.1s infinite linear;
    border-radius: 50%;
    @include square(size(30));
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
    @include marginY(size(10));
  }
}

// confirmation message
.gform_confirmation_wrapper {
  @include marginX(auto);
  @include paddingY(size(30));
  @include paddingX(size(30));

  .gform_confirmation_message {
    @include font(20px, 700, 20px, $propellerhealth_denim, $Lato);
    text-align: center;

    @include min-medium-screen {
      @include font-size(40px, 40px)
    }

  }
}


.form_block {
  @include paddingY(size(50));
  background-color: #F5F5F5;
  @include min-medium-screen {
    @include paddingY(size(100));

  }

  .content {
    @include marginX(auto)
  }

  .title {
    text-align: center;
    @include marginX(auto);
    margin-bottom: size(30);
    @include min-medium-screen {
      max-width: size(454);
      margin-bottom: size(60);
    }
    @include large-screen {
      max-width: size(679);
    }
  }

  .form-wrapper {
    @include min-medium-screen {
      max-width: size(710);
      @include marginX(auto);
    }

  }

  .gform_wrapper.gravity-theme {
    .gform_heading {
      display: none;
    }
    .gform-body.gform_body{


      .gform_fields {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .gfield {
          margin-bottom: size(30);
          @include small-screen {
            width: 100%;
            max-width: 100%;

          }

          .ginput_container.ginput_container_text {
            input{
              @include small-screen {
                width: 100%;
                max-width: 100%;
                height: size(61);
              }
            }
          }
          .ginput_container.ginput_container_email{
            input{
              @include small-screen {
                width: 100%;
                max-width: 100%;
                height: size(61);
              }
            }
          }

          .ginput_container.ginput_container_textarea {
            textarea {
              resize: none;
              @include small-screen {
                width: 100%;
                height: size(100);

              }
            }

          }

          .ginput_container_radio {
            .gfield_radio {
              .gchoice {
                @include small-screen {
                  margin-bottom: size(10);
                }

              }
            }

          }

        }
      }
    }
    .gform_footer {
      .gform_button {

        @include marginX(auto);
      }
    }

  }
}




