
@import "styles/sites/smartdv";
@import "~swiper/css";

.testimonials_block {
  //@include paddingY(size(40), size(106));
  position: relative;
  max-width: size(1440);
  @include marginX(auto);
  perspective: size(286);
  margin-bottom: size(40);

  .slides-bg {
    height: size(60);
    @include min-medium-screen {
      height: size(124);
    }

    svg {
      @include square(100%)
    }

    path {
      fill: $smart_dv_dark_light_gray;
    }

    .support_slider_block + & {
      display: none;
    }
  }

  .container {
    padding-right: 0;
    position: relative;
    padding-top: size(100);

    &:after {
      content: "";
      width: 100%;
      height: 50%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, #F6F6F6 0%, rgba(246, 246, 246, 0) 100%);
      z-index: -1;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
      @include min-medium-screen {
        height: calc(100% + 56rem);
      }
    }
  }

  .testimonials-wrapper {
    display: flex;
    justify-content: space-between;
    //flex-wrap: wrap;
    align-items: center;
    @include small-screen {
      flex-direction: column;
    }
  }

  .swiper-arrows-container {
    display: flex;

    .arrow-left {
      margin-right: size(17);
    }

    @include small-screen {
      display: none;
    }

    .same-hover {
      cursor: pointer;

      @include min-medium-screen {
        width: size(50);
        height: size(50);
      }
      @include large-screen {
        width: size(63);
        height: size(63);
      }

      circle {
        stroke: #BFD730;
        transition: $duration;
      }

      &:hover {
        circle {
          stroke: #086875;
        }
      }
    }
  }


  .left-content {
    @include flexBasis(100%);
    padding-bottom: size(102);
    @include min-medium-screen {
      @include flexBasis(32.83%);
      flex-shrink: 0;
      margin-right: size(25);
      padding-bottom: 0;
    }
  }

  .left-title {
    margin-bottom: size(11);
    @include small-screen {
      max-width: size(260);
    }
    @include min-medium-screen {
      margin-bottom: size(16);

    }
  }

  .left-description {
    margin-bottom: size(38);
    max-width: size(374);
    @include small-screen {
      margin-bottom: 0;
      max-width: size(329);
    }
  }

  .scroll-shape {
    overflow-x: clip;
    position: relative;
    flex-grow: 1;
    //position: relative;
    border-bottom: 1px solid #162932;
    padding-bottom: size(64);
    @include small-screen {
      width: 100%;
    }

    &:before {
      content: "";
      position: absolute;
      border: 1px solid #162932;
      width: size(14);
      height: size(14);
      border-radius: 50%;
      bottom: 0;
      transform: translateY(50%);
      z-index: 18;
      left: 0;
      background: $smart_dv_white;
    }

    &:after {
      content: "";
      height: size(570);
      width: 1px;
      background-color: #162932;
    }
  }

  .right-content {
    border-left: 9px solid #BFD730;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    @include small-screen {
      border-left: 5px solid #BFD730;
    }

    svg {
      margin-bottom: size(37);
      width: size(32);
      height: size(26);
      @include small-screen {
        margin-bottom: size(19);
      }
    }
  }

  .card {
    padding: size(40) size(13) size(35) size(34);
    @include min-medium-screen {
      padding: size(40) size(25) size(25) size(25);
    }
    @include large-screen {
      padding: size(77) size(45) size(38) size(55);
    }
  }

  .swiper-wrapper {
    padding-top: size(10);
    padding-bottom: size(40);
    cursor: pointer;
    @include min-medium-screen {
      @include paddingY(size(10));
    }
  }

  .line {
    border: 1px solid #086875;

  }

  .right-description {
    @include font(20px, 400, 36px, $smart_dv_green_4, $montserrat, normal);
    max-width: size(394);
    margin-bottom: size(54);
    @include small-screen {
      max-width: 100%;
      margin-bottom: size(42);
      @include font-size(14px, 22.4px)
    }
  }

  .company-wrapper {
    display: flex;
    margin-top: size(30);
    align-items: center;
    @include small-screen {
      margin-top: size(20);
    }
  }

  .company-logo {
    flex-shrink: 0;
    margin-right: size(16);
    @include square(size(26));
    @include min-medium-screen {
      margin-right: size(25);
      @include square(size(43));
    }

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }

  .company-name {
    font-weight: 600;
  }

  .swiper {
    @include small-screen {
      width: 100%;
    }
    //padding-right: size(13);
    @include min-medium-screen {
      //padding-right: size(10);
    }
    @include large-screen {
      //padding-right: size(30);
    }
  }

  //.swiper-slide{
  //  width: 65% !important;
  //}
  .swiper-slide {
    padding-bottom: size(49);
    @include min-medium-screen {
      padding-bottom: size(53);

    }

    &:first-child {
      margin-left: 0;
      @include min-medium-screen {
        margin-left: size(-90);
      }
      @include large-screen {
        margin-left: size(-140);
      }
    }

    &:after {
      content: "";
      position: absolute;
      border-bottom: 1px solid #162932;
      //width: calc(100% + 5%);
      width: calc(100% + 31rem);
      top: 100%;
    }


    &:last-of-type {
      &:after {
        width: 100%;
      }
    }

    &:first-of-type {
      &:before {
        content: "";
        position: absolute;
        border: 1px solid #162932;
        width: size(14);
        height: size(14);
        border-radius: 50%;
        bottom: 0;
        transform: translateY(50%);
        z-index: 18;
        left: 0;
        background: $smart_dv_white;
      }
    }

    &:last-of-type {
      &:before {
        content: "";
        position: absolute;
        border: 1px solid #162932;
        width: size(14);
        height: size(14);
        border-radius: 50%;
        bottom: 0;
        transform: translateY(50%);
        z-index: 18;
        right: 0;
        background: $smart_dv_white;
      }
    }
  }

  .swiper-slide-prev {
    position: relative;

    //&::after {
    //  content: "";
    //  position: absolute;
    //  top: 0;
    //  right: 0;
    //  height: 100%;
    //  z-index: 1;
    //  width: 24.06%;
    //  background: linear-gradient(268.87deg, #075D69 36.14%, rgba(7, 93, 105, 0) 98.97%);
    //}
  }
}



