
@import "styles/sites/senet";


.posts_block {
  overflow: hidden;
  background: #F5F5F5;
  @include paddingY(44px, 103px);
  @include min-medium-screen {
    @include paddingY(120px, 100px);
  }
  @include large-screen {
    @include paddingY(60px);
  }

  .main-title {
    margin-bottom: 32px;
    color: $senet_3131;
    @include min-medium-screen {
      margin-bottom: 40px;
    }
  }

  .swiper {
    @include large-screen {
      overflow: visible;
    }
  }

  .horizontal-card {
    display: flex;
    flex-direction: column;


    .post-image-wrapper {
      position: relative;
      margin-bottom: 20px;
      @include small-screen {
        padding-top: 100%;
      }
      @include max-medium-screen {
        height: 0;
        padding-top: 75%;
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      &:after {
        content: "";
        position: absolute;
        height: 0;
        top: 0;
        left: 0;
        background-color: $senet_black;
        transition: height $duration, opacity $duration;
        width: 100%;
        opacity: 0;
      }

      &:hover {
        &:after {
          opacity: 0.3;
          height: 100%;

        }
      }

    }

    .category-wrapper {
      display: flex;
      flex-wrap: wrap;

      p {
        margin-bottom: 0;
      }

      .label {
        color: #3A65C1;
        text-transform: capitalize;
      }

      a {
        transition: color $duration;

        text-decoration: none;

        &:hover {
          color: $senet_orange;

        }
      }

    }

    .post-title {
      font-weight: 700;
      margin-top: 10px;
      color: $senet_nero;
      transition: color $duration;
      margin-bottom: 0;

      &:hover {
        color: $senet_orange;
      }

      &.no-hover {
        &:hover {
          color: $senet_nero;
        }
      }
    }

    .desc {
      margin-top: 12px;
    }

    .cta-link {
      color: $senet_orange;
      margin-top: 24px;
      @include small-screen {
        line-height: 16.41px;
      }
      @include min-medium-screen {
        margin-top: 12px;
      }

      @include large-screen {
        font-size: 14px;
      }

      svg {

        @include large-screen {
          width: 20px;
          height: 10px;
        }
      }
    }

  }

  .swiper-wrapper {
    @include large-screen {
      display: grid;
      grid-template-columns: 52.5% 39.1666667%;
      grid-template-rows: repeat(3, minmax(160px, 200px));
      gap: 30px 100px;
    }
  }

  .swiper-slide {
    grid-column: 2;
    height: fit-content;

    @include large-screen {
      padding-bottom: 30px;
      border-bottom: 1px solid #D9D9D9;
      height: 100%;
    }

    .horizontal-card {
      height: 100%;

      .post-image-wrapper {
        height: 100%;
        overflow: hidden;
        grid-row: 1/3;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      @include large-screen {

        .post-image-wrapper {
          display: none;
        }
      }
    }

    &:first-child {
      grid-column: 1;
      grid-row: 1 / 4;
      padding-bottom: 0;
      border-bottom: none;

      .horizontal-card {
        @include large-screen {
          display: grid;
          grid-template-rows: repeat(3, 1fr);
          row-gap: 30px;
          .post-image-wrapper {
            display: block;
            margin-bottom: 20px;
            position: relative;

          }

          .post-title {
            font-size: 28px;
            line-height: 117%;
            letter-spacing: 0.03em;
          }

          .cta-link {
            margin-top: 20px;
          }

        }
      }
    }
  }

  .swiper-arrows-container {
    margin-top: 40px;
    @include min-medium-screen {
      justify-content: flex-start !important;
    }
    @include large-screen {
      display: none;
    }
  }


  // region swiper navigation
  .swiper-arrows-container {
    display: flex;
    align-items: center;
    justify-content: center;


    @include large-screen {
      display: none;
    }

    .swiper-button {
      @include square(50px);
      cursor: pointer;

      svg {
        @include square(100%);

        circle {
          fill: transparent;
          transition: fill $duration;
        }
      }

      &:hover {
        svg {
          circle {
            fill: $senet_orange;
          }
        }
      }
    }

    .arrow-left {
      margin-right: 32px;
    }

    .swiper-button-prev, .swiper-button-next {
      position: relative;
      top: 0;
      margin-top: 0;
      left: 0;
      right: 0;
    }
  }

  // endregion swiper navigation

}