@import "styles/sites/raistone";

.news_block {
  background: $raistone_aluminium;
  @include paddingY(size(50), size(39));
  @include min-medium-screen {
    @include paddingY(size(70), size(63));
  }
  @include large-screen {
    @include paddingY(size(104), size(112));
  }

  .container {
    @include paddingX(size(11));
    @include min-medium-screen {
      @include paddingX(size(50));
    }
    @include large-screen {
      @include paddingX(size(120));
    }
  }

  .news-content {
    display: flex;
    flex-direction: column;
    @include large-screen {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .card {
    border-radius: size(20);
  }


  .left-content {
    margin-bottom: size(63);
    @include min-medium-screen {
      margin-bottom: size(66);
    }
    @include large-screen {
      margin-bottom: 0;
    }

    .title {
      color: $raistone_jet_black;
      margin-bottom: size(24);
      @include min-medium-screen {
        margin-bottom: size(32);
      }
    }

    .previous-text {
      display: none;
    }

    .card {
      background: $raistone_mid_green;
      @include paddingY(size(53), size(64));
      @include paddingX(size(26));
      @include min-medium-screen {
        @include paddingY(size(53), size(87));
        @include paddingX(size(45));
      }
      @include large-screen {
        min-height: size(921);

        @include flexBasis(size(757));
        @include paddingY(size(69), size(83));
        @include paddingX(size(57));
      }

      .card-title {
        margin-bottom: size(24);
      }

      .image-wrapper {
        height: size(204);
        width: 100%;
        margin-bottom: size(40);
        display: block;
        @include min-medium-screen {
          margin-bottom: size(64);
          height: size(377);
        }

        img {
          @include square(100%);
          object-fit: cover;
        }
      }

      .post-title {
        margin-bottom: size(16);
        @include min-medium-screen {
          line-height: size(45);
        }
        @include large-screen {
          line-height: size(36);
          font-weight: 600;
        }
      }

      .post-description {
        margin-bottom: size(49);
        @include min-medium-screen {
          margin-bottom: size(56);
        }
      }
    }
  }

  .right-content {
    display: flex;
    flex-direction: column;
    @include large-screen {
      @include flexBasis(size(864));
      margin-top: size(54);
    }

    .previous-text {
      margin-bottom: size(24);
      color: $raistone_mid_plum;
      padding-left: size(11);
    }

    .title {
      display: none;
    }

    .card {
      background: $raistone_white;
      @include paddingX(size(24));
      @include paddingY(size(54), size(41));
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include min-medium-screen {
        flex-direction: row-reverse;
        align-items: center;
        @include paddingX(size(43), size(64));
        @include paddingY(size(55), size(56));
      }
      @include large-screen {
        @include paddingX(size(60), size(83));
        @include paddingY(size(69), size(52));
        min-height: size(390);
      }

      &:not(:last-child) {
        margin-bottom: size(32);
      }

      .card-title {
        display: none;
      }

      .image-wrapper {
        @include square(size(146));
        position: relative;
        z-index: 2;
        margin-bottom: size(16);
        flex-shrink: 0;
        display: block;
        @include large-screen {
          @include square(size(179));
          margin-bottom: 0;
        }

        &:after {
          content: "";
          position: absolute;
          top: -12%;
          left: 14%;
          @include square(size(146));
          background: $raistone_robins;
          border-radius: 50%;
          z-index: -1;
          @include large-screen {
            @include square(size(179));
            top: -15%;
            left: 19%;

          }
        }

        img {
          @include square(100%);
          object-fit: cover;
          border-radius: 50%;
        }

      }

      .post-title {
        color: $raistone_jet_black;
        margin-bottom: size(16);
        @include font-size(22px, 36px);
        @include min-medium-screen {
          @include font-size(32px, 45px);
        }
        @include large-screen {
          margin-bottom: size(4);
          @include font-size(32px, 45px);
        }
      }

      .post-description {
        color: $raistone_gery;
        margin-bottom: size(32);
        @include large-screen {
          max-width: 95%;
        }
      }

      .btn-arrow-white {
        color: $raistone_jet_black;
        border-bottom: none;

        &:hover {
          color: $raistone_canary;
        }
      }

    }

    .cta-button {
      width: 100%;
      margin-top: size(32);
      @include min-medium-screen {
        width: fit-content;
        min-width: size(195);
      }

    }


  }

  .post-title {
    transition: color $duration;

    &:hover {
      color: $raistone_canary !important;
    }
  }

  picture {
    @include square(100%);
  }
}
