
@import "styles/sites/smartdv";
@import "~swiper/css";


$swiper_padding: size(60);
$swiper_bg: #075D69;
.trending_products_block {
  max-width: size(1440);
  @include marginX(auto);
  @include min-medium-screen {
    margin-top: size(150);
  }

  .content-wrapper {
    background-color: #064952;
  }

  .container {
    padding-right: 0;
    @include small-screen {
      padding-left: 0;
    }
    @include large-screen {
      padding-left: size(100);
    }
  }

  .trending-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    @include min-medium-screen {
      @include paddingY($swiper_padding);
    }
  }

  .scroll-line {
    overflow-x: clip;
    position: relative;
    flex-grow: 1;
    //position: relative;
    border-bottom: 1px solid #162932;
    padding-bottom: size(64);
    @include small-screen {
      width: 100%;
    }

    &:before {
      content: "";
      position: absolute;
      border: 1px solid #162932;
      width: size(14);
      height: size(14);
      border-radius: 50%;
      bottom: 0;
      transform: translateY(50%);
      z-index: 18;
      left: 0;
      background: $smart_dv_white;
    }

    &:after {
      content: "";
      height: size(570);
      width: 1px;
      background-color: #162932;
    }
  }

  .left-content {
    @include flexBasis(100%);
    position: relative;
    @include min-medium-screen {
      @include flexBasis(13.9%);
    }
    @include large-screen {
      @include flexBasis(26.6%)
    }
    background-color: #064952;
  }


  .left-title {
    color: $smart_dv_white;
    max-width: size(276);
    @include paddingY(size(44));
    @include small-screen {
      padding-left: size(34);
    }
    @include large-screen {
      padding-left: size(20);
    }
  }

  .right-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include flexBasis(100%);
    background-color: $swiper_bg;
    @include small-screen {
      padding-bottom: size(57);
    }
    @include min-medium-screen {
      @include flexBasis(82%);
    }
    @include large-screen {
      @include flexBasis(73.4%);
    }

    @include min-medium-screen {
      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: $swiper_padding;
        background: $swiper_bg;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: $swiper_padding;
        background: $swiper_bg;
      }
    }
  }

  .title {
    color: $smart_dv_white;
    margin-bottom: size(12);
    @include small-screen {
      margin-bottom: size(18);
    }
  }

  .small-text {
    @include font(16px, 400, 38.4px, $smart_dv_white, $montserrat, normal);
    @include small-screen {
      @include font(14px, 400, 22px, $smart_dv_white, $montserrat, normal);
    }
  }

  .round-arrow {
    @include small-screen {
      display: none;
    }
    @include min-medium-screen {
      @include square(size(53));
    }
    @include large-screen {
      @include square(size(63));
    }

    svg {
      width: size(27);
      height: size(16);

      path {
        fill: $smart_dv_white;
      }
    }

    &:hover {
      background-color: #BFD730;
    }
  }

  .swiper-slide {
    &:last-of-type {
      .text-wrapper {

        &:after {
          width: calc(80% - 1.4rem);
        }

        &:before {
          content: "";
          position: absolute;
          border: 1px solid $smart_dv_white;
          @include square(size(14));
          border-radius: 50%;
          bottom: size(9);
          transform: translateY(50%);
          z-index: 18;
          right: 20%;
        }
      }
    }

    &:first-of-type {
      .text-wrapper {

        &:after {
          width: calc(100% + 2rem);
          left: size(14);
        }

        &:before {
          content: "";
          position: absolute;
          border: 1px solid $smart_dv_white;
          @include square(size(14));
          border-radius: 50%;
          bottom: size(9);
          transform: translateY(50%);
          z-index: 18;
          left: 0;
        }
      }
    }
  }

  .text-wrapper {
    @include square(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include paddingY(size(33));
    @include min-medium-screen {
      @include paddingY(size(40));
    }
    position: relative;

    &:after {
      content: "";
      position: absolute;
      border-bottom: 1px solid $smart_dv_white;
      width: calc(100% + 18px);
      bottom: size(9);
      left: 0;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
    @include paddingX(size(34));
    @include min-medium-screen {
      @include paddingX(size(54));
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: calc(100% - 2rem);
        z-index: 2;
        width: 16.06%;
        background: linear-gradient(90deg, #075d69 21.14%, rgba(7, 93, 105, 0) 54.97%);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: calc(100% - 2rem);
        z-index: 1;
        width: 24.06%;
        background: linear-gradient(268.87deg, #075D69 36.14%, rgba(7, 93, 105, 0) 98.97%);
      }
    }
    @include large-screen {
      @include paddingX(size(91));
    }


  }

  .arrow-left {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate(-50%, -50%);
  }

  .arrow-right {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    z-index: 2;
  }

  .date-text {
    @include font(48px, 600, 56px, $smart_dv_white, $montserrat, normal);
    margin-bottom: size(20);
    @include min-medium-screen {
      @include font-size(64px, 80px);
      margin-bottom: 0;
    }
  }

  .description-text {
    @include font(14px, 400, 22px, $smart_dv_white, $montserrat, normal);
    @include min-medium-screen {
      @include font-size(16px, 38px)
    }
  }

  &.theme1 {
    @include marginY(0);

    .trending-wrapper {
      padding-top: 0;

    }

    .right-content {
      &:after {
        height: 0;
      }
    }

    .left-content {
      display: flex;
      align-items: center;

    }

    .swiper-wrapper {
      align-items: stretch;
    }

    .text-wrapper {
      justify-content: flex-start;
      align-items: center;
      @include min-medium-screen {
        flex-direction: row;
      }

      &:after {
        width: calc(100% + 33px);
      }

    }

    .date-text {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(20.5%);
        margin-right: size(95);

      }
    }

    .description-text {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(57.17%);
      }
    }
  }

  .slides-bg {
    height: size(60);
    @include min-medium-screen {
      height: size(124);
    }

    svg {
      @include square(100%);

      path {
        fill: $smart_dv_dark_light_gray;
      }
    }
  }

}



