
@import "styles/sites/kiwi";

section.block-slider-circle-vertical-1 {
  @include marginY(size(55));
  @include min-large-screen {
    @include marginY(size(103), size(123));
  }
  
  align-items: center;
  justify-content: flex-end;
  
  &:before, &:after {
    top: auto;
    bottom: size(-30);
    display: none;
    @include min-medium-screen {
      display: block;
    }
    @include x-large-screen {
      left: 51%;
      bottom: 0;
    }
  }
  &:before {
    bottom: size(100);
    @include x-large-screen {
      bottom: 26%;
    }
  }
  &:after {
    height: size(144);
    @include x-large-screen {
      height: size(214);
    }
  }
  
  .result-focused {
    max-width: size(570);
    @include paddingX(size(20));
    margin-bottom: size(50);
    @include min-medium-screen {
      margin-left: size(36);
      @include paddingX(0);
      margin-bottom: 0;
    }
    @include min-large-screen {
      margin-left: size(66);
    }
    
    .number {
      font-weight: 700;
      margin-bottom: size(13);
      @include min-medium-screen {
        margin-bottom: 0;
      }
      @include x-large-screen {
        margin-bottom: size(43);
      }
    }
    
    .result-focused-content {
      .swiper-btns {
        margin-top: size(23);
        margin-bottom: 0;
        @include min-medium-screen {
          margin-bottom: size(23);
        }
        @include x-large-screen {
          margin-right: size(84);
          margin-top: size(39);
        }
        
        .swiper-button {
          &.swiper-button-disabled {
            pointer-events: none;
            
            .swiper-btn-border {
              border-color: $kiwi-gainsboro;
            }
            
            svg {
              path {
                fill: $kiwi-gainsboro;
              }
            }
          }
          
          @include square(size(62));
          @include x-large-screen {
            @include square(size(82));
          }
        }
      }
      
      .content {
        position: relative;
      }
      
      .slide-text {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        pointer-events: none;
        transition: opacity 1s;
        
        &.active {
          position: relative;
          opacity: 1;
          z-index: 1;
        }
        
        h3 {
          color: $kiwi-yellow;
          margin-bottom: size(5);
        }
        
        p {
          color: $kiwi-dark-gray;
          line-height: size(27);
          @include text-lines(6);
          
          &:not(:last-child) {
            margin-bottom: size(21);
          }
        }
      }
    }
  }
  
  .images-wrapper {
    //min-height: size(780);
    flex-basis: 100%;
    width: 100%;
    max-width: size(780);
    position: relative;
    flex-shrink: 0;
    right: -50%;
    @include min-medium-screen {
      flex-basis: 54%;
      width: 54%;
      right: size(-172);
    }
    @include x-large-screen {
      flex-basis: 60%;
      width: 60%;
      right: size(-312);
    }
    
    .image-wrapper {
      position: absolute;
      
      .icon {
        position: absolute;
        z-index: 5;
        bottom: 96.63268%;
        left: 32.32115%;
        transform: translate(-75%, 66%) scale(0);
        border-radius: 50%;
        background: white;
        box-shadow: -4px -4px 13px #dadada82;
        transform-origin: center;
        transition: transform 500ms;
        @include square(53.3%);
      }
      
      picture {
        display: block;
        @include square(size(13));
        background-color: $kiwi-dark-gray;
        border-radius: 50%;
        cursor: pointer;
        transition: width 500ms, height 500ms;
        overflow: hidden;
        z-index: 2;
        position: relative;
        
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          opacity: 0;
          border-radius: 50%;
          transform: translate(-50%, -50%) scale(1.1);
          transition: opacity 500ms, transform 500ms;
          object-fit: cover;
          object-position: center;
        }
        
        &:hover {
          @include square(size(70));
          
          img {
            opacity: 1;
          }
          
        }
        
        &.active {
          transition: width 500ms 50ms, height 500ms 50ms;
          @include square(size(350));
          @media screen and (max-width: 400px) {
            @include square(size(270));
          }
          @include min-medium-screen {
            @include square(size(310));
          }
          @include x-large-screen {
            @include square(size(450));
          }
          
          img {
            opacity: 1;
          }
          
          & + .icon {
            transform: translate(-75%, 66%) scale(1);
            
            transition: transform 500ms 100ms cubic-bezier(.61, 0, .84, .12);
          }
        }
        
        
      }
    }
    
    
    &:hover {
      picture.active {
        overflow: hidden;
        
        img {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
    
    .circle {
      animation: none;
      //position: absolute;
      top: 0;
      z-index: 9;
      width: 100%;
      height: 100%;
    }
    
  }
}



  


