@import "styles/sites/successkpi";

.map_block {
  @include paddingY(size(50));

  .map-container {
    width: 100%;
    height: size(727);
  }

  .marker {
    background-image: url('../../../svg/map.svg');
    cursor: pointer;
    width: size(20);
    height: size(25);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mapboxgl-popup {

  }

  .mapboxgl-compact-show, .mapboxgl-compact {
    display: none;
  }

  .mapboxgl-popup-content {
    background: #FFFFFF;
    //@include paddingY(size(15), size(10));
    //@include paddingX(size(31));
    padding: size(31);
    box-shadow: size(12) size(12) size(32) rgba(0, 0, 0, 0.05);
    border-radius: size(4);
    position: relative;
    transition: opacity 3000ms;
    margin-bottom: -1px;

    &.active {
      opacity: 1;
    }

    @include min-medium-screen {
      @include paddingX(size(20));
    }
  }

  .mapboxgl-popup-close-button {
    position: absolute;
    font-size: size(24);
    right: size(10);
    top: size(10);
    font-weight: 700;
    transition: color $duration;
    //display: none;


    &:hover {
      color: red;
    }
  }

  .location-state, .location-title {
    @include font(18px, 700, 22px, #092064, $roboto);
    text-align: center;
    @include min-medium-screen {
      @include font-size(20px, 30px);
    }
    @include large-screen {
      @include font-size(24px, 35px);
    }
  }

  .mapboxgl-ctrl-attrib-inner, .mapboxgl-ctrl-logo {
    display: none;
  }

}


