
@import "styles/sites/senet";

.hero_block {
  position: relative;
  background: #F5F5F5;

  .video-cont {
    width: calc(100% + 48px);
    margin-left: -24px;
    height: 100%;
    @include large-screen {
      width: calc(100% + 240px);
      margin-left: -120px;
    }

    @include medium-screen {
      width: calc(100% + 150px);
      margin-left: -75px;
    }


    &:after {
      content: '';
      position: absolute;
      top: 0;
      z-index: 0;
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 43.15%, rgba(0, 0, 0, 0) 92%);
      width: 100%;
      height: 100%;
      left: 0;
    }
  }

  @include large-screen {
    display: flex;
    align-items: center;
  }

  .container {
    max-width: 100%;
    position: relative;
    max-height: 700px;
    height: calc(100vh - 100px);
  }

  .main-content-cont {
    max-width: 1440px;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    transform: translateX(-50%);
    left: 50%;
    width: calc(100% - 48px);
    @include large-screen {
      width: calc(100% - 240px);
    }
    @include medium-screen {
      width: calc(100% - 150px);
    }
    @include max-medium-screen {
      top: 10%;
    }
  }

  .cover-background {
    z-index: 0;
    height: 100%;
    &.aspect-ratio {
      padding-top: 0;
    }

    picture {
      height: 100%;
    }
  }

  .main-content {
    width: 100%;
    @include medium-screen {
      width: 75%;
      .title {
        br {
          display: none;
        }
      }
    }

    @include large-screen {
      width: 51.83%;
    }
  }

  .title {
    font-size: 48px;
    line-height: 60px;

    @include min-medium-screen {
      font-size: 80px;
      line-height: 90px;
    }


    p {
      margin-bottom: 0;
    }

    margin-bottom: 30px;

    @include min-medium-screen {
      margin-bottom: 12px;
    }
    @include small-screen {
      p {
        br {
          display: none;
        }
      }
    }
  }

  .desc {
    color: $senet_white;
    @include min-medium-screen {
      margin-bottom: 30px;
    }
  }

  .cta-wrapper {
    display: flex;
    align-items: baseline;
    width: fit-content;
    max-width: 100%;
    @include max-medium-screen {
      align-items: baseline;
      flex-direction: column;
    }
    @include large-screen {
      align-items: center;
    }
  }

  .separator {
    color: $senet_white;
    margin: 0 20px;
    @include max-medium-screen {
      margin: 20px auto;
    }
  }

  .cta-link {
    color: $senet_orange;
  }


  .embed-responsive {
    position: static;
    top: 0;
    left: 0;
  }
}


