
@import "styles/sites/k1_elementor";

footer {
  background-color: $k1_project_grey;
  @include paddingY(size(62), size(102));
  @include min-medium-screen {
    @include paddingY(size(65));
  }

  .footer-content {
    margin-bottom: size(68);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include large-screen {
      @include flex(flex-start, space-between);
      flex-direction: row;
      margin-bottom: size(91);
    }
  }

  .footer-wrapper {
    @include flex(flex-start, space-between);
    flex-wrap: wrap;
    @include flexBasis(100%);
    margin-top: size(61);
    @include large-screen {
      margin-top: 0;
      //@include flexBasis(70.49%);
      @include flexBasis(60%);
      margin-bottom: unset;
      margin-left: size(40);
    }
  }

  .logo-wrapper {
    display: block;
    @include square(size(54));

    img, svg {
      @include square(100%);

      rect {
        transition: fill $duration;
        fill: transparent;
      }
    }

    img {
      object-fit: contain;
    }

    &:hover {
      svg {
        rect {
          fill: $k1_project_white;
        }

        path {
          fill: $k1_project_red;
        }
      }
    }
  }

  .footer-links {
    @include flexBasis(100%);

    &:not(:last-child) {
      margin-bottom: size(48);
    }

    @include min-medium-screen {
      @include flexBasis(50%);
      border-bottom: 0;
    }
    @include large-screen {
      width: auto;
      flex-basis: auto;
      margin-bottom: 0;

    }

  }

  .link-parent {
    @include small-screen {
      &:not(:last-child) {
        margin-bottom: size(14);
      }
    }
    @include min-medium-screen {
      margin-top: size(14);
    }
  }

  .footer-link {
    @include font(16px, 400, 24px, $k1_project_white, $interstate);

    &:hover {
      color: $k1_project_dark_red;
    }

    @include large-screen {
      @include font-size(14px, 21px);
    }
  }

  .news-letter {
    margin-top: size(48);
    min-height: size(200);
    @include min-medium-screen {
      @include flexBasis(50%);
    }

    @include large-screen {
      margin-top: 0;
      @include flexBasis(20%);
    }

    input:not([type="submit"]) {
      background-color: transparent !important;
      border: 1px solid $k1_project_white;
      @include marginY(size(14));
      @include paddingX(size(13));
      @include font(16px, 400, 24px, $k1_project_white, $interstate);
      width: 100%;
      transition: margin-bottom $duration;

      &::placeholder {
        opacity: 1;
      }
    }

    input[type ='submit'] {
      @include font(16px, 700, 100%, $k1_project_white, $interstate);
      padding: size(16) size(19) size(16);
      border: none;
      background-color: $k1_project_middle_red;
      transition: background-color $duration;
      width: 100%;
      cursor: pointer;

      &:hover {
        background-color: $k1_project_light_red;
      }
    }

    .wpcf7-not-valid-tip {
      @include font(14px, 400, 21px, $k1_project_white, $interstate) ;
      @include marginY(0, size(10));
    }
  }

  .bottom-content {
    @include flex(flex-start, space-between, column);
    @include min-medium-screen {
      align-items: flex-end;
      flex-direction: row;
    }
  }

  .copy-right-text-and-links {
    width: 50%;
    @include max-medium-screen {
      width: 100%;
    }
  }

  .copy-right {
    @include font(14px, 400, 21px, $k1_project_white, $interstate);
    margin-bottom: size(13);
    text-align: center;
    @include marginX(auto);
    @include min-medium-screen {
      text-align: left;
      @include marginX(0);
    }
  }

  .links {
    margin-bottom: size(25);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include min-medium-screen {
      justify-content: flex-start;
      margin-bottom: 0;
      text-align: left;
    }
  }

  .navigation-link {
    position: relative;
    transition: color $duration;
    @include font(14px, 400, 21px, $k1_project_white, $interstate);

    &:not(:last-child) {
      padding-right: size(13);

      &:after {
        content: "|";
        position: absolute;
        right: size(6);
        top: 50%;
        color: currentColor;
        transform: translateY(-50%);
      }

    }

    &:hover {
      color: $k1_project_dark_red;
    }
  }

  .links-title {
    @include font(18px, 700, 18px, $k1_project_white, $interstate, size(0.5));
    @include flex(center, space-between);
    margin-bottom: size(14);
    text-transform: uppercase;
    @include large-screen {
      @include font-size(14px, 14px);
      margin-bottom: 0;
    }
  }

  .social-links {
    width: 100%;
    //margin: size(-12);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @include min-medium-screen {
      justify-content: flex-end;
    }

    .icon {
      @include square(size(40));
      margin: size(12);
      display: block;
      flex-shrink: 0;

      svg, img {
        @include square(100%);
      }

      img {
        object-fit: cover;
      }

      &:hover {
        svg {
          .path {
            fill: $k1_project_dark_red;
          }
        }
      }
    }
  }

  .wpcf7-not-valid {
    margin-bottom: size(42) !important;
  }
}


