
@import "styles/sites/successkpi";
//@import "swiper/css";


.contact_us_form_block {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    background: #FAFBFD;
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .contact-form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    @include min-medium-screen {
      margin-right: size(65);
      margin-left: size(85);
    }


    .left-side {
      @include flexBasis(100%);
      margin-bottom: size(30);
      @include min-medium-screen {
        margin-top: size(30);
        margin-right: size(66);
        @include flexBasis(35.98%);
      }

      .title {
        padding-bottom: size(24);
        border-bottom: 1px solid #C5C5C5;
        margin-bottom: size(23);
        @include font-size(28px, 32px);
        @include min-medium-screen {
          @include font-size(36px, 48px)
        }
      }

      .input-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: size(30);
      }

      .input-title {
        @include font(18px, 400, 25.6px, $successkpi_dark_blue_1, $roboto);
        margin-bottom: size(20);
        position: relative;
        cursor: pointer;
        @include min-medium-screen {
          width: fit-content;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        .radio-input {
          position: absolute;
          opacity: 0;
        }

        svg {
          margin-left: size(8);
          opacity: 0;
          transition: opacity $duration ease, transform $duration ease;
        }
      }

      .radio-checked {
        font-weight: 700;
        color: $successkpi_light_blue_1;

        svg {
          transform: translateX(2px);
          opacity: 1;
        }
      }

      .contacts-info {
        border-top: 1px solid #C5C5C5;
        padding-top: 30px;


        a {
          display: flex;
          align-items: center;
          @include font(18px, 400, 26px, $successkpi_dark_blue_2, $roboto);
          margin-bottom: size(30);

          svg {
            margin-right: size(30);
            width: size(19);
            height: size(19);
          }

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    .right-side {
      flex-grow: 1;
      background-color: $successkpi_white;
      box-shadow: 12px 12px 32px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      padding: size(30) size(50) size(50);
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(41.9%);
      }
    }
  }


  .form-wrapper {
    display: none;
  }

  .form-active {
    display: block;
  }
}

//form style
.hbspt-form {
  fieldset {
    max-width: 100% !important;
    display: flex;
    flex-direction: column;
  }

  .form-columns-2 {
    @include large-screen {
      display: grid;
      gap: 12px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .input {
    margin-right: 0 !important;
  }

  .hs-form-field {
    width: 100% !important;
    position: relative;
    margin-bottom: size(20);
  }

  .hs-fieldtype-text {
    &:before {
      content: "" !important;
      position: absolute !important;
      top: 0 !important;
      border-left: 5px solid #E9E9E9 !important;
      height: 100%;
      left: 0;
      transform: scaleX(0);
      transition: transform $duration;
      transform-origin: left;
    }

    & > label {
      font-family: $roboto !important;
      font-style: normal;
      font-weight: 400 !important;
      font-size: size(16) !important;
      line-height: size(21) !important;
      letter-spacing: 0.005em !important;
      color: #555555 !important;
      position: absolute !important;
      top: 50% !important;
      left: size(16) !important;
      -webkit-transform: translateY(-50%) !important;
      -ms-transform: translateY(-50%) !important;
      transform: translateY(-50%) !important;
      pointer-events: none !important;
      -webkit-transition: all 0.15s ease-out 0s !important;
      transition: all 0.2s cubic-bezier(0, 0.84, 0.64, 0.69) 0s !important;
    }

    &.focused {
      padding-left: 0 !important;

      & > label {
        top: size(8) !important;
        font-size: size(12) !important;
        line-height: size(9) !important;
        transform: translateY(0) !important;
      }

      &:before {
        transform: scaleX(1);
      }
    }

    input {
      width: 100% !important;
      font-size: 16px !important;
      line-height: 21px !important;
      font-weight: 400 !important;
      color: #222222 !important;
      letter-spacing: 0.005em !important;
      font-family: $roboto !important;
      padding: size(17) size(16) size(9) !important;
      background: $successkpi_white !important;
      border: 1px solid #E9E9E9 !important;
      border-radius: size(6) !important;


      &::placeholder {
        color: #222222 !important;
        opacity: 0.6 !important;
      }
    }

    &.error {
      .field {
        margin-bottom: size(38) !important;
      }

    }
  }

  .hs-fieldtype-select {

    & > label {
      //display: none;
      font-family: $roboto !important;
      font-style: normal;
      font-weight: 400 !important;
      font-size: size(16) !important;
      line-height: size(21) !important;
      letter-spacing: 0.005em !important;
      color: $successkpi_black;
    }

    select {
      margin-top: size(5);
      width: 100% !important;
      padding: size(13) size(16) !important;
      font-size: 16px !important;
      line-height: 21px !important;
      font-weight: 400 !important;
      color: #555555 !important;
      font-family: $roboto !important;
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;
      appearance: none;
      background-image: url('../../../svg/arrowdown.svg') !important;
      background-repeat: no-repeat, repeat !important;
      background-position: right .7em top 50%, 0 0 !important;
      background-size: .65em auto, 100% !important;
      background-color: $successkpi_white !important;
      border: 1px solid #E9E9E9 !important;
      border-radius: size(6) !important;
    }
  }

  textarea {
    height: 100px;
    border: 1px solid #E9E9E9;
    border-radius: size(6);
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #222222;
    letter-spacing: 0.005em;
    font-family: $roboto;
  }

  .hs_error_rollup {
    .hs-main-font-element {
      color: darkred !important;
      font-size: size(18) !important;
      line-height: size(30) !important;
      font-family: $roboto !important;
      font-weight: 400 !important;
      opacity: 1 !important;
      margin-left: size(8) !important;
    }
  }

  .hs-submit {
    margin-top: size(20);

    .hs-button {
      text-decoration: none;
      font-size: size(14);
      font-weight: 600;
      line-height: size(18);
      color: $successkpi_white;
      max-width: 100%;
      text-align: center;
      transition: color, background-color;
      transition-duration: 500ms;
      margin-bottom: 0;
      background-color: $successkpi_dark_blue_1;
      border: 1px solid $successkpi_dark_blue_1;
      border-radius: 3px;
      padding: size(11) size(22);
      @include flex(center, center);
      cursor: pointer;
      text-transform: capitalize;
      position: relative;
      transform-origin: center;

      &:hover {
        background-color: $successkpi_light_blue_1 !important;
      }

      @include small-screen {
        width: 100%;
      }

      &.disabled {
        background: grey;
        color: white;
        pointer-events: none;
      }

      @include max-medium-screen {
        width: 100%;
      }
    }
  }

  .hs-error-msg {
    position: absolute;
    top: 101%;
    left: 2%;
    color: darkred;
    font-size: size(12);
    line-height: 120%;
    clear: both;
    font-family: $roboto;
    font-weight: 400;
    opacity: 1;
  }

  textarea {
    resize: vertical;
  }

  .hs-fieldtype-textarea {
    label {
      margin-bottom: 10px;
      display: block;

      span {
        font-family: $roboto;
        font-style: normal;
        font-weight: 400;
        font-size: size(16);
        line-height: size(21);
        letter-spacing: 0.005em;
        color: $successkpi_black;
      }
    }
  }

  .hs-richtext {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0.005em;
    color: #555555;
  }

  .inputs-list {
    list-style: none;

    .hs-form-booleancheckbox {
      .hs-form-booleancheckbox-display {
        display: flex;
        cursor: pointer;
        user-select: none;

        input[type="checkbox"] {
          width: 20px;
          height: 20px;
          border-radius: 3px;
          padding: 0;
          margin-top: 0;
          position: relative;
          flex-shrink: 0;
          margin-right: 12px;

          &::after {
            content: "\2714";
            position: absolute;
            top: 50%;
            left: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 15px;
            width: 15px;
            cursor: pointer;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 300ms;
          }

          &:checked {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

