
@import "styles/sites/cyberhill";

.knowledge_portal_cards_block {
  @include small-screen {
  }
  
  .posts-wrapper {
    position: relative;
    &::after{
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 250%;
      height: 1px;
      background: $cyberHill-zumthor;
      @include min-medium-screen{
        width: 100%;
        left: 0;
      }
    }
    @include paddingY(size(32) !important);
    @include min-medium-screen {
      @include paddingY(size(48) !important, size(64) !important);
    }
  }
  
  .title-with-shape {
    margin-bottom: size(24);
    @include min-medium-screen {
      margin-bottom: size(48);
    }
  }
  
  .row {
    @include change-gutter(false, size(24));
  }
  
  .card {
    
    @include min-medium-screen {
      padding-bottom: size(52.8);
    }
    
    &.big-width-card {
      
      @include large-screen {
        @include paddingX(size(48));
        @include paddingY(size(24), size(50));
      }
      
      .aspect-ratio {
        @include large-screen {
          padding-top: 50%;
        }
        
      }
      
      .headline-5 {
        @include large-screen {
          font-family: $macklin;
          font-weight: 400;
          font-size: size(32);
          line-height: size(40);
        }
      }
      
    }
  }
  
  .primary-button {
    margin-top: size(24);
    @include marginX(auto);
    @include paddingX(size(28));
    background: white;
    @include min-medium-screen {
      margin-top: size(32);
    }
  }
}



