
@import "styles/sites/kiwi";


section.block-hero-journey {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  
  .kiwi-hero-images-data {
    display: none;
  }
  
  .draggable-controller {
    position: absolute;
    top: size(140);
    right: size(54);
    z-index: 6;
    width: size(62);
    height: size(62);
    @include min-medium-screen {
      right: size(101);
      width: size(82);
      height: size(82);
    }
    
    .shuffle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      
      &.shuffle-btn-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 4;
        
        svg {
          > path, circle {
            fill: $kiwi-white;
          }
        }
      }
      
      &.shuffle-btn-bg {
        opacity: .18;
        z-index: 0;
      }
      
      &.shuffle-btn-mouse {
        z-index: 3;
        
        &:before {
          position: absolute;
          left: calc(100% + 2rem);
          top: 50%;
          transform: translateY(-50%);
          content: 'Hold to travel';
          white-space: nowrap;
          font-family: $Avenir;
          font-weight: 800;
          font-size: size(12);
          line-height: size(20);
          text-transform: uppercase;
          color: hsla(0, 0%, 100%, .5);
          opacity: 0;
          transition: opacity .5s cubic-bezier(.77, 0, .175, 1);
        }
        
        &.active {
          &:before {
            opacity: 1;
          }
        }
        
        &.clicked {
          &:before {
            opacity: 0 !important;
          }
        }
      }
      
      &.shuffle-btn-progress {
        z-index: 1;
        
        path {
          position: relative;
          stroke-dasharray: 251;
          stroke-dashoffset: 251;
          transition: none !important;
        }
      }
      
      &:not(.shuffle-btn-icon) {
        svg {
          width: 100%;
          height: 100%;
        }
        
        path {
          fill: none;
          stroke: $kiwi-white;
          stroke-width: size(2);
        }
        
        width: 100%;
        height: 100%;
      }
    }
  }
  
  .image {
    z-index: 0;
  }
  
  .hero-content {
    position: relative;
    z-index: 3;
    @include min-large-screen {
      max-width: size(562);
      @include paddingX(size(50));
    }
    
    .headline-3 {
      pointer-events: none;
      user-select: none;
      color: $kiwi-dark-gray;
      margin-bottom: size(14);
      @include x-large-screen {
        font-size: size(50);
      }
    }
    
    .headline-4 {
      pointer-events: none;
      user-select: none;
      color: #d9d9d9;
      font-weight: 700;
      margin-bottom: size(14);
      @include min-large-screen {
        margin-bottom: size(34);
      }
    }
    
    .form-wrapper {
      .headline-6 {
        margin-bottom: size(14);
        pointer-events: none;
        user-select: none;
        
      }
      
      form {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        
        .input-wrapper {
          
          flex-basis: 82%;
          width: 82%;
          
          &:not(:last-of-type) {
            margin-right: size(12);
            margin-bottom: size(10);
            @include min-medium-screen {
              margin-bottom: 0;
            }
          }
          
          @include min-medium-screen {
            flex-basis: 42%;
            width: 42%;
          }
          
          label {
            color: #d9d9d9;
            font-size: size(14);
            text-transform: lowercase;
            left: size(7);
            pointer-events: none;
            user-select: none;
          }
          
          input {
            background: none;
            @include paddingX(size(7));
            color: $kiwi-white;
            border: 0;
            border-bottom: 1px solid $kiwi-dark-gray;
            @include paddingY(size(6));
            
            &.has-content {
              ~ label {
                font-weight: 800;
              }
            }
            
            &:focus {
              ~ label {
                font-weight: 800;
              }
            }
          }
          
          .focus-border {
            &:before {
              display: none;
            }
            
            &:after {
              left: 0;
              right: auto;
            }
          }
        }
        
        .send {
          background: none;
          cursor: pointer;
          padding: 0;
          margin-left: size(16);
          flex-shrink: 0;
          
          svg {
            transition: transform 400ms;
          }
          
          &:hover {
            svg {
              transform: translate(size(9), size(-9));
              
              path {
                fill: $kiwi-white;
              }
            }
          }
        }
      }
    }
  }
  
  .timeline {
    position: absolute;
    bottom: 8vh;
    width: 100%;
    z-index: 2;
    padding-left: size(20);
    @include min-medium-screen {
      padding-left: size(50);
    }
    @include min-large-screen {
      padding-left: size(106);
    }
    @include x-large-screen {
      padding-left: size(121);
    }
    
    .hr {
      position: absolute;
      width: 100%;
      height: size(1);
      background: $kiwi-dark-gray;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 6%;
      
      span {
        width: size(8);
        height: size(8);
        border-radius: size(8);
        background-color: #ffffff;
        display: inline-block;
      }
    }
    
    .btn {
      min-width: size(231);
      @include paddingY(size(10));
      justify-content: flex-start;
      
      .btn-border {
        border: 1px solid $kiwi-gray-90;
        background-color: #040506;
      }
      
      .btn-text {
        color: #d9d9d9;
        
        .icon-wrapper {
          @include square(size(44));
          margin-right: size(22);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          
          &:before {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            box-shadow: 0 0 0 2px $kiwi-dark-gray;
            transition: transform 400ms, box-shadow 400ms;
            pointer-events: none;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            content: '';
            box-sizing: content-box;
          }
        }
        
        span {
          font-family: $Avenir;
          font-size: size(14);
          font-weight: 900;
        }
        
      }
      
      &:hover {
        .btn-text {
          .icon-wrapper {
            svg {
              path {
                fill: $kiwi-black;
              }
            }
          }
        }
      }
    }
  }
  
  .scroll-down {
    position: absolute;
    bottom: 6.2vh;
    right: 5%;
    @include min-medium-screen {
      right: 10.2%;
    }
    
    svg {
      transform: rotate(180deg);
    }
  }
}



  


