
@import "styles/sites/cyberhill";

.second_hero_block {
  position: relative;
  z-index: 2;
  height: 100vh;
  
  .hero-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    //z-index: 2;
    @include min-medium-screen {
      flex-direction: row;
    }
  }
  
  .title-with-shape {
    margin-bottom: size(32);
    line-height: 100%;
    letter-spacing: size(1);
    @include min-medium-screen {
      margin-bottom: size(55);
    }
    @include large-screen {
      margin-bottom: size(83);
    }
  }
  
  .headline-2 {
    margin-bottom: size(16);
    @include min-medium-screen {
      margin-bottom: size(24);
    }
    @include large-screen {
      max-width: 60vw;
      font-size: 4vw;
    }
  }
  
  .paragraph {
    font-size: size(18);
    line-height: 144.44%;
    @include min-medium-screen {
      margin-bottom: size(48);
    }
    @include large-screen {
      max-width: 54vw;
      font-size: 1.28vw;
    }
    
  }
  
  .link-and-arrow {
    width: fit-content;
    @include small-screen {
      display: none;
    }
  }
  
  .scroll-down {
    bottom: size(80);
    
    @include small-screen {
      display: none;
    }
    
    .down-icon {
      color: $cyberHill-Blue;
    }
    
    .small-text {
      color: $cyberHill-Nero;
    }
    
  }
  
  &.only-image {
    .hero-wrapper{
      height: size(344);
    }
    
    
    picture {
      position: absolute;
      top: 0;
      left: 0;
      @include square(100%);
      
      img {
        object-fit: cover;
      }
    }
    
    .hero-content {
      display: none;
    }
    
  }
  
  
  .image-wrapper {
    position: relative;
    z-index: 2;
    @include min-medium-screen {
      padding-right: $container-padding-md;
      margin-top: size(-94);
    }
    @include large-screen {
      padding-right: $container-padding-lg;
    }
  }
  
  .aspect-ratio {
    padding-top: 56.18%;
  }
  
  &.background-color-and-image {
    .hero-content {
      position: relative;
      @include paddingY(size(64), size(40));
      @include paddingX(size(44));
      @include min-medium-screen {
        @include flex(flex-start, center, column);
        @include flexBasis(65%);
        @include paddingY(size(50));
        @include paddingX(size(80));
      }
      @include large-screen {
        @include flexBasis(74.58%);
        @include paddingX(size(162), size(138));
      }
      
      &.white {
        background-color: $cyberHill-white;
        
        .title-with-shape {
          color: $cyberHill-tangaroa;
        }
        
        .headline-2 {
          color: $cyberHill-Blue;
        }
        
        
        .paragraph {
          color: $cyberHill-Nero;
        }
      }
      
      &.blue {
        background-color: $cyberHill-tangaroa;
        
        .title-with-shape {
          color: $cyberHill-white;
        }
        
        .headline-2 {
          color: $cyberHill-white;
        }
        
        
        .paragraph {
          color: $cyberHill-white;
        }
        
        .link-and-arrow {
          color: $cyberHill-white;
          
          &:hover {
            color: $cyberHill-light-green;
          }
        }
        
        
        .down-icon {
          color: $cyberHill-white;
        }
        
        .small-text {
          color: $cyberHill-white;
        }
      }
      
      &.grey {
        background-color: $cyberHill-alice-blue;
        
        .title-with-shape {
          color: $cyberHill-tangaroa;
        }
        
        .headline-2 {
          color: $cyberHill-Blue;
        }
        
        
        .paragraph {
          color: $cyberHill-dark-Blue;
        }
      }
    }
    
    .background-image {
      z-index: 10;
      @include small-screen {
        height: size(344);
      }
      
      img {
        object-fit: cover;
      }
      
      @include min-medium-screen {
        @include flexBasis(35%);
      }
      @include large-screen {
        @include flexBasis(25.42%);
      }
    }
  }
  
  &.full-background-image {
    .hero-content {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      @include paddingX(size(44));
      @include paddingY(size(196), size(56));
      @include min-medium-screen {
        max-width: size(720);
        padding-left: $container-padding-md;
        @include paddingY(size(30));
      }
      @include large-screen {
        padding-left: $container-padding-lg;
        max-width: size(1050);
        
      }
      
      .headline-2 {
        color: $cyberHill-white;
        max-width: 100%;
        
      }
      
      .title-with-shape {
        margin-bottom: size(48);
      }
      
      
      .paragraph {
        color: $cyberHill-white;
      }
      
      .link-and-arrow {
        color: $cyberHill-white;
        
        &:hover {
          color: $cyberHill-light-green;
        }
      }
      
      
      .down-icon {
        color: $cyberHill-white;
      }
      
      .small-text {
        color: $cyberHill-white;
      }
    }
    
    .background-image {
      @include square(100%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      
      img {
        object-fit: cover;
      }
      
    }
    
  }
  
  &.category_hero_block{
    height: size(300);
    position: relative;
    //&:after{
    //  content: '';
    //  position: absolute;
    //  left: 0;
    //  top: 0;
    //  width: 100%;
    //  height: 100%;
    //  background-color: rgba(0,0,0,.4);
    //  z-index: 1;
    //}
    
    .background-image{
      width: 100%;
      height: 100%;
      img{
        object-fit: cover;
      }
    }
    
    .hero-content{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: size(100);
      .cat-title{
        color: white;
      }
      @include min-medium-screen{
        padding-top: 0;
      }
    }
  }
  
}


