


@import "styles/sites/zineone";
@import "node_modules/swiper/swiper";

.success_stories_block {
  background-color: $zineone-dark;
  padding-bottom: size(100);
  padding-top: size(120);
  .container {
    padding-right: 0;
  }
  
  .headline-2 {
    color: $zineone-white;
    @include large-screen {
      max-width: 50%;
    }
  }
  
  .success_stories_description {
    color: rgba(255, 255, 255, 0.8);
    margin-top: size(40);
    max-width: size(960);
  }
  
  .swiper-container {
    padding-bottom: size(100);
    margin-top: size(80);
    overflow: hidden;
  }
  
  .swiper-slide {
    height: auto;
  }
  
  .rolls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: size(32);
    height: 100%;
    @include min-medium-screen {
      flex-direction: row;
      padding: size(44);
    }
    @include large-screen {
      padding: size(64);
    }
    
    .rolls-text {
      margin-bottom: size(32);
      @include flexBasis(100%);
      @include min-medium-screen {
        margin-bottom: 0;
        @include flexBasis(77%);
      }
      
      .headline-3 {
        display: block;
        margin-bottom: size(32);
        color: $zineone-dark;
        @include small-screen {
          font-size: size(18);
        }
      }
      
      .paragraph {
        max-width: size(639);
        color: #26335D;
      }
      
      .learn-more {
        color: #1174BB;
        margin-top: size(32);
        display: block;
      }
    }
    
    .rolls-img {
      flex-shrink: 0;
      display: block;
      width: size(144);
      
      img {
        @include objectImg()
      }
    }
  }
  .success_stories_text {
    padding-right: size(24);
    @include min-medium-screen {
      padding-right: size(80);
    }
    @include large-screen {
      padding-right: size(200);
    }
  }
}



