
@import "styles/sites/cyberhill";



.testimonials_slider_block {
  background-color: $cyberHill-tangaroa;
  position: relative;
  z-index: 9;
  @include paddingY(size(64));
  @include min-medium-screen {
    @include paddingY(size(120));
  }
  
  @include large-screen {
    @include paddingY(size(180), size(160));
  }
  
  .swiper {
    position: relative;
  }
  
  .testimonial-wrapper {
    position: relative;
    @include large-screen {
      max-width: size(1002);
    }
  }
  
  .title-with-shape {
    margin-bottom: size(48);
    color: $cyberHill-white;
    @include min-medium-screen {
      font-size: size(16);
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: size(95);
    }
  }
  
  .content {
    max-width: size(791);
  }
  
  
  .quote-icon-and-text {
    display: flex;
  }
  
  .quote {
    flex-shrink: 0;
    margin-right: size(13);
    @include square(size(16));
    @include min-medium-screen {
      margin-right: size(3);
    }
  }
  
  .headline-2 {
    padding-top: size(2);
    color: $cyberHill-white;
    line-height: 125%;
    margin-bottom: size(24);
    margin-left: size(23);
    padding-right: size(20);
    @include min-medium-screen {
      font-size: size(40);
      line-height: 112.5%;
      padding-right: 0;
    }
    @include large-screen {
      font-size: size(48);
      line-height: 112.5%;
    }
    
    &:before {
      position: absolute;
      content: attr(data-text);
      transform: rotate(180deg) translate(size(19), size(20));
      color: $cyberHill-light-green;
      
      @include min-medium-screen {
        transform: rotate(180deg) translate(size(19), size(22));
      }
      @include large-screen {
        transform: rotate(180deg) translate(size(21), size(33));
      }
    }
    
    &:after {
      display: none;
      content: attr(data-text);
      color: $cyberHill-light-green;
      transform: translateX(100%);
      position: absolute;
      @include min-medium-screen {
        transform: translateX(0);
      }
    }
    
    > p:nth-child(even) {
      span{
        display: none;
      }
    }
    p {
      span {
        color: $cyberHill-light-green;
        margin-left: size(10);
      }
      
      &:not(:last-child){
      
      }
    }
  }
  
  .picture-and-information {
    display: flex;
    align-items: center;
    margin-bottom: size(24);
    max-width: size(360);
    margin-left: 1px;
  }
  
  .profile-image {
    @include square(size(80));
    border-radius: 50%;
    margin-right: size(24);
    flex-shrink: 0;
    overflow: hidden;
    
    img {
      object-fit: cover;
    }
  }
  
  .author-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .name {
      font-family: $space-grotesk;
      color: $cyberHill-white;
      font-weight: 400;
      font-size: size(18);
      line-height: 130%;
    }
    
    .postion {
      color: $cyberHill-white;
    }
    
  }
  
  
  .swiper-buttons {
    display: flex;
    margin-bottom: size(4);
    @include min-medium-screen {
      position: absolute;
      top: -3%;
      right: 0;
      margin-bottom: 0;
    }
  }
  
  .swiper-button {
    border: size(1) solid $cyberHill-white;
    color: $cyberHill-light-green;
    
    &:hover {
      path {
        fill: $cyberHill-Blue;
      }
    }
  }
  
  .swiper-paginations-white {
    @include small-screen {
      @include marginX(size(0) !important) ;
    }
  }
}




