@import "styles/sites/senet";
//@import "mapbox-gl/dist/mapbox-gl.css";
//@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';

.map_block {
  height: calc(100vh - 79px);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background: #F5F5F5;

  .globe-container {
    width: 100%;
    height: 90%;
    flex-shrink: 0;
    //box-shadow: 0 6px 29px rgb(0 0 0 / 14%);
    position: relative;

    .loader {
      position: absolute;
      z-index: 10000;
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      @include square(100%);
      transition: opacity $duration;

      div {
        border: 10px solid #f3f3f3;
        border-radius: 50%;
        border-top: 10px solid #FF5900;
        width: 80px;
        height: 80px;
        animation: spin 1s linear infinite;
        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }

    #globe {
      width: 100%;
      height: 100%;
      transition: opacity 2000ms;

      &.hide {
        opacity: 0;
        pointer-events: none;
      }
    }

    #map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0;
      transition: opacity 2000ms;

      &.visible {
        z-index: 0;
        opacity: 1;
      }
    }

    .country-info {
      position: absolute;
      bottom: 85px;
      left: 20px;
      color: $senet-orange;
      margin-bottom: 0;
      background: $senet_white;
      box-shadow: 0 4px 19px rgba(0, 0, 0, 0.09);
      padding: size(15);
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: 0.45px;
      width: 150px;
      min-width: fit-content;
      opacity: 0;
      transition: opacity 500ms;

      &:not(:empty) {
        opacity: 1;
      }
    }

    .satellite-icon {
      display: none;
      position: absolute;
      bottom: 180px;
      right: 35px;
      line-height: 0;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
      }

      @include max-medium-screen {
        width: 30px;
        height: 30px;
        right: 15px;
        bottom: 160px;
      }
    }

    #map.visible + .satellite-icon {
      display: block;
    }

    .map-key {
      background: $senet_white;
      box-shadow: 0 4px 19px rgba(0, 0, 0, 0.09);
      padding: size(15);
      position: absolute;
      bottom: 20px;
      left: 20px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      max-width: calc(100% - 40px);
      opacity: 0;
      transition: opacity $duration;

      .map-key-item, .map-key-item-level {
        margin-right: 12px;
        display: none;
        align-items: center;
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.45px;
        text-transform: uppercase;
        color: $senet_black;

        &.active {
          display: flex;
        }

        :last-of-type {
          margin-right: 0;
        }

        p {
          margin-bottom: 0;
        }

        &#active-deployments {
          .map-key-shape {
            &:after {
              background: #498a49;
            }
          }
        }

        &#senet-data {
          .map-key-shape {
            &:after {
              background: #44B169;
            }
          }
        }

        &#helium-data {
          .map-key-shape {
            &:after {
              background: #9945C7;
            }
          }
        }

        &#senet-ready-high-level {
          .map-key-shape {
            &:after {
              background: #155889;
            }
          }
        }

        &#senet-ready {
          .map-key-shape {
            &:after {
              background: #155889;
            }
          }
        }

        &#lora-alliance-unspecified {
          .map-key-shape {
            &:after {
              background: #ddd;
            }
          }
        }

        &#coming-soon {
          .map-key-shape {
            &:after {
              background: #b4d5ed;
            }
          }
        }

        .map-key-shape {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 3px;
          margin-right: 3px;
          width: 24px;
          height: 24px;

          &:after {
            content: "";
            width: 100%;
            height: 100%;
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            background: #638F5B;
            display: block;
          }
        }
      }

      @include max-medium-screen {
        width: 100%;
        left: 0;
        bottom: 0;
        max-width: 100%;
        font-size: 12px;
        line-height: 14px;
      }
    }

    .dropdown {
      position: absolute;
      top: 20px;
      right: 20px;
      background: $senet_alabaster;
      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.19);
      padding: 20px;
      font-weight: 900;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.2px;
      color: $senet_indigo;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: color $duration, opacity $duration;
      opacity: 0;
      pointer-events: none;
      @include max-medium-screen {
        left: 0;
        right: 0;
        width: calc(100% - 40px);
        margin: 0 auto;
        justify-content: space-between;
        max-width: 500px;
      }

      p {
        margin-bottom: 0;
      }

      svg {
        color: currentColor;
        margin-left: 20px;
      }

      @include small-screen {
        width: 100%;
        top: 0;
        svg {
          color: currentColor;
          margin-left: 10px;
        }
      }

      &:hover {
        color: $senet_orange;
      }

      &.active {
        cursor: unset;

        .dropdown-menu {
          opacity: 1;
          visibility: visible;
          pointer-events: unset;
        }
      }

      .dropdown-menu {
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        padding: 30px 20px 20px;
        background: $senet_alabaster;
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.19);
        cursor: unset;
        max-height: calc(85vh - 15px);
        overflow-y: auto;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition-property: opacity, visibility;
        transition-duration: 300ms;


        .dropdown-title-desc {
          padding-bottom: 20px;
          border-bottom: 1px solid rgba(97, 97, 97, 0.4);

          .dropdown-title {
            font-weight: 900;
            font-size: 30px;
            line-height: 110%;
            letter-spacing: 0.2px;
            text-transform: capitalize;
            color: $senet_indigo;
            display: flex;
            cursor: pointer;
            transition: color 300ms;

            svg {
              color: currentColor;
              margin-left: 10px;
              flex-shrink: 0;
              margin-top: 20px;
              transform: scale(-1);
            }

            @include max-medium-screen {
              font-weight: 800;
              font-size: 34px;
              line-height: 40px;
              justify-content: space-between;

              svg {
                margin-top: 0;
              }
            }

            &:hover {
              color: $senet_orange;
            }
          }

          .dropdown-description {
            margin-top: 12px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: $senet_gray;

            @include max-medium-screen {
              line-height: 26px;
            }

            p {
              margin-bottom: 0;
            }
          }

        }

        .dropdown-menu-stats {
          width: 53.61%;
          margin: 20px auto 0;


          .number-and-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }

            .state {
              font-weight: 900;
              font-size: 36px;
              line-height: 42px;
              color: $senet_indigo;
            }

            .description {
              font-weight: 400;
              font-size: 12px;
              line-height: 150%;
              color: $senet_gray;

              p {
                margin-bottom: 0;
              }
            }
          }

          @include max-medium-screen {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px 34px;
            margin-top: 20px;

            .dropdown-title {
              justify-content: space-between;

              svg {
                margin-top: 0;
              }
            }

            .number-and-text {
              margin-bottom: 0;
            }
          }

          @include small-screen {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
    }

    &.loaded {
      .loader {
        opacity: 0;
        pointer-events: none;
      }

      .map-key {
        opacity: 1;
      }

      .dropdown {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 0.46px;
    color: #FF5900;
    flex-grow: 1;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;

    .scroll-arrow {
      padding: 8px 14px;
      border: 2px solid #FF5900;
      margin-left: 20px;
      overflow: hidden;

      svg {
        animation: arrow 3s infinite ease-in-out;
        @keyframes arrow {
          30%, 70% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(160%);
          }
          50.001% {
            transform: translateY(-160%);
          }
        }
      }
    }
  }

  .gform_fields {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 25px 20px !important;

    .gfield {
      grid-column: unset !important;
      width: unset !important;
      @include small-screen {
        grid-column: 1/3 !important;
      }

      &.full-width {
        grid-column: 1/3 !important;

        .gfield_label {
          color: #FF5900;
        }
      }
    }
  }
}


