@import "styles/sites/raistone";

.supplier_centric_case_block {

  @include paddingY(size(60));
  @include min-medium-screen {
  }

  .supplier-centric-case-group {
    background: $raistone_plum;
    @include paddingY(size(70));
    @include min-medium-screen {
      @include paddingY(size(115), size(127));
    }
  }

  .container {
    padding: 0;
    @include large-screen {
      @include paddingX(size(48), size(64));
    }
  }

  .supplier-title {
    text-align: center;
    margin-bottom: size(16);
    max-width: 80%;
    @include marginX(auto);
    @include min-medium-screen {
      margin-bottom: size(28);
    }
    @include large-screen {
      margin-bottom: size(16);
    }
  }

  .supplier-description {
    color: $raistone_white;
    text-align: center;
    @include marginX(auto);
    margin-bottom: size(73);
    max-width: 75%;
    @include min-medium-screen {
      margin-bottom: size(126);
    }
    @include large-screen {
      max-width: 64%;
    }
  }

  .supplier-wrapper {
    width: 90%;
    margin-bottom: size(51);
    @include marginX(auto);
    @include large-screen {
      width: 100%;
    }
  }

  .read-arrow {
    @include marginX(auto);
    @include large-screen {
      margin-left: 44%;
    }
  }
}
