:root {
  /* Colors: */
  --raistone_black: #000000;
  --raistone_white: #ffffff;
  --raistone_green: #214D42;
  --raistone_mid_green: #2F705F;
  --raistone_dark_green: #1D3932;
  --raistone_moss: #BADB95;
  --raistone_mid_moss: #D1ECA7;
  --raistone_light_moss: #E4F4E7;
  --raistone_canary: #FBBF49;
  --raistone_mid_canary: #FFCF70;
  --raistone_light_canary: #FFF9E3;
  --raistone_jet_black: #0A0A0A;
  --raistone_gery: #414042;
  --raistone_mid_gery: #9DAAA7;
  --raistone_plum: #2A0A1C;
  --raistone_mid_plum: #521437;
  --raistone_robins: #9CDAE0;
  --raistone_mid_robins: #AEEFF5;
  --raistone_cherry: #B0333B;
  --raistone_aluminium: #F7F7F7;
  --raistone_deco: #C1DA9B;
  --raistone_gradient_green: linear-gradient(313.84deg, #0C5543 -3.38%, rgba(12, 85, 67, 0) 103.53%);
  --raistone_gradient_plum: linear-gradient(143.44deg, #521437 2.59%, rgba(82, 20, 55, 0) 94.94%);

}
