@import "variables";
@import "mixins";
@import "root";

// region container
.container {
  @include paddingX($container-padding-sm);
  @include min-medium-screen {
    @include paddingX($container-padding-md);
  }
  @include large-screen {
    @include paddingX($container-padding-lg);
  }
  @at-root body .section-noContainer & {
    @include paddingX(0);
  }
}

//endregion

// region font  Styling
.headline-1, .wysiwyg-block h1, .blog-content-wrapper h1 {
  @include font(46px, 600, 55px, $raistone_white, $montserrat, size(-0.02));

  @include min-medium-screen {
    letter-spacing: normal;
    @include font-size(64px, 77px);
    font-weight: 700;
  }
  @include large-screen {
    @include font-size(91px, 100px);
  }
}

.headline-2, .wysiwyg-block h2, .blog-content-wrapper h2 {
  @include font(32px, 700, 46px, $raistone_white, $montserrat, normal);

  @include min-medium-screen {
    @include font-size(45px, 55px)

  }
}

.headline-3, .wysiwyg-block h3, .blog-content-wrapper h3 {
  @include font(23px, 700, 36px, $raistone_white, $montserrat, normal);
  @include min-medium-screen {
    @include font-size(32px, 50px)
  }
}

.headline-4, .wysiwyg-block h4, .blog-content-wrapper h4 {
  @include font(18px, 600, 22px, $raistone_white, $montserrat, normal);
  @include min-medium-screen {
    @include font-size(23px, 40px)
  }

}

.headline-5, .wysiwyg-block h5, .blog-content-wrapper h5 {
  @include font(16px, 700, 22px, $raistone_white, $montserrat, size(0.05));
  @include min-medium-screen {
    @include font-size(18px, 22px);
    letter-spacing: normal;
  }
}

.headline-6, .wysiwyg-block h6, .blog-content-wrapper h6 {
  @include font(18px, 700, 22px, $raistone_white, $montserrat, size(0.05));
}


.paragraph, .wysiwyg-block p {
  @include font(22px, 400, 36px, $raistone_white, $montserrat);
  @include min-medium-screen {
    @include font-size(26px, 40px);
  }
  @include large-screen {
    @include font-size(32px, 55px);
  }

  &-s-paragraph {
    font-family: $lato;
    @include font-size(16px, 22px);
  }

  &-m-paragraph {
    font-family: $lato;
    @include font-size(18px, 26px);
  }

  &-l-paragraph {
    font-family: $lato;
    @include font-size(22px, 36px);
  }

  &-xl-paragraph {
    font-family: $lato;
    @include min-medium-screen {
      @include font-size(26px, 40px);
    }
  }

  &-xl-paragraph-md {
    font-family: $lato;
    @include min-medium-screen {
      @include font-size(26px, 40px);
    }
  }

  &-normal-paragraph {
    font-family: $lato;
    @include font-size(22px, 36px);
    @include min-medium-screen {
      @include font-size(26px, 40px);
    }

  }


  &-bold {
    font-weight: 700;
  }

  &-italic {
    font-style: italic;
  }

  &-lato {
    font-family: $lato;
  }

}

.sub-title {
  @include font(18px, 400, 22px, $raistone_white, $montserrat);

}

.navigation-link {
  @include font(16px, 400, 21px, $raistone_white, $montserrat);

}

// endregion

[data-section-class] {

  input[type=text], input[type=password], [type=email] {
    box-sizing: border-box;
    @include font-size(22px, 36px);
    font-weight: 400;
    width: 100%;
    height: 100%;
    padding: size(10);
    color: #0A0A0A;
    margin-bottom: size(57);
    background: #FFFFFF;
    border: 0.6px solid #414042;
    border-radius: 3px;
  }

}

// region button  Styling
.btn, .cn-button.wp-default {
  @include font(18px, 600, 22px, $raistone_jet_black, $montserrat);
  @include flex(center, center, false, false);
  width: fit-content;
  background: $raistone_canary;
  padding: size(21) size(44);
  transition: color $duration, background-color $duration;
  cursor: pointer;
  border-radius: size(10);
  overflow: hidden;
  min-width: size(195);

  &.disabled {
    background: $raistone_mid_gery;
    color: $raistone_white;
    pointer-events: none;
  }

  &.has-arrow {
    min-width: size(233);

    svg {
      @include square(size(12));
      margin-left: size(14);
      transition: transform $duration;

      path {
        stroke: currentColor;
      }
    }
  }

  &.green-btn {
    background-color: $raistone_green;
    color: $raistone_white;

    &:hover {
      background-color: $raistone_mid_green;
    }
  }

  &:hover {
    background: $raistone_mid_canary;

    svg {
      transform: translateX(size(5));
    }
  }
}

// endregion

.btn-arrow {
  @include font(18px, 600, 100%, $raistone_jet_black, $montserrat);
  @include flex(center, center, false, false);
  width: fit-content;
  transition: color $duration;

  svg {
    @include square(size(12));
    margin-left: size(17);
    transition: transform $duration;

    path {
      stroke: currentColor;
    }
  }

  &.disabled {
    color: $raistone_mid_gery;
    pointer-events: none;

    svg {
      path {
        stroke: $raistone_mid_gery;
      }
    }
  }

  &:hover {
    color: $raistone_moss;

    svg {
      transform: translateX(size(5));
    }
  }

  &-white {
    color: $raistone_white;

    &:hover {
      color: $raistone_moss;
    }
  }

}

.link {
  @include font(16px, 600, 100%, $raistone_jet_black, $montserrat);
  padding-bottom: size(5);
  display: block;
  border-bottom: 1px solid currentColor;
  width: fit-content;
  transition: color $duration;

  @include min-medium-screen {
    font-size: size(18);
  }

  &.disabled {
    color: $raistone_mid_gery;
    pointer-events: none;
  }

  &:hover {
    color: $raistone_green;
  }

  &-white {
    color: $raistone_white;

    &:hover {
      color: $raistone_moss;
    }
  }

}

// region  wysiwyg
.wysiwyg-block {
  h1, h2, h3, h4, h5, h6, ul, p {
    margin-bottom: size(20);
  }

  ul, ol {
    margin-bottom: size(20);
    padding-top: 0;

    li {
      position: relative;
      color: $raistone_white;
      font-weight: 400;
      @include font-size(18px, 27px);
      padding-left: size(18);

      &:not(:last-child) {
        margin-bottom: size(11);
      }

      &:before {
        content: "";
        position: absolute;
        top: size(10);
        left: 0;
        @include square(size(5));
        background-color: currentColor;
        border-radius: 50%;
      }
    }

    ul, ol {
      margin: size(5) 0 0 size(10);
    }
  }

  ol {
    padding-left: size(17);

    li {
      padding-left: size(5);

      &:before {
        display: none;
      }
    }

    ul {
      margin-bottom: 0;
    }
  }

  &.children-inherit {
    > * {
      color: inherit;
    }
  }

}

//endregion//

// region background-image
.background-layout, .layout {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  @include square(100%);

  img, video {
    @include square(100%);
    object-fit: cover;
  }
}

.layout {
  z-index: -1;
}

// line dots
.line-dots {
  width: size(4);

  line {
    stroke: $raistone_white;
    stroke-width: 100%;
    stroke-dashoffset: 100%;
    animation: line 5s infinite linear forwards;
    stroke-dasharray: 3;
  }
}

@keyframes line {
  to {
    stroke-dashoffset: 0;
  }
}

// endregion

// region swiper pagination
.swiper-paginations, .swiper-pagination {
  position: relative;
  @include flex(center);
  width: fit-content;
  @include marginX(auto);

  .swiper-pagination-bullet {
    width: size(36);
    height: size(6);
    background: #695360;
    cursor: pointer;
    opacity: 1;
    border-radius: size(26);
    transition: background-color $duration, border-color $duration;

    &:not(:last-child) {
      margin-right: size(12) !important;
      margin-left: size(0) !important;
    }

    &:hover {
      background-color: #F7F7F7;
    }

    position: relative;

    &:before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: 100%;
      height: calc(100% + 30px);
      transform: translate(-50%, -50%);
    }
  }

  .swiper-pagination-bullet-active {
    background-color: #F7F7F7;
  }

  &.circle {
    .swiper-pagination-bullet {
      @include square(size(14));
      background: transparent;
      border: 1px solid $raistone_plum;
    }

    .swiper-pagination-bullet-active {
      background-color: $raistone_plum;
    }
  }

  &.circle-white {
    .swiper-pagination-bullet {
      @include square(size(14));
      background: transparent;
      border: 1px solid $raistone_white;
    }

    .swiper-pagination-bullet-active {
      background-color: $raistone_white;
    }
  }
}

// endregion swiper pagination

// region blocks general

.supplier-wrapper {
  background-color: $raistone_white;
  border-radius: size(16);
  width: 100%;
  height: auto;
  @include marginX(auto);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: size(48) size(24);

  @include min-medium-screen {
    padding: size(56) size(40);
    justify-content: space-between;

    width: 100%;

  }
  @include large-screen {
    max-width: size(1416);
    padding: 0;
    justify-content: space-between;
    margin: 0;
    @include paddingX(size(82), size(107));
    @include paddingY(size(68), size(72));
  }

  .left-supplier-content {
    position: relative;
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(37.6%);

    }
    @include large-screen {
      @include flexBasis(34.52%);

    }

    .supplier-img {
      display: block;
      width: 100%;
      margin-bottom: size(25);
      padding-top: 67.301%;
      @include min-medium-screen {
        margin-bottom: 0;
        padding-top: 128.301%;
      }
      @include large-screen {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .right-supplier-content {
    display: flex;
    flex-direction: column;
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(56.94%);

    }
    @include large-screen {
      @include flexBasis(57.41%);

    }

    .img-description {
      color: $raistone_jet_black;
      margin-bottom: size(60);
      font-family: $montserrat;
      font-weight: 500;
      @include min-medium-screen {
        font-weight: 400;
        font-family: $lato;

      }
      @include large-screen {
        font-weight: 500;
        font-family: $montserrat;
      }

    }

    .description-wrapper {
      display: flex;
      flex-direction: column;
      color: $raistone_jet_black;
    }

    .text-bold {
      font-weight: 700;
      font-family: $montserrat;
    }


    .name-and-job {
      display: flex;
      flex-direction: column;
      margin-top: auto;
    }

    .text {
      @include font(22px, 400, 36px, $raistone_jet_black, $lato);
      @include large-screen {
        font-family: $montserrat;
      }
    }

    .name {
      transition: color $duration;
      font-weight: 700;
      @include min-medium-screen {
        @include font-size(26px, 36px);
      }

      &:hover {
        color: $raistone_canary;
      }
    }
  }
}

// endregion

.desk-only {
  display: none;
  @include min-medium-screen {
    display: flex;
  }
}

.mobile-only {
  display: flex;
  @include min-medium-screen {
    display: none;
  }
}


.list {
  ul {
    li {
      @include font(16px, 400, 22px, $raistone_gery, $lato);
      margin-left: size(16);
      position: relative;
      @include large-screen {
        @include font-size(22px, 36px);
        margin-left: size(36);
      }

      &:after {
        content: "";
        position: absolute;
        width: size(5);
        height: size(5);
        background-color: currentColor;
        left: size(-17);
        border-radius: 50%;
        top: size(7);
        @include min-medium-screen {
          top: size(8);
        }

        @include large-screen {
          top: size(16);
        }
      }

      &:not(:last-child) {
        margin-bottom: size(8);
        @include large-screen {
          margin-bottom: size(2);
        }
      }

    }
  }
}

// hero animation

.clock-arrow {
  transform-origin: center 52px;
  transform-box: fill-box;
  animation: arrow-clock 3s cubic-bezier(0.62, 0.47, 0.34, 1.4);
  @keyframes arrow-clock {
    0% {
      transform: rotate(100deg);
    }
    100% {
      transform: rotate(0);
    }
  }
}

.move-animation {
  transform-origin: center 52px;
  transform-box: fill-box;
  animation: dollar-cover 2s ease-in-out;
  @keyframes dollar-cover {
    0% {
      transform: translate(0, 0) scale(1);
    }
    100% {
      transform: translate(4px, 4px) scale(1.05);

    }
  }
}

.line-dot {
  animation: move-line 2s linear;
  @keyframes move-line {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 210;
    }
  }
}

.gform_wrapper {

  .gfield_required_text {
    display: none;
  }

  .gform_validation_errors {
    margin-bottom: size(25);
    border-bottom: 1px solid #e21932 !important;

    h2 {
      color: #E21932 !important;
      font-size: size(14) !important;
    }
  }
}

.gform_validation_error {

  .gform_fields {
    .gfield_error {
      .validation_message {
        border: none !important;
        color: #E21932 !important;
        font-size: size(12) !important;
      }

      color: #E21932;

      .ginput_container {
        position: relative;

        &:after {
          //content: "✔";
          content: "!";
          width: 20px;
          height: 20px;
          background-color: #E21932;
          color: #fff;
          position: absolute;
          right: 5px;
          top: 50%;
          border-radius: 50%;
          text-align: center;
          line-height: 20px;
          font-size: size(16);
          font-weight: bold;
          transform: translate(-50%, -50%);
        }
      }
    }

    :not(.gfield_error) {
      .ginput_container {
        position: relative;

        &:after {
          content: "✔";
          width: 20px;
          height: 20px;
          background-color: #2F705F;
          color: #fff;
          position: absolute;
          right: 5px;
          top: 50%;
          border-radius: 50%;
          text-align: center;
          line-height: 20px;
          font-size: size(14);
          font-weight: bold;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

body {
  .single {
    .single-post {
      .second_hero_block {
        .theme-two {
          .post-hero {
            padding-bottom: size(76);
          }
        }


      }


    }
  }
}

.acf-flexible-content .layout {
  z-index: 2;
}
