// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$raistone_black: var(--raistone_black);
$raistone_white: var(--raistone_white);
$raistone_green: var(--raistone_green);
$raistone_mid_green: var(--raistone_mid_green);
$raistone_dark_green: var(--raistone_dark_green);
$raistone_moss: var(--raistone_moss);
$raistone_mid_moss: var(--raistone_mid_moss);
$raistone_light_moss: var(--raistone_light_moss);
$raistone_canary: var(--raistone_canary);
$raistone_mid_canary: var(--raistone_mid_canary);
$raistone_light_canary: var(--raistone_light_canary);
$raistone_jet_black: var(--raistone_jet_black);
$raistone_gery: var(--raistone_gery);
$raistone_mid_gery: var(--raistone_mid_gery);
$raistone_plum: var(--raistone_plum);
$raistone_mid_plum: var(--raistone_mid_plum);
$raistone_robins: var(--raistone_robins);
$raistone_mid_robins: var(--raistone_mid_robins);
$raistone_cherry: var(--raistone_cherry);
$raistone_aluminium: var(--raistone_aluminium);
$raistone_deco: var(--raistone_deco);
$raistone_gradient_green: var(--raistone_gradient_green);
$raistone_gradient_plum: var(--raistone_gradient_plum);

// fonts
$montserrat: 'Montserrat';
$lato: 'Lato';
//default duration
$duration: 500ms;
//override bootstrap variables
$grid-gutter-width: 4rem;
$container-padding-sm: 2rem;
$container-padding-md: 5rem;
$container-padding-lg: 13rem;
$container-max-widths: (
        'md': 100%, //570px
        'lg': 192rem, //760px 88.4
);
$grid-breakpoints: (
        'xs': 0,
        'md': $medium-screen-min-width,
        'lg': $large-screen-min-width,
);

