
@import "styles/sites/propellerheath";

.platform_block {
  @include paddingY(size(39), size(60));
  @include min-medium-screen {
    padding-top: size(100);
  }
  @include large-screen {
    @include paddingY(size(200), size(144));
  }

  .container {
    @include small-screen {
      @include paddingX(size(30));
    }
  }

  .text-wrapper {
    max-width: size(824);
    @include marginX(auto);
    text-align: center;
    margin-bottom: size(46);
    @include min-medium-screen {
      margin-bottom: size(60);
      max-width: size(664);
    }
    @include large-screen {
      max-width: size(824);
    }

  }

  .main-description {
    margin-bottom: size(29);
    @include min-medium-screen {
      margin-bottom: size(60);
    }
  }

  .title {
    font-weight: 700;
  }

  .content-wrapper {
    position: relative;
    @include small-screen {
      @include flex(center, center);
      flex-direction: column;
    }
    @include min-medium-screen {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: size(70) 0;
      gap: size(70) 0;
      grid-template-areas:
    "pos-1 . pos-2"
    "pos-3 . pos-4";
    }
  }

  .image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: size(300);
    height: size(300);
    clip-path: url(#shape);
    z-index: 2;
    @include min-medium-screen {
      width: size(270);
      height: size(271);
    }
    @include large-screen {
      width: size(364.3);
      height: size(371.74);
    }


    img {
      @include square(100%);
      object-fit: cover;
    }
  }

  .info {
    text-align: center;
    width: 100%;

    &:first-of-type {
      grid-area: pos-1
    }

    &:nth-of-type(2) {
      grid-area: pos-2
    }

    &:nth-of-type(3) {
      grid-area: pos-3
    }

    &:last-of-type {
      grid-area: pos-4
    }

    @include small-screen {
      &:not(:last-of-type) {
        margin-bottom: size(35);
      }
      &:nth-of-type(2) {
        padding-bottom: 0;
      }
      &:nth-of-type(3) {
        padding-top: size(290);
        margin-top: size(55);
      }
    }
    @include min-medium-screen {
      width: size(309);
    }
  }

  .icon {
    @include square(size(50));
    @include marginX(auto);
    margin-bottom: size(10);
    @include min-medium-screen {
      margin-bottom: size(17);
    }

    img, svg {
      @include square(100%)
    }
  }

  .info-title {
    @include marginX(auto);
    max-width: size(231);
    font-weight: 700;
    margin-bottom: size(27);
    @include min-medium-screen {
      max-width: size(230);
      margin-bottom: size(19);
    }
    @include large-screen {
      max-width: 90%;
    }
  }

  .slide-shape {
    width: 0;
    height: 0;
    pointer-events: none;
    z-index: -11111;
    position: absolute;
  }

  .paragraph {
    @include small-screen {
      max-width: size(280);
      @include marginX(auto);
    }
  }
}



