@import "styles/sites/senet";

.coverage_map_block {
  background: #fff;
  @include paddingY(43.5px, 88px);
  @include large-screen {
    @include paddingY(50px, 100px);
  }

  .title {
    margin-bottom: 32px;
    @include marginX(auto);
    color: #313131;
    @include min-medium-screen {
      text-align: center;
      margin-bottom: 40px;
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    @include large-screen {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }


    .map-wrapper {
      margin-bottom: 36px;
      width: 100%;
      height: size(400);
      position: relative;

      .loader {
        position: absolute;
        z-index: 10000;
        display: flex;
        align-items: center;
        justify-content: center;
        @include square(100%);
        transition: opacity $duration;

        div {
          border: 5px solid #f3f3f3;
          border-radius: 50%;
          border-top: 5px solid #FF5900;
          width: 50px;
          height: 50px;
          animation: spin 1s linear infinite;
          @keyframes spin {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }

      &.loaded {
        .loader {
          opacity: 0;
          pointer-events: none;
        }
      }

      #globe {
        width: 100%;
        height: 100%;
      }

      @include large-screen {
        @include flexBasis(40%);
        margin-bottom: 0;
        margin-right: size(70);
        height: size(500);
      }
    }

    .right-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include small-screen {
        @include marginX(auto);
      }
      @include large-screen {
        @include flexBasis(30%);
      }

      .stats-repeater {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: -50px;
        @include large-screen {
          margin-bottom: -55px;
        }
      }

      .number-and-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 41.6%;
        margin-bottom: 50px;
        @include large-screen {
          margin-bottom: 55px;

        }

      }

      .number {
        font-weight: 700;
      }

      .description {
        text-align: center;
        margin-top: 5px;
      }

      .cta-btn {
        margin-top: 49px;
        min-width: 245px;

        @include large-screen {
          margin-top: 70px;
        }
      }
    }
  }
}


