@import "styles/sites/raistone";


.about_raistone_block {
  @include paddingY(size(80), size(130));

  .section-shapes {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: size(1920);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .container {
    @include large-screen {
      @include paddingX(size(147))
    }
  }

  .areas-title {
    color: $raistone_jet_black;
    margin-bottom: size(46);
    @include marginX(auto);
    width: fit-content;
    @include large-screen {
      margin-bottom: size(156);
    }
  }

  .cards-wrapper {
    @include flex(stretch, center);
    flex-wrap: wrap;
    margin-bottom: size(-50);
    @include min-medium-screen {
      justify-content: space-between;
    }
    @include large-screen {
      margin-bottom: 0;
    }
  }

  .card {
    padding: size(30) size(30) size(60);
    @include flexBasis(100%);
    position: relative;
    border-radius: size(10);
    background: $raistone_robins;
    margin-bottom: size(50);

    @include min-medium-screen {
      @include flexBasis(48%);
      padding: size(70) size(30) size(60);
    }
    @include large-screen {
      @include flexBasis(31.45%);
      padding: size(60) size(60) size(90);
    }

    .description {
      font-family: $lato;
      @include large-screen {
        @include font-size(26px, 36px);
      }
    }

    &.text-is-dark {
      .card-title {
        color: $raistone_jet_black;
      }

      .description {
        color: $raistone_gery;
      }
    }
  }

  .logo {
    @include square(size(40));
    position: absolute;
    right: size(14);
    top: size(14);
    @include min-medium-screen {
      @include square(size(71));
      right: size(24);
      top: size(24);
    }

    img, svg {
      @include square(100%);
      object-fit: contain;
    }
  }

  .card-person {
    @include square(size(120));
    @include marginX(auto);
    margin-bottom: size(25);
    border-radius: 50%;
    overflow: hidden;
    @include min-medium-screen {
      @include square(size(160));
      margin-bottom: size(30);
    }
    @include large-screen {
      @include square(size(190));
      margin-bottom: size(65);
    }

    img {
      @include square(100%);
      object-fit: cover;
    }
  }

  .card-title {
    margin-bottom: size(8);
    font-weight: 600;
    letter-spacing: -0.015em;
  }

  .section-shapes {
    @include max-medium-screen {
      display: none;
    }

    svg {
      position: absolute;
    }

    .single-shape {
      left: 0;
      bottom: 0;
    }

    .double-shape {
      right: size(42);
      bottom: 0;
    }

    .dots-with-circle {
      right: size(-30);
      top: size(190);
      width: size(370);
      height: size(150);
      transform: scale(-1) rotate(-20deg);
    }

    .line {
      left: -2%;
      bottom: 18%;
      transform: scaleX(-1) rotate(20deg);
      width: size(360);
      height: size(150);
    }
  }
}
