@import "styles/sites/swc";

.values_slider_block {
  min-height: size(768);
  @include paddingY(size(70));
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 2;
  
  .values-slider-wrapper {
    flex-grow: 1;
    max-width: size(833);
    margin-left: auto;
    padding-left: size(20);
    @include min-medium-screen {
      padding-left: 0;
    }
    @include large-screen {
      max-width: size(1053);
    }
  }
  
  .swiper-container {
    @include paddingY(size(35));
    padding-left: size(16);
    margin-left: size(-16);
    overflow: hidden;
  }
  
  .swiper-slide {
    width: size(212);
    height: size(272);
    margin-right: size(16);
    transition: transform $duration;
    
    &-prev {
      transform: scale(0);
    }
  }
  
  .values-slider-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: size(17);
    @include min-medium-screen {
      margin-bottom: size(37);
    }
  }
  
  .headline-1 {
    color: $swc-white;
    margin-right: size(33);
    @include small-screen {
      @include flexBasis(100%);
      margin-bottom: size(20);
      margin-right: 0;
    }
  }
  
  .logo-icon {
    margin-bottom: size(20);
    flex-shrink: 0;
    width: size(99);
    height: size(77);
    
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
  
  .headline-3 {
    font-family: $crimson;
    color: currentColor;
    line-height: size(25);
    font-size: size(32);
    font-weight: 400;
    margin-bottom: size(19);
  }
  
  .headline-5 {
    font-family: $crimson;
    color: rgba(0, 0, 0, 0.87);
    line-height: size(25);
  }
  
  .paragraph {
    color: currentColor;
    font-size: size(14);
    line-height: size(18);
    letter-spacing: size(0.089485);
    margin-bottom: size(10);
    @include text-lines(6);
  }
  
  .bullets {
    margin-top: auto;
    width: size(55);
    height: size(15);
    @include marginX(auto);
    
    svg {
      @include square(100%);
    }
  }
  
  .subtitle {
    @include font(size(9.54507), 400, size(14), #8B8B8B, $openSans, size(0.089485));
    margin-bottom: size(20);
  }
  
  .swiper-button:not(:last-child) {
    margin-right: size(20);
  }
  
  .square-flip {
    transform: perspective(1000px);
    transform-style: preserve-3d;
    position: relative;
    @include square(100%);
    
    &:hover {
      .square {
        transform: rotateY(-180deg);
        transform-style: preserve-3d;
      }
      
      .square2 {
        transform: rotateY(0deg);
        transform-style: preserve-3d;
      }
      
      .square-container {
        transform: translateY(-50%) translateX(-650px) scale(.88);
      }
      
      .square-container2 {
        transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
      }
    }
  }
  
  .square {
    transform: rotateY(0deg);
    background: $swc-white;
    box-shadow: 0 0 size(20) size(-7.1588) rgba(208, 212, 221, 0.9);
    border-radius: 6px;
    
    .bullets path {
      fill: $swc-black;
    }
  }
  
  .square-box {
    @include square(100%);
    transform-style: preserve-3d;
    z-index: 1;
    background-size: cover;
    background-position: center center;
    transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    overflow: hidden;
    position: absolute;
    top: 0;
    backface-visibility: hidden;
    padding: size(31) size(30) size(21) size(30);
  }
  
  .square2 {
    transform: rotateY(180deg);
    background: $swc-blue;
    box-shadow: 0 size(20) size(23.8627) rgba(64, 147, 232, 0.4);
    border-radius: 6px;
    padding-top: size(61);
    
    .bullets path {
      fill: $swc-yellow;
    }
  }
  
  .square-container-box {
    //padding: size(31) size(30) size(21) size(30);
    text-align: center;
    position: relative;
    height: 100%;
    top: 50%;
    transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    transform-style: preserve-3d;
    z-index: 2;
    @include flex(center, space-between, column, wrap);
  }
  
  .square-container {
    transform: translateY(-50%) translateX(0px) scale(1);
  }
  
  .square-container2 {
    transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
    justify-content: flex-start;
    color: $swc-white;
  }
}



