
@import "styles/sites/kiwi";

section.block-slider-circle-vertical-2 {
  @include marginY(size(55));
  @include min-large-screen {
    @include marginY(size(103), size(123));
  }
  align-items: center;
  @include x-large-screen {
    align-items: flex-start;
  }
  
  justify-content: flex-end;
  
  &:before, &:after {
    top: auto;
    bottom: size(-30);
    display: none;
    z-index: 10;
    @include min-medium-screen {
      display: block;
    }
    @include x-large-screen {
      bottom: 0;
    }
  }
  
  &:before {
    bottom: 20%;
    @include x-large-screen {
      bottom: 26%;
    }
  }
  
  &:after {
    height: size(144);
    @include x-large-screen {
      height: size(214);
    }
  }
  
  .result-focused {
    max-width: size(570);
    @include paddingX(size(20));
    margin-bottom: size(50);
    @include min-medium-screen {
      margin-left: size(36);
      @include paddingX(0);
      margin-bottom: 0;
    }
    @include min-large-screen {
      margin-left: size(66);
    }
    @include x-large-screen {
      margin-top: size(50);
    }
    
    .number {
      font-weight: 700;
      margin-bottom: size(15);
      text-align: center;
      @include min-medium-screen{
        text-align: left;
      }
      @include x-large-screen {
        margin-bottom: 0;
      }
    }
    
    .testimonials {
      margin-bottom: size(23);
      text-align: center;
      @include min-medium-screen{
        text-align: left;
      }
      @include x-large-screen {
        margin-bottom: size(90);
      }
    }
    
    .result-focused-content {
      .swiper-btns {
        margin-bottom: 0;
        margin-top: size(20);
        @include marginX(auto);
        @include min-medium-screen {
          margin-bottom: size(23);
          margin-top: 0;
          @include marginX(0);
        }
        @include x-large-screen {
          margin-right: size(29);
        }
        
        .swiper-button {
          &.swiper-button-disabled {
            pointer-events: none;
            
            .swiper-btn-border {
              border-color: $kiwi-gainsboro;
            }
            
            svg {
              path {
                fill: $kiwi-gainsboro;
              }
            }
          }
          
          @include square(size(62));
          @include x-large-screen {
            @include square(size(82));
          }
        }
      }
      
      .content {
        position: relative;
        text-align: center;
        @include min-medium-screen{
          text-align: left;
        }
        @include x-large-screen {
          margin-top: size(14);
        }
      }
      
      .slide-text {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        pointer-events: none;
        transition: opacity 1s;
        
        &.active {
          position: relative;
          opacity: 1;
          z-index: 1;
        }
        
        h3 {
          margin-bottom: size(14);
        }
        
        p {
          @include text-lines(6);
          
          &:not(:last-child) {
            margin-bottom: size(21);
          }
        }
      }
    }
  }
  
  .images-wrapper {
    //min-height: size(780);
    flex-basis: 100%;
    width: 100%;
    max-width: size(780);
    position: relative;
    flex-shrink: 0;
    right: -50%;
    @include min-medium-screen {
      flex-basis: 54%;
      width: 54%;
      right: size(-192);
    }
    @include min-large-screen {
      right: size(-242);
    }
    @include x-large-screen {
      flex-basis: 60%;
      width: 60%;
      right: size(-384);
    }
    
    .image-wrapper {
      position: absolute;
      
      .icon {
        position: absolute;
        z-index: 5;
        top: -19%;
        left: 50%;
        transform: translateX(-50%) scale(0);
        transform-origin: center;
        transition: transform 500ms;
        width: 31%;
        height: 23%;
      }
      
      picture {
        display: block;
        @include square(size(13));
        background-color: $kiwi-dark-gray;
        border-radius: 50%;
        cursor: pointer;
        transition: width 500ms, height 500ms, background-color 400ms 450ms;
        overflow: visible;
        z-index: 2;
        position: relative;
        
        img {
          width: 90%;
          height: 90%;
          position: absolute;
          top: 50%;
          left: 50%;
          opacity: 0;
          //border-radius: 50%;
          transform: translate(-50%, -50%) scale(1.1);
          transition: opacity 500ms, transform 500ms;
          object-fit: contain;
          object-position: center;
        }
        
        &:hover {
          @include square(size(70));
          
          img {
            opacity: 1;
          }
          
        }
        
        &.active {
          transition: width 500ms 50ms, height 500ms 50ms, background-color 100ms;
          border-radius: 50%;
          background-color: transparent;
          @include square(size(350));
          @media screen and (max-width: 400px) {
            @include square(size(270));
          }
          @include min-medium-screen {
            @include square(size(340));
          }
          @include x-large-screen {
            width: size(666);
            height: size(490);
          }
          
          img {
            opacity: 1;
          }
          
          & + .icon {
            transform: translateX(-50%) scale(1);
            
            transition: transform 500ms 100ms cubic-bezier(.61, 0, .84, .12);
          }
        }
        
        
      }
    }
    
    
    &:hover {
      picture.active {
        img {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
    
    .circle {
      animation: none;
      //position: absolute;
      top: 0;
      z-index: 9;
      width: 100%;
      height: 100%;
    }
    
  }
}



  


