
@import "styles/sites/rentReports";


.pricing_cards_block {
  @include paddingY(size(100), size(60));
  @include min-medium-screen {
    @include paddingY(size(100), size(85));
  }
  @include large-screen {
    @include paddingY(size(256), size(100));
  }
  
  .pricing-cards-wrapper {
    max-width: size(834);
    @include marginX(auto);
    
    .pricing-cards-title {
      text-align: center;
      margin-bottom: size(30);
      @include large-screen {
        margin-bottom: size(60);
      }
      
      .headline-1 {
        margin-bottom: size(20);
      }
    }
    
    .choose-your-plan {
      .row {
        @include change-gutter(false, size(40));
      }
      
      .choose-play-title {
        text-align: center;
        color: $rentReporters-dark-blue;
        font-size: size(16);
        font-weight: 600;
        line-height: size(28);
        text-transform: uppercase;
        margin-bottom: size(20);
        @include min-medium-screen {
          margin-bottom: size(43);
        }
      }
      
      .pricing-card {
        text-align: center;
        padding-top: size(48);
        position: relative;
        z-index: 2;
        overflow: hidden;
        transition: border-radius $duration;
        max-width: size(345);
        @include marginX(auto);
        color: $rentReporters-green;
        @include small-screen {
          box-shadow: none;
        }
        @include min-medium-screen {
          padding-top: size(60);
          max-width: 100%;
          margin: size(40) 0 0;
        }
        @include large-screen {
          padding-top: size(76);
        }
        
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          content: '';
          width: 100%;
          height: size(8);
          background-color: currentColor;
          transition: height, opacity;
          transition-duration: $duration;
          transition-timing-function: ease-in-out;
          @include min-medium-screen {
            height: size(10);
          }
        }
        
        &:after {
          position: absolute;
          left: 0;
          top: 0;
          content: '';
          width: 100%;
          height: 100%;
          border: size(2) solid currentColor;
          border-radius: inherit;
          z-index: -1;
          display: none;
        }
        
        > *:not(.items) {
          @include paddingX(size(20));
        }
        
        .best-value {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          font-size: size(14);
          font-weight: 600;
          letter-spacing: size(0.28);
          text-transform: uppercase;
          background-color: currentColor;
          padding: size(10);
          height: size(33);
          transition: top $duration;
          align-items: center;
          justify-content: center;
          display: none;
          
          span {
            color: $rentReporters-white;
          }
          
          @include min-medium-screen {
            font-size: size(16);
            height: size(50);
            letter-spacing: size(0.32);
          }
        }
        
        .title {
          margin-bottom: size(5);
        }
        
        .price {
          margin-bottom: size(8);
        }
        
        .sub-price {
          color: $rentReporters-black-60;
        }
        
        .enroll-now {
          margin: size(27) auto 0;
          font-size: size(20);
          min-width: #{'min(23.7rem,90%)'};
        }
        
        .view-features {
          color: $rentReporters-blue;
          font-size: size(14);
          font-weight: 600;
          line-height: 100%;
          text-align: left;
          padding: size(17) size(40) size(18);
          border-top: size(1) solid $rentReporters-gray;
          cursor: pointer;
          margin-top: size(30);
          display: block;
          @include min-medium-screen {
            display: none;
          }
        }
        
        .items {
          position: relative;
          z-index: 9;
          text-align: left;
          @include small-screen {
            height: 0;
            overflow: hidden;
          }
          @include min-medium-screen {
            margin-top: size(30);
          }
          
          .item {
            
            @include flex(center, space-between, false, false);
            //padding: size(17) size(40) size(18);
            //1.3rem 4rem 1.9rem
            padding: size(14) size(40) size(19);
            position: relative;
            border-top: size(1) solid $rentReporters-gray;
            transition: background-color $duration;
            
            .item-title {
              font-size: size(14);
              font-weight: 500;
              line-height: size(24);
              //line-height: 100%;
              //margin-top: size(-4);
              color: $rentReporters-shark;
              max-width: 80%;
            }
            
            .item-description {
              opacity: 0.35;
              transition: opacity $duration;
              @include square(size(21));
              
              svg {
                pointer-events: none;
                @include square(100%);
              }
              
              &:hover {
                opacity: 1;
                
                :after {
                  opacity: 0;
                }
              }
            }
            
            &:hover {
              .item-description {
                opacity: 1 !important;
                
                .tooltip, &:before {
                  display: block;
                  animation: tooltips-vert 300ms ease-out forwards;
                }
                
                &:before {
                  animation-delay: 0.13s;
                }
              }
            }
            
            &.active {
              background-color: rgba(208, 208, 208, 0.2);
            }
          }
        }
        
        &.best-pricing {
          padding-top: size(71);
          margin-top: 0;
          color: $rentReporters-blue;
          @include min-medium-screen {
            padding-top: size(100);
          }
          @include large-screen {
            //padding-top: size(130);
            padding-top: size(116);
          }
          
          .best-value {
            display: flex;
          }
          
          &:before {
            display: none;
          }
          
          &:after {
            display: unset;
          }
        }
      }
    }
  }
  
  // custom tooltip
  .item-description {
    position: relative;
    z-index: 9;
    
    .tooltip, &:before {
      user-select: none;
      //pointer-events: none;
      position: absolute;
      display: none;
      opacity: 0;
      transform: translateY(-20%);
      right: calc(100% - 2.7rem);
    }
    
    &:before {
      content: '';
      border: size(12) solid transparent;
      z-index: 1001;
      right: size(-1);
      bottom: calc(100% + 0.4rem);
      border-bottom-width: 0;
      border-top-color: $rentReporters-green;
    }
    
    .tooltip {
      width: size(240);
      font-size: size(14);
      font-weight: 400;
      background-color: $rentReporters-green;
      overflow: hidden;
      padding: size(12);
      color: $rentReporters-white;
      z-index: 1000;
      text-align: left;
      bottom: calc(100% + 1.6rem);
      @include min-medium-screen {
        padding: size(20);
      }
    }
    
    // region if with click
    //&.active {
    //  opacity: 1 !important;
    //
    //  .tooltip &:before {
    //    display: block;
    //    animation: tooltips-vert 300ms ease-out forwards;
    //  }
    //
    //  &:before {
    //    animation-delay: 0.13s;
    //  }
    //}
    // endregion if with click
    
    @keyframes tooltips-vert {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
  


