
@import "styles/sites/smartdv";

.products_filter_block {
  background-color: $smart_dv_dark_green;
  padding-top: size(56);
  max-width: size(1440);
  @include marginX(auto);
  @include min-medium-screen {
    padding-top: size(73);
  }

  .container {
    @include paddingX(size(0))
  }

  .top-section {
    padding-bottom: size(86);
    @include paddingX(size(34));

    @include min-medium-screen {
      @include paddingX(size(80));
    }
    @include large-screen {
      @include paddingX(size(130));
      padding-bottom: size(135);
    }

    .title {
      max-width: size(290);
      text-align: left;
      color: $smart_dv_white;
      @include small-screen {
        @include font-size(24px, 30px)

      }
      @include min-medium-screen {
        @include marginX(auto);
        text-align: center;
        max-width: size(805);

      }

    }

    .filer-section {
      @include paddingY(size(26), size(41));
      position: relative;
      @include min-medium-screen {
        @include marginX(size(-7.5));
        @include paddingY(size(54), size(43));

      }


      .filter {
        position: relative;
        display: flex;
        @include small-screen {
          align-items: center;
          justify-content: space-between;
          height: size(50);
          border: 1px solid $smart_dv_white;
          @include paddingY(size(15));
          cursor: pointer;
          max-width: size(322);
          @include marginX(auto);
          background-color: $smart_dv_dark_green;
          //z-index: 4;

        }

        @include min-medium-screen {

        }

        .filter-title {
          @include font(14px, 500, 18px, $smart_dv_white, $montserrat);
          margin-left: size(16);
          @include min-medium-screen {
            display: none;
          }
        }

        .dropdown-svg {
          margin-right: size(19);
          transition: all $duration;
          @include min-medium-screen {
            display: none;
          }
        }


        &.opened {
          .dropdown-svg {
            transform: scaleY(-1);
          }

          .tabs-wrapper {
            opacity: 1;
            overflow-y: scroll;
          }
        }
      }

      .tabs-wrapper {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        @include min-medium-screen {
          margin-bottom: size(-14);
        }
        @include small-screen {
          background-color: $smart_dv_dark_green;
          position: absolute;
          height: 0;
          opacity: 0;
          overflow: hidden;
          max-height: size(241);
          width: size(322);;
          left: 50%;
          top: 100%;
          transform: translateX(-50%);
          border: 1px solid $smart_dv_white;
          z-index: 999;
          transition: opacity $duration;

        }


      }

      .tab {
        @include font(14px, 500, 18px, $smart_dv_white, $montserrat);
        height: size(48);
        width: 100%;
        @include paddingY(size(8));
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        transition: border $duration, color $duration;
        @include small-screen {
          &:nth-child(2n+1) {
            background: #08515B;
          }
          border-bottom: 1px solid $smart_dv_white;
          &:hover {
            color: $smart_dv_lime;
          }
        }
        @include min-medium-screen {
          margin-right: size(15);
          border: 2px solid $smart_dv_green;
          width: size(185);
          height: size(48);
          margin-bottom: size(14);
          &:nth-child(6n) {
            margin-right: size(0);

          }
          &:hover {
            border-color: $smart_dv_lime;
          }
        }


        &.selected-tab {
          @include small-screen {
            color: $smart_dv_lime;
          }
          @include min-medium-screen {
            border-color: $smart_dv_lime;

          }
        }
      }

      .circles {
        display: flex;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        @include small-screen {
          transform: translateY(-50%);
        }

        .line {
          border-top: 1px solid $smart_dv_white;
          width: 100%;
          flex-grow: 1;
        }

        .circle {
          @include square(size(14));
          border: 1px solid $smart_dv_white;
          border-radius: 50%;
          flex-shrink: 0;
          @include min-medium-screen {
            @include square(size(18));

          }
        }
      }

    }

    .result-wrapper {
      text-align: left;
      margin-top: size(25);
      @include font(14px, 500, 36px, $smart_dv_white, $montserrat);
      @include min-medium-screen {
        text-align: right;
        margin-top: size(47);

      }
    }
  }

  .cards-section {
    position: relative;
    z-index: 2;

    &:after {
      content: "";
      z-index: -1;
      position: absolute;
      top: size(66);
      left: 50%;
      transform: translateX(-50%);
      height: 99%;
      width: 100vw;
      background-color: $smart_dv_white;
      pointer-events: none;
    }

    .related_products_section {
      padding-top: 0;
      background-color: transparent;
      @include small-screen {
        @include marginX(size(34))
      }
      @include medium-screen {
        @include marginX(size(80))
      }

      .container {
        @include large-screen {
          @include paddingX(size(70), size(70));
        }
      }

    }

    .cards-wrapper {
      @include large-screen {
        justify-content: flex-start;
      }

      .card {
        @include min-medium-screen {
          height: size(189);

        }
        @include large-screen {
          height: size(335);
          margin-right: size(17);
          padding: size(107) size(38) size(94) size(38);
          &:nth-child(4n) {
            margin-right: 0;
          }
        }

        .content-description {
          @include medium-screen {
            top: 40%;
          }
        }
      }
    }

    .load-more-wrapper {
      margin-top: size(69);

      @include small-screen {
        justify-content: flex-start;
      }

      .cta-link {
        svg {
          @include square(size(10))
        }

        &:hover {
          svg {
            transform: translateX(size(0));

            rect {
              transform: scaleX(1);
            }

            path {
              transform: translateX(size(0));

            }
          }

        }
      }
    }

  }

  .no-posts {
    &.active {
      display: block;
      text-align: center;
      padding-top: size(5);
      padding-bottom: size(30);
      color: $smart_dv_white;
    }
  }

}




