@import "styles/sites/raistone";

@import "~swiper/css";
@import "swiper/css/effect-fade";
@import "swiper/css/pagination";

.case_studies_swiper_block {

  background: $raistone_aluminium;
  @include paddingY(size(48), size(36));
  @include min-medium-screen {
    @include paddingY(size(99), size(115));
  }
  @include large-screen {
    @include paddingY(size(71), size(131));
  }

  .container {
    @include paddingX(size(11));
    @include min-medium-screen {
      @include paddingX(size(40));
    }
    @include large-screen {
      @include paddingX(size(123), size(80));
    }
  }

  .title-and-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: size(43);
    @include min-medium-screen {
      margin-bottom: size(73);
    }
    @include large-screen {
      margin-bottom: size(89);
    }
  }

  .title {
    color: $raistone_jet_black;
    @include font-size(45px, 55px);
    font-weight: 600;
    @include large-screen {
      font-weight: 700;
      @include font-size(64px, 77px);
    }
  }

  .swiper-container {
    position: relative;
    border-radius: size(16);
    overflow: hidden;
    @include large-screen {
      padding-left: size(112);
      @include paddingY(size(55));
    }
  }

  .swiper-slide {
    border-radius: size(16);

  }

  .supplier-wrapper {
    box-shadow: 0 size(4) size(20) rgba(0, 0, 0, 0.1);
  }

  .swiper-pagination {
    width: fit-content;
    left: 50%;
    bottom: 9%;

    transform: translateX(-50%);
    @include large-screen {
      left: 49%;
      bottom: 9%;

    }
  }

  .mobile-only {
    margin-top: size(75);
    @include marginX(auto);
  }


}
