
@import "styles/sites/rentReports";


footer {
  background-color: $rentReporters-white;
  border-top: size(1) solid $rentReporters-black-20;;
  color: $rentReporters-shark;
  font-size: size(14);
  font-weight: 400;
  padding-top: size(30);
  @include min-medium-screen {
    padding-top: size(30);
  }
  @include large-screen {
    font-size: size(16);
  }
  @mixin hidden-mobile($d:block) {
    display: none;
    @include min-medium-screen {
      display: $d;
    }
  }
  
  .footer-top {
    @include flex(false, space-between, false, wrap);
    margin-bottom: size(37);
    @include min-medium-screen {
      margin-bottom: size(27);
    }
    
    .footer-contact-info {
      @include flexBasis(100%);
      @include flex(false, space-between, false, false);
      margin-bottom: size(38);
      @include min-medium-screen {
        display: block;
        @include flexBasis(21.03%);
        margin-bottom: 0;
      }
      @include large-screen {
        margin-right: size(38);
      }
      // region creative logo
      //.footer-logo {
      //  display: block;
      //  height: fit-content;
      //  @include small-screen {
      //    @include flexBasis(41.34%);
      //  }
      //  @include min-medium-screen {
      //    margin-bottom: size(21);
      //  }
      //  transition: all 0.35s;
      //
      //  * {
      //    transition: inherit;
      //  }
      //
      //  figure {
      //    position: relative;
      //    margin: 0;
      //    overflow: hidden;
      //    perspective: 50em;
      //    backface-visibility: hidden;
      //    transform: translateZ(0);
      //
      //    figcaption {
      //      padding: 0;
      //      position: absolute;
      //      top: 0;
      //      bottom: 0;
      //      left: 0;
      //      right: 0;
      //      opacity: 0;
      //      transform-origin: 50% 50%;
      //      transform: rotateX(90deg) translateY(-100%) scale(0.5);
      //    }
      //
      //    img {
      //      vertical-align: top;
      //      width: 100%;
      //      object-fit: contain;
      //    }
      //
      //    &:hover {
      //      .logo-image {
      //        transform: rotateX(-100deg) translateY(50%) scale(0.5);
      //        opacity: 0;
      //        transition-delay: 0s;
      //      }
      //
      //      figcaption {
      //        transform: rotateX(0) translateY(0%) scale(1);
      //        opacity: 1;
      //        transition-delay: 0.35s;
      //      }
      //    }
      //  }
      //}
      // endregion
      .footer-logo {
        display: block;
        height: fit-content;
        max-width: size(238);
        @include small-screen {
          @include flexBasis(41.34%);
        }
        @include min-medium-screen {
          margin-bottom: size(21);
        }
        
        img {
          transition: transform $duration;
          width: 100%;
          object-fit: contain;
        }
        
        &:hover {
          img {
            transform: scale(1.050);
          }
        }
      }
      
      .contact-info {
        line-height: size(20);
        display: none;
        @include min-medium-screen {
          display: block;
          margin-bottom: size(28);
          line-height: size(28);
        }
        @include small-screen {
          @include flexBasis(49.67%);
        }
        
        p {
          @include small-screen {
            max-width: 84%;
          }
          
          a {
          
          }
          
          &:not(:last-child) {
            margin-bottom: size(20);
            @include min-medium-screen {
              margin-bottom: size(16);
            }
            @include large-screen {
              margin-bottom: size(26);
            }
          }
        }
        
        a:not(.phone):not([href^="tel"]) {
          position: relative;
          font-size: size(14);
          font-weight: 600;
          padding-bottom: size(8);
          width: fit-content;
          color: $rentReporters-blue;
          line-height: 100%;
          --delay: 200ms;
          
          &:before, &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            transition: transform $duration; //cubic-bezier(0.51, 0.18, 0, 0.88)
            transform-origin: right;
            background-color: currentColor;
            height: size(2);
            width: 100%;
          }
          
          &:before {
            transition-delay: var(--delay);
          }
          
          &:after {
            transform-origin: left;
            //transition-delay: 300ms;
            transform: scaleX(0);
          }
          
          &:hover {
            &:before {
              transform: scaleX(0);
              transition-delay: unset;
            }
            
            &:after {
              transition-delay: var(--delay);
              transform: scaleX(1);
            }
          }
          
          display: inline-block;
          @include large-screen {
            margin-left: size(6);
          }
        }
        
        .phone {
          color: $rentReporters-blue;
          font-weight: 600;
          display: flex;
          align-items: center;
          
          &:hover {
            svg {
              animation: shaking 1s ease;
            }
          }
          
          svg {
            margin-right: size(3);
            margin-top: size(-5);
            @include square(size(13));
          }
        }
        
        &-mobile {
          display: block;
          @include min-medium-screen {
            display: none;
          }
        }
      }
      
      .footer-social-wrapper {
        @include hidden-mobile();
        
        .social-title {
          font-size: size(16);
          font-weight: 600;
          margin-bottom: size(10);
        }
        
        .footer-social {
          @include flex(center, false, false, wrap);
          
          .social-icon {
            svg {
              @include square(size(24));
            }
            
            &:not(:last-child) {
              margin-right: size(19);
            }
          }
        }
      }
    }
    
    .footer-links, .footer-enroll {
      height: fit-content;
      @include min-medium-screen {
        padding-top: size(91);
      }
      //margin-bottom: size(30);
    }
    
    .footer-links {
      @include flexBasis(50%);
      display: none;
      @include min-medium-screen {
        @include flex(false, space-between, false, wrap);
      }
      @include large-screen {
        @include flexBasis(43.93%);
      }
      
      .footer-links-wrapper {
        max-width: calc(95% / 3);
        
        li {
          display: block;
          
          &:not(:last-child) {
            margin-bottom: size(17);
          }
        }
      }
    }
    
    .footer-enroll {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(17.95%);
      }
      
      .btn {
        margin-bottom: size(18);
        @include max-medium-screen {
          min-width: 100%;
          margin-bottom: size(15);
        }
      }
      
      .enroll-text {
        font-size: size(14);
        line-height: 1.75;
        text-align: center;
        
        a {
          display: inline-block;
          padding-bottom: size(2);
          @include min-medium-screen {
            padding-bottom: size(4);
            margin-left: size(6.50);
          }
          
          &:before, &:after {
            bottom: auto;
            top: 100%;
          }
        }
      }
    }
  }
  
  .footer-bottom {
    @include flex(center, space-between, false, wrap);
    font-size: size(14);
    font-weight: 500;
    @include paddingY(size(16));
    border-top: 1px solid $rentReporters-black-20;
    @include min-medium-screen {
      font-size: size(14);
      font-weight: 400;
    }
    
    .footer-bottom-wrapper {
      position: relative;
      display: flex;
      justify-content: flex-end;
    }
    
    .copy-right-text {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      @include min-medium-screen {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    
    .site-by {
      color: $rentReporters-blue;
      transition: color $duration;
      
      &:hover {
        color: $rentReporters-light-blue;
      }
    }
  }
}


  


