
@import "styles/sites/propellerheath";

footer {
  @include paddingY(size(50), size(74));
  background-color: $propellerhealth_denim;
  width: 100%;
  overflow: hidden;
  @include min-medium-screen {
    @include paddingY(size(81), size(40));

  }

  .container {
    @include small-screen {
      @include paddingX(size(47));
    }
    @include min-medium-screen{
      @include paddingX(size(140));
    };
  }


  .content-wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $propellerhealth_fog;
    padding-bottom: size(38);
    margin-bottom: size(20);
    @include medium-screen {
      align-items: center;
    }
    @include large-screen {
      padding-bottom: size(40);
      margin-bottom: size(38);
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;

    }

    .logo {
      margin-bottom: size(62);
      height: size(45);
      max-width: size(281);

      @include small-screen {
        margin-bottom: size(73);
        img {
          object-fit: cover;
        }
      }

      @include medium-screen {
        margin-right: auto;
      }
      @include large-screen {
        margin-bottom: size(0);
        height: size(41);
        width: size(250);
      }

      svg, img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .phone_time {
      display: flex;
      color: $propellerhealth_white;
      min-width: size(376);

      .footer-nav {
        @include font-size(14px, 20px);
      }
    }

    .links-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;

      @include min-medium-screen {
        flex-direction: row;
        justify-content: space-between;
        max-width: size(800);
      }
      @include medium-screen {
        justify-content: space-between;
        max-width: size(880);

      }
    }

    .links-column {
      margin-bottom: size(30);
      @include min-medium-screen {
        min-width: size(70);
      }

    }

    .links-title {
      margin-bottom: size(19);

    }

    .link-item {
      //margin-bottom: size(4);
      &:focus{
        color:$propellerhealth_mint
      }
      @include min-medium-screen {
        line-height: size(24.6);

      }
    }

    .phone_time {
      max-width: size(375);
      @include font-size(14px, 22px);
      @include min-medium-screen {
        @include font-size(16px, 25px)
      }
      a {
        margin-right: size(10);

      }

      @include font-size(14px, 20px);

      span {
        margin-left: size(10);
      }

    }

    .email {
      display: block;
      margin-bottom: size(17);
      color: $propellerhealth_white;
      @include font-size(14px, 22px);
      @include min-medium-screen {
        @include font-size(16px, 25px)
      }
      @include min-medium-screen {
        margin-bottom: size(42);

      }

    }


  }

  .form-wrapper {
    form {
      display: flex;
      align-items: center;
      position: relative;
    }

    .gform_validation_errors {
      width: 85%;
    }

    .gform_ajax_spinner {
      border: size(3) solid $propellerhealth_white;
      border-left: size(3) solid $propellerhealth_white;
      border-top: size(3) solid $propellerhealth_white;
      border-right: size(3) solid $propellerhealth_white;
      top: 50%;
      left: 95%;
      //transform: translate(50%, -50%);
      z-index: 1;
      @include marginX(size(10));
    }

    .gform_body.gform-body {
      .gform_fields {
        .gfield {

          .gfield_label {
            display: none !important;
          }

          .gfield_validation_message {
            @include large-screen {
              position: absolute;
              top: 100%;
              left: 0;
            }

            width: 85%;

          }

          .ginput_container.ginput_container_email {
            input {
              @include paddingX(size(17));
              @include paddingY(size(14));
              @include font(14px, 700, 18px, $propellerhealth_coal, $Lato !important);
              height: size(45);
              width: size(180);
              border-radius: unset;
              border: none;
              min-height: unset;

              @include min-medium-screen {
                @include paddingX(size(17));
                @include paddingY(size(14), size(18));
                @include font-size(16px, 20px);
                width: size(261);
              }

              &::placeholder {
                @include font(14px, 400, 15.4px, $propellerhealth_coal, $Lato);
                text-transform: capitalize;
              }


            }
          }

        }
      }
    }

    .gform_footer {
      @include marginY(0 !important);

      .gform_button {
        background-color: $propellerhealth_primary_tint;
        @include marginY(0 !important);
        border-radius: 0 size(10) 0 0;
        @include paddingX(size(20));
        @include paddingY(size(13));
        @include font(14px, 700, 18px, $propellerhealth_coal, $Lato);
        transition: background-color $duration;
        border: none;
        min-width: size(95);
        height: size(45);
        width: size(95);
        @include min-medium-screen {
          @include font-size(16px, 20px);
          @include paddingX(size(29));
          width: size(115);
        }

        &:hover {
          background-color: $propellerhealth_amethyst_20;
        }
      }
    }

    .gform_confirmation_wrapper {
      .gform_confirmation_message {
        @include font(14px, 700, 18px, $propellerhealth_white, $Lato);
        text-align: left;
        padding-left: 0;
        @include min-medium-screen {


        }
      }
    }
  }

  .footer-nav {
    @include font-size(14px, 22px);
    @include min-medium-screen {
      @include font-size(16px, 25px)
    }
    transition: color $duration;

    &:hover {
      color: $propellerhealth_mint;
    }

    a {
      transition: unset;
    }
  }

  .footer-nav-title {
    text-transform: capitalize;
    @include small-screen {
      @include font-size(14px, 16px);

    }
    font-weight: 800;
  }

  .references {
    border-bottom: 1px solid $propellerhealth_denim_20;
    padding-bottom: size(38);
    margin-bottom: size(20);

    .references-title {
      text-transform: capitalize;
      @include font(10px, 700, 14px, $propellerhealth_denim_20, $Lato);
      margin-bottom: size(24);
      @include min-medium-screen {
        @include font-size(12px, 18px)
      }
    }

    .reference-item {
      @include font(10px, 700, 14px, $propellerhealth_denim_20, $Lato);
      margin-bottom: size(10);
      @include min-medium-screen {
        @include font-size(12px, 18px)
      }

      &:last-child {
        margin-bottom: size(0);
      }
    }

  }

  .copyright-and-links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include min-medium-screen {
      margin-top: size(38);
      flex-direction: row;
      align-items: baseline;
    }

    .copyrights {
      @include font(12px, 400, 18px, $propellerhealth_white, $Lato);
      margin-bottom: size(20);
      @include min-medium-screen {

      }
    }

    .policy-links {

      @include small-screen {
        margin-left: size(-9.5);
      }
      display: flex;
      flex-wrap: wrap;
      @include small-screen {
        min-height: size(55);
      }

      .policy-link-item {
        @include marginX(size(9.5));
        color: $propellerhealth_white;
        @include min-medium-screen {
          @include marginX(size(18));
          line-height: size(14);

        }


        transition: color $duration;

        &:hover {
          color: $propellerhealth_mint;
        }
      }
    }
  }

  ul, ol {
    list-style: none;
  }

  .gform_wrapper.gravity-theme .gform_footer, .gform_wrapper.gravity-theme .gform_page_footer {
    padding: 0 !important;
  }

}




