
@import "styles/sites/propellerheath";
@import "swiper/css";

.video_or_image_slider {
  @include paddingY(size(25));
  @include min-medium-screen {
    @include paddingY(size(113), size(58));

  }

  .video-or-image-slider-cards-wrapper {
    @include min-medium-screen {
      @include marginX(auto);
      max-width: size(700);
    }
    @include large-screen {
      max-width: size(800);
    }

    .video-or-image-slider-first-content {
      .video-or-image-slider-first-content-title {
        font-weight: 900;
        margin-bottom: size(18);
        @include large-screen {
          margin-bottom: size(25);
        }
      }

      .video-or-image-slider-first-content-description {

      }
    }
  }

  .video-or-image-slider {

    .aspect-ratio {
      padding-top: 57.87%;
      margin-top: size(30);
      @include min-medium-screen {
        margin-top: size(50);
      }
      @include large-screen {
        margin-top: size(75);
      }

      div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

    }

    .figure-style {
      margin: 0;
    }

    .caption {
      height: auto;
      margin: 0;
      background: $propellerhealth_denim;
      padding-left: size(6);
      color: $propellerhealth_white;
      display: flex;
      align-items: center;
      @include paddingY(size(8));
    }
  }

  .video-or-image-slider-last-content {
    padding-top: size(25);
    @include min-medium-screen {
      padding-top: size(40);
    }

    .video-or-image-slider-last-content-title {
      font-weight: 700;
      padding-bottom: size(11);
    }

    .video-or-image-slider-last-content-date {
      padding-bottom: size(15);
      @include min-medium-screen {
        padding-bottom: size(24);
      }
    }
  }

  .video-wrapper, .poster-image, .video-player {
    @include small-screen {
      object-fit: contain;
    }
  }
}







