
@import "styles/sites/eisgroup";


.resources_title_block {
  @include paddingY(size(105), size(65));

  .title, .description {
    text-align: center;
  }

  .title {
    margin-bottom: size(20);
  }

  .description {
    max-width: size(800);
    @include marginX(auto);
  }
}
