
@import "styles/sites/k1_elementor";
@import "~swiper/css";

.text_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  @include paddingY(size(189), size(139));
  height: 100vh;
  @include small-screen {
    br {
      display: none;
    }
  }
  @include min-medium-screen {
    @include paddingY(size(195));
  }


  .swiper {
    padding-bottom: size(50);
  }

  &.below-home-hero {
    height: 87vh;
    min-height: size(550);
  }

  .swiper-wrapper {
    align-items: center;
  }

  .text-description {
    max-width: size(520);
    color: $k1_project_black;
    font-weight: 400;
    text-align: center;
    @include marginX(auto);
    margin-bottom: size(24);
    @include font-size(24px, 31.2px);
    letter-spacing: size(-0.5);
    @include min-medium-screen {
      max-width: size(955);
      letter-spacing: size(-1);
      @include font-size(40px, 60px);
    }

    span {
      color: $k1_project_middle_red;
    }
  }

  .nam-and-job {
    @include font(16px, 400, 20px, $k1_project_purple, $interstate);
    display: block;
    max-width: size(500);
    text-align: center;
    @include marginX(auto);
    transition: color $duration;
  }


  &.text-medium {
    .text-description {
      @include min-medium-screen {
        max-width: size(685);
      }
    }
  }

  &.text-large {
    .text-description {
      @include min-medium-screen {
        max-width: size(945);
      }
    }
  }

  &.has-background {
    height: 100vh;

    .text-description {
      color: $k1_project_white;
    }

    .nam-and-job {
      color: $k1_project_white;
    }
  }


}









