@import "styles/sites/raistone";


.case_study_block {
  @include paddingY(size(58), size(44));
  @include min-medium-screen {
    @include paddingY(size(46.5), size(56));
  }

  .container {
    @include large-screen {
      @include paddingX(#{$container-padding-lg + 1.4rem})
    }
  }

  .row {
    @include change-gutter(size(25), size(25));
    @include large-screen {
      @include change-gutter(size(48), size(48));
    }
  }

  .card {
    @include paddingY(size(24), size(27));
    @include paddingX(size(24));
    background: $raistone_aluminium;
    border-radius: size(10);
    color: $raistone_jet_black;
    height: 100%;
    display: flex;
    flex-direction: column;
    @include large-screen {
      @include paddingY(size(37), size(56));
      @include paddingX(size(44));
    }
  }

  .image-wrapper {
    background-color: $raistone_white;
    border-radius: size(13);
    height: size(264);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: size(42);
    @include paddingY(size(15));
    @include paddingX(size(25));
    @include min-medium-screen {
      height: size(237);
    }

    picture, a {
      max-width: size(252);
      height: 100%;
      display: block;

      img {
        @include square(100%);
        object-fit: contain;
      }
    }
  }

  .small-text {
    margin-bottom: size(8);
    color: currentColor;
  }

  .company-name {
    @include font-size(23px, 36px);
    font-weight: 700;
    letter-spacing: size(0.15);
    color: currentColor;
    margin-bottom: size(8);
    display: block;
    @include large-screen {
      @include font-size(32px, 36px);
      font-weight: 600;
    }
  }

  .description {
    color: $raistone_gery;
    margin-bottom: size(25);
    line-height: size(36);
    max-width: size(390);
  }

  .btn-arrow {
    color: currentColor;
    margin-top: auto;

    &:hover {
      color: $raistone_canary;
    }
  }

  .green-card {
    background-color: $raistone_green;
    color: $raistone_white;

    .description {
      color: $raistone_aluminium;
    }
  }

  .robins-card {
    background-color: $raistone_robins;
  }

  .deco-card {
    background-color: $raistone_deco;
  }

  .load-more-wrapper {
    min-width: 100%;
    margin-top: size(40);
    @include marginX(auto);
    @include min-medium-screen {
      min-width: size(194);
      margin-top: size(75);
    }
    @include large-screen {
      margin-top: size(140);
    }
  }
}
