@import "styles/sites/raistone";


.title_and_cards_block {
  @include paddingY(size(63), size(39));
  @include min-medium-screen {
    @include paddingY(size(70), size(63));
  }
  @include large-screen {
    @include paddingY(size(65.5), size(90));
  }

  .container {
    @include min-medium-screen {
    }
    @include large-screen {
      @include paddingX(size(121), size(101));
    }
  }

  .title {
    color: $raistone_jet_black;
    margin-bottom: size(54);
  }

  .row {
    @include change-gutter(size(30), size(30));
  }

  .card {
    height: 100%;
    border-radius: size(20);
    background: $raistone_aluminium;
    padding: size(30);
    @include large-screen {
      @include paddingX(size(53), size(55));
      @include paddingY(size(48), size(82));
    }
  }

  .card-icon {
    @include square(size(93));
    filter: drop-shadow(0 size(4) size(20) rgba(0, 0, 0, 0.1));
    border-radius: size(20);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $raistone_white;
    margin-bottom: size(22);
    @include large-screen {
      margin-bottom: size(22);
    }

    svg, img {
      @include square(size(62));
    }

    img {
      object-fit: cover;
    }
  }

  .card-title {
    color: $raistone_plum;
    margin-bottom: size(10);
  }

  .small-title {
    font-family: $lato;
    font-weight: 400;
    color: $raistone_gery;
    margin-bottom: size(25);
    @include font-size(22px, 36px);
    @include large-screen {
      margin-bottom: size(41);
      @include font-size(26px, 36px);
    }
  }

  .list {
    color: $raistone_gery;

    ul {
      list-style: unset;
    }

    ul, ol {
      margin-left: size(20);
    }

    li {
      margin-left: 0;
      font-size: inherit;
      line-height: inherit;

      &:after {
        display: none;
      }
    }
  }
}
