@import "styles/sites/headversity";

.faqs_block {
  position: relative;
  overflow: hidden;
  @include paddingY(size(36.5), size(93));
  @include min-medium-screen {
    @include paddingY(size(75), size(150));
  }
  @include large-screen {
    @include paddingY(size(59), size(209));
  }


  .container {
    @include small-screen {
      @include paddingX(0);
    }
  }

  .ellipse-orange {
    bottom: -20%;
    left: -40%;
    @include square(size(450));
    @include min-medium-screen {
      @include square(size(600));
      left: -23%;
    }
    @include large-screen {
      @include square(size(850));
      bottom: -31%;
      left: -23%;
    }
  }

  .ellipse-green {
    right: -67%;
    top: 31%;
    @include min-medium-screen {
      top: 27%;
      right: -41%;

    }
  }

  .faqs-content-wrapper {
    position: relative;
  }

  .title {
    margin-bottom: size(41);
    @include small-screen {
      @include paddingX(size(25));
    }
  }

  .faqs-wrapper {
    @include small-screen {
      padding-right: size(30);
    }
  }

  .faq-wrapper {
    width: 100%;
    background: $headversity_white;
    box-shadow: 0 size(10) size(20) rgba(97, 55, 55, 0.1);
    border-radius: 0 size(30) size(30) 0;
    @include paddingY(size(24), size(30));
    @include paddingX(size(38), size(30));
    @include min-medium-screen {
      padding: size(35);
    }
    @include large-screen {
      @include paddingY(size(50));
      @include paddingX(size(55), size(51));
    }


    svg {
      color: $headversity_orange;
      @include square(size(26));
      transition: opacity $duration;
      margin-top: size(23);
      @include min-medium-screen {
        @include square(size(25));
        margin-top: 0;
      }

      line {
        stroke: currentColor;
      }

      &.minus-icon {
        opacity: 0;
      }
    }

    .remove-to-close {
      transform-origin: center;
      transition-property: opacity, transform;
      transition-duration: .3s;
      transition-timing-function: cubic-bezier(0.97, -0.01, 0.42, 0.56);
    }

    &.active {
      padding-bottom: size(40);
      border-bottom-color: #9CDAE0;
      @include min-medium-screen {
        padding-bottom: size(32);
      }
      @include large-screen {
        padding-bottom: size(40);
      }

      .remove-to-close {
        transform: rotate(90deg);
        opacity: 0;
      }

    }

    &:not(:last-of-type) {
      margin-bottom: size(13);
    }
  }

  .has-question {
    @include min-medium-screen {
      max-width: 79%;
    }


  }

  .faq-question-title {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    @include small-screen {
      flex-direction: column;
      align-items: flex-start;
    }

    &:hover {
      .has-question {
        color: $headversity_orange;
      }

      svg {
        opacity: 0.6;
      }
    }

  }

  .have-answer {
    height: 0;
    overflow: hidden;
    position: relative;
  }

  .faq-answer {
    max-width: 88%;
    position: relative;

    &:before {
      content: "";
      position: relative;
      width: 100%;
      height: size(22);
      background: transparent;
      display: block;
      @include min-medium-screen {
        height: size(42);
      }
    }

  }
}
