
@import "styles/sites/wrap";

.ways_to_get_bolawrap {
  background-color: #f5f8fa;
  @include paddingY(size(64), size(50));
  position: relative;
  z-index: 2;
  margin-top: -3px;
  @include min-medium-screen {
    padding-bottom: size(70);
  }
  @include large-screen {
    padding-bottom: size(100);
  }
  
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background-color: $wrap-light-blue;
    z-index: -1;
  }
  
  
  .headline-6 {
    font-family: $montserrat;
    text-transform: uppercase;
    color: $wrap-dark-orange;
    margin-bottom: size(60);
  }
  
  .row {
    position: relative;
    @include change-gutter(size(30), size(30));
    @include min-medium-screen {
      @include change-gutter(size(40), size(40));
    }
  }
  
  .card-container {
    background-color: $wrap-white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    border: 1px solid #E2E6E9;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: size(50) size(38);
    height: 100%;
    
    .icon {
      position: relative;
      @include square(size(80));
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $wrap-dark-white;
      margin-bottom: size(30);
      transition: background-color $duration;
      overflow: hidden;
      z-index: 2;
      
      &:after {
        content: "";
        position: absolute;
        @include square(100%);
        top: 0;
        left: 0;
        background: linear-gradient(94.85deg, #FD9D28 0%, #F9BB2E 94.08%);
        z-index: -1;
        opacity: 0;
        transition: opacity $duration;
      }
      
      &:hover {
        &:after {
          opacity: 1;
        }
      }
      
      img {
        @include square(size(40));
        object-fit: cover;
      }
    }
    
    .title {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: size(0.6);
      margin-bottom: size(20);
      @include font(size(20), 700, 130%, $wrap-gable-green, size(0.6));
      @include min-medium-screen {
        font-size: size(25);
      }
      @include large-screen {
        font-size: size(30);
      }
    }
    
    
    .headline-6 {
      font-family: $montserrat;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: $wrap-light-blue;
      margin-bottom: size(20);
    }
    
    .paragraph {
      text-align: center;
      color: $wrap-shuttle-gray;
      margin-bottom: size(40);
    }
    
    .btn {
      margin-top: auto;
      color: $wrap-black;
      padding: size(18) size(47.43);
      background-color: $wrap-white !important;
    }
    
    &.small-title {
      .title {
        color: $wrap-light-blue;
        font-family: $montserrat;
        @include font(size(14), 700, 130%, $wrap-gable-green, 0.2em);
      }
      
      .paragraph {
        margin-bottom: size(30);
      }
    }
  }
}


  


