:root {
  /* Colors: */
  --wrap-black: #000000;
  --wrap-black-gradient: linear-gradient(180deg, rgba(0, 6, 6, 0) 0%, #020809 45.31%, rgba(0, 6, 6, 0) 100%);
  --wrap-white: #ffffff;
  --wrap-dark-white: #E8EFF4;
  --wrap-light-white: #EEF3F6;
  --wrap-off-white: #E5E5E5;;
  --wrap-zircon: #D7DEE2;;
  --wrap-orange: #F9BB2E;
  --wrap-dark-orange: #FD9D28;
  --wrap-orange-gradient: linear-gradient(94.85deg, #FD9D28 0%, #F9BB2E 94.08%);
  --wrap-gable-green: #192B38;
  --wrap-gable-green-opacity: rgba(25, 43, 56, 0.5);
  --wrap-shuttle-gray: #5C6770;
  --wrap-slate-gray: #70828F;
  --wrap-blue: #0E85FF;
  --wrap-red: #FF1C1C;
  --wrap-big-stone: #13273C;
  --wrap-light-blue: #1C3A58;
}
