@import "variables";
@import "mixins";
@import "root";

html {
  font-family: $din;
}

body {
  &.fixed-body {
    overflow: hidden;
  }
}

.container {
  @include paddingX($container-padding-sm);
  @include min-medium-screen {
    @include paddingX($container-padding-md);
  }
  @include large-screen {
    @include paddingX($container-padding-lg);
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.headline-1, .wysiwyg-block h1 {
  @include font(size(32), 700, 130%, $wrap-gable-green, $letter-spacing-06);
  @include min-medium-screen {
    font-size: size(55);
  }
  @include large-screen {
    font-size: size(70);
  }
}

.headline-2, .wysiwyg-block h2 {
  @include font(size(32), 700, size(41), $wrap-gable-green, $letter-spacing-06);
  @include min-medium-screen {
    font-size: size(43);
    line-height: size(57);
  }
  @include large-screen {
    font-size: size(50);
    line-height: size(64);
  }
}

.headline-3, .wysiwyg-block h3 {
  @include font(size(24), 700, size(31), $wrap-gable-green, $letter-spacing-08);
  @include min-medium-screen {
    font-size: size(30);
    line-height: size(40);
  }
  @include large-screen {
    font-size: size(40);
    line-height: size(50);
  }
}

.headline-4, .wysiwyg-block h4 {
  @include font(size(20), 700, 130%, $wrap-gable-green, 0.15em);
  @include min-medium-screen {
    font-size: size(25);
  }
  @include large-screen {
    font-size: size(30);
  }
}

.headline-5, .wysiwyg-block h5 {
  @include font(size(14), 700, 130%, $wrap-orange, 0.2em);
  @include min-medium-screen {
    font-size: size(16);
  }
}

.headline-6, .wysiwyg-block h6 {
  @include font(size(14), 700, 130%, $wrap-gable-green, 0.2em);
}

.paragraph, .wysiwyg-block p {
  @include font(size(14), 500, 180%, rgba(232, 239, 244, 0.8), false, $montserrat);
  @include min-medium-screen {
    font-size: size(18);
  }

  &-16 {
    font-size: size(14);
    font-weight: 400;
    @include min-medium-screen {
      font-size: size(16);
    }
  }

  &-14 {
    font-size: size(14);
    font-weight: 400;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: size(19) size(34);
  border-radius: 5px;
  background-image: $wrap-orange-gradient;
  //background-position: left center;
  //background-size: 200% auto;
  transition: background-position, background-color, color, border-color;
  transition-duration: $duration;

  @include font(size(12), 700, 100%, $wrap-gable-green, $letter-spacing-08, $din);
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  overflow: hidden;

  &:after {
    content: "";
    @include square(120%);
    position: absolute;
    top: 0;
    right: 100%;
    z-index: -1;
    background: linear-gradient(94.85deg, #F9BB2E 0%, #FD9D28 94.08%) !important;
    transition: right $duration;
    border-radius: 5px;
  }

  &:hover {
    border-color: transparent;

    &:after {
      right: 0;
    }
  }

  &-border {
    background: transparent;
    border: 1px solid $wrap-orange;
    color: $wrap-white;
    @include paddingY(size(18));

    &:hover {
      border-color: transparent !important;
      color: $wrap-gable-green !important;
    }
  }

  &-video {
    border-color: rgba(255, 255, 255, 0.2);
    @include paddingX(size(20));
    padding: size(9) size(20);
    justify-content: space-between;
    //cursor: default;
    color: $wrap-white;
    @include min-medium-screen {
      width: size(136.7);
    }

    &:hover {
      background: transparent !important;
      color: $wrap-orange !important;
      border-color: $wrap-orange !important;
    }

    img {
      max-width: size(70);
      height: size(30);
      //height: 100%;
      object-fit: contain;
    }

    svg {
      @include square(size(12));
    }
  }

  //&:hover {
  //  background-position: 100% 0;
  //  transition: all .4s ease-in-out;
  //}

  //&:hover {
  //  background-position: -100% 0%;
  //}
}

.open-video-modal {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  @include square(size(60));
  border-radius: 50%;
  background: $wrap-orange-gradient;
  cursor: pointer;

  @include large-screen {
    @include square(size(80));
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    @include square(100%);
    border-radius: 50%;
    pointer-events: none;
    background: $wrap-orange-gradient;
    animation: pulse-border 1500ms ease-out infinite;
    display: none;
  }

  @keyframes pulse-border {
    0% {
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }

  svg {
    width: 31.25%;
    height: auto;
  }
}

.has-left-border {
  position: relative;
  padding-top: size(25);
  @include min-medium-screen {
    padding-top: 0;
    padding-left: size(40);
  }
  @include large-screen {
    padding-left: size(60);
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: $wrap-orange;
    @include min-medium-screen {
      top: 50%;
      transform: translateY(-50%);
      width: 2px;
      height: 79.13%;
    }
  }
}

.slider-scrollbar {
  width: 100%;
  height: 4px;
  //height: 10px;
  background-color: #DCE7EF;

  &-drag {
    background-color: $wrap-orange;
    height: 100%;
    width: 20%;
    transition: transform $duration;
  }
}


// sup styling

sup {
  font-size: 55%;
  @include min-medium-screen {
    font-size: 40%;
  }
}

// region Ul Styling
//ul:not(.reset-ul) {
//
//  li {
//    position: relative;
//    font-size: size(24);
//    padding-left: size(16);
//    line-height: size(32);
//    font-weight: 400;
//    color: $wrap-white;
//    margin-left: size(24);
//
//    &:before {
//      content: "";
//      width: size(9);
//      height: size(9);
//      background-color: currentColor;
//      position: absolute;
//      border-radius: 50%;
//      right: 100%;
//      top: 50%;
//      transform: translateY(-50%);
//    }
//  }
//}

// endregion ul

// custom modal
.custom-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 400ms, z-index 400ms;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100 * var(--vh));
  pointer-events: none;

  &:before {
    content: '';
    background: white;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .video-wrapper {
    position: relative;
    height: 0;
    padding-top: 56.25%;

    iframe, video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .custom-modal-inner {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    max-height: 90vh;
    //overflow-y: scroll;
    @include marginX(auto);
    max-width: 100%;

    @include min-medium-screen {
      max-width: 80%;
    }

    .custom-modal-wrap {
      width: 100%;
      position: relative;
      //background-color: $poprev-black;
      background-color: transparent;
      //border: size(1) solid $wrap-black;
      border-radius: size(6);
      //box-shadow: 0 size(3) size(9) rgba(0, 0, 0, 0.5);
      padding: 0;
      @include min-medium-screen {
        padding: size(40);
      }
    }
  }

  iframe {
    border: none;
  }

  .close-modal {
    position: absolute;
    right: 50%;
    top: -30%;
    cursor: pointer;
    transform: translateX(50%);
    z-index: 5;
    transition: transform, opacity;
    transition-duration: $duration;
    background: none;
    padding: 0;
    opacity: 0.5;
    @include square(size(30));
    @include min-medium-screen {
      top: -2%;
      @include square(size(23));
    }

    svg {
      @include square(100%);
    }

    path {
      fill: #000;
    }

    &:hover {
      transform: scale(1.1) translateX(50%);
      opacity: 0.8;
    }
  }

  &.active {
    z-index: 99999;
    opacity: 1;
    pointer-events: auto;
  }
}


.wrap-buttons-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: size(20);
  @include marginX(size(-10), size(-10));
  @include min-medium-screen {
    margin-top: size(30);
  }

  .btn {
    margin-bottom: size(20);
    @include paddingX(size(24));
    width: fit-content;
    margin-right: size(10);
    margin-left: size(10);
  }
}


.swiper-container {
  &.custom-swiper-container {
    position: relative;

    .swiper-wrapper {
      margin-top: 2px;
      margin-bottom: 2px;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      width: 5%;
      height: 110%;
      background: #ffffff;
      z-index: 9999999;
      top: -2px;
      @include max-medium-screen {
        display: none;
      }
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  &.custom-swiper-container-old {
    padding: 0;
    @include marginX(calc(#{$container-padding-lg} - 1.5rem));
    @include min-medium-screen {
      @include marginX(calc(#{$container-padding-lg} - 2rem));
    }
    @include large-screen {
      @include marginX(calc(#{$container-padding-lg} - 2.5rem));
    }

    .swiper-button-next {
      right: 1.5rem;
      @include min-medium-screen {
        right: 2rem;
      }
      @include large-screen {
        right: 2.5rem;
      }
    }

    .swiper-button {
      left: 1.5rem;
      @include min-medium-screen {
        left: 2rem;
      }
      @include large-screen {
        left: 2.5rem;
      }
    }

    .swiper-wrapper {
      margin-left: 1.5rem;
      @include min-medium-screen {
        margin-left: 2rem;
      }
      @include large-screen {
        margin-left: 2.5rem;
      }
    }
  }
}


#cookie-law-info-bar{
  z-index: 99999999999;
}
