// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$wrap-black: var(--wrap-black);
$wrap-black-gradient: var(--wrap-black-gradient);
$wrap-white: var(--wrap-white);
$wrap-dark-white: var(--wrap-dark-white);
$wrap-light-white: var(--wrap-light-white);
$wrap-off-white: var(--wrap-off-white);
$wrap-zircon: var(--wrap-zircon);
$wrap-orange: var(--wrap-orange);
$wrap-dark-orange: var(--wrap-dark-orange);
$wrap-orange-gradient: var(--wrap-orange-gradient);
$wrap-gable-green: var(--wrap-gable-green);
$wrap-gable-green-opacity: var(--wrap-gable-green-opacity);
$wrap-shuttle-gray: var(--wrap-shuttle-gray);
$wrap-slate-gray: var(--wrap-slate-gray);
$wrap-blue: var(--wrap-blue);
$wrap-red: var(--wrap-red);
$wrap-big-stone: var(--wrap-big-stone);
$wrap-light-blue: var(--wrap-light-blue);
// fonts
$din: 'DIN Pro';
$montserrat: 'Montserrat';
//default letter spacing
$letter-spacing-08: 0.08em;
$letter-spacing-06: 0.06em;
//default duration
$duration: 500ms;
// bouncing
$bouncing: cubic-bezier(0.18, 0.89, 0.32, 1.28);
//override bootstrap variables
$grid-gutter-width: 4rem;
$container-padding-sm: 3rem;
$container-padding-md: 7rem;
$container-padding-lg: 11rem;
$container-max-widths: (
  'md': 100%, //570px
  'lg': 144rem, //760px 88.4
);
$grid-breakpoints: (
  'xs': 0,
  'md': $medium-screen-min-width,
  'lg': $large-screen-min-width,
);
