
@import "styles/sites/k1_elementor";
@import "~select2/dist/css/select2.min.css";
@import "~swiper/css";

.companies_block {
  background-color: #242424;
  @include paddingY(size(80), size(50));
  @include min-medium-screen {
    @include paddingY(size(102), size(90));
  }

  .general-select {
    background-color: #121212;

    option {
      color: $k1_project_white;
    }
  }

  .companies-cards {
    margin-top: size(40);
  }

  .companies-cards-row {
    @include change-gutter(size(25), size(25));
  }

  .companies-cards-title {
    margin-bottom: size(33);
  }

  .company-card {
    position: relative;
    @include small-screen {
      max-width: size(335);
      @include marginX(auto);
    }
    //z-index: 1;

    .company-card-images {
      position: relative;
      height: 0;
      padding-top: 100%;

      .company-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .company-logo {
        position: absolute;
        z-index: 3;
        bottom: size(30);
        left: size(20);
        width: size(150);
        height: auto;
        object-fit: contain;
        max-width: 60%;
        max-height: 20%;
        object-position: left;
        transition: opacity $duration;
        @include large-screen {
          width: size(190);
        }
      }
    }

    .company-logo-colorful {
      opacity: 0;
    }

    .company-logo-white {
      opacity: 1;
    }

    .show-popup {
      position: absolute;
      z-index: 4;
      bottom: size(20);
      right: size(20);
      @include square(size(30));
      border-radius: 50%;
      color: $k1_project_white;
      background-color: $k1_project_electric_purple;
      opacity: 0;
      transition: opacity $duration;
      @include flex(center, center);

      svg {
        width: 40%;
        height: auto;
      }

      path {
        fill: currentColor
      }
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 2;
      top: -1%;
      left: -1%;
      @include square(102%);
      //background: rgba(30, 30, 30, 0.5); // darker
      background: rgba(200, 200, 200, 0.4); // lighter
      backdrop-filter: blur(5px);
      opacity: 0;
      transition: opacity $duration;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      @include square(100%);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1) 60%);
      transition: opacity $duration;
    }

    &:hover {
      .show-popup {
        opacity: 1;
      }

      .company-logo-colorful {
        opacity: 1;
      }

      .company-logo-white {
        opacity: 0;
      }

      &:after {
        opacity: 1;
      }

      &:before {
        opacity: 0;
      }
    }
  }

  .input-search {
    position: relative;

    input {
      background: transparent !important;
      margin: 0;
      border-bottom: 1px solid #FFFFFF;

      &::placeholder {
        text-transform: uppercase;
      }
    }
  }

  .search-icon {
    position: absolute;
    @include square(size(14));
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @include min-medium-screen {
      @include square(size(16));
    }
    @include large-screen {
      @include square(size(20));
    }
  }
}





