@import "styles/sites/headversity";

.hover_card_ctas_block {

  @include paddingY(size(66), size(124));

  .container {
    @include paddingX(0);
    @include min-medium-screen {
      @include paddingX(size(50), 0);
    }
    @include large-screen {
      @include paddingX(size(173), 0);
    }
  }

  .taps {
    z-index: 2;
    position: relative;

    @include small-screen {
      margin-top: size(-40);
    }
  }

  .training-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include small-screen {
      flex-direction: column-reverse;
    }
  }

  .left-content {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(40.09%);
    }
  }

  .tap-title {
    @include small-screen {
      @include marginY(size(6));
    }
  }

  .title {
    max-width: size(466);
    margin-bottom: size(38);
    display: block;
    @include small-screen {


      display: none;
    }
  }

  .right-content {
    @include flexBasis(100%);
    //z-index: -1;
    @include min-medium-screen {
      @include flexBasis(57.01%);
    }

    &:hover {
      .player-icon {
        cursor: pointer;
      }
    }

    .right-video {
      pointer-events: none;
      z-index: -1;
      opacity: 0;
      transition: opacity 1000ms;

      &.active {
        pointer-events: auto;
        z-index: 1;
        opacity: 1;
        cursor: pointer;
      }
    }
  }

  .description {
    margin-bottom: size(20);
  }

  .description, .button {
    @include small-screen {
      display: none;
    }
  }

  .top-description {
    display: none;
    @include small-screen {
      display: block;
    }
  }

  .left-desc, .left-btn, .top-description {
    display: block;
    @include paddingX(size(27), size(17));
    @include min-medium-screen {
      display: none;
    }


  }

  .left-desc {
    @include small-screen {
      margin-top: size(20);

    }

  }

  .tap-img {
    padding-top: 111.11%;
    //z-index: -1;
    @include small-screen {
      padding-top: 94.6%;
    }

    &:hover {
      .player-icon-wrapper {
        cursor: pointer;
        background-color: $headversity_orange;

        svg {
          fill: $headversity_white;
        }
      }
    }

  }

  .right-tap {
    transition: opacity $duration;
    opacity: 0.5;
    flex-grow: 1;
    height: size(30);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tap {
    &.tap-active {
      .left-tap {
        opacity: 1;
      }

      .right-tap {
        opacity: 1;
      }

      .arrow {
        opacity: 1;
      }

      &:first-of-type {
        @include small-screen {
          margin-top: size(-63);

        }
      }
    }

  }

  .video-section {
    position: relative;
    width: 100%;
    @include min-medium-screen {
      width: 50.6%;
    }

  }

  .player-icon-wrapper {
    background-color: $headversity_white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1000ms, background-color 1000ms;
    @include square(size(70));
    @include min-medium-screen {
      pointer-events: auto;
      @include square(size(80));
    }
    @include large-screen {
      @include square(size(123));
    }

    svg {
      @include square(size(45));
      transition: fill 1000ms;
      @include min-medium-screen {
        @include square(size(50));
      }
      @include large-screen {
        @include square(size(66));
      }

    }

    &.player-icon-active {
      opacity: 1;
      pointer-events: auto;
      z-index: 1;
    }


  }


  //////Modal/////
  .modal {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, .95);
    top: 50%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity $duration, width $duration, height $duration;

    &.show {
      opacity: 1;
      width: 100vw;
      height: 100vh;
      pointer-events: visible;
    }
  }

  .modal-content {
    width: 95%;
    @include min-medium-screen {
      width: 82%;
    }
    @include large-screen {
      width: 66%;
    }
  }

  .modal-video {
    padding-top: 55.5%;
    cursor: pointer;

  }

  .exit {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 20px;
  }

  /////////////////
  .tap-link {
    display: block;

    &:not(:last-child) {
      margin-bottom: size(20);
    }
  }

  .tap {
    display: flex;
    align-items: center;
    padding: size(35) size(30) size(40) size(40);
    position: relative;
    z-index: 1;
    //opacity: .5;
    transition-duration: $duration;
    transition-timing-function: ease-in-out;
    transition-property: opacity, transform;
    box-shadow: 0 size(10) size(20) rgba(97, 55, 55, 0.1);
    background: $headversity_white;
    border-radius: 0 size(30) size(30) 0;
    cursor: pointer;
    @include small-screen {
      align-items: flex-start;
      flex-direction: column;
      width: size(361);
      overflow: hidden;
    }
    @include min-medium-screen {
      padding: size(15) size(20) size(10) size(20);
    }
    @include large-screen {
      padding: size(34) size(42) size(37) size(45);
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      @include flex(center, center);
      @include square(100%);
      z-index: -1;
      transform-origin: left;
      transform: scaleX(1.37);
      opacity: 0;
      transition: opacity $duration;
      border-radius: 0 size(30) size(30) 0;
      background: $headversity_white;
      @include min-medium-screen {
        border-left: size(4) solid $headversity_orange;
      }
      @include large-screen {
        border-left: size(9) solid $headversity_orange;
      }
      @include small-screen {
        border-left: none;
        border-bottom: size(9) solid $headversity_orange;
        transform-origin: bottom;
      }
    }

    .tap-description {
      display: none;
      //height: 0;
      overflow: hidden;
      transition: height 500ms;
    }

    &.tap-active {

      &:after {
        opacity: 1;
      }

      .right-tap {
        height: size(120);
      }

      .tap-description {
        display: block;
        //height: size(90);
        min-width: size(270);
        @include min-medium-screen {
          min-width: size(250);
        }
        @include large-screen {
          min-width: size(380);
        }

        &.has-icon {
          @include min-medium-screen {
            min-width: size(240);
          }
          @include large-screen {
            min-width: size(330);

          }
        }
      }

      .arrow {
        pointer-events: auto;
        @include min-medium-screen {
          transform: translateX(size(100));
        }
        @include large-screen {
          transform: translateX(size(160));
        }

        &.has-icon {

          @include min-medium-screen {
            transform: translateX(size(80));
          }

        }

        @include small-screen {
          transform: unset;
          &.has-icon {
            transform: unset;
          }

        }
      }
    }


    .left-tap {
      opacity: 0.5;
      transition: opacity $duration;

      svg {
        margin-right: 0;
        @include min-medium-screen {
          width: size(65);
          height: size(50);
          margin-right: size(29);
        }
        @include large-screen {
          width: size(110);
          height: size(80);
        }
        @include small-screen {
          width: auto;
          height: size(40);
        }
      }

      @include small-screen {
        margin-right: auto;
      }
    }

    .arrow {
      opacity: 0.5;
      transition: opacity $duration;
      transition-property: transform, opacity;
      transition-duration: $duration;
      flex-shrink: 0;
      margin-left: auto;
      width: size(32);

      svg {
        @include square(100%);
      }

      @include small-screen {
        margin-right: auto;
        margin-left: unset;
      }

      @include min-medium-screen {
        width: size(42);
      }
      @include large-screen {
        width: size(52);
      }
    }

    &:not(:last-child) {
      margin-bottom: size(20);
    }
  }

  .training-text {
    display: block;
    max-width: size(466);
    margin-bottom: size(38);
    @include paddingX(size(27), size(17));
    @include min-medium-screen {
      display: none;
    }
  }

  .btn {
    margin-top: size(40);
    margin-bottom: size(53);
    @include min-medium-screen {
      margin-bottom: size(63);
    }
  }

  .tap-img {
    position: relative;

    img {
      transition: opacity 600ms ease-in-out;
      z-index: 1;
    }

    .second-img {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }


}
