@import "styles/sites/raistone";

.second_hero_block {
  z-index: 2;
  overflow: hidden;

  .hero-content-wrapper {
    display: flex;
    flex-direction: column;
    @include large-screen {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .hero-icon {
    position: absolute;
    width: size(93) !important;
    height: size(93) !important;
    top: 8%;
    left: 70%;
    z-index: 2;
    @include small-screen {
      width: size(63) !important;
      height: size(63) !important;
    }
  }

  .sub-title {
    font-weight: 700;
    color: $raistone_white;
    text-transform: uppercase;
    margin-bottom: size(16);
    @include large-screen {
      margin-bottom: size(12);
    }
  }

  .cta-button-and-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
    }

    .cta-button {
      @include paddingY(size(21.6));
      @include small-screen {
        width: 100%;
        margin-bottom: size(31);
      }
      @include min-medium-screen {
        margin-right: size(31);
      }
    }
  }

  .glow {
    position: absolute;
    z-index: -1;
    @include square(size(400));
    top: -28%;
    right: -60%;
    @include min-medium-screen {
      @include square(size(900));
      top: 10%;
      right: -61%;
    }
    @include large-screen {
      @include square(size(1084));
      top: 9%;
      right: 0;
    }

    img {
      @include square(100%);
      object-fit: cover;
    }
  }

  &.theme-one {
    display: flex;
    background: $raistone_plum;
    border-radius: 0 0 size(50) size(50);
    @include paddingY(size(112), size(60));

    @include min-medium-screen {
      @include paddingY(size(164), size(110));
      border-radius: 0 0 size(100) size(100);

    }
    @include large-screen {
      align-items: center;
      @include paddingY(size(165));

      &.height-100 {
        height: 100vh;
      }
    }

    // region general in all hero


    .left-content {
      width: 100%;
      margin-bottom: size(40);
      display: flex;
      flex-direction: column;
      @include min-medium-screen {
        margin-bottom: size(80);
      }
      @include large-screen {
        margin-bottom: 0;
      }

      .title {
        font-weight: 600;
        margin-bottom: size(43);
        @include min-medium-screen {
          max-width: size(553);
          margin-bottom: size(57);
        }
        @include large-screen {
          max-width: 100%;
          margin-bottom: size(35);
        }
      }

      .description {

      }


      .cta-button-and-link {
        display: flex;
        align-items: center;
        flex-direction: column;
        @include min-medium-screen {
          flex-direction: row;
        }

        .cta-button {
          @include paddingY(size(21.6));
          @include small-screen {
            width: 100%;
            margin-bottom: size(31);
          }
          @include min-medium-screen {
            margin-right: size(31);
          }
        }
      }
    }

    .right-content {
      width: 100%;


      .image-wrapper {
        position: absolute;
        overflow: hidden;
        width: size(128);
        height: size(144);

        img {
          @include square(100%);
          object-fit: cover;
        }
      }

      .hero-svg {
        @include square(100%);
      }
    }

    // endregion

    .container {
      @include paddingX(size(20));

      @include min-medium-screen {
        @include paddingX(size(55));

      }
      @include large-screen {
        @include paddingX(size(150));
      }
    }

    &.who-we-help-hero {
      .container {
        @include min-medium-screen {
          @include paddingX(size(62));
        }
        @include large-screen {
          @include paddingX(size(155), size(77));
        }
      }

      .left-content {
        @include large-screen {
          @include flexBasis(47%);
        }


      }

      .right-content {
        position: relative;
        width: size(320);
        height: size(255);
        @include marginX(auto);
        @include min-medium-screen {
          width: size(595);
          height: size(449);
        }
        @include large-screen {
          @include flexBasis(size(731));
          height: size(551);
          @include marginX(0);
        }

        .image-wrapper {
          width: size(128);
          height: size(144);
          border-radius: size(84.2429) size(4.21214) size(4.21214) size(4.21214);
          position: absolute;
          overflow: hidden;
          top: size(4);
          left: size(-10);
          @include min-medium-screen {
            width: size(250);
            height: size(286);
            border-radius: size(163.006) size(8.15029) size(8.15029) size(8.15029);
            top: size(14);
            left: size(-49);
          }
          @include large-screen {
            width: size(306);
            height: size(351);
            border-radius: size(200) size(10) size(10) size(10);
            top: size(18);
            left: size(-59);
          }


        }

      }

    }

    &.resources-hero {
      @include paddingY(size(112), size(103));

      @include min-medium-screen {
        @include paddingY(size(164), size(198));
      }

      .container {
        @include paddingX(size(18), size(8));
        @include min-medium-screen {
          @include paddingX(size(60));
        }
        @include large-screen {
          @include paddingX(size(136), size(118));
        }
      }

      .left-content {
        @include large-screen {
          @include flexBasis(42%);
        }

        .title {
          margin-bottom: size(43);
          @include min-medium-screen {
            margin-bottom: size(28);
          }
          @include large-screen {
            margin-bottom: size(40);
          }
        }

        .description {
          max-width: size(360);
          @include min-medium-screen {
            max-width: size(652);
          }
          @include large-screen {
            max-width: 100%;
          }
        }
      }

      .right-content {
        position: relative;
        width: size(340);
        height: size(212);
        z-index: 2;

        @include min-medium-screen {
          width: size(663);
          height: size(409);
        }
        @include large-screen {
          @include flexBasis(size(754));
          height: size(467);
          @include marginX(0);
        }

        .image-wrapper {
          width: size(150);
          height: size(152);
          border-radius: 50% 50% 0 50%;
          position: absolute;
          overflow: hidden;
          top: 47%;
          left: 14%;
          @include min-medium-screen {
            width: size(286);
            height: size(290);
          }
          @include large-screen {
            width: size(326);
            height: size(331);

          }
        }

        .hero-liens {
          position: absolute;
          z-index: -1;
          right: 16%;
          top: 28%;
          width: size(71);
          height: size(239);

          @include min-medium-screen {
            width: size(111);
            height: size(459);
          }
          @include large-screen {
            width: size(151);
            height: size(519);
          }
        }
      }

    }

    &.how-it-work-hero {
      .container {
        @include large-screen {
          @include paddingX(size(136), size(113));
        }
      }

      .left-content {
        @include large-screen {
          @include flexBasis(43%);
        }

        .title {
          @include min-medium-screen {
            max-width: size(470);
          }
          @include large-screen {
            margin-bottom: size(47);
            max-width: 100%;
          }
        }

        .description {
          max-width: size(360);
          @include min-medium-screen {
            max-width: size(652);
          }
          @include large-screen {
            max-width: 100%;
          }
        }
      }

      .right-content {
        position: relative;
        width: size(340);
        height: size(242);
        z-index: 2;
        @include min-medium-screen {
          width: size(663);
          height: size(469);
        }
        @include large-screen {
          @include flexBasis(size(794));
          height: size(572);
          @include marginX(0);
        }

        .image-wrapper {
          width: size(150);
          height: size(172);
          border-radius: size(55) 0;
          position: absolute;
          overflow: hidden;
          top: 12%;
          right: 15%;
          @include min-medium-screen {
            width: size(286);
            height: size(320);
            border-radius: size(135) 0;
          }
          @include large-screen {
            width: size(366);
            height: size(409);

          }
        }

        .shape-1 {
          width: size(144);
          height: size(131);
          position: absolute;
          right: -16%;
          top: 30%;
          @include min-medium-screen {
            width: size(324);
            height: size(321);
            right: -14%;
            top: 36%;
          }
          @include large-screen {
            right: -16%;
            top: 30%;
          }
        }

        .shape-2 {
          position: absolute;
          width: size(297);
          height: size(182);
          z-index: -2;
          left: -7%;
          bottom: -33%;
          @include min-medium-screen {
            width: size(407);
            height: size(362);
            left: 1%;
            bottom: -37%;
          }
          @include large-screen {
            width: size(597);
            height: size(452);
            left: -6%;
            bottom: -35%;

          }
        }


      }
    }

    &.about-hero {
      svg {
        overflow: visible;
      }

      .container {
        @include large-screen {
          @include paddingX(size(142), size(130));
        }
      }

      .about-rect {
        transform-origin: center;
        transform-box: fill-box;
        animation: box-rotate 1.5s ease-in-out;
        @keyframes box-rotate {
          from {
            transform: rotate(-10deg);
          }
          to {
            transform: rotate(10deg);
          }
        }
      }

      .left-content {
        @include large-screen {
          @include flexBasis(44.41%);
        }

        .title {
          @include large-screen {
            margin-bottom: size(40);
          }
        }

        .description {
          max-width: size(360);
          @include min-medium-screen {
            max-width: size(702);
          }
          @include large-screen {
            max-width: 100%;
          }
        }
      }

      .right-content {
        position: relative;
        width: size(340);
        height: size(282);
        z-index: 2;
        @include min-medium-screen {
          width: size(663);
          height: size(549);
        }
        @include large-screen {
          @include flexBasis(size(775));
          height: size(641);
          @include marginX(0);
        }

        .image-wrapper {
          width: size(160);
          height: size(192);
          position: absolute;
          overflow: hidden;
          top: 12%;
          right: 7%;
          z-index: -1;
          border-radius: size(84.2429) size(4.21214) size(4.21214) size(4.21214);
          @include min-medium-screen {
            width: size(326);
            height: size(360);
            border-radius: size(200) size(10) size(10) size(10);

          }
          @include large-screen {
            width: size(410);
            height: size(470);

          }
        }

      }

      .shape-2 {
        position: absolute;
        width: size(297);
        height: size(182);
        z-index: -2;
        left: -7%;
        bottom: -33%;
        transform: rotate(5deg);
        z-index: 1;
        @include min-medium-screen {
          width: size(407);
          height: size(362);
          left: 1%;
          bottom: -37%;
        }
        @include large-screen {
          width: size(597);
          height: size(452);
          left: -3%;
          bottom: -17%;
        }
      }

    }

    &.about-team-hero {
      .container {
        @include large-screen {
          @include paddingX(size(142), size(153));
        }
      }

      .left-content {
        @include large-screen {
          @include flexBasis(43%);
        }

        .title {
          @include min-medium-screen {
            @include font-size(64px, 77px);
          }
          @include large-screen {
            margin-bottom: size(40);
          }
        }

        .description {
          max-width: size(360);
          @include min-medium-screen {
            max-width: size(702);
          }
          @include large-screen {
            max-width: 100%;
          }
        }
      }

      .right-content {
        position: relative;
        width: size(320);
        height: size(282);
        z-index: 2;
        @include min-medium-screen {
          width: size(663);
          height: size(549);
        }
        @include large-screen {
          @include flexBasis(size(685));
          height: size(641);
          @include marginX(0);
        }

        .image-wrapper {
          width: size(160);
          height: size(192);
          position: absolute;
          overflow: hidden;
          top: 29%;
          left: 0;
          border-radius: 0 25%;

          @include min-medium-screen {
            width: size(326);
            height: size(360);
          }
          @include large-screen {
            width: size(442);
            height: size(353);

          }
        }

        .dots-shape {
          position: absolute;
          z-index: -1;
          width: size(297);
          height: size(117);
          bottom: -28%;
          right: -35%;
          @include min-medium-screen {
            width: size(357);
            height: size(177);
            bottom: -21%;
            right: -18%;
          }
          @include large-screen {
            width: size(387);
            height: size(387);
            bottom: -54%;
            right: -22%;
          }
        }

      }

    }

    &.careers-hero {
      .container {
        @include large-screen {
          @include paddingX(size(142), size(164));
        }
      }

      .moveing-rect {
        animation: rotate-rect 2s ease-in-out forwards;
        transform-origin: bottom left;
        transform-box: fill-box;
        @keyframes rotate-rect {
          0% {
            transform: rotate(-15deg);
          }
          100% {
            transform: rotate(0);
          }
        }
      }

      .left-content {
        @include large-screen {
          @include flexBasis(44.41%);
        }

        .title {
          max-width: 100%;
          @include large-screen {
            margin-bottom: size(47);
            @include font-size(64px, 77px);
            font-weight: 700;

          }
        }

        .description {
          margin-bottom: size(32);
          @include min-medium-screen {
            max-width: size(702);
            margin-bottom: size(50);
          }
          @include large-screen {
            max-width: 100%;
          }
        }

        .cta-button {
          min-width: size(251);
          margin-bottom: 0;
        }
      }


      .right-content {
        position: relative;
        width: size(340);
        height: size(332);
        z-index: 2;
        @include min-medium-screen {
          width: size(663);
          height: size(549);
        }
        @include large-screen {
          @include flexBasis(size(692));
          height: size(661);
          @include marginX(0);
        }

        .image-wrapper {
          width: size(170);
          height: size(192);
          position: absolute;
          overflow: hidden;
          top: 33%;
          right: 6%;
          border-radius: 50% 50% 0 50%;
          @include min-medium-screen {
            width: size(326);
            height: size(360);
            border-radius: size(351.515) size(351.515) 0 size(351.515);
          }
          @include large-screen {
            width: size(391);
            height: size(385);
            border-radius: size(472) size(472) 0 size(472);
          }
        }

      }

    }
  }

  &.theme-two {
    @include paddingY(size(132), size(40));
    @include min-medium-screen {
      @include paddingY(size(144), size(56));
    }
    @include large-screen {
      @include paddingY(size(128), size(56));
    }

    .glow {
      display: none;
    }

    .container {
      @include paddingX(size(20));
      @include min-medium-screen {
        @include paddingX(size(53));
      }
      @include large-screen {
        @include paddingX(size(136), size(64));
      }
    }

    .left-content {
      margin-bottom: size(48);
      @include large-screen {
        @include flexBasis(44%);
        margin-bottom: 0;
      }

      .sub-title {
        color: $raistone_plum;
      }

      .title {
        color: $raistone_jet_black;
        margin-bottom: size(24);
        @include min-medium-screen {
          margin-bottom: size(16);
          @include font-size(64px, 77px);

        }
        @include large-screen {
          margin-bottom: size(45);
        }
      }

      .description {
        color: $raistone_gery;
        @include large-screen {
          max-width: size(720);
        }
      }

      .cta-button-and-link {
        margin-top: size(25);
        display: flex;

        .link {
          color: $raistone_jet_black;
        }
      }
    }

    .right-content {
      width: 100%;
      @include min-medium-screen {
        width: 97.28%;
        @include marginX(auto);
      }
      @include large-screen {
        @include flexBasis(39.63%);
        @include marginX(0);
      }

      .image-wrapper {
        @include square(100%);
        overflow: hidden;
        padding-top: 84.705%;
        border-radius: 0 0 size(49.8529) size(49.8529);
        @include min-medium-screen {
          border-radius: 0 0 size(94.1176) size(94.1176);
        }
        @include large-screen {
          border-radius: 0 0 size(100) size(100);
        }

        img {
          @include square(100%);
          object-fit: cover;
        }
      }
    }

    &.full-width {
      @include large-screen {
        @include paddingY(size(184), size(100));
      }

      .container {
        @include large-screen {
          @include paddingX(size(130));
        }
      }

      .left-content {
        @include flexBasis(100%);
        display: flex;
        flex-direction: column;
        align-items: center;

        .sub-title {
          text-transform: uppercase;
          margin-bottom: size(20);
          @include min-medium-screen {
            margin-bottom: size(32);
          }
          @include large-screen {
            margin-bottom: size(40);
          }
        }

        .title {
          text-align: center;
          max-width: 100%;
          @include min-medium-screen {
            margin-bottom: size(34);
          }
        }

        .description {
          text-align: center;
          @include large-screen {
            max-width: size(1196);
          }
        }
      }

      .right-content {
        display: none;
      }
    }

    &.small-image {

      @include large-screen {
        @include paddingY(size(238), size(147));
      }

      .container {
        @include large-screen {
          @include paddingX(size(132), size(122));
        }
      }

      .left-content {
        @include large-screen {
          @include flexBasis(49.9%);
        }

        .sub-title {
          margin-bottom: size(20);
          @include min-medium-screen {
            margin-bottom: size(32);
          }
          @include large-screen {
            margin-bottom: size(40);
          }
        }

        .title {
          max-width: 100%;
          @include min-medium-screen {
            margin-bottom: size(34);
          }
        }

        .description {
          max-width: 100%;
        }
      }

      .right-content {
        border-radius: size(8);
        @include min-medium-screen {
          border-radius: size(20);
        }
        overflow: hidden;
        @include large-screen {
          @include flexBasis(40.2%);
        }


        .image-wrapper {
          border-radius: 0;
          padding-top: 56.287%;
        }
      }

    }

    &.post-hero {
      @include paddingY(size(114), size(70));
      @include min-medium-screen {
        @include paddingY(size(194), size(150));
      }
      @include large-screen {
        @include paddingY(size(243), size(97));
      }

      .container {
        @include large-screen {
          @include paddingX(size(137), size(130));
        }
      }


      .hero-content-wrapper {
        flex-direction: column-reverse;
        @include large-screen {
          flex-direction: row;
        }
      }

      .left-content {
        margin-bottom: 0;
        @include large-screen {
          @include flexBasis(51.91%);
        }

        .date-and-author {
          @include font(16px, 400, 40px, $raistone_gery, $lato);
          display: flex;
          align-items: center;
          margin-bottom: size(35);

          .separator {
            display: block;
            @include marginX(size(7));
          }
        }

        .post-title {
          @include small-screen {
            font-weight: 700;
            @include font-size(32px, 46px);
          }
          font-weight: 600;
        }
      }

      .right-content {

        margin-bottom: size(25);
        @include large-screen {
          @include flexBasis(39.2%);
        }


        .back-link {
          display: flex;
          align-items: center;
          @include font(16px, 600, 22px, $raistone_gery, $montserrat);
          margin-bottom: size(25);
          transition: color $duration;
          @include large-screen {
            display: none;
          }

          svg {
            @include square(size(20));
            margin-right: size(8);

            path {
              fill: currentColor;
            }
          }

          &:hover {
            color: $raistone_mid_canary;
          }
        }

        .image-wrapper {
          padding-top: 71.052%;
          border-radius: size(20);
          overflow: hidden;
        }
      }


    }
  }

  &.second_hero_archive {
    padding-bottom: size(50);

    .hero-content-wrapper {
      display: block;
    }

    .left-content {
      width: 100%;
      text-align: center;

      .paragraph {
        @include marginX(auto);
        max-width: size(864);
      }
    }
  }

}
