
@import "styles/sites/cyberhill";


footer {
  background: $cyberHill-alice-blue;
  padding: size(64) size(44) size(88) size(44);
  position: relative;
  z-index: 2;
  @include min-medium-screen {
    @include paddingY(size(60), size(40));
  }
  @include large-screen {
    padding: size(96) size(48) size(89) size(162);
  }
  
  .top-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include min-medium-screen {
    
    }
    @include large-screen {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  .left-content, .right-content {
    padding-bottom: size(24);
    margin-bottom: size(24);
    border-bottom: 1px solid $cyberHill-zumthor;
    width: 100%;
    @include large-screen {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
      
    }
    
  }
  
  .left-content {
    flex-shrink: 0;
    @include large-screen {
      @include flexBasis(size(480));
      
    }
  }
  
  .main-logo {
    max-width: size(156);
    min-height: size(32);
    margin-bottom: size(24);
    display: block;
    
    @include min-medium-screen {
      margin-bottom: size(32);
    }
    
    img {
      @include square(100%);
      object-fit: contain;
    }
    
    svg {
      @include square(100%);
    }
  }
  
  .information {
    display: flex;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
    }
  }
  
  .address-text {
    @include font(size(14), 400, 128.57%, $cyberHill-Nero, $space-grotesk);
    margin-bottom: size(24);
    @include min-medium-screen {
      margin-bottom: 0;
      margin-right: size(24);
      @include flexBasis(size(204));
    }
  }
  
  .contact-information {
    display: flex;
    flex-direction: column;
    @include large-screen {
      @include flexBasis(size(208));
    }
  }
  
  .text-and-link {
    display: flex;
    align-items: center;
    
    .footer-title {
      margin-right: size(8);
      text-transform: uppercase;
    }
    
    a {
      color: $cyberHill-Nero;
    }
    
    &:not(:last-child) {
      margin-bottom: size(8);
      
    }
  }
  
  .right-content {
    display: flex;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
      flex-wrap: wrap;
    }
    
    @include large-screen {
      margin-bottom: size(-24);
      flex-direction: row;
      
      flex-grow: 1;
      justify-content: flex-end;
      
    }
  }
  
  .title-and-links {
    @include flexBasis(45%);
    
    &:not(:last-child) {
      margin-bottom: size(48);
    }
    
    @include min-medium-screen {
      margin-bottom: 0 !important;
      @include flexBasis(28%);
      
    }
    
    @include large-screen {
      flex-basis: 33.33%;
      max-width: size(204);
      padding-right: size(1);
    }
    
    .footer-title {
      color: $cyberHill-tangaroa;
      text-transform: uppercase;
      margin-bottom: size(8);
    }
    
    .footer-link {
      display: block;
      
      &:not(:last-child) {
        margin-bottom: size(8);
      }
    }
  }
  
  .copy-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
      align-items: flex-start;
      
    }
    @include large-screen {
      margin-top: size(76);
      align-items: center;
      
    }
    
    .copy-right-text {
      color: $cyberHill-Nero;
      font-weight: 400;
      max-width: size(288);
      margin-bottom: size(24);
      
      @include large-screen {
        max-width: unset;
        margin-bottom: 0;
      }
      
      
      a {
        transition: color $duration;
        &:hover {
          
          color: $cyberHill-light-green;
        }
      }
      
    }
    
    .text-and-logo {
      display: flex;
      align-items: center;
      font-weight: 400;
      
      picture {
        max-width: size(80);
        line-height: size(33);
        margin-left: size(8);
        
        img {
          @include square(100%);
          object-fit: contain;
        }
      }
    }
  }
}


