


@import "styles/sites/zineone";


.success-rolls{
  padding: size(80) size(100) ;
  background-color: $zineone-dark-blue;
  .rolls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: size(32);
    height: 100%;
    @include min-medium-screen {
      flex-direction: row;
      padding: size(44);
    }
    @include large-screen {
      padding: size(64);
    }
    
    .rolls-text {
      margin-bottom: size(32);
      @include flexBasis(100%);
      @include min-medium-screen {
        margin-bottom: 0;
        @include flexBasis(77%);
      }
      
      .headline-3 {
        display: block;
        margin-bottom: size(32);
        color: $zineone-dark;
        @include small-screen {
          font-size: size(18);
        }
      }
      
      .paragraph {
        max-width: size(639);
        color: #26335D;
      }
      
      .learn-more {
        color: #1174BB;
        margin-top: size(32);
        display: block;
      }
    }
    
    .rolls-img {
      flex-shrink: 0;
      display: block;
      width: size(144);
      
      img {
        @include objectImg()
      }
    }
  }
}



