
@import "../../../styles/sites/successkpi/index";


.our_leadership_team {
  @include paddingY(size(40), size(35));
  @include medium-screen {
    @include paddingY(size(40), size(46));
  }
  @include large-screen {
    @include paddingY(size(68), size(46));
  }

  .headline-2 {
    text-align: center;
    margin-bottom: size(36);
    font-weight: 400;
    color: $successkpi_dark_blue_1;
    @include small-screen {
      font-size: size(30);
    }
  }
  .row {
    @include change-gutter(size(14), size(18));

  }

  .content {
    cursor: pointer;

    &:hover .background-layer {
      left: 0;
    }
  }

  .team-img {
    position: relative;
    overflow: hidden;
    padding-top: 100%;

    .background-layer {
      position: absolute;
      background: rgba(255, 255, 255, 0.8);
      z-index: 333;
      top: 0;
      width: 100%;
      height: 100%;
      left: -100%;
      transition: left $duration;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: size(16) size(22);
      @include small-screen {
        padding: size(15) size(13);
      }
    }
    .name {
      color: $successkpi_dark_blue_1;
      @include font(28px, 700, 35px);
      margin-bottom: size(12);
      @include small-screen {
        @include font(14px, 700, 25px);
      }
    }
    .text {
      @include small-screen {
        font-size: size(14);
      }
    }
  }

}


