
@import "styles/sites/cyberhill";



.info_cta_block {
  @include paddingY(size(80));
  @include min-medium-screen {
    @include paddingY(size(120));
  }
  @include large-screen {
    @include paddingY(size(115), size(161))
  }
  
  .info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
    }
  }
  
  // region left-content
  
  .lef-content {
    min-height: size(384);
    display: flex;
    align-items: center;
    
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: size(48);
    overflow: hidden;
    
    @include min-medium-screen {
      margin-bottom: 0;
      min-height: size(450);
      @include flexBasis(38.45%);
    }
    
    @include large-screen {
      min-height: size(577);
    }
    
    &.hovered-animation {
      svg {
        transform: scale(1.2);
      }
    }
  }
  
  
  .image-and-svg-wrapper {
    @include square(100%);
    position: relative;
    overflow: hidden;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: size(6);
      background: $cyberHill-light-green;
      bottom: 0;
      left: 0;
      z-index: 10;
      
    }
  }
  
  .image {
    position: absolute;
    top: 3px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 6px);
    
    img {
      object-fit: cover;
    }
    
  }
  
  svg {
    @include square(100%);
    transform: scale(1);
    transition: transform $duration;
    object-fit: cover !important;
    
    path {
      fill: $cyberHill-white;
    }
    
    @include min-medium-screen {
      transform: scale(1);
    }
  }
  
  
  .lef-content-text {
    position: absolute;
    color: $cyberHill-Blue !important;
    width: auto;
    height: auto;
    z-index: 5;
    text-align: center;
    opacity: 0;
    bottom: 0;
    transition: all 400ms;
    margin-bottom: 0 !important;
    font-weight: 400 !important;
    font-size: size(50) !important;
    
    &.active {
      opacity: 1;
      bottom: 10%;
    }
    
    @include font(size(50), 400, 112%, $cyberHill-white);
    @include large-screen {
      font-size: size(70);
      line-height: 114.28%;
    }
  }
  
  
  //  endregion
  
  // region right-content
  
  .right-content {
    @include min-medium-screen {
      @include flexBasis(48.93%);
    }
  }
  
  .title-with-shape {
    margin-bottom: size(24);
    @include min-medium-screen {
      margin-bottom: size(56);
    }
  }
  
  .headline-3 {
    color: $cyberHill-Blue;
    margin-bottom: size(24);
    @include min-medium-screen {
      margin-bottom: size(48);
    }
  }
  
  .primary-button {
    padding: size(16.2) size(37.03);
  }
  
  .description {
    .hover-text {
      transition: color $duration;
      position: relative;
      
      &:hover {
        color: $cyberHill-light-green;
        cursor: pointer;
      }
      
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2.5px;
        background-color: CurrentColor;
        bottom: 0;
        left: 0;
      }
    }
  }
  
  // endregion
  
  &.blue, &.grey {
    
    svg {
      path {
        fill: $cyberHill-Blue !important;
      }
    }
    
    
    .lef-content-text {
      color: $cyberHill-white !important;
    }
  }
}


