@import "styles/sites/propellerheath";

.events_and_webinars_block {
  background-color: #F5F5F5;
  @include paddingY(size(30));
  @include min-medium-screen {
    @include paddingY(size(71.5), size(45));
  }


  .events-and-webinars {

    .main-title {

      margin-bottom: size(47.5);
      font-weight: 700;
      @include min-medium-screen {
        margin-bottom: size(95.24);
      }
    }

    .image-wrapper {
      width: 100%;
      max-width: size(375);
      margin-bottom: size(25);
      @include min-medium-screen {
        margin-right: size(31.5);
        margin-bottom: 0;
        @include flexBasis(size(253));
      }
      @include large-screen {
        margin-right: size(63.28);
      }

      .aspect-ratio {
        padding-top: 121.82%;
      }
    }

    .event-box {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      padding-bottom: size(27);
      border-bottom: 2px solid #E6E6E7;
      margin-bottom: size(27);
      @include min-medium-screen {
        flex-direction: row;
        max-width: size(1164);
      }

      .event-info {
        margin-bottom: size(25);
        @include min-medium-screen {
          margin-bottom: 0;
          margin-right: size(49);
        }
        @include large-screen {
          margin-right: size(70);
        }

        .event-category {
          @include font(17px, 700, 26.85px, $propellerhealth_amethyst, $Lato);
          margin-bottom: size(26);
          @include min-medium-screen {
            margin-bottom: size(46);
          }

          &.amethyst {
            color: $propellerhealth_amethyst;
          }

          &.blue {
            color: $propellerhealth_primary;
          }

          &.green {
            color: $propellerhealth_moss;
          }

          &.beet {
            color: $propellerhealth_beet;
          }
        }

        .event-date {
          margin-bottom: size(11);
          min-width: size(160);
          @include font(18px, 700, 17.9px, $propellerhealth_coal, $Lato);

          .start {
            @include font(18px, 700, 17.9px, $propellerhealth_coal, $Lato);
            margin-bottom: size(10);
          }

          .end {
            @include font(18px, 700, 17.9px, $propellerhealth_coal, $Lato);
          }

          .mb {
            margin-bottom: size(5);
          }
        }

        .event-time {
          @include font(18px, 400, 17.9px, $propellerhealth_coal, $Lato);
          text-transform: lowercase;
        }
      }

      .time-and-location {
        display: flex;
        align-items: center;

        .event-time {
          padding-right: size(5);
          border-right: 1px solid $propellerhealth_coal;
        }

        .location {
          padding-left: size(5);
          transition: color $duration ease;

          &:hover {
            color: $propellerhealth_hover_color;
          }
        }
      }

      .event-text {

        .event-title {
          max-width: size(400);
          margin-bottom: size(18);
          font-weight: 900;

          @include large-screen {
            max-width: size(522);
          }
        }

        .event-description {
          margin-bottom: size(28);
          @include min-medium-screen {
            margin-bottom: size(56);
            max-width: size(400);
          }
          @include large-screen {
            max-width: size(538);
          }
        }

        .cta-link {
          font-weight: 700;
        }
      }

      .type {
        position: relative;
        margin-right: size(5);

        &:not(:last-child) {
          &:after {
            content: ",";
            position: absolute;
            bottom: -1px;
            right: size(-5);
            color: currentColor;
            font-size: inherit;
          }
        }
      }

    }

    .no-posts {
      @include marginX(auto);
      @include small-screen {
        @include font-size(22px, 30px);
      }

      max-width: size(780);
      @include large-screen {
        max-width: size(900);
      }

      a {
        transition: color $duration;
        color: $propellerhealth_hover_color;

        &:hover {
          color: $propellerhealth_mint
        }
      }
    }
  }
}




