


@import "styles/sites/zineone";

.website_block {
  background: $zineone-dark;
  @include paddingY(size(60), size(120));
  
  .website-img {
    @include min-medium-screen {
      @include paddingX(size(40));
    }
    @include large-screen {
      @include paddingX(size(128));
    }
    
    img {
      width: 100%;
    }
  }
  
  .website-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: size(100);
    margin-bottom: size(-40);
    
    .website-text {
      width: 100%;
      margin-bottom: size(40);
      @include min-medium-screen {
        width: 45%;
      }
      @include large-screen {
        width: 17.96%;
      }
      @include small-screen {
        text-align: center;
      }
      
      h4 {
        color: $zineone-white;
        margin-bottom: size(8);
      }
      
      p {
        color: $zineone-green;
      }
    }
  }
 
  .remove-in-small-screen {
    display: block;
    
    @include small-screen {
      display: none;
    }
  }
  
  .remove-from-medium {
    display: none;
    @include small-screen {
      display: block;
    }
  }
  
}


