
@import "styles/sites/towSmart";


.about_products_block {
  @include paddingY(size(60));
  margin-top: -1px;
  @include large-screen {
    min-height: size(664);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .content-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
    .about-products-img {
      @include square(size(300));
      margin-top: size(14);
      @include min-medium-screen{
        @include square(size(400));
      }
      @include large-screen {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        width: 50%;
        margin-top: 0;
      }
      
      img {
        @include objectImg(contain);
      }
    }
  }
  
  .about-products-wrapper {
    position: relative;
    max-width: size(816);
    margin: 0 auto;
    z-index: 3;
    
    .headline-2 {
      margin-bottom: size(10);
      text-align: center;
      @include min-medium-screen {
        margin-bottom: size(12);
      }
    }
    
    .paragraph-16 {
      text-align: center;
      margin-bottom: size(30);
      color: $tow_smart_white_70;
    }
  }
  
  &.reverse {
    .about-products-img {
      @include min-medium-screen {
        left: unset;
        right: 0;
      }
    }
  }
}

  


