
@import "styles/sites/moving";

.move_technology_block {
  background-color: $moving-black-pearl;
  $padding-left-sm: size(26);
  $section-border-pl: 8.5rem;

  //.container {
  //  @include small-screen {
  //    @include paddingX(0);
  //  }
  //}

  .move-technology {
    display: flex;
    flex-direction: column;
    //@include paddingY(size(32), size(24));
    padding-bottom: size(24);
    max-width: size(1334);
    @include min-medium-screen {
      @include paddingY(size(120), size(60));
    }
    @include large-screen {
      padding-top: size(156);
    }

  }

  .content {
    width: 100%;
    //@include small-screen {
    //  @include paddingX($padding-left-sm, size(20));
    //}
    @include large-screen {
      text-align: center;
    }
  }

  .headline-1 {
    color: $moving-white;
    width: 100%;
    text-transform: uppercase;
    //padding-left: size(24);
    margin-bottom: size(21);
    @include min-medium-screen {
      margin-bottom: size(35);
      line-height: 100%;
    }
    @include large-screen {
      margin-bottom: size(53);
      letter-spacing: size(2.56);
      //padding: 0;
    }

    span {
      background-image: $moving-aqua-gradient;
    }
  }

  .paragraph {
    color: $moving-white;
    opacity: 0.65;
    max-width: size(760);
    line-height: 144.44%;
    //padding-left: size(24);
    @include marginX(auto);
    @include min-medium-screen {
      max-width: 100%;
      line-height: 133.33%;
    }
    @include large-screen {
      max-width: size(730);
      //padding: 0;
    }
  }

  .image-wrapper {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-top: size(43);
    //@include paddingX(size(10));

    @include min-medium-screen {
      //padding-left: size(30);
      margin-top: size(100);
    }
    @include large-screen {
      //padding-left: size(83);
      margin-top: size(144);
    }
  }

  picture {
    width: 100%;

    img {
      @include square(100%);
      object-fit: contain;
    }
  }

  // region section lines style

  .section-border {
    padding-left: $section-g-pl-sm;
    @include min-medium-screen {
      padding-left: $section-g-pl-md;
    }
    @include large-screen {
      padding-left: $section-border-pl;
    }

    .title-circle {
      left: auto;
      right: calc(100% + #{$section-g-pl-sm});
      transform: translateX(50%);
      @include min-medium-screen {
        right: calc(100% + #{$section-g-pl-md});
      }
      @include large-screen {
        right: calc(100% + #{$section-border-pl});
      }
    }

    .title-circle {
      @include medium-screen {
        right: calc(100% + 6.3rem);
      }
      @include large-screen {
        right: calc(100% + 8.3rem);
      }
    }
  }

  // endregion section lines style
}

