
@import "styles/sites/towSmart";



header.tow_smart_header {
  position: fixed;
  z-index: 99;
  width: 100%;
  left: 0;
  top: 0;
  $nav_top: 7.4rem;
  $padding_top_search: 1rem;
  $input_height: 5.2rem;
  transition: top 400ms;
  
  .menu-top-menu-container {
    display: none;
    @include large-screen {
      display: block;
    }
  }
  
  .top-menu {
    @include flex(center, false, column, wrap);
    background: $tow_smart_raisin_black;
    @include large-screen {
      align-items: center;
      flex-direction: row;
      justify-content: center;
    }
    
    .menu-item {
      @include paddingY(size(14.67));
      @include large-screen {
        &:not(:last-child) {
          margin-right: size(80);
        }
      }
      
      a {
        font-weight: 400;
        
        &.header-link-active {
          color: $tow_smart_red;
        }
        
        &:hover {
          color: $tow_smart_red;
        }
      }
    }
  }
  
  .logo-and-menu {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    display: flex;
    //position: absolute;
    //top: 0;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    z-index: 80;
    padding: size(22) size(32);
    @include large-screen {
      width: fit-content;
      padding: 0;
    }
    
    
    .d1-shop {
      @include square(size(24));
      @include large-screen {
        display: none;
      }
    }
  }
  
  $bottomMenuPB: 1rem;
  
  .bottom-menu {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    //padding: size(14) size(30);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    justify-content: space-between;
    //position: relative;
    //min-height: 700px;
    background: $tow_smart_light_black;
    @include large-screen {
      flex-direction: row;
      align-items: center;
      background: $tow_smart_white;
      @include paddingX(size(114), size(104));
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(20px);
      @include paddingY($bottomMenuPB);
      transition: padding 400ms;
    }
    
    .menu {
      @include large-screen {
        display: none;
      }
      
      .menu {
        Width: size(18);
        height: size(11.25);
        position: relative;
        z-index: 99;
        cursor: pointer;
      }
      
      
      .burger-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        
      }
      
      span {
        width: size(18);
        height: size(2.25);
        background: $tow_smart_white;
        //opacity: 1;
        visibility: inherit;
        transform-origin: 50% 50%;
        transform: translate(0px, 0px);
        margin-bottom: size(2.25);
        border-radius: 32px;
        transition: 500ms;
      }
      
      .change .span1 {
        transform: rotate(-45deg) translate(-2.25px, 2.25px);
      }
      
      .change .span2 {
        opacity: 0;
      }
      
      .change .span3 {
        transform: rotate(45deg) translate(-4.25px, -4.25px);
      }
    }
    
    .paragraph-16 {
      color: $tow_smart_light_black;
      font-weight: 700;
    }
  }
  
  .header-logo {
    flex-shrink: 0;
    width: size(116);
    height: size(20);
    object-fit: cover;
    
    @include min-medium-screen {
      width: size(173);
      height: size(32);
    }
    
    img, svg {
      @include square(100%);
    }
  }
  
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include max-medium-screen {
      position: absolute;
      width: 100%;
      height: calc(100vh - 6.4rem);
      //overflow: scroll;
      top: 100%;
      left: 0;
      opacity: 0;
      transition: opacity 500ms ease;
      pointer-events: none;
      background: #252525;
      align-items: flex-start;
    }
    
    .navbar-wrapper {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      padding: size(10) size(20);
      @include large-screen {
        padding: 0;
        flex-direction: row;
        align-items: center;
        height: 100%;
      }
      
      
      .primary-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        @include large-screen {
          flex-direction: row;
          justify-content: center;
          //flex-grow: .9;
          width: fit-content;
          height: 100%;
        }
        
        .menu-item {
          display: flex;
          align-items: center;
          color: $tow_smart_light_black;
          width: 100%;
          @include large-screen {
            padding: size(15) size(30);
            width: fit-content;
          }
          
          a {
            &.header-link-active {
              color: $tow_smart_red;
            }
            
            &:hover {
              color: $tow_smart_red;
            }
          }
          
          .paragraph-16 {
            display: none;
            @include large-screen {
              width: fit-content;
              display: inline-block;
            }
          }
        }
      }
      
      .has-megaMenu {
        position: relative;
        @include large-screen {
          
          &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: size(60);
            pointer-events: none;
          }
          
          .paragraph-16 {
            position: relative;
            
            &:after {
              content: '';
              position: absolute;
              top: calc(100% + 0.3rem);
              left: 0;
              width: 100%;
              height: 2px;
              background-color: $tow_smart_red;
              border-radius: 2px;
              opacity: 0;
              transition: opacity $duration;
            }
          }
          
          &:hover {
            &:after {
              pointer-events: auto;
            }
            
            .paragraph-16 {
              &:after {
                opacity: 1;
              }
            }
            
            .sub-menu {
              opacity: 1;
              transform: translate(-50%, 0);
              pointer-events: auto;
            }
          }
        }
      }
      
      .active-header-link {
        
        .headline-5 {
          color: #FFAC60;
        }
        
        
      }
      
      .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        @include min-medium-screen {
          width: fit-content;
          background: none;
        }
        
        
        .person {
          display: none;
          @include large-screen {
            display: flex;
          }
        }
        
        .d-shop {
          display: none;
          @include large-screen {
            display: flex;
          }
        }
      }
      
      .icon {
        @include large-screen {
          width: size(24);
          
          svg {
            width: 100%;
            height: auto;
          }
          
          &:not(:last-child) {
            margin-right: size(36);
          }
        }
        
      }
      
      .sub-menu {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        //justify-content: flex-start;
        margin-bottom: size(20);
        flex-direction: column;
        background: rgba(245, 245, 245, 0.98);
        border-radius: 8px;
        width: 100%;
        
        @include large-screen {
          opacity: 0;
          flex-direction: row;
          align-items: center;
          background: rgba(245, 245, 245, 0.98);
          border-radius: 8px;
          width: size(340);
          text-align: center;
          padding: size(40) size(60);
          position: absolute;
          left: 50%;
          top: calc(100% + #{$bottomMenuPB} + 1.5rem);
          transform: translate(-50%, size(20));
          transition: opacity, transform;
          transition-duration: $duration;
          pointer-events: none;
          margin-bottom: 0;
        }
        
        .aspect-ratio {
          @include square(size(44));
          background: #DDDDDD;
          border-radius: 50%;
          margin-right: size(10);
          //@include min-medium-screen {
          //  @include square(size(200));
          //  margin-right: size(20);
          //}
          @include large-screen {
            margin-right: 0;
            @include square(size(180));
            background: rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            margin-bottom: size(31);
            padding-top: 79.2px;
          }
          
          img {
            @include square(100%);
            //right: size(12);
            left: unset;
            top: unset;
            bottom: 0;
          }
        }
        
        .btn-arrow {
          display: flex;
          margin: auto;
          width: fit-content;
          align-items: center;
          
          svg {
            padding-top: 2px;
          }
        }
        
        .btn {
          color: $tow_smart_light_black;
          @include marginX(auto);
          padding: 0;
          cursor: pointer;
        }
      }
      
      .two-side {
        display: flex;
        justify-content: space-between;
        text-align: left;
        @include large-screen {
          @include paddingX(size(70), size(60)) ;
          width: size(652);
        }
        
        
        .left-side {
          @include large-screen {
            padding-right: size(40);
            border-right: 1px solid rgba(0, 0, 0, 0.1);
          }
        }
      }
      
      .paragraph-14 {
        font-weight: 400;
        color: $tow_smart_light_black
      }
      
      .left-side {
        display: flex;
        justify-content: center;
        @include large-screen {
          
          align-items: center;
          flex-direction: column;
        }
        
        .headline-5 {
          cursor: pointer;
          margin-bottom: size(12);
          @include font(16px, 700, 19px, $product_sans, false);
          width: size(188);
          color: $tow_smart_light_black;
          
          @include large-screen {
            
            width: fit-content;
            @include font-size(24px, 29px);
            
          }
          
          &.active {
            color: #FFAC60;
          }
        }
        
      }
      
      .p-16 {
        padding: size(16);
        @include large-screen {
          padding: 0;
        }
      }
      
      .caption {
        @include paddingY(10);
        margin-top: size(10);
        @include large-screen {
          margin-top: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
      
      .my-paragraph {
        padding: 0;
        @include font(14px, 400, 21px, $product_sans, false);
        color: #173261b3;
        @include min-medium-screen {
        
        }
        @include large-screen {
          @include font(14px, 400, 21px, $product_sans, false);
          color: #173261;
          margin: 0 auto size(16);
          //width:100%;
          //color: rgba(255, 255,255, 0.7);
        }
      }
      
      .d-paragraph {
        //display: none;
        @include max-medium-screen {
          height: 0;
          overflow: hidden;
        }
        @include large-screen {
          display: block;
        }
      }
      
      .hr {
        height: 0;
        //margin-top: size(20);
        //width: 100%;
        margin-bottom: 0;
        width: calc(100% - 3rem);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        @include large-screen {
          display: none;
        }
      }
      
      .right-side {
        position: relative;
        //background: #F5F5F5;
        @include max-medium-screen {
          height: 0;
          overflow: hidden;
          width: 100%;
          @include paddingX(size(20));
        }
        @include min-medium-screen {
          width: 100%;
          @include paddingX(40)
        }
        @include large-screen {
          display: block;
          height: auto !important;
          //margin-left: size(40);
        }
        
        
        .sub-menu2 {
          @include large-screen {
            margin-left: size(40);
          }
          
          .menu-item2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: size(11);
            @include marginY(size(10));
            
            @include large-screen {
              border-radius: 4px;
              margin-top: 0;
              transition: background $duration;
              margin-bottom: 0;
              
              &:not(:last-child) {
                margin-bottom: size(10) !important;
                
              }
            }
            
            svg {
              @include square(size(16));
              opacity: 0;
              transition: opacity $duration;
            }
            
            &.sublink-active {
              background: rgba(0, 0, 0, 0.1);
              
              svg {
                opacity: 1;
              }
            }
            
            &:hover {
              background: rgba(0, 0, 0, 0.1);
              
              svg {
                opacity: 1;
              }
              
            }
          }
          
          .paragraph-14 {
            width: size(230);
            @include font-size(14px, 21px)
          }
        }
      }
      
      .left-and-arrow {
        display: flex;
        align-items: flex-start;
        /////
        position: relative;
        padding: size(16);
        width: 100%;
        justify-content: space-between;
        @include large-screen {
          padding: 0;
        }
        
        .arrow-left {
          margin-top: size(10);
          cursor: pointer;
          @include min-medium-screen {
            margin-top: size(0);
            //padding: size(10) size(30);
          }
          @include large-screen {
            display: none;
          }
        }
      }
      
      .menu1 {
        margin-top: size(17);
        margin-bottom: size(32);
        width: 100%;
        background-color: transparent;
        @include large-screen {
          display: none;
        }
        
        .menu-item {
          padding: 0;
          
          &:not(:last-child) {
            margin-bottom: size(25);
          }
        }
        
        .paragraph-14 {
          @include font(16px, 400, 24px, $tow_smart_white, $product_sans);
          padding: 0;
          
          &:hover {
            color: $tow_smart_green;
          }
        }
      }
    }
    
    &.navbar-active {
      opacity: 1;
      pointer-events: auto;
    }
  }
  
  .icon.active-user-icon {
    path {
      fill: $tow_smart_red;
    }
  }
  
  #search {
    display: none;
    @include large-screen {
      display: flex;
      transition: 0.3s;
      cursor: pointer;
    }
  }
  
  .input-search-wrapper {
    position: relative;
    width: 100%;
    z-index: 2;
    margin-bottom: size(20);
    height: size(52);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: opacity $duration;
    background: #252525;
    
    @include large-screen {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      z-index: 99;
      margin-bottom: 0;
      opacity: 0;
      pointer-events: none;
      padding: size(10) size(30);
      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }
    
    input {
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.125) 100%);
      backdrop-filter: blur(10px);
      @include paddingY(size(16));
      @include paddingX(size(60), size(16));
      border-radius: 40px;
      border: none;
      font-size: size(14);
      font-weight: 400;
      line-height: 100%;
      color: rgba(255, 255, 255, 0.5);
      @include large-screen {
        width: 90%;
      }
      
      &::-webkit-search-cancel-button {
        display: none;
      }
    }
    
    .search-icon {
      @include square(size(18));
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: size(20);
      z-index: 2;
      @include large-screen {
        left: size(60);
      }
    }
  }
  
  .search-popup {
    width: 100%;
    @include large-screen {
      width: fit-content;
    }
  }
  
  .close-search {
    cursor: pointer;
    //display: none;
    //@include large-screen {
    //  display: block;
    //}
    @include max-medium-screen {
      position: absolute;
      right: size(10);
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      pointer-events: none;
    }
    
    &.close-search-active {
      opacity: 1;
      pointer-events: auto;
    }
    
    &:hover {
      path {
        fill: $tow_smart_red;
      }
      
    }
  }
  
  .search-result {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: $nav_top;
    left: 0;
    background: #252525;
    z-index: 3;
    width: 100%;
    height: calc(100vh - 6.8rem);
    transition: opacity 500ms ease;
    @include paddingY(size(30));
    @include paddingX(size(32));
    padding: size(30) size(20) size(30) size(82);
    overflow: scroll;
    @include large-screen {
      top: 100%;
      background: #252525;
      padding: size(30) size(30) size(30) size(90);
      height: calc(100vh - var(--header-height));
    }
    
    .search-menu {
      flex-direction: column;
      //align-items: flex-start;
      padding: 0 size(80);
      color: $tow_smart_white;
      transition: opacity 500ms ease;
    }
    
    .search-item {
      margin-bottom: size(30);
      
      .paragraph-14 {
        color: $tow_smart_white;
      }
    }
  }
  
  .lds-roller {
    position: absolute;
    z-index: 5;
    top: calc(100% + 6rem);
    left: 50%;
    transform: translateX(-50%);
    
  }
  
  .open-search-result {
    opacity: 1;
    pointer-events: auto;
  }
  
  //.layer {
  //  opacity: 0;
  //  pointer-events: none;
  //  position: absolute;
  //  top: $nav_top;
  //  left: 0;
  //  background: #252525;
  //  z-index: 9999;
  //  width: 100%;
  //  height: calc(100vh - #{$nav_top} - #{$padding_top_search} - #{$input_height});
  //  transition: opacity 500ms ease;
  //  @include large-screen {
  //    top: calc(#{$nav_top});
  //    background: #252525;
  //    padding: size(30);
  //  }
  //
  //}
  
  .par-search {
    display: none;
    text-align: center;
    width: 70%;
    margin: size(50) auto size(30);
    color: #A5B4C4;
  }
  
  .icon.shop {
    position: relative;
  }
  
  .cart-number {
    position: absolute;
    left: calc(100% - 0.7rem);
    bottom: calc(100% - 1.1rem);
    @include square(size(17));
    background: $tow_smart_light_black;
    color: $tow_smart_white;
    border-radius: 50%;
    text-align: center;
    line-height: size(17);
    font-size: size(11);
    @include large-screen {
      color: $tow_smart_light_black;
      background: $tow_smart_white;
      font-size: size(13);
    }
  }
  
  &.sticky {
    @include large-screen {
      top: var(--header-top-part-height);
    }
    
    .search-result {
      @include large-screen {
        height: calc(100vh - 6.4rem);
      }
    }
    
    .bottom-menu {
      @include large-screen {
        @include paddingY(size(5));
      }
    }
  }
}

  


