


@import "styles/sites/zineone";
.hero_block {
  @include paddingY(size(150)); //fixme fake padding
  background: $zineone-dark;
  padding-bottom: size(60);
  @include large-screen {
    padding-bottom: size(100);
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include min-medium-screen {
      flex-direction: row;
      
    }
  }
  
  .left-hero-content-text {
    font-weight: bold;
    font-size: size(14);
    line-height: size(24);
    letter-spacing: 0.2px;
    color: $zineone-white;
    margin-bottom: size(40);
  }
  
  &_version_1 {
    padding-top: size(90);
    @include large-screen {
      padding-top: size(90);
    }
    
    .left-hero-content {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(37.5%);
      }
      
      .headline-1 {
        @include small-screen {
          max-width: size(200);
        }
        color: $zineone-white;
        
      }
      
      .paragraph {
        margin: size(24) size(0);
        color: $zineone-white;
        @include min-medium-screen {
          margin: size(40) size(0);
        }
      }
      
      .btn {
        color: $zineone-white;
        
      }
    }
    
    .right-hero-content {
      width: 100%;
      @include min-medium-screen {
        width: 50%;
      }
      @include small-screen {
        padding-top: size(80);
      }
      max-width: size(618);
      
      svg {
        width: 100%;
      }
      
      img {
        width: 100%;
        border-right: 8px;
      }
      
    }
    
  }
  
  &_version_2 {
    .left-hero-content {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(50%);
      }
      
      .headline-1 {
        color: $zineone-white;
        margin-bottom: size(40);
      }
    }
    
    .right-hero-content {
      @include flexBasis(100%);
      
      @include min-medium-screen {
        @include flexBasis(45%);
      }
      @include large-screen {
        @include flexBasis(37.5%);
      }
      
      .description-p {
        color: #F9F9F9;
        //max-width: size(366);
        @include marginY(size(24), size(48))
      }
      
      .hero-box {
        padding: size(32);
        
        .box-text-1 {
          color: #26335D;
          opacity: 0.8;
          margin-top: size(25);
        }
        
        .box-text-2 {
          margin-top: size(25);
          color: #26335D;
          font-weight: 600;
          opacity: 0.8;
        }
        
        .box-img {
          width: size(94.4);
          margin-bottom: size(40);
          @include min-medium-screen {
            width: size(124);
          }
          
          &:nth-last-child(-n+2) {
            margin-bottom: 0;
          }
          
          a {
            display: block;
          }
          
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      
      .success-box {
        padding: size(28) size(64) size(24) size(58);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include min-medium-screen {
          padding: size(28) size(64) size(24) size(58);
        }
        @include large-screen {
          padding: size(38) size(85) size(38) size(77);
        }
      }
    }
  }
  
  &_version_3 {
    padding-top: size(80);
    @include large-screen {
      padding-top: size(170);
    }
    
    .hero-content {
      display: block;
    }
    
    .paragraph {
      color: $zineone-white;
      margin-top: size(40);
    }
    
    .headline-1 {
      color: $zineone-white;
      margin-bottom: size(40);
      max-width: 75%;
      
    }
    
    .btn-group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 size(-10) size(-10);
      
      .btn {
        margin: size(20) size(15) size(10);
      }
    }
  }
  
  &_version_4 {
    .hero-video {
      @include flexBasis(100%);
      position: relative;
    }
    
    .headline-1 {
      color: $zineone-white;
      margin-bottom: size(40);
      max-width: size(960);
    }
    
    .headline-2 {
      color: $zineone-white;
      max-width: size(640);
      margin-bottom: size(40);
    }
    
    .paragraph {
      color: $zineone-white;
      max-width: size(640);
      margin-bottom: size(20);
      
    }
    
    .btn {
      color: $zineone-white;
      
    }
    
    //play button//
    .video-wrapper {
      position: relative;
      margin-top: size(80);
      
      &.video-rounded {
        iframe {
          border-radius: size(16);
        }
      }
    }
    
    video {
      width: 100%;
      height: auto;
    }
    
    .hero-v4-image {
      img {
        //border-radius: size(16);
        max-width: 100%;
        height: auto;
      }
    }
    
  }
  
  &_version_5 {
    padding-bottom: 0;
    
    .hero-content {
      align-items: flex-start;
    }
    
    .left-hero-content {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(50%);
        padding-top: size(20);
      }
    }
    
    .headline-1 {
      color: $zineone-white;
    }
    
    .paragraph {
      color: $zineone-white;
      margin-top: size(40);
    }
    
    .btn {
      margin-top: size(40);
    }
    
    .right-hero-content {
      position: relative;
      //margin-top: size(140);
      margin-top: size(37);
      @include flexBasis(100%);
      @include min-medium-screen {
        margin-top: 0;
        @include flexBasis(39.37%);
      }
      
      canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 120%;
        height: 120%;
        z-index: 1;
        transform: translate(-50%, -50%);
      }
    }
    
    .right-hero-content-img-1 {
      @include square(size(196));
      @include min-medium-screen {
        @include square(size(268));
      }
    }
    
    .right-hero-content-img-2 {
      @include square(size(116));
      margin-left: auto;
      @include min-medium-screen {
        @include square(size(160));
      }
    }
    
    .right-hero-content-img-3 {
      @include square(size(128));
      margin-top: size(28);
      margin-left: size(78);
      @include min-medium-screen {
        margin-left: size(108);
        margin-top: size(40);
        @include square(size(200));
      }
    }
    
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 50%;
    }
  }
  
  &_version_6 {
    @include paddingY(size(120), size(60));
    
    .hero-content {
      align-items: flex-start;
    }
    
    .container {
      @include large-screen {
        padding-right: size(120);
      }
    }
    
    .left-hero-content {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(40%);
      }
      @include large-screen {
        @include flexBasis(47.05%);
      }
      
      .headline-2 {
        color: $zineone-white;
        max-width: size(640);
      }
      
      .headline-3 {
        color: $zineone-white;
        margin-top: size(40);
      }
      
      .paragraph {
        color: $zineone-white;
        margin-top: size(40);
      }
      
      .left-hero-content-address {
        font-weight: bold;
        font-size: size(14);
        line-height: size(24);
        letter-spacing: 0.2px;
        margin-top: size(40);
        color: $zineone-grey;
      }
      
      .btn {
        margin-top: size(40);
        
        &:not(:last-child) {
          margin-right: size(24);
        }
      }
      
      .last-text-hero {
        color: $zineone-dark-grey;
        margin-top: size(8);
      }
    }
    
    .right-hero-content {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(45%);
      }
      @include large-screen {
        @include flexBasis(47.05%);
        
        
      }
      @include small-screen {
        padding-top: size(80);
      }
      
      .right-hero-content-img {
        width: 100%;
      }
    }
    
    .hero-button {
      display: flex;
      flex-wrap: wrap;
      //max-width: size(409);
    }
  }
  
  &_version_7 {
    @include paddingY(size(120), size(76));
    
    .left-hero-content {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(40%);
      }
      @include large-screen {
        @include flexBasis(50%);
      }
      
      .small-title {
        margin-bottom: size(24);
        @include large-screen {
          margin-bottom: size(40);
        }
      }
      
      .headline-2 {
        color: $zineone-white;
      }
      
      .headline-3 {
        color: $zineone-white;
        margin-top: size(24);
        @include large-screen {
          margin-top: size(40);
        }
      }
      
      .paragraph {
        color: $zineone-white;
        margin-top: size(60);
      }
      
      .btn {
        margin-top: size(60);
        max-width: size(247);
      }
    }
    
    .right-hero-content {
      @include flexBasis(100%);
      position: relative;
      @include min-medium-screen {
        @include flexBasis(40.5%);
      }
      @include large-screen {
        @include flexBasis(37.5%);
      }
      @include small-screen {
        padding-top: size(88);
      }
      
      &.has-video {
        @include flexBasis(100%);
        padding: 0 size(40);
        @include small-screen {
          margin-top: size(88);
        }
        @include min-medium-screen {
          @include flexBasis(40.5%);
        }
        @include large-screen {
          @include flexBasis(37.5%);
        }
      }
      
      .right-hero-content-img {
        width: 100%;
      }
      
      .aspect-ratio {
        padding-top: 77.75%;
      }
      
      .video-wrapper {
        position: relative;
        margin-top: size(80);
      }
      
      .hero-video-rounded {
        iframe {
          border-radius: size(16);
        }
      }
      
      video {
        width: 100%;
        height: auto;
      }
    }
  }
  
  picture {
    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
      object-position: top;
    }
  }
  
  .hero-video-toggle {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    @include square(size(60));
    border-radius: 50%;
    background: $zineone-Orange;
    cursor: pointer;
    
    &-playing {
      top: size(20);
      left: size(20);
      transform: translate(0, 0);
      transition-property: top, left;
      transition-duration: $duration;
      @include small-screen {
        top: size(10);
        @include square(size(45));
      }
      
      .video-toggle-icon {
        animation: playToPause 0.2s linear forwards;
      }
    }
    
    &-paused {
      .video-toggle-icon {
        animation: pauseToPlay 0.2s linear forwards;
      }
    }
    
    .video-toggle-icon {
      width: size(19);
      height: size(22);
      background: $zineone-white;
      clip-path: $clip-play;
      @include min-medium-screen {
        width: size(24.45);
        height: size(29);
      }
    }
  }
  
  //Animation
  
  //.spin-wrapper {
  //  filter: drop-shadow(0px 0px 6px yellow);
  //}
  .small-circle-wrapper {
    animation: rotate 10s linear infinite;
    transform-origin: center;
    @keyframes rotate {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  
  .spotlight circle {
    animation: glow 2s linear infinite;
    @keyframes glow {
      0%, 100% {
        filter: drop-shadow(0 0 0 #fff);
      }
      50% {
        opacity: .5;
        filter: drop-shadow(0 0 20px #fff);
      }
      
    }
  }
  
  .numbers-move {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  }
  
  .clint-wrapper {
    animation: rotate 15s linear infinite;
    transform-origin: center;
    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  
  .clint path {
    animation: rotate2 15s linear infinite;
    transform-box: fill-box;
    transform-origin: center;
    
    @keyframes rotate2 {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
  }
  
  .site-box {
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%);
  }
  
  .wysiwyg-block {
    @include max-medium-screen {
      max-width: 100% !important;
    }
    
    * {
      color: white;
    }
  }
  
  .aspect-ratio img {
    object-fit: contain;
  }
}




