@import "styles/sites/k1_elementor";

.category_leaders_win_bigger_block {

  background-color: #242424;
  padding-top: size(70);
  //min-height: 100vh;
  @include min-medium-screen {
    padding-top: size(140);
  }

  .container {
    @include medium-screen {
      @include paddingX(0)
    }
  }


  .category-bg {
    position: absolute;
    top: 0;
    @include square(100%);

    img {
      @include objectImg(cover)
    }
  }

  .container {
    @include large-screen {
      padding: 0;
    }

  }


  .dashed-line {
    position: absolute;
    height: 100%;
    width: 1px;
    left: 0;
    top: 0;

    line {
      stroke: $k1_project_white;
      stroke-width: 2px;
      stroke-dasharray: 3px 4px;
      opacity: 0.6;
    }
  }

  .position {
    @include large-screen {
      top: 0;
      left: calc(50% + 7.1rem);
      height: 26.6%;
    }
  }

  .category-leaders-title {
    text-transform: capitalize;
    margin-bottom: size(65);
    @include marginX(auto);
    max-width: size(354);
    text-align: center;
    @include small-screen{
      @include font-size(32px, 41.6px);
    }
    @include min-medium-screen {
      max-width: size(950);
      margin-bottom: size(100);
    }

    span {
      color: $k1_project_blue;
    }
  }

  .container {
    @include large-screen {
      padding: 0;
    }


    .category-leader {
      display: flex;
      flex-direction: column;
      @include min-medium-screen {
        flex-direction: row;
        &:nth-of-type(odd) {
          flex-direction: row-reverse;

          &.wrapper-reversed {
            flex-direction: row;
          }
        }
      }

      &.wrapper-reversed {
        @include min-medium-screen {
          flex-direction: row-reverse;
        }
      }

      &:last-child {
        .right-side {
          &:after {
            content: "";
            position: absolute;
            top: 102%;
            left: 100%;
            transform: translate(-80%, -50%) rotate(45deg);
            box-shadow: 0 0 4px rgba(255, 255, 255, 0.75);
            background-color: $k1_project_white;
            width: 5px;
            height: 5px;
            opacity: 0.3;
            @include min-medium-screen {
              top: 100.5%;
              left: 0;
              transform: translate(-50%, -50%) rotate(45deg);
            }
          }
        }
      }
    }

    .left-side {
      @include flexBasis(100%);
      display: flex;
      overflow: hidden;
      @include min-medium-screen {
        @include flexBasis(50%);
      }

      picture {
        width: 100%;
        padding-top: 111.422%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .right-side {
      @include flexBasis(100%);
      display: flex;
      align-items: center;
      position: relative;
      @include min-medium-screen {
        @include flexBasis(45%);
        margin-left: 5%;
      }
      @include max-medium-screen {
        @include paddingY(size(70));
      }

      .dashed-line {
        position: absolute;
        height: 100%;
        width: 2px;
        left: unset;
        right: 0;
        top: 0;

        @include min-medium-screen {
          left: 0;
          right: unset;
        }

        line {
          stroke: $k1_project_white;
          stroke-width: 2px;
          stroke-dasharray: 3px 4px;
          opacity: 0.3;
        }
      }

      .right-content {
        display: flex;
      }

      .content {
        padding-left: size(19);
        position: relative;
        padding-bottom: size(30);
        @include small-screen {
          width: 100%;
        }
        @include medium-screen {
          @include paddingX(size(40))
        }
        @include min-medium-screen {
          padding-left: size(61);
          max-width: size(600);
        }

        .dashed-line {
          height: 100%;
          top: 0;

          line {
            opacity: 1;
          }
        }

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(-50%, -50%) rotate(45deg);
          box-shadow: 0 0 4px rgba(255, 255, 255, 0.75);
          background-color: var(--k1_project_white);
          width: 5px;
          height: 5px;

          @include small-screen {
            left: unset;
            right: 0;
            transform: translate(25%, 50%) rotate(45deg);
          }
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          transform: translate(-50%, 50%) rotate(45deg);
          box-shadow: 0 0 4px rgba(255, 255, 255, 0.75);
          background-color: var(--k1_project_white);
          width: 5px;
          height: 5px;
          @include small-screen {
            left: unset;
            right: 0;
            transform: translate(25%, 50%) rotate(45deg);
          }
        }
      }

      .state {
        margin-bottom: size(20);
        -webkit-text-stroke: size(1) $k1_project_white;
        @include font(40px, 800, 52px, $k1_project_white, $interstate);
        letter-spacing: size(-0.5);
        display: flex;
        flex-wrap: wrap;
        @include min-medium-screen {
          @include font-size(120px, 144px);
          font-weight: 900;
        }
      }

      .state-sign {
        -webkit-text-fill-color: transparent;
      }

      .text-content {
        max-width: size(315);
        color: $k1_project_white;
        @include font-size(16px, 24px);
        @include min-medium-screen {
          max-width: size(469);
          @include font-size(20px, 30px);
        }

        sup {
          font-size: 11px;
          line-height: 130%;
          letter-spacing: 0.5px;
        }
      }
    }

    .content-label {
      margin-top: size(20);
      @include font-size(12px, 16px);
      @include min-medium-screen {
        margin-top: size(40);
      }

      sup {
        font-size: 11px;
        line-height: 130%;
        letter-spacing: 0.5px;
      }

      font-weight: 300;
    }
  }

  .text-content-subtitle {
    text-transform: uppercase;
    @include font(12px, 400, 14px, $k1_project_light_grey, $interstate, 0.5px);
    margin-top: size(22.5);
    width: 77%;
    position: absolute;
    left: size(19);
    bottom: size(25);
    @include small-screen{
      @include font-size(16px,20.08px);
    }
    @include min-medium-screen{
      left: size(61);
    }
  }

  .container-style-2 {
    @include paddingX(size(61))
  }

}




