@import "styles/sites/advisorhub";

.table_block {
  @include paddingY(size(40), size(40));

  .border-top {
    @include small-screen{
      width: 100%;
    }
    display: flex;
    justify-content: space-between;
    margin-bottom: size(20);
    //max-width: 92%;

    .medium-sub-title {
      margin-bottom: 0;
    }

    .ah-link {
      max-height: size(12);
      min-width: unset;
      width: fit-content !important;
    }
  }

  .table-header th, .table-body td {
    @include min-medium-screen {
      max-width: size(132);
    }
  }

  td:first-of-type, th:first-of-type {

    @include min-medium-screen {
      padding-left: size(10);
    }
  }

  th {
    cursor: pointer;
  }

  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: size(30);

    .headline-5 {
      color: $advisorhub_American_Silver;
      margin-right: size(40);
      cursor: pointer;

      &:last-of-type {
        margin-right: 0;
      }
    }

    .arrows:first-of-type {
      margin-right: size(30);
      cursor: pointer;
    }

    .arrows:last-of-type {
      margin-left: size(30);
      cursor: pointer;
    }

  }


  // responsive for small view
  table thead {
    @include small-screen {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }

  table tr {
    @include small-screen {
      display: block;
      padding: size(20);
    }
  }

  table td {
    @include small-screen {
      display: block;
      text-align: right;
    }
  }

  table td::before {
    @include small-screen {
      content: attr(data-label);
      float: left;
      padding-right: size(12);
      @include font(10px, 700, 12px, $advisorhub_red, $Roboto);
    }
  }

  .dataTables_paginate {
    display: none;
    @include min-medium-screen {
      padding-top: size(30);
      display: flex;
      justify-content: center;
    }
  }

  .paginate_button, .ellipsis {
    margin-right: size(40);
    cursor: pointer;
    @include font(18px, 700, 21px, $advisorhub_American_Silver, $Roboto);
    border-bottom: none !important;
  }

  //styling the active numbers
  .current {
    color: $advisorhub_blue;
  }

  span {
    align-self: center;
  }

  //  disabled style for svg pagination
  .disabled {

    path {
      fill: #C7D0D5;
    }

    circle {
      stroke: #C7D0D5;
    }
  }

  //style for the red arrow  th
  th:after {
    //content: url("../../svgs/bottomarrow.svg");
    padding-left: size(5);
  }

  .dataTables_wrapper {
    max-width: 100%;
  }

}



