
@import "styles/sites/advisorhub";

.promo_with_image_block {
  @include paddingY(size(30));
  background: $advisorhub_off_white;
  @include min-medium-screen {
    @include paddingY(size(55), size(50));
  }

  .promo-with-img {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: size(871);
    margin: 0 auto;
    background-color: $advisorhub_white;
    border: 0.4px solid rgba(170, 184, 191, 0.6);
    border-radius: size(4);

    @include small-screen {
      flex-direction: column-reverse;
      //max-width: size(335);
    }

    .promo-content {
      max-width: size(341);
    }

    .right-side {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(50%);

      }

      .aspect-ratio {
        padding-top: 109%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 0 size(4) size(4) 0;


        }
      }
    }

    .left-side {
      @include flexBasis(100%);
      padding: size(40);
      @include min-medium-screen {
        padding: size(54) size(54) size(48) size(40);
        @include flexBasis(50%);
      }

      .promo-title {
        margin-bottom: size(13);
        @include font(30px, 700, 35.16px);
      }

      .promo-text1 {
        margin-bottom: size(12);
        @include font(22px, 400, 29.01px);
      }

      .promo-text2 {
        margin-bottom: size(20);
        @include font-size(14px, 22px);
      }

      .ah-btn {
        margin-bottom: size(18);
      }

      .link {
        letter-spacing: size(0.5);
        font-weight: 700;
        border-bottom: 1px solid currentColor;
        text-transform: uppercase;
      }

    }

    &.image-left {
      flex-direction: row-reverse;
      border-radius: size(4) 0 0 size(4);


      .right-side {
        img {
          border-radius: size(4) 0 0 size(4);
        }
      }

    }
  }
}



