
@import "styles/sites/smartdv";

.careers {
  @include paddingY(size(61), size(95));
  @include min-medium-screen {
    @include paddingY(size(145), size(155));
  }

  .title {
    text-align: center;
    margin-bottom: size(52);
    @include font-size(24px, 30px);
    color: #313545;
    @include min-medium-screen {
      @include font-size(48px, 60px);
    }
  }

  .filter-content-wrapper {
    position: relative;
    z-index: 5;

    &.active {
      .down-arrow {
        transform: scaleY(-1);
      }
    }

    @include small-screen {
      display: flex;
      align-items: center;
      justify-content: space-between;
      //height: size(50);
      border: 1px solid #086875;
      border-bottom: 0;
      background: transparent;
      //padding-left: size(16);
      @include paddingX(size(16), size(26));
      cursor: pointer;
      @include marginX(auto);
      @include paddingY(size(10.6))
    }
    @include min-medium-screen {
      text-align: center;
      margin-bottom: size(68);
    }

    .selector {
      @include font(14px, 500, 30px, $smart_dv_dark_green, $ibm-plex-sans);
      @include min-medium-screen {
        display: none;
      }
    }

    .down-arrow {
      height: size(10);
      transition: all $duration;
      width: size(23);
      @include min-medium-screen {
        display: none;
      }
    }


    .filter-list {
      display: flex;
      @include small-screen {
        flex-direction: column;
        position: absolute;
        top: calc(100% + 0rem);
        left: -1px;
        width: 100.69%;
        height: 0;
        z-index: 5;
        overflow: hidden;
        background-color: white;
        border-right: 1px solid #086875;
        border-left: 1px solid #086875;
        border-bottom: 1px solid #086875;
      }
      @include min-medium-screen {
        flex-wrap: wrap;
        height: 100%;
        margin: 0 auto;
        gap: size(44.57);
        align-items: center;
        justify-content: center;

      }

      li {
        list-style: none;
      }

      .link-item {
        @include font(14px, 500, 18px, $smart_dv_dark_green, $ibm-plex-sans);
        cursor: pointer;
        position: relative;
        z-index: 2;
        text-align: left;
        width: 100%;
        transition-property: color, border-color, opacity;
        transition-duration: $duration;
        text-transform: capitalize;
        @include paddingY(size(13));
        margin-bottom: 0;
        @include paddingX(size(16), size(26));
        @include small-screen {
          &:nth-child(2n+1) {
            background: #ECEDED;
          }
        }
        @include min-medium-screen {
          @include paddingX(0);
          text-align: center;
          margin-bottom: 0;
          min-width: size(201.43);
          border: 2px solid $smart_dv_green;
          @include flexBasis(16%);
          @include paddingY(size(11.1));
        }

        &:hover {
          border-color: $smart_dv_lime;
        }

        &.selected {
          border-color: $smart_dv_lime;
        }
      }
    }

  }

  .circles {

    margin-top: size(48);
    margin-bottom: size(78);
    display: flex;
    justify-content: center;
    @include medium-screen {
      @include marginY(size(60), size(75));

    }
    @include large-screen {
      @include marginY(size(75), size(110));
    }

    .circle {
      width: 1.4rem;
      height: 1.4rem;
      border: 1px solid #313545;
      border-radius: 50%;
      flex-shrink: 0;
      transform: translate(0, -50%);
    }

    .line {
      border-top: 1px solid #313545;
      width: 100%;
      flex-grow: 1;
    }
  }

  .cards {
    position: relative;
    margin-bottom: size(-33);
    @include small-screen {
      @include marginX(0)
    }
    @include min-medium-screen {
      justify-content: space-between;
      max-width: size(1185);
      @include marginX(auto);
    }

    .account-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 100%;
      overflow: hidden;
      position: relative;
      flex: 100%;
      margin-bottom: size(33);
      @include paddingX(size(26));
      @include paddingY(size(36), size(24));
      background-color: $smart_dv_white;
      box-shadow: 0px size(10) size(10) rgba(0, 0, 0, 0.1);

      &:before {
        content: "";
        position: absolute;
        height: size(40);
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: $smart_dv_lime;
        transition: transform $duration;
        transform: translateY(75%);

      }


      @include min-medium-screen {
        @include paddingX(size(0));
        @include paddingY(size(67), size(8));

        margin-bottom: size(70);
        max-width: size(554);
        &:hover {

          &:before {
            transform: translateY(0);
          }

          .cta-link {
            opacity: 1;
          }
        }
        &:nth-child(odd) {
          @include medium-screen {
            margin-right: size(47);
          }
          margin-right: size(77);
          margin-left: 0;
        }
      }
      @include medium-screen {
        max-width: size(422);

      }

      .sub-title {
        display: block;
        text-align: left;
        position: relative;
        cursor: pointer;
        transition: color $duration;
        padding-bottom: size(20);
        @include small-screen {
          @include font-size(20px, 25px);
        }
        @include min-medium-screen {
          text-align: center;
          max-width: 80%;
          @include marginX(auto)


        }

        &:hover {
          color: $smart_dv_lime;
        }

        &:after {
          content: "";
          position: absolute;
          background-color: $smart_dv_green;
          width: 100%;
          height: 1px;
          top: 100%;
          left: 0;

        }
      }

      .disc {
        margin-top: size(20);
        text-align: center;
        color: #313545;
        line-height: 125%;
        max-width: size(350);
        @include marginX(auto);

        @include small-screen {
          text-align: left;
          font-size: size(14);
          line-height: size(22);
          margin-bottom: size(63);
        }
      }

      .cta-link {
        display: flex;
        align-items: center;
        position: relative;
        @include min-medium-screen {
          margin-top: size(40);
          margin-left: size(30);
          z-index: 10;
          opacity: 0;
          transition: opacity $duration;
        }
        @include large-screen {
          align-items: flex-start;

        }

        svg {
          path {
            fill: $smart_dv_lime;
          }

          @include min-medium-screen {
            path {
              fill: $smart_dv_white;
            }
          }
        }
      }
    }
  }


  .load-more-wrapper {
    margin-top: size(69);

    @include small-screen {
      justify-content: flex-start;
    }

    .cta-link {
      svg {
        @include square(size(10))
      }

      &:hover {
        svg {
          transform: translateX(size(0));

          rect {
            transform: scaleX(1);
          }

          path {
            transform: translateX(size(0));

          }
        }

      }
    }
  }
}




