@import "variables";
@import "mixins";
@import "root";

//region HTML tags
*, :before, :after {
  box-sizing: border-box;
  outline: none;
}

html {
  background-color: #F5F5F5;
  font-size: 10px;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  //region customize html scroll bar firefox
  scrollbar-color: rgb(90, 90, 90) rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;
  //endregion customize html scroll bar firefox
  @include large-screen {
    width: calc(100vw - 4px);
  }

  &.modal-opened {
    overflow: hidden;
  }
}

body:not(.loaded) {
  opacity: 0 !important;
}

body {
  transition: opacity 2*$duration;
}

@supports (-moz-appearance:none) {
  @include large-screen {
    html {
      width: calc(100vw - 8px);
    }
  }
}

//region customize html scroll bar
::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  //background: rgba(0, 0, 0, 0.5); /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: rgb(90, 90, 90);
  //background-color: red; /* color of the scroll thumb */
}

.hide-scrollbar {
  scrollbar-width: none !important; // Hide Scrollbar FireFox
  &::-webkit-scrollbar { // Hide Scrollbar Chrome
    display: none;
  }
}

//endregion customize html scroll bar


// region hyperlink style
a {
  text-decoration: none;
  color: inherit;
  transition: color $duration;
}

// endregion hyperlink style

img, picture {
  display: block;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, form, fieldset {
  margin: 0;
  padding: 0;
}


input, textarea {
  &::placeholder {
    transition: opacity $duration;
    font: inherit;
    line-height: inherit;
    color: inherit;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}

svg {
  path {
    transition: fill, stroke;
    transition-duration: $duration;
  }
}

//endregion HTML tags

//region scroll animation classes
.line-overflow,
.word-overflow {
  overflow: hidden;
  vertical-align: top;
}

[class ^="iv-st"], [class *= " iv-st"] {
  opacity: 0;
  visibility: hidden;
}

.iv-st-from-top, .iv-st-from-bottom, .iv-st-from-left, .iv-st-from-right, .word-up, .line-up, .real-line-up {
  opacity: 0;
  visibility: hidden;
}

//endregion scroll animation classes

//region utility classes
.aspect-ratio {
  position: relative;
  height: 0;

  img, video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.cover-background {
  position: absolute;
  @include square(100%);
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;

  img {
    @include objectImg(cover);
  }
}

.hide {
  &-only-sm {
    @include small-screen {
      display: none !important;
    }
  }

  &-only-md {
    @include medium-screen {
      display: none !important;
    }
  }

  &-only-lg {
    @include large-screen {
      display: none !important;
    }
  }

  &-between-sm-md {
    @include max-medium-screen {
      display: none !important;
    }
  }

  &-between-md-lg {
    @include min-medium-screen {
      display: none !important;
    }
  }
}

.f-w {
  &-900 {
    font-weight: 900 !important;
  }

  &-800 {
    font-weight: 800 !important;
  }

  &-700 {
    font-weight: 700 !important;
  }

  &-400 {
    font-weight: 400 !important;
  }
}


.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.display-block {
  display: block;
}

.load-more-wrapper {
  position: relative;
  transition: opacity $duration;
  display: flex;
  justify-content: center;

  .loader {
    width: size(90);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity $duration;
    opacity: 0;
    pointer-events: none;

    .loader-ball {
      $anim-drt: 0.4s;
      $anim-ease: cubic-bezier(.6, .05, .15, .95);
      @include square(size(20));
      border-radius: 50%;
      background: red;

      &:nth-child(1) {
        animation: itemsLoader $anim-drt alternate infinite $anim-ease;
      }

      &:nth-child(2) {
        animation: itemsLoader $anim-drt $anim-drt/4 alternate infinite $anim-ease backwards;
      }

      &:nth-child(3) {
        animation: itemsLoader $anim-drt $anim-drt/2 alternate infinite $anim-ease backwards;
      }
    }
  }

  .cta-button {
    transition: opacity, background;
    transition-duration: $duration;
  }

  &.loading {
    .loader {
      opacity: 1;
    }

    .cta-button {
      pointer-events: none;
      opacity: 0;
    }
  }

  &.hidden {
    //opacity: 0 !important;
    display: none;
    pointer-events: none;
  }
}

.no-posts {
  display: none;

  &.active {
    display: block;
    text-align: center;
    padding-top: size(80);
    padding-bottom: size(30);
  }
}

//endregion utility classes

//region animations

@keyframes bouncing {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(size(-20), size(-50));
  }
}

@keyframes itemsLoader {
  0% {
    transform: translate3d(0, 1rem, 0) scale(1.2, 0.85);
  }
  100% {
    transform: translate3d(0, -1rem, 0) scale(0.9, 1.1);
  }
}

@keyframes shaking {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}

//endregion animations

// region custom modal
.custom-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 400ms, z-index 400ms;
  z-index: -1;
  @include flex(center, center);
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);

  .contact-form-title {
    display: none;
  }

  .custom-modal-inner {
    position: relative;
    //max-width: 83.33%;
    width: 95%;
    @include min-medium-screen {
      width: 82.8%;
    }
    @include marginX(0);
    transition: opacity 300ms ease-in-out;


    &.modal-loading {
      transition-duration: 0s;
      opacity: 0.5;
    }
  }

  .custom-modal-content {
    max-height: 92vh;
    overflow: auto;
    //scrollbar-width: none !important; // Hide Scrollbar FireFox
    //&::-webkit-scrollbar { // Hide Scrollbar Chrome
    //  display: none;
    //}

    .modal-image {
      margin-bottom: size(30);
      max-width: size(200);

      img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    .w-100 {
      @include flexBasis(100%);
    }

    .modal-left {
      @include small-screen {
        margin-bottom: size(40);
      }
    }

    .modal-left, .modal-right {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(45%);
      }
    }

    .modal-left {
      @include min-medium-screen {
        @include flexBasis(52.24%);
      }
    }

    // region modal left

    .modal-left-title {
      color: inherit;
      @include large-screen {
        max-width: size(275);
      }
    }

    .modal-text {
      margin-top: size(30);
      color: inherit;
    }

    .modal-watch-video {
      margin-top: size(20);
      color: red;
      display: flex;
      align-items: center;
      width: fit-content;
      transition: color $duration;

      &:hover {
        color: red;
      }

      svg {
        color: red;
        @include square(size(20));
        margin-right: size(10);
        flex-shrink: 0;
      }
    }


    // endregion modal left

    // region modal right

    .modal-right-title {
      color: inherit;
      margin-bottom: size(20);
    }

    $popDetailMBLG: 2rem;
    $popDetailMBSM: 1rem;

    .modal-details {
      @include flex(flex-start, space-between, column, wrap);
      margin-bottom: -$popDetailMBSM;
      @include min-medium-screen {
        margin-bottom: -$popDetailMBLG;
      }
    }

    .modal-detail {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid red;
      @include flexBasis(100%);
      padding-bottom: size(10);
      margin-bottom: $popDetailMBSM;
      @include min-medium-screen {
        margin-bottom: $popDetailMBLG;
      }
    }

    .modal-detail-title {
      font-size: size(12);
      font-weight: 400;
      margin-right: size(20);
    }

    .modal-detail-subtitle {
      color: red;
      font-weight: 700;
      font-size: size(14);
      text-transform: uppercase;
    }

    a {
      &:hover {
        color: red
      }
    }

    .modal-accordions {
      margin-top: size(30);
      @include min-medium-screen {
        margin-top: size(50);
      }
    }

    .modal-accordions-title {
      color: inherit;
      margin-bottom: size(20);
      @include large-screen {
        @include font-size(26px, 38px);
      }
    }

    .modal-accordion {
      border-bottom: 1px solid red;
      padding-bottom: size(10);

      &:not(:last-child) {
        margin-bottom: size(20);
      }

      &.accordion-active {
        .modal-accordion-icon {
          transform: rotate(45deg);
        }
      }
    }

    .modal-accordion-title {
      cursor: pointer;
      @include flex(center, space-between);
      font-size: size(12);
      font-weight: 700;
      letter-spacing: 1px;

      a {
        text-transform: uppercase;
      }

      span {
        color: red;
        font-weight: 900;
      }

      .modal-accordion-icon {
        @include square(size(15));
        transition: transform $duration;
        background-color: red;
        border-radius: 50%;
        overflow: hidden;

        path {
          &:first-child {
            fill: red;
          }

          &:not(:first-child) {
            fill: red;
          }
        }
      }
    }

    .modal-accordion-content {
      height: 0;
      overflow: hidden;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 130%;

      a {
        font-weight: 700;
        color: red;

        &:hover {
          color: red;
        }
      }
    }

    .accordion-spacer {
      height: size(10);
    }

    // endregion modal right
  }

  .close-modal {
    background-color: transparent !important;

    svg {
      display: none;
    }
  }

  &.custom-modal-text {
    .custom-modal-content {
      @include flex(flex-start, space-between, false, wrap);
      background-color: red;
      color: red;
      padding: 3vh size(24);
      @include min-medium-screen {
        padding: 5vh size(44);
      }
      @include large-screen {
        padding: 5vh size(44) size(84) 5vh;
      }
    }

    .close-modal {
      position: absolute;
      top: size(30);
      right: size(20);
      @include square(size(30));
      background-color: red;
      border-radius: 50%;
      color: red;
      @include flex(center, center);
      z-index: 6;
      @include min-medium-screen {
        top: size(60);
        right: size(40);
        @include square(size(40));
      }

      &:hover {
        background-color: red;
      }

      .close-modal-text {
        width: 40%;
        height: auto;
        display: inline-block;
      }
    }
  }

  &.custom-modal-video {
    .custom-modal-inner {
      width: 100%;
    }

    .close-modal {
      display: block;
      margin-left: auto;
      margin-right: size(20);
      margin-bottom: size(25);
      @include square(size(25));
      @include min-medium-screen {
        margin-right: size(50);
      }
      @include min-medium-screen {
        @include square(size(32));
      }

      .close-modal-video {
        display: inline-block;
        @include square(100%);
      }
    }

    iframe {
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include marginX(auto);
      height: 55vh;
      @include min-medium-screen {
        width: 100%;
        height: 67.72vh;
      }
    }
  }

  transform: translateX(-100%);

  &.modal-active {
    z-index: 99999;
    opacity: 1;
    pointer-events: auto;
    transform: none;
  }

  &.custom-modal-contact {
    .contact-form-title {
      display: block;
      @include font(32px, 800, 41px, white, false, size(-0.5));
      @include min-medium-screen {
        @include font-size(36px, 41px);
      }
    }


    .close-modal {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      @include marginY(size(30), size(45));
      @include min-medium-screen {
        @include marginY(size(64), size(40));
      }
    }

    .close-modal-video {
      display: block;
      @include square(size(30));
      z-index: 2;

      rect, line {
        stroke: #6943F3 !important;
      }
    }

    .custom-modal-inner {
      background: red;
      @include paddingX(size(20));
      @include min-medium-screen {
        @include paddingX(size(40));
        width: 65%;

      }
      @include large-screen {
        width: 45.7%;
        @include paddingX(size(64));

      }
    }

  }
}

// endregion custom modal

.page-template-gutenberg-template {
  background-color: #FAFAFA;

  .container.content-wrapper {
    margin: 0;
    padding: 0 !important;
    width: 100%;
    max-width: 100%;
    background: #FAFAFA;
  }

  .footer-top {
    display: none;
  }
}

.new-layout-site-wrapper {

}

.senet-block {
  position: relative;

  .headline-1, .wysiwyg-block h1 {
    font-weight: 800;
    font-size: 34px;
    line-height: 117%;
    letter-spacing: 0.2px;
    color: $senet_white;
    @include min-medium-screen {
      font-weight: 800;
      font-size: 56px;
      line-height: 66px;
    }
  }

  .headline-2, .wysiwyg-block h2 {
    font-weight: 800;
    font-size: 28px;
    line-height: 117%;
    color: $senet_white;
    letter-spacing: 0.2px;
    @include min-medium-screen {
      font-weight: 800;
      font-size: 42px;
      line-height: 49px;
    }
  }

  .headline-3, .wysiwyg-block h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $senet_nero;
    letter-spacing: 0.2px;
    @include min-medium-screen {
      font-weight: 800;
      font-size: 36px;
      line-height: 117%;

    }
  }

  .headline-4, .wysiwyg-block h4 {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: $senet_nero;
    letter-spacing: 0.2px;

    @include min-medium-screen {
      font-weight: 700;
      font-size: 28px;
      line-height: 117%;
    }
  }

  .headline-5, .wysiwyg-block h5 {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: $senet_nero;
    letter-spacing: 0.2px;

    @include min-medium-screen {
      font-weight: 400;
      font-size: 20px;
      line-height: 117%;
    }
  }

  .headline-6, .wysiwyg-block h6 {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $senet_nero;
    letter-spacing: 0.2px;
  }

  .label {
    font-weight: 700;
    font-size: 14px;
    line-height: 117%;
    letter-spacing: 0.2px;
  }

  .faq-title {
    letter-spacing: 0.2px;
    line-height: 42.19px;
    text-transform: capitalize;
    font-weight: 900;
    color: #3A65C1;
    font-size: 36px;
    @include small-screen {
      font-size: 24px;
    }
  }

  .faq-title-accordion {
    text-transform: capitalize;
    letter-spacing: 0.2px;

    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #212121;
  }

  .faq-description-accordion {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #616161;
    letter-spacing: 0.2px;
  }

  .container {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1440px;
    @include medium-screen {
      padding-left: 75px;
      padding-right: 75px;
    }
    @include large-screen {
      padding-left: 120px;
      padding-right: 120px;
    }
  }

  .paragraph, .wysiwyg-block p {
    color: $senet_gray;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.2px;


    &.paragraph-small {
      font-size: 12px;
      line-height: 18px;
    }

    p {
      margin-bottom: 0;
    }

    p:not(:last-of-type) {
      margin-bottom: 1em;
    }
  }

  .cta-btn {
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: $senet_white;
    min-width: 267px;
    max-width: 100%;
    width: fit-content;
    text-align: center;
    //border-radius: 60px;
    background-color: $senet_orange;
    transition: color, background-color;
    transition-duration: 500ms;
    border-radius: 0;

    &:hover {
      color: $senet_white !important;
      background-color: #184485;
    }
  }

  .cta-link {
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    line-height: 19px;
    color: $senet_purple;
    width: fit-content;

    svg {
      margin-left: 12px;
      width: 22px;
      height: 11px;
      transition: transform $duration;

    }

    &:hover {
      svg {
        transform: translateX(10px);
      }
    }
  }

  .second-cta-link {
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    line-height: 19px;
    color: #FF5900;
    width: fit-content;
    border: 2px solid #FF5900;
    padding: 15px 32px;

    svg {
      margin-left: 12px;
      width: 22px;
      height: 11px;
      transition: transform $duration;

      path {
        fill: $senet_orange;
      }
    }

    &:hover {
      svg {
        transform: translateX(10px);
      }
    }
  }

  .cover-background {
    position: absolute;
    @include square(100%);
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;

    img, video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  input {
    background: $senet_white;
    border: 1px solid #E9E9E9;
    padding: 15px 16px;
    border-radius: 6px;
    max-width: 294.08px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    color: $senet_blue;
    font-family: $Rubik;

  }

  .gradient-headline {
    position: relative;
    z-index: 9;

    &:after {
      content: "";
      position: absolute;
      background: rgba(126, 233, 143, 0.5);
      top: 54%;
      height: 42%;
      left: 0;
      width: 101%;
      z-index: -1;
    }
  }

  .aspect-ratio {
    position: relative;
    height: 0;

    img, video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .white-color {

  }

  .nero-color {
    color: $senet_nero;
  }

  .dark-color {
    color: $senet_black;
  }

  .fw-700 {
    font-weight: 700;
  }

  .fw-900 {
    font-weight: 900;
  }

  .aspect-ratio {
    position: relative;
    height: 0;

    img, video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  a {
    text-decoration: none !important;
  }


  .swiper-button {
    &:after {
      display: none;
    }
  }
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  z-index: 10;
  /* Modal Content */
  .modal-content {
    background: #FFFFFF;
    box-shadow: 0 4px 19px 8px rgba(17, 43, 100, 0.2);
    margin: auto;
    padding: 40px;
    width: 80%;
    max-width: 626px;
    border-radius: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    max-height: 90vh;
    overflow: auto;

    @include max-medium-screen {
      width: 95%;
    }

    .modal-title-desc {
      margin-bottom: 46px;

      .modal-title {
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.2px;
        text-transform: capitalize;
        color: #3A65C1;
        margin-bottom: 20px;
      }

      .modal-description {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #616161;

        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &.getInTouchModalContent {
      max-width: unset;
      width: 50%;

      .modal-title-desc {
        .modal-description {
          text-align: left;

          p {
            margin-bottom: 15px;

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }

      .gform_footer {
        margin-left: 0 !important;
        width: 100% !important;

        .gform_button {
          padding: 15px 32px;
          text-decoration: none;
          font-size: 16px;
          font-weight: 700;
          line-height: 19px;
          color: $senet_white;
          min-width: 267px;
          max-width: 100%;
          width: fit-content;
          text-align: center;
          //border-radius: 60px;
          background-color: $senet_orange;
          transition: color, background-color;
          transition-duration: 500ms;
          border-radius: 0;

          &:hover {
            color: $senet_white !important;
            background-color: #184485;
          }
        }
      }

      @include max-medium-screen {
        width: 95%;
      }

    }
  }

  /* The Close Button */
  .close {
    opacity: 1;
    color: #FF5900;
    cursor: pointer;
    margin-left: auto;
    margin-bottom: 25px;
  }
}

#satelliteCoverageModal {
  .modal-content {
    max-width: 90%;

    @include large-screen {
      padding: 85px;
      max-width: 1200px;
      position: relative;
      margin: unset;
      .close {
        position: absolute;
        top: 15px;
        right: 25px;
      }
    }
  }

  .modal-wrapper {
    display: flex;

    .modal-image {
      width: 100%;
      @include large-screen {
        width: auto;
        flex: 1 1 auto;
      }
      margin-right: 20px;

      .aspect-ratio {
        padding-top: 83%;
      }
    }

    .modal-title-desc {
      margin-bottom: 0;
      @include large-screen {
        width: 62.35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .modal-title {
        text-align: left;
        margin-bottom: 28px;
      }
    }

    .modal-description {
      text-align: left;
      margin-bottom: 40px;
    }

    button {
      font-size: 16px;
      text-decoration: none;
      font-weight: 700;
      line-height: 19px;
      color: $senet_orange;
      width: fit-content;
      background: none;
      text-align: left;
      white-space: unset;
      padding: 0;

      svg {
        margin-left: 12px;
        width: 22px;
        height: 11px;
        transition: transform $duration;
      }

      &:hover {
        background: none;
        color: $senet_purple !important;

        svg {
          transform: translateX(10px);
        }
      }
    }
  }

  @include max-medium-screen {
    .modal-wrapper {
      flex-direction: column;

      .modal-image {
        margin-right: 0;
        margin-bottom: 30px;

        .aspect-ratio {
          padding-top: 100%;
        }
      }

      .modal-title {
        text-align: left;
      }
    }
  }
}


section:not(.js-loaded){
  opacity: 0;
}



