:root {
  /* Colors: */
  --senet_white: #ffff;
  --senet_black: #000000;
  --senet_nero: #212121;
  --senet_3131: #313131;
  --senet_gray: #616161;
  --senet_orange: #FF5900;
  --senet_highland: #638F5B;
  --senet_indigo: #3A65C1;
  --senet_spindle: #B3D4EC;
  --senet_gallery: #F0F0F0;
  --senet_chateau-green: #44B169;
  --senet_amethyst: #9945C7;
  --senet_abbey: rgba(121, 197, 255, 0.8);
  --senet_alabaster: #FAFAFA;
  --marker-size: 60px;
}
