// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$senet_black: var(--senet_black);
$senet_nero: var(--senet_nero);
$senet_3131: var(--senet_3131);
$senet_gray: var(--senet_gray);
$senet_purple: var(--senet_purple);
$senet_blue: var(--senet_blue);
$senet_green: var(--senet_green);
$senet_light_gray: var(--senet_light_gray);
$senet_yellow: var(--senet_yellow);
$senet_flash_white: var(--senet_flash_white);
$senet_white: var(--senet_white);
$senet_orange: var(--senet_orange);
$senet_highland: var(--senet_highland);
$senet_indigo: var(--senet_indigo);
$senet_spindle: var(--senet_spindle);
$senet_gallery: var(--senet_gallery);
$senet_chateau-green: var(--senet_chateau-green);
$senet_amethyst: var(--senet_amethyst);
$senet_abbey: var(--senet_abbey);
$senet_alabaster: var(--senet_alabaster);

// fonts
$Roboto: 'Roboto';
$Roboto_Condensed: 'Roboto Condensed';
$PT_Serif: 'PT Serif';
$PT_Sans: 'PT Sans';
$Rubik: 'Rubik';
//default duration
$duration: 300ms;
$easing: ease-in-out;
// block border top
$block-border-top: 1.6rem;
//override bootstrap variables
$grid-gutter-width: 2rem;
$container-mobile-padding: 2rem;
$container-tablet-padding: 6rem;
$container-extra-sm: 10rem;
$container-sm: 30px;
$container-md: 70px;
$container-lg: 120px;
$container-max-widths: (
        'md': 100%, //570px
        'lg': 144rem, //760px 88.4
);
$grid-breakpoints: (
        'xs': 0,
        'md': $medium-screen-min-width,
        'lg': $large-screen-min-width,
);

