
@import "styles/sites/successkpi";


footer {
  background-color: $successkpi_dark_blue_2;

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: size(1440);
    margin: auto;
    @include paddingX(size(40));
    @include medium-screen {
      @include paddingX(size(80));
    }
    @include large-screen {
      @include paddingX(size(130));

    }
  }

  .upper-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    @include paddingY(size(229), size(33));
    @include medium-screen {
      @include paddingY(size(229), size(73));

    }
    @include large-screen {
      flex-wrap: nowrap;
    }
  }

  .logo-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    @include medium-screen {
      width: 25%;
    }
    @include large-screen {
      width: 25%;
    }
  }

  .logo {
    margin-bottom: size(22);
    @include min-medium-screen {
      margin-bottom: size(52);
      cursor: pointer;
    }

  }

  .contact {
    @include font(16px, 400, 14px);
    font-family: $roboto;
    color: $successkpi_white;
    margin-bottom: size(16);
    display: block;
  }

  .social-media {
    margin-top: size(20);

    .media-icons {
      color: white;
      margin-right: size(26);
      transition: $duration;

      &:hover {
        color: $successkpi_anti_sky_blue;
      }
    }
  }

  .footer-cols {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: size(60);
    flex-wrap: wrap;
    width: 100%;
    @include medium-screen {
      margin-top: size(50);
    }
    @include large-screen {
      margin-top: size(20);
      width: 61%;
    }
  }


  .second {
    width: 40%;
    @include min-medium-screen {
      width: 21%;
    }
  }

  .third {
    width: 48%;
    margin-top: size(40);
    @include min-medium-screen {
      width: 25%;
      margin-top: unset;
    }
  }

  .fourth {
    width: 40%;
    margin-top: size(40);
    @include min-medium-screen {
      width: 12%;
      margin-top: unset;
    }
  }

  .col-title {
    font-family: $roboto;
    color: $successkpi_white;
    @include font(18px, 700, 28px);
    margin-bottom: size(16);
  }

  .links {
    //width: 45%;
  }

  .link-items {
    list-style: none;

    &:not(:last-child) {
      margin-bottom: size(16);
    }
  }

  .link-description {
    font-family: $roboto;
    @include font(14px, 400, 20px);
    color: $successkpi_anti_flash_white;
  }

  .lower-footer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $successkpi_white;
    flex-wrap: wrap;
    @include min-medium-screen {
      flex-wrap: nowrap;
    }

  }

  .take-off {
    margin-top: size(25);
    width: 100%;
    @include min-medium-screen {
      @include marginY(size(25), size(44));
      width: unset;
    }

  }

  .copy-rights {
    font-size: size(12);
    color: $successkpi_white;
    @include marginY(size(23), size(43));
    display: flex;
    flex-direction: column;

  }

  a {
    transition: $duration;
    cursor: pointer;

    //&:hover {
    //  color: $successkpi_anti_sky_blue;
    //}
  }

  &.old-footer-style {
    //background-color: #727588;

    .footer-wrapper {
      @include paddingX(size(52));
      @include large-screen {
        @include paddingX(size(93), size(88));
      }
    }


    .upper-footer {
      @include paddingY(size(76), size(89));
      @include small-screen {
        flex-direction: column-reverse;
      }
      @include min-medium-screen {
        @include paddingY(size(85));
      }
    }


    .logo-info {
      @include large-screen {
        width: 15%;
        margin-right: size(40);
      }
    }

    .logo {
      margin-bottom: 0;
    }

    .logo-wrapper {

      @include small-screen {
        width: size(207);
        height: size(131);
      }
      width: size(182);
      height: size(88);
      margin-bottom: size(24);

      img {
        @include square(100%);
        object-fit: contain;
      }
    }

    .col-title {
      @include font(26px, 500, 24px);
      margin-bottom: size(29);
      color: $successkpi_white;

      @include large-screen {
        font-size: size(16);
      }
    }

    .link-description {
      @include font(16px, 400, 24px);
      color: $successkpi_white;
    }

    .footer-cols {
      margin-top: 0;
      @include small-screen {
        flex-direction: column;
      }
      @include large-screen {
        width: 95%;
      }
    }

    .footer-col {
      @include small-screen {
        margin-bottom: size(50);
        margin-top: 0;
        width: 100%;
      }
    }

    .link-items {
      @include small-screen {
        &:not(:last-child) {
          margin-bottom: size(22);
        }
      }
    }

    .copy-rights {
      margin: 0;
      @include font-size(16px, 24px);

      .legal-privacy {
        color: #ccffff !important;

        span {
          color: #ffffff;
        }
      }
    }

    .contact {
      @include font(16px, 400, 24px);
      color: $successkpi_white;
      margin-bottom: size(16);
      display: block;
    }


  }
}


