@import "styles/sites/eisgroup";

.eis_resources_block {
  padding-bottom: size(30);

  .container {
    @include large-screen {
      @include paddingX(size(80))
    }
  }

  .search-part-content {
    display: flex;
    @include small-screen {
      width: 100%;
      justify-content: space-between;
    }
  }

  /* clears the 'X' from Internet Explorer */
  input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the 'X' from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  .posts {
    margin-top: size(43);
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(51.55%)
    }
    @include large-screen {
      @include flexBasis(66.55%)
    }
  }

  .cards-filter {
    display: flex;
    justify-content: space-between;
    @include small-screen {
      flex-direction: column;
    }
  }

  .search-part {
    @include flex(center, flex-end);
    @include small-screen {
      flex-direction: column;
      margin-bottom: size(20);
      overflow: hidden;
    }

  }

  .sort-by-wrapper {
    @include flex(center);
    @include font-size(14px, 22px);
    font-family: $Source_Sans_Pro;
    color: $eisgroup_black;
    @include min-medium-screen {
      margin-left: size(60);
    }
  }

  .sort-by {
    font-weight: 700;
  }

  .sort-by-result {
    background: transparent !important;
    border: unset;
    @include font-size(14px, 22px);
    font-family: $Source_Sans_Pro;
    color: $eisgroup_black;
    cursor: pointer;
  }

  .search-wrapper {
    position: relative;
    @include small-screen {
      @include flexBasis(61.142857%)
    }
    @include min-medium-screen {
      margin-left: size(35);
    }

    .search-icon {
      position: absolute;
      right: size(22);
      top: 50%;
      transform: translateY(-50%);
      @include square(size(16));
      cursor: pointer;
    }

    input {
      background: $eisgroup_white;
      border: size(1) solid $eisgroup_black;
      border-radius: size(3);
      padding: size(5) size(20);
      @include font-size(14px, 22px);
      color: $eisgroup_black;
      width: size(200);
      @include min-medium-screen {
        padding: size(10) size(24);
        width: size(190);
      }
    }
  }

  .line {
    height: size(1);
    background: $eisgroup_soft_black;
    flex-grow: 1;
    @include small-screen {
      width: 100%;
      margin-bottom: size(20);
    }
  }

  /// form part
  form {
    display: flex;
    flex-direction: column;

    [data-taxonomy="eis-resources-type"] {
      order: 1;
    }
  }

  .filter-title {
    color: $eisgroup_real_black;
    font-weight: 700;
    @include min-medium-screen {
      margin-bottom: size(6);
    }
    @include small-screen {
      @include font-size(18px, 24px);
      @include flex(center, space-between);
      cursor: pointer;
      .show-in-mobile {
        width: size(15);
        height: size(8);
      }
    }
  }

  .filter-subtitle {
    color: $eisgroup_real_black;
    @include small-screen {
      margin-top: size(10);
    }
  }

  .checkbox-wrapper {
    background: white;
    width: 100%;
    padding: size(20);
    border-radius: size(3);
    height: 100%;
    @include flexBasis(100%);
    @include min-medium-screen {
      padding: size(30);
      margin-top: size(23);
      @include flexBasis(35%)
    }
    @include large-screen {
      @include flexBasis(28.2%)
    }

    label {
      @include font-size(14px, 24px);
      color: $eisgroup_real_black;

    }
  }

  .form-title {
    color: $eisgroup_black;
    font-weight: 700;
    @include marginY(size(20), size(6));
    cursor: pointer;
    @include flex(center);
    @include font-size(14px, 24px);

    svg {
      transition: transform $duration;
      width: size(11);
      height: size(6);
      margin-left: size(7);
    }
  }

  .active-category-title {
    svg {
      transform: rotate(180deg);
    }
  }

  .mobile-collapse {
    svg {
      transform: rotate(180deg);
    }
  }

  .option-wrapper {
    display: flex;

    &:not(:last-of-type) {
      margin-bottom: size(5);
    }

    input {
      margin: 0;
      cursor: pointer;
    }

    label {
      padding-left: size(7);
      cursor: pointer;
    }
  }

  .form-menu {
    overflow: hidden;
  }

  .apply-btn {
    padding: size(10) size(20);
    border: size(1) solid $eisgroup_black;
    border-radius: size(3);
    cursor: pointer;
    text-align: center;
    margin-top: size(20);
    transition: background $duration, color $duration;

    &:hover {
      background: $eisgroup_black;
      color: $eisgroup_white;
    }
  }

  .collapse-in-mobile {
    @include small-screen {
      overflow: hidden;
      height: 0;
    }
  }

  .show-in-mobile {
    transition: transform $duration;
    @include min-medium-screen {
      display: none;
    }
  }

  .load-more-wrapper {

  }

  .pagination-numbers {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    cursor: pointer;

    svg {
      @include square(size(24));
      opacity: 0.2;

      &:hover {
        opacity: 1;
      }


    }

    .number {
      @include font(18px, 700, 24px, #222222, $Source_Sans_Pro, 0.02em);
      opacity: 0.6;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: size(40);
      }

      &:hover {
        color: #33657E;
        opacity: 1;
      }

      &.active {
        color: #33657E;
        opacity: 1;
      }
    }


  }

  .left-arrow {
    margin-right: size(40);

    &.active {
      svg {
        opacity: 1;

      }
    }
  }


  .right-arrow {
    margin-left: size(40);

    &.active {
      svg {
        opacity: 1;

      }
    }
  }

  .resource_card_block {
    width: 100%;
    display: block;

    .content-wrapper {
      display: flex;
      justify-content: space-between;
      padding-bottom: size(20);
      border-bottom: 1px solid $eisgroup_soft_black;
      margin-bottom: size(40);
      min-height: size(210);
      @include max-medium-screen {
        flex-direction: column-reverse;
      }
    }

    .over-flow-wrapper, .media-wrapper {
      @include medium-screen {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .featured-image {
      cursor: pointer;
      @include flexBasis(100%);
      background: var(--card-color);
      border-radius: size(3.5);
      overflow: hidden;
      position: relative;
      @include small-screen {
        padding-top: calc(56.25% + 3rem);
      }
      @include medium-screen {
        height: size(283);
        min-height: size(283);
      }
      @include max-medium-screen {
        margin-bottom: size(20);
      }
      @include large-screen {
        @include flexBasis(33%);
        height: size(189);
        min-height: size(189);
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .over-flow-wrapper {
      @include square(100%);
      display: flex;
      align-items: flex-end;
      justify-content: center;
      @include large-screen {
        overflow: hidden;
      }
    }

    .media-wrapper {
      overflow: hidden;
      position: relative;
      filter: drop-shadow(0 size(3) size(15) rgba(0, 0, 0, 0.75));
      @include small-screen {
        padding: size(30) size(21);
        width: 100%;
        position: absolute;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      @include medium-screen {
        width: 100%;
        padding: size(30);
      }
      @include large-screen {
        width: calc(100% - 4.4rem);
        height: calc(100% - 5.6rem);
      }

      &.remove {
        .poster-img, .play-button {
          pointer-events: none;
          opacity: 0;
          box-shadow: none;
        }
      }
    }

    .card-shape {
      position: absolute;
      bottom: 0;
      right: 0;
      mix-blend-mode: multiply;
      height: 100%;
      pointer-events: none;

      path {
        fill: #00000036;
      }
    }

    .text-content {
      @include flexBasis(100%);
      @include large-screen {
        @include flexBasis(63%);
      }
      display: flex;
      flex-direction: column;

      .description {
        a {
          display: none;
        }
      }
    }

    .title {
      margin-bottom: size(10);
      color: $eisgroup_real_black;
      @include font-size(24px, 34px);

    }

    .description {
      margin-bottom: size(20);
      color: $eisgroup_real_black;
      @include font-size(18px, 28px);

    }

    .info-wrapper {
      display: flex;
      margin-top: auto;
      margin-bottom: size(-17);
      margin-right: size(-20);
      height: size(48);
      overflow: hidden;
      transition: height $duration;
      width: 100%;

      .terms {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: calc(100% - 3rem);
      }

      .icon {
        margin-left: size(10);
        width: size(16);
        height: size(16);
        line-height: 0;
        margin-top: 8px;
        display: none;
        cursor: pointer;

        &.active {
          display: block;
        }

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .margin-right-20 {
      margin-bottom: size(17);
      margin-right: size(20);
    }

    .type {
      background: var(--card-color);
      display: flex;
      align-items: center;
      padding: size(5) size(10);
      border-radius: size(3);
      color: $eisgroup_white;

      &.light {
        color: $eisgroup_black;
      }
    }

    .icon {
      height: size(14);
    }

    .info-text {
      color: $eisgroup_black;
    }

    .type-text {
      color: $eisgroup_white;
      margin-left: size(5);
      line-height: 100%;
    }

    .small-text {
      line-height: 150%;
    }

    .plus-icon {
      margin-left: size(30);
      cursor: pointer;
    }

    .remove-for-space {
      @include max-medium-screen {
        display: none;
      }
    }

    //.video-player {
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  height: 100%;
    //  width: 100%;
    //
    //  &.vimeo {
    //    top: unset;
    //    bottom: 0;
    //    height: unset;
    //  }
    //
    //}


    .card-details {
      @include square(100%);
      position: absolute;
      bottom: 0;
      z-index: 2;

      box-shadow: 0 size(4) size(8) rgba(0, 0, 0, 0.1);
      @include max-medium-screen {
        width: 80%;
        height: 80%;
        position: absolute;
        bottom: 50%;
        left: 50%;
        z-index: 1;
       // box-shadow: 0 0.4rem 0.8rem rgb(0 0 0 / 10%);
        transform: translate(-50%, 50%);
      }
    }


    .video-player, .video-iframe {
      width: 100%;

    }

    //.video-iframe {
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  height: 100%;
    //}

    .video-cont {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      @include max-medium-screen {
        padding-top: 50%;

      }
    }

    //.aspect-ratio {
    //  padding-top: 69.25%;
    //
    //  iframe {
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //    width: 100%;
    //    height: 100%;
    //  }
    //
    //  @include max-medium-screen {
    //    padding-top: 0;
    //    position: unset;
    //    width: 100%;
    //    height: 100%;
    //  }
    //}

    video, iframe {
      width: 100% !important;
      height: 100% !important;
    }

    .poster-img {
      transition: opacity $duration;
      z-index: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include small-screen {
        padding: size(24) size(21);
      }
      @include medium-screen {
        padding: size(30);
      }

      &.remove {
        opacity: 0;
        pointer-events: none;
      }
    }

    .video-wrapper {
      @include square(100%);

      .aspect-ratio {
        height: 100%;
      }
    }

    .is-event {
      position: absolute;
      top: size(12);
      left: size(-15);
      align-items: flex-start;
      background: $eisgroup_white;
      border-radius: size(3);
      padding: 0 size(12) size(12) size(8);
      z-index: 2;
      box-shadow: 0 size(4) size(8) rgba(0, 0, 0, 0.1);
      display: none;
    }

    .date-icon {
      padding-right: size(8);
    }

    .event-date, .date-day {
      @include small-screen {
        line-height: 100%;
      }
    }

    .event-date {
      margin-top: size(10);
    }

    .date-day {
      font-weight: 700;
    }

    &.has-event {
      .is-event {
        display: flex;

      }
    }

    .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      cursor: pointer;
      transition: opacity 300ms;

      svg {
        @include square(size(60));
      }

      &.remove {
        opacity: 0;
        pointer-events: none;
      }
    }

  }
}



