@import "styles/sites/propellerheath";

.image_illustration_content_slider {
  padding-top: size(30);
  padding-bottom: size(55);
  @include min-medium-screen {
    @include paddingY(size(156))
  }
  @include large-screen {
    @include paddingY(size(216))

  }
  .site-dots {
    top: size(50);
    @include min-medium-screen {
      top: 0;
      transform: rotate(15deg) scale(1.1);
    }
  }
  .container {
    @include large-screen {
      @include paddingX(size(202));
    }
  }

  .content-wrapper {
    position: relative;
  }

  .block-title {
    text-align: center;
    margin-bottom: size(40);
    z-index: 1;
    @include small-screen {
      max-width: size(310);
      @include marginX(auto)
    }
    @include min-medium-screen {
      @include paddingX(size(80));
      margin-bottom: size(80);
    }
    @include large-screen {
      margin-bottom: size(130);
    }

    span {
      font-weight: 700;
    }
  }

  // Numbers Style

  .slide-numbers-wrapper {
    display: flex;
    align-items: flex-end;
    color: $propellerhealth_primary;
    font-weight: 700;
    margin-bottom: size(7);
  }

  .counting-number {
    font-size: size(46);
    line-height: 100%;

  }

  .slides-numbers {
    font-size: size(16);
    line-height: 100%;
    margin-left: size(8);
    display: inline-block;
    letter-spacing: size(1.1);
    font-weight: 700;
    margin-bottom: size(5);
  }

  // End Numbers Style
  .slides-wrapper {
    overflow: hidden;
    display: grid;
    grid-template: 1fr/1fr;

  }

  .slide-wrapper {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    align-items: flex-start;
    opacity: 0;
    transition: transform $duration, opacity $duration;
    justify-content: space-between;
    @include small-screen {
      flex-direction: column-reverse;
      align-items: center;
    }
    @include large-screen {
      align-items: flex-end;
    }
    @include min-medium-screen {
      transform: translateY(-100%);
    }
    &.active {
      opacity: 1;
      @include min-medium-screen {
        transform: translateY(0);
      }
    }
    &.active~.slide-wrapper {
      opacity: 0;
      @include min-medium-screen {
        transform: translateY(100%);
      }
    }
  }

  // Text Style

  .moving-text-wrapper {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(42%);
    }
  }

  .repeater-text {
    &:not(:last-of-type) {
      margin-bottom: size(30);
    }
  }

  .title {
    font-weight: 700;
    margin-bottom: size(18);
    @include small-screen {
      font-size: size(24);
    }
    sup {
      font-size: size(16);
      font-weight: 800;
    }
  }

  .small-title {
    color: $propellerhealth_denim;
    font-weight: 700;
    margin-bottom: size(11);
  }

  .list-wrapper {
    list-style: none;
  }

  .description {
    font-weight: 600;
  }

  .list-content {
    display: flex;
    align-items: center;

    &:before {
      content: "";
      width: size(5);
      height: size(2);
      background: $propellerhealth_primary;
      margin-right: size(7);
    }
  }

  // Illustration Style
  .illustration-wrapper {
    position: relative;
    @include small-screen {
      margin-bottom: size(46);
    }
    @include min-medium-screen {
      @include flexBasis(38%);
    }

    svg, img {
      width: 100%;
      object-fit: contain;
      height: size(227);
      @include small-screen {
        @include marginX(auto);
        display: block;
      }
      @include min-medium-screen {
        @include square(100%)
      }
    }
  }

  .slide-shape {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    top: size(-20);
    width: 100%;
    height: size(266);
    @include min-medium-screen {
      left: 80%;
      top: 16%;
    }
    @include large-screen {
      left: 82%;
      top: 21%;
    }

    &:after {
      @include small-screen {
        width: size(300);
        height: size(250);
      }
      @include medium-screen {
        width: size(442);
        height: size(379);
      }
    }
  }

  .steps-dots-wrapper {
    display: flex;
    align-items: center;
    width: fit-content;
    position: absolute;
    @include small-screen {
      left: 50%;
      transform: translateX(-50%);
      top: size(250);
    }
    @include min-medium-screen {
      right: 12%;
      bottom: size(-50);
    }
  }

  .step-dot {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    cursor: pointer;
    transition: background $duration;
    background-color: $propellerhealth_primary_tint;
    @include square(size(7));
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: content-box;
    box-sizing: content-box;
    padding: size(3);
    @include min-medium-screen {
      @include square(size(10));
      padding: size(5);
    }
    @include large-screen {
      @include square(size(15.53));
    }
    &:not(:last-of-type) {
      @include min-medium-screen {
        margin-right: size(10);
      }
    }

    &:hover {
      background-color: $propellerhealth_primary;
    }

    &.active {
      background-color: $propellerhealth_primary;
    }
  }

  .wysiwyg-block p {
    margin-bottom: size(33);
    @include small-screen {
      margin-bottom: size(13);
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  @include small-screen {
    .wysiwyg-block h4 {
      margin-bottom: size(10);
    }
  }

}







