
@import "styles/sites/cyberhill";


.link_list_block {
  @include paddingY(size(64));
  @include min-medium-screen {
    @include paddingY(size(110));
  }
  @include large-screen {
    @include paddingY(size(171), size(175));
  }
  
  .title-with-shape {
    margin-bottom: size(24);
    @include min-medium-screen {
      margin-bottom: size(48);
    }
  }
  
  .headline-4 {
    margin-bottom: size(24);
    color: $cyberHill-Blue;
    @include min-medium-screen {
      margin-bottom: size(48);
      max-width: size(720);
    }
  }
  
  .link-wrapper {
    @include flex(center, space-between);
    border-bottom: 1px solid $cyberHill-zumthor;
    padding-bottom: size(16);
    overflow: hidden;
    transition: background $duration, border-radius $duration;
    @include min-medium-screen {
      @include paddingY(size(8), size(14));
      @include paddingX(size(8));
    }
    
    &:not(:last-child) {
      margin-bottom: size(15);
      @include min-medium-screen {
        margin-bottom: size(8);
      }
    }
    
    &:hover {
      @include min-medium-screen {
        background: $cyberHill-alice-blue;
        border-radius: size(8);
        .headline-2 {
          color: $cyberHill-tangaroa;
        }
        
        .primary-button-only-arrow {
          margin-left: size(16);
          transform: translateX(0);
          @include square(size(35));
        }
      }
      
      @include large-screen {
        .primary-button-only-arrow {
          @include square(size(48));
        }
        
      }
    }
  }
  
  .headline-2 {
    color: $cyberHill-Blue;
    transition: color $duration;
    width: 60%;
    @include small-screen{
      font-size: size(23);
    }
    @include min-medium-screen {
      width: 70%;
    }
  }
  
  .primary-button-only-arrow {
    background: $cyberHill-Blue;
    border: 0;
    @include square(size(24));
    margin-left: size(8);
    @include min-medium-screen {
      @include square(0);
      transform: translateX(size(90));
      transition-property: width, height, margin-left, transform;
      transition-duration: $duration;
    }
    
    .arrow{
      @include small-screen{
        width: 50%;
      }
    }
  }
  
  .more-info-content {
    display: flex;
    align-items: center;
  }
  
  .paragraph {
    color: $cyberHill-tangaroa;
    @include small-screen{
      font-size: size(10);
      line-height: 150%;
    }
  }
}


