@import "styles/sites/raistone";


.open_positions_block {
  background: $raistone_white;
  @include paddingY(size(120), size(100));
  z-index: 2;
  position: relative;
  overflow: hidden;

  .container {
    @include large-screen {
      @include paddingX(size(152), size(178));
    }
  }

  .open-position-img {
    position: absolute;
    width: size(339);
    height: size(189);
    top: 0;
    z-index: -1;
    right: 65%;
    @include min-medium-screen {
      z-index: -1;
      width: size(339);
      height: size(229);
      top: 0;
      right: 77%;
    }
    @include large-screen {

      top: 0;
      width: size(419);
      height: size(419);
      right: 83%;
    }
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include small-screen {
      margin-top: size(60);
    }

    .title {
      color: $raistone_jet_black;
      text-align: left;
      @include min-medium-screen {
        @include font-size(63px, 78.8px);
        letter-spacing: -0.015em;
        text-align: center;

      }
    }

    .description {
      font-family: $lato;
      //font-weight: 700;
      max-width: size(1088);
      color: $raistone_gery;
      text-align: left;
      margin-top: size(22);
      @include min-medium-screen {
        @include font-size(26px, 38px);
        text-align: center;
      }

      @include large-screen {
        @include font-size(26px, 38px);
        margin-top: size(19);
      }

      span {
        font-weight: 700;
      }
    }
  }

  .cards-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: size(90);
    @include large-screen {
      margin-top: size(72);
    }
  }

  .card-head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: size(20);
    cursor: pointer;

    svg {
      width: size(12);
      height: size(6);
      margin-top: size(10);
    }

  }

  .card-body {
    height: 0;
    overflow: hidden;

    .card-body-text {
      color: $raistone_gery;
      @include font(22px, 400, 36px, $raistone_gery, $lato);
    }

    .btn-orange {
      @include marginX(0);
      background: #FBBF49;
      color: $raistone_jet_black;
      transition: background, color $duration;
      margin-bottom: size(25);

      &:hover {
        background: $raistone_green;
        color: $raistone_white;
      }
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E5E7EB;
    padding-bottom: size(25);
    margin-bottom: size(50);
    width: 100%;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    @include min-medium-screen {
      margin-bottom: size(60);
    }
    @include large-screen {
      margin-bottom: size(43);

    }

    .arrow {
      transition: transform $duration;
    }

    &.faq-active {
      .arrow {
        transform: scaleY(-1);
      }
    }
  }

  .card-content {
    a {
      width: fit-content;
    }
  }

  .card-title {
    font-family: $montserrat;
    font-weight: 600;
    color: $raistone_green;
    display: flex;
    align-items: flex-end;
    margin-bottom: size(8);
    @include min-medium-screen {
      min-height: var(--card-title-height, auto);
      @include font-size(26px, 36px);
      letter-spacing: -0.015em;
    }
  }

  a.card-title {
    transition: color $duration;

    &:hover {
      color: $raistone_canary;
    }
  }

  .content {
    margin-top: auto;
  }

  .date-country {
    color: $raistone_gery;
    font-family: $lato;
    @include font-size(26px, 40px);
  }


  .btn {
    margin-top: size(47);
    @include marginX(auto);
    background: $raistone_green;
    color: $raistone_white;

    &:hover {
      background: $raistone_mid_green;
    }
  }


}
