section a {
  pointer-events: none !important;
}

.acf-block-preview {
  zoom: 0.8;
}

.block-editor__container img {
  width: auto;
}

[class^="iv-st"], [class*=" iv-st"], .iv-st-from-top, .iv-st-from-bottom, .iv-st-from-left, .iv-st-from-right, .word-up, .line-up, .real-line-up {
  opacity: 1 !important;
  visibility: visible !important;
}

html[dir=rtl] * {
  direction: rtl !important;
}

.card {
  position: unset;
  margin-top: unset;
  padding: unset;
  min-width: unset;
  max-width: unset;
  border: unset;
  box-shadow: unset;
  background: unset;
  box-sizing: unset;
}

.editor-styles-wrapper .wp-block {
  max-width: calc(100% - 32px) !important;
}

.block-editor-inserter__preview-container .wp-block {
  max-width: 100% !important;
  margin: 0 !important;
}

.block-editor-inserter__preview-container img {
  max-width: 100% !important;
  max-height: 318px !important;
  object-fit: contain !important;
}

.block-editor-block-preview__container.editor-styles-wrapper {
  height: 350px !important;
}

.block-editor-inserter__preview-container {
  width: 600px !important;
}

div.block-editor-block-preview__content {
  transform: scale(1) !important;
  width: calc(100% - 32px) !important;
}

.interface-interface-skeleton__sidebar > div {
  width: 100% !important;
}

.interface-interface-skeleton__sidebar {
  width: 500px !important;
}

.small-field .acf-editor-wrap iframe,
.small-field .acf-editor-wrap.delay .wp-editor-area {
  min-height: 0 !important;
  height: 100px !important;
}

.wp-block-freeform.block-library-rich-text__tinymce p {
  min-height: 2vh;
  margin: 0 !important;
}

input, textarea {
  border: 1px solid #7e8993;
  color: #000000;
}