@import "variables";
@import "mixins";
@import "swiper/css";

:root {
    /* Colors: */
    --kiwi-black: #000000;
    --kiwi-white: #ffffff;
    --kiwi-gray: #292929;
    --kiwi-semi-gray: #313131;
    --kiwi-dark-gray: #707070;
    --kiwi-gray-59: #969696;
    --kiwi-gray-86: #dbdbdb;
    --kiwi-gray-90: #e5e5e5;
    --kiwi-dark-red: #ec4034;
    --kiwi-green: #31a94f;
    --kiwi-yellow: #fcbe2c;
    --kiwi-blue: #2f6eb6;
    --kiwi-nero: #1a1a1a;
    --kiwi-gainsboro: #e2e2e2;
}

//region HTML tags
* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 10px;
    width: 100%;
    font-family: $Comfortaa, $Avenir, 'sans-serif';
}

a {
    text-decoration: none;
    color: inherit;
}


img, picture {
    display: block;
}

button {
    border: none;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, form {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

main {
    overflow: hidden;
}

path {
    transition: all 400ms;
}

//endregion HTML tags

.container {
    @include paddingX(size(20));
    @include min-medium-screen {
        @include paddingX(size(55));
    }
}

[smooth-scroll-container] {
    //width: auto;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

//region scroll animation classes
.line-overflow,
.word-overflow {
    overflow: hidden;
    vertical-align: top;
}

[class ^="iv-st"], [class *= " iv-st"] {
    opacity: 0;
    visibility: hidden;
}

.iv-st-from-top, .iv-st-from-bottom, .iv-st-from-left, .iv-st-from-right, .word-up, .line-up, .real-line-up {
    opacity: 0;
    visibility: hidden;
}

//endregion scroll animation classes

//region utility classes
.overflow-hidden {
    overflow: hidden;
}

.hover-arrow {
    .right-arrow, .left-arrow {
        transition: all 400ms;
    }
    
    &:hover {
        .right-arrow {
            //transform: translateX(40%) rotateX(0.01deg) !important;
            margin-left: size(20);
        }
        
        .left-arrow {
            //transform: translateX(40%) rotateX(0.01deg) !important;
            margin-right: size(20);
        }
    }
}

.hover-zoom {
    transition: transform 800ms;
    
    &:hover {
        transform: scale(1.1) !important;
    }
}

.hover-zoom-child {
    overflow: hidden;
    
    > .zoom-in {
        transition: transform 800ms;
    }
    
    &:hover {
        > .zoom-in {
            transform: scale(1.1) !important;
        }
    }
}

.hover-darken {
    transition: filter 400ms;
    
    &:hover {
        filter: brightness(0.6);
    }
}

svg.circle {
    transform-origin: center;
    animation: circle-rotate 10s infinite linear;
    width: size(480);
    height: size(480);
    @include min-medium-screen {
        width: size(680);
        height: size(680);
    }
    @include x-large-screen {
        width: size(780);
        height: size(780);
    }
}

@keyframes circle-rotate {
    to {
        transform: rotate(360deg);
    }
}

.gutter {
    &--115 {
        @include change-gutter(size(50));
        @include x-large-screen {
            @include change-gutter(size(115))
        }
    }
    
    &--115v {
        @include change-gutter(false, size(50));
        @include x-large-screen {
            @include change-gutter(false, size(115))
        }
    }
    
    &--98 {
        @include change-gutter(size(76));
        @include x-large-screen {
            @include change-gutter(size(98));
        }
    }
    
    &--40 {
        @include change-gutter(size(40));
    }
}

.hide {
    display: none;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.mobile-only {
    display: flex;
    @include min-small-screen {
        display: none;
    }
}

.desktop-only {
    display: none;
    @include min-small-screen {
        display: flex;
    }
}

//endregion utility classes

//region contact form 7
.wpcf7-not-valid-tip {
    font-size: size(10);
    color: #d8000c;
    background-color: #ffbaba;
    border: 0;
    position: absolute !important;
    bottom: 100%;
    max-width: size(500);
    box-shadow: none;
    width: fit-content;
    padding: size(4) size(12);
    font-weight: bold;
    border-radius: size(2);
    z-index: 10;
}

.wpcf7-form-control-wrap {
    display: inline-block;
    
    select {
        -webkit-appearance: none;
    }
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.sent .wpcf7-response-output {
    position: absolute;
    top: 98%;
    width: fit-content;
    color: #d8000c;
    background-color: #ffbaba;
    border: 0;
    padding: size(10);
    left: 50%;
    transform: translateX(-50%);
}

.wpcf7 form.sent .wpcf7-response-output {
    color: #0c6d16;
    background-color: #bdf1bf;
}

//endregion contact form 7

//region swiper
.swiper-container {
    height: auto !important;
}

.swiper-wrapper {
    height: auto !important;
    @include x-large-screen {
        width: auto !important;
    }
  .swiper-slide{
    max-width: 100%;
  }
}

.swiper-btns {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: size(20);
    @include min-medium-screen {
        margin-bottom: 0;
    }
    @include x-large-screen {
        display: block;
    }
    
    .swiper-button {
        width: size(82);
        height: size(82);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: grab;
        position: relative;
        
        .swiper-btn-bg {
            background: $kiwi-black;
            border-radius: 100%;
            transform: scale(0);
        }
        
        .swiper-btn-border {
            border: size(2) solid $kiwi-semi-gray;
            border-radius: 50%;
        }
        
        .swiper-btn-bg, .swiper-btn-border {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: transform .4s cubic-bezier(.19, 1, .22, 1), opacity .4s cubic-bezier(.19, 1, .22, 1);
            will-change: transform;
        }
        
        &:not(.swiper-button-disabled) {
            &:hover {
                .swiper-btn-bg {
                    transform: scale(1);
                    transition: transform .9s cubic-bezier(.19, 1, .22, 1);
                }
                
                .swiper-btn-border {
                    opacity: 0;
                    transform: scale(1.5);
                    transition: transform .4s cubic-bezier(.19, 1, .22, 1), opacity .3s cubic-bezier(.19, 1, .22, 1);
                }
            }
        }
        
        svg {
            position: relative;
            
            path {
                fill: #666767;
            }
        }
        
        &:not(:last-child) {
            margin-left: size(10);
            @include x-large-screen {
                margin-left: 0;
                margin-bottom: size(10);
            }
        }
        
        &.swiper-button-disabled {
            .swiper-btn-border {
                border-color: $kiwi-gainsboro;
            }
            
            svg {
                path {
                    fill: $kiwi-gainsboro;
                }
            }
        }
    }
}

//endregion swiper

// region general classes

.headline-1, .wysiwyg-block h1,.wysiwyg-block .headline-1 {
    color: $kiwi-dark-red;
    font-family: $Comfortaa;
    font-size: size(80);
    font-weight: 400;
    line-height: normal;
    @include min-medium-screen {
        font-size: size(100);
    }
    @include min-large-screen {
        font-size: size(130);
    }
    @include x-large-screen {
        font-size: size(200);
    }
    
    &.size120 {
        font-size: size(40);
        @include min-medium-screen {
            font-size: size(55);
        }
        @include min-large-screen {
            font-size: size(60);
        }
        @include x-large-screen {
            font-size: size(120);
        }
        
    }
}

.headline-2, .wysiwyg-block h2,.wysiwyg-block .headline-2 {
    color: $kiwi-dark-gray;
    font-family: $Comfortaa;
    font-size: size(35);
    font-weight: 400;
    line-height: size(44);
    @include min-medium-screen {
        font-size: size(45);
        line-height: size(55);
    }
    @include x-large-screen {
        font-size: size(60);
        line-height: size(71);
    }
}

.headline-3, .wysiwyg-block h3,.wysiwyg-block .headline-3 {
    color: $kiwi-gray;
    font-family: $Comfortaa;
    font-size: size(30);
    font-weight: 400;
    line-height: size(35);
    @include min-medium-screen {
        font-size: size(38);
        line-height: size(45);
    }
    @include x-large-screen {
        font-size: size(48);
        line-height: size(50);
    }
    //font-size: size(50);
    //line-height: size(64);
    //&.size48 {
    //    font-size: size(48);
    //    line-height: size(50);
    //
    //    &.light {
    //        font-weight: 300;
    //    }
    //}
}

.headline-4, .wysiwyg-block h4,.wysiwyg-block .headline-4 {
    font-family: $Avenir;
    font-size: size(30);
    font-weight: 300;
    //line-height: size(44);
    line-height: normal;
    @include x-large-screen {
        font-size: size(40);
    }
    
    &.comfortta {
        font-family: $Comfortaa;
        font-weight: 400;
    }
}

.headline-5, .wysiwyg-block h5,.wysiwyg-block .headline-5 {
    color: $kiwi-dark-red;
    font-family: $Comfortaa;
    font-size: size(25);
    font-weight: 400;
}

.headline-6, .wysiwyg-block h6,.wysiwyg-block .headline-6 {
    color: $kiwi-dark-gray;
    font-family: $Avenir;
    font-size: size(20);
    font-weight: 300;
    line-height: normal;
    
    &.heavy {
        font-weight: 900;
        color: $kiwi-white;
    }
    
    &.normal {
        font-weight: 400;
    }
}

.paragraph, .wysiwyg-block p {
    color: $kiwi-gray;
    font-family: $Avenir;
    font-size: size(21);
    font-weight: 300;
    line-height: 120%;
    @include min-medium-screen {
        font-size: size(25);
    }
    @include x-large-screen {
        font-size: size(30);
    }
    
    &.size19 {
        font-size: size(19);
        line-height: size(36);
    }
    
    &.size15 {
        color: $kiwi-dark-gray;
        font-size: size(15);
        font-weight: 500;
        line-height: normal;
    }
    
    &.size12 {
        font-size: size(12);
        line-height: normal;
    }
    
    span {
        line-height: 150%;
        display: inline-block;
    }
}

.break-line {
    line-height: 0 !important;
    height: size(10) !important;
}

.link, .wysiwyg-block a {
    color: $kiwi-dark-gray;
    font-family: $Avenir;
    font-size: size(15);
    font-weight: 900;
    transition: color 400ms;
    
    &:hover {
        color: $kiwi-green !important;
    }
}

.wysiwyg-block ul {
    li {
        font-family: $Avenir;
        font-size: size(19);
        font-weight: 300;
        line-height: size(27);
        color: $kiwi-white;
        position: relative;
        padding-left: size(31);
        margin-bottom: size(12);
        
        &:before {
            content: '';
            position: absolute;
            top: size(4);
            left: size(-9);
            width: size(34);
            height: size(22);
            //background-image: url('../../../list-icon.png');
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: size(30);
    width: fit-content;
    min-width: size(282);
    @include paddingY(size(19), size(17));
    @include paddingX(size(15));
    background: transparent;
    position: relative;
    
    .btn-border, .btn-bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: size(35);
        box-sizing: border-box;
    }
    
    .btn-border {
        transition: transform .4s cubic-bezier(.19, 1, .22, 1), opacity .4s cubic-bezier(.19, 1, .22, 1);
        pointer-events: none;
        will-change: transform;
        border: size(1) solid $kiwi-dark-gray;
    }
    
    .btn-bg {
        background-color: $kiwi-white;
        opacity: 0;
        transform: scale(.6);
        transition: transform .7s cubic-bezier(.19, 1, .22, 1), opacity .15s cubic-bezier(.165, .84, .44, 1);
        pointer-events: none;
        will-change: opacity, transform;
    }
    
    .btn-text {
        transition: color .4s cubic-bezier(.165, .84, .44, 1);
        will-change: color;
        color: $kiwi-dark-gray;
        font-family: $Avenir;
        font-size: size(15);
        font-weight: 900;
        position: relative;
        z-index: 9;
    }
    
    &:hover {
        .btn-border {
            opacity: 0;
            transform: scale(1.2, 1.44);
        }
        
        .btn-bg {
            opacity: 1;
            transform: scale(1);
        }
        
        .btn-text {
            color: $kiwi-black !important;
        }
        
        &.hs-bg {
            .btn-border {
                opacity: 0;
            }
            
            .btn-bg {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    
    &.hs-bg {
        border: size(1) solid $kiwi-gray-90;
        color: $kiwi-white;
        
        .btn-border {
            background: $kiwi-yellow;
            border-color: $kiwi-yellow;
            opacity: 1;
        }
        
        .btn-text {
            color: $kiwi-white;
        }
    }
    
    &.yellow {
        .btn-border {
            background: $kiwi-yellow;
            border-color: $kiwi-yellow;
        }
    }
    
    &.blue {
        .btn-border {
            background: $kiwi-blue;
            border-color: $kiwi-blue;
        }
    }
}

.container-back-top {
    z-index: 9;
    position: relative;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.link-with-arrow {
    color: $kiwi-dark-gray;
    font-family: $Avenir;
    font-size: size(12);
    font-weight: 300;
    display: flex;
    align-items: center;
    
    .arrow {
        transition: transform 400ms;
        margin-left: size(12);
    }
    
    &.right-arrow {
        &:hover {
            .arrow {
                transform: translateX(size(10)) rotate(90deg) !important;
            }
        }
    }
    
    &.back-to-top {
        padding-bottom: size(40);
        padding-top: size(40);
        display: block;
        text-align: right;
        
        &:hover {
            .arrow {
                transform: none !important;
            }
        }
    }
    
    &.up-arrow {
        &:hover {
            .arrow {
                transform: translateY(size(-10));
            }
        }
    }
    
    &.down-arrow {
        &:hover {
            .arrow {
                transform: translateY(size(10)) rotate(180deg) !important;
            }
        }
    }
    
}

.image-plus-layout {
    position: relative;
    
    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .black-layout {
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        
        &.horizontal {
            background-image: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0.62) 100%);
        }
        
        &.has-opacity {
            opacity: 0.66;
        }
    }
}


.select-wrapper {
    position: relative;
    
    &:before {
        position: absolute;
        content: '';
        right: size(22);
        top: 50%;
        transform: translateY(-50%);
        border-left: size(10) solid transparent;
        border-right: size(10) solid transparent;
        border-top: size(10) solid #2f6eb6;
        z-index: 1;
        pointer-events: none;
        @include min-medium-screen {
            right: size(33);
        }
    }
}

body:not([class *= 'acf-admin']) {
    form {
        position: relative;
        
        .input-wrapper {
            margin-bottom: size(25);
            position: relative;
            transition: 400ms;
            
            .wpcf7-form-control-wrap {
                display: block;
                
                ~ .focus-border {
                    i:before, i:after, &:before, &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0;
                        height: size(2);
                        background-color: $kiwi-blue;
                        transition: 400ms;
                    }
                    
                    i:before, i:after {
                        width: size(2);
                        height: 0;
                    }
                    
                    &:after {
                        top: auto;
                        bottom: 0;
                        left: auto;
                        right: 0;
                    }
                    
                    i {
                        &:after {
                            left: auto;
                            right: 0;
                            top: auto;
                            bottom: 0;
                        }
                    }
                }
                
                &.has-content {
                    ~ label {
                        top: size(-8);
                        left: 0 !important;
                        font-size: size(12);
                        color: $kiwi-blue !important;
                        font-weight: 400;
                    }
                }
                
                &.focused {
                    
                    ~ label {
                        top: size(-8) !important;
                        left: 0 !important;
                        font-size: size(12);
                        color: $kiwi-blue !important;
                        font-weight: 400;
                    }
                    
                    ~ .focus-border {
                        &:before, &:after {
                            width: 100%;
                        }
                        
                        i:before, i:after {
                            height: 100%;
                        }
                    }
                }
                
                &.invalid {
                    border: size(2) solid $kiwi-dark-red;
                    position: relative;
                    z-index: 2;
                }
                
                &[class *= 'textarea'] {
                    resize: none;
                    
                    ~ label {
                        top: size(25);
                    }
                    &.has-content {
                        ~ label {
                            top: size(-8);
                        }
                    }
    
                }
            }
            
        }
        
        .select-wrapper {
            position: relative;
            
            &:before {
                position: absolute;
                content: '';
                right: size(22);
                top: 50%;
                transform: translateY(-50%);
                border-left: size(10) solid transparent;
                border-right: size(10) solid transparent;
                border-top: size(10) solid #2f6eb6;
                z-index: 1;
                pointer-events: none;
                @include min-medium-screen {
                    right: size(33);
                }
            }
        }
        
        label {
            color: $kiwi-gray-86;
            font-family: $Avenir;
            font-size: size(15);
            font-weight: 800;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: size(22);
            transition: all 400ms;
            pointer-events: none;
            z-index: 2;
            @media screen and (max-width: 400px) {
                padding-right: size(5);
            }
            @include min-medium-screen {
                left: size(44);
            }
        }
        
        input, textarea, select {
            color: $kiwi-semi-gray;
            font-family: $Avenir;
            font-size: size(15);
            font-weight: 800;
            @include paddingY(size(16));
            @include paddingX(size(22));
            border: size(1) solid $kiwi-gray-86;
            width: 100%;
            @include min-medium-screen {
                @include paddingX(size(44));
            }
        }
        
        .choices {
            &__inner {
                @include paddingY(size(16) !important);
                @include paddingX(size(22));
                border: size(1) solid $kiwi-gray-86;
                background: none;
                @include min-medium-screen {
                    @include paddingX(size(44));
                }
            }
            
            &__item, &__placeholder {
                
                color: $kiwi-semi-gray;
                font-family: $Avenir;
                font-size: size(15);
                font-weight: 800;
                
                &:first-child:not(:only-child) {
                    opacity: 1;
                    color: $kiwi-gray-86;
                    pointer-events: none;
                    text-transform: uppercase;
                }
            }
            
            &__placeholder {
                opacity: 1;
                color: $kiwi-gray-86;
                pointer-events: none;
                text-transform: uppercase;
                //cursor: auto;
            }
            
            &[data-type*='select-one'] {
                &:after {
                    display: none;
                }
            }
            
            &__list {
                &--dropdown {
                    z-index: 99;
                }
                
                &--single {
                    padding: 0;
                }
            }
        }
        
        .btn {
            min-width: 100%;
            cursor: pointer;
            @include min-medium-screen {
                min-width: size(154);
            }
        }
    }
}

.circle-plus-line {
    position: relative;
    
    &:before, &:after {
        position: absolute;
        content: '';
        z-index: 9;
        left: 50%;
        transform: translateX(-50%);
        background-color: $kiwi-gray-59;
        top: 0;
    }
    
    &:before {
        width: size(17);
        height: size(17);
        border-radius: 50%;
    }
    
    &:after {
        height: size(214);
        width: size(1);
    }
    
    &.big-line {
        &:after {
            height: size(567);
        }
    }
}

// aspect ratio
.aspect-ratio {
    position: relative;
    height: 0;
    
    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

// focus card in general
$circle-size: size(16);
.circles-container {
    position: relative;
    height: 100%;
    
    &:after, &:before {
        content: '';
        @include square($circle-size);
        background-color: $kiwi-gray-59;
        position: absolute;
        z-index: 2;
        border-radius: 50%;
    }
    
    &:before {
        top: 0;
        left: 14%;
        transform: translateY(-50%);
    }
    
    &:after {
        left: 0;
        top: 61.5%;
        transform: translatex(-50%);
        @include min-large-screen {
            top: 81.5%;
        }
    }
}

.focus-card {
    position: relative;
    z-index: 1;
    @include paddingY(size(30));
    @include paddingX(size(20));
    @include min-medium-screen {
        @include paddingY(size(50));
        @include paddingX(size(38), size(20));
    }
    @include min-large-screen {
        max-width: size(520);
        height: 100%;
    }
    @include x-large-screen {
        min-height: size(652);
        @include paddingY(size(53), size(87));
    }
    
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 5;
        @include x-large-screen {
            min-height: size(510);
        }
        
        .headline-6, .paragraph, .link {
            color: $kiwi-white;
        }
        
        
        .headline-6 {
            margin-bottom: size(45);
            @include min-large-screen {
                margin-bottom: size(76);
            }
            @include x-large-screen {
                margin-bottom: 0;
            }
        }
        
        .bottom-side {
            .paragraph {
                margin-bottom: size(45);
                @include min-large-screen {
                    margin-bottom: size(86);
                }
            }
        }
        
        .paragraph {
            @include text-lines(3);
            
            &.custom {
                max-width: size(320)
            }
        }
        
        
    }
}

.hero-general {
    min-height: 100vh;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
    
    &.block-hero-text {
        min-height: 85vh;
        align-items: flex-end;
        padding-bottom: 12vh;
        padding-top: 12vh;
        @include max-small-screen {
            min-height: 50vh;
            padding-top: 22vh;
        }
    }
    
    .black-layout {
        background-image: linear-gradient(180deg, rgba(51, 51, 51, 0.31) 0%, #000000 100%);
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    
    .block-hero-number-wrapper {
        @include paddingY(size(30));
        z-index: 9;
        
        .left-text {
            text-align: center;
            @include min-large-screen {
                text-align: left;
            }
        }
        
        .right-text {
            text-align: center;
            @include min-large-screen {
                text-align: left;
            }
            @include x-large-screen {
                max-width: size(608);
            }
            
            h2 {
                margin-bottom: size(11);
                @include x-large-screen {
                    margin-bottom: size(31);
                }
                @include max-large-screen {
                    font-size: size(35);
                }
            }
            
            p {
                @include max-medium-screen {
                    @include marginX(auto);
                }
            }
        }
    }
}

.barba-overlay-transition {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
}

.a7a-card {
    margin-bottom: size(30);
}

.single-card {
    padding: size(20);
    position: relative;
    height: size(350);
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    z-index: 1;
    
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .6);
        z-index: -1;
    }
    
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
    
    img {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        object-fit: cover;
        transition: transform .4s;
    }
    
    h6 {
        font-size: size(24);
        color: white;
        padding-bottom: size(15);
        transition: color .4s;
        
        &:hover {
            color: $kiwi-dark-red;
        }
    }
}

.text-center {
    text-align: center !important;
}

.single-post-wrapper {
    font-size: size(22);
    line-height: size(35);
    
    .post-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: size(100);
        color: white;
        
        .date-author {
            display: flex;
            margin-bottom: size(30);
            @include max-small-screen {
                flex-direction: column;
            }
        }
        
        .date {
            margin-right: size(40);
            @include max-small-screen {
                margin-right: 0;
                margin-bottom: size(15);
            }
        }
        
        svg {
            width: size(20);
            margin-right: size(8);
            
            path {
                fill: $kiwi-dark-red;
            }
        }
        
        .categories {
            display: flex;
            color: #ffffff;
            flex-wrap: wrap;
            justify-content: center;
            
            a {
                padding: 0 size(10) size(10);
            }
        }
    }
    
    .tags {
        display: flex;
        color: #ffffff;
        flex-wrap: wrap;
        justify-content: center;
        margin: size(50) auto 0;
        max-width: 90%;
        
        a {
            padding: 0 size(10) size(10);
            display: flex;
            color: $kiwi-blue;
            
            svg {
                width: size(20);
                margin-right: size(8);
            }
        }
    }
    
    
    .hero-blog-pages {
        padding-bottom: size(50);
        padding-top: size(150);
        @include max-medium-screen {
            padding-top: size(200);
            padding-bottom: size(100);
        }
        
        .text-hero {
            .headline-1 {
                font-size: size(65);
                max-width: 90%;
                margin: 0 auto;
                @include max-large-screen {
                    font-size: size(50);
                }
                @include max-medium-screen {
                    font-size: size(40);
                }
            }
        }
    }
    
    img {
        max-width: 100%;
        //object-fit: contain;
        height: auto;
    }
    
    h1 {
        color: $kiwi-dark-red;
        font-family: $Comfortaa;
        font-size: size(80);
        font-weight: 400;
        line-height: normal;
        @include min-medium-screen {
            font-size: size(100);
        }
        @include min-large-screen {
            font-size: size(130);
        }
        @include x-large-screen {
            font-size: size(120);
        }
    }
    
    h2 {
        color: $kiwi-black;
        font-family: $Comfortaa;
        font-size: size(35);
        font-weight: 400;
        line-height: size(44);
        @include x-large-screen {
            font-size: size(40);
            line-height: size(50);
        }
    }
    
    h3 {
        color: $kiwi-gray;
        font-family: $Comfortaa;
        font-size: size(30);
        font-weight: 400;
        line-height: size(35);
        @include min-medium-screen {
            font-size: size(38);
            line-height: size(45);
        }
        @include x-large-screen {
            font-size: size(48);
            line-height: size(50);
        }
        //font-size: size(50);
        //line-height: size(64);
        //&.size48 {
        //    font-size: size(48);
        //    line-height: size(50);
        //
        //    &.light {
        //        font-weight: 300;
        //    }
        //}
    }
    
    h4 {
        font-family: $Avenir;
        font-size: size(30);
        font-weight: 300;
        //line-height: size(44);
        line-height: normal;
        @include x-large-screen {
            font-size: size(40);
        }
        
        &.comfortta {
            font-family: $Comfortaa;
            font-weight: 400;
        }
    }
    
    h5 {
        color: $kiwi-dark-red;
        font-family: $Comfortaa;
        font-size: size(25);
        font-weight: 400;
    }
    
    h6 {
        color: $kiwi-black;
        font-family: $Avenir;
        font-size: size(20);
        font-weight: 300;
        line-height: normal;
        
        &.heavy {
            font-weight: 900;
            color: $kiwi-white;
        }
        
        &.normal {
            font-weight: 400;
        }
    }
    
    p {
        color: $kiwi-gray;
        font-family: $Avenir;
        font-size: size(21);
        font-weight: 300;
        line-height: size(30);
        @include min-medium-screen {
            font-size: size(25);
        }
        @include x-large-screen {
            font-size: size(30);
            line-height: size(36);
        }
        
        &.size19 {
            font-size: size(19);
            line-height: size(36);
        }
        
        &.size15 {
            color: $kiwi-black;
            font-size: size(15);
            font-weight: 500;
            line-height: normal;
        }
        
        &.size12 {
            font-size: size(12);
            line-height: normal;
        }
    }
    
    h1, .h1, h2, .h2, h3, .h3 {
        margin-top: size(30);
        margin-bottom: size(10);
    }
    
    p {
        margin: 0 0 size(20);
    }
    
    a {
        color: $kiwi-dark-red;
        font-family: $Avenir;
        font-weight: 900;
        transition: color 400ms;
        font-size: inherit;
        
        &:hover {
            color: $kiwi-green !important;
        }
    }
    
    ul {
        margin-top: size(15);
        margin-left: size(10);
        
        li {
            font-family: $Avenir;
            font-size: size(19);
            font-weight: 300;
            line-height: size(27);
            color: $kiwi-gray;
            position: relative;
            padding-left: size(31);
            margin-bottom: size(12);
            
            &:before {
                content: '';
                position: absolute;
                top: size(4);
                left: size(-9);
                width: size(34);
                height: size(22);
                //background-image: url('../../../list-icon.png');
                border-radius: 50%;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    
    .sidebar-wrapper {
        margin-top: size(35);
        @include min-large-screen {
            margin-left: auto;
            margin-top: 0;
        }
        @include x-large-screen {
            max-width: size(493);
        }
        
        .sidebar-card {
            @include x-large-screen {
                margin-bottom: size(51);
            }
            
            .aspect-ratio {
                @include x-large-screen {
                    margin-bottom: size(80);
                }
                height: 100% !important;
                
                img {
                    z-index: 2;
                }
                
                svg {
                    z-index: 0;
                }
            }
            
            .headline-3 {
                @include marginY(size(30));
                @include x-large-screen {
                    @include marginY(size(50), size(70));
                }
            }
        }
        
        .aspect-ratio {
            padding-top: 60.21%;
            @include x-large-screen {
                padding-top: 101.21%;
            }
            
            .circle {
                position: absolute;
                top: size(-142);
                left: size(336);
                z-index: -1;
                display: none;
                @include x-large-screen {
                    display: block;
                }
            }
        }
        
        .freebies-wrapper {
            display: flex;
            flex-wrap: wrap;
            @include x-large-screen {
                max-width: size(485);
                margin-left: auto;
                display: block;
            }
            
            &:before, &:after {
                left: size(-46);
                top: size(-65);
                display: none;
                @include x-large-screen {
                    display: block;
                }
            }
            
            &:after {
                height: size(133);
            }
            
            .freebies-card {
                margin-bottom: size(31);
                flex-basis: 100%;
                @include min-large-screen {
                    flex-basis: 50%;
                }
                
                &:before {
                    left: 30%;
                }
                
                .focus-card {
                    background-color: $kiwi-white;
                    @include paddingX(size(66), size(40));
                    @include paddingY(size(81), size(68));
                    @include min-large-screen {
                        min-height: size(562);
                    }
                    
                    .wrapper {
                        @include min-large-screen {
                            min-height: size(413);
                        }
                    }
                    
                    .headline-6 {
                        color: $kiwi-gray;
                    }
                    
                    .paragraph {
                        color: $kiwi-gray;
                        max-width: 100%;
                        
                        a {
                            color: #a81934;
                        }
                    }
                    
                    .link {
                        color: $kiwi-dark-gray;
                    }
                }
            }
            
            .freebies-card-image {
                @include paddingY(size(83));
                @include paddingX(size(46), size(25));
                flex-basis: 100%;
                display: block;
                @include min-large-screen {
                    min-height: size(562);
                }
                
                @include min-large-screen {
                    flex-basis: 50%;
                }
                @include x-large-screen {
                    min-height: size(786);
                }
                
                .black-layout {
                    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, #000000 100%);
                }
                
                .wrapper {
                    @include min-large-screen {
                        min-height: size(413);
                    }
                    @include x-large-screen {
                        min-height: size(618);
                    }
                }
            }
            
            .focus-card {
                border: 1px solid $kiwi-dark-gray;
                @include max-large-screen {
                    @include paddingX(size(35) !important) ;
                    @include paddingY(size(60) !important);
                }
            }
        }
    }
}

.hero-blog-pages {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    padding-top: size(80);
    margin-bottom: size(50);
    @include max-small-screen {
        padding-top: size(120);
        min-height: 60vh;
    }
    
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
    
    .black-layout {
        background-image: linear-gradient(180deg, rgba(51, 51, 51, 0.31) 0%, #000000 100%);
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    
    .text-hero {
        text-align: center;
        z-index: 1;
        
        .headline-1 {
            color: $kiwi-white;
            width: 100%;
            word-break: break-all;
            font-size: size(120);
            @include max-small-screen {
                font-size: size(60);
            }
        }
        
        h2 {
            margin-top: size(25);
            font-size: size(40);
            @include max-small-screen {
                font-size: size(30);
            }
            
            span {
                color: $kiwi-dark-red;
            }
        }
    }
}

.h-100vh {
    min-height: 100vh;
}

.sprite-sheet {
    visibility: hidden;
    
    &__parent {
        overflow: hidden;
        height: auto;
    }
    
    &__aspect-ratio {
        position: relative;
        width: 100%;
        height: 0;
    }
    
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        @include square('auto');
    }
}

// custom model
.custom-model {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 400ms, z-index 400ms;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    
    &:before {
        content: '';
        background: rgba(0, 0, 0, 0.6);
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
    
    .custom-model-inner {
        position: relative;
        z-index: 2;
        flex-grow: 1;
        max-height: 90vh;
        overflow-y: scroll;
        @include marginX(auto);
        max-width: 90%;
        @include min-medium-screen {
            max-width: 45%;
        }
        
        .custom-model-wrap {
            width: 100%;
            position: relative;
            background-color: $kiwi-white;
            border: size(1) solid $kiwi-gray;
            border-radius: size(6);
            box-shadow: 0 size(3) size(9) rgba(0, 0, 0, 0.5);
            padding: size(60);
            @include max-medium-screen {
                padding: size(30);
            }
        }
    }
    
    .close-btn {
        position: absolute;
        right: 0;
        bottom: calc(100% + 2rem);
        cursor: pointer;
        z-index: 5;
        transition: transform 400ms;
        
        path {
            fill: $kiwi-white;
        }
        
        &:hover {
            transform: scale(1.3);
        }
    }
    
    &.active {
        z-index: 99999;
        opacity: 1;
    }
}

// load more
.load-more {
    margin-top: size(80);
    min-height: size(30);
    display: flex;
    align-items: center;
    padding: size(13) size(30);
    border-radius: size(26);
    width: fit-content;
    @include marginX(auto);
    background: $kiwi-dark-red;
    cursor: pointer;
    
    span {
        font-family: $Avenir;
        font-size: size(20);
        color: $kiwi-white;
        margin-right: size(10);
    }
    
    .circle {
        @include square(size(30));
        border: solid size(3) $kiwi-blue;
        border-radius: 50%;
        transition: opacity 400ms;
        border-right-color: transparent;
        border-bottom-color: transparent;
        animation-name: rotate;
        animation-duration: 1.0s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        opacity: 0;
    }
    
    @keyframes rotate {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
    
    &.loading {
        .circle {
            opacity: 1;
        }
    }
    
}

// endregion general classes

