
// media screen sizes
$x-small-screen-max-width: 399.98px;
$small-screen-max-width: 575.98px;
$medium-screen-max-width:767.98px;
$large-screen-max-width: 991.98px;


$small-screen-min-width: 400px;
$medium-screen-min-width: 576px;
$large-screen-min-width:768px;
$x-large-screen-min-width: 992px;


// color
$kiwi-white: var(--kiwi-white);
$kiwi-black: var(--kiwi-black);
$kiwi-gray: var(--kiwi-gray);
$kiwi-semi-gray: var(--kiwi-semi-gray);
$kiwi-dark-red: var(--kiwi-dark-red);
$kiwi-green: var(--kiwi-green);
$kiwi-dark-gray: var(--kiwi-dark-gray);
$kiwi-yellow: var(--kiwi-yellow);
$kiwi-blue: var(--kiwi-blue);
$kiwi-gray-59: var(--kiwi-gray-59);
$kiwi-gray-86: var(--kiwi-gray-86);
$kiwi-nero: var(--kiwi-nero);
$kiwi-gray-90: var(--kiwi-gray-90);
$kiwi-gainsboro: var(--kiwi-gainsboro);
// fonts
$Comfortaa: 'Comfortaa';
$Avenir: 'Avenir';
// number of lines
$number:3;
//override bootstrap variables
$grid-gutter-width: 60px;
$container-max-widths: (
    'sm': 100%, //560px
    'md': 100%, //570px
    'lg': 100%, //760px
    'xl': 100%,
);
$grid-breakpoints: (
    'xs': 0,
    'sm': $small-screen-min-width,
    'md': $medium-screen-min-width,
    'lg': $large-screen-min-width,
    'xl': $x-large-screen-min-width,
);



