
@import "styles/sites/smartdv";

.contact_form {
  @include paddingY(size(87), size(192));
  max-width: size(1440);
  @include marginX(auto);

  .box-wrapper {
    position: relative;
    overflow: hidden;

    .box-shape {
      position: absolute;

      &.vertical-style {
        height: size(24);
        width: 100%;
        background: $smart_dv_green_3;
        left: 0;
        @include min-medium-screen {
          height: size(53);
        }
        @include large-screen {
          height: size(93);
        }

        &.top {
          transform: rotateX(-55deg);
          @include min-medium-screen {
            transform: rotateX(-67deg);
          }
          top: 0;
          transform-origin: top;
        }

        &.bottom {
          bottom: 0;
          transform: rotateX(55deg);
          @include min-medium-screen {
            transform: rotateX(67deg);
          }
          transform-origin: bottom;
        }
      }

      &.horizontal-style {
        height: 100%;
        width: size(34);
        background: $smart_dv_dark_green;
        top: 0;
        @include min-medium-screen {
          width: size(80);
        }
        @include large-screen {
          width: size(122);
        }

        &.right {
          right: 0;
        }

        &.left {
          left: 0;
        }
      }
    }

  }

  .box-shapes-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 25vw;
    transform-origin: center;
    pointer-events: none;
    @include min-medium-screen {
      perspective: size(260);
    }
    @include large-screen {
      perspective: size(410);
    }
  }

  .container {
    background-color: #075D69;
    @include min-medium-screen {
      @include paddingX(size(120));
    }
    @include large-screen {
      @include paddingX(size(120));
    }
  }

  .gform_wrapper.gravity-theme {
    @include paddingY(size(192));
    max-width: size(969) !important;
    @include large-screen {
      margin-left: auto !important;
      margin-right: auto !important;
      max-width: size(959) !important;
    }

    .gform_fields {
      @include small-screen {
        width: 87% !important;
        max-width: size(500) !important;
        margin-right: auto !important;
        margin-left: auto !important;;
      }
      @include medium-screen {
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: size(800) !important;

      }
      grid-row-gap: 0 !important;
    }

    .gfield input, select {
      background-color: #075D69 !important;
      border-color: $smart_dv_white !important;
      color: $smart_dv_white !important;
    }


    .gfield {

      margin-bottom: size(30) !important;

      &:last-child {
        margin-bottom: 0;
      }


      .ginput_container.ginput_container_radio {
        .gfield_radio {
          .gchoice {
            @include marginY(size(40) !important);
            text-align: left;
            display: block !important;
            margin-left: size(10);
            max-width: size(850);

            @include min-medium-screen {
              margin-left: size(10);

            }

            [type="radio"] {
              &:checked + label, &:not(:checked) + label {
                position: relative !important;
                padding-left: size(10);
                cursor: pointer;
                display: inline-block;
              }

              &:checked + label:before, &:not(:checked) + label:before {
                content: '';
                position: absolute;
                right: 100%;
                top: size(-5);
                border: 1px solid $smart_dv_white;
                border-radius: 100%;
                @include square(size(25));
              }


            }

            &:first-child {
              [type='radio'] {
                &:checked + label:after {
                  content: '';
                  position: absolute;
                  top: 30%;
                  right: 100%;
                  @include square(size(17));
                  -webkit-transition: transform $duration ease;
                  transition: transform $duration ease;
                  opacity: 1;
                  -webkit-transform: scale(1) translate(-25%, -66%);
                  transform: scale(1) translate(-25%, -66%);
                  @include min-medium-screen {
                    -webkit-transform: scale(1) translate(-32%, -30%);
                    transform: scale(1) translate(-32%, -30%);
                  }
                  @include medium-screen {
                    -webkit-transform: scale(1) translate(-23%, -35%);
                    transform: scale(1) translate(-23%, -35%);
                  }
                  @include large-screen {
                    -webkit-transform: scale(1) translate(-25%, -32%);
                    transform: scale(1) translate(-25%, -32%);
                  }

                  border-radius: 100%;
                  background-color: $smart_dv_lime;
                }

                &:not(:checked) + label:after {
                  content: '';
                  @include square(size(10));
                  background-color: $smart_dv_lime;
                  position: absolute;
                  @include min-medium-screen {
                    @include square(size(17));
                  }
                  top: 50%;
                  right: 100%;
                  border-radius: 100%;
                  -webkit-transition: transform $duration ease;
                  transition: transform $duration ease;
                  opacity: 0;
                  -webkit-transform: scale(0) translate(-33%, -100%);
                  transform: scale(0) translate(-33%, -100%);
                  @include min-medium-screen {
                    -webkit-transform: scale(0) translate(-32%, -35%);
                    transform: scale(0) translate(-32%, -35%);
                  }
                }


              }
            }

            &:nth-child(2) {
              [type='radio'] {
                &:checked + label:after {
                  content: '';
                  position: absolute;
                  top: 15%;
                  right: 100%;
                  @include square(size(17));
                  opacity: 1;
                  -webkit-transition: transform $duration ease;
                  transition: transform $duration ease;

                  -webkit-transform: scale(1) translate(-25%, -57%);
                  transform: scale(1) translate(-25%, -57%);

                  @media screen and (max-width: 496.99px) {

                    -webkit-transform: scale(1) translate(-25%, -67%);
                    transform: scale(1) translate(-25%, -67%);

                  }
                  @media screen and (max-width: 405.99px) {

                    -webkit-transform: scale(1) translate(-25%, -82%);
                    transform: scale(1) translate(-25%, -82%);

                  }

                  @include medium-screen {
                    top: 38%;
                    -webkit-transform: scale(1) translate(-23%, -80%);
                    transform: scale(1) translate(-23%, -80%);
                  }
                  @include large-screen {
                    opacity: 1;
                    -webkit-transform: scale(1) translate(-25%, -35%);
                    transform: scale(1) translate(-25%, -35%);

                  }

                  border-radius: 100%;
                  background-color: $smart_dv_lime;
                }

                &:not(:checked) + label:after {
                  content: '';
                  @include square(size(15));
                  background-color: $smart_dv_lime;
                  position: absolute;
                  top: 50%;
                  left: -50%;
                  border-radius: 100%;
                  -webkit-transition: transform $duration ease;
                  transition: transform $duration ease;
                  opacity: 0;
                  -webkit-transform: scale(0) translate(-45%, -32%);
                  transform: scale(0) translate(-45%, -32%);
                  @include medium-screen {
                    -webkit-transform: scale(0) translate(-35%, -100%);
                    transform: scale(0) translate(-35%, -100%);
                  }
                  @include large-screen {
                    -webkit-transform: scale(0) translate(-30%, -35%);
                    transform: scale(0) translate(-30%, -35%);
                  }
                }

              }
            }

            input {
              opacity: 0;
              visibility: hidden;
              padding: unset !important;
              width: unset !important;
              margin: unset !important;
              position: static !important;


            }

            margin-bottom: size(12);

            &:last-of-type {
              margin-bottom: size(0);

            }

            label {
              font-size: size(14) !important;
              line-height: size(17.07) !important;
              font-weight: 400 !important;

              a {
                text-decoration: underline currentColor !important;

                &:hover {
                  color: $smart_dv_lime;
                }

              }

              @include small-screen {
                max-width: size(430);
              }
              font-family: $montserrat !important;
              color: $smart_dv_white !important;
              pointer-events: auto !important;
              transform: none !important;
              top: unset !important;
              left: unset !important;

            }
          }
        }
      }

      &:not(&.w-50) {
        @include medium-screen {
          max-width: size(800) !important;

        }
        @include large-screen {
          max-width: size(962) !important;

        }
      }

      &.w-50 {
        @include medium-screen {
          max-width: size(379) !important;

        }
        @include large-screen {
          max-width: size(469) !important;

        }
      }

      .ginput_container.ginput_container_text {
        input {
          -moz-border-radius: unset !important;
          -webkit-border-radius: unset !important;
          border-radius: unset !important;
          transition: border-color $duration;

          &:focus {
            border-color: #BFD730 !important;
          }
        }
      }

      //.ginput_container.ginput_container_select {
      //  border: 1px solid $smart_dv_white;
      //
      //  &:after {
      //    content: "";
      //    background: url(../../svgs/select-arrow.svg) no-repeat center center;
      //    background-origin: border-box !important;
      //    position: absolute !important;
      //    width: 40px !important;
      //    height: 40px !important;
      //    display: block;
      //    cursor: pointer !important;
      //    pointer-events: none !important;
      //    top: 50% !important;
      //    right: 6% !important;
      //
      //    transform: translateY(-50%) !important;
      //    transition: transform $duration !important;
      //    @include min-medium-screen {
      //      width: size(25) !important;
      //      height: size(25) !important;
      //    }
      //    @include large-screen {
      //      width: size(23) !important;
      //      height: size(23) !important;
      //
      //    }
      //  }
      //
      //  .chosen-container.chosen-container-single {
      //    .chosen-single {
      //      box-shadow: none !important;
      //      border: 1px solid $smart_dv_white;
      //    }
      //
      //    box-shadow: none !important;
      //    //border: 1px solid $smart_dv_white;
      //
      //    &:after {
      //      display: none !important;
      //
      //    }
      //  }
      //}

    }

    label {
      color: $smart_dv_white !important;
    }

    .gform_footer {
      text-align: left !important;
      margin-right: auto !important;
      max-width: size(969) !important;
      padding: 0 !important;
      margin-top: size(-14);
      @include large-screen {
        margin-left: 0rem !important;
      }

      .cta-button {
        text-align: left !important;
        color: $smart_dv_white !important;
        @include min-medium-screen {
          margin-left: size(-20) !important;
        }
      }

      .btn-border {
        z-index: 1;
      }
    }
  }

  .gform_confirmation_message {
    font-size: 2rem !important;
    line-height: 2rem !important;
    font-weight: 700 !important;
    color: #BFD730 !important;
    font-family: $ibm-plex-sans !important;
    letter-spacing: normal !important;
    padding: 30rem 2rem;

    @include medium-screen {
      padding: 20rem 20rem;
      font-size: 4rem !important;
      line-height: 4.4rem !important;
    }

    @include large-screen {
      padding: 40rem 20rem;
      font-size: 4rem !important;
      line-height: 4.4rem !important;
    }
  }
}


input, select {
  padding-left: size(20) !important;
  padding-top: size(15) !important;
  padding-bottom: size(15) !important;
  padding-right: size(20) !important;
  background: #FFFFFF !important;
  border: 1px solid #086875;
  text-transform: capitalize;
  width: size(386);
  font-size: size(16) !important;
  line-height: size(20) !important;
  font-weight: 500 !important;
  color: $smart_dv_green_4 !important;
  font-family: $ibm-plex-sans !important;

  &:focus {
    border: 1px solid #BFD730;
    color: #0A1B57 !important;
    font-weight: 600 !important;
  }
}

.gfield {
  position: relative !important;
  width: 100% !important;

  &.focused {
    padding-left: 0 !important;

    .gfield_label {
      top: size(-20) !important;
      font-size: size(12) !important;
      line-height: size(10) !important;
      transform: translateY(0) !important;

    }

    label {
      left: size(18) !important;
    }

    //&:before {
    //  content: "" !important;
    //  position: absolute !important;
    //  top: 0 !important;
    //  border-left: 5px solid #33657E !important;
    //  height: 100%;
    //  left: 0;
    //}

  }
}


label {
  //display: flex;
  font-size: size(16) !important;
  line-height: size(20) !important;
  font-weight: 500 !important;
  color: $smart_dv_green_4;
  font-family: $ibm-plex-sans !important;
  text-transform: capitalize;
  margin-bottom: size(8) !important;
  position: absolute !important;
  top: 50% !important;
  left: 1.8rem !important;
  -webkit-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  pointer-events: none !important;
  transition: all .2s cubic-bezier(0, 0.84, 0.64, 0.69) 0s !important;
}

select {
  appearance: none;
}

.select {
  position: relative;
  //border-radius: size(50);
  @include square(size(35));
  border: 1px solid #086875;

  &:after {
    content: "";
    //background: url(../../svgs/select-arrow.svg) no-repeat right !important;
    //position: absolute !important;
    width: 40px !important;
    height: 40px !important;
    top: 6% !important;
    right: 6% !important;
    cursor: pointer !important;
    pointer-events: none !important;
    transition: transform $duration !important;
    @include min-medium-screen {
      width: size(25) !important;
      height: size(25) !important;
      top: 18% !important;
      right: 6% !important;
    }
    @include large-screen {
      width: size(23) !important;
      height: size(23) !important;
      top: 28% !important;
      right: 6% !important;
    }
  }
}

.gform_wrapper.gravity-theme .gform_fields {
  display: flex !important;
  justify-content: space-between !important;
  flex-wrap: wrap !important;
  //grid-row-gap: 2.9rem !important;
  width: 100% !important;

  .gfield {

    margin-bottom: size(30) !important;
    @include min-medium-screen {
      margin-bottom: size(34) !important;
    }
  }

  .recaptcha-wrapper {
    margin-bottom: 0 !important;
  }
}

.ginput_container.ginput_container_select {
  //margin-top: auto !important;
  width: 100% !important;
}


textarea {
  font-size: size(16) !important;
  line-height: size(30) !important;
  font-weight: 400 !important;
  color: red;
  font-family: $montserrat !important;
  margin-bottom: size(8) !important;
  opacity: 0.8 !important;
  padding-top: size(9) !important;
  padding-left: size(17) !important;
  resize: none;
  border: 1px solid #10384F;
  border-radius: 10px;
}

.gform_wrapper.gravity-theme .gform_footer {
  padding-top: size(56) !important;
  text-align: center !important;
  margin: 0 !important;
  padding-bottom: 0 !important;

  button {
    margin-left: auto !important;
    margin-bottom: 0 !important;
    margin-right: auto !important;
    position: relative;
    z-index: 1;
  }
}


.w-50 {
  width: 100% !important;
  @include min-medium-screen {
    width: calc(50% - 10px) !important;

  }
}

.gfield_required {
  display: none !important;
}

.gform_wrapper.gravity-theme {


  label {
    margin-left: 0 !important;
    margin-bottom: 0 !important;

  }

  .chosen-container {
    position: relative;

    &:after {
      content: "";
      //background: url(../../svgs/select-arrow.svg) no-repeat center !important;
      position: absolute !important;
      width: size(24) !important;
      height: size(24) !important;
      top: 28% !important;
      right: 4% !important;
      //border: 1px solid white !important;
      //border-radius: 50%;
      //padding: size(16) size(12) size(13) size(13);
      cursor: pointer !important;
      pointer-events: none !important;
      transition: transform $duration !important;
      @include min-medium-screen {
        top: 13% !important;
        right: 3% !important;
        width: size(34) !important;
        height: size(34) !important;
      }
      @include large-screen {
        width: size(34) !important;
        height: size(34) !important;
        top: 14% !important;
        right: 3% !important;
      }
    }

    .chosen-single {
      background: unset !important;
      border: 1px solid #086875 !important;
      //border-radius: size(10) !important;
      display: flex !important;
      align-items: center !important;
      padding: 0 !important;
      height: size(49) !important;
      box-shadow: unset !important;

      span {
        font-size: size(16) !important;
        line-height: size(30) !important;
        font-weight: 500 !important;
        margin-bottom: 0 !important;
        font-family: $ibm-plex-sans !important;
        margin-right: 0 !important;
        color: #162932;
        //color: $smart_dv_white;
        padding-left: size(20) !important;
        padding-top: size(15) !important;
        padding-bottom: size(15) !important;
        padding-right: size(20) !important;
      }
    }

    b {
      display: none !important;
    }

    .chosen-results {
      padding: 0 !important;
      margin: 0 !important;
    }

    .chosen-results li {
      font-size: size(16) !important;
      line-height: size(20) !important;
      font-weight: 500 !important;
      color: #313545;
      padding: size(13) size(20) size(16) !important;
      font-family: $ibm-plex-sans !important;


      &:nth-child(odd) {
        background-color: #ECEDED !important;
      }

      &.highlighted {
        background-color: unset !important;
        background-image: unset !important;
        color: unset !important;
      }
    }
  }

  .chosen-drop {
    border: 1px solid $smart_dv_white !important;
    border-radius: unset !important;
    box-shadow: unset !important;
  }

  .chosen-container-active {
    &.chosen-with-drop {
      a.chosen-single {
        //border-radius: size(10) size(10) 0 0 !important
      }


      &:after {
        transform: scaleY(-1) !important;
      }
    }

    .chosen-single {
      box-shadow: unset !important;
    }

  }

  .chosen-container-single .chosen-search {
    display: none !important;

    input[type=text] {
      //font-size: size(16) !important;
      //line-height: size(30) !important;
      //font-weight: 400 !important;
      //color: red;
      //font-family: $montserrat !important;
      display: none !important;
    }
  }
}

.gform_confirmation_message {
  font-size: size(20) !important;
  line-height: size(24) !important;
  font-weight: 700 !important;
  color: #BFD730 !important;
  font-family: $ibm-plex-sans !important;
  letter-spacing: normal !important;
}

.validation_message {
  font-size: size(16) !important;
  line-height: size(20) !important;
  clear: both;
  font-family: $montserrat !important;
  font-weight: 500 !important;
  width: 100%;
  color: #BFD730 !important;
  background: none !important;
  border: none !important;
  margin-top: 0 !important;
  padding: size(12) size(14) !important;
  position: absolute !important;
  top: 87% !important;
  @include min-medium-screen {
    top: 91% !important;
  }
  @include large-screen {
    top: 96% !important;
  }
}

.gform_wrapper {
  .gform_validation_errors {
    display: none !important;
  }

  .gravity-theme {
    .gfield {

      &:not(.gfield--width-full) {
        margin-bottom: size(20) !important;
      }


    }

  }


  .gform_validation_errors > h2 {
    font-size: size(14) !important;
    font-weight: 400 !important;
    color: blue !important;
    line-height: size(30) !important;

    .gform-icon {
      align-items: center !important;
      display: flex !important;
      font-size: size(22);
      height: 100%;
      left: size(4);
      position: absolute;
      top: 0;
    }

  }

  &.gform_validation_error {
    .gform_footer {
      margin-top: size(50) !important;
    }
  }


  //  region additional text styling
  .form-additional-text {
    @include font(14px, 400, 18px, grey, "Roboto", 0.02em);
    @include min-medium-screen {
      max-width: size(570);
      @include marginX(auto);
    }
  }

  //  endregion additional text styling

  // region general styling
  .gform_fields {
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    gap: 0 !important;
    grid-row-gap: 0px !important;

  }

  // endregion general styling

}

.gform_ajax_spinner {
  box-sizing: border-box;
  border: size(3) solid $smart_dv_green;
  border-left: size(3) solid #5EABAB;
  border-top: size(3) solid #33657E;
  border-right: size(3) solid #237272;
  animation: spinner 1.1s infinite linear;
  border-radius: 50%;
  @include square(size(30));
  z-index: 1;
  margin-top: size(15);
}

.gfield.gfield_error {
  .gfield_label {
    color: $smart_dv_green_4 !important;
  }


  margin-bottom: size(25);
}


.gform_wrapper.gravity-theme .gfield_error [aria-invalid=true] {
  border: 1px solid #086875 !important;

}


.gform_wrapper.gravity-theme {

  .gfield {

    .ginput_container.ginput_container_select {
      .chosen-container.chosen-container-single {
        .chosen-single {
          border: 1px solid $smart_dv_white !important;

          span {
            color: $smart_dv_white;
          }
        }

        //.chosen-drop {
        //  .chosen-results {
        //    .active-result {
        //      color: $smart_dv_white;
        //    }
        //  }
        //}
      }
    }

    .ginput_container.ginput_container_fileupload {
      input {
        border: none !important;
        background: none !important;
        position: relative !important;
        width: size(190) !important;
        margin-left: auto !important;
        margin-right: auto !important;
        display: flex !important;
        padding-top: 3.5rem !important;
        margin-top: 2rem !important;
        text-align: center;

        &::-webkit-file-upload-button, ::file-selector-button {
          //border: none !important;
          visibility: hidden !important;
          width: 0 !important;
        }

        &:before {
          content: 'Upload Resume' !important;
          color: black;
          //display: inline-block;
          border-radius: 3px;
          padding: 5px 8px;
          outline: none;
          white-space: nowrap;
          -webkit-user-select: none;
          cursor: pointer;
          text-shadow: 1px 1px #fff;
          font-weight: 700;
          font-size: 10pt;
          position: absolute !important;
          top: 50% !important;
          left: 50% !important;
          transform: translate(-50%, -50%) !important;
          display: block !important;
          margin-top: -3rem !important;
        }

        &:active {
          outline: 0 !important;
        }
      }


      .gform_fileupload_rules {
        display: none !important;
      }
    }
  }


}

.ginput_recaptcha {
  div {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.grecaptcha-badge {
  visibility: hidden !important;
}

.recaptcha-wrapper {
  .validation_message {
    left: 25%;
    top: 104% !important
  }
}



