@import "styles/sites/headversity";

.image_fixed_viewport_block {
  @include paddingY(size(67), size(42));
  @include large-screen {
    @include paddingY(size(102), size(125));
  }

  .container {
    @include paddingX(0);
  }

  .content-wrapper {
    display: flex;
    align-items: center;
    @include small-screen {
      flex-direction: column;
      margin-bottom: size(60);
    }
  }

  .steps-dots-wrapper {
    @include small-screen {
      display: none;
    }
    display: flex;
    justify-content: space-between;
    z-index: 2;
    @include small-screen {
      @include marginX(auto)
    }
    @include min-medium-screen {
      position: absolute;
      right: 43.5%;
      bottom: -5px;

      transform: translateX(100%);
    }
    @include large-screen {
      right: 42%;
      bottom: size(40);


    }
  }

  .step-dot {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    cursor: pointer;
    transition: background 300ms;
    background-color: #E9E9E9;
    @include square(size(10));
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: content-box;
    box-sizing: content-box;
    padding: size(5);
    @include min-medium-screen {
      @include square(size(15.53));
    }

    &:not(:last-of-type) {
      margin-right: size(10);
    }

    &:hover {
      background-color: $headversity_yellow;
    }

    &.active {
      background-color: $headversity_orange;
    }
  }

  .block-content {
    display: flex;
    align-items: center;
    @include small-screen {
      flex-direction: column;
      margin-bottom: size(60);
    }
  }

  .reversed {
    @include min-medium-screen {
      flex-direction: row-reverse;
      .image-wrapper {
        margin-right: 0;
      }
    }

    .text-content {
      @include small-screen {
        margin-bottom: size(60);
      }
      @include large-screen {
        padding-left: size(160);
        padding-right: size(120);
      }
    }

    .text-wrapper {
      .main-title {
        @include large-screen {
          margin-bottom: size(200);
        }
      }
    }

  }


  .image-wrapper {
    @include small-screen {
      display: none;
    }
    width: 100%;
    margin-bottom: size(40);
    position: relative;
    @include min-medium-screen {
      width: 54%;
      margin-bottom: unset;
    }
    @include large-screen {
      width: 50%;

    }
  }

  .image-parent {
    top: 0;
    left: 0;
    @include square(100%);
    @include min-medium-screen {
      &:not(:first-of-type) {
        position: absolute;
      }
    }

  }

  .at-small {
    @include small-screen {
      display: block;
      margin-bottom: size(30);
      .main-img {
        padding-top: 92%;

      }
    }
    display: none;
  }

  .main-img {
    overflow: hidden;
    opacity: 0;
    transition: opacity 300ms;
    padding-top: 113.5%;
    max-height: 100vh;

    @include small-screen {
      opacity: 1;
    }
    @include large-screen {
      padding-top: 100%;

    }

    &.active {
      opacity: 1;
    }
  }

  .text-wrapper {
    @include small-screen {
      display: block;
    }
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(50%)

    }
  }

  .text-content {
    @include small-screen {
      margin-bottom: size(60);
      transform: none !important;

      &:last-child {
        margin-bottom: unset;
      }
    }
    @include paddingX(size(30));
    width: 100%;
    min-width: 100%;
    @include min-medium-screen {
      padding-left: size(50);
      padding-right: size(50);
      transition: opacity 300ms;
      opacity: 0;
      position: absolute;
      transform: translateY(-50%);
      pointer-events: none;
      width: unset;
      min-width: unset;
      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }
    @include large-screen {
      padding-left: size(110);
      padding-right: size(80);
    }
  }

  //text section


  ///////////////////////
  .text-wrapper {

    @include large-screen {
      position: relative;
    }

    .main-title {
      margin-bottom: size(30);
      max-width: size(460);
      @include large-screen {
        margin-bottom: size(50);
      }
    }

    .section-title {
      @include font(24px, 600, 30px, $headversity_dark_blue, $poppins, normal);
      margin-bottom: size(15);
      max-width: size(360);
      @include large-screen {
        @include font-size(32px, 40px);
        margin-bottom: size(27);
        max-width: 78%;
      }
    }

    .section-desc {
      @include small-screen {
        width: size(330);
        margin-bottom: size(39);
      }
      @include min-medium-screen {
        margin-bottom: size(20);
        max-width: size(360);
        @include font-size(14px, 24px);
      }
      @include large-screen {
        margin-bottom: size(39);
        max-width: size(456);
        @include font-size(16px, 30px);
      }
    }
  }

  .has-stats {
    .main-title {
      @include large-screen {
        margin-bottom: size(35);
      }
    }

    .section-desc {
      @include large-screen {
        margin-bottom: size(40);
      }
    }

    .stats-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: size(391);
      @include min-medium-screen {
        max-width: size(491);

      }
    }

    .state {
      width: calc(100% / 2);
      max-width: size(160);
      @include font(14px, 400, 24px, $headversity_gray, $poppins);
      margin-bottom: size(20);
      @include large-screen {
        @include font-size(16px, 30px);
        margin-bottom: size(30);
        max-width: size(237);

      }

      .number {
        font-weight: 700;
        color: $headversity_compliant_blue;
      }
    }
  }

  .has-list {
    .main-title {
      @include large-screen {
        margin-bottom: size(35);
      }
    }

    .section-desc {
      @include large-screen {
        margin-bottom: size(40);
      }
    }

    .list-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: size(332);
      @include large-screen {
        max-width: size(372);
      }

    }

    .list {
      width: size(136);
    }

    .list-item {
      margin-bottom: size(10);
      @include min-medium-screen {
        @include font-size(14px, 24px);


      }
      @include large-screen {
        @include font-size(16px, 30px);


      }
    }

    .left-list {
      position: relative;
      width: size(106);

      @include large-screen {
        width: size(136);

      }


      .list-item:after {
        content: '';
        position: absolute;
        height: 100%;
        width: size(69);
        //background-image: url("../../svgs/blue-arrow.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
      }
    }
  }
}
