:root {
  /* Colors: */
  --successkpi_black: #000000;
  --successkpi_white: #ffffff;
  --successkpi_dark_blue_1:#032169;
  --successkpi_dark_blue_2: #092064;
  --successkpi_gray:#555555;
  --successkpi_raisin_black:#202020;
  --successkpi_light_blue_1:#234CC6 ;
  --successkpi_light_blue_2:#0D4CCD ;
  --successkpi_ghost_white: #FAFBFD;
  --successkpi_anti_flash_white:#F3F3F3;
  --successkpi_anti_sky_blue:#98B6FF;
}
