@import "variables";
@import "mixins";
@import "root";
@import "swiper/css";

// region container
body {
  h1, h2, h3, h4, h5, h6, p, ul, ol, form, fieldset {
    margin: 0;
    padding: 0;
  }

  a, a:hover, a:focus {
    text-decoration: none;
  }

  label {
    display: block;
    margin: 0;
  }

  .successkpi-block {
    .container {
      width: 100%;
      max-width: 144rem;
      @include paddingX($container-padding-sm);
      @include min-medium-screen {
        @include paddingX($container-padding-md);
      }
      @include large-screen {
        @include paddingX($container-padding-lg);
      }
      @at-root body .section-noContainer & {
        @include paddingX(0);
      }
    }
  }

  &.has-blocks {
    .fl-post-content {
      .successkpi-block {
        .container {
          ul, ol {
            margin: 0;
          }
        }
      }

    }
  }
}

//endregion

// bb theme overrides
.fl-content-full {
  max-width: 100% !important;
  width: 100% !important;

  .fl-content {
    padding-top: 118px !important;
    margin: 0 !important;
    @media (max-width: 992px) {
      padding-top: 173.53px !important;
    }
  }
}

.fl-post-header {
  display: none !important;
}

// region font  Styling
.headline-1, .wysiwyg-block h1, .blog-content-wrapper h1 {
  @include font(46px, 700, 55px, $successkpi_dark_blue_1, $roboto, size(0.28));
  @include large-screen {
    @include font-size(60px, 86.4px);
  }
}

.headline-2, .wysiwyg-block h2, .blog-content-wrapper h2 {
  @include font(36px, 700, 50px, $successkpi_dark_blue_1, $roboto, size(0.28));
  @include large-screen {
    @include font-size(54px, 63.28px);
  }
}

.headline-3, .wysiwyg-block h3, .blog-content-wrapper h3 {
  @include font(36px, 700, 42px, $successkpi_dark_blue_1, $roboto, size(0.28));
  @include large-screen {
    @include font-size(45px, 52.65px);
  }
}

.headline-4, .wysiwyg-block h4, .blog-content-wrapper h4 {
  @include font(28px, 700, 32.76px, $successkpi_dark_blue_1, $roboto);
}

.headline-5, .wysiwyg-block h5, .blog-content-wrapper h5 {
  @include font(18px, 400, 32.4px, $successkpi_dark_blue_1, $roboto, size(0.28));
}

.headline-6, .wysiwyg-block h6, .blog-content-wrapper h6 {
  @include font(16px, 400, 25.6px, $successkpi_dark_blue_1, $roboto, size(0.28));
}

.paragraph, .wysiwyg-block p {
  @include font(18px, 400, 32px, $successkpi_gray, $roboto, size(0.28));


  &-s-paragraph {
    @include font(14px, 400, 16.38px, $successkpi_gray, $roboto, size(0.28));
  }

  &-m-paragraph {
    @include font(16px, 400, 26px, $successkpi_gray, $roboto, size(0.28));
  }

  &-l-paragraph {
  }
}

.small-title {
  @include font(18px, 700, 21.09px, $successkpi_dark_blue_1, $roboto);
}

.small-text {
  @include font(14px, 400, 16.38px, $successkpi_gray, $roboto);
}

.wysiwyg-block ul {
  margin-left: size(20);

  li {
    font: inherit;
    color: inherit
  }

}

.wysiwyg-block ol {
  margin-left: size(20);

  li {
    font: inherit;
    color: inherit
  }
}


// endregion

// region cta button
.cta-button {
  @include font(18px, 700, 25.6px, $successkpi_white, $roboto);
  background-color: $successkpi_dark_blue_1;
  min-width: size(170);
  padding: size(11.21) size(25);
  @include flex(center, center);
  width: fit-content;
  transition: background-color $duration;
  cursor: pointer;
  position: relative;
  @include min-medium-screen {
    @include font(16px, 400, 25.6px, $successkpi_white, $roboto);
    min-width: size(169);
    padding: size(11.21) size(25);
  }

  &:hover {
    background-color: $successkpi_light_blue_1;
    color: var(--successkpi_white);
  }

  &:focus {
    background-color: $successkpi_light_blue_1;
  }

  &.outline-cta {
    color: $successkpi_light_blue_1;
    background-color: $successkpi_white;
    border: size(2) solid $successkpi_light_blue_1;
    transition: background-color $duration, color $duration;
    padding: size(9.21) size(25);

    &:hover {
      background-color: $successkpi_light_blue_1;
      color: $successkpi_white;
    }

    &:focus {
      background-color: $successkpi_light_blue_1;
      color: $successkpi_white;
    }
  }

}


// endregion cta button

// region cta link

.cta-link {
  @include font(14px, 400, 20px, $successkpi_raisin_black, $roboto);
  display: flex;
  width: fit-content;
  align-items: center;
  transition: color $duration;

  &:hover {
    color: $successkpi_light_blue_1;
  }

  &:focus {
    color: $successkpi_light_blue_1;
  }
}

// endregion cta link


// region  wysiwyg
.wysiwyg-block {
  h1, h2, h3, h4, h5, h6, ul, p {
    margin-bottom: size(20);
  }

  ul, ol {
    margin-bottom: size(20);
    padding-top: 0;

    ul, ol {
      margin: size(5) 0 0 size(10);
    }
  }

  ol {
    padding-left: size(17);


    ul {
      margin-bottom: 0;
    }
  }
}

//endregion//

// region swiper navigation
.swiper-button {
}

// endregion swiper navigation

// region swiper pagination
//.swiper-pagination {
//  .swiper-pagination-bullet {
//    &-active {
//
//    }
//  }
//}

// endregion swiper pagination

// bb theme overrides
.fl-post-header {
  display: none !important;
}
