// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$successkpi_black: var(--successkpi_black);
$successkpi_white: var(--successkpi_white);
$successkpi_dark_blue_1: var(--successkpi_dark_blue_1);
$successkpi_dark_blue_2: var(--successkpi_dark_blue_2);
$successkpi_gray: var(--successkpi_gray);
$successkpi_raisin_black: var(--successkpi_raisin_black);
$successkpi_light_blue_1: var(--successkpi_light_blue_1);
$successkpi_light_blue_2: var(--successkpi_light_blue_2);
$successkpi_ghost_white: var(--successkpi_ghost_white);
$successkpi_anti_flash_white : var(--successkpi_anti_flash_white);
$successkpi_anti_sky_blue:var( --successkpi_anti_sky_blue);


// fonts
$themefont: 'Montserrat';
$roboto : 'Roboto';
$inter : 'Inter';
//default duration
$duration: 500ms;
//override bootstrap variables
$grid-gutter-width: 4rem;
$container-padding-sm: 2.5rem;
$container-padding-md: 5rem;
$container-padding-lg: 6rem;
$container-max-widths: (
  'md': 100%, //570px
  'lg': 144rem, //760px 88.4
);
$grid-breakpoints: (
  'xs': 0,
  'md': $medium-screen-min-width,
  'lg': $large-screen-min-width,
);

