
@import "styles/sites/k1_elementor";

.prefooter_block {
  //height: 100vh;
  display: flex;
  align-items: center;
  //position: relative;
  //z-index: 3;
  z-index: 99999;
  width: 100%;
  overflow: hidden;
  height: size(460);
  @include paddingY(size(118), size(116));
  @include min-medium-screen {
    @include paddingY(size(122));
  }

  .cover-background {
    z-index: -2;
  }

  .background-wrapper {
    @include square(100%);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: -1;
    overflow: hidden;

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background: radial-gradient(#26262600, #00000080);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: #160a4569;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    img {
      &:not(.stars) {
        @include square(100%);
        object-fit: cover;
      }
    }
  }

  .mountain-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    img {

      object-position: right 36%;
      @include objectImg(cover);
      @include min-medium-screen {
        object-position: center 28%;
      }
    }
  }

  .stars-wrapper {
    @include square(100%);
  }

  .sky-background {
    @include square(100%);
  }

  .cloud {
    position: absolute;

    &.cloud-1 {
      bottom: size(-80);
      width: 70vw;
      left: 52%;
      transform: translateX(-50%);
    }

    &.cloud-2 {
      bottom: 21%;
      width: 51vw;
      right: -10%;
    }

    &.cloud-3 {
      top: 17%;
      width: 33vw;
      left: -11%;
    }
  }

  .sub-title {
    margin-bottom: size(5);
  }

  .title {
    span {
      margin-right: 0 !important;
      color: transparent !important;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fff;
    }
  }

  .cta-button {
    margin-top: size(48);
  }

  .content {
    max-width: size(335);

    @include marginX(auto);
    @include min-medium-screen {
      max-width: size(775);
    }

    .title {
      color: $k1_project_black;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: size(14);
      @include min-medium-screen {
        margin-bottom: size(10);
      }

      span {
        -webkit-text-stroke: size(1) $k1_project_white;
        -webkit-text-fill-color: transparent;
        margin-right: size(14);
      }
    }
  }

  .description, .sub-title, .title {
    color: $k1_project_white !important;
    text-align: center;
  }

  .custom-modal {
    textarea {
      background-color: #000 !important;
      border:0 !important;
    }

    input:not([type="submit"]){
      border:0 !important;
    }

    .elementor-form-fields-wrapper {
      @include marginX(0 !important);
      padding-bottom: size(20);
    }
    transform: translateX(-100%);

    &.modal-active{
      transform: none;
    }
  }

  &.prefooter-layout {
    &:after {
      content: "";
      position: absolute;
      width: 102%;
      height: 102%;
      top: -1%;
      left: -1%;
      z-index: -1;
      background: linear-gradient(0deg, rgba(123, 97, 255, 0.1), rgba(123, 97, 255, 0.1)), radial-gradient(102.02% 169.12% at 50% 38.49%, rgba(30, 30, 30, 0.49) 0%, rgba(30, 30, 30, 0) 100%);
    }
  }

  &.large-height {
    min-height: auto;
    @include min-medium-screen {
      min-height: size(689);
    }
  }

}




