@import "styles/sites/cyberhill";
.case_studies_block {
  background: $cyberHill-Blue;
  @include paddingY(size(64));
  @include min-medium-screen {
    @include paddingY(size(135));
  }
  @include large-screen {
    @include paddingY(size(172), size(160));
  }
  
  .container {
    position: relative;
    padding-right: 0;
    
  }
  
  .case_studies-wrapper {
    position: relative;
  }
  
  .title-with-shape {
    padding-bottom: size(60);
    padding-right: size(70);
  }
  
  .swiper {
    overflow: hidden;
    position: relative;
    @include paddingY(size(20));
    
    .swiper-slide {
      height: auto;
    }
    
    
    .case-study-card {
      //background: $cyberHill-white;
      margin-bottom: 0;
      height: 100%;
      padding-bottom: size(36);
      @include min-medium-screen {
        padding-bottom: size(56);
      }
      @include large-screen {
        padding-bottom: size(56);
      }
    }
  }
  
  .headline-5 {
    transition: color $duration;
    
    &:hover {
      color: $cyberHill-light-green;
    }
  }
  
  .all-and-swiper-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 87%;
    margin-top: size(24);
    
    .primary-button {
      @include min-medium-screen {
        margin-right: size(17);
      }
    }
    
    .swiper-buttons {
      display: flex;
      
      
    }
    
    @include min-medium-screen {
      position: absolute;
      top: size(-22);
      right: size(80);
      justify-content: space-evenly;
      padding-top: size(0);
      margin-top: 0;
      
    }
    
    @include large-screen {
      right: size(162);
    }
  }
  
  .mySwiper {
    .perspective-flip {
    
    
    }
  }
  
  //&.is_chrome {
  //  .perspective-flip {
  //    .flip {
  //      -webkit-backface-visibility: unset;
  //    }
  //  }
  //}
  
  .perspective-flip {
    perspective: size(1500);
    display: flex;
    
    .flip {
      width: 100%;
      height: auto;
      display: flex;
      transition: transform 600ms;
      position: relative;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      //-webkit-backface-visibility: hidden;
      
      .flip-card {
        height: 100%;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      &-front, &-back {
        @include paddingX(size(30));
        @include paddingY(size(30), size(70));
        display: flex;
        align-items: center;
        
        .text-link {
          position: absolute;
          left: size(30);
          bottom: size(17);
          color: $cyberHill-white;
          font-weight: 400;
          font-size: size(14);
          transition: color $duration;
          
          &:hover {
            color: $cyberHill-light-green;
          }
        }
      }
      
      &-front {
        height: auto;
        position: relative;
        z-index: 10;
        
        .overlay {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: transparent;
          pointer-events: none;
          z-index: 0;
        }
        
        picture {
          @include square(100%);
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }
        
        .headline-3 {
          font-weight: 600;
          color: $cyberHill-white;
        }
        
        a {
          z-index: 1;
        }
        
      }
      
      &-back {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: white;
        cursor: pointer;
        
        .go-to-front {
          position: absolute;
          bottom: size(17);
          right: size(10);
          
          font-size: size(12);
        }
        
        .headline-3 {
          text-align: left;
          @include font(size(16), 700, 150%, $cyberHill-Blue, $space-grotesk);
          margin-bottom: size(20);
          transition: color $duration;
          
          &:hover {
            color: $cyberHill-light-green;
          }
        }
        
        .paragraph-16 {
          @include text-lines(5);
          cursor: auto;
        }
        
        .text-link {
          color: $cyberHill-Nero;
        }
        
      }
    }
    
    .has-flip {
      padding: 0;
      min-height: size(444);
      border: none;
      border-bottom: 4px solid $cyberHill-light-green;
    }
    
    &.add-hover {
      .has-flip {
        transform: rotateY(180deg);
      }
    }
    
    &.remove-hover {
      .has-flip {
        transform: rotateY(0deg);
      }
    }
    
    @include large-screen {
      &:hover {
        .has-flip {
          transform: rotateY(180deg);
        }
      }
    }
  }
  
  &.blue {
    .flip-back {
      
      .headline-3 {
        color: $cyberHill-Blue !important;
      }
      
      .paragraph {
        color: $cyberHill-dark-Blue;
      }
      
    }
    
    .swiper-button {
      border: size(1) solid $cyberHill-white;
      color: $cyberHill-light-green !important;
      
      svg {
        color: $cyberHill-light-green;
      }
      
      &.swiper-button-disabled {
        pointer-events: none !important;
      }
      
      &:hover {
        path {
          fill: $cyberHill-Blue;
        }
      }
    }
  }
  
  &.grey {
    .swiper-button {
      border: 1px solid $cyberHill-Blue;
      
      &:not(&-disabled) {
        color: $cyberHill-Blue !important;
        
        &:hover {
          border-color: $cyberHill-light-green !important;
        }
      }
      
      svg {
        color: $cyberHill-Blue;
      }
    }
  }
  
  .swiper-button {
    border: 1px solid $cyberHill-Blue;
    
    &:not(&-disabled) {
      color: $cyberHill-Blue !important;
      
      &:hover {
        border-color: $cyberHill-light-green !important;
      }
    }
    
    svg {
      color: $cyberHill-Blue;
    }
  }
}


