@import "styles/sites/headversity";

.solutions_toggle_Block {
  @include paddingY(size(37), size(76.5));
  @include min-medium-screen {
    @include paddingY(size(84), size(122));

  }

  .block-title {
    @include small-screen {
      text-align: left;
      max-width: size(346);
      color: $headversity_dark_blue;
      margin-bottom: size(24);
    }
    text-align: center;
    margin-bottom: size(36);
  }

  .taps-wrapper {
    @include small-screen {
      flex-direction: column;
      margin-bottom: unset;
      box-shadow: unset;
      overflow: unset;
      border-radius: unset;
    }
    display: flex;
    background-color: $headversity_white;
    margin-bottom: size(64);
    box-shadow: 0px 10px 20px rgba(97, 55, 55, 0.1);
    overflow: hidden;
    border-radius: 0px 0px 30px 30px;
    @include min-medium-screen {
      margin-bottom: size(96);

    }
    @include large-screen {
      margin-bottom: size(127);

    }
  }

  .tap {
    &:after {
      content: "";
      position: absolute;
      height: 7px;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: #F89833;
      transition: opacity $duration;
      opacity: 0
    }

    @include small-screen {
      @include paddingY(size(32), size(40));
      @include paddingX(size(29), size(15));
      width: 100%;
      margin-bottom: size(43);
      align-items: unset;
      flex-direction: column;
      overflow: hidden;
      border-radius: 0px 0px 30px 30px;
      box-shadow: 0px 10px 20px rgba(97, 55, 55, 0.1);
    }
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    @include min-medium-screen {
      @include paddingX(size(38));
      @include paddingY(size(32), size(30));
    }
    @include large-screen {
      @include paddingX(size(50), size(54));
      @include paddingY(size(43), size(40));
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(255, 255, 255, 0.7);
      transition: background-color $duration;
      pointer-events: none;
      z-index: 4;
    }

    &:hover {
      &:before {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
  }


  .active-tap {
    .text-wrapper {
      @include large-screen {
        transform: translateY(0);
        will-change: transform;
      }


    }

    .tap-description {
      @include small-screen {
        @include max-lines(3);
      }
      @include max-lines(2);
      @include large-screen {
        opacity: 1;
      }
      //display: block;
    }

    .svg-wrapper {
      svg {
        transform: rotate(-90deg);

      }
    }

    &:before {
      background-color: transparent;
    }

    &:after {

      opacity: 1;
    }

    &:hover {
      &:before {
        background-color: transparent;
      }
    }
  }


  .right-tap {
    @include small-screen {
      border-left: unset;
    }
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  // Tap Svg //
  .svg-wrapper {
    @include small-screen {
      margin-right: unset;
      margin-bottom: size(17);
    }
    margin-right: size(27);
    position: relative;
    z-index: 1;
    width: fit-content;

    svg {
      @include square(size(72));
      transition: transform $duration;
      @include min-medium-screen {
        @include square(size(54))
      }
      @include large-screen {
        @include square(size(72))
      }
    }

    &:before {
      content: "";
      position: absolute;
      border-radius: 50%;
      background-color: $headversity_yellow;
      top: 6.9%;
      right: 8%;
      z-index: -1;
      @include square(size(72));
      @include min-medium-screen {
        @include square(size(54));
      }
      @include large-screen {
        @include square(size(72));
      }
    }
  }


  .text-wrapper {
    max-width: size(349);
    @include large-screen {
      transition: transform $duration;
      transform: translateY(size(27));
    }
  }

  .tap-title {
    @include small-screen {
      margin-bottom: size(12);
      color: $headversity_dark_blue;
    }
    color: $headversity_black;
  }

  .tap-description {

    @include small-screen {
      margin-bottom: size(34);
    }
    @include font(14px, 400, 24px, $headversity_gray, $poppins);
    display: none;
    @include large-screen {
      @include font-size(16px, 30px);
      transition: opacity $duration;
      opacity: 0;
      @include max-lines(2);
    }
  }

  .text-tap-part {
    @include small-screen {
      width: 100%;
      margin-right: unset;
      margin-bottom: size(20);
      height: 0;
      overflow: hidden;
      //opacity: 0;
      //transition: height $duration, opacity $duration;
    }
    @include min-medium-screen {
      display: none;
    }
  }

  //  Content section
  .bottom-section {
    @include small-screen {
      display: none;
    }
  }

  .content-section-holder {
    display: none;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .content-section {
    display: flex;
    pointer-events: none;
    animation: fadeIn $duration;
    transition: opacity $duration;
  }

  .appeared {
    display: block;

    .content-section {
      pointer-events: auto;
      opacity: 1;
    }
  }

  //Text Part

  .text-part {

    @include flexBasis(38.8%);
    margin-right: size(95);
    @include large-screen {
      margin-right: size(131);
    }
  }

  .description {
    @include small-screen {
      margin-bottom: size(40);
      max-width: size(273);
    }
    margin-bottom: size(43);
    @include font(14px, 400, 24px, $headversity_gray, $poppins);
    @include large-screen {
      margin-bottom: size(84);
      @include font-size(16px, 30px);
    }
  }


  .achievement {
    @include small-screen {
      margin-bottom: size(15);
    }
    display: flex;
    align-items: center;
    margin-bottom: size(27);

    @include large-screen {
      margin-bottom: size(36);
    }

    &:last-of-type {
      margin-bottom: unset;
    }
  }

  .checked-svg {
    @include small-screen {
      margin-right: size(19);
      width: size(16);
      height: size(14);
    }
    width: size(22);
    height: size(19);
    margin-right: size(14);
    @include large-screen {
      margin-right: size(19);
    }

  }

  .heading {
    @include small-screen {
      @include font(14px, 600, 30px, $headversity_black, $poppins, normal);
    }
    @include font(16px, 600, 30px, $headversity_black, $poppins, normal);

    @include large-screen {
      @include font-size(20px, 30px);

    }


  }

  //  image part

  .images-part {
    display: none;
    height: fit-content;
    position: relative;
    width: 100%;
    margin-bottom: size(40);
    @include min-medium-screen {
      display: block;
      width: 45.84%;
      margin-right: size(52);
      margin-bottom: unset;
    }
    @include large-screen {
      @include flexBasis(46.66%);
      position: relative;
      margin-right: size(82);
    }

  }

  .mobile-wrapper {
    width: size(128);
    @include marginX(auto);
    border-radius: size(20);
    overflow: hidden;
    @include min-medium-screen {
      width: size(190);
    }
    @include large-screen {
      width: size(235);
    }
  }

  .mobile {
    padding-top: 194.5%;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
    @include large-screen {
      padding-top: 195.7%;
    }
  }

  .small-card {
    position: absolute;
    width: size(111);
    height: size(45);
    @include min-medium-screen {
      width: size(150);
      height: size(65);
    }
    @include large-screen {
      width: size(205);
      height: size(84);

    }

    img {
      width: 100%;
      height: 100%;

    }
  }

  .pic-2 {
    top: 26%;
    right: 50%;
    transform: translateX(-20%);


    @include large-screen {
      width: size(205);
      height: size(84);
      transform: translateX(5%);
      left: 0;
      right: unset;
    }
  }

  .pic-3 {
    bottom: 29%;
    left: 50%;
    transform: translateX(20%);
    @include min-medium-screen {
      right: 0;
      left: unset;
      transform: translateX(-12%);
    }
    @include large-screen {

      transform: translateX(-5%);
    }

  }

  .rounded {
    border-radius: 50%;
    overflow: hidden;
    @include square(size(130));

    @include large-screen {
      @include square(size(173.47));
    }
  }

  .yellow-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    @include square(size(205));
    @include min-medium-screen {
      @include square(size(300));
    }
    @include large-screen {
      top: 50%;
      transform: translate(-50%, -50%);
      @include square(size(381));
    }
    border: 2px solid #FF9900;
    border-radius: 50%;

  }

  .ellipse {
    @include square(size(446));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, #FAC20A 0%, rgba(255, 255, 255, 0) 100%);
    @include large-screen {
      @include square(size(824));

    }
  }


}
