:root {
  /* Colors: */
  --cyberHill-black: #000000;
  --cyberHill-white: #ffffff;
  --cyberHill-Blue: #1D4070;
  --cyberHill-dark-Blue: #040714;
  --cyberHill-humming-bird: #CCF6ED;
  --cyberHill-tangaroa: #0D243F;
  --cyberHill-light-green: #82FA81;
  --cyberHill-granny-apple: #CEF4D2;
  --cyberHill-fruit-salad: #569955;
  --cyberHill-alice-blue: #EDF3F5;
  --cyberHill-zumthor: #CAD5D9;
  --cyberHill-casper: #A9B8BD;
  --cyberHill-botticelli: #8BA6AF;
  --cyberHill-Nero: #161616;
    --cyberHill-matterhorn: #525252;
  --cyberHill-dark-gray: #A8A8A8;
  --cyberHill-gray-10: #FCFCFC;
  --cyberHill-secondary-10: #EDF3F5;
  --cyberHill-gray-20: #F7F7F7;
  --cyberHill-gray-40: #E1E5E4;
  --cyberHill-gray-60: #AEB7B7;
  --cyberHill-gray-80: #2E3333;
  --cyberHill-danger: #DA1E28;
  --cyberHill-light-danger: #FA4D56;
  --cyberHill-dodger-blue:#0F62FE;
  --cyberHill-light-blue:#4589FF;
  --cyberHill-success:#24A148;
  --cyberHill-light-success:#42BE65;
  --cyberHill-yellow:#F1C21B;
  --cyberHill-light-yellow:#EED375;
}
