@import "variables";
@import "mixins";
@import "root";

body {
  position: relative;
  @include large-screen {
    &:after {
      content: "";
      width: size(16);
      height: 100%;
      background: $cyberHill-light-green;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 9;
    }
  }

}

.z-1 {
  position: relative;
  z-index: 1;
}

// region container padding style
.container {
  @include paddingX(size(44));
  @include min-medium-screen {
    @include paddingX(size(80));
  }
  @include large-screen {
    @include paddingX(size(162));
  }
}

// endregion

// region font  Styling

.headline-1, .wysiwyg-block h1 {
  @include font(size(50), 400, 112%, $cyberHill-white);
  @include min-medium-screen {
    font-size: size(70);
    line-height: 105%;
  }
  @include large-screen {
    font-size: max(9rem);
    line-height: 108.88%;
  }
}

.headline-2, .wysiwyg-block h2 {
  @include font(size(32), 400, 112.5%, $cyberHill-Blue);
  @include min-medium-screen {
    font-size: size(40);
    line-height: 135%;
  }
  @include large-screen {
    font-size: size(60);
    line-height: 113.33%;
  }
}

.headline-3, .wysiwyg-block h3 {
  @include font(size(28), 400, 114.28%, $cyberHill-white, false, size(0.2));
  @include min-medium-screen {
    font-size: size(38);
    line-height: 110.52%;
  }
  @include large-screen {
    font-size: size(48);
    line-height: 108.33%;
  }
}

.headline-4, .wysiwyg-block h4 {
  @include font(size(24), 400, 133.33%, $cyberHill-Nero);
  @include min-medium-screen {
    font-size: size(32);
    line-height: 133.33%;
  }
}

.headline-5, .wysiwyg-block h5 {
  @include font(size(18), 600, 155.55%, $cyberHill-Nero, $space-grotesk);
}

.headline-6, .wysiwyg-block h6 {
  @include font(size(16), 600, 150%, $cyberHill-Nero, $space-grotesk, size(1));
}

.paragraph, .wysiwyg-block p {
  @include font(size(16), 400, 137.5%, $cyberHill-Nero, $space-grotesk);
  @include min-medium-screen {
    font-size: size(18);
    line-height: 144.44%;
  }

  &-white {
    color: $cyberHill-white !important;
  }

  &.paragraph-16 {
    font-size: size(16);
    line-height: 150%;
  }

  &-14 {
    font-size: size(14);
    line-height: 157.14%;
  }

  &-12 {
    font-size: size(12);
    line-height: 157.14%;
    font-weight: 600;
  }

}

// hover in link in wysiwyg
p {
  a {
    transition: color $duration;

    &:hover {
      color: $cyberHill-light-green;
    }
  }

}


.title-with-shape {
  display: flex;
  align-items: center;
  font-size: size(16);
  font-weight: 600;
  line-height: 150%;
  letter-spacing: size(1);
  color: $cyberHill-white;
  font-family: $space-grotesk;
  text-transform: uppercase;

  &-blue {
    color: $cyberHill-tangaroa;
  }

  &:before {
    content: "";
    display: block;
    width: size(32);
    height: 1px;
    background: $cyberHill-light-green;
    margin-right: size(8);
    animation: grow 2s ease infinite;
    @keyframes grow {
      0%, 100% {
      }
      50% {
      }
    }
  }
}

.small-text {
  @include font(size(16), 600, 150%, $cyberHill-white, $space-grotesk);

  &-14 {
    font-size: size(14);
    line-height: 157.14%;
  }

  &-12 {
    font-size: size(12);
    line-height: 150%;
    letter-spacing: size(0.6);
  }
}

.fw-400 {
  font-weight: 400;
}

.footer-title {
  @include font(size(14), 600, 128.57%, $cyberHill-Blue, $space-grotesk, size(0.6));
}

.footer-link {
  @include font(size(14), 400, 128.57%, $cyberHill-Nero, $space-grotesk);
  transition: color $duration;

  &:hover {
    color: $cyberHill-light-green;
  }

}

.link-and-arrow {
  display: flex;
  align-items: center;
  @include font(size(12), 600, size(18), $cyberHill-Blue, $space-grotesk, size(0.6));
  transition: color $duration;

  .arrow {
    margin-left: size(15);
    width: size(10);
    height: size(14);
    transition: margin $duration;

    path {
      fill: CurrentColor;
    }
  }

  &:hover {
    color: $cyberHill-light-green;

    .arrow {
      margin-left: size(22);
    }
  }
}

.scroll-down {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: size(70);
  cursor: pointer;

  .down-icon {
    border: size(1) solid CurrentColor;
    border-radius: 50%;
    @include square(size(48));
    @include flex(center, center);
    margin-right: size(16);
    cursor: pointer;
    transition: border-color $duration;
    color: $cyberHill-white;

    .arrow-animation {
      width: size(14);
      height: size(24);
      animation: down 1s ease-in-out infinite;

      path {
        fill: CurrentColor;
      }
    }
  }

  .small-text {
    transition: color $duration;
  }

  &:hover {

    .down-icon {
      border-color: $cyberHill-light-green !important;

      .arrow-animation {
        path {
          fill: $cyberHill-light-green;
        }
      }
    }

    .small-text {
      color: $cyberHill-light-green !important;
    }
  }
}

// endregion

// region button  Styling

.primary-button {
  min-width: size(108);
  max-width: 100%;
  width: fit-content;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  @include font(size(14), 600, 100%, $cyberHill-Blue, $space-grotesk);
  padding: size(16) size(24);
  border-radius: size(32);
  border: 1px solid $cyberHill-Blue;
  z-index: 2;
  transition: border-color $duration, color $duration, background $duration;

  &-white {
    color: $cyberHill-white;
    border: size(1) solid $cyberHill-white;
  }

  &-with-arrow {
    min-width: size(148);
    @include paddingY(size(15));
    @include paddingX(size(23), size(18));

    .arrow {
      width: size(18);
      height: size(16);
      margin-left: size(27);

      path {
        fill: CurrentColor;
      }
    }
  }

  &-font-16 {
    font-size: size(16);
  }

  &-only-arrow {
    min-width: unset;
    @include square(size(24));
    border-radius: 50%;
    border: 1px solid $cyberHill-Blue;
    @include flex(center, center);
    @include min-medium-screen {
      @include square(size(48));
    }

    .arrow {
      width: 60%;
      height: size(11.83);
      @include min-medium-screen {
        width: size(18);
        height: size(15);
      }
    }
  }

  &-small-button {
    @include paddingY(size(10));
  }

  &:hover {
    border-color: $cyberHill-light-green !important;
    background: $cyberHill-light-green;
    color: $cyberHill-Blue;
  }

  &.active {
    color: $cyberHill-tangaroa;
    border-color: $cyberHill-tangaroa;

    &:before, &:after {
      opacity: 0;
    }
  }
}


.square-button {
  @include square(size(32));
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $cyberHill-black;
  transition: background-color $duration, border-color $duration;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 2;

  svg {
    @include square(size(16));
  }


  &:before, &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    background: #aeb7b7;
    z-index: -1;
    transition: all $duration;
  }

  &:before {
    opacity: .5;
    right: 100%;
  }

  &:after {
    transition-delay: .4s;
    left: 100%;
  }


  &:hover {
    &:before {
      right: 0;
    }

    &:after {
      left: 0;
    }
  }

  &-white {
    background-color: $cyberHill-white;
    border: 1px solid $cyberHill-Blue;

    &:before, &:after {
      display: none;
    }

    svg {
      path {
        fill: $cyberHill-black;
      }
    }

    &:hover {
      border-color: $cyberHill-black;
      background-color: #f4f4f4;
    }
  }


  &.disabled {
    pointer-events: none;
    cursor: default;
    border: 1px solid #e0e0e0;
    background-color: $cyberHill-white;

    svg {
      path {
        fill: $cyberHill-dark-gray;
      }
    }
  }
}

.white {
  color: $cyberHill-white;
}

.text-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  @include font(size(12), 600, size(18), $cyberHill-Blue, $space-grotesk, size(0.6));
  text-align: center;
  transition: color $duration;

  &-with-arrow {
    svg {
      @include square(size(24));
      margin-left: size(8);
    }

    &.reverse {
      flex-direction: row-reverse;

      svg {
        transform: rotate(180deg);
        margin-left: 0;
        margin-right: size(8);
      }
    }
  }


  &-with-border {
    color: $cyberHill-Nero;
    height: fit-content;
    width: fit-content;
    text-transform: uppercase;

    &:after {
      content: "";
      background-color: $cyberHill-light-green;
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: size(-5);
      transition: background-color $duration;
    }

    &:hover {
      &:after {
        background-color: $cyberHill-light-green;
      }
    }
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
    color: $cyberHill-dark-gray;

    &:after {
      background-color: $cyberHill-dark-gray;
    }
  }


  &.white-color {
    color: $cyberHill-white;
  }

  &:hover {
    color: $cyberHill-light-green;

    svg {
      path {
        fill: $cyberHill-light-green;
      }
    }
  }
}

// endregion

// region Ul Styling

ul:not(.reset-ul):not(.sub-menu) {

  li {
    position: relative;
    font-size: size(24);
    padding-left: size(16);
    line-height: size(32);
    font-weight: 400;
    margin-left: size(24);

    &:before {
      content: "";
      width: size(9);
      height: size(9);
      background-color: currentColor;
      position: absolute;
      border-radius: 50%;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// endregion ul

// region swiper pagination
.swiper-paginations, .swiper-pagination {
  position: relative;
  @include flex(center);
  width: fit-content;
  @include marginX(auto);


  .swiper-pagination-bullet {
    width: size(24);
    height: size(24);
    background: transparent;
    border-bottom: 2px solid $cyberHill-Blue;
    cursor: pointer;
    border-radius: 0;
    transition: border-bottom $duration;
    opacity: 1;
    @include min-medium-screen {
      height: size(30);

    }

    &:not(:last-child) {
      margin-right: size(8);
    }

    &:hover {
      border-bottom-color: $cyberHill-light-green;
    }
  }

  .swiper-pagination-bullet-active {
    border-bottom-color: $cyberHill-light-green;
  }


  &.swiper-paginations-white {
    .swiper-pagination-bullet {
      border-bottom: 2px solid $cyberHill-white;

      &:hover {
        border-bottom-color: $cyberHill-light-green;
      }
    }

    .swiper-pagination-bullet-active {
      border-bottom-color: $cyberHill-light-green;
    }
  }
}

// endregion swiper pagination


// region cards style


// region general in cards

.card {
  border: 1px solid #cad5d9;
  border-bottom: 4px solid #cad5d9;
  transition: border $duration;

  &:hover {
    border-color: $cyberHill-light-green;
  }

  &.card-with-out-image {
    .card-image {
      display: none;
    }
  }


}

.card-image {
  margin-bottom: size(16);
  position: relative;

  .aspect-ratio {
    padding-top: 49.2%;
  }

  .square {
    display: none;
  }

  &.image-with-video {

    .square {
      display: flex;
    }
  }

}

.square {
  display: flex;
  @include square(size(56));
  background-color: $cyberHill-tangaroa;
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;

  .play-icon {
    @include square(size(32));
    cursor: pointer;

    &:hover {
      circle {
        transition: stroke $duration;
        stroke: $cyberHill-light-green;
      }

      path {
        fill: $cyberHill-white;
      }
    }
  }
}

.video-player {
  min-width: calc(100% - 8.8rem);
  padding: size(13) size(16);
  position: absolute;
  bottom: -2.9rem;
  left: 50%;
  background: $cyberHill-tangaroa;
  display: flex;
  align-items: center;
  @include small-screen {
    transform: translateX(-50%);
  }
  @include min-medium-screen {
    min-width: size(226);
    bottom: 0;
    left: 0;
  }

  .video-text {
    letter-spacing: size(0.6);
    color: $cyberHill-light-green;
    margin-left: size(10);

    .video-time {
      color: $cyberHill-white;
      font-weight: 400;
      margin-left: size(8);
    }
  }

  .rectangle {
    display: flex;
    @include square(size(32));
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .play-icon {
      @include square(size(32));
      cursor: pointer;

      &:hover {
        circle {
          transition: stroke $duration;
          stroke: $cyberHill-light-green;
        }

        path {
          fill: $cyberHill-white;
        }
      }
    }
  }
}

.top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .icon-and-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;


    .text {
      font-family: $space-grotesk;
      padding-left: 0;
      transition: color $duration;

      &:not(:first-child) {
        padding-left: size(7);
      }

      &:last-child {
        &:before {
          display: none;
        }
      }

      &:before {
        content: ",";
        position: absolute;
        right: -5.5px;
        bottom: 0;
      }

      &:hover {
        color: $cyberHill-light-green;
      }

    }

    img, svg {
      max-width: size(10);
    }
  }

}

.text {
  position: relative;
  font-family: $space-grotesk;
  font-size: size(14);
  line-height: 100%;
  font-weight: 400;
  color: $cyberHill-black;
  flex-shrink: 0;

}

.headline-5 {
  color: $cyberHill-Blue;
  transition: color $duration;

  &:hover {
    color: $cyberHill-light-green;
  }
}

.paragraph {
  color: #040714;
}

// endregion

.vertical-card {
  @include paddingY(size(24));
  @include paddingX(size(24));
  @include min-medium-screen {
    @include paddingX(size(32));
  }

  .top-content {
    min-height: size(14);
    margin-bottom: size(24);
    @include min-medium-screen {
      margin-bottom: size(48);
    }
  }

  .headline-5 {
    margin-bottom: size(16);
  }

  .paragraph {
    margin-bottom: size(16);
    @include min-medium-screen {
      margin-bottom: size(51);
    }
  }


  &.big-width-card {
    @include large-screen {
      @include paddingY(size(24), size(48));
      @include paddingX(size(48));

    }

    .aspect-ratio {
      padding-top: 50%;
    }

  }

  &.small-padding {
    padding: size(24);
  }


  &.posts-card {
    height: 100%;
    @include paddingX(size(16));
    @include paddingY(size(16), size(35));
    @include min-medium-screen {
      @include paddingX(size(24));
      @include paddingY(size(24), size(71));
    }


    .top-content {
      min-height: size(15);
      @include min-medium-screen {
        margin-bottom: size(32);

      }
    }


    .card-image {
      margin-bottom: size(24);
    }

    .paragraph {
      margin-bottom: size(24);
    }


    .aspect-ratio {
      padding-top: 75.9%;
      @include min-medium-screen {
        padding-top: 50.4%;
      }

    }
  }
}

.horizontal-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include paddingY(size(24), size(28));
  @include paddingX(size(24));
  border: 1px solid #cad5d9;
  border-bottom: 4px solid #cad5d9;
  max-width: size(546);

  .card-image {
    @include flexBasis(size(180));
    flex-shrink: 0;
    margin-bottom: size(0);

    .aspect-ratio {
      padding-top: 100%;
    }
  }


  .right-content {
    @include flexBasis(59.3%);
  }

  .top-content {
    margin-bottom: size(24);
  }

  .headline-5 {
    margin-bottom: size(8);
  }

  .paragraph {
    margin-bottom: size(24);
  }

  &.card-with-out-image {
    padding-bottom: size(24);

    .right-content {
      @include flexBasis(100%);
    }
  }
}

.case-study-card {
  margin-bottom: size(70);
  @include paddingY(size(24), size(52));
  @include paddingX(size(24));
  @include min-medium-screen {
    @include paddingX(size(32), size(31));
  }

  picture {
    width: size(146);
    height: size(67);
    margin-bottom: size(48);

    img {
      object-fit: cover;
    }
  }

  .headline-5 {
    margin-bottom: size(8);
  }

  .paragraph-16 {
    margin-bottom: 0;
  }

  .paragraph-14 {
    margin-top: size(48);
  }

}

// endregion

// region swiper button
.swiper-button {
  @include square(size(48));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: background-color, border;
  transition-duration: $duration;
  border: 1px solid $cyberHill-Blue;

  svg {
    width: size(24);
    height: size(14);
    transition: transform $duration $bouncing;

    path {
      fill: currentColor;
    }
  }

  &-disabled {
    cursor: not-allowed;
    border-color: #e0e0e0;

    svg {
      path {
        fill: #a8a8a8;
      }
    }
  }

  &:not(&-disabled) {
    &:hover {
      background: $cyberHill-light-green;
      border-color: $cyberHill-light-green;
    }
  }

  &.swiper-button-prev {
    margin-right: size(8);
  }

}

// endregion

//  region socialIcons
.social-icons {
  display: flex;
  flex-direction: column;

  .headline-6 {
    margin-bottom: size(16);
  }

  &.horizontal {
    flex-direction: row;
    align-items: center;
    margin-top: size(32);
    display: none;
    @include min-medium-screen {
      display: flex;
    }


    .headline-6 {
      @include marginY(0 !important) ;
      margin-right: size(24);
    }
  }

  .all-icons {
    display: flex;
    margin: size(-4);
  }

  .icon {
    @include square(size(48));
    display: flex;
    align-items: center;
    justify-content: center;
    margin: size(4);
    border-radius: 50%;
    border: 1px solid $cyberHill-Blue;
    transition: background-color $duration, border $duration;

    svg {
      @include square(size(18))
    }

    &:hover {
      background-color: $cyberHill-light-green;
      border-color: transparent;
    }
  }
}

// endregion

// region blocks background color

.white {
  background: $cyberHill-white;

  .headline-1 {
    color: $cyberHill-Blue;
  }

  .headline-2 {
    color: $cyberHill-Blue !important;
  }

  .title-with-shape {
    color: $cyberHill-tangaroa;
  }


  .headline-3 {
    color: $cyberHill-Blue;
  }

  .paragraph {
    color: $cyberHill-matterhorn !important;

    &-14 {
      color: $cyberHill-matterhorn !important;
    }

  }

  .small-text {
    color: $cyberHill-matterhorn;

    &-14 {
      color: $cyberHill-matterhorn !important;
    }
  }

  .primary-button {
    border-color: $cyberHill-Blue;
    color: $cyberHill-Blue;
  }

  .swiper-button {
    border: 1px solid $cyberHill-Blue;

    &:not(&-disabled) {
      color: $cyberHill-Blue !important;

      &:hover {
        border-color: $cyberHill-light-green !important;
      }
    }


    &.swiper-button-disabled {
      border-color: $cyberHill-dark-gray !important;;
    }

    svg {
      color: $cyberHill-Blue;
    }
  }

  .swiper-paginations, .swiper-pagination {

    .swiper-pagination-bullet {
      border-bottom: 2px solid $cyberHill-Blue;

      &:hover {
        border-bottom-color: $cyberHill-light-green;
      }
    }

    .swiper-pagination-bullet-active {
      border-bottom-color: $cyberHill-light-green;
    }

  }

}

.blue {
  background: $cyberHill-tangaroa;

  .title-with-shape {
    color: $cyberHill-white;
  }

  .headline-2 {
    color: $cyberHill-white;
  }

  .headline-3 {
    color: $cyberHill-white !important;
  }

  .headline-4 {
    color: $cyberHill-white;
  }

  .paragraph {
    color: $cyberHill-white;
  }

  .link-and-arrow {
    color: $cyberHill-white;

    &:hover {
      color: $cyberHill-light-green;
    }
  }

  .text-link {
    color: $cyberHill-white;

    &:hover {
      color: $cyberHill-light-green;

      svg {
        path {
          fill: $cyberHill-light-green;
        }
      }
    }

  }

  .primary-button {
    color: $cyberHill-white;
    border: size(1) solid $cyberHill-white;

    &:hover {
      border-color: $cyberHill-light-green !important;
      background: $cyberHill-light-green;
      color: $cyberHill-Blue;
    }
  }

  .swiper-paginations, .swiper-pagination {

    .swiper-pagination-bullet {
      border-bottom: 2px solid $cyberHill-white;

      &:hover {
        border-bottom-color: $cyberHill-light-green;
      }
    }

    .swiper-pagination-bullet-active {
      border-bottom-color: $cyberHill-light-green;
    }

  }

  .social-icons {
    .icon {
      border: 1px solid $cyberHill-white;
    }
  }

  .swiper-button {
    border: 1px solid $cyberHill-white;

    &:not(&-disabled) {

      &:hover {

        border-color: $cyberHill-light-green !important;
      }
    }

    svg {
      color: $cyberHill-white;
    }
  }

  .gform_confirmation_message {
    color: $cyberHill-white !important;
  }
}

.grey {
  background-color: $cyberHill-alice-blue;

  .headline-1 {
    color: $cyberHill-Blue;
  }

  .headline-2 {
    color: $cyberHill-Blue !important;
  }

  .title-with-shape {
    color: $cyberHill-Blue !important;
  }

  .headline-3 {
    color: $cyberHill-Blue;
  }

  .paragraph {
    color: $cyberHill-dark-Blue !important;

    &-14 {
      color: $cyberHill-matterhorn !important;
    }
  }

  .small-text {
    color: $cyberHill-matterhorn;

    &-14 {
      color: $cyberHill-matterhorn !important;
    }
  }

  .primary-button {
    color: $cyberHill-Blue;
    border-color: $cyberHill-Blue;
  }

  .swiper-button {
    border: 1px solid $cyberHill-Blue;

    &:not(&-disabled) {
      color: $cyberHill-Blue !important;

      &:hover {
        border-color: $cyberHill-light-green !important;
      }
    }

    svg {
      color: $cyberHill-Blue;
    }
  }

  .swiper-paginations, .swiper-pagination {

    .swiper-pagination-bullet {
      border-bottom: 2px solid $cyberHill-Blue;

      &:hover {
        border-bottom-color: $cyberHill-light-green;
      }
    }

    .swiper-pagination-bullet-active {
      border-bottom-color: $cyberHill-light-green;
    }

  }

}

// endregion

.general-styling {
  flex-direction: column;
}

.mySwiper {
  position: relative;
  @include min-medium-screen {
    &.has-layer {
      &:after {
        content: "";
        position: absolute;
        width: size(340);
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 50;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #EDF3F5 100%);
        pointer-events: none;
      }
    }
  }
}

.main-logo-in-section {
  display: none;
  @include min-medium-screen {
    display: flex;
    width: size(156);
    height: size(32);
    position: absolute;
    top: size(48);
    left: size(48);
  }
}

.no-side-border {
  position: relative;
  z-index: 10;
}

.show-side-border {
  position: relative !important;
  z-index: 9 !important;
}

select {
  background-color: transparent;
}

@media (max-width: 376px) {
  .admin-bar main {
    margin-top: -46px;
  }
  .admin-bar #wpadminbar {
    position: fixed;
    top: calc(100vh - 46px);
  }
}


//  region terms and privacy policy styling
.page-template-text-page {

  .second_hero_block {
    height: size(344);
    @include large-screen {
      height: size(202);
    }
  }

  .text-page {
    @include paddingY(size(64));
    @include min-medium-screen {
      @include paddingY(size(80));
    }
    @include large-screen {
      @include paddingY(size(130), size(96));
    }
    max-width: size(660);
    @include marginX(auto);

    > *:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    figure {
      margin: size(40) 0 size(60);
      @include large-screen {
        @include marginY(size(80));
      }

      figcaption {
        color: $cyberHill-black;
        font-size: size(16);
        font-weight: 400;
        line-height: size(24);
        margin-top: size(16);
      }

      img {
        margin: 0 auto;
      }

      &.is-style-rounded {
        img {
          border-radius: 50%;
        }
      }

      &.wp-block-image, &.wp-block-video {
        @include small-screen {
          max-width: 100%;
        }

        img, video {
          @include square(100%);
        }
      }
    }

    img {
      margin: size(40) auto;
      max-width: 100%;
    }

    p {
      margin-bottom: size(30);
      @include font(size(16), 400, size(22), $cyberHill-dark-Blue, $space-grotesk);
      @include min-medium-screen {
        line-height: size(24);
        margin-bottom: size(48);
      }


      strong {
        font-weight: 800 !important;
      }
    }

    h1, .headline-1 {
      @include marginY(size(24));
      @include font(size(50), 400, 112%, $cyberHill-Blue);
      @include min-medium-screen {
        font-size: size(70);
        line-height: 105%;
        margin-top: size(40);
      }
      @include large-screen {
        font-size: max(9rem);
        line-height: 108.88%;
        margin-top: size(80);
      }
    }

    h2, .headline-2 {
      text-align: left;

      @include marginY(size(24));
      @include font(size(32), 400, 112.5%, $cyberHill-Blue);
      @include min-medium-screen {
        font-size: size(40);
        line-height: 135%;
        margin-top: size(40);
      }
      @include large-screen {
        font-size: size(60);
        line-height: 113.33%;
        margin-top: size(80);
      }
    }

    h3, .headline-3 {
      @include marginY(size(24));
      @include font(size(28), 400, 114.28%, $cyberHill-white, false, size(0.2));
      @include min-medium-screen {
        font-size: size(38);
        line-height: 110.52%;
      }
      @include large-screen {
        font-size: size(48);
        line-height: 108.33%;
        @include marginY(size(32), size(24));
      }
    }

    h4, .headline-4 {
      @include marginY(size(24));
      @include font(size(24), 400, 133.33%, $cyberHill-Nero);

      @include large-screen {
        font-size: size(32);
        line-height: 133.33%;
        margin-top: size(48);
      }
    }

    h5, .headline-5 {
      @include marginY(size(24));
      @include font(size(18), 600, 155.55%, $cyberHill-Nero, $space-grotesk);
      @include large-screen {
        margin-top: size(32);
      }
    }

    h6, .headline-6 {
      @include marginY(size(24));
      @include font(size(16), 600, 150%, $cyberHill-Nero, $space-grotesk, size(1));
    }

    blockquote {
      @include font(size(32), 800, size(40), $cyberHill-Nero);
      @include marginY(size(24));

      cite {
        font-style: normal;
      }
    }

    ol {
      list-style: decimal;
      padding-left: size(20);
      margin-bottom: size(16);

      li {
        position: relative;
        padding: 0 size(24);
        @include font(size(16), 800, size(22), $cyberHill-Nero);

        &:not(:last-child) {
          margin-bottom: size(10);
        }
      }
    }

    ul:not(.reset-ul) {
      margin-bottom: size(16);
      padding-top: 0;

      li {
        position: relative;
        padding: 0 size(24);
        font-size: size(24);
        line-height: size(32);
        font-weight: 400;
        margin-left: size(24);

        &:not(:last-child) {
          margin-bottom: size(10);
        }

        &:before {
          content: "";
          width: size(9);
          height: size(9);
          background-color: currentColor;
          position: absolute;
          border-radius: 50%;
          right: 100%;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    h3, h2, h1, h4, h5, h6, p {
      color: inherit;
    }
  }
}

// endregion


// region gravity form styling
.gform_confirmation_message {
  @include font(size(19), 400, 114.28%, $cyberHill-Blue, false, size(0.5));
  opacity: 0.75;
}

// endregion


// region contact form and  consultation
.contact-form-wrapper {
  position: relative;

  input, textarea {
    border-radius: 0 !important;
  }

  input[type=submit] {
    min-width: size(91) !important;
    @include paddingY(size(9) !important);
    border-radius: size(32) !important;
    @include min-medium-screen {
      min-width: size(88) !important;
      @include paddingY(size(16.2) !important)
    }
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    @include square(100%);
    z-index: -2;

    img {
      object-fit: cover;
    }

  }

  &.background-dark {
    .headline-2, .title-with-shape, .paragraph, .headline-6, .footer-link {
      color: $cyberHill-white !important;
    }

    .gform_button {
      color: $cyberHill-white !important;
      border-color: $cyberHill-white !important;

      &:hover {
        border-color: transparent !important;
      }
    }

    .gfield_description {
      color: $cyberHill-white !important;
    }

    .gfield_validation_message {
      color: $cyberHill-danger !important;
    }


    .gform_confirmation_message {
      color: $cyberHill-white;
    }
  }

  .gfield_description {
    color: $cyberHill-tangaroa !important;
  }


  .gform_validation_errors {
    max-width: 100%;
    border-radius: 0;
    border: none !important;
    border-bottom: 1px solid $cyberHill-danger !important;
    box-shadow: none !important;

    h2 {
      color: $cyberHill-danger !important;
    }
  }

  .validation_message {
    color: $cyberHill-danger !important;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $cyberHill-danger;
    letter-spacing: size(0.2);
    @include paddingY(size(10) !important);
    width: 100% !important;
    max-width: 100% !important;
  }

  .gform_wrapper .gfield_error [aria-invalid=true] {
    border: none !important;
  }
}
// endregion


.intro{
  @include small-screen{
    display: none ;
  }
}
