// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$cyberHill-black: var(--cyberHill-black);
$cyberHill-white: var(--cyberHill-white);
$cyberHill-Blue: var(--cyberHill-Blue);
$cyberHill-dark-Blue: var(--cyberHill-dark-Blue);
$cyberHill-humming-bird: var(--cyberHill-humming-bird);
$cyberHill-tangaroa: var(--cyberHill-tangaroa);
$cyberHill-light-green: var(--cyberHill-light-green);
$cyberHill-granny-apple: var(--cyberHill-granny-apple);
$cyberHill-fruit-salad: var(--cyberHill-fruit-salad);
$cyberHill-alice-blue: var(--cyberHill-alice-blue);
$cyberHill-zumthor: var(--cyberHill-zumthor);
$cyberHill-casper: var(--cyberHill-casper);
$cyberHill-botticelli: var(--cyberHill-botticelli);
$cyberHill-Nero: var(--cyberHill-Nero);
$cyberHill-matterhorn: var(--cyberHill-matterhorn);
$cyberHill-dark-gray: var(--cyberHill-dark-gray);
$cyberHill-secondary-10: var(--cyberHill-secondary-10);
$cyberHill-gray-10: var(--cyberHill-gray-10);
$cyberHill-gray-20: var(--cyberHill-gray-20);
$cyberHill-gray-40: var(--cyberHill-gray-40);
$cyberHill-gray-60: var(--cyberHill-gray-60);
$cyberHill-gray-80: var(--cyberHill-gray-80);
$cyberHill-danger: var(--cyberHill-danger);
$cyberHill-light-danger: var(--cyberHill-light-danger);
$cyberHill-dodger-blue: var(--cyberHill-dodger-blue);
$cyberHill-light-blue: var(--cyberHill-light-blue);
$cyberHill-success: var(--cyberHill-success);
$cyberHill-light-success: var(--cyberHill-light-success);
$cyberHill-yellow: var(--cyberHill-yellow);
$cyberHill-light-yellow: var(--cyberHill-light-yellow);


// fonts
$macklin: 'Macklin Sans';
$space-grotesk: 'Space Grotesk';

//default duration
$duration: 500ms;
// bouncing
$bouncing: cubic-bezier(0.18, 0.89, 0.32, 1.28);
//override bootstrap variables
$grid-gutter-width: 2.4rem;
$container-max-widths: (
  'md': 100%, //570px
  'lg': 1440px, //760px 88.4
);
$grid-breakpoints: (
  'xs': 0,
  'md': $medium-screen-min-width,
  'lg': $large-screen-min-width,
);

$container-padding-sm: 4.4rem;
$container-padding-md: 8rem;
$container-padding-lg: 16.2rem ;


$spacing-1: size(160);
$spacing-2: size(96);
$spacing-3: size(64);
$spacing-4: size(48);
$spacing-5: size(40);
$spacing-6: size(32);
$spacing-7: size(24);
$spacing-8: size(16);
$spacing-9: size(12);
$spacing-10: size(24);
$spacing-11: size(16);
$spacing-12: size(12);
$spacing-13: size(8);
$spacing-14: size(4);
$spacing-15: size(2)
