
@import "styles/sites/smartdv";

.hero_block {
  max-width: size(1440);
  position: relative;
  @include marginX(auto);
  @include paddingY(size(124), size(0));
  @include min-medium-screen {
    @include paddingY(size(195), size(136));

  }
  @include large-screen {
    @include paddingY(size(195), size(186));
  }

  //&:after {
  //  content: "";
  //  position: absolute;
  //  right: 0;
  //  width: 100%;
  //  height: 58%;
  //  z-index: -1;
  //  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
  //  background: linear-gradient(174.66deg, rgba(217, 217, 217, 0.147) 13.29%, rgba(217, 217, 217, 0.3) 95.73%);
  //  @include small-screen {
  //    bottom: 0;
  //  }
  //  @include min-medium-screen {
  //    clip-path: polygon(86% 0, 100% 0, 100% 100%, 0% 100%);
  //    width: 62%;
  //    height: 100%;
  //    top: 0;
  //    min-height: size(950);
  //  }
  //}

  mark {
    background: transparent;
    display: inline-block;
    position: relative;
    font-weight: 600;
    color: $smart_dv_green_4;
    margin-left: size(10);

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 46%;
      bottom: 0;
      right: size(10);
      background: #D7F044;
      z-index: -1;
      transform: skewX(20deg);
      transition: width $duration;
    }
  }

  .content-wrapper {
    position: relative;
  }

  .container {
    position: relative;
    @include large-screen {
      padding-right: size(90);
      padding-left: size(120);
    }
  }

  .scroll-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding-top: size(30);
    @include min-medium-screen {
      left: size(16);
      bottom: -41%;
      position: absolute;
      padding-top: 0;
    }
    @include large-screen {
      left: size(50);
      position: absolute;
      padding-top: 0;
    }

    &:before {
      content: "";
      border: size(1) solid $smart_dv_green_4;
      @include square(size(14));
      border-radius: 50%;
      transform: scale(0);
      transform-origin: center;
      transition: transform .3s ease-in;
    }

    &:after {
      content: "";
      height: size(103);
      width: size(1);
      background-color: $smart_dv_green_4;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 1s ease-in;
      z-index: -2;
      transition-delay: .1s;
      @include min-medium-screen {
        height: size(430);
      }

      @include large-screen {
        height: size(570);
      }
    }

    .scroll-text {
      position: absolute;
      bottom: size(59);
      transform: rotate(360deg) translateY(size(-50));
      background: white;
      text-transform: uppercase;
      transition: transform $duration, opacity $duration;
      transition-delay: .5s;
      opacity: 0;

      @include paddingY(size(22.5), size(27));
      @include small-screen {
        left: size(58);
        bottom: size(-21);
        background-color: transparent;
      }

      svg {
        height: size(80);
        width: size(10);
      }
    }

    &.active {
      .scroll-text {
        transform: rotate(360deg) translateY(0);
        opacity: 1;
      }

      &:before {
        transform: scale(1);
      }

      &:after {
        transform: scaleY(1);
      }
    }
  }

  .hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .left-content {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(43%);
      }
      @include large-screen {
        @include flexBasis(47%);
      }

    }

    .hero-title {
      margin-bottom: size(24);
      color: $smart_dv_green_4;
      @include small-screen {
        max-width: size(335);
      }
      @include min-medium-screen {
        margin-bottom: size(20);
      }

      &.active {
        mark {
          &:before {
            width: 100%;
          }

        }
      }
    }

    .right-content {
      @include flexBasis(100%);
      margin-top: size(57);
      @include min-medium-screen {
        @include flexBasis(49.5%);
        margin-top: 0;
      }

      svg {
        width: 100%;
        height: 100%;
        overflow: visible;
        //
        //path {
        //  &:last-of-type {
        //    transform: translate(145px, -116px) scale(.928);
        //  }
        //}
      }
    }
  }

  &.theme1 {
    .hero-text-wrapper {
      display: none;
    }

    .hero-description {
      max-width: size(322);

      @include min-medium-screen {
        max-width: size(494);
      }
      @include small-screen {
        line-height: size(22);
      }
    }

    .circles-line {
      display: none;
    }
  }


  &.theme2 {
    padding-bottom: size(70);

    .text-wrapper {
      @include paddingY(size(22), size(30))
    }

    .left-content {
      @include flexBasis(unset);
      @include flex(stretch)
    }

    .right-content {
      display: none;
    }

    .hero-title {
      margin-bottom: size(7);

      &.change-width {
        max-width: size(500);
        @include large-screen {
          max-width: size(790);
        }
      }

    }

    .scroll-line {
      display: none;
    }

    .hero-description {
      @include min-medium-screen {
        max-width: size(542);
      }
      @include large-screen {
        max-width: size(835);
      }
    }

  }

  .circles-line {
    position: relative;
    left: 0;
    top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-right: size(21);
    @include min-medium-screen {
      margin-right: size(41);
    }
  }

  .line {
    //border-top: 1px solid#162932;
    //width: 100%;
    height: 100%;
    width: 1px;
    background-color: #162932;
    //flex-grow: 1;
    //padding-bottom: size(77);
  }

  .circle {
    width: size(14);
    height: size(14);
    border: 1px solid #162932;
    border-radius: 50%;
    //flex-shrink: 0;
  }

  .return {
    margin-bottom: size(10);
    @include min-medium-screen {
      margin-bottom: size(16);
    }

    &:hover {
      svg {
        transform: translateX(-1.5rem);
      }
    }

    svg {
      margin-right: size(11);
      margin-left: 0;
    }
  }

  .slash {
    color: rgba(191, 215, 48, 1);
    @include marginX(size(10));
  }

  .breadcrumb_wrapper {
    margin-bottom: size(10);

    .slash {
      @include font-size(14px, 30px);

      &:last-child {
        display: none;
      }
    }

    .breadcrumb-link {
      transition: color $duration;

      &:hover {
        color: $smart_dv_lime;
      }
    }
  }

  .breadcrumb-link {
    @include font(14px, 600, 30px, #162932, $montserrat);
    margin-bottom: size(10);
    transition: color $duration;

    &:hover {
      color: $smart_dv_lime;

    }
  }

}
