@import "variables";
@import "mixins";
@import "root";

//region HTML tags
*, :before, :after {
  box-sizing: border-box;
  outline: none;
}

body {
  background: $k1_project_white;
}

html {
  font-size: 10px;
  font-family: $interstate;
  overflow-x: hidden;
  //region customize html scroll bar firefox
  scrollbar-color: rgb(90, 90, 90) rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;
  //endregion customize html scroll bar firefox
  @include large-screen {
    width: calc(100vw - 4px);
  }
  
  &.page-has-no-scroll {
    width: 100vw;
  }
  
  &.modal-opened {
    overflow: hidden;
    width: 100vw;
    //height: 100%;
    
    body {
      overflow: hidden;
      //width: 100vw;
      height: 100%;
      padding-right: 4px;
      @supports (-moz-appearance:none) {
        padding-right: 8px;
      }
    }
  }
}

@supports (-moz-appearance:none) {
  html {
    width: calc(100vw - 8px);
  }
}

//region customize html scroll bar
::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  //background: rgba(0, 0, 0, 0.5); /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: rgb(90, 90, 90);
  //background-color: red; /* color of the scroll thumb */
}

.hide-scrollbar {
  scrollbar-width: none !important; // Hide Scrollbar FireFox
  &::-webkit-scrollbar { // Hide Scrollbar Chrome
    display: none;
  }
}

//endregion customize html scroll bar


// region link style
a {
  text-decoration: none;
  color: inherit;
  transition: color $duration;
  
  &:hover {
    //color: $k1_project_green;
  }
}

// endregion link style

img, picture {
  display: block;
}

//picture{
//  img{
//    @include square(100%);
//  }
//}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, form, fieldset {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input, textarea {
  &::placeholder {
    transition: opacity $duration;
    font: inherit;
    line-height: inherit;
    color: inherit;
  }
  
  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}

//endregion HTML tags

//region scroll animation classes
.line-overflow,
.word-overflow {
  overflow: hidden;
  vertical-align: top;
}

[class ^="iv-st"], [class *= " iv-st"] {
  opacity: 0;
  visibility: hidden;
}

.iv-st-from-top, .iv-st-from-bottom, .iv-st-from-left, .iv-st-from-right, .word-up, .line-up, .real-line-up {
  opacity: 0;
  visibility: hidden;
}

//endregion scroll animation classes

//region utility classes
.aspect-ratio {
  position: relative;
  height: 0;
  
  img, video, iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.cover-background {
  position: absolute;
  //width: 102%;
  //height: 102%;
  //top: -1%;
  //left: -1%;
  z-index: -1;
  object-fit: cover;
  
  
  @include square(100%);
  top: 0;
  left: 0;
  
  img {
    @include objectImg(cover);
  }
}

.has-layout {
  img, video {
    filter: grayscale(1);
  }
  
  &:after {
    content: "";
    position: absolute;
    width: 102%;
    height: 102%;
    top: -1%;
    left: -1%;
    z-index: -1;
    background: #6648ff4d;
  }
  
  &:before {
    content: "";
    position: absolute;
    width: 102%;
    height: 102%;
    top: -1%;
    left: -1%;
    z-index: -1;
    background: #0000004d;
  }
  
  &.layout-dark {
    &:after {
      background: linear-gradient(0deg, rgba(123, 97, 255, 0.17), rgba(123, 97, 255, 0.17)), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }
  }
}

.break-line {
  line-height: 0 !important;
  height: size(30) !important;
}

.hide {
  &-only-sm {
    @include small-screen {
      display: none !important;
    }
  }
  
  &-only-md {
    @include medium-screen {
      display: none !important;
    }
  }
  
  &-only-lg {
    @include large-screen {
      display: none !important;
    }
  }
  
  &-between-sm-md {
    @include max-medium-screen {
      display: none !important;
    }
  }
  
  &-between-md-lg {
    @include min-medium-screen {
      display: none !important;
    }
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

path {
  transition: fill, stroke;
  transition-duration: $duration;
}

.display-block {
  display: block;
}

.load-more-wrapper {
  position: relative;
  transition: opacity 500ms;
  display: flex;
  justify-content: center;
  padding-top: size(80);
  padding-bottom: size(30);
  
  .k1-posts-loader {
    position: relative;
    height: 20px;
    opacity: 0;
    transition: opacity 300ms;
  }
  
  
  .k1-post-loader-card1 {
    position: absolute;
    width: 36px;
    height: 20px;
    left: -60px;
    background-color: #6315EF;
    border-radius: 10px 0px 10px 0px;
    z-index: 1;
    animation: card1 1700ms infinite;
    transition-timing-function: cubic-bezier(0.48, 0.04, 0.52, 1);
  }
  
  @keyframes card1 {
    from {
    }
    27.3% {
      transform: translateX(70px);
    }
    45.2% {
      transform: translateX(70px);
    }
    73.9% {
      transform: translateX(0px);
    }
  }
  
  .k1-post-loader-card2 {
    position: absolute;
    width: 25px;
    height: 14px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: -54.5px;
    background-color: rgb(105, 67, 243);
    border-radius: 7px 0px 7px 0px;
    animation: card2 1700ms infinite;
    transition-timing-function: cubic-bezier(0.48, 0.04, 0.52, 1);
    animation-delay: 160ms;
  }
  
  @keyframes card2 {
    from {
      opacity: 1
    }
    27.3% {
      transform: translateX(70px);
      opacity: 0.3
    }
    43.8% {
      transform: translateX(70px);
      opacity: 1
    }
    71.2% {
      transform: translateX(0px);
      opacity: 0.3
    }
  }
  
  .k1-post-loader-card3 {
    position: absolute;
    width: 25px;
    height: 14px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: -54.5px;
    background-color: rgb(105, 67, 243);
    border-radius: 7px 0px 7px 0px;
    animation: card3 1700ms infinite;
    transition-timing-function: cubic-bezier(0.48, 0.04, 0.52, 1);
    animation-delay: 260ms;
  }
  
  @keyframes card3 {
    from {
      opacity: 1
    }
    27.3% {
      transform: translateX(70px);
      opacity: 0.3
    }
    43.8% {
      transform: translateX(70px);
      opacity: 1
    }
    71.2% {
      transform: translateX(0px);
      opacity: 0.3
    }
  }
  
  .btn {
    transition: opacity, background;
    transition-duration: $duration;
  }
  
  &.loading {
    .k1-posts-loader {
      opacity: 1;
    }
    
    .btn {
      pointer-events: none;
      opacity: 0;
    }
  }
  
  &.hidden {
    //opacity: 0 !important;
    display: none;
    pointer-events: none;
  }
}

.no-posts {
  display: none;
  
  &.active {
    display: block;
    text-align: center;
    padding-top: size(80);
    padding-bottom: size(30);
  }
}

//endregion utility classes

//region animations

@keyframes bouncing {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(size(-20), size(-50));
  }
}

@keyframes itemsLoader {
  0% {
    transform: translate3d(0, 1rem, 0) scale(1.2, 0.85);
  }
  100% {
    transform: translate3d(0, -1rem, 0) scale(0.9, 1.1);
  }
}

@keyframes shaking {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  
  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}

//endregion animations

// region custom modal
.custom-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 400ms, z-index 400ms;
  z-index: -1;
  @include flex(center, center);
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
  
  .contact-form-title {
    display: none;
  }
  
  .custom-modal-inner {
    position: relative;
    //max-width: 83.33%;
    width: 95%;
    @include min-medium-screen {
      width: 82.8%;
    }
    @include marginX(0);
    transition: opacity 300ms ease-in-out;
    
    
    &.modal-loading {
      transition-duration: 0s;
      opacity: 0.5;
    }
  }
  
  .custom-modal-content {
    max-height: 92vh;
    overflow: auto;
    //scrollbar-width: none !important; // Hide Scrollbar FireFox
    //&::-webkit-scrollbar { // Hide Scrollbar Chrome
    //  display: none;
    //}
    
    .modal-image {
      margin-bottom: size(30);
      max-width: size(200);
      
      img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
    
    .w-100 {
      @include flexBasis(100%);
    }
    
    .modal-left {
      @include small-screen {
        margin-bottom: size(40);
      }
    }
    
    .modal-left, .modal-right {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(45%);
      }
    }
    
    .modal-left {
      @include min-medium-screen {
        @include flexBasis(52.24%);
      }
    }
    
    // region modal left
    
    .modal-left-title {
      color: inherit;
      @include large-screen {
        max-width: size(275);
      }
    }
    
    .modal-text {
      margin-top: size(30);
      color: inherit;
    }
    
    .modal-watch-video {
      margin-top: size(20);
      color: $k1_project_black;
      display: flex;
      align-items: center;
      width: fit-content;
      transition: color $duration;
      
      &:hover {
        color: $k1_project_red;
      }
      
      svg {
        color: $k1_project_red;
        @include square(size(20));
        margin-right: size(10);
        flex-shrink: 0;
      }
    }
    
    
    // endregion modal left
    
    // region modal right
    
    .modal-right-title {
      color: inherit;
      margin-bottom: size(20);
    }
    
    $popDetailMBLG: 2rem;
    $popDetailMBSM: 1rem;
    
    .modal-details {
      @include flex(flex-start, space-between, column, wrap);
      margin-bottom: -$popDetailMBSM;
      @include min-medium-screen {
        margin-bottom: -$popDetailMBLG;
      }
    }
    
    .modal-detail {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $k1_project_dark_grey;
      @include flexBasis(100%);
      padding-bottom: size(10);
      margin-bottom: $popDetailMBSM;
      @include min-medium-screen {
        margin-bottom: $popDetailMBLG;
      }
    }
    
    .modal-detail-title {
      font-size: size(12);
      font-weight: 400;
      margin-right: size(20);
    }
    
    .modal-detail-subtitle {
      color: $k1_project_electric_purple;
      font-weight: 700;
      font-size: size(14);
      text-transform: uppercase;
    }
    
    a {
      &:hover {
        color: $k1_project_middle_red;
      }
    }
    
    .modal-accordions {
      margin-top: size(30);
      @include min-medium-screen {
        margin-top: size(50);
      }
    }
    
    .modal-accordions-title {
      color: inherit;
      margin-bottom: size(20);
      @include large-screen {
        @include font-size(26px, 38px);
      }
    }
    
    .modal-accordion {
      border-bottom: 1px solid $k1_project_dark_grey;
      padding-bottom: size(10);
      
      &:not(:last-child) {
        margin-bottom: size(20);
      }
      
      &.accordion-active {
        .modal-accordion-icon {
          transform: rotate(45deg);
        }
      }
    }
    
    .modal-accordion-title {
      cursor: pointer;
      @include flex(center, space-between);
      font-size: size(12);
      font-weight: 700;
      letter-spacing: 1px;
      
      a {
        text-transform: uppercase;
      }
      
      span {
        color: $k1_project_electric_purple;
        font-weight: 900;
      }
      
      .modal-accordion-icon {
        @include square(size(15));
        transition: transform $duration;
        background-color: $k1_project_electric_purple;
        border-radius: 50%;
        overflow: hidden;
        
        path {
          &:first-child {
            fill: $k1_project_electric_purple;
          }
          
          &:not(:first-child) {
            fill: $k1_project_white;
          }
        }
      }
    }
    
    .modal-accordion-content {
      height: 0;
      overflow: hidden;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 130%;
      
      a {
        font-weight: 700;
        color: $k1_project_electric_purple;
        
        &:hover {
          color: $k1_project_red;
        }
      }
    }
    
    .accordion-spacer {
      height: size(10);
    }
    
    // endregion modal right
  }
  
  .close-modal {
    background-color: transparent !important;
    
    svg {
      display: none;
    }
  }
  
  &.custom-modal-text {
    .custom-modal-content {
      @include flex(flex-start, space-between, false, wrap);
      background-color: $k1_project_white;
      color: $k1_project_black;
      padding: 3vh size(24);
      @include min-medium-screen {
        padding: 5vh size(44);
      }
      @include large-screen {
        padding: 5vh size(44) size(84) 5vh;
      }
    }
    
    .close-modal {
      position: absolute;
      top: size(30);
      right: size(20);
      @include square(size(30));
      background-color: $k1_project_electric_purple;
      border-radius: 50%;
      color: $k1_project_white;
      @include flex(center, center);
      z-index: 6;
      @include min-medium-screen {
        top: size(60);
        right: size(40);
        @include square(size(40));
      }
      
      &:hover {
        background-color: $k1_project_dark_red;
      }
      
      .close-modal-text {
        width: 40%;
        height: auto;
        display: inline-block;
      }
    }
  }
  
  &.custom-modal-video {
    .custom-modal-inner {
      width: 100%;
    }
    
    .close-modal {
      display: block;
      margin-left: auto;
      margin-right: size(20);
      margin-bottom: size(25);
      @include square(size(25));
      @include min-medium-screen {
        margin-right: size(50);
      }
      @include min-medium-screen {
        @include square(size(32));
      }
      
      .close-modal-video {
        display: inline-block;
        @include square(100%);
      }
    }
    
    iframe {
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include marginX(auto);
      height: 55vh;
      @include min-medium-screen {
        width: 100%;
        height: 67.72vh;
      }
    }
  }
  
  transform: translateX(-100%);
  
  &.modal-active {
    z-index: 99999;
    opacity: 1;
    pointer-events: auto;
    transform: none;
  }
  
  .feature-post {
    margin-top: size(40);
    
    .title {
      color: $k1_project_black;
      margin-bottom: size(34);
      text-transform: capitalize;
      letter-spacing: size(-0.5);
      font-weight: 800;
      @include font-size(32px, 40px);
      @include large-screen {
        @include font-size(36px, 41px);
      }
    }
    
    .latest-news-wrapper {
      display: flex;
      justify-content: space-between;
      margin: size(-10);
      flex-direction: column;
      @include min-medium-screen {
        flex-direction: row;
      }
    }
    
    .latest-news-card {
      margin: size(10);
      flex-shrink: 0;
      @include min-medium-screen {
        @include flexBasis(50%);
      }
      @include large-screen {
        @include flexBasis(size(275));
      }
    }
    
    .post-image {
      padding-top: 51.3%;
      margin-bottom: size(14);
      display: block;
    }
    
    .post-title {
      @include font(16px, 700, 22px, $k1_project_grey, $interstate);
      @include max-lines(2);
      @include large-screen {
        @include font-size(18px, 27px);
      }
    }
  }
  
  
  &.custom-modal-contact {
    .contact-form-title {
      display: block;
      @include font(32px, 800, 41px, $k1_project_white, $interstate, size(-0.5));
      @include min-medium-screen {
        @include font-size(36px, 41px);
      }
    }
    
    
    .close-modal {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      @include marginY(size(30), size(45));
      @include min-medium-screen {
        @include marginY(size(64), size(40));
      }
    }
    
    .close-modal-video {
      display: block;
      @include square(size(30));
      z-index: 2;
      
      rect, line {
        stroke: #6943F3 !important;
      }
    }
    
    .custom-modal-inner {
      background: $k1_project_grey;
      @include paddingX(size(20));
      @include min-medium-screen {
        @include paddingX(size(40));
        width: 65%;
        
      }
      @include large-screen {
        width: 45.7%;
        @include paddingX(size(64));
        
      }
    }
    
    .elementor-widget {
      @include marginX(auto);
      z-index: 0;
      @include marginY(size(0), size(50));
      
      input:not([type="submit"]), textarea {
        width: 100%;
      }
      
      textarea {
        height: size(236);
      }
      
      //.wpcf7-not-valid-tip {
      //  bottom: size(10);
      //}
      //
      //.wpcf7-response-output {
      //  position: relative !important;
      //  font-weight: 500 !important;
      //}
      
      button[type="submit"] {
        margin-top: size(19);
        width: fit-content;
        flex-basis: fit-content;
        min-width: size(160);
        @include marginX(0)
      }
    }
    
  }
}

// endregion custom modal

// region font weights
.f-w {
  &-900 {
    font-weight: 900 !important;
  }
  
  &-800 {
    font-weight: 800 !important;
  }
  
  &-700 {
    font-weight: 700 !important;
  }
  
  &-400 {
    font-weight: 400 !important;
  }
}

// endregion font weights

section {
  position: relative;
  z-index: 5;
}

// region container padding classes
.g-container {
  max-width: 144rem;
  @include marginX(auto);
  // region remove container padding in media
  
  &-remove-sm-md {
    @include max-medium-screen {
      @include paddingX(0 !important);
    }
  }
  
  &-remove-sm-0 {
    @include small-screen {
      @include paddingX(0 !important);
    }
  }
  
  &-remove-md-0 {
    @include medium-screen {
      @include paddingX(0 !important)
    }
  }
  
  &-remove-lg-0 {
    @include large-screen {
      @include paddingX(0 !important)
    }
  }
  
  // endregion remove container padding in media
  
  // region set container padding in  media
  
  &-set-sm {
    @include small-screen {
      @include paddingX($container-padding-sm !important);
    }
  }
  
  &-set-md {
    @include medium-screen {
      @include paddingX($container-padding-md !important)
    }
  }
  
  &-set-lg {
    @include large-screen {
      @include paddingX($container-padding-lg !important)
    }
  }
  
  // endregion set container padding in  media
  
  // region set container padding between media
  &-set-sm-md {
    @include small-screen {
      @include paddingX($container-padding-sm !important);
    }
    @include medium-screen {
      @include paddingX($container-padding-md !important);
    }
  }
  
  &-set-all {
    @include paddingX($container-padding-sm !important);
    @include min-medium-screen {
      @include paddingX($container-padding-md !important);
    }
    @include large-screen {
      @include paddingX($container-padding-lg !important);
    }
  }
  
  // endregion set container padding between media
}

// endregion container padding classes

// region gsap scroll smother
#smooth-wrapper, .ScrollSmoother-wrapper {
  overflow: hidden !important;
}

//#smooth-content{
//  background-image: url("../images/body-bg-shapes.png");
//  background-repeat: repeat-y;
//  background-size: 100% auto;
//}

// endregion gsap scroll smother

