:root {
  /* Colors: */
  --k1_project_black: #000000;
  --k1_project_white: #ffffff;
  --k1_project_off_white: #F0F0F0;
  --k1_project_other_red: #A30000;
  --k1_project_red: #6f1100;
  --k1_project_middle_red: #9B0000;
  --k1_project_light_red: #C00000;
  --k1_project_dark_red: #C00000;
  --k1_project_grey: #242424;
  --k1_project_dark_grey: #4D4D4D;
  --k1_project_dark_grey_2: #333333;
  --k1_project_light_grey: #BFBFBF;
  --k1_project_electric_purple: #6315EF;
  --k1_project_stone: #7F7F7F;
  --k1_project_brown: #BF863F;
  --k1_project_purple: #6F16FF;
  --k1_project_blue: rgb(105, 67, 243);

}
