@import "variables";
@import "mixins";
@import "root";

// region container
.container {
  @include paddingX($container-padding-sm);
  @include min-medium-screen {
    @include paddingX($container-padding-md);
  }
  @include large-screen {
    @include paddingX($container-padding-lg);
  }
  
  &-large {
    @include large-screen {
      @include paddingX($container-large);
    }
  }
  
}

//endregion

// region font  Styling
.headline-1, .wysiwyg-block h1, .blog-content-wrapper h1 {
  //@include font(36px, 800 , 46.8px, $k1_project_white, $interstate , size(-0.5));
  @include font(40px, 800, 52px, $k1_project_white, $interstate, size(-0.25));
  
  @include min-medium-screen {
    @include font-size(55px, 63.25px);
    letter-spacing: size(-0.5);
  }
}

.headline-2, .wysiwyg-block h2, .blog-content-wrapper h2 {
  //@include font(27px, 800, 35.1px, $k1_project_white, $interstate, size(-0.5));
  @include font(32px, 700, 38px, $k1_project_white, $interstate, size(-0.5));
  
  @include min-medium-screen {
    @include font-size(48px, 57.6px);
    font-weight:800;
  }
}

.headline-3, .wysiwyg-block h3, .blog-content-wrapper h3 {
  @include font(24px, 400, 31.2px, $k1_project_white, $interstate, size(-0.25));
  @include min-medium-screen {
    @include font(36px, 700, 46.8px);
  }
}

.headline-4, .wysiwyg-block h4, .blog-content-wrapper h4 {
  @include font(18px, 800, 27px, $k1_project_white, $interstate);
  @include min-medium-screen {
    @include font(28px, 700, 42px);
  }
  
}

.headline-5, .wysiwyg-block h4, .blog-content-wrapper h5 {
  @include font(16px, 800, 24px, $k1_project_white, $interstate);
  @include min-medium-screen {
    @include font(18px, 700, 27px);
  }
}

.headline-6, .wysiwyg-block h6, .blog-content-wrapper h6 {
  @include font(16px, 400, 24px, $k1_project_white, $interstate);
  @include min-medium-screen {
    @include font-size(24px, 36px);
  }
}

.paragraph, .wysiwyg-block p, .blog-content-wrapper p {
  @include font(16px, 400, 24px, $k1_project_black, $interstate);
  @include min-medium-screen {
    @include font-size(18px, 27px);
  }
  
  &-regular {
    @include font(16px, 400, 24px, $k1_project_white, $interstate, size(0.1));
  }
  
  &-small {
    @include font(14px, 400, 21px, $k1_project_white, $interstate);
  }
}


.sub-title {
  @include font(14px, 400, 14px, $k1_project_middle_red, $interstate, size(0.5));
  text-transform: uppercase;
}

.label {
  @include font(11px, 400, 14.3px, $k1_project_white, $interstate, size(0.5));
}

// endregion

// region button  Styling
$btnClipPath: polygon(100% 0, 100% 85%, 95% 100%, 0 100%, 0 15%, 5% 1%);

.cta-button {
  @include font(16px, 700, 100%, $k1_project_white, $interstate);
  display: block;
  text-align: center;
  min-width: size(247);
  width: fit-content;
  padding: size(18) size(19) size(18);
  background-color: $k1_project_middle_red;
  transition-property: background-color, color;
  transition-duration: $duration;
  cursor: pointer;
  @include marginX(auto);
  
  &:first-letter {
    text-transform: capitalize;
  }
  
  @include min-medium-screen {
    min-width: size(333);
    @include font-size(22px, 100%);
  }
  
  &.small-button {
    @include font-size(16px, 100%);
    padding: size(11) size(40);
    min-width: unset !important;
  }
  
  &.btn-white {
    &:hover {
      background-color: $k1_project_white;
      color: $k1_project_light_red;
    }
  }
  
  &.oval-button {
    font-weight: 400;
    background-color: transparent;
    border-radius: size(50);
    border: 2px solid $k1_project_blue;
    padding: size(14.5) size(38.5);
    color: $k1_project_grey;
    
    &:hover {
      background-color: $k1_project_blue;
      color: $k1_project_white;
    }
  }
  
  &:hover {
    background-color: $k1_project_light_red;
  }
}

.white-cta-button {
  @include font(16px, 700, 100%, $k1_project_white, $interstate);
  @include flex(center, center, false, false);
  width: fit-content;
  padding: size(4) size(8);
  background-color: transparent;
  border: size(3) solid $k1_project_white;
  transition: background-color $duration, border-color $duration;
  cursor: pointer;
  text-transform: capitalize;
  @include min-medium-screen {
    padding: size(7.5) size(17);
  }
  
  &:hover {
    background-color: $k1_project_light_red;
    border-color: transparent;
  }
}

.cta-link {
  @include font(18px, 700, 27px, $k1_project_white, $interstate);
  position: relative;
  padding-bottom: size(10);
  transition: color $duration;
  cursor: pointer;
  width: fit-content;
  
  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background-color: $k1_project_middle_red;
    height: 2px;
    bottom: size(4);
    
  }
  
  @include min-medium-screen {
    @include font-size(22px, 28px);
  }
  
  &:hover {
    color: $k1_project_light_red;
    
    &:after {
      background-color: $k1_project_light_red;
    }
  }
  
  &-regular {
    @include font(16px, 400, 24px, $k1_project_white, $interstate, size(0.1));
  }
  
  &-small {
    @include font(14px, 400, 21px, $k1_project_white, $interstate);
  }
  
  @at-root .dark-theme-background & {
    color: $k1_project_grey;
    
    &:hover {
      color: $k1_project_light_red;
      
      &:after {
        background-color: $k1_project_light_red;
      }
    }
  }
}


// endregion

// region  wysiwyg
.wysiwyg-block {
  h1, h2, h3, h4, h5, h6, ul, p {
    margin-bottom: size(20);
  }
  
  ul, ol {
    margin-bottom: size(20);
    padding-top: 0;
    
    li {
      position: relative;
      color: $k1_project_white;
      font-weight: 400;
      @include font-size(16px, 24px);
      padding-left: size(11);
      
      &:not(:last-child) {
        margin-bottom: size(5);
        @include min-medium-screen {
          margin-bottom: size(5);
        }
        @include large-screen {
          margin-bottom: size(10);
        }
      }
      
      &:before {
        content: "";
        position: absolute;
        top: size(6);
        right: 100%;
        @include square(4px);
        background-color: currentColor;
        border-radius: 50%;
        @include min-medium-screen {
          top: size(10);
        }
      }
    }
  }
  
  ol {
    margin-left: size(25);
    
    > li {
      padding-left: 0;
      
      &:before {
        display: none;
      }
    }
    
    ul {
      margin-bottom: 0;
    }
  }
}

//endregionyy//

// region block filter

$g-select-MR-LG: 4.5%;
$g-select-MR-MD: 5%;
$g-select-MB: 3rem;

.block-filter {
  .block-filter-title {
    color: $k1_project_white;
  }
  
  .block-filter-wrapper {
    margin-top: size(20);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: -$g-select-MB;
    @include min-medium-screen {
      margin-top: size(51);
      margin-right: -$g-select-MR-MD;
      justify-content: flex-start;
    }
    @include large-screen {
      margin-right: -$g-select-MR-LG;
    }
  }
}

// endregion block filter

// region style of input

.wpcf7 {
  position: relative;
  min-width: 230px;
}


.wpcf7-not-valid-tip {
  position: absolute;
  bottom: size(-10);
}

.wpcf7-form-control-wrap {
  position: relative;
  display: block;
}

input:not([type="submit"]) {
  font-family: $interstate;
  background: #000000 !important;
  color: $k1_project_off_white;
  margin-bottom: size(26);
  padding: size(13.5) size(13.5) size(13.5) size(15) !important;
  @include font-size(16px, 24px);
  height: size(51);
  border-radius: 0 !important;
  border: none;
  position: relative;
  
  &::placeholder {
    color: $k1_project_off_white;
    opacity: 0.5;
    text-transform: capitalize;
  }
}

input[type="submit"] {
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
}

textarea {
  font-family: $interstate;
  background: #000000;
  color: $k1_project_off_white;
  padding: size(13.5) size(13.5) size(13.5) size(15);
  @include font-size(16px, 24px);
  border: none;
  resize: none;
  
  &::placeholder {
    color: $k1_project_off_white;
    opacity: 0.5;
  }
}

.wpcf7 form .wpcf7-response-output {
  @include font(18px, 500, 24px, $k1_project_white, $interstate);
  padding: 0;
  border: none;
  margin: size(10) 0 0 0;
  position: absolute;
  //top: 140%;
  top: 100%;
  left: 0;
}

.wpcf7-spinner {
  background-color: $k1_project_middle_red;
  margin: size(10) 0 0 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 100%;
  visibility: visible;
  opacity: 0;
  transition: opacity $duration;
  @include square(size(24));
  
  &:before {
    @include square(size(4));
    top: size(4);
    left: size(4);
    transform-origin: size(8) size(8);
  }
}

form.submitting .wpcf7-spinner {
  opacity: 1;
}

// endregion

// region general label
.general-label {
  //@include flexBasis(21.2%);
  // region vars
  $angle-width: 1.2rem;
  $search-width: 2rem;
  $pr: 0.5rem;
  $elem-pb: 1rem;
  // endregion vars
  margin-bottom: $g-select-MB;
  position: relative;
  @include flexBasis(100%);
  @include small-screen {
    max-width: size(350);
    @include marginX(auto);
  }
  @include min-medium-screen {
    @include flexBasis(20%);
    margin-right: $g-select-MR-MD;
  }
  @include large-screen {
    @include flexBasis(20.4%);
    margin-right: $g-select-MR-LG;
  }
  
  .general-select {
    @include font(16px, 400, 24px, rgba(255, 255, 255, 0.6), $interstate, 0.1px);
    width: 100%;
    background-color: transparent;
    border: 0;
    appearance: none;
    cursor: pointer;
    padding-right: $angle-width + $pr;
    //text-transform: uppercase;
    padding-bottom: $elem-pb;
    
    option {
      color: $k1_project_black;
    }
  }
  
  .general-label-icon {
    pointer-events: none;
    height: auto;
    width: size(12);
    position: absolute;
    top: calc(50% - #{$elem-pb});
    right: 1px;
  }
  
  .general-input {
    @include font(16px, 400, 24px, rgba(255, 255, 255, 0.6), $interstate, 0.1px);
    width: 100%;
    border: 0;
    appearance: none;
    padding: 0 $search-width + $pr $elem-pb 0 !important;
    height: auto !important;
    background-color: transparent;
  }
  
  .general-input-icon {
    width: $search-width;
  }
  
  // region select2
  .select2-container {
    .select2-selection--single {
      height: auto;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      
      .select2-selection__rendered {
        @include font(16px, 400, 24px, $k1_project_white, $interstate, 0.1px);
        padding: 0 $search-width + $pr $elem-pb 0;
        text-transform: uppercase;
        
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1.5px;
          background-color: $k1_project_light_grey;
          border-radius: 4px;
          transition: background-color $duration;
        }
      }
      
      .select2-selection__arrow {
        display: none;
      }
    }
  }
  
  .select2-results__option {
    padding: size(6);
    font-size: 1.6rem;
    font-weight: 400;
  }
  
  .select2-container--open {
    
    .select2-selection__rendered {
      &:after {
        background-color: $k1_project_white !important;
        
      }
    }
  }
  
  // endregion select2
  
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  
  // border => border has radius
  &:after {
  
  }
  
}

// endregion general label

// region select2

select::-ms-expand {
  display: none;
  appearance: none;
  -webkit-appearance: none;
}

.select2-container--default .select2-results > .select2-results__options {
  background-color: $k1_project_dark_grey_2;
  @include paddingY(size(16));
  border-radius: 0;
  
}

.select2-dropdown {
  border: 0;
  overflow: hidden;
}

.select2-search__field {
  padding: size(4);
  font-size: 1.6rem;
  font-weight: 400;
}

.select2-container--default .select2-results__options .select2-results__option {
  padding: size(6);
  @include paddingX(size(16));
  @include font-size(16px, 24px);
  letter-spacing: size(0.1);
  font-weight: 400;
  transition: background-color, color;
  transition-duration: 300ms;
  text-transform: capitalize;
  color: #BFBFBF;
  appearance: none;
  -webkit-appearance: none;
  
  &:first-child {
    text-transform: uppercase !important;
  }
  
  &:not(.select2-results__option--selected):hover {
    background-color: transparent !important;
    color: $k1_project_white !important;
  }
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable, .select2-container--default .select2-results__option--selected {
  background-color: transparent !important;
  color: #FFF !important;
}

.select2-results__options::-webkit-scrollbar {
  width: size(4);
  background-color: #BFBFBF;
}

// endregion select2

//region stroked text
.stroked-text {
  color: transparent !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

//endregion stroked text

// region this class for blokes has two images
.background-image-cover {
  position: absolute;
  z-index: -1;
  
  img {
    @include square(100%);
    object-fit: cover;
  }
  
}

.left-bg {
  left: 0;
  top: 0;
  width: size(530);
  height: size(430);
  
  @include min-medium-screen {
    width: size(680);
    height: size(490);
  }
  @include large-screen {
    width: size(720);
    height: 100%;
  }
}

.right-bg {
  right: 0;
  bottom: 0;
  width: size(390);
  z-index: -2;
  @include min-medium-screen {
    width: size(530);
  }
  @include large-screen {
    width: size(720);
    height: 100%;
  }
}


//  endregion

.line {
  overflow: hidden;
  
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: size(10);
    background: $k1_project_middle_red;
    left: 0;
    //top: 100%;
    z-index: 5;
    bottom: 0;
  }
}

.border-text {
  @include square(100%);
  border: 2px solid #30AAE2;
  border-radius: size(13);
  position: absolute;
}

//section {
//  overflow: hidden;
//}

// region swiper pagination
.swiper-pagination-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: size(20);
  
  svg {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    
    line {
      stroke: $k1_project_red;
      stroke-width: 2px;
      stroke-dasharray: 0 13 3 3 3 3 3 5;
    }
  }
}

.swiper-pagination {
  position: relative;
  z-index: 2;
  @include flex(center);
  width: fit-content;
  @include marginX(auto);
  
  .swiper-pagination-bullet {
    position: relative;
    @include square(8px);
    border: 1px solid $k1_project_other_red;
    transform: rotate(-45deg);
    border-radius: 0;
    background: $k1_project_white;
    z-index: 22;
    margin-bottom: 0 !important;
    cursor: pointer;
    transition: background $duration;
    opacity: 1;
    
    &:hover {
      background: #9B0000;
    }
    
    &:not(:last-of-type) {
      margin-right: 25px !important;
    }
  }
  
  .swiper-pagination-bullet-active {
    background: $k1_project_other_red;
  }
}


// endregion swiper pagination

// region swiper button
.swiper-button {
  position: absolute;
  z-index: 9;
  top: 0;
  @include square(size(35));
  background: $k1_project_middle_red;
  @include flex(center, center);
  transition: opacity $duration;
  cursor: pointer;
  @include min-medium-screen {
    @include square(size(55))
  }
  @include large-screen {
    width: size(50);
    height: size(50);
  }
  
  svg {
    @include square(size(15));
    @include min-medium-screen {
      @include square(size(25));
    }
    @include large-screen {
      @include square(size(20));
    }
  }
  
  &.arrow-right {
    right: 0;
  }
  
  &.arrow-left {
    left: 0;
    z-index: 1;
    transform: scaleX(-1);
  }
  
  &.swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
  }
}

// endregion swiper button

body {
  .capabilities_block {
    &:nth-child(even) {
      .capabilities-wrapper {
        flex-direction: row-reverse;
        @include max-medium-screen {
          flex-direction: column-reverse !important;
        }
      }
    }
  }
}

.grecaptcha-badge {
  display: none !important;
}

.spacer {
  height: 200vh;
}

.news-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  .image-wrapper {
    padding-top: 51.912%;
  }
  
  .category-text {
    @include font(14px, 400, 14px, $k1_project_light_grey, $interstate, size(0.5));
    text-transform: capitalize;
    margin-bottom: size(15);
  }
  
  .card-description {
    @include font(20px, 400, 32px, $k1_project_white, $interstate);
    margin-bottom: size(28);
    @include max-lines(4);
    @include min-medium-screen {
      @include font-size(24px, 36px);
      max-width: size(306);
    }
  }
  
  .small-title {
    text-align: center;
    text-transform: capitalize;
    color: $k1_project_white;
  }
  
  .big-title {
    @include font(36px, 700, 40px, $k1_project_white, $interstate, size(0.5));
    text-transform: capitalize;
    text-align: center;
    @include large-screen {
      @include font(48px, 900, 57.6px);
    }
  }
  
  .content-wrapper {
    padding-bottom: size(6);
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .cta-link {
    margin-top: auto;
  }
  
  &.news-card-white {
    background: $k1_project_white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    
    .background-white {
      background: white;
      
      &.background-black {
        display: none;
      }
      
      &.cover-background {
        display: none;
      }
    }
    
    .link {
      color: $k1_project_grey;
      
      &:hover {
        border-bottom: 2px solid $k1_project_middle_red;
      }
    }
    
    .content-wrapper {
      
      padding: size(30) size(20);
      @include min-medium-screen {
        padding: size(30) size(30) size(44) size(30);
      }
    }
    
    .category-text {
      color: $k1_project_middle_red;
    }
    
    .card-description {
      color: $k1_project_grey;
      max-width: size(306);
    }
    
    .link {
      
      &:hover {
        color: $k1_project_middle_red;
      }
    }
    
    .small-title {
      color: $k1_project_middle_red
    }
    
    .big-title {
      color: $k1_project_grey;
    }
  }
  
  &.has-video {
    .image-wrapper {
      &:before {
        content: '';
        width: size(32);
        height: size(42);
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        cursor: pointer;
        //background: url("./../images/Vector.png") no-repeat center/cover;
        z-index: 10;
      }
      
      &:after {
        content: "";
        @include square(100%);
        background: #bf863f73;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
      }
    }
  }
  
  &.background-white {
    background: white;
    
    .cover-background {
      display: none;
    }
  }
}

.height-100-flex {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.section-bg-holder {
  position: relative;
  
  .section-bg {
    position: absolute;
    //width: 102%;
    //height: 102%;
    //top: -1%;
    //left: -1%;
    //
    //
    @include square(100%);
    top: 0;
    left: 0;
    
    img {
      @include objectImg(cover)
    }
  }
}

.k1-shapes {
  position: relative;
  
  &:after, &:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background-repeat: no-repeat !important;
  }
  
  //&.odd {
  //  &:after {
  //    left: 0;
  //    top: 0;
  //    background: url("./images/even-white-left.png");
  //    background-position: top;
  //  }
  //
  //  &:before {
  //    right: 0;
  //    bottom: 0;
  //    background: url("./images/even-white-left.png");
  //    background-position: bottom;
  //  }
  //}
  
  &.even {
    &:after {
      left: 0;
      bottom: 0;
      background: url("https://k1imdev.wpengine.com/wp-content/themes/k1_elementor/images/right-back-ground-image.png");
      background-position: bottom;
    }
    
    &:before {
      right: 0;
      top: 0;
      background: url("https://k1imdev.wpengine.com/wp-content/themes/k1_elementor/images/left-back-ground-image.png");
      background-position: top;
    }
  }
}

.no-image {
  img {
    object-fit: contain;
  }
}


#smooth-content {
  position: relative;
  
  &:before {
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -100;
    background-repeat: repeat-y;
    background-size: 100% auto;
    //background-image: url("../images/small-bg-shape.png");
    @include large-screen {
      //background-image: url("../images/body-bg-shapes.png");
      
    }
  }
}

.dark-theme-background {
  z-index: unset;
  position: relative;
  
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.85;
    left: 0;
    top: 0;
    z-index: 2;
  }
  
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
    z-index: 1;
  }
  
  > :not(.news_details_block) {
    .paragraph, .wysiwyg-block p, .blog-content-wrapper p, .headline-2, .sub-title {
      color: $k1_project_white;
    }
  }
}

.below-hero {
  height: 60vh;
  min-height: size(550);
}

.stars-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  .stars-repeat {
    @include square(100%);
    position: absolute;
    top: 0;
    left: 0;
    //background: url("../images/small-bg-star.png") !important;
    @include large-screen {
      //background: url("../images/stars.png") !important;
    }
    
    &:nth-of-type(2) {
      background-position: size(210) size(10);
    }
    
    &:nth-of-type(3) {
      background-position: size(130) size(30);
    }
    
    &:nth-of-type(4) {
      background-position: size(350) size(50);
    }
    
    &:nth-of-type(5) {
      background-position: size(170) size(70);
    }
    
    &:nth-of-type(6) {
      background-position: size(290) size(90);
    }
    
    img {
      @include square(100%)
    }
  }
  
  .stars-rotate {
    @include square(100%);
    left: 50%;
    top: 50%;
    position: absolute;
  }
}

.keep-scroll {
  @include square(size(40));
  transition: background-color, opacity;
  transition-duration: $duration;
  @include flex(center, center, false, false);
  color: $k1_project_white;
  position: fixed;
  cursor: pointer;
  z-index: 99;
  left: 50%;
  bottom: 15%;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-50%);
  
  @include min-medium-screen {
    @include square(size(60));
  }
  
  &.keep-scroll-active {
    opacity: 1;
  }
  
  path {
    fill: currentColor;
    
    &.animate {
      animation: scrolling 4s infinite;
      
      @keyframes scrolling {
        0%{
          opacity: 0;
          transform: translateY(0);
        }
        20%,50%{
          opacity: 1;
        }
        90%, 100%{
          opacity: 0;
          transform: translateY(30%);
        }
        
      }
    }
  }
  
}

.elementor-widget:not(:last-child) {
  margin-bottom: 0 !important;
}
