// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$k1_project_black: var(--k1_project_black);
$k1_project_white: var(--k1_project_white);
$k1_project_off_white: var(--k1_project_off_white);
$k1_project_other_red: var(--k1_project_other_red);
$k1_project_red: var(--k1_project_red);
$k1_project_middle_red : var(--k1_project_middle_red);
$k1_project_light_red : var( --k1_project_light_red);
$k1_project_dark_red : var( --k1_project_dark_red);
$k1_project_grey : var(--k1_project_grey);
$k1_project_dark_grey : var(--k1_project_dark_grey);
$k1_project_dark_grey_2 : var(--k1_project_dark_grey_2);
$k1_project_light_grey : var( --k1_project_light_grey);
$k1_project_electric_purple : var(--k1_project_electric_purple);
$k1_project_stone : var(--k1_project_stone);
$k1_project_brown: var(--k1_project_brown);
$k1_project_purple: var(--k1_project_purple);
$k1_project_blue: var(--k1_project_blue);


// fonts
$interstate: 'Interstate';

//default duration
$duration: 500ms;
//override bootstrap variables
$grid-gutter-width: 4rem;
$container-padding-sm: 2rem;
$container-padding-md: 6rem;
$container-padding-lg: 12rem;
$container-large: 36.4rem;

$container-max-widths: (
  'md': 100%, //570px
  'lg': 144rem, //760px 88.4
);
$grid-breakpoints: (
  'xs': 0,
  'md': $medium-screen-min-width,
  'lg': $large-screen-min-width,
);

