
@import "styles/sites/k1_elementor";
@import "~swiper/css";
//@import "~swiper/css/grid";
@import "~swiper/css/lazy";


.image_swiper_block {
  --swiper-preloader-color: #{$k1_project_red};
  @include paddingY(size(30));
  @include min-medium-screen {
    @include paddingY(size(50));
  }
  @include large-screen {
    @include paddingY(size(100));
  }

  @at-root .elementor-element-edit-mode & {
    .swiper-slide {
      width: 20%;
    }
  }

  .sub-title, .title, .description {
    @include marginX(auto);
    text-align: center;
  }

  .sub-title {
    margin-bottom: size(6);
  }

  .title {
    margin-bottom: size(18);
    color: $k1_project_black;
    text-transform: capitalize;
    @include min-medium-screen {
      margin-bottom: size(6);
    }
  }

  .description {
    color: $k1_project_grey;
    max-width: size(713);
    margin-bottom: size(50);
  }

  .swiper {
    padding-bottom: size(80);
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    picture {
      width: size(150);
      height: size(70);
      display: flex;
      align-items: center;
      @include min-medium-screen {
        height: size(90);
      }
      @include large-screen {
        width: size(218);
      }
      .swiper-lazy-preloader:after{
        content: none;
      }
      img {
        width: 100%;
        height: size(50);
        object-fit: contain;

        &.swiper-lazy {
          opacity: 0;
          transition: opacity $duration;

          &.swiper-lazy-loaded {
            opacity: 1;
          }
        }
      }
    }
  }

}



