
@import "styles/sites/cyberhill";

header{
  background-color: #1D4070;
  position: fixed;
  width: 100%;
  z-index: 99;
  //display: none;
  height: 100vh;
  pointer-events: none;
  
  &.active {
    pointer-events: auto;
    
    @include min-medium-screen {
      .header-wrapper {
        padding: size(16) size(48);
      }
    }
    
    
    .dodo {
      background-color: $cyberHill-tangaroa;
    }
    
  }
  
  .preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    
    .path {
      animation: path 2s linear infinite;
      @keyframes path {
        from {
          stroke-dashoffset: 0%;
          stroke-dasharray: 20%, 100%;
        }
        to {
          stroke-dashoffset: 100%;
          stroke-dasharray: 20%, 80%;
        }
        
      }
    }
    
    .path2 {
      animation: path2 2s linear infinite;
      @keyframes path2 {
        from {
          stroke-dashoffset: 0%;
          stroke-dasharray: 20%, 100%;
        }
        to {
          stroke-dashoffset: 100%;
          stroke-dasharray: 20%, 80%;
        }
      }
      
    }
    
    .path3 {
      animation: path3 1.5s ease-out infinite;
      @keyframes path3 {
        0% {
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          
        }
        50% {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          
        }
        100% {
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          
        }
        
      }
    }
  }
  
  .container {
    height: 100%;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
    width: size(117);
    transition: top $duration;
    z-index: 99;
    @include min-medium-screen {
      width: size(156);
    }
    
    svg, img {
      width: 100%;
      height: auto;
    }
    
    svg:first-child {
      margin-right: size(4.56);
    }
  }
  
  nav {
    //pointer-events: none;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    height: 100%;
    max-height: 90vh;
    overflow: scroll;
    @include paddingY(10vh, size(150));
    scrollbar-width: none !important;
    
    @include min-medium-screen {
      padding-top: calc(20vh - 6rem);
    }
    @include large-screen {
      padding-top: calc(20vh - 9.6rem);
    }
  }
  
  
  nav::-webkit-scrollbar {
    display: none !important;
  }
  
  
  .header-wrapper {
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: padding, background-color;
    transition-duration: $duration;
    @include small-screen {
      @include paddingY(size(22), size(24));
      @include paddingX(size(16));
      background: $cyberHill-tangaroa;
      border-top: 2px solid $cyberHill-light-green;
    }
    @include min-medium-screen {
      padding: size(30);
      
    }
    @include large-screen {
      padding: size(48);
    }
  }
  
  .link-wrapper {
    position: relative;
    width: 100%;
    @include min-medium-screen {
      width: 63%;
      margin-bottom: size(0);
    }
    
    &:not(:last-of-type) {
      padding-bottom: size(48);
    }
  }
  
  .menu-item {
    @include min-medium-screen {
      width: fit-content !important;
    }
    
    &:not(:last-child) {
      margin-bottom: size(15);
    }
    
    &:last-child {
      .spacer {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
    
    &:hover {
      .headline-2 {
        color: $cyberHill-light-green;
      }
    }
  }
  
  .menu-item-has-children {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    @include min-medium-screen {
      @include flex(flex-start, center);
    }
    
    .arrow-down {
      display: flex;
      align-items: center;
      justify-content: center;
      //transform-origin: 50% 50%;
      position: relative;
      //top: size(15);
      //right: 0;
      left: 95%;
      bottom: size(20);
      transition: transform $duration;
      @include min-medium-screen {
        display: none;
      }
      
    }
    
    &.active {
      .headline-2 {
        color: $cyberHill-light-green;
      }
      
      .primary-button-only-arrow {
        transform: scale(1);
      }
      
      .arrow-down {
        transform: scaleY(-1);
      }
    }
  }
  
  .headline-2 {
    color: $cyberHill-white;
    transition: color .2s;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .sub-menu {
    height: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 1;
    width: 100%;
    
    .spacer {
      @include small-screen {
        border-bottom: 1px solid $cyberHill-Blue;
        @include paddingY(size(36), size(48));
        padding-left: size(16);
        margin-bottom: size(10);
      }
    }
    
    @include min-medium-screen {
      overflow: visible;
      position: absolute;
      width: fit-content;
      left: 100%;
      top: 0;
      height: 100%;
      opacity: 0;
      pointer-events: none;
      transition: opacity $duration;
    }
    
    &-active {
      opacity: 1;
      pointer-events: auto;
    }
  }
  
  .hover-content {
    cursor: auto;
    @include min-medium-screen {
      width: size(250);
    }
    
    &:not(:last-of-type) {
      margin-bottom: size(48);
    }
    
    a {
      transition: color $duration ease;
      
      &:hover {
        color: $cyberHill-light-green;
      }
    }
  }
  
  .links-title {
    color: $cyberHill-light-green;
    margin-bottom: size(18);
    cursor: auto;
  }
  
  .hover-link {
    color: #f9f9f9;
    @include min-medium-screen{
      width: fit-content;
    }
    &:not(:last-of-type) {
      margin-bottom: size(8);
      
    }
  }
  
  .primary-button-only-arrow {
    display: none;
    width: size(48);
    height: size(48);
    background: $cyberHill-light-green;
    margin-left: size(38);
    transform: scale(0);
    transition: transform $duration;
    border: 0;
    
    .arrow {
      @include square(size(24));
      
      path {
        fill: $cyberHill-tangaroa;
      }
    }
    
    @include min-medium-screen {
      display: flex;
      
    }
  }
  
  .menu {
    position: relative;
    @include square(size(32));
    border-radius: 50%;
    cursor: pointer;
    @include min-medium-screen {
      //position: absolute;
      @include square(size(48));
      //right: size(48);
      //top: 50%;
      //transform: translateY(-50%);
    }
    
    #burger-menu-border {
      position: absolute;
      @include square(100%);
      
      circle {
        transition: all 0.3s;
      }
      
      //@include min-medium-screen {
      //  z-index: -1;
      //}
    }
    
    .burger-menu-circle {
      @include square(0);
      pointer-events: none;
      background: $cyberHill-tangaroa;
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    
    .menu-shape {
      width: size(12);
      height: size(1.5);
      background: $cyberHill-white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center;
      transition: top .25s ease-out, transform .25s ease-out, background 0.3s;
      @include min-medium-screen {
        width: size(18);
      }
      
      &:first-of-type {
        top: calc(50% + 3px);
      }
      
      &:last-of-type {
        top: calc(50% - 3px);
      }
    }
    
    
    .bg {
      background-color: $cyberHill-white;
      position: absolute;
      top: 0;
      left: 0;
      @include square(100%);
      opacity: 0;
      transition: opacity $duration;
      border-radius: 50%;
    }
    
    //&:hover {
    //  span {
    //    background: $cyberHill-white !important;
    //  }
    //
    //  svg {
    //    circle {
    //      stroke: $cyberHill-white !important;
    //    }
    //  }
    //
    //}
    
    &.open {
      
      .bg {
        opacity: 1;
      }
      
      .menu-shape {
        background: $cyberHill-Blue !important;
        
        &:first-of-type {
          top: 50%;
          width: 0;
        }
        
        &:nth-of-type(2) {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        
        &:nth-of-type(3) {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        
        &:last-of-type {
          top: 50%;
          width: 0;
        }
        
      }
      
      &:hover {
        @include min-medium-screen {
          background: $cyberHill-white !important;
          .menu-shape {
            background: $cyberHill-Blue !important;
          }
        }
      }
    }
  }
  
  .header-more-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include min-medium-screen {
      margin-top: 12vh;
      flex-direction: row;
      @include flex(flex-start, space-between);
      margin-bottom: size(-48);
    }
    @include large-screen {
      width: 75.6%;
      margin-top: 9vh;
      
    }
    
    
    .hover-content {
      cursor: auto;
      &:first-child {
        @include small-screen {
          width: 100%;
          border-top: 1px solid $cyberHill-Blue;
          padding-top: size(48);
        }
      }
    }
    
  }
  
  .sub {
    position: relative;
    z-index: 1;
  }
  
  .sub-menu-item {
    position: relative;
    z-index: 1;
  }
  
  
  &.sticky {
    .header-wrapper {
      background: $cyberHill-tangaroa;
      @include paddingY(size(18));
      
      @include min-medium-screen {
        @include paddingY(size(16));
      }
      
      svg#logoText {
        color: white !important;
      }
      
      .menu {
        #burger-menu-border {
          circle {
            stroke: white !important;
          }
        }
        
        .menu-shape {
          background: $cyberHill-white !important;
          
          &.open {
          
          }
        }
        
        &.open {
          
          .menu-shape {
            background: $cyberHill-Blue !important;
          }
        }
      }
    }
  }
  
  .border-b {
    width: size(288);
  }
  
  li {
    &:first-child {
      border: none;
    }
  }
  
}

