:root {
  /* Colors: */
  --headversity_black: #000000;
  --headversity_off_black: #1A1A1A;
  --headversity_white: #ffffff;
  --headversity_light_blue: #41BBfB;
  --headversity_mid_blue: #1E64F0;
  --headversity_new_blue: #005DB3;
  --headversity_compliant_blue: #0B45B9;
  --headversity_dark_blue: #0A1B57;
  --headversity_yellow: #FAC20A;
  --headversity_orange: #FF9900;
  --headversity_hover_orange: #FFC266;
  --headversity_new_teal: #005272;
  --headversity_gray: #444444;
  --headversity_light_gray: #C4C4C4;

  --headversity_gradient_yellow: linear-gradient(180deg, rgba(250, 194, 10, 0.98) 0%, rgba(250, 194, 10, 0) 100%);
}
