@import "variables";
@import "mixins";
@import "root";

body {
  overflow: hidden;
  padding-top: size(69);
  @include min-medium-screen {
    padding-top: size(110);
  }
  @include large-screen {
    padding-top: size(73);
  }
}

// region container
.container {
  @include paddingX($container-padding-sm);
  @include min-medium-screen {
    @include paddingX($container-padding-md);
  }
  @include large-screen {
    @include paddingX($container-padding-lg);
  }
  @at-root body .section-noContainer & {
    @include paddingX(0);
  }
}

.alignwide {
  @include paddingX($container-padding-sm);
  @include min-medium-screen {
    @include paddingX($container-padding-md);
  }
  @include large-screen {
    @include paddingX($container-padding-lg);
  }
  max-width: 144rem;
}

//endregion

// region font  Styling
.headline-1, .wysiwyg-block h1, .blog-content-wrapper h1 {
  @include font(48px, 700, 50px, $headversity_new_blue, $poppins, normal);

  @include min-medium-screen {
    letter-spacing: normal;
    @include font-size(64px, 50px);
  }
  @include large-screen {
    @include font-size(72px, 90px);
  }
}

.headline-2, .wysiwyg-block h2, .blog-content-wrapper h2 {
  @include font(36px, 600, 40px, $headversity_dark_blue, $poppins, normal);

  @include min-medium-screen {
    @include font-size(55px, 60px)

  }
}

.headline-3, .wysiwyg-block h3, .blog-content-wrapper h3 {
  @include font(30px, 600, 32px, $headversity_dark_blue, $poppins, normal);
  @include min-medium-screen {
    @include font-size(38px, 50px)

  }
  @include large-screen {
    @include font-size(48px, 50px)
  }
}

.headline-4, .wysiwyg-block h4, .blog-content-wrapper h4 {
  @include font(20px, 600, 20px, $headversity_dark_blue, $poppins, normal);

  @include large-screen {
    @include font-size(32px, 40px)
  }

}

.headline-5, .wysiwyg-block h5, .blog-content-wrapper h5 {
  @include font(20px, 600, 24px, $headversity_dark_blue, $poppins, normal);
  @include large-screen {
    @include font-size(24px, 30px);
  }
}

.headline-6, .wysiwyg-block h6, .blog-content-wrapper h6 {
  @include font(20px, 600, 30px, $headversity_dark_blue, $poppins, normal);
}

.paragraph, .wysiwyg-block p {
  @include font(14px, 400, 24px, $headversity_gray, $poppins);

  @include min-medium-screen {
    @include font-size(16px, 30px);
  }

  &-s-paragraph {
    font-family: $lato;
    @include font-size(16px, 30px);
  }

  &-m-paragraph {
    @include min-medium-screen {
      @include font-size(16px, 30px);
    }
  }

  &-l-paragraph {
    @include min-medium-screen {
      @include font-size(18px, 30px);
    }
  }

  &-xl-paragraph {
    @include min-medium-screen {
      @include font-size(24px, 40px);
    }
  }

  &.bold {
    font-weight: 700;
  }

  &.paragraph-italic {
    font-style: italic;
  }

  &.paragraph-inter {
    font-family: $inter;
  }

  &.paragraph-dm-sans {
    font-family: $dm-Sans;
  }

  &.paragraph-open-sans {
    font-family: $open-sans;
  }

  & + a {
    margin-top: size(50);
  }


}


.sub-title {
  @include font(16px, 600, 24px, $headversity_new_blue, $poppins);
  @include min-medium-screen {
    @include font-size(20px, 24px);
  }

}

.navigation-link {
  @include font(16px, 400, 21px, $headversity_white, $poppins);

}

ul, .ul-list {
  li {
    @include font(16px, 400, 24px, $headversity_gray, $inter);
    position: relative;

    &:not(:last-child) {
      margin-bottom: size(15);
      @include large-screen {
        margin-bottom: size(18);
      }
    }

  }
}

// endregion

// region button  Styling
.btn, .cn-button.wp-default {
  @include font(14px, 600, 20px, $headversity_dark_blue, $poppins);
  @include flex(center, center);
  line-height: 100%;
  width: fit-content;
  padding: size(18.5) size(27);
  transition: border-color $duration;
  cursor: pointer;
  border-radius: size(30);
  position: relative;
  min-width: size(222);
  text-indent: size(10);

  @include large-screen {
    font-size: size(16);
    padding: size(17.5) size(32);
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: size(30);
    width: calc(100% + .2rem);
    height: calc(100% + .2rem);
    background-color: $headversity_orange;
    transition: opacity 500ms ease-in-out, transform 400ms;
    bottom: 0;
    right: 0;
    transform: translate(size(2), size(-6));
    transform-origin: bottom center;
  }

  &:before {
    content: '';
    @include square(100%);
    position: absolute;
    border-radius: size(30);
    transition: border 500ms ease-in-out, transform 400ms;
    border: size(2) solid $headversity_dark_blue;
    transform: translateX(size(5));
    @include large-screen {
      border: 2px solid $headversity_dark_blue;
    }
  }

  &-big-font {
    font-size: size(20);
    padding: size(11.5) size(32);

    &:after {
      transform: translate(size(-3.5), size(-4));
    }
  }

  &.disabled {
    background: $headversity_gray;
    color: $headversity_white;
    pointer-events: none;
  }


  &:hover {
    &:after {
      transform: translate(size(5), 0) scale(1.05);
      opacity: 0;
    }

    &:before {
      border-color: $headversity_orange;
    }

    svg {
      transform: translateX(size(5));
    }
  }

  .paragraph + &, .paragraph + * > & {
    margin-top: size(40) !important;
  }
}

// endregion

// region card style

.cards {
  @include change-gutter(size(40), size(40));
  @include min-medium-screen {
    @include change-gutter(size(35), size(35));
  }

}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  @include small-screen {
    max-width: size(400);
    @include marginX(auto);
  }

  .card-image {
    position: relative;
    display: block;
    padding-top: 84.971%;
    //margin-bottom: size(12);
    //@include min-medium-screen {
    margin-bottom: size(21);
    //}
  }

  .category-title {
    color: $headversity_compliant_blue;
    font-weight: 600;

    a {
      &:hover {
        color: $headversity_orange;
      }
    }

  }

  .category-link {
    &:not(:last-child) {
      margin-right: size(5);
    }

    &:hover {
      color: $headversity_orange;
    }
  }

  .card-title {
    display: block;
    margin-bottom: size(10);
    color: $headversity_dark_blue;
    max-width: size(312);

  }

  a.card-title:hover {
    color: $headversity_orange;
  }

  .date {
    @include font(16px, 400, 30px, $headversity_gray, $poppins, normal);
  }

  .play-icon {
    display: none;
  }

  .arrow-icon {
    @include square(size(24));
    display: block;
    //margin-top: auto;
    transition: color $duration;
    margin-top: size(15);

    @include min-medium-screen {
      width: size(30);
      height: size(24);
      margin-top: size(24);
    }

    svg {
      @include square(100%);
      overflow: visible;

      path {
        transition: transform $duration cubic-bezier(0.29, 0.26, 0.17, 0.9);
      }

    }

    &:hover {
      color: $headversity_yellow;

      .arrow-line {
        transform: scaleX(1.25);
        will-change: transform;
      }

      .arrow-head {
        transform: translateX(10px);
        will-change: transform;
      }
    }

  }

  &.podcaste {
    .date {
      display: block;
    }

    .play-icon {
      display: block;
      @include square(size(55));
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      @include min-medium-screen {
        @include square(size(76));
      }
    }
  }

  &.has-play-icon, &.media-card {
    .play-icon {
      display: block !important;
      @include square(size(55));
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      z-index: 2;
      @include min-medium-screen {
        @include square(size(76));
      }
    }
  }
}

.podcast-audio {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: size(70);
  z-index: 33;
  opacity: 0;
  transition: opacity $duration;

  &.active {
    opacity: 1;
  }
}

// endregionarrow

// region percentage card style
.percentage-card {

  max-width: size(356);
  @include paddingX(size(48), size(40));
  @include paddingY(size(44));
  border-radius: size(20);
  background-color: $headversity_white;
  box-shadow: 0 10px 20px rgba(97, 55, 55, 0.1);
  @include min-medium-screen {
    @include paddingX(size(165), size(120));
    @include paddingY(size(54), size(73));
    border-radius: size(30);
    max-width: size(602);
  }
  @include large-screen {
    @include paddingX(size(167), size(123));
    @include paddingY(size(54), size(73));
    max-width: size(810);
  }

  .rate-field {
    display: flex;
    align-items: center;
    padding-bottom: size(19);
    border-bottom: 3px solid $headversity_orange;
    margin-bottom: size(22);
    @include min-medium-screen {
      width: size(365);
    }
    @include large-screen {
      width: size(520);
      padding-bottom: size(29);


    }

    &:last-of-type {
      padding-bottom: unset;
      border-bottom: unset;
      margin-bottom: unset;
    }
  }

  .percentage-value {
    font-family: $open-sans;
    font-weight: 700;
    margin-right: size(20);
    @include large-screen {
      margin-right: size(42);
    }
  }

  .headline-5 {
    @include small-screen {
      font-size: size(14);
    }
    color: #0A1B57;
  }
}


// endregion percentage card style

.link {
  @include font(16px, 600, 20px, $headversity_dark_blue, $poppins);
  @include flex(center, center, false, false);
  width: fit-content;
  transition: color $duration;
  cursor: pointer;

  svg {
    @include square(size(20));
    margin-left: size(20);
    transition: transform $duration;
    overflow: visible;

    path {
      stroke: #FF9900;
      transition: transform $duration cubic-bezier(0.29, 0.26, 0.17, 0.9);
    }

  }

  &.link-left {
    svg {
      margin-left: size(0);
      margin-right: size(20);

    }
  }

  &:hover {

    .arrow-line {
      transform: scaleX(1.25);
      will-change: transform;
    }

    .arrow-head {
      transform: translateX(10px);
      will-change: transform;
    }
  }

  &-white {
    color: $headversity_white;

    &:hover {
      color: $headversity_white;
    }
  }

  .paragraph + &, .paragraph + * > & {
    margin-top: size(40) !important;
  }
}

.arrow-left {
  transform: scale(-1);
}

.video-poster {
  position: absolute;
  @include square(100%);
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  transition: opacity $duration;

  &.active {
    opacity: 0;
    pointer-events: none;
  }
}

// region ellipse
.ellipse {
  position: absolute;
  @include square(size(450));
  opacity: 0.2;
  z-index: -1;

  pointer-events: none;
  @include min-medium-screen {
    @include square(size(850))
  }

  &.ellipse-blue {
    background: radial-gradient(50% 50% at 50% 50%, #3C9AF0 0%, rgba(255, 255, 255, 0) 100%);
  }

  &.ellipse-light-blue {
    background: radial-gradient(50% 50% at 50% 50%, #41E5FB 0%, rgba(255, 255, 255, 0) 100%);
  }

  &.ellipse-yellow {
    background: radial-gradient(50% 50% at 50% 50%, #FAC20A 0%, rgba(255, 255, 255, 0) 100%);
  }

  &.ellipse-orange {
    background: radial-gradient(50% 50% at 50% 50%, #F89833 0%, rgba(255, 255, 255, 0) 100%);
  }

  &.ellipse-green {
    background: radial-gradient(50% 50% at 50% 50%, #40C977 0%, rgba(255, 255, 255, 0) 100%);
  }

  &.ellipse-purple {
    background: radial-gradient(50% 50% at 50% 50%, #5662C9 0%, rgba(255, 255, 255, 0) 100%);
  }

  &.orbs-30 {
    opacity: 0.3;
  }

  &.orbs-10 {
    opacity: 0.20;
  }

  &.position {
    transform: translate(-50%, -50%);

    &-top_left {
      top: 0;
      left: 0;
    }

    &-center_left {
      top: 50%;
      left: 0;
    }

    &-bottom_left {
      top: 100%;
      left: 0;
    }

    &-top_right {
      top: 0;
      left: 100%;
    }

    &-center_right {
      top: 50%;
      left: 100%;
    }

    &-bottom_right {
      top: 100%;
      left: 100%;
    }


    &-top_center {
      top: 0;
      left: 50%;
    }

    &-center_center {
      top: 50%;
      left: 50%;
    }

    &-bottom_center {
      top: 100%;
      left: 50%;
    }


  }

}

// endregion ellipse

// region  wysiwyg
.wysiwyg-block {
  h1, h2, h3, h4, h5, h6, ul, p {
    margin-bottom: size(20);
  }

  ul, ol {
    margin-bottom: size(20);
    padding-top: 0;

    li {
      position: relative;
      color: $headversity_white;
      font-weight: 400;
      @include font-size(18px, 27px);
      padding-left: size(18);

      &:not(:last-child) {
        margin-bottom: size(11);
      }

      &:before {
        content: "";
        position: absolute;
        top: size(10);
        left: 0;
        @include square(size(5));
        background-color: currentColor;
        border-radius: 50%;
      }
    }

    ul, ol {
      margin: size(5) 0 0 size(10);
    }
  }

  ol {
    padding-left: size(17);

    li {
      padding-left: size(5);

      &:before {
        display: none;
      }
    }

    ul {
      margin-bottom: 0;
    }
  }

  &.children-inherit {
    > * {
      color: inherit;
    }
  }

}

//endregion//

// region background-image
.background-layout, .layout {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  @include square(100%);

  img, video {
    @include square(100%);
    object-fit: cover;
  }
}

.layout {
  z-index: -1;
}

// endregion

// region swiper pagination
.swiper-paginations, .swiper-pagination {
  position: relative;
  @include flex(center);
  width: fit-content;
  @include marginX(auto);

  .swiper-pagination-bullet {
    @include square(size(10));
    background: #E9E9E9;
    cursor: pointer;
    opacity: 1;
    border-radius: 50%;
    transition: background-color $duration, border-color $duration;

    &:not(:last-child) {
      margin-right: size(12) !important;
      margin-left: size(0) !important;
    }

    &:hover {
      background-color: $headversity_orange;
    }

    position: relative;

    &:before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: 100%;
      height: calc(100% + 30px);
      transform: translate(-50%, -50%);
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $headversity_orange;
  }

  &.circle {
    .swiper-pagination-bullet {
      @include square(size(14));
      background: #C4C4C4;
      border: 1px solid $headversity_orange;
    }

    .swiper-pagination-bullet-active {
      background-color: $headversity_orange;
    }
  }

  &.circle-white {
    .swiper-pagination-bullet {
      @include square(size(14));
      background: transparent;
      border: 1px solid $headversity_white;
    }

    .swiper-pagination-bullet-active {
      background-color: $headversity_white;
    }
  }
}

// endregion swiper pagination

// region swiper Navigation
$postion-of-arrow-small: size(-6);
$postion-of-arrow-medium: size(-15);
$postion-of-arrow-large: size(-75);

.swiper-button {
  position: absolute;
  z-index: 22;
  top: size(80);
  cursor: pointer;
  @include square(size(20));
  @include min-medium-screen {
    @include square(size(27));
    top: size(122);

  }
  @include large-screen {
    width: size(23);
    height: size(37);
  }

  svg {
    transition: opacity $duration;
    @include square(100%);
  }

  &:hover {
    svg {
      path {
        stroke: $headversity_hover_orange
      }
    }

  }

  &.hide-swiper-button {
    display: none;
  }


}

.swiper-button-prev {
  transform: translateX(-100%);
  left: $postion-of-arrow-small;

  @include min-medium-screen {
    left: $postion-of-arrow-medium;
  }
  @include large-screen {
    left: $postion-of-arrow-large;
  }
}

.swiper-button-next {
  transform: translateX(100%);
  right: $postion-of-arrow-small;
  @include min-medium-screen {
    right: $postion-of-arrow-medium;
  }
  @include large-screen {
    right: $postion-of-arrow-large;
  }
}


.swiper-button-disabled {
  svg {
    path {
      stroke: $headversity_hover_orange
    }
  }

}


// endregion

.swiper-button-disabled {
  svg {
    opacity: 60%;
  }
}


.desk-only {
  display: none;
  @include min-medium-screen {
    display: flex;
  }
}

.mobile-only {
  display: flex;
  @include min-medium-screen {
    display: none;
  }
}

.list {
  ul {
    li {
      @include font(16px, 400, 24px, $headversity_gray, $lato);
      margin-left: size(16);
      position: relative;
      @include large-screen {
        @include font-size(22px, 36px);
        margin-left: size(36);
      }

      &:after {
        content: "";
        position: absolute;
        width: size(5);
        height: size(5);
        background-color: currentColor;
        left: size(-17);
        border-radius: 50%;
        top: size(7);
        @include min-medium-screen {
          top: size(8);
        }

        @include large-screen {
          top: size(16);
        }
      }

      &:not(:last-child) {
        margin-bottom: size(8);
        @include large-screen {
          margin-bottom: size(2);
        }
      }

    }
  }

}

.underline {
  //border-bottom: 3px solid $headversity_orange;
}


.search_and_sort_wrapper {
  border-top: 3px solid $headversity_orange;
  @include small-screen {
    flex-direction: column;
  }
  @include paddingY(size(29), size(35));
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;

  .search-wrapper {
    position: relative;
    @include small-screen {
      margin-bottom: size(20);
      @include marginX(auto)
    }
  }

  .search-sign {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 17.3px;

  }

  input, select {
    font-size: size(18);
    line-height: size(30);
    font-family: $poppins;
    @include paddingY(size(6))
  }

  input {
    @include small-screen {
      @include marginX(auto)

    }
    @include paddingX(size(26), size(45));
    border: 2px solid #0A1B57;
    border-radius: 50px;
    width: size(314);
    margin-left: size(35);
    color: $headversity_gray;
    font-weight: 400;

    &::placeholder {
      color: $headversity_gray;

    }

  }

  .sort-wrapper {
    position: relative;
    @include small-screen {
      @include marginX(auto)
    }

    &:after {
      content: "";
      //background: url(../images/select-arrow.png) no-repeat right;
      position: absolute;
      width: 16.87px;
      height: 14.41px;
      top: 50%;
      transform: translateY(-50%);
      right: .4%;
      cursor: pointer;
      pointer-events: none;
    }
  }

  select {
    @include paddingX(size(20), size(36));
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
    color: $headversity_dark_blue;
    font-weight: 600;

    option {
      padding: size(20);
      background-color: $headversity_white;
      @include font-size(14px, 24px);
      color: $headversity_dark_blue;
      font-weight: 600;
    }

  }
}


.all-cards-in-category {
  margin-bottom: size(150);
  @include large-screen {
    margin-bottom: size(298);
  }
}


.modal, .podcaste-model {
  position: fixed;
  overflow: auto;
  left: 50%;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, .95);
  top: 50%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transition: opacity $duration, transform $duration;

  .modal-player {
    pointer-events: none;
    opacity: 0;

    &.modal-player-active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &.show {
    opacity: 1;
    transform: translate(-50%, -50%);
    pointer-events: visible;
  }

  .exit {
    cursor: pointer;
    position: absolute;
    top: size(24);
    right: size(20);
  }
}

.modal, .modal-form {
  @include paddingY(10vh);
  overflow: auto;
}

// region modal form
.modal-form {
  .container {
    @include small-screen {
      padding: 0;
    }
  }

  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, .95);
  top: 50%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity $duration, width $duration, height $duration;

  &.show {
    opacity: 1;
    pointer-events: visible;
  }

  .webinar-wrapper {
    @include marginX(auto);
    background-color: $headversity_white;
    position: relative;
    width: 100%;
    height: 100vh;
    @include paddingY(size(66));
    @include paddingX(size(57), size(47));
    @include min-medium-screen {
      box-shadow: 0 size(10) size(20) rgba(97, 55, 55, 0.1);
      border-radius: size(30) size(30) 0 0;
      width: 90%;
      height: unset;
      @include paddingY(size(126), size(56));
      @include paddingX(size(70));
    }
    @include large-screen {
      @include paddingY(size(160), size(56));
      @include paddingX(size(146), size(144));
      width: 85.02%;
    }
  }

  .form-img {
    width: size(53);
    @include marginX(auto);
    margin-bottom: size(15);
    @include min-medium-screen {
      width: size(73);

    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .form-title {
    @include font(20px, 600, 20px, #081853, $poppins);
    text-align: center;
    @include marginX(auto);
    margin-bottom: size(10);
    max-width: size(270);
    @include min-medium-screen {
      @include font-size(36px, 36px);
      max-width: size(482);

    }
  }

  .form-description {
    margin-bottom: size(25);
    text-align: center;
    max-width: size(270);
    @include marginX(auto);
    @include min-medium-screen {
      margin-bottom: size(40);

      max-width: size(489);

    }
  }

  .exit {
    top: size(27);
    right: size(21);
    cursor: pointer;
    position: absolute;
    @include min-medium-screen {
      top: size(33);
      right: size(39);
    }

  }


  .gfield {
    width: 100%;
    max-width: size(286);
    @include marginX(auto);
    @include min-medium-screen {
      max-width: unset;
      width: calc((100% / 2) - 12px);
    }
  }

  #field_3_11 {
    width: 100% !important;
  }

  #gfield_description_1_3 {
    padding-top: size(16) !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 14px !important;
    color: $headversity_dark_blue !important;
    font-family: $poppins !important;
    @include large-screen {
      font-size: 14px !important;

    }
  }

  .large {
    &::placeholder {
      font-size: 14px !important;
      font-weight: 400 !important;
      line-height: 24px !important;
      color: $headversity_gray !important;
      font-family: $poppins !important;
    }
  }

  .gfield_html {
    @include marginX(auto);
    text-align: center;
    width: 100%;

  }

  .small-description {
    @include font(10px, 400, 24px, $headversity_gray, $poppins);
    max-width: size(369);
    @include marginX(auto);

  }

  .links-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    min-width: 0 !important;
    max-width: size(175) !important;
  }

  .my-btn {
    display: block !important;
    max-width: size(175) !important;
    margin: unset !important;

    &::after {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

// endregion modal form

.player .vp-target {
  display: none !important;
}


// region resources style

.resources-content-wrapper {
  .content-wrapper {
    border-bottom: size(3) solid $headversity_orange;
    padding-bottom: size(55);
    @include min-medium-screen {
      padding-bottom: size(75);
    }
    @include large-screen {
      padding-bottom: size(85);
    }
  }

  .top-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: size(68);
    @include large-screen {
      margin-bottom: size(61);
      padding-right: size(20);
      align-items: center;
    }
  }

  .left-content {
    @include min-medium-screen {
      @include flexBasis(size(456));
    }
  }

  .title {
    color: #081853;
    margin-bottom: size(16);
  }

  .link {
    margin-top: size(25);
  }

  .right-content {
    padding-left: size(16);
    height: fit-content;
    border-left: size(2) solid $headversity_orange;
    margin-top: size(44);
    @include min-medium-screen {
      @include flexBasis(size(390));
      padding-left: size(26);
      margin-top: 0;
    }
    @include large-screen {
      @include flexBasis(size(519));
      @include paddingY(size(13), size(7));

    }
  }

  .right-content-text {
    color: $headversity_dark_blue;
    margin-bottom: size(9);
  }

  .icons-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: size(-30);
    margin-right: size(-52);

  }

  .icon {
    display: flex;
    align-items: center;
    @include font(14px, 500, 21px, $headversity_gray, $poppins, size(0.02));
    margin-bottom: size(30);

    @include max-medium-screen {
      @include flexBasis(50%);
    }
    @include large-screen {
      &:not(:last-child) {
        margin-right: size(52);
      }
    }

    svg {
      @include square(size(30));
      flex-shrink: 0;
      margin-right: size(10);
    }

    &:hover {
      svg {
        path {
          fill: $headversity_compliant_blue;
        }
      }
    }
  }

  .resources-cards {
    position: relative;
  }

  .swiper-slide {
    height: auto;
  }

  .card {
    max-width: 100%;
  }


  //  Modal
  .modal {

    .modal-content {
      width: 95%;
      margin-bottom: size(44);
      @include min-medium-screen {
        width: 82%;
        //margin-bottom: size(44);
      }
      @include large-screen {
        width: 66%;
        margin-bottom: size(74);
      }
    }

    .modal-video {
      padding-top: 55.5%;
      cursor: pointer;

    }

    .btn {
      min-width: size(135);

      @include min-medium-screen {
        min-width: size(172);
      }
      @include large-screen {
        min-width: size(222);

      }

    }


  }
}


// endregion

// uncharted card
.uncharted-card {
  .date.no-date {
    .video-duration {
      opacity: 0;
    }

    .date-separator {
      opacity: 0;
    }
  }
}


.audio {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
