// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;
$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$headversity_black: var(--headversity_black);
$headversity_off_black: var(--headversity_off_black);
$headversity_white: var(--headversity_white);
$headversity_light_blue: var(--headversity_light_blue);
$headversity_mid_blue: var(--headversity_mid_blue);
$headversity_new_blue: var(--headversity_new_blue);
$headversity_compliant_blue: var(--headversity_compliant_blue);
$headversity_dark_blue: var(--headversity_dark_blue);
$headversity_yellow: var(--headversity_yellow);
$headversity_orange: var(--headversity_orange);
$headversity_hover_orange: var(--headversity_hover_orange); //new
$headversity_new_teal: var(--headversity_new_teal);
$headversity_gray: var(--headversity_gray);
$headversity_light_gray: var(--headversity_light_gray);
$headversity_gradient_yellow: var(--headversity_gradient_yellow);


// fonts
$poppins: 'Poppins';
$lato: 'Lato';
$inter: 'Inter';
$dm-Sans: 'DM Sans';
$open-sans: 'Open Sans';
//default duration
$duration: 500ms;
//override bootstrap variables
$grid-gutter-width: 4rem;
$container-padding-sm: 2.5rem;
$container-padding-md: 5rem;
$container-padding-lg: 16.6rem;
$container-max-widths: (
        'md': 100%, //570px
        'lg': 144rem, //760px 88.4
);
$grid-breakpoints: (
        'xs': 0,
        'md': $medium-screen-min-width,
        'lg': $large-screen-min-width,
);

