@import "styles/sites/raistone";



.what_raistone_can_do_block {
  overflow: hidden;

  .container {
    @include paddingX(0)
  }

  .what-can-do-title {
    max-width: size(570);
    @include large-screen {
      margin-bottom: size(75);
    }
  }


  .main-title {
    @include small-screen {
      @include font-size(32px, 36px);
    }
  }

  .main-title, .info-title {
    color: $raistone_jet_black;
  }

  .what-can-do-sub-title {
    color: $raistone_mid_plum;
    margin-bottom: size(22);
    text-transform: uppercase;
    font-weight: 700;
    font-family: $montserrat;
    letter-spacing: 0.05em;
    @include small-screen {
      font-size: size(16);
      max-width: 74%;
      margin-bottom: size(12);
    }
  }

  .step {
    @include flex(false, space-between);
    flex-direction: column;
    @include small-screen {
      &:not(:last-of-type) {
        margin-bottom: size(65);
      }
    }
    @include min-medium-screen {
      &:not(:last-of-type) {
        margin-bottom: size(100);
      }
    }
    @include large-screen {
      flex-direction: row;
      position: absolute;
      z-index: 2;
      transition: opacity 500ms;
      align-items: center;
      height: 100vh;
      &:not(.active) {
        opacity: 0;
        pointer-events: none;
      }
    }

  }

  .step-illustration {
    @include flexBasis(100%);
    background: $raistone_light_canary;
    padding: size(40) size(20);
    @include flex(center, center);
    @include min-medium-screen {
      padding: size(40) size(130);
      margin-left: size(20);
    }
    @include large-screen {
      @include flexBasis(69.8%);
      padding: size(100) size(74);
      height: 100%;
    }

    img, svg {
      @include square(100%);
      object-fit: contain;
    }
  }

  .step-content {
    @include flexBasis(100%);
    @include paddingX(size(20), 0);
    @include marginY(size(75), size(27));

    @include min-medium-screen {
      @include marginY(size(75));
      @include paddingX(size(50));
    }
    @include large-screen {
      padding-left: size(118);
      padding-right: size(0);
      @include flexBasis(53.74%);
      margin-bottom: 0;
      margin-top: size(-170);
    }
  }

  .info-description {
    color: $raistone_gery;
    margin-bottom: size(24);
    @include small-screen {
      @include font-size(18px, 26px);
    }
  }

  .info-title {
    margin-bottom: size(24);
    font-weight: 600;
    @include font-size(18px, 22px);
    @include min-medium-screen {
      @include font-size(23px, 40px)
    }
  }

  .dot-link {
    color: $raistone_mid_gery;
    @include font-size(16px, 19.5px);
    font-weight: 600;
    font-family: $montserrat;
    @include large-screen {
      font-size: 16px;
    }
  }

  .active {
    .dot-circle {
      background: $raistone_mid_plum;
    }

    .dot-link {
      color: $raistone_mid_plum;
    }
  }

  .what-can-do-info {
    display: flex;
    justify-content: space-between;
  }

  .info-content {
    @include flexBasis(100%);
    @include paddingX(size(20));
    margin-bottom: size(39);
    @include min-medium-screen {
      @include paddingX(size(50));
      margin-bottom: size(30);
    }
    @include large-screen {
      margin-top: 0;
      //margin-left: -19vh;
      margin-left: -5vw;
      @include flexBasis(42%);
      @include paddingX(0);
      margin-bottom: size(-60);
    }
  }

  .step-dot {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    cursor: pointer;
    transition: color $duration;

    &:not(:last-of-type) {
      margin-bottom: size(48);
    }

    &:before {
      content: '';
      @include square(size(6));
      background: $raistone_plum;
      display: block;
      border-radius: 50%;
      margin-right: size(30);
    }

    &:hover {
      color: $raistone_plum;
    }

    &.active {
      color: $raistone_plum;

      ~ :before {
        background: currentColor;
      }
    }
  }

  .steps-dots-wrapper {
    margin-top: size(20);
    position: relative;
    @include max-medium-screen {
      display: none;
    }

    .progress {
      width: size(2);
      background: $raistone_plum;
      height: calc(100% - 1.5rem);
      position: absolute;
      left: size(2);
      top: size(10);
      opacity: 0;
      z-index: 1;
    }

    &:before {
      content: "";
      width: size(2);
      background: $raistone_mid_gery;
      height: calc(100% - 1.5rem);
      position: absolute;
      left: size(2);
      top: size(10);
      z-index: 0;
    }
  }

  .what-can-do-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    @include max-medium-screen {
      flex-direction: column;
    }

    @include large-screen {
      height: 100vh;

    }

    .how-it-works-title {
      text-align: center;
      margin-bottom: size(23);
      @include min-medium-screen {
        margin-bottom: size(60);
      }
      @include large-screen {
        margin-bottom: size(120);
      }

      .headline-1 {
        margin-bottom: size(16);
      }

      .link {
        @include marginX(auto);
      }
    }


    .steps-wrapper {
      position: relative;
      width: 100%;
      @include large-screen {
        height: 100vh;
      }
    }
  }

  .btn-raistone {
    color: $raistone_gery;

    &:hover {
      color: $raistone_moss;
    }
  }

  .svg-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;

    .card-img {
      width: 45%;
      top: 10.4%;
      left: 14%;
      position: absolute;
      height: fit-content;
    }

    .woman-shape {
      width: 45%;
      top: 64%;
      right: 0;
      position: absolute;
      height: fit-content;

    }
  }

}
