
@import "styles/sites/propellerheath";

.content_and_list_columns {
  background-color:#F5F5F5;
  @include paddingY(size(60), size(40));
  @include min-medium-screen {
    @include paddingY(size(145), size(70));
  }

  .container {
    @include small-screen {
      @include paddingX(size(50));
    }
    @include large-screen {
      @include paddingX(size(160));
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include min-medium-screen {
      flex-direction: row;
      justify-content: space-between;
      max-width: size(1055);
    }
  }

  .left-content {
    @include small-screen {
      max-width: size(350);
      margin-bottom: size(36);
    }
    @include min-medium-screen {
      @include flexBasis(41.9%);
    }
    @include large-screen {
      @include flexBasis(48.9%);
    }
  }

  .main-desc {
    margin-bottom: size(20);
    @include large-screen {
      margin-bottom: size(17);
    }
  }

  .cta-button {
    margin-top: size(27);
    @include large-screen {
      width: size(344);
    }
  }

  .right-content {
    @include small-screen {
      max-width: size(350);
    }
    @include min-medium-screen {
      @include flexBasis(45.3%);
    }
    @include large-screen {
      @include flexBasis(38.3%);
    }
  }

  .list {
    @include min-medium-screen {
      max-width: size(330);
    }
    @include large-screen {
      max-width: size(382);
    }
  }

  .list-item {
    position: relative;
    color: $propellerhealth_denim;
    @include paddingY(size(23), size(23));

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &:not(:last-child) {
      &:after {
        content: "";
        position: absolute;
        transition: width 1s;
        width: 0;
        height: 2px;
        background: $propellerhealth_fog;
        top: 100%;
      }
    }

    &.active {
      &:after {
        width: 100%;
      }
    }

    @include large-screen {
      line-height: size(30);
      @include paddingY(size(25), size(25));
    }


  }

  .description {
    h1, h2, h3, h4, h5, h6 {
      color: $propellerhealth_denim;
    }
  }


}


