
@import "styles/sites/smartdv";

.request_a_demo_section {
  @include paddingY(size(100));
  @include min-medium-screen {
    @include paddingY(size(150));
  }
  @include large-screen {
    @include paddingY(size(225));
  }
  max-width: size(1440);
  @include marginX(auto);

  .background-section {
    position: relative;

    &:before {
      z-index: -1;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--background);
      width: 100%;
      height: size(213);
      @include large-screen {
        top: 50%;
        right: 0;
        left: unset;
        width: size(350);
        transform: translateY(-51%);
        height: size(686.72);

      }
    }
  }


  .container {
    @include large-screen {
      @include paddingX(size(0));

    }
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
    @include large-screen {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }


  }

  .left-text {
    @include flexBasis(100%);
    margin-bottom: 0;
    @include max-medium-screen {
      margin-top: size(50);
    }
    @include large-screen {
      padding-left: size(131);
      @include flexBasis(44%);
      margin-bottom: size(98);
    }
  }

  .cta-button {
    margin-left: size(-20);
    @include large-screen {
      @include font-size(20px, 26px)
    }
  }

  .title {
    margin-bottom: size(20);
  }

  .paragraph {
    margin-bottom: size(40);
    @include small-screen {
      max-width: size(320);
    }
  }

  .right-image {
    @include flexBasis(94.8%);
    @include marginX(auto);
    @include max-medium-screen {
      margin-top: size(80);
    }

    @include large-screen {
      @include flexBasis(46%);
      margin-right: size(72);
      //margin-left: 0;


    }

    .img-wrapper {
      img {
        object-fit: contain;
      }

      padding-top: 75.72%;
      @include marginX(auto);
      @include medium-screen {
        padding-top: 50%;

        max-width: size(640);
      }
      @include large-screen {
        padding-top: 75.555%;
      }
    }

  }

  //change direction
  &.reverse-dir {
    .background-section {
      @include large-screen {
        &:before {
          right: unset;
          left: 0;
        }
      }
    }

    .left-text {
      margin-bottom: 0;
      @include large-screen {
        padding-left: 0;
        padding-right: size(124);
        margin-bottom: size(98);
      }
    }

    .right-image {

      @include large-screen {
        margin-right: size(0);
        margin-left: size(90);
      }

    }

    .content {
      @include large-screen {
        flex-direction: row-reverse;
      }
    }


  }

}



