
@import "styles/sites/smartdv";

.text_and_accordion_block {
  @include paddingY(size(60));
  @include min-medium-screen {
    @include paddingY(size(100), size(90));
  }
  @include large-screen {
    @include paddingY(size(255), size(225));
  }

  .text-and-accordion-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .left-content {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(42.65%);
    }
  }

  .main-title {
    margin-bottom: size(19);
  }

  .cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: unset;
    padding-top: size(30);
    margin-bottom: size(-19);
    @include flexBasis(100%);
    @include min-medium-screen {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 0;
      @include flexBasis(46.51%);
    }
  }

  .card-svg-title {
    @include flexBasis(100%);
    position: relative;

    &:not(:first-of-type) {
      margin-top: size(29);
    }

    &:after {
      content: "";
      height: size(1);
      width: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $smart_dv_dark_metal_green;
      transition: width .5s ease-in-out;
    }

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
    flex-basis: 100%;
    width: 100%;

    &.active-draw {
      &:after {
        width: 100%;
      }

      .icon-wrapper {
        .green-line {
          transform: skew(20deg, 0deg) scaleY(1);
        }
      }
    }

    .card-action {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      cursor: pointer;
      padding-bottom: size(29);

      .hover-action {
        width: size(17);
        height: size(17);
        @include min-medium-screen {
          width: size(26);
          height: size(26);
        }

        svg.minus-plus {
          color: $smart_dv_gray;
          @include square(size(17));
          transition: opacity $duration;
          margin-top: size(0);
          @include min-medium-screen {
            @include square(size(24));
          }

          line {
            stroke: currentColor;
          }

          &.minus-icon {
            opacity: 0;
          }
        }

        .remove-to-close {
          transform-origin: center;
          transition-property: opacity, transform;
          transition-duration: .3s;
          transition-timing-function: cubic-bezier(0.97, -0.01, 0.42, 0.56);
        }
      }
    }


    .description-card {
      max-width: size(496);
      height: 0;
      position: relative;
      overflow: hidden;

      &:after {
        position: relative;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        display: block;
        height: size(15);
        @include min-medium-screen {
          height: size(20);
        }
      }
    }

    &.accordion-active {
      .hover-action {
        .remove-to-close {
          transform: rotate(90deg);
          opacity: 0;
        }
      }

      .description-card {
        margin-bottom: size(10);
        will-change: margin;
      }
    }
  }

  .icon-text-wrapper {
    display: flex;
    align-items: center;

    .title-card {
      color: $smart_dv_green_4;
      @include small-screen {
        @include font-size(18px, 24px)
      }
    }
  }

  .icon-wrapper {
    flex-shrink: 0;
    width: size(40);
    height: size(42);
    position: relative;
    @include flex(flex-start, center);
    margin-right: size(20);
    @include min-medium-screen {
      margin-right: size(33);
      margin-bottom: 0;
      @include square(size(68))
    }

    &[class*="ones-"]:after, &[class*="tens-"]:before {
      content: '';
      position: relative;
      width: size(22);
      height: size(30);
      z-index: 1;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      @include min-medium-screen {
        width: size(30);
        height: size(48);
      }
    }

    @for $i from 0 through 9 {
      &.ones-#{$i} {
        &:after {
          //background-image: url("../../svgs/#{$i}.svg");
        }
      }
      &.tens-#{$i} {
        &:before {
          //background-image: url("../../svgs/#{$i}.svg");
        }
      }
    }

    &.bigger-width {
      width: size(30);
      height: size(42);
    }

    .green-line {
      position: absolute;
      width: size(36);
      height: size(28);
      left: 0;
      transform: skew(20deg, 0deg) scaleY(0);
      bottom: 0;
      background: $smart_dv_lime;
      transform-origin: top;
      z-index: 1;
      transition: transform .5s ease-in-out;
      @include min-medium-screen {
        width: size(56);
        height: size(35);
        bottom: size(6);
      }
    }

    svg, img {
      @include square(100%);
      transform: translateX(size(8));

    }

  }
}



