@import "styles/sites/raistone";

.team_block {
  @include paddingY(size(76), size(125));

  .title {
    margin-bottom: size(55);
    color: $raistone_jet_black;
    @include large-screen {
      margin-bottom: size(82);
    }
  }

  .container {
    @include large-screen {
      @include paddingX(size(147));
    }
  }

  .row {
    @include change-gutter(size(20), size(20));
    @include large-screen {
      @include change-gutter(size(48), size(35));
    }
  }

  .card {
    height: 100%;
    background-color: $raistone_aluminium;
    padding: size(30);
    border-radius: size(10);
    @include large-screen {
      padding: size(60);
    }
  }

  .image-wrapper {
    @include square(size(120));
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: size(40);
    @include marginX(auto);
    @include min-medium-screen {
      @include square(size(150));
    }
    @include large-screen {
      @include square(size(190));
      margin-bottom: size(65);
    }

    img {
      @include square(100%);
      object-fit: cover;
      object-position: top;
    }
  }

  .name {
    color: $raistone_jet_black;
    font-weight: 600;
    @include font-size(23px, 36px);
    @include min-medium-screen {
      margin-bottom: size(8);
    }
    @include large-screen {
      line-height: size(36);
      letter-spacing: size(-0.015);
      @include font-size(32px, 36px);
      margin-bottom: size(27);
    }
  }

  .job-description {
    font-family: $lato;
    color: $raistone_gery;
    margin-bottom: size(65);
    @include font-size(22px, 36px);
    @include large-screen {
      @include font-size(26px, 36px);
    }
  }

  .dark-card {
    background-color: $raistone_mid_plum;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include large-screen {
      min-height: size(556);
    }
  }


  .dark-card-title {
    margin-bottom: size(47);
    @include large-screen {
      line-height: size(45);
    }
  }

  .dark-card-description {
    text-align: center;
    margin-bottom: size(53);
    max-width: size(320);
  }

  .btn {
    min-width: size(264);
  }

  .popup-wrapper {
    @include square(100%);
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(42, 10, 28, 0.9);
    z-index: 99;
    display: flex;
    overflow-y: scroll;
    @include paddingY(size(50));
    @include paddingX(size(8));
    @include min-medium-screen {
      @include paddingX(size(50));
      @include paddingY(size(100), size(50));
      align-items: center;
    }
    transition: opacity $duration;
    opacity: 0;
    pointer-events: none;

    .popup {
      @include flexBasis(size(1634));
      background-color: $raistone_white;
      display: flex;
      flex-direction: column;
      position: relative;
      @include marginX(auto);
      height: fit-content;
      @include large-screen {
        flex-direction: row;
      }

      .left-content {

        @include large-screen {
          @include flexBasis(34.3%);
          margin-right: size(76);
        }
      }

      .popup-image-wrapper {
        padding-top: 90.395%;
        @include large-screen {
          padding-top: 150.178%;
        }

        img {
          object-position: top;

        }
      }

      .right-content {
        @include paddingY(size(38), size(31));
        @include paddingX(size(16), size(21));
        @include min-medium-screen {
          padding: size(40);
        }
        @include large-screen {
          display: flex;
          flex-direction: column;
          justify-content: center;
          @include paddingY(size(20));
          @include paddingX(0);
          @include flexBasis(54.3%);

        }
      }

      .avatar-name {
        @include font(32px, 600, 36px, $raistone_jet_black, $montserrat, size(-0.15));
        margin-bottom: size(8);
        @include min-medium-screen {
          @include font-size(64px, 36px);
          margin-bottom: size(25);
        }
      }

      .avatar-job {
        color: $raistone_gery;
        line-height: size(36);
        margin-bottom: size(8);
        @include min-medium-screen {
          margin-bottom: size(27);
        }
      }

      .linkedin {
        @include square(size(30));
        display: block;
        position: relative;
        @include large-screen {
          @include square(30px);
        }

        svg {
          @include square(100%);
        }

        &:hover {
          svg {
            path {
              fill: $raistone_canary;
            }
          }
        }

        &:after {
          content: "";
          width: size(63);
          height: 2px;
          position: absolute;
          left: 0;
          bottom: size(-50);
          background-color: currentColor;
        }

      }

      .avatar-description {
        @include font(18px, 400, 26px, $raistone_gery, $lato);
        position: relative;
        margin-top: size(68);

        @include small-screen {
          overflow: hidden;
        }

        @include min-medium-screen {
          @include font-size(22px, 36px);
          margin-top: size(100);
          height: auto !important;
        }


        &.max-lines {
          @include small-screen {
            @include max-lines(6);
          }
        }
      }

      .btn-arrow {
        color: $raistone_jet_black;
      }

      .read-more-btn {
        cursor: pointer;
        margin-top: size(15);


        span {
          min-width: size(99);
        }

        svg {
          margin-left: size(11);
        }

        svg {
          transform: translateX(0);
        }

        &.active {
          svg {
            transform: scaleY(-1);
          }
        }

        &.dont-show-it {
          display: none !important;
        }
      }

      .close-popup-wrapper {
        @include square(size(45));
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: $raistone_white;
        border-radius: 50%;
        z-index: 1;
        top: size(26);
        right: size(11);
        cursor: pointer;
        @include min-medium-screen {
          top: size(42);
          right: size(36);
        }

        svg {
          @include square(size(24));
        }

        &:hover {
          svg {
            path {
              stroke: $raistone_cherry;
            }
          }
        }
      }

    }

    &.active {
      opacity: 1;
      pointer-events: visible;
    }
  }
}
