


@import "styles/sites/zineone";


.flexible_connectors_block {
  //background: $zineone-dark;
  @include paddingY(size(100));
  
  .swiper-container {
    @include max-medium-screen {
      @include paddingY(size(40));
    }
    @include large-screen {
      overflow: visible;
    }
  }
  
  .swiper-wrapper {
    @include large-screen {
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: size(-40);
    }
  }
  
  .swiper-slide {
    height: auto;
    //width: size();
    @include large-screen {
      margin-bottom: size(40);
    }
  }
  
  .text-wrapper {
    margin-bottom: size(40);
    @include large-screen {
      margin-bottom: size(80);
    }
  }
  
  .headline-2 {
    margin-bottom: size(40);
    
  }
  
  .paragraph {
    color: $zineone-dark;
    max-width: size(960);
  }
  
  .swiper-slide {
    width: 100%;
    @include min-medium-screen {
      width: 17.5%;
    }
  }
  
  .flexible_connectors_group {
    padding: size(32);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include small-screen {
      width: size(224);
    }
  }
  
  .flexible_connectors_img {
    width: size(105);
    margin-bottom: size(32);
    height: size(110);
    display: flex;
    align-items: center;
    
    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
      margin: 0 auto;
    }
  }
  
  .headline-3 {
    margin-top: auto;
    text-align: center;
  }
  
  &.version-2 {
    .swiper-slide {
      @include min-medium-screen {
        width: 22.65%;
      }
    }
    
    .flexible_connectors_img {
      @include square(size(145));
      border-radius: 50%;
      overflow: hidden;
      
      img {
        @include objectImg();
      }
    }
  }
}


