
@import "styles/sites/moving";
@import "swiper/css";

.move_examples_block {
  //@include paddingY(size(100), size(250));
  padding-bottom: size(28);
  position: relative;
  background: $moving-black-pearl;
  @include min-medium-screen {
    padding-bottom: size(32);
  }

  .circle-with-line {
    margin-bottom: size(25);
    @include min-medium-screen {
      margin-bottom: size(30);
    }
  }

  &_title.headline-1 {
    text-align: center;
    color: $moving-white !important;
    margin-bottom: size(35);
    @include min-medium-screen {
      margin-bottom: size(50);
    }

    span {
      background-image: $moving-yellow-gradient;
    }
  }

  .tabs-controller {
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    @include min-medium-screen {
      justify-content: center;
      overflow: unset;
    }
  }

  .tab {
    text-align: center;
    scroll-snap-align: center;

    &:not(:last-child) {
      margin-right: size(24);
      @include min-medium-screen {
        margin-right: size(30);
      }
    }

    &-title {
      color: #646d82;
      font-size: size(14);
      font-weight: 400;
      line-height: 185.71%;
      letter-spacing: size(0.88);
      margin-bottom: size(10);
    }

    &-buttons {
      border-radius: size(10);
      background-color: rgba(216, 216, 216, 0.05);
      @include paddingY(size(8));
      padding: size(8.2) size(15);
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @include flexBasis(size(218));
      @include min-medium-screen {
        @include flexBasis(size(258));
      }
      @include large-screen {

      }
    }

    &-button {
      color: rgba(238, 242, 250, 0.41);
      font-size: size(18);
      line-height: 144.44%;
      font-weight: 700;
      letter-spacing: size(1.25);
      transition: color $duration;
      max-width: 45%;
      @include large-screen {
        line-height: 130%;
        font-size: size(20);
      }

      &-active {
        color: $moving-white;
      }
    }
  }

  &_slider {
    margin-top: size(40);
    //max-width: $design-width;
    //@include paddingX(size(511));
  }

  .swiper-wrapper {
    @include min-medium-screen {
      align-items: center;
    }
  }

  .swiper-slide {
    //transform: scale(.87);
    transform: scale(.88);
    transition: transform $duration;

    &-active {
      transform: scale(1);
    }
  }

  .move-example-slider {
    @include flex(center, space-between, false, wrap);
    //width: size(898);
    @include paddingX(size(34));
    @include min-medium-screen {
      padding: size(30);
      background-color: $moving-cloud-burst;
      border-radius: size(12);
    }
    @include large-screen {
      padding: size(54) size(90) size(54) size(51);
      align-items: flex-start;
    }
    $pr-text-responsive: 2.7rem;

    &-details {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(47%);
      }
      @include large-screen {
        @include flexBasis(37.12%);
      }

      &-info {
        margin-top: size(28);
        @include small-screen {
          padding-right: $pr-text-responsive;
        }
        @include large-screen {
          margin-top: size(36);
        }

        &-wrapper {
          @include flex(center, space-between, false, wrap);
          color: $moving-aluminium;
          line-height: 100%;
          font-size: size(16);
          font-weight: 500;
          letter-spacing: 1px;
          padding-bottom: size(13);
          border-bottom: 1px solid currentColor;

          &:not(:last-child) {
            margin-bottom: size(20);
          }
        }

        //&-number {
        //  max-width: 60%;
        //}

        &-downloads {
          font-size: 75%;
          font-weight: 400;
          letter-spacing: 0.75px;
        }
      }
    }

    &-title {
      color: $moving-white;
      line-height: 137.5%;
      letter-spacing: size(1.5);
      margin-bottom: size(19);
      @include large-screen {
        margin-bottom: size(30);
      }
    }

    &-description {
      @include small-screen {
        padding-right: $pr-text-responsive;
      }
    }

    &-image {
      @include flexBasis(92.83%);
      margin-top: size(44);
      padding-right: $pr-text-responsive;
      margin-left: auto;
      @include min-medium-screen {
        @include flexBasis(45.70%);
        margin-top: 0;
        margin-left: 0;
        padding-right: 0;
      }
      @include large-screen {
        margin-top: size(10);
      }
    }

    .aspect-ratio {
      padding-top: 106.30%;

      img {
        object-fit: contain;
        object-position: left top;
      }
    }
  }

}





