
//@import "styles/sites/datavisor";
//
//.background_svg_block {
//  position: relative;
//  //z-index: 1;
//  overflow: hidden;
//
//  .bg-svg {
//    z-index: 0;
//    pointer-events: none;
//    position: absolute;
//    top: 0;
//    bottom: 0;
//    right: 0;
//    width: 100%;
//    height: 100%;
//  }
//}
//
//.video_block {
//  //@include paddingY(size(40));
//  //@include paddingX(size(16));
//  padding: 40px 16px;
//  @include min-medium-screen {
//    padding: 60px 60px 80px 60px;
//  }
//  //
//  //@include large-screen {
//  //  padding: 121px 134px 102px 126px;
//  //  max-width: 1920px;
//  //  margin: 0 auto;
//  //}
//  //
//  .posts-wrapper {
//    background: #F5F5F5;
//
//  }
//
//  .row {
//
//    @include change-gutter(32px, 40px);
//
//    .box {
//      padding: 47px 32px;
//      background-color: $datavisor_white;
//      height: 100%;
//      box-shadow: 12px 12px 32px rgba(0, 0, 0, 0.05);
//
//      .video-content {
//        margin-bottom: 32px;
//      }
//
//      .aspect-ratio {
//        padding-top: 51.9%;
//      }
//
//      .circle {
//        display: flex;
//        align-items: center;
//        justify-content: center;
//        width: 60px;
//        height: 60px;
//        border-radius: 50%;
//        background-color: rgba(255, 255, 255, 0.75);
//        //border: 7.8px solid #000000;
//        border: 3px solid #000000;
//        transition: background-color 500ms;
//        pointer-events: auto;
//
//        &:hover {
//          background-color: rgba(241, 224, 255, 0.9);
//        }
//
//        svg {
//          width: 16.29px;
//          height: 16.29px;
//        }
//
//      }
//
//      .box-text {
//        .box-title p {
//          font-size: 24px !important;
//          line-height: 30px !important;
//          letter-spacing: 0.28px;
//          font-weight: 700 !important;
//          color: #132B59 !important;
//          margin-bottom: 12px;
//          font-family: $Rubik;
//          @include min-medium-screen {
//            max-width: 487px;
//          }
//        }
//
//        .box-description p {
//          font-size: 16px !important;
//          line-height: 26px !important;
//          letter-spacing: 0.28px;
//          font-weight: 400 !important;
//          margin-bottom: 24px;
//          font-family: $Rubik;
//          color: $datavisor_black !important;
//          @include min-medium-screen {
//            max-width: 510px;
//          }
//        }
//
//        .cta-link {
//          font-size: 16px !important;
//          line-height: 20px !important;
//          letter-spacing: 0.28px;
//          width: fit-content;
//          font-weight: 700 !important;
//          font-family: $Rubik;
//          color: $datavisor_black !important;
//          transition: color $duration;
//          text-decoration: none;
//          margin-top: auto;
//          background: none;
//          border: none;
//
//          &:hover {
//            color: $datavisor_purple;
//          }
//        }
//      }
//
//      .play-pause-button {
//        .play-button, .pause-button {
//          position: absolute;
//          top: 50%;
//          left: 50%;
//          transform: translate(-50%, -50%);
//          cursor: pointer;
//          z-index: 4;
//        }
//
//        .pause-button {
//          opacity: 0;
//        }
//
//        .play-button {
//          opacity: 1;
//        }
//
//      }
//
//    }
//
//
//  }
//
//  .hide {
//    display: none;
//  }
//
//  // region custom modal
//  .custom-modal {
//    position: fixed;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    left: 0;
//    opacity: 0;
//    transition: opacity 400ms, z-index 400ms;
//    z-index: -1;
//    @include flex(center, center);
//    align-items: center;
//    justify-content: center;
//    width: 100vw;
//    height: 100vh;
//    pointer-events: none;
//    //overflow: auto;
//    overflow: auto;
//    background: rgba(0, 0, 0, 0.8);
//
//    .contact-form-title {
//      display: none;
//    }
//
//    .play-pause-button {
//      position: absolute;
//      top: 0;
//      left: 0;
//      width: 100%;
//      height: 100%;
//      cursor: pointer;
//
//      .play {
//        display: block;
//      }
//
//      .paused {
//        display: none;
//      }
//
//    }
//
//    .video-active {
//
//      .video-poster {
//        display: none;
//      }
//
//      .play-pause-button {
//
//        //.pause-button {
//        //  opacity: 1;
//        //}
//
//        .play-button {
//          opacity: 0;
//        }
//      }
//
//    }
//
//    .custom-modal-inner {
//      display: flex;
//      flex-direction: column;
//      position: relative;
//      width: min(1180px, 90%);
//      @include marginX(0);
//      transition: opacity 300ms ease-in-out;
//
//
//      &.modal-loading {
//        transition-duration: 0s;
//        opacity: 0.5;
//      }
//    }
//
//    .custom-modal-content {
//      //max-height: 92vh;
//      //overflow: auto;
//      overflow: hidden;
//
//
//      .video-element {
//        //height: 55vh;
//        //@include min-medium-screen {
//        //  height: 65vh;
//        //}
//        @include max-medium-screen {
//          @include aspect-ratio(56%);
//        }
//        @include large-screen {
//          height: min(72vh, 674px);
//        }
//
//        video, iframe {
//          width: 100%;
//          height: 100%;
//        }
//
//        video {
//          object-fit: contain;
//        }
//      }
//    }
//
//    .back-to-video {
//      font-size: 18px;
//      font-weight: 700;
//      line-height: 22.5px;
//      letter-spacing: 0.28px;
//      color: $datavisor_white;
//      margin-bottom: min(3.5vh, 37px);
//      border: none;
//      background-color: transparent;
//      margin-right: auto;
//
//      svg {
//        margin-right: 10px;
//      }
//
//      &:focus {
//        border: none;
//      }
//    }
//
//    .close-modal {
//      background-color: transparent !important;
//      font-size: 18px;
//      font-weight: 700;
//      line-height: 22.5px;
//      letter-spacing: 0.28px;
//      font-family: $Rubik;
//      color: $datavisor_white;
//      margin-top: min(6vh, 61px);
//      margin-left: auto;
//      border: none;
//      border-bottom: 1px solid white;
//      width: fit-content;
//      padding: 0;
//
//      svg {
//        display: none;
//      }
//    }
//
//
//    transform: translateX(-100%);
//
//    &.modal-active {
//      z-index: 9999999999;
//      opacity: 1;
//      pointer-events: auto;
//      transform: none;
//      background: rgba(49, 52, 64, 0.91);
//      backdrop-filter: blur(7.5px);
//    }
//
//    &.custom-modal-form {
//      .custom-modal-inner {
//        width: Min(600px, 90%);
//      }
//
//      .custom-modal-content {
//        max-height: 82vh;
//        overflow: auto;
//        scrollbar-width: none !important; // Hide Scrollbar FireFox
//        &::-webkit-scrollbar { // Hide Scrollbar Chrome
//          display: none;
//        }
//      }
//    }
//
//  }
//
//  // endregion custom modal
//
//  .gated-form {
//    background-color: $datavisor_white;
//    padding: 37px 26px;
//
//    .form-title {
//      font-size: 18px;
//      font-weight: 700;
//      line-height: 22.5px;
//      color: $datavisor_blue;
//      font-family: $Rubik;
//      margin-bottom: 12px;
//      letter-spacing: 0.28px;
//      @include min-medium-screen {
//        font-size: 24px;
//        font-weight: 700;
//        line-height: 32px;
//      }
//    }
//
//    .mktoForm {
//      position: relative;
//      display: flex;
//      flex-wrap: wrap;
//      justify-content: space-between;
//      padding: 0 !important;
//    }
//
//    .mktoForm .mktoFormRow {
//      width: 100%;
//      @include min-medium-screen {
//        width: 48%;
//      }
//    }
//
//    .mktoForm .mktoFieldWrap .mktoField {
//      background: $datavisor_white;
//      border: 1px solid #E9E9E9 !important;
//      padding: 14px 16px;
//      border-radius: 6px;
//      //max-width: 294.08px;
//      font-size: 14px;
//      font-weight: 400;
//      line-height: 21px;
//      letter-spacing: 0.005em;
//      color: $datavisor_blue;
//      font-family: $Rubik;
//      height: 48px;
//      box-shadow: none !important;
//      @include min-medium-screen {
//        padding: 15px 16px;
//      }
//
//    }
//
//    .mktoForm.mktoLayoutAbove input.mktoTelField, .mktoForm.mktoLayoutAbove input[type=text], .mktoForm.mktoLayoutAbove textarea {
//      background: $datavisor_white;
//      border: 1px solid #E9E9E9 !important;
//      padding: 15px 16px;
//      border-radius: 6px;
//      max-width: 294.08px;
//      font-size: 14px;
//      font-weight: 400;
//      line-height: 21px;
//      letter-spacing: 0.005em;
//      color: $datavisor_gray;
//      font-family: $Rubik;
//      box-shadow: none !important;
//    }
//
//    .mktoButtonRow {
//      width: 100% !important;
//      padding-top: 14px !important;
//    }
//
//    .mktoForm .mktoButtonWrap.mktoSimple .mktoButton, .mkbtn, .mktoButton, .mktoButton__ {
//      position: relative;
//      z-index: 2;
//      display: flex;
//      align-items: center;
//      justify-content: center;
//      padding: 14px 38px !important;
//      font-size: 16px !important;
//      font-weight: 500 !important;
//      line-height: 20px !important;
//      height: 48px !important;
//      color: $datavisor_white !important;
//      font-family: $Rubik;
//      min-width: 183px !important;
//      text-transform: capitalize !important;
//      width: fit-content;
//      border-radius: 60px !important;
//      background-color: $datavisor_purple !important;
//      transition: color, background-color;
//      transition-duration: $duration;
//
//      &:hover {
//        background-color: #7B36B0 !important;
//      }
//    }
//
//    .confirmform {
//      background-color: $datavisor_white;
//      max-width: 343px;
//      @include min-medium-screen {
//        max-width: 556px;
//      }
//    }
//
//    .confirmform p {
//      position: relative;
//      font-size: 18px;
//      font-weight: 500;
//      line-height: 30px;
//      color: $datavisor_black;
//      text-align: left;
//      background-color: $datavisor_white;
//      max-width: 343px;
//      @include min-medium-screen {
//        max-width: 556px;
//      }
//    }
//  }
//
//}



