
@import "styles/sites/senet";


.content_link_block {
  background: #F5F5F5;
  @include paddingY(50px, 60px);
  @include min-medium-screen {
    @include paddingY(90px, 100px);
  }

  .cards-content {
    .title-content {
      color: #3A65C1;
      margin-bottom: 0;
      text-align: center;
      @include small-screen {
        text-align: start;
        font-size: 29px;
        font-weight: 500;
        line-height: 35px;
      }
      @include min-medium-screen {
        font-size: 43px;
      }
    }

    .description-content {
      color: $senet_gray;
      padding-top: 3px;
      padding-bottom: 10px;
      @include min-medium-screen {
        padding-bottom: 20px;
        @include marginX(auto);
        text-align: center;
        max-width: 603px;
      }

      p {
        margin-bottom: 0;
      }
    }

    .card-link {
      display: flex;
      align-items: start;
      justify-content: start;
      @include min-medium-screen {
        align-items: center;
        justify-content: center;
      }

      .link-content {
        min-width: 193px;
        @include min-medium-screen {
          @include marginX(auto);
        }

        &:hover {
          color: $senet_white !important;
          background-color: #184485;
        }

        svg {
          margin-left: 12px;
          width: 22px;
          height: 11px;
          transition: transform $duration;

          path {
            fill: white;
          }
        }

        &:hover {
          svg {
            transform: translateX(10px);
          }
        }
      }

    }
  }
}


