
@import "styles/sites/smartdv";

.text_and_image {
  @include paddingY(size(50));

  .main-content {
    display: flex;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

    }

    &.has_svg {
      overflow: hidden;
      position: relative;

    }
  }

  .svg-wrapper {
    pointer-events: none;
    position: absolute;
    width: size(340);
    height: size(340);
    bottom: 0;
    left: 50%;
    transform: translate(-30%, -20%);
    @include medium-screen {
      width: size(332);
      height: size(341);
    }
    @include large-screen {
      width: size(532);
      height: size(541);
    }
    @include min-medium-screen {
      bottom: unset;
      left: 100%;
      top: 50%;
      transform: translate(-75%, -50%) rotate(180deg);

    }

    svg {
      @include square(100%);
      object-fit: contain;

    }
  }

  .left-content {
    .img-wrapper {
      padding-top: 90.858%;
    }

    @include flexBasis(100%);

    @include min-medium-screen {
      @include flexBasis(50.3%);
    }
  }

  .right-content {
    @include flexBasis(100%);


    @include small-screen {
      @include paddingX(size(34));
      @include paddingY(size(50));
      .title {
        margin-bottom: size(14);

      }
      .desc + .link {
        margin-top: size(47);

      }

    }
    @include min-medium-screen {
      padding-right: size(30);
      @include flexBasis(49.7%);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .inner-content {
        max-width: size(440);

        .title {
          margin-bottom: size(24);
        }

        .desc + .link {
          margin-top: size(47);
        }
      }
    }
    @include large-screen {
      padding-right: size(118);
      .inner-content {
        max-width: size(510);

      }
    }

    .inner-content {
      @include paddingY(size(45));
      position: relative;
      z-index: 1;
      //display: flex;
      //flex-direction: column;
    }

  }

  &.Desktop_isReversed {
    .main-content {
      @include min-medium-screen {
        flex-direction: row-reverse;
      }

      .svg-wrapper {
        @include min-medium-screen {
          right: unset;
          left: 0;
          transform: translate(-25%, -50%);


        }
      }
    }


  }

  &.Mobile_isReversed {
    .main-content {
      @include small-screen {
        flex-direction: column-reverse;
      }

    }

    .svg-wrapper {
      @include small-screen {
        bottom: unset;
        top: 0;
        left: 50%;
        transform: translate(-30%, 20%);
      }
    }
  }


}



