
@import "styles/sites/advisorhub";

.deals_and_comps_block {
  padding-top: size(43);
  //@include paddingY(size(53), size(0));

  .container {
    padding: 0;
  }

  .block-wrapper {
    position: relative;
  }

  .main-title {
    margin-bottom: size(30);
    max-width: size(617);
    @include marginX(auto);
  }

  .filter {
    @include marginX(auto);
    max-width: size(617);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid $advisorhub_red;
    padding-top: size(10.5);
    margin-bottom: size(20);
    align-items: center;
    @include min-medium-screen {
      flex-wrap: nowrap;
    }

    .medium-sub-title, .small-sub-title {
      margin-bottom: 0;
    }

    .filter-title {
      @include small-screen {
        width: 100%;
        margin-bottom: size(20);
      }
    }

    .filter-sorts {
      display: flex;
      min-width: size(324);
      flex-grow: 1;
      flex-shrink: 0;
      justify-content: space-between;
      margin-right: size(-10);

      .small-sub-title {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: size(8);
          height: size(12);
          margin-left: size(4);
        }
      }

    }


  }

  .filter-loader {
    display: block;
    height: 0;
    width: 0;
    padding: 15px;
    border: 6px solid #ccc;
    border-right-color: #888;
    border-radius: 22px;
    animation: rotate 1s infinite linear;
    margin: size(50) auto;
    /* left, top and position just for the demo! */
  }

  @-webkit-keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  .deals-and-comps {
    max-width: size(617);
    margin: 0 auto;

    .row {
      @include change-gutter(size(30), size(30));
    }

    .box-card {
      display: flex;
      align-items: center;
      @include min-medium-screen {
        max-width: size(241);
        align-items: flex-start;
        flex-direction: column;
      }

      .box-img {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.5px solid $advisorhub_Cadet_Grey;
        flex-shrink: 0;
        margin-right: size(14);
        @include square(size(100));
        padding: size(5);
        transition: border-color $duration;

        img {
          @include paddingX(size(10));
          @include square(100%);
        }

        &:hover {
          border-color: $advisorhub_blue;
        }
      }

      .box-content {
        //padding-bottom: size(6);
        border-bottom: 0.4px solid $advisorhub_Cadet_Grey;
        margin-bottom: auto;
        margin-top: 10px;
        width: 100%;

        .box-title {
          display: block;
          color: $advisorhub_Outer_Space;
          transition: color $duration;
          border-bottom: none !important;

          &:hover {
            color: $advisorhub_blue;
          }
        }

        .box-text {
          margin-top: size(8);
          @include font-size(12px, 22px);
          @include large-screen {
            max-width: size(157);
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }

  .description {
    font-family: $PT_Serif;
    color: $advisorhub_Outer_Space;
    max-width: size(400);
    @include marginX(auto);
    //margin-top: size(30);
    @include marginY(size(30))
  }

  .general-label {
    position: relative;
    display: flex;
    align-items: center;
    transition: opacity $duration;

    &.select-disabled {
      opacity: 0.5;
    }

    &:last-child {
      @include small-screen {
        .select2-container {
          left: auto !important;
          right: 0;
        }
      }
    }

    @include min-medium-screen {
    }
    @include large-screen {
      width: fit-content;
    }
  }
}





