@import "styles/sites/raistone";
@import "~swiper/css";
@import "swiper/css/effect-fade";
@import "swiper/css/pagination";


.hero_block {
  position: relative;
  z-index: 2;
  background: $raistone_plum;
  border-radius: 0 0 size(50) size(50);
  overflow: hidden;
  @include min-medium-screen {
    border-radius: 0 0 size(100) size(100);
    //height: 100vh;
  }

  .container {
    position: relative;
  }

  .hero-content {
    position: relative;
    @include paddingY(size(112), size(67));
    @include min-medium-screen {
      @include paddingY(size(164), size(61));
    }
    @include large-screen {
      @include paddingY(size(128), 0);

    }

  }

  .container {
    @include paddingX(size(20));
    @include min-medium-screen {
      @include paddingX(size(50));
    }
    @include large-screen {
      @include paddingX(size(160), 0);
    }
  }

  .swiper-container {
    position: relative;
    overflow: hidden;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    @include large-screen {
      flex-direction: row;
    }
  }

  .left-content {
    margin-bottom: size(20);
    @include min-medium-screen {
      margin-bottom: size(61);
    }
    @include large-screen {
      @include flexBasis(39%);
      margin-bottom: 0;
      padding-top: size(118);
      padding-bottom: size(125);
    }
  }

  .title {
    font-weight: 600;
    margin-bottom: size(17);
    @include small-screen {
      font-size: size(44);
    }
    @include min-medium-screen {
      margin-bottom: size(17);
      max-width: size(490);
    }
    @include large-screen {
      max-width: 100%;
      margin-bottom: size(32);
    }
  }

  .description {
    font-weight: 500;
    margin-bottom: size(32);
    @include min-medium-screen {
      max-width: size(610);
      margin-bottom: size(38);
      @include font-size(32px, 55px);
    }
    @include large-screen {
      max-width: 100%;
      margin-bottom: size(33);
    }
  }

  .cta-button-and-link {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @include large-screen {
      flex-direction: row;
      align-items: center;
    }

    .cta-button {
      @include paddingY(size(21.6));
      @include small-screen {
        width: 100%;
        margin-bottom: size(31);
      }
      @include min-medium-screen {
        margin-bottom: size(20);
      }
      @include large-screen {
        margin-right: size(31);
      }
    }

    .link {
      font-size: size(18);

      &:hover {
        color: $raistone_canary;
      }
    }
  }

  .right-content {
    position: relative;
    z-index: 2;
    padding-top: size(20);
    @include min-medium-screen {
      @include flexBasis(61.8%);
      margin-left: auto;
      padding-top: 0;
      margin-top: size(-193);
    }
    @include large-screen {
      height: #{'min(98.4rem,80vh)'};
      align-self: flex-end;
      @include flexBasis(57.7%);
      @include marginX(0);
      //height: size(900);
      overflow: hidden;
      margin-top: 0;
    }
  }

  .image-wrapper {
    object-fit: contain;
    object-position: bottom;
    @include square(100%);
  }


  .hero-logo {
    overflow: visible;
    position: absolute;
    z-index: -1;
    bottom: size(170);
    right: 16%;
    @include square(size(222));
    @include min-medium-screen {
      right: 8%;
      @include square(size(280));
    }
    @include large-screen {
      height: 85vh;
      max-height: size(669);
      width: size(669);
      top: size(162);
      bottom: auto;
      right: size(172);
    }
  }

  .swiper-pagination {
    position: absolute;
    bottom: size(41);
    @include small-screen {
      left: 50%;
      transform: translateX(-50%);
    }
    @include min-medium-screen {
      bottom: size(61);
    }
    @include large-screen {
      bottom: size(69);
    }
  }

}
