
@import "styles/sites/poprev";

.how_it_works_block {
  background: $poprev-white;
  position: relative;
  //@include paddingY(6.5vh);
  @include paddingY(size(50));
  overflow: hidden;
  @include min-medium-screen {
  }
  @include large-screen {
    //@include paddingY(size(111), size(275));
    //@include paddingY(8.5vh, 21vh);
    @include paddingY(size(100));
  }
  
  .container {
    @include large-screen {
      padding: 0;
    }
  }
  
  .content-wrapper {
    @include flex(flex-start, space-between, column, false);
    @include large-screen {
      flex-direction: row;
    }
    
    &:not(.active) {
      //opacity: 0;
      position: absolute;
      z-index: -100;
      pointer-events: none;
    }
  }
  
  .right-content {
    height: 100%;
    @include flexBasis(100%);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-top: size(25);
    z-index: 1;
    @include min-medium-screen {
      margin-top: size(80);
      flex-direction: row;
      justify-content: space-between;
    }
    @include large-screen {
      @include flexBasis(35.4%);
      @include paddingX(size(126));
      margin-top: 0;
      flex-direction: column;
    }
  }
  
  .steps-number {
    position: relative;
    letter-spacing: size(-7.72);
    color: rgba(252, 179, 22, 0.83);
    margin-bottom: size(25);
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: size(95);
    line-height: size(70);
    @include min-medium-screen {
      font-size: size(150);
      line-height: size(140);
      margin-bottom: 0;
    }
    @include large-screen {
      font-size: size(193);
      line-height: size(140);
      margin-bottom: size(110);
    }
    
    &:after {
      content: "";
      width: size(35);
      height: size(35);
      background: rgba(252, 179, 22, 0.83);
      border-radius: 50%;
      //position: absolute;
      //top: 50%;
      //right: size(-40);
      //transform: translateY(-50%);
      @include min-medium-screen {
        width: size(55);
        height: size(55);
        //right: size(-60);
        
      }
    }
  }
  
  .paragraph {
    font-size: size(25);
    font-weight: 500;
    font-style: normal;
    letter-spacing: size(-1.6);
    line-height: normal;
    color: #717171;
    margin-bottom: size(25);
    max-width: size(391);
    @include min-medium-screen {
      margin-bottom: size(35);
      font-size: size(33);
    }
    @include large-screen {
      font-size: size(40);
      margin-bottom: size(60);
    }
  }
  
  .btn {
    color: rgba(0, 0, 0, 0.6);
    border-color: #717171;
  }
  
  .steps-text {
    margin-bottom: size(15);
    @include min-medium-screen {
      margin-bottom: size(35);
    }
  }
  
  .headline-2 {
    color: #1c1c1c;
    margin-bottom: size(10);
    @include min-medium-screen {
      margin-bottom: size(20);
    }
  }
  
  .sub-title {
    font-size: size(24);
    font-weight: 500;
    font-style: normal;
    letter-spacing: size(-0.96);
    line-height: size(32);
    color: rgba(8, 8, 10, 0.6);
  }
  
  .left-content {
    position: relative;
    @include flexBasis(100%);
    
    @include large-screen {
      @include flexBasis(59.43%);
      &:after {
        content: "";
        width: 73%;
        height: size(140);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 97%;
        background: rgba(28, 28, 28, 0.26);
        filter: blur(size(36));
        border-radius: 50%;
      }
    }
  }
  
  .general-margin {
    @include large-screen {
      @include paddingX(size(153));
    }
  }
  
  .left-content, .steps-text {
    position: relative;
    @include large-screen {
      left: size(100);
    }
  }
  
  .background {
    background: #F5F5F5;
    position: absolute;
    left: 0;
    top: 0;
    height: 57%;
    width: 100%;
    @include min-medium-screen {
      //height: 59%;
      height: 70%;
    }
    @include large-screen {
      width: 64.6%;
      height: 100%;
    }
  }
  
  picture {
    display: flex;
    flex-direction: column;
    max-height: 33vh;
    min-height: size(201);
    //height: 33vh;
    position: relative;
    overflow: hidden;
    @include min-medium-screen {
      //max-height: 45vh;
      max-height: 40vh;
      min-height: size(527);
      //height: 45vh;
    }
    @include large-screen {
      max-height: 60vh;
      min-height: size(519);
      //height: 60vh;
    }
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
    overflow-y: auto;
    flex: 0 1 auto;
  }
  
  //.word-up{
  //  display: flex;
  //  .word-overflow{
  //    margin-right: size(10);
  //  }
  //}
}




  


