
@import "styles/sites/smartdv";

.tabs_section {
  @include paddingY(size(20), size(32));
  @include min-medium-screen {
    @include paddingY(size(77), size(45));
  }

  .tabs-section-button {
    @include min-medium-screen {
      gap: size(20);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    @include large-screen {
      grid-template-columns: repeat(5, 1fr);
    }

    .button-link {
      //padding: size(7) size(16) size(10) size(16);
      padding: size(6) size(14) size(10) size(14);
      @include small-screen {
        border: transparent;
      }
      transition: border $duration;
      @include min-medium-screen {
        &.active, &:hover {
          border: size(2) solid $smart_dv_lime;
        }
      }
    }
  }

  .filter-content-wrapper {
    position: relative;
    z-index: 5;
    @include small-screen {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: transparent;
      @include paddingX(size(16), size(26));
      @include paddingY(size(9));
      cursor: pointer;
      min-width: size(335);
      //@include marginX(auto);
      margin: 0;
    }


    .selector {
      @include font(14px, 500, 30px, $smart_dv_green, $ibm-plex-sans);

      &:first-letter {
        text-transform: capitalize;
      }

      @include min-medium-screen {
        display: none;
      }
    }

    .icon-wrapper {
      display: block;
      @include min-medium-screen {
        display: none;
      }

      .down-arrow {
        width: size(24);
        height: size(11);
        transition: all $duration;
      }

    }

    .filter-list {
      display: grid;
      @include small-screen {
        flex-direction: column;
        background: white;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        z-index: 5;
        overflow: hidden;
        border: 2px solid rgba(0, 0, 0, 0);
        transition: border-color $duration;
        //margin: 0;
        border-top: 0;
      }


      &.active-list {
        border-color: #086875;

      }
    }


    .link-item {
      @include small-screen {
        cursor: pointer;
        position: relative;
        z-index: 2;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        @include paddingX(size(16));
        @include paddingY(size(17.1));
        text-align: start;
        //@include font(16px, 500, 77%, #086875,);
        margin-bottom: 0;
        border-bottom: transparent;
        &:nth-child(2n+1) {
          background: #ECEDED;
        }
      }
      @include min-medium-screen {
        min-width: size(280);
      }
      @include large-screen {
        min-width: size(220);
      }

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
      }

      .link-item-wrapper {

      }


      &.featured {
        //color: red;
      }

      &:hover {
        @include min-medium-screen {
          color: #086875;
          &:after {
            opacity: 1;
          }
        }
      }

      &.active {
        //color: #086875;

        @include min-medium-screen {
          &:after {
            opacity: 1;
          }
        }
      }

    }

    &.active {
      .down-arrow {
        transform: scaleY(-1);
      }
    }

    &:after {
      @include small-screen {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        @include square(100%);
        border: 2px solid #086875;
      }
    }
  }

  .tabs-content-container {
    position: relative;
    @include small-screen {
      max-width: size(375);
    }
  }

  .tabs-section-cards {
    display: flex;
    flex-direction: column;
    padding-top: size(40);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity $duration;

    &:first-of-type {
      position: unset;
    }

    @include min-medium-screen {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding-top: size(60);
    }
    @include large-screen {
      padding-top: size(85);
    }

    .tabs-section-content {
      @include min-medium-screen {
        width: 45.88%;
        flex-basis: 45.88%;
      }
      @include large-screen {
        width: 41.88%;
        flex-basis: 41.88%;
      }

      .tabs-section-content-title {
        padding-bottom: size(5);
        font-size: size(24);
        @include min-medium-screen {
          max-width: size(370);
          font-size: size(27);
          padding-bottom: size(23);
        }
        @include large-screen {
          font-size: size(36);
          max-width: size(500);
        }
      }

      .tabs-section-content-description {
        max-width: size(268);
        line-height: size(22.4);
        @include min-medium-screen {
          line-height: size(27);
          max-width: size(486);
        }
        @include large-screen {
          line-height: size(38.4);
        }
      }
    }

    .tabs-section-logo {
      display: grid;
      gap: size(20) size(34);
      grid-template-columns: repeat(2, 1fr);
      margin-top: size(58);
      @include min-medium-screen {
        gap: size(30) size(20);
        width: 46.01%;
        flex-basis: 46.01%;
        margin-top: 0;
        grid-template-columns: repeat(2, 1fr);
      }
      @include large-screen {
        gap: size(56) size(40);
        grid-template-columns: repeat(3, 1fr);
      }

      .card-img {
        width: size(150);
        height: size(54);
        @include min-medium-screen {
          width: size(158);
          height: size(55);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

    }

    &.active {
      pointer-events: auto;
      opacity: 1;
    }
  }

}




