@import "styles/sites/raistone";


footer {
  background: $raistone_black;
  padding: size(40) size(24) size(64);
  @include min-medium-screen {
    padding: size(70) size(26) size(38) size(38);
  }
  @include large-screen {
    padding: size(70) size(160) size(44) size(80);
  }

  .footer-content {
    margin-bottom: size(35);
    @include min-medium-screen {
      margin-bottom: size(51);
    }
    @include large-screen {
      padding-left: size(25);
      @include flex(flex-start, space-between);
    }
    //@include small-screen {
    //  @include paddingX(size(30))
    //}
  }

  .footer-wrapper {
    @include flex(flex-start, space-between);
    flex-wrap: wrap;
    @include flexBasis(100%);
    margin-top: size(20);
    @include min-medium-screen {
      //margin-bottom: size(-110);
      margin-top: size(60);
    }
    @include large-screen {
      margin-top: size(10);
      @include flexBasis(77%);
      margin-bottom: unset;
    }
  }

  .logo {
    display: block;
    width: size(205);
    @include min-medium-screen {
      width: size(253);
      height: size(53);
    }

    img, svg {
      @include square(100%);
    }

    img {
      object-fit: contain;
    }
  }

  .footer-links {
    @include flexBasis(100%);
    flex-shrink: 0;
    @include min-medium-screen {
      @include flexBasis(50%);
      border-bottom: 0;
      margin-bottom: size(110);
    }

    @include large-screen {
      width: auto;
      flex-basis: auto;
      margin-bottom: 0;

    }


    &.active {

      .links-title {
        svg {
          transform: scaleY(-1);

        }
      }
    }
  }

  .link-parent {
    @include small-screen {
      &:not(:last-child) {
        margin-bottom: size(24);
      }
    }
    @include min-medium-screen {
      margin-top: size(24);
    }
  }

  .footer-link {
    @include font(18px, 400, 22px, $raistone_white, $lato);

    &:hover {
      color: $raistone_canary;
    }
  }

  .copyright {
    @include flex(center, space-between);
    @include max-medium-screen {
      margin-top: size(57);
      flex-direction: column;
      align-items: flex-start;
    }
    @include small-screen {
      text-align: center;
    }
    @include large-screen {
      margin-top: size(110);
      margin-right: size(16);
    }


  }

  .text-page {
    letter-spacing: size(0.02);
    @include marginX(size(-6));
    color: $raistone_moss;
    position: relative;
    transition: color $duration;

    @include paddingX(size(12));

    &:not(:last-child) {
      &:after {
        content: "|";
        position: absolute;
        right: 0;
        top: 50%;
        color: $raistone_white;
        transform: translateY(-50%);
      }
    }

    &:hover {
      color: $raistone_canary;
    }

    &:last-child {
      margin-left: -2px;
    }
  }

  .navigation-link {
    flex-shrink: 0;
  }

  .copyright-content {
    @include flex(center, space-between);
    @include flexBasis(60.6%);
    @include max-medium-screen {
      margin-top: size(24);
      @include flexBasis(100%);
      align-items: flex-start;
    }
    @include small-screen {
      flex-direction: column;
      align-items: center;
    }
    @include large-screen {
      margin-left: size(50);
    }

  }

  .company-logo {
    transition: color $duration;
    display: flex;
    align-items: center;
    margin-top: size(32);

    @include min-medium-screen {
      margin-top: 0;
    }

    &:hover {
      color: $raistone_canary;

      span {
        color: $raistone_canary;

      }
    }

    img {
      width: size(110);
      height: size(23);
      object-fit: cover;
      margin-left: size(10);

      @include large-screen {
        width: size(150);
        height: size(33);
      }
    }

    span {
      transition: color $duration;
      margin-left: size(5);
      color: $raistone_moss;
    }
  }

  .links-title {
    @include flex(center, space-between);
    @include small-screen {
      @include paddingY(size(25), size(35));
      cursor: pointer;
    }

    svg {
      display: none;
      @include small-screen {
        display: block;
        transition: transform $duration;
      }

    }
  }

  //   footer social

  .footer-social {
    @include small-screen {
      margin-top: size(25);
    }
    @include min-medium-screen {
      //text-align: center;
      //@include paddingY(size(40));
      //border-top: 1px solid rgba(255, 255, 255, 0.5);
      //border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    @include large-screen {
      @include flexBasis(size(138))

    }
  }

  .footer-social-wrapper {
    @include flex(flex-end, flex-start, false, wrap);
    margin-bottom: size(-20);
    margin-right: size(-20);
  }

  .footer-social-li {
    max-width: size(30);
    margin-right: size(20);
    margin-bottom: size(20);

    a {
      max-width: 100%;
      display: block;
      color: $raistone_white;

      &:hover {
        color: $raistone_mid_canary;
      }
    }

    svg {
      max-width: 100%;
      height: auto;
    }

    path {
      fill: currentColor;
    }
  }

  .footer-social-title {
    margin-bottom: size(13);
    font-weight: 700;
    @include min-medium-screen {
      margin-bottom: size(17);
    }
  }

}
