
@import "styles/sites/towSmart";


.product_filter {
  //background-color: #343a40 !important;
  padding: size(30) size(50);
  @include large-screen{
    padding: size(100);
  }
  
  .header {
    @include large-screen {
      display: none;
    }
  }
  
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include paddingY(size(20));
    margin-bottom: size(40);
    background-color: rgba(37, 37, 37, 0);
    
    .head-filter {
      @include font(16px, 700, 24px, $tow_smart_white, $product_sans);
    }
    
    .clear-filter {
      position: relative;
      cursor: pointer;
      @include font(14px, 400, 21px, $tow_smart_red, $product_sans);
      
      input {
        border-radius: 0;
        z-index: 99;
      }
    }
    
    .close {
      cursor: pointer;
      @include square(size(24));
    }
  }
  
  .filter-title {
    padding-top: size(20);
    @include font(16px, 700, 19px, $tow_smart_white, $product_sans);
    @include max-medium-screen {
      margin-bottom: size(20);
    }
    @include large-screen {
      margin-bottom: size(20);
    }
  }
  
  .sidebar {
    transition: opacity 500ms;
    @include paddingX(size(20));
    padding-bottom: size(20);
    @include max-medium-screen {
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      opacity: 0;
      background: linear-gradient(180deg, #272A33 0%, #1B1D23 30%);
      width: 100%;
      height: 100%;
      pointer-events: none;
      overflow: scroll;
      padding-bottom: size(80);
    }
    
    @include large-screen {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 6px;
      opacity: 1;
      @include paddingY(size(40));
      @include paddingX(size(30));
      max-width: size(280);
    }
    
    &.sidebar-active {
      opacity: 1;
      pointer-events: auto;
    }
    
    .all-product {
      .par1 {
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: size(20);
        cursor: pointer;
      }
    }
    
    .head {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      cursor: pointer;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      @include paddingY(size(20));
      @include large-screen {
        display: none;
      }
      
      svg {
        @include square(size(24));
        transform: rotate(90deg);
        transition: transform $duration;
      }
      
      .head-5 {
        @include font(16px, 400, 24px, $tow_smart_white, $product_sans);
      }
    }
    
    .menu-item {
      @include large-screen {
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
      }
    }
    
    .sub-menu {
      position: relative;
      
      &:after, &:before {
        position: relative;
        content: '';
        display: block;
        background-color: transparent;
        width: 100%;
        height: size(30);
      }
      
      &:after {
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
      }
      
      @include max-medium-screen {
        height: 0;
        overflow: hidden;
      }
      @include large-screen {
        height: auto !important;
        display: block;
        padding-bottom: size(30);
        padding-left: 0;
        
        &:after, &:before {
          display: none;
        }
      }
      
      li {
        padding-left: size(10);
        
        &:not(:last-child) {
          margin-bottom: size(15);
          @include large-screen {
            margin-bottom: size(20);
          }
        }
        
        @include large-screen {
          padding-left: 0;
        }
        
        .category-filter-label {
          display: block;
          position: relative;
          
        }
      }
      
      .title, .item {
        color: $tow_smart_white_50;
        font-weight: 400;
        @include font-size(16px, 24px);
        @include large-screen {
          @include font-size(14px, 21px);
        }
        
      }
      
      .spacer {
        @include large-screen {
          display: none;
        }
      }
      
      .sub-menu1 {
        height: 0;
        overflow: hidden;
        padding-left: size(21);
        position: relative;
        
        
        &:before {
          position: relative;
          content: '';
          display: block;
          background-color: transparent;
          width: 100%;
          height: size(20);
        }
        
        
        .spacer {
          display: block;
        }
        
        .item {
          cursor: pointer;
          position: relative;
          
          &:not(:last-child) {
            margin-bottom: size(16);
          }
          
          .subcategory-button {
            font-weight: 400;
            transition: color $duration;
            color: rgba(255, 255, 255, 0.5);
            line-height: 150%;
            text-align: left;
          }
          
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: size(-8);
            width: 1px;
            height: size(14);
            border-radius: size(8);
            background-color: $tow_smart_red;
            opacity: 0;
            transition: opacity $duration;
          }
          
          &:hover {
            .subcategory-button {
              color: $tow_smart_white;
            }
          }
          
          &.active {
            .subcategory-button {
              color: $tow_smart_white;
            }
            
            &:after {
              opacity: 1;
            }
          }
        }
      }
      
      .menu {
        position: relative;
        cursor: pointer;
        
        button {
          font-family: $product_sans;
          transition: color $duration;
        }
        
        &:after {
          content: "";
          position: absolute;
          top: 3px;
          left: 0;
          width: 1px;
          height: size(16);
          border-radius: size(8);
          background-color: $tow_smart_red;
          opacity: 0;
          transition: opacity $duration;
          @include large-screen {
            left: size(-8);
          }
        }
        
        &:hover {
          a {
            color: $tow_smart_white;
          }
        }
        
        li {
          @include large-screen {
            padding-left: 0;
          }
        }
        
        &:hover {
          button {
            color: $tow_smart_white;
          }
        }
        
        &.active {
          button {
            color: $tow_smart_white;
          }
          
          &:after {
            opacity: 1;
          }
        }
      }
      
    }
    
    .category-filter-input {
      position: absolute;
      z-index: 9;
      top: 0;
      left: 0;
      @include square(100%);
      margin: 0;
      cursor: pointer;
      opacity: 0;
      border-radius: 0;
    }
    
    .product-class, .retailer {
      
      .product-class-title, .retailer-title {
        display: flex;
        margin-bottom: size(20);
        padding-left: size(10);
        @include large-screen {
          @include marginY(size(30), size(20));
          padding-left: 0;
        }
        
        .par-14 {
          color: $tow_smart_white_50;
          font-weight: 400;
          @include font-size(14px, 21px);
          margin-right: size(8);
        }
      }
      
      li {
        padding-left: size(11);
        display: flex;
        align-items: center;
        
        
        .category-text {
          font-weight: 400;
          @include font-size(12px, 18px);
          cursor: pointer;
        }
        
        .product-classes {
          margin-bottom: 0 !important;
          display: flex;
        }
        
        input[type="checkbox"] {
          width: size(16);
          height: size(16);
          margin: 0;
          opacity: 0;
          position: absolute;
        }
        
        .design-checkbox {
          position: relative;
          background: rgba(255, 255, 255, 0.08);
          border: 1px solid $tow_smart_white_50;
          box-sizing: border-box;
          border-radius: 2px;
          @include square(size(16));
          margin-right: size(10);
          cursor: pointer;
        }
        
        .design-checkbox:after {
          content: "";
          background: url("https://image.shutterstock.com/image-vector/simple-green-tick-illustration-symbol-600w-737091616.jpg") no-repeat;
          background-size: cover;
          @include square(size(10));
          position: absolute;
          opacity: 0;
          transition: opacity 500ms;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        
        input:checked + .design-checkbox:after {
          opacity: 1;
        }
        
      }
    }
    
    .retailer {
      border-bottom: 0;
      
      .sub-menu {
        padding-bottom: 0;
      }
    }
    
  }
  
  .spacer {
    margin-top: size(20);
    display: none !important;
  }
  
  .btn.btn-see-products {
    position: fixed;
    overflow: hidden;
    width: calc(100% - 4rem);
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    @include large-screen {
      @include marginX(auto);
      margin-top: size(30);
    }
    
    .see-products-number {
      margin-left: size(5);
    }
  }
  
  .active-link {
    .head {
      svg {
        transform: rotate(0);
        
      }
    }
  }
}

  


