@import "styles/sites/headversity";

.image_and_list_block {
  @include paddingY(size(100), size(70));
  @include min-medium-screen {
    @include paddingY(size(125), size(95.5));
  }

  &.reversed {
    .container {
      @include min-medium-screen {
        @include paddingX(size(131), size(0))

      }
    }

    .content {
      flex-direction: row-reverse;
    }
  }

  .container {
    @include paddingX(size(0));

    @include min-medium-screen {
      @include paddingX(size(0), size(131))

    }
  }

  .content {
    @include flex(center, space-between, false, wrap);


    .left-content {
      @include flexBasis(100%);
      @include small-screen {
        margin-bottom: size(40);
      }
      @include min-medium-screen {
        @include flexBasis(55.2%)

      }
    }

    .right-content {
      @include flexBasis(100%);
      @include small-screen {
        @include paddingX(size(25));

      }
      @include min-medium-screen {
        @include flexBasis(37.66233%);
      }
    }

  }

  .image-wrapper {
    padding-top: 78.46%;
    @include min-medium-screen {
      padding-top: 111.111%;
    }
  }

  .title {
    max-width: size(200);
    margin-bottom: size(20);

    @include min-medium-screen {
      max-width: size(293);
      margin-bottom: size(20);
    }
  }

  .description {
    max-width: size(300);
    margin-bottom: size(37);
    @include min-medium-screen {
      max-width: size(433);
    }
  }

  .list-wrapper {
    margin-bottom: size(53);

    @include min-medium-screen {
      margin-bottom: size(53);
    }
  }

  .correct {
    width: size(22);
    height: size(19);
    margin-right: size(19);
  }

  .list-item {

    @include flex(center, false, false, false);
    max-width: size(300);
    margin-bottom: size(36);

    @include min-medium-screen {
      max-width: size(353);

    }

    &:last-child {
      margin-bottom: size(0);
    }


  }

  .btn {
    @include min-medium-screen {
      min-width: size(324.45);
    }
  }

}
