
@import "styles/sites/cyberhill";


.knowledge_portal_swiper_block {
  background: $cyberHill-alice-blue;
  @include paddingY(size(64));
  @include min-medium-screen {
    @include paddingY(size(135));
  }
  @include large-screen {
    @include paddingY(size(172), size(160));
  }
  
  .container {
    position: relative;
    padding-right: 0;
  }
  
  .knowledge-portal-wrapper {
    position: relative;
  }
  
  .title-with-shape {
    padding-bottom: size(48);
    padding-right: size(80);
    @include min-medium-screen{
      padding-bottom: size(60);
    }
  }
  
  .headline-4 {
    color: $cyberHill-Blue;
    padding-right: size(44);
    margin-bottom: size(48);
    @include min-medium-screen {
      padding-right: size(80);
      margin-bottom: size(40);
      max-width: size(760);
    }
    @include large-screen {
      padding-right: size(162);
      max-width: size(840);
    }
  }
  
  .headline-5 {
    transition: color $duration;
    &:hover {
      color: $cyberHill-light-green;
    }
  }
  
  .swiper {
    overflow: hidden;
    position: relative;
    
    .swiper-slide {
      height: auto;
    }
    
    .card {
      background: $cyberHill-white;
      margin-bottom: size(0);
      height: 100%;
      padding-bottom: size(36);
      @include min-medium-screen {
        padding-bottom: size(60);
      }
      @include large-screen {
        padding-bottom: size(50);
      }
      
      .text {
        margin-left: 0;
      }
      
    }
  }
  
  .all-and-swiper-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 87%;
    margin-top: size(24);
    
    .primary-button {
      @include min-medium-screen {
        margin-right: size(17);
      }
    }
    
    .swiper-buttons {
      display: flex;
    }
    
    .swiper-button {
      color: $cyberHill-Blue;
    }
    
    @include min-medium-screen {
      position: absolute;
      top: size(-22);
      right: size(80);
      justify-content: space-evenly;
      padding-top: size(0);
      margin-top: 0;
      
    }
    
    @include large-screen {
      right: size(162);
    }
  }
}




