
@import "styles/sites/takeoff";


section.line-illustrations-section {
  position: relative;
  z-index: 13;
  @include paddingY(size(20), size(200));
  @include min-medium-screen {
    @include paddingY(size(220));
  }
  @include large-screen {
    @include paddingY(size(200), size(317));
  }
  // region fix line issues home page
  margin-bottom: size(-1);
  // endregion fix line issues home page
  
  .line-illustrations-wrapper {
    max-width: size(955);
    position: relative;
    z-index: 9;
    
    .line-title {
      margin-bottom: size(100);
      max-width: 82%;
      @include min-medium-screen {
        max-width: fit-content;
      }
      @include large-screen {
        margin-bottom: size(159);
      }
      
      &:before, &:after {
        @include small-screen {
          top: 89%;
        }
      }
      
      &:before {
        width: 100%;
        @include min-medium-screen {
          width: 123%;
        }
      }
      
      &:hover {
        &:after {
          width: 100%;
          @include min-medium-screen {
            width: 123%;
          }
        }
      }
    }
    
    .row {
      @include change-gutter(size(50), size(109));
      @include min-medium-screen {
        @include change-gutter(size(50), size(55));
      }
      @include large-screen {
        @include change-gutter(size(76), size(55));
      }
    }
    
    .line-illustrations-card {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      
      .card-icon {
        margin-bottom: size(23);
        width: size(150);
        height: size(110);
        @include min-medium-screen {
          margin-bottom: size(20);
          opacity: .5;
          transition: opacity 300ms;
        }
      }
      
      .wysiwyg-block {
        h3 {
          @include min-medium-screen {
            opacity: .5;
            transition: opacity 300ms;
          }
        }
        
        p {
          padding-right: size(30);
          @include min-medium-screen {
            padding-right: size(8);
            opacity: 0;
            transition: opacity 300ms;
          }
          
          span {
            @include small-screen {
              font-size: size(25) !important;
            }
          }
        }
      }
      
      &:hover{
        .card-icon {
          @include min-medium-screen {
            opacity: 1;
          }
        }
        
        .wysiwyg-block {
          h3 {
            @include min-medium-screen {
              opacity: 1;
            }
          }
          
          p {
            @include min-medium-screen {
              opacity: 1;
            }
          }
        }
      }
    }
    
    .tag-h2 {
      left: 92%;
      top: 29%;
      @include large-screen {
        left: 108%;
        top: 33%;
      }
      
    }
    
    .tag-h3 {
      left: 92%;
      bottom: -3%;
      top: auto;
      @include large-screen {
        left: 108%;
      }
    }
    
    .html-tag {
      display: none;
      @include min-medium-screen {
        display: unset;
      }
    }
  }
  
  .general-circle {
    position: absolute;
    z-index: -1;
    left: 24.4%;
    top: 100%;
    @include square(size(50));
    display: none;
    @include min-medium-screen {
      display: unset;
    }
  }
  
  .big-circle {
    position: absolute;
    z-index: -1;
    left: -61%;
    bottom: size(-90);
    @include square(size(466));
    
    @include min-medium-screen {
      left: size(-260);
      bottom: size(-160);
    }
    @include large-screen {
      left: size(-270);
      bottom: size(-200);
      @include square(size(584));
    }
  }
  
  .tag-div {
    top: size(-90);
    left: 25.4%;
    z-index: 11;
    @include min-medium-screen {
      top: auto;
      bottom: 1.6%;
      left: 11.4%;
    }
  }
  
  .line-illustration-svg {
    left: -17.5%;
    z-index: -1;
    width: 72.7rem;
    height: 61rem;
    top: 0;
    transform: rotate(-90deg);
    position: absolute;
    @include min-medium-screen {
      left: 11.5%;
      bottom: -14%;
      top: auto;
      transform: rotate(0);
    }
  }
  
  @include small-screen {
    
    .wysiwyg-block {
      p {
        opacity: 1 !important;
      }
    }
    
  }
}

  


