@import "styles/sites/headversity";


.stats_and_video_block {
  //background-color: red;
  max-width: size(1440);
  position: relative;
  @include marginX(auto);
  @include paddingY(size(61), size(66.5));
  @include large-screen {
    @include paddingY(size(74), size(125));
  }


  .block-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .container {
    width: 100%;
    @include min-medium-screen {
      width: 49.4%;
    }
  }

  .text-section {
    @include paddingY(size(0), size(77));

    @include min-medium-screen {
      @include paddingY(size(56), size(103));
    }
    @include large-screen {
      @include paddingY(size(112), size(326));
    }
  }

  .title {
    width: size(309);
    margin-bottom: size(30);
    @include min-medium-screen {
      width: size(389);
    }
    @include large-screen {
      margin-bottom: size(20);
      width: size(354);
    }
  }

  .description {
    width: size(309);
    color: $headversity_gray;
    margin-bottom: size(37);
    @include min-medium-screen {
      margin-bottom: size(30);
      width: size(389);
    }
    @include large-screen {
      margin-bottom: size(42);
      width: size(354);
    }

    em {
      @include small-screen {
        text-transform: uppercase;
        font-style: unset;
      }
    }

  }

  .video-section {
    position: relative;
    width: 100%;
    @include min-medium-screen {
      width: 50.6%;
    }

    .player-icon-wrapper {
      pointer-events: none;
      background-color: $headversity_white;
      border-radius: 50%;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      opacity: 1;
      transition: opacity 1000ms, background-color 1000ms;
      width: size(70);
      height: size(70);
      @include min-medium-screen {
        @include square(size(80));
      }
      @include large-screen {
        @include square(size(123));

      }

      svg {
        @include square(size(50));
        transition: fill 1000ms;
        @include min-medium-screen {
          @include square(size(45));
        }
        @include large-screen {
          @include square(size(66));
        }

      }

    }

    &:hover {
      .player-icon-wrapper {
        background-color: $headversity_orange;

        svg {
          fill: $headversity_white;
        }
      }
    }

  }

  .right-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 1000ms;

    iframe {
      pointer-events: none;
    }

    &.active {
      z-index: 1;
      opacity: 1;
    }
  }

  .video-wrapper {
    padding-top: 80%;
    cursor: pointer;
    background-color: #eeeeee;


    @include min-medium-screen {
      padding-top: 93%;
    }
    @include large-screen {
      padding-top: 109.413%;
    }
  }

  //////Modal/////
  .modal {
    .modal-content {
      width: 95%;
      @include min-medium-screen {
        width: 82%;
      }
      @include large-screen {
        width: 66%;
      }
    }

    .modal-video {
      padding-top: 55.5%;
      cursor: pointer;

    }
  }

  /////////////////
  .percentage-card {
    position: relative;
    z-index: 4;
    margin-top: size(-54);
    border-radius: 0 size(30) size(30) 0;
    @include small-screen {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    @include min-medium-screen {
      margin-top: size(-82);
    }
    @include large-screen {
      margin-top: size(-242);
    }
  }

  .ellipse {
    @include small-screen {
      @include square(size(326));
      top: 0;
      right: 0;
      transform: translate(32%, -33%);
    }
    @include min-medium-screen {
      @include square(size(489));
      bottom: 0;
      left: 50%;
      transform: translate(-35%, 50%);
    }

    @include large-screen {
      @include square(size(653));
    }

  }


}
