@import "variables";
@import "mixins";
@import "root";

//region HTML tags
*, :before, :after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 10px;
  width: 100vw;
  overflow-x: hidden;
  //region customize html scroll bar firefox
  scrollbar-color: rgb(90, 90, 90) rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;
  //endregion customize html scroll bar firefox
  @include large-screen {
    width: calc(100vw - 4px);
  }

  &.modal-opened {
    overflow: hidden;
  }
}

@supports (-moz-appearance:none) {
  @include large-screen {
    html {
      width: calc(100vw - 8px);
    }
  }
}

//region customize html scroll bar
::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  //background: rgba(0, 0, 0, 0.5); /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: rgb(90, 90, 90);
  //background-color: red; /* color of the scroll thumb */
}

.hide-scrollbar {
  scrollbar-width: none !important; // Hide Scrollbar FireFox
  &::-webkit-scrollbar { // Hide Scrollbar Chrome
    display: none;
  }
}

//endregion customize html scroll bar


// region hyperlink style
a {
  text-decoration: none;
  color: inherit;
  transition: color $duration;
}

// endregion hyperlink style

img, picture {
  display: block;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, form, fieldset {
  margin: 0;
  padding: 0;
}


input, textarea {
  &::placeholder {
    transition: opacity $duration;
    font: inherit;
    line-height: inherit;
    color: inherit;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}

svg {
  path {
    transition: fill, stroke;
    transition-duration: $duration;
  }
}

//endregion HTML tags

//region scroll animation classes
.line-overflow,
.word-overflow {
  overflow: hidden;
  vertical-align: top;
}

[class ^="iv-st"], [class *= " iv-st"] {
  opacity: 0;
  visibility: hidden;
}

.iv-st-from-top, .iv-st-from-bottom, .iv-st-from-left, .iv-st-from-right, .word-up, .line-up, .real-line-up {
  opacity: 0;
  visibility: hidden;
}

//endregion scroll animation classes

//region utility classes
.aspect-ratio {
  position: relative;
  height: 0;

  img, video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.cover-background {
  position: absolute;
  @include square(100%);
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;

  img {
    @include objectImg(cover);
  }
}

.hide {
  &-only-sm {
    @include small-screen {
      display: none !important;
    }
  }

  &-only-md {
    @include medium-screen {
      display: none !important;
    }
  }

  &-only-lg {
    @include large-screen {
      display: none !important;
    }
  }

  &-between-sm-md {
    @include max-medium-screen {
      display: none !important;
    }
  }

  &-between-md-lg {
    @include min-medium-screen {
      display: none !important;
    }
  }
}

.f-w {
  &-900 {
    font-weight: 900 !important;
  }

  &-800 {
    font-weight: 800 !important;
  }

  &-700 {
    font-weight: 700 !important;
  }

  &-400 {
    font-weight: 400 !important;
  }
}

.g-container {
  // region remove container padding in media

  &-remove-sm-md {
    @include max-medium-screen {
      @include paddingX(0 !important);
    }
  }

  &-remove-sm-0 {
    @include small-screen {
      @include paddingX(0 !important);
    }
  }

  &-remove-md-0 {
    @include medium-screen {
      @include paddingX(0 !important)
    }
  }

  &-remove-lg-0 {
    @include large-screen {
      @include paddingX(0 !important)
    }

  }

  &-remove-all-0 {
    @include paddingX(0 !important)
  }

  // endregion remove container padding in media

  // region set container padding in  media

  &-set-sm {
    @include small-screen {
      @include paddingX($container-padding-sm !important);
    }
  }

  &-set-md {
    @include medium-screen {
      @include paddingX($container-padding-md !important)
    }
  }

  &-set-lg {
    @include large-screen {
      @include paddingX($container-padding-lg !important)
    }
  }

  // endregion set container padding in  media

  // region set container padding between media
  &-set-sm-md {
    @include small-screen {
      @include paddingX($container-padding-sm !important);
    }
    @include medium-screen {
      @include paddingX($container-padding-md !important);
    }
  }

  &-set-all {
    @include paddingX($container-padding-sm !important);
    @include min-medium-screen {
      @include paddingX($container-padding-md !important);
    }
    @include large-screen {
      @include paddingX($container-padding-lg !important);
    }
  }

  // endregion set container padding between media
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.display-block {
  display: block;
}

.load-more-wrapper {
  position: relative;
  transition: opacity $duration;
  display: flex;
  justify-content: center;

  .loader {
    width: size(90);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity $duration;
    opacity: 0;
    pointer-events: none;

    .loader-ball {
      $anim-drt: 0.4s;
      $anim-ease: cubic-bezier(.6, .05, .15, .95);
      @include square(size(20));
      border-radius: 50%;
      background: $smart_dv_lime;

      &:nth-child(1) {
        animation: itemsLoader $anim-drt alternate infinite $anim-ease;
      }

      &:nth-child(2) {
        animation: itemsLoader $anim-drt $anim-drt/4 alternate infinite $anim-ease backwards;
      }

      &:nth-child(3) {
        //background: $cheq-gradient-purple;
        animation: itemsLoader $anim-drt $anim-drt/2 alternate infinite $anim-ease backwards;
      }
    }
  }

  .cta-button {
    transition: opacity, background;
    transition-duration: $duration;
  }

  &.loading {
    .loader {
      opacity: 1;
    }

    .cta-button , .cta-link {
      pointer-events: none;
      opacity: 0;
    }
  }

  &.hidden {
    //opacity: 0 !important;
    display: none;
    pointer-events: none;
  }
}

.no-posts {
  display: none;

  &.active {
    display: block;
    text-align: center;
    padding-top: size(80);
    padding-bottom: size(30);
  }
}

//endregion utility classes

//region animations

@keyframes bouncing {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(size(-20), size(-50));
  }
}

@keyframes itemsLoader {
  0% {
    transform: translate3d(0, 1rem, 0) scale(1.2, 0.85);
  }
  100% {
    transform: translate3d(0, -1rem, 0) scale(0.9, 1.1);
  }
}

@keyframes shaking {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}

//endregion animations

// region custom modal
.custom-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 400ms, z-index 400ms;
  z-index: -1;
  @include flex(center, center);
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);

  .custom-modal-inner {
    position: relative;
    background-color: $smart_dv_white;
    width: 95%;
    @include min-medium-screen {
      width: 82.8%;
    }
    @include marginX(0);
    transition: opacity 300ms ease-in-out;


    &.modal-loading {
      transition-duration: 0s;
      opacity: 0.5;
    }
  }

  .custom-modal-content {
    max-height: 92vh;
    overflow: auto;
    //scrollbar-width: none !important; // Hide Scrollbar FireFox
    //&::-webkit-scrollbar { // Hide Scrollbar Chrome
    //  display: none;
    //}

    .modal-image {
      margin-bottom: size(30);
      max-width: size(200);

      img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    .w-100 {
      @include flexBasis(100%);
    }

    .modal-left {
      @include small-screen {
        margin-bottom: size(40);
      }
    }

    .modal-left, .modal-right {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(45%);
      }
    }

    .modal-left {
      @include min-medium-screen {
        @include flexBasis(52.24%);
      }
    }

    // region modal left

    .modal-left-title {
      color: inherit;
      @include large-screen {
        max-width: size(275);
      }
    }

    .modal-text {
      margin-top: size(30);
      color: inherit;
    }

    .modal-watch-video {
      margin-top: size(20);
      color: $smart_dv_black;
      display: flex;
      align-items: center;
      width: fit-content;
      transition: color $duration;

      &:hover {
        color: $smart_dv_black;
      }

      svg {
        color: $smart_dv_black;
        @include square(size(20));
        margin-right: size(10);
        flex-shrink: 0;
      }
    }


    // endregion modal left

    // region modal right

    .modal-right-title {
      color: inherit;
      margin-bottom: size(20);
    }

    $popDetailMBLG: 2rem;
    $popDetailMBSM: 1rem;

    .modal-details {
      @include flex(flex-start, space-between, column, wrap);
      margin-bottom: -$popDetailMBSM;
      @include min-medium-screen {
        margin-bottom: -$popDetailMBLG;
      }
    }

    .modal-detail {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $smart_dv_black;
      @include flexBasis(100%);
      padding-bottom: size(10);
      margin-bottom: $popDetailMBSM;
      @include min-medium-screen {
        margin-bottom: $popDetailMBLG;
      }
    }

    .modal-detail-title {
      font-size: size(12);
      font-weight: 400;
      margin-right: size(20);
    }

    .modal-detail-subtitle {
      color: $smart_dv_black;
      font-weight: 700;
      font-size: size(14);
      text-transform: uppercase;
    }

    a {
      &:hover {
        color: $smart_dv_black
      }
    }

    .modal-accordions {
      margin-top: size(30);
      @include min-medium-screen {
        margin-top: size(50);
      }
    }

    .modal-accordions-title {
      color: inherit;
      margin-bottom: size(20);
      @include large-screen {
        @include font-size(26px, 38px);
      }
    }

    .modal-accordion {
      border-bottom: 1px solid $smart_dv_black;
      padding-bottom: size(10);

      &:not(:last-child) {
        margin-bottom: size(20);
      }

      &.accordion-active {
        .modal-accordion-icon {
          transform: rotate(45deg);
        }
      }
    }

    .modal-accordion-title {
      cursor: pointer;
      @include flex(center, space-between);
      font-size: size(12);
      font-weight: 700;
      letter-spacing: 1px;

      a {
        text-transform: uppercase;
      }

      span {
        color: $smart_dv_black;
        font-weight: 900;
      }

      .modal-accordion-icon {
        @include square(size(15));
        transition: transform $duration;
        background-color: $smart_dv_black;
        border-radius: 50%;
        overflow: hidden;

        path {
          &:first-child {
            fill: $smart_dv_black;
          }

          &:not(:first-child) {
            fill: $smart_dv_white;
          }
        }
      }
    }

    .modal-accordion-content {
      height: 0;
      overflow: hidden;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 130%;

      a {
        font-weight: 700;
        color: $smart_dv_black;

        &:hover {
          color: $smart_dv_black;
        }
      }
    }

    .accordion-spacer {
      height: size(10);
    }

    // endregion modal right
  }

  .close-modal {
    background-color: transparent !important;

    svg {
      display: none;
    }
  }

  &.custom-modal-text {
    .custom-modal-content {
      @include flex(flex-start, space-between, false, wrap);
      background-color: $smart_dv_white;
      color: $smart_dv_black;
      padding: 3vh size(24);
      @include min-medium-screen {
        padding: 5vh size(44);
      }
      @include large-screen {
        padding: 5vh size(44) size(84) 5vh;
      }
    }

    .close-modal {
      position: absolute;
      top: size(30);
      right: size(20);
      @include square(size(30));
      background-color: $smart_dv_black;
      border-radius: 50%;
      color: $smart_dv_white;
      @include flex(center, center);
      z-index: 6;
      @include min-medium-screen {
        top: size(60);
        right: size(40);
        @include square(size(40));
      }

      &:hover {
        background-color: $smart_dv_black;
      }

      .close-modal-text {
        width: 40%;
        height: auto;
        display: inline-block;
      }
    }
  }

  //region Video
  &.custom-modal-video {
    .custom-modal-inner {
      width: 100%;
    }

    .close-modal {
      display: block;
      margin-left: auto;
      margin-right: size(20);
      margin-bottom: size(25);
      @include square(size(25));
      @include min-medium-screen {
        margin-right: size(50);
      }
      @include min-medium-screen {
        @include square(size(32));
      }

      .close-modal-video {
        display: inline-block;
        @include square(100%);
      }
    }

    iframe {
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include marginX(auto);
      height: 55vh;
      @include min-medium-screen {
        width: 100%;
        height: 67.72vh;
      }
    }
  }

  //endregion Video


  transform: translateX(-100%);

  &.modal-active {
    z-index: 99999;
    opacity: 1;
    pointer-events: auto;
    transform: none;
  }

  &.custom-modal-contact {
    .contact-form-title {
      display: block;
      @include font(32px, 800, 41px, $smart_dv_white, false, size(-0.5));
      @include min-medium-screen {
        @include font-size(36px, 41px);
      }
    }


    .close-modal {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      @include marginY(size(30), size(45));
      @include min-medium-screen {
        @include marginY(size(64), size(40));
      }
    }

    .close-modal-video {
      display: block;
      @include square(size(30));
      z-index: 2;

      rect, line {
        stroke: #6943F3 !important;
      }
    }

    .custom-modal-inner {
      background: $smart_dv_black;
      @include paddingX(size(20));
      @include min-medium-screen {
        @include paddingX(size(40));
        width: 65%;

      }
      @include large-screen {
        width: 45.7%;
        @include paddingX(size(64));

      }
    }

  }
}

// endregion custom modal
