:root {
  /* Colors: */
  --smart_dv_black: #000000;
  --smart_dv_dark_black: #162932;
  --smart_dv_white: #ffffff;
  --smart_dv_lime: #BFD730;
  --smart_dv_medium_green: #54A935;
  --smart_dv_green: #086875;
  --smart_dv_green_2: #075D69;
  --smart_dv_green_3: #08515B;
  --smart_dv_green_4: #162932;
  --smart_dv_dark_green: #064952;
  --smart_dv_dark_metal_green: #162932;
  --smart_dv_gray: #162932;
  --smart_dv_light_gray: #D9D9D9;
  --smart_dv_dark_light_gray: #ECEDED;
}
