@import "variables";
@import "mixins";
@import "root";

.single-post, .single-careers {
  @include marginX(auto);
  overflow: hidden;
  position: relative;
  max-width: size(1440);

  &:after {
    content: "";
    min-height: 150vh;
    position: absolute;
    z-index: -1;
    background: linear-gradient(174.66deg, rgba(217, 217, 217, 0.147) 13.29%, rgba(217, 217, 217, 0.3) 95.73%);
    transform: rotate(-39.39deg);
    right: 0;
    top: 14.2%;
    width: 100%;
    height: 30%;
    @include min-medium-screen {
      right: 0;
      top: -21%;
      transform: rotate(39.39deg);
      width: 50%;
      height: 71%;
    }
    display: none;
  }
}

// region container
.container {
  @include paddingX($container-padding-sm);
  @include min-medium-screen {
    @include paddingX($container-padding-md);
  }
  @include large-screen {
    @include paddingX($container-padding-lg);
  }
  @at-root body .section-noContainer & {
    @include paddingX(0);
  }
}

//endregion

// region font  Styling
.headline-1, .wysiwyg-block h1, .blog-content-wrapper h1 {
  @include font(36px, 400, 45px, $smart_dv_gray, $montserrat, normal);
  @include large-screen {
    @include font-size(64px, 70px);
  }
}

.bold {
  font-weight: 600;
}

.headline-2, .wysiwyg-block h2, .blog-content-wrapper h2 {
  @include font(24px, 400, 30px, $smart_dv_gray, $montserrat, normal);
  @include large-screen {
    @include font-size(48px, 60px);
  }
}

.headline-3, .wysiwyg-block h3, .blog-content-wrapper h3 {
  @include font(20px, 400, 25px, $smart_dv_gray, $montserrat, normal);
  @include large-screen {
    @include font-size(36px, 45px);
  }
}

.headline-4, .wysiwyg-block h4, .blog-content-wrapper h4 {
  @include font(24px, 400, 30px, $smart_dv_gray, $montserrat, normal);
}

.headline-5, .wysiwyg-block h5, .blog-content-wrapper h5 {
  @include font(20px, 400, 25px, $smart_dv_gray, $montserrat, normal);
}

.paragraph, .wysiwyg-block p {
  @include font(14px, 400, 28px, $smart_dv_gray, $montserrat);
  @include large-screen {
    @include font-size(16px, 36px);
  }

  &.bold-paragraph {
    font-weight: 600;
    line-height: size(17.5);
    @include large-screen {
      line-height: size(20);
    }
  }

  &.paragraph-18 {
    @include large-screen {
      @include font-size(18px, 36px);
    }
  }

  &.paragraph-20 {
    @include large-screen {
      @include font-size(20px, 42px);
    }
  }


}

.small-title {
  @include font(16px, 600, 20px, $smart_dv_dark_green, $montserrat);

}


.wysiwyg-block ul {
  margin-left: size(20);

  li {
    font: inherit;
    color: inherit
  }
}

.wysiwyg-block ol {
  margin-left: size(20);

  li {
    font: inherit;
    color: inherit
  }
}


// endregion

// region cta button
.cta-button {
  @include font(14px, 600, 17.5px, $smart_dv_gray, $ibm-plex-sans);
  @include paddingY(size(10));
  @include paddingX(size(18));
  padding: size(10) size(18);
  text-transform: capitalize;
  border: 2px solid transparent;
  position: relative;
  cursor: pointer;
  display: inline-block;
  @include large-screen {
    @include font-size(16px, 20px);
    @include paddingX(size(20));
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: size(8);
    width: 50%;
    border: 2px solid $smart_dv_lime;
    border-top: 0;
    transition: height .3s ease-out, width $duration;
    will-change: height;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: size(8);
    width: 50%;
    border: 2px solid $smart_dv_lime;
    border-bottom: 0;
    transition: height .3s ease-out, width $duration;
  }

  &:hover {
    font-weight: 700;
    &:after {
      transform: translateX(-50%);
      height: 50%;
      width: 100%;
      transition: height .3s ease-in, width $duration;

    }

    &:before {
      transform: translateX(-50%);
      height: 50%;
      width: 100%;
      transition: height .3s ease-in, width $duration;

    }

  }

}

// endregion cta button

// region cta link

.cta-link {
  @include font(14px, 600, 18px, $smart_dv_gray, $ibm-plex-sans);
  @include flex(center, center, false, false);
  text-transform: capitalize;
  width: fit-content;
  cursor: pointer;

  @include large-screen {
    @include font-size(16px, 20px);
  }

  svg {
    @include square(size(23));

    margin-left: size(8);
    overflow: visible;
    transition: transform $duration;

    rect, path {
      transition: transform $duration;
      transform-origin: left;
    }
  }


  &:hover {
    svg {
      transform: translateX(size(5));

      rect {
        transform: scaleX(1.4);
      }

      path {
        transform: translateX(size(5));

      }
    }

    font-weight: 700;
  }
}

// endregion cta link

// region BUTTON
.button-link {
  @include font(14px, 500, 18px, $smart_dv_gray, $ibm-plex-sans);
  @include flex(center, center, false, false);
  text-transform: capitalize;
  width: fit-content;
  cursor: pointer;
  font-weight: $ibm-plex-sans;
  border: size(2) solid $smart_dv_green;
  color: #064952;
  padding: size(8) size(28) size(8) size(28);
  transition: border-color $duration;
  text-align: center;
  //min-width: size(220);
  min-width: 100%;
  @include large-screen {
    min-width: size(220);
    @include font-size(14px, 14px);
  }

  &:hover {
    border: size(2) solid $smart_dv_lime;
  }
}

.return {
  &:hover {
    svg {
      transform: translateX(-1.5rem);
    }
  }

  svg {
    margin-right: size(11);
    margin-left: 0;
  }
}

// endregion BUTTON

//region faqs svg
.faqs-svg-wrapper {
  @include square(size(24));
  cursor: pointer;

  svg {
    line {
      transition: $duration;
    }
  }

  &:hover {
    svg {
      line {
        stroke: #BFD730;
      }
    }
  }

  //&.dark {
  //  svg {
  //    line {
  //      stroke: #BFD730;
  //    }
  //  }
  //
  //  &:hover {
  //    svg {
  //      line {
  //        stroke: #ffffff;
  //      }
  //    }
  //  }
  //
  //}
}

// endregion faqs svg

//region round-arrow
.round-arrow {
  @include square(size(63));
  @include flex(center, center, false, false);
  border: 2px solid $smart_dv_lime;
  border-radius: 50%;
  cursor: pointer;
  transition: border-color $duration;

  &:hover {
    border-color: $smart_dv_green;
  }

  //&.dark-background {
  //  svg {
  //    path {
  //      fill: $smart_dv_white;
  //    }
  //  }
  //
  //  &:hover {
  //    border-color: $smart_dv_white;
  //  }
  //}

  &.right-arrow {
    transform: rotate(180deg);
  }
}

// endregion round-arrow

// region  wysiwyg
.wysiwyg-block {
  h1, h2, h3, h4, h5, h6, ul, p {
    margin-bottom: size(20);
  }

  ul, ol {
    margin-bottom: size(20);
    padding-top: 0;

    ul, ol {
      margin: size(5) 0 0 size(10);
    }
  }

  ol {
    padding-left: size(17);


    ul {
      margin-bottom: 0;
    }
  }
}

//endregion//

//REGION
.have-title {
  margin-bottom: size(50);
  @include min-medium-screen {
    margin-bottom: size(74);
  }

  .title-posts {
    text-align: center;
    @include marginX(auto);
    font-size: size(30);
    color: #162932;
    @include min-medium-screen {
      font-size: size(48);
    }
  }
}

.wrapper_post {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: size(-40);

  @include min-medium-screen {
    margin-bottom: size(-60);
    flex-direction: row;
    justify-content: space-between;
  }
  @include large-screen {
    margin-bottom: size(-88);
  }

  .cards_posts {
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow $duration;
    @include flexBasis(100%);
    margin-bottom: size(40);
    @include small-screen {
      max-width: size(400);
    }
    @include min-medium-screen {
      @include flexBasis(47%);
      margin-bottom: size(60);
    }
    @include large-screen {
      margin-bottom: size(88);
      @include flexBasis(30.7%);
    }

    &:hover {
      .cta-link {
        svg {
          transform: translateX(size(5));

          rect {
            transform: scaleX(1.4);
          }

          path {
            transform: translateX(size(5));

          }
        }
      }

      box-shadow: 0 4px 20px 0 #00000033;
    }

    .card_post {
      position: relative;
      overflow: hidden;
      height: size(231);
      display: flex;
      align-items: center;
      justify-content: center;

      &:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        height: size(375);
        width: size(602);
        clip-path: polygon(87.7% 0, 100% 0, 100% 100%, 38% 100%);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.198) 0%, rgba(255, 255, 255, 0.054) 77.08%);
        pointer-events: none;
        @include min-medium-screen {
          clip-path: polygon(80% 0, 100% 0, 100% 100%, 30% 100%);
        }
        @include large-screen {
          width: size(522);
        }
      }

      img {
        width: size(80);
        height: size(80);
        @include min-medium-screen {
          width: size(110);
          height: size(110);
        }
      }

      &.dark_green {
        background-color: $smart_dv_dark_green;
      }

      &.green {
        background-color: $smart_dv_green;
      }

      &.light_green {
        background-color: $smart_dv_medium_green;
      }

      &.light_yellow {
        background-color: $smart_dv_lime;
      }
    }

    .card_content_center {
      background-color: $smart_dv_white;
      padding: size(33) size(26) size(20) size(26);
      box-shadow: 0 size(4) size(10) rgba(0, 0, 0, 0.1);
      @include min-medium-screen {
        padding: size(26) size(33) size(26) size(33);
      }

      .content_post {
        border-bottom: size(1) solid $smart_dv_green;
        padding-bottom: size(30);
        @include min-medium-screen {
          padding-bottom: size(80);
        }

        .title_content_post {
          color: $smart_dv_dark_green;
          font-weight: 600;
          padding-bottom: size(17);
          @include min-medium-screen {
            padding-bottom: size(26);
          }
        }

        .post_link {
          color: $smart_dv_dark_metal_green;
          font-weight: 400;
          font-family: $montserrat;
          font-size: size(20);
          max-width: size(316);
          transition: color $duration;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          @include min-medium-screen {
            font-size: size(24);
            max-width: size(295);
            min-height: size(60);

          }

          &:hover {
            color: $smart_dv_lime;
          }

        }
      }

      .last_link {
        padding-top: size(20);
        color: $smart_dv_gray;
      }
    }

  }

}

.have_link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: size(40);
  @include min-medium-screen {
    margin-top: size(50);
  }
}

//ENDREGION
// region swiper navigation
.swiper-button {
}

// endregion swiper navigation

// region swiper pagination
.swiper-pagination {
  .swiper-pagination-bullet {
    &-active {

    }
  }
}

// endregion swiper pagination


//region dark section
.dark-background {
  background-color: $smart_dv_dark_green;

  .headline-1, .headline-2, .headline-3, .headline-4, .headline-5, .paragraph {
    color: $smart_dv_white;
  }

  ul {
    li {
      color: $smart_dv_white;
    }
  }

  .cta-button {
    color: $smart_dv_white;

    .cta-title {
      background-color: $smart_dv_dark_green;
      position: relative;
      z-index: 1;

    }

    &:after {
      z-index: 0;
    }
  }

  .cta-link {
    color: $smart_dv_white;

  }

  .faqs-svg-wrapper {
    svg {
      line {
        stroke: #BFD730;
      }
    }

    &:hover {
      svg {
        line {
          stroke: #ffffff;
        }
      }
    }
  }

  .round-arrow {
    svg {
      path {
        fill: $smart_dv_white;
      }
    }

    &:hover {
      border-color: $smart_dv_white;
    }
  }
}


// endregion  dark section

.image-parallax-effect {
  overflow: hidden;
  color: #075D69;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    @include square(100%);
    transition: transform 1s ease-out;
    transform-origin: top;
    background: currentColor;
  }

  picture {
    transform: scale(2);
    transition: transform 1s ease-out;
  }

  &.active {
    picture {
      transform: scale(1);
    }

    &:after {
      transform: scaleY(0);
    }
  }

  img {
    height: calc(100% + 10vh);
  }
}


//load more
.load-more-wrapper {

}


.wp-block-separator {
  color: #313545;
  background-color: transparent !important;
  position: relative;
  overflow: visible;
  border-bottom: none;
  @include min-medium-screen {
    @include marginX(size(74));
  }
  @include large-screen {
    @include marginX(size(144));
  }
  @include small-screen {
    width: size(295);
  }

  &:after, &:before {
    position: absolute;
    content: "";
    width: size(14);
    height: size(14);
    border: 1px solid #313545;
    border-radius: 50%;
    top: -50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    @include min-medium-screen {
      width: size(18);
      height: size(18);
    }
  }

  &:after {
    left: 0;
  }

  &:before {
    left: 100%;
  }
}


///////////////

.related_products_section {
  @include paddingY(size(200), size(50));
  @include large-screen {
    @include paddingY(size(100), size(50));
  }

  .product-text {
    text-align: left;
    color: #313545;
    margin-bottom: size(40);
    @include min-medium-screen {
      text-align: center;
    }
  }

  .container {
    @include large-screen {
      @include paddingX(size(70), size(70));
    }
  }

  .cards-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: size(-32);
    @include min-medium-screen {
      flex-direction: row;
      justify-content: space-between;
    }

    .card {
      cursor: pointer;
      position: relative;
      background: $smart_dv_white;
      //box-shadow: 0 size(10) size(10) rgb(0 0 0 / 10%);
      padding: size(37) size(29) size(41) size(26);
      margin-bottom: size(32);
      width: 100%;
      @include min-medium-screen {
        width: 48.9%;
        padding: size(80) size(25) size(70) size(25);
      }
      @include large-screen {
        width: 24%;
        padding: size(107) size(38) size(94) size(38);
      }

      .content {
        position: relative;
        @include min-medium-screen {
          text-align: center;
          transition: opacity $duration;
          opacity: 1;
        }

        .title {
          padding-bottom: size(6);
          text-align: start;
          @include min-medium-screen {
            pointer-events: none;
            text-align: center;
            border-bottom: size(1) solid $smart_dv_green;
            padding-bottom: size(15);
          }
          @include large-screen {
            //max-width: size(256);
            padding-bottom: size(26);
          }
        }

        .description {
          text-align: start;
          @include min-medium-screen {
            text-align: center;
            padding-top: size(10);
          }
          @include small-screen {
            font-weight: 600;
            padding-bottom: size(20);
            border-bottom: 1px solid #086875;
          }
        }

      }

      .content-description {
        @include font(14px, 400, 22px, $smart_dv_green_4, $montserrat);
        @include min-medium-screen {
          opacity: 0;
          position: absolute;
          transition: opacity $duration;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: size(240);
          @include max-lines(5)
        }
        @include large-screen {
          width: size(240);
        }
        @include small-screen {
          @include marginY(size(20));
          @include max-lines(4)
        }
      }

      .card-link {
        @include min-medium-screen {
          opacity: 0;
          position: absolute;
          z-index: 1;
          padding: size(15) 0 size(15) 0;
          transition: opacity $duration;
          bottom: 0;
        }

        svg {
          width: size(23);
          height: size(23);
          @include small-screen {
            rect {
              fill: #BFD730;
            }
            path {
              fill: #BFD730;
            }
          }
        }

        &:hover {

          svg {
            transform: translateX(size(5));

            rect {
              transform: scaleX(1.4);
            }

            path {
              transform: translateX(size(5));

            }

            @include min-medium-screen {
              rect {
                transform: scaleX(1.4);
                fill: white;
              }

              path {
                transform: translateX(size(5));
                fill: white;
              }
            }
          }

        }

      }

      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: size(12);
        background: $smart_dv_lime;
        bottom: 0;
        left: 0;
        transition: height $duration;
        @include small-screen {
          height: size(10);
        }
      }

      &:hover {
        &:after {
          @include min-medium-screen {
            height: size(45);
          }
          @include large-screen {
            height: size(56);
          }

        }

        .content-description {
          opacity: 1;
        }

        .content {
          @include min-medium-screen {
            opacity: 0;
          }
        }

        .card-link {
          opacity: 1;

        }
      }

    }
  }
}
