// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;
$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$smart_dv_black: var(--smart_dv_black);
$smart_dv_dark_black: var(--smart_dv_dark_black);
$smart_dv_white: var(--smart_dv_white);
$smart_dv_lime: var(--smart_dv_lime);
$smart_dv_medium_green: var(--smart_dv_medium_green);
$smart_dv_green: var(--smart_dv_green);
$smart_dv_green_2: var(--smart_dv_green_2);
$smart_dv_green_3: var(--smart_dv_green_3);
$smart_dv_green_4: var(--smart_dv_green_4);
$smart_dv_dark_green: var(--smart_dv_dark_green);
$smart_dv_dark_metal_green: var(--smart_dv_dark_metal_green);
$smart_dv_gray: var(--smart_dv_gray);
$smart_dv_light_gray: var(--smart_dv_light_gray);
$smart_dv_dark_light_gray: var(--smart_dv_dark_light_gray);

// fonts
$montserrat: 'Montserrat';
$ibm-plex-sans: 'IBM Plex Sans';
$roboto: 'Roboto';
//default duration
$duration: 500ms;
//override bootstrap variables
$grid-gutter-width: 4rem;
$container-padding-sm: 3rem;
$container-padding-md: 5rem;
$container-padding-lg: 12rem;
$container-max-widths: (
  'md': 100%, //570px
  'lg': 144rem, //760px 88.4
);
$grid-breakpoints: (
  'xs': 0,
  'md': $medium-screen-min-width,
  'lg': $large-screen-min-width,
);

