.editor-styles-wrapper .wp-block {
  max-width: 80% !important;
}

.interface-interface-skeleton__sidebar > div {
  width: 100% !important;
}

.-open .acf-label.acf-accordion-title {
  height: 50px !important;
  background-size: contain !important;
  background-position: center !important;
}

.acf-label.acf-accordion-title {
  transition: height 400ms, background-position 400ms;
  height: 200px !important;
  background-repeat: no-repeat !important;
  //background-size: 100% 84%!important;
  background-size: contain !important;
  background-position: 50% 50px !important;
}

.interface-interface-skeleton__sidebar {
  width: 350px !important;
}

.bg_shape_block{
  background:gray;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-top: -1px;
  position: relative;

  .block-editor-block-list__layout .block-editor-block-list__block .block-editor-block-list__layout .block-editor-default-block-appender .block-editor-inserter {
    right: 18px;
  }

  .svg-shape, .svg-shape {
    z-index: -1;
    width: 100%;
    height: auto;
    position: absolute;

    &.top-svg-shape {
      margin-bottom: -1px;
    }
  }
}

.acf-image-select-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.smart_dv-block.two_columns_block {
  background: #e8e8e8;
  padding-top: 20px;
  padding-bottom: 20px;

  .block-editor-block-list__layout .block-editor-block-list__block .block-editor-block-list__layout .block-editor-default-block-appender .block-editor-inserter {
    right: 18px;
  }
}

.acf-image-select.acf-custom-buttons .acf-radio-list li {
  height: 100%;
}

.acf-image-select.acf-image-select-custom .acf-radio-list li img {
  object-position: center;
  padding: 0 5px;
}

.acf-image-select.acf-image-select-custom .acf-radio-list {
  flex-wrap: nowrap;
}

/*radio button image select */
.acf-image-select .acf-radio-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.acf-image-select .acf-radio-list li {
  flex-basis: 33.33%;
  width: 33.33%;
}

.acf-image-select .acf-radio-list li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}

.acf-image-select label input {
  display: none;
}

.acf-image-select label p {
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.acf-image-select label img {
  border: solid 6px #ddd;
}

.acf-image-select label.selected img {
  border: solid 6px green;
}


tr.acf-row {

  > td:first-of-type {
    font-size: 24px !important;
    color: #3a3a3a !important;
    font-weight: 900 !important;
    text-shadow: none !important;
    font-family: initial;
  }

  &:nth-of-type(odd) {
    > td {
      border-top: 5px #dedede solid !important;
      border-bottom: 5px #dedede solid !important;

      &:first-of-type, &:last-of-type {
        background: #dedede !important;
      }

    }
  }

  &:nth-of-type(even) {
    > td {
      border-top: 5px #cbcbcb solid !important;
      border-bottom: 5px #cbcbcb solid !important;

      &:first-of-type, &:last-of-type {
        background: #cbcbcb !important;
      }
    }
  }
}

html{
  font-size: 5px !important;
}

[class ^="iv-st"], [class *= " iv-st"] {
  opacity: 1 !important;
  visibility: visible !important;
}

[data-section-class] p{
  font: inherit;
}

// region popup styling
body.acf-popup-activated:after {
  //content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

body.acf-popup-activated .acf-block-fields.acf-block-fields-popup-activated {
  position: fixed;
  z-index: 99999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.acf-popup-activated .acf-block-fields.acf-block-fields-popup-activated:after {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

body.acf-popup-activated .acf-block-fields.acf-block-fields-popup-activated .acf-field.acf-accordion {
  width: 60%;
  height: 100%;
  max-height: 80vh;
  overflow: auto;
}

.close-acf-popup {
  position: absolute;
  top: 30px;
  right: 70px;
  font-size: 40px;
  color: #FFF;
  cursor: pointer;
  display: block;
}

body.acf-popup-activated .interface-interface-skeleton__sidebar {
  z-index: -1;
}

body.acf-popup-activated .interface-interface-skeleton__header {
  z-index: -1;
}

body.acf-popup-activated .interface-interface-skeleton__footer {
  z-index: -1;
}

// endregion popup styling

