

@import "styles/sites/kiwi";

section.block-services {
  @include marginY(size(80));
  @include min-large-screen {
    @include marginY(size(156), size(198));
  }
  
  .block-services-wrapper {
    @include x-large-screen {
      max-width: size(1245) !important;
    }
    
    .service-wrapper {
      @include marginY(size(65));
      text-align: center;
      @include min-large-screen {
        @include marginY(size(113));
        text-align: left;
      }
      
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
      
      &.circle-plus-line {
        &:after, &:before {
          top: auto;
          transform: translate(-50%, -50%);
          display: none;
          @include min-large-screen {
            display: block;
          }
        }
        
        &:after {
          top: 100%;
          @include x-large-screen{
            top: 110%;
          }
        }
        
        &:before {
          bottom: size(90);
          @include x-large-screen{
            bottom: size(40);
          }
        }
      }
      
      .circle-line {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        @include min-large-screen {
          display: block;
        }
      }
    }
    
    .service-details {
      margin-bottom: size(30);
      @include min-large-screen {
        margin-bottom: 0;
        max-width: size(440);
      }
      @include x-large-screen {
        margin-bottom: size(78);
      }
      
      .headline-4 {
        margin-bottom: size(20);
        display: block;
        //@include x-large-screen {
        //    margin-bottom: size(30);
        //}
        
        &.comfortta {
          color: $kiwi-dark-red;
        }
      }
      
      .btns-wrapper {
        flex-wrap: wrap;
        .btn {
          @include marginX(0);
          min-width: 47%;
          width: fit-content;
          &:first-of-type{
            margin-right: 2%;
          }
          margin-top: size(20);
          @include max-large-screen {
            @include marginX(auto);
            width: 100%;
            min-width: 100%;
          }
          @include max-medium-screen {
            min-width: 48%;
            width: 48%;
          }
          @include max-small-screen {
            @include marginX(auto);
            width: 100%;
            min-width: 100%;
          }
          
          &:hover {
            .btn-text {
              color: $kiwi-white !important;
            }
            
            .btn-border {
              border: 1px solid $kiwi-dark-red;
            }
          }
          
          .btn-bg {
            background-color: $kiwi-dark-red;
          }
        }
      }
    }
    
    .service-image {
      .aspect-ratio {
        padding-top: 100%;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
  
  
}


  


