@import "variables";
@import "mixins";
@import "swiper/css";

:root {
  /* Colors: */
  --takeoff-black: #000000;
  --takeoff-white: #ffffff;
  --takeoff-off-white: #efefef;
  --takeoff-gray: #b0b0b0;
  --takeoff-nero: #282828;
  --takeoff-charcoal: #2e2e2e;
  --takeoff-gray-30: #4d4d4d;
  --takeoff-gray-20: #333333;
  --takeoff-gray-79: #c9c9c9;
  --takeoff-gray-80: #808080;
  --takeoff-orange: #e5a335;
  --takeoff-purple: #8a5b95;
  --takeoff-blue: #2a77a0;
  --takeoff-green: #65b093;
  --takeoff-dark-green: #368162;
  
}

//region HTML tags
* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 10px;
  width: 100%;
  font-family: $freight, $muse;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}


img, picture {
  display: block;
}

button {
  border: none;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, form {
  margin: 0;
  padding: 0;
}


ul {
  list-style: none;
}

body {
  overflow: hidden;
}

main {
  overflow: hidden;
  width: 100%;
  left: 0;
  top: 0;
}

//path {
//  transition: all 400ms;
//}

//endregion HTML tags

.container {
  @include paddingX(size(35));
  @include large-screen {
    @include paddingX(size(20));
  }
}

[smooth-scroll-container] {
  //width: auto;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  overflow: hidden !important;
  margin: 0;
}

//region scroll animation classes
.line-overflow,
.word-overflow {
  overflow: hidden;
  vertical-align: top;
}

[class ^="iv-st"], [class *= " iv-st"] {
  opacity: 0;
  visibility: hidden;
}

.iv-st-from-top, .iv-st-from-bottom, .iv-st-from-left, .iv-st-from-right, .word-up, .line-up, .real-line-up {
  opacity: 0;
  visibility: hidden;
}

[data-lazy-load-timeout], [data-lazy-load-offset] {
  opacity: 0;
  visibility: hidden;
}

//endregion scroll animation classes

//region utility classes
.overflow-hidden {
  overflow: hidden;
}

.hover-arrow {
  .right-arrow, .left-arrow {
    transition: all 400ms;
  }
  
  &:hover {
    .right-arrow {
      //transform: translateX(40%) rotateX(0.01deg) !important;
      margin-left: size(20);
    }
    
    .left-arrow {
      //transform: translateX(40%) rotateX(0.01deg) !important;
      margin-right: size(20);
    }
  }
}

.hover-zoom {
  transition: transform 800ms;
  
  &:hover {
    transform: scale(1.04) !important;
  }
}

.hover-zoom-child {
  overflow: hidden;
  position: relative;
  
  &:before {
    position: absolute;
    top: 0;
    left: -85%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    transition: left 400ms;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
  }
  
  > .zoom-in {
    transition: transform 800ms;
  }
  
  &:hover {
    &:before {
      left: 125%;
    }
    
    > .zoom-in {
      transform: scale(1.04) !important;
    }
  }
}

.hover-darken {
  transition: filter 400ms;
  
  &:hover {
    filter: brightness(0.6);
  }
}

@keyframes circle-rotate {
  to {
    transform: rotate(360deg);
  }
}

.gutter {
  &--115 {
    @include change-gutter(size(50));
    @include large-screen {
      @include change-gutter(size(115))
    }
  }
  
  &--115v {
    @include change-gutter(false, size(50));
    @include large-screen {
      @include change-gutter(false, size(115))
    }
  }
  
  &--98 {
    @include change-gutter(size(76));
    @include large-screen {
      @include change-gutter(size(98));
    }
  }
  
  &--40 {
    @include change-gutter(size(40));
  }
}

.hide {
  display: none;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.mobile-only {
  display: flex;
  @include min-medium-screen {
    display: none;
  }
}

.desktop-only {
  display: none;
  @include min-medium-screen {
    display: flex;
  }
}

.aspect-ratio {
  position: relative;
  height: 0;
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@keyframes bouncing {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(size(-20), size(-50));
  }
}

//endregion utility classes

//region contact form 7
.wpcf7-not-valid-tip {
  background-color: transparent !important;
  border: 0 !important;
  max-width: size(500) !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: size(2) !important;
  width: fit-content !important;
  color: #ff3131 !important;
  position: absolute !important;
  right: 0 !important;
  bottom: calc(100% + 0.5rem) !important;
  font-family: $muse !important;
  font-size: size(14) !important;
  font-weight: 500 !important;
  pointer-events: none !important;
  transition: opacity 500ms !important;
  z-index: 2 !important;
  @include min-medium-screen {
    font-size: size(16) !important;
  }
}

.wpcf7-form-control-wrap {
  display: inline;
  
  select {
    -webkit-appearance: none;
  }
}

.wpcf7 form.sent .wpcf7-response-output {
  color: #0c6d16;
  background-color: #bdf1bf;
}

//endregion contact form 7

//region swiper
.swiper-container {
  height: auto !important;
}

.swiper-wrapper {
  height: auto !important;
  @include large-screen {
    width: auto !important;
  }
  
  .swiper-slide {
    max-width: 100%;
  }
}

.swiper-button {
  @include square(size(60));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  position: relative;
  
  .swiper-btn-bg {
    background: $takeoff-orange;
    border-radius: 100%;
    transform: scale(0);
  }
  
  .swiper-btn-border {
    border: size(2) solid $takeoff-white;
    border-radius: 50%;
  }
  
  .swiper-btn-bg, .swiper-btn-border {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform .4s cubic-bezier(.19, 1, .22, 1), opacity .4s cubic-bezier(.19, 1, .22, 1);
    will-change: transform;
  }
  
  &:not(.swiper-button-disabled) {
    &:hover {
      .swiper-btn-bg {
        transform: scale(1);
        transition: transform .9s cubic-bezier(.19, 1, .22, 1);
      }
      
      .swiper-btn-border {
        opacity: 0;
        transform: scale(1.5);
        transition: transform .4s cubic-bezier(.19, 1, .22, 1), opacity .3s cubic-bezier(.19, 1, .22, 1);
      }
    }
  }
  
  svg {
    position: relative;
    @include square(31%);
    
    path {
      stroke: $takeoff-white;
    }
  }
  
  &.swiper-button-disabled {
    cursor: no-drop;
    
    .swiper-btn-border {
      border-color: #4d4d4d;
    }
    
    svg {
      path {
        stroke: #4d4d4d;
      }
    }
  }
  
  @include light {
    &.swiper-button-disabled {
      .swiper-btn-border {
        border-color: rgba(0, 0, 0, 0.6);
        @include min-medium-screen {
          border-color: rgba(0, 0, 0, 0.2);
        }
      }
      
      svg {
        path {
          stroke: rgba(0, 0, 0, 0.6);
          @include min-medium-screen {
            stroke: rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
    .swiper-btn-border {
      border-color: $takeoff-black;
    }
    svg {
      path {
        stroke: $takeoff-black;
      }
    }
    &:not(.swiper-button-disabled) {
      &:hover {
        path {
          stroke: $takeoff-white;
        }
      }
    }
  }
}

.swiper-pagination {
  margin-top: size(20);
  display: flex;
  justify-content: center;
  @include paddingY(size(10));
  @include min-medium-screen {
    margin-top: size(43);
  }
  position: relative;
  z-index: 3;
  
  .swiper-pagination-bullet {
    display: inline-block;
    @include square(size(10));
    border-radius: 50%;
    background-color: $takeoff-gray-30;
    transition: transform, background, opacity;
    transition-duration: 500ms;
    cursor: pointer;
    
    &:hover {
      background: $takeoff-gray;
      transform: scale(1.5);
      opacity: 0.6;
    }
    
    &:not(:last-child) {
      margin-right: size(15);
    }
    
    &.swiper-pagination-bullet-active {
      background: $takeoff-gray;
    }
  }
}

//endregion swiper

// region general classes

.dark {
  background-color: $takeoff-charcoal;
  //@include paddingY(size(50));
}

.light {
  background-color: $takeoff-white;
  //@include paddingY(size(50)) !important;
  
  //svg {
  //    path {
  //        fill: #333333 !important;
  //    }
  //}
}

.italic {
  font-style: italic;
}

.headline-1, .wysiwyg-block h1, .editor-styles-wrapper h1 {
  color: $takeoff-white;
  font-family: $freight;
  font-size: size(56);
  font-weight: 300;
  letter-spacing: size(0.56);
  line-height: size(70);
  
  @include large-screen {
    font-size: size(70);
    letter-spacing: size(0.7);
    line-height: size(84);
  }
  
  @include light {
    color: $takeoff-charcoal;
  }
}

.headline-2, .wysiwyg-block h2, .editor-styles-wrapper h2 {
  font-size: size(64);
  letter-spacing: size(0.64);
  color: $takeoff-off-white;
  font-family: $freight;
  width: fit-content;
  font-weight: 300;
  line-height: size(70);
  position: relative;
  z-index: 8;
  
  sup {
    font-size: 35%;
    position: relative;
    line-height: 100%;
    font-family: $muse;
  }
  
  &.big-line {
    &:before {
      width: 100%;
      @include min-medium-screen {
        width: calc(100% + 4rem);
      }
    }
  }
  
  &.center-line {
    @include marginX(auto);
    text-align: center;
    
    &:before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
  &:before {
    content: '';
    position: absolute;
    width: 95%;
    height: size(32);
    top: calc(100% - 2.5rem);
    left: 0;
    z-index: -1;
    background-image: linear-gradient(to right, $takeoff-orange 0%, $takeoff-purple 14.2857143%, $takeoff-blue 28.5714286%, $takeoff-green 42.8571429%, $takeoff-orange 57.1428572%, $takeoff-purple 71.4285715%, $takeoff-blue 85.7142858%, $takeoff-green 100%);
    background-size: 233%;
    animation: gradient 5s infinite linear;
  }
  
  
  @include min-medium-screen {
    font-size: size(56);
    letter-spacing: size(0.56);
  }
  @include large-screen {
    font-size: size(75);
    letter-spacing: size(0.75);
    line-height: size(90);
  }
  
  @include light {
    color: $takeoff-charcoal;
  }
}

.headline-3, .wysiwyg-block h3, .editor-styles-wrapper h3 {
  color: $takeoff-off-white;
  font-weight: 300;
  font-size: size(54);
  letter-spacing: size(0.54);
  line-height: size(60);
  @include min-medium-screen {
    font-size: size(46);
    line-height: size(52);
    letter-spacing: size(0.46);
  }
  
  @include light {
    color: $takeoff-charcoal;
  }
}

.headline-4, .wysiwyg-block h4, .editor-styles-wrapper h4 {
  color: $takeoff-white;
  font-family: $muse;
  font-weight: 300;
  font-size: size(43);
  letter-spacing: size(0.69);
  line-height: size(60);
  @include min-medium-screen {
    letter-spacing: size(0.7);
    font-size: size(35);
    line-height: size(40);
  }
  @include large-screen {
    font-size: size(32);
    letter-spacing: size(0.64);
    line-height: size(42);
  }
  
  @include light {
    color: $takeoff-charcoal;
  }
}

.headline-5, .wysiwyg-block h5, .editor-styles-wrapper h5 {
  font-size: size(30);
  color: $takeoff-white;
  font-family: $freight;
  font-weight: 700;
  font-style: normal;
  letter-spacing: size(0.9);
  line-height: size(40);
  
  @include light {
    color: $takeoff-charcoal;
  }
}

.headline-6, .wysiwyg-block h6, .editor-styles-wrapper h6 {
  font-size: size(20);
  color: $takeoff-white;
  font-family: $muse;
  font-weight: 500;
  font-style: normal;
  letter-spacing: size(0.6);
  line-height: size(30);
  
  @include light {
    color: $takeoff-charcoal;
  }
}

.paragraph, .wysiwyg-block p, .editor-styles-wrapper p {
  color: $takeoff-white;
  font-family: $muse;
  font-weight: 300;
  font-size: size(28);
  letter-spacing: size(0.56);
  line-height: size(44);
  
  &.size22 {
    font-size: size(32);
    color: $takeoff-gray-79;
    font-family: $muse;
    font-weight: 300;
    font-style: normal;
    letter-spacing: size(0.64);
    line-height: size(51);
    @include min-medium-screen {
      font-size: size(22);
      letter-spacing: size(0.66);
      line-height: size(34);
    }
  }
  
  &.size18 {
    font-size: size(25);
    letter-spacing: size(0.7);
    line-height: size(38);
    @include min-medium-screen {
      font-size: size(18);
      letter-spacing: size(0.54);
      line-height: size(30);
    }
  }
  
  @include light {
    color: $takeoff-charcoal;
  }
}

.wysiwyg-block p {
  span {
    display: inline-block;
    line-height: 157%;
  }
}

ul:not(.nav-menu) {
  
  li {
    font-family: $muse;
    font-size: size(20);
    font-weight: 300;
    line-height: size(32);
    position: relative;
    padding-left: size(24);
    color: $takeoff-off-white;
    
    &:not(:last-child) {
      margin-bottom: size(23);
    }
    
    &:before {
      content: '';
      position: absolute;
      top: size(16);
      left: 0;
      transform: translateY(-50%);
      @include square(size(8));
      background: $takeoff-off-white;
      @include large-screen {
        @include square(size(6));
      }
    }
    
    ul {
      margin-bottom: 0;
    }
    
    @include light {
      color: $takeoff-charcoal;
      &:before {
        background: $takeoff-charcoal;
      }
    }
  }
}

ol {
  list-style: decimal;
  padding-left: size(20);
  
  li {
    font-family: $muse;
    font-size: size(20);
    font-weight: 300;
    line-height: size(32);
    position: relative;
    color: $takeoff-off-white;
    
    &:not(:last-child) {
      margin-bottom: size(23);
    }
    
    padding-left: size(14) !important;
  }
}

.link, .wysiwyg-block a, .editor-styles-wrapper a {
  position: relative;
  padding-bottom: size(16);
  display: block;
  width: fit-content;
  color: $takeoff-white;
  font-family: $muse;
  font-size: size(18);
  font-weight: 900;
  letter-spacing: size(5.4);
  transition: color 400ms;
  line-height: 100%;
  
  &:before, &:after {
    content: "";
    position: absolute;
    height: size(3);
    left: 0;
    bottom: 0;
    border-radius: 50px;
    transition: width 500ms;
  }
  
  &:before {
    width: 100%;
    background-image: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 0;
  }
  
  &:after {
    background-image: linear-gradient(to right, #e5a335 0%, #8a5b95 33%, #4d6d9c 54%, #2a77a0 66%, #65b093 100%);
    width: 0;
    z-index: 1;
  }
  
  @include light {
    color: $takeoff-charcoal;
    &:before {
      background-image: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0) 100%);
    }
  }
  
  &:hover {
    color: $takeoff-orange;
    
    &:before {
      width: 0;
    }
    
    &:after {
      width: 100%;
    }
  }
}

.sub-line {
  color: $takeoff-gray;
  font-family: $muse;
  font-size: size(18);
  font-weight: 500;
  letter-spacing: size(5.4);
  //line-height: size(24);
  @include min-medium-screen {
    font-size: size(14);
    //font-weight: 700;
    letter-spacing: size(4.2);
  }
  
  @include light {
    color: $takeoff-charcoal;
  }
  
  &.dark-gray {
    color: #797979;
  }
}

.navigation {
  font-size: size(34);
  color: $takeoff-white;
  font-family: $muse;
  font-weight: 500;
  letter-spacing: size(10.2);
  @include min-medium-screen {
    font-size: size(18);
    letter-spacing: size(5.4);
    line-height: size(34);
  }
  
  @include light {
    color: $takeoff-charcoal;
  }
  
  &.dark-gray {
    color: $takeoff-gray;
  }
  
}

.list-item {
  color: $takeoff-white;
  font-family: $muse;
  font-size: size(20);
  font-weight: 500;
  line-height: size(32);
  
  @include light {
    color: $takeoff-charcoal;
  }
}

.article-1 {
  color: $takeoff-white;
  font-family: $freight;
  font-size: size(40);
  font-weight: 500;
  letter-spacing: size(0.4);
  line-height: size(50);
  @include min-medium-screen {
    font-size: size(50);
    letter-spacing: size(0.5);
    line-height: size(64);
  }
  
  @include light {
    color: $takeoff-charcoal;
  }
}

.article-2 {
  color: $takeoff-white;
  font-family: $muse;
  font-size: size(24);
  font-weight: 700;
  line-height: size(35);
  @include min-medium-screen {
    font-size: size(30);
    line-height: size(40);
  }
  
  @include light {
    color: $takeoff-charcoal;
  }
}

.article-3 {
  color: $takeoff-charcoal;
  font-family: $muse;
  font-size: size(18);
  font-weight: 700;
  line-height: size(28);
  @include min-medium-screen {
    font-size: size(20);
  }
  
  &.bold {
    line-height: size(32);
    @include min-medium-screen {
      line-height: size(36);
    }
  }
  
  &.regular {
    font-weight: 300;
    line-height: size(32);
    @include min-medium-screen {
      line-height: size(30);
    }
  }
}

.text-link {
  color: $takeoff-gray;
  font-family: $muse;
  font-size: size(18);
  font-weight: 800;
  letter-spacing: size(5.4);
  //line-height: size(32);
}

.break-line {
  line-height: 0 !important;
  height: size(10) !important;
}

.Button-and-link-styles {
  @include marginY(size(150));
  
  .dd {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .ss {
    @include paddingY(size(50));
    margin-top: size(50);
    display: flex;
    
    .buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
  
}

.arrow-right {
  @include light {
    path {
      fill: $takeoff-charcoal !important;
    }
  }
  
}

.btn, .home-btn {
  font-family: $muse;
  font-size: size(18);
  font-weight: 900;
  letter-spacing: size(5.4);
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
  border-radius: size(10);
  width: fit-content;
  min-width: size(250);
  position: relative;
  overflow: hidden;
  outline: none;
  border: none;
  padding: size(27) size(15);
  z-index: 3;
}

.btn {
  &.primary {
    background: $takeoff-white;
    color: $takeoff-charcoal;
    overflow: hidden;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 100%;
      z-index: -1;
      opacity: 0;
      //transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
      //transform-origin: 0 100%;
      background-image: linear-gradient(to right, #e5a335 0%, #8a5b95 33%, #4d6d9c 54%, #2a77a0 66%, #65b093 100%);
      transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
    }
    
    @include light {
      background-color: $takeoff-charcoal;
      color: $takeoff-white;
    }
  }
  
  &.secondary {
    color: $takeoff-white;
    
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
      border-radius: inherit;
      transition: opacity 500ms;
      background: transparent;
      border: size(2) solid $takeoff-white;
    }
    
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: -1;
      //background: url(../html/images/secondary-btn-hover.svg) no-repeat;
      background-size: 100% 100%;
      border-radius: inherit;
      transition: opacity 500ms;
      //background-size: 233%;
      //background-image: linear-gradient(-74deg, #e5a335 0%, #8a5b95 33%, #2a77a0 66%, #65b093 100%);
      animation: gradient 3s infinite alternate linear;
    }
    
    &:hover {
      &:before {
        opacity: 0;
      }
      
      &:after {
        opacity: 1;
      }
    }
    
    @include light {
      color: $takeoff-charcoal;
      border: size(2) solid $takeoff-black;
      &:before, &:after {
        display: none;
      }
    }
  }
  
  &:hover {
    color: $takeoff-white;
    
    &:before {
      opacity: 1;
      //background-color: #3f51b5;
      //transform: rotate3d(0, 0, 1, 0deg);
      //transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
  }
}


.home-btn {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 500ms;
    //background: url(../html/images/home_btn_background.svg) no-repeat;
    background-size: 99.5% 99.5%;
  }
  
  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #e5a335 0%, #8a5b95 33%, #4d6d9c 54%, #2a77a0 66%, #65b093 100%);
    background-size: 233%;
    animation: gradient 3s infinite alternate linear;
    z-index: -1;
    transition: opacity 500ms;
    opacity: 0;
    border-radius: inherit;
  }
  
  &:hover {
    &:before {
      opacity: 0;
    }
    
    &:after {
      opacity: 1;
    }
  }
}

.line-hover {
  position: relative;
  
  &:after {
    content: "";
    position: absolute;
    height: size(3);
    left: 0;
    bottom: size(-7);
    border-radius: 50px;
    transition: width 500ms;
    background-image: linear-gradient(to right, #e5a335 0%, #8a5b95 33%, #4d6d9c 54%, #2a77a0 66%, #65b093 100%);
    width: 0;
    z-index: 1;
  }
  
  &:hover {
    &:after {
      width: 100%;
    }
  }
}

.test-btn {
  color: white;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: size(280);
  width: fit-content;
  border-radius: size(10);
  min-width: size(200);
  
  span {
    display: block;
    background: black;
    width: 100%;
    padding: size(20) size(50);
    top: 0;
    transition: transform 400ms;
    transform-origin: 50% 0;
    transform: rotateX(0deg);
    transform-style: preserve-3d;
    
    &:after {
      content: attr(data-hover);
      display: block;
      width: 100%;
      height: 100%;
      padding: inherit;
      position: absolute;
      top: 0;
      left: 0;
      background: #ffffff;
      transition: background 800ms;
      transform-origin: 50% 0;
      transform: translate3d(0, 100%, 0) rotateX(-90deg);
    }
  }
  
  &:hover {
    span {
      transform: translate3d(0px, 0px, size(-60)) rotateX(90deg);
      
      &:after {
        background: #ff5e9f;
      }
    }
  }
}

.container-back-top {
  z-index: 9;
  position: relative;
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.link-with-arrow {
  color: $takeoff-gray;
  font-family: $freight;
  font-size: size(12);
  font-weight: 300;
  display: flex;
  align-items: center;
  
  .arrow {
    transition: transform 400ms;
    margin-left: size(12);
  }
  
  &.right-arrow {
    &:hover {
      .arrow {
        transform: translateX(size(10)) rotate(90deg) !important;
      }
    }
  }
  
  &.back-to-top {
    padding-bottom: size(40);
    padding-top: size(40);
    display: block;
    text-align: right;
    
    &:hover {
      .arrow {
        transform: none !important;
      }
    }
  }
  
  &.up-arrow {
    &:hover {
      .arrow {
        transform: translateY(size(-10));
      }
    }
  }
  
  &.down-arrow {
    &:hover {
      .arrow {
        transform: translateY(size(10)) rotate(180deg) !important;
      }
    }
  }
  
}

.image-plus-layout {
  position: relative;
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .black-layout {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    
    &.horizontal {
      background-image: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0.62) 100%);
    }
    
    &.has-opacity {
      opacity: 0.66;
    }
  }
}

.barba-overlay-transition {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
}

.single-card {
  padding: size(20);
  position: relative;
  height: size(350);
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  z-index: 1;
  
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: -1;
  }
  
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  
  img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
    transition: transform .4s;
  }
  
  h6 {
    font-size: size(24);
    color: white;
    padding-bottom: size(15);
    transition: color .4s;
    
    &:hover {
      color: $takeoff-gray;
    }
  }
}

.text-center {
  text-align: center !important;
}

// region single post wrapper
//.single-post-wrapper {
//    font-size: size(22);
//    line-height: size(35);
//
//    .post-info {
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        flex-direction: column;
//        margin-top: size(100);
//        color: white;
//
//        .date-author {
//            display: flex;
//            margin-bottom: size(30);
//            @include small-screen {
//                flex-direction: column;
//            }
//        }
//
//        .date {
//            margin-right: size(40);
//            @include small-screen {
//                margin-right: 0;
//                margin-bottom: size(15);
//            }
//        }
//
//        svg {
//            width: size(20);
//            margin-right: size(8);
//
//            path {
//                fill: $takeoff-gray;
//            }
//        }
//
//        .categories {
//            display: flex;
//            color: #ffffff;
//            flex-wrap: wrap;
//            justify-content: center;
//
//            a {
//                padding: 0 size(10) size(10);
//            }
//        }
//    }
//
//    .tags {
//        display: flex;
//        color: #ffffff;
//        flex-wrap: wrap;
//        justify-content: center;
//        margin: size(50) auto 0;
//        max-width: 90%;
//
//        a {
//            padding: 0 size(10) size(10);
//            display: flex;
//            color: $takeoff-blue;
//
//            svg {
//                width: size(20);
//                margin-right: size(8);
//            }
//        }
//    }
//
//
//    .hero-blog-pages {
//        padding-bottom: size(50);
//        padding-top: size(150);
//        @include max-medium-screen {
//            padding-top: size(200);
//            padding-bottom: size(100);
//        }
//
//        .text-hero {
//            .headline-1 {
//                font-size: size(65);
//                max-width: 90%;
//                margin: 0 auto;
//                @include max-large-screen {
//                    font-size: size(50);
//                }
//                @include max-medium-screen {
//                    font-size: size(40);
//                }
//            }
//        }
//    }
//
//    img {
//        max-width: 100%;
//        //object-fit: contain;
//        height: auto;
//    }
//
//    h1 {
//        color: $takeoff-gray;
//        font-family: $freight;
//        font-size: size(80);
//        font-weight: 400;
//        line-height: normal;
//        @include min-medium-screen {
//            font-size: size(100);
//        }
//        @include large-screen {
//            font-size: size(130);
//        }
//        @include large-screen {
//            font-size: size(120);
//        }
//    }
//
//    h2 {
//        color: $takeoff-black;
//        font-family: $freight;
//        font-size: size(35);
//        font-weight: 400;
//        line-height: size(44);
//        @include large-screen {
//            font-size: size(40);
//            line-height: size(50);
//        }
//    }
//
//    h3 {
//        color: $takeoff-gray;
//        font-family: $freight;
//        font-size: size(30);
//        font-weight: 400;
//        line-height: size(35);
//        @include min-medium-screen {
//            font-size: size(38);
//            line-height: size(45);
//        }
//        @include large-screen {
//            font-size: size(48);
//            line-height: size(50);
//        }
//        //font-size: size(50);
//        //line-height: size(64);
//        //&.size48 {
//        //    font-size: size(48);
//        //    line-height: size(50);
//        //
//        //    &.light {
//        //        font-weight: 300;
//        //    }
//        //}
//    }
//
//    h4 {
//        font-family: $freight;
//        font-size: size(30);
//        font-weight: 300;
//        //line-height: size(44);
//        line-height: normal;
//        @include large-screen {
//            font-size: size(40);
//        }
//
//        &.comfortta {
//            font-family: $freight;
//            font-weight: 400;
//        }
//    }
//
//    h5 {
//        color: $takeoff-gray;
//        font-family: $freight;
//        font-size: size(25);
//        font-weight: 400;
//    }
//
//    h6 {
//        color: $takeoff-black;
//        font-family: $freight;
//        font-size: size(20);
//        font-weight: 300;
//        line-height: normal;
//
//        &.heavy {
//            font-weight: 900;
//            color: $takeoff-white;
//        }
//
//        &.normal {
//            font-weight: 400;
//        }
//    }
//
//    p {
//        color: $takeoff-gray;
//        font-family: $freight;
//        font-size: size(21);
//        font-weight: 300;
//        line-height: size(30);
//        @include min-medium-screen {
//            font-size: size(25);
//        }
//        @include large-screen {
//            font-size: size(30);
//            line-height: size(36);
//        }
//
//        &.size19 {
//            font-size: size(19);
//            line-height: size(36);
//        }
//
//        &.size15 {
//            color: $takeoff-black;
//            font-size: size(15);
//            font-weight: 500;
//            line-height: normal;
//        }
//
//        &.size12 {
//            font-size: size(12);
//            line-height: normal;
//        }
//    }
//
//    h1, .h1, h2, .h2, h3, .h3 {
//        margin-top: size(30);
//        margin-bottom: size(10);
//    }
//
//    p {
//        margin: 0 0 size(20);
//    }
//
//    a {
//        color: $takeoff-gray;
//        font-family: $freight;
//        font-weight: 900;
//        transition: color 400ms;
//        font-size: inherit;
//
//        &:hover {
//            color: $takeoff-green !important;
//        }
//    }
//
//    ul {
//        margin-top: size(15);
//        margin-left: size(10);
//
//        li {
//            font-family: $freight;
//            font-size: size(19);
//            font-weight: 300;
//            line-height: size(27);
//            color: $takeoff-gray;
//            position: relative;
//            padding-left: size(31);
//            margin-bottom: size(12);
//
//            &:before {
//                content: '';
//                position: absolute;
//                top: size(4);
//                left: size(-9);
//                width: size(34);
//                height: size(22);
//                border-radius: 50%;
//                background-repeat: no-repeat;
//                background-size: contain;
//            }
//        }
//    }
//
//    .sidebar-wrapper {
//        margin-top: size(35);
//        @include large-screen {
//            margin-left: auto;
//            margin-top: 0;
//        }
//        @include large-screen {
//            max-width: size(493);
//        }
//
//        .sidebar-card {
//            @include large-screen {
//                margin-bottom: size(51);
//            }
//
//            .aspect-ratio {
//                @include large-screen {
//                    margin-bottom: size(80);
//                }
//                height: 100% !important;
//
//                img {
//                    z-index: 2;
//                }
//
//                svg {
//                    z-index: 0;
//                }
//            }
//
//            .headline-3 {
//                @include marginY(size(30));
//                @include large-screen {
//                    @include marginY(size(50), size(70));
//                }
//            }
//        }
//
//        .aspect-ratio {
//            padding-top: 60.21%;
//            @include large-screen {
//                padding-top: 101.21%;
//            }
//
//            .circle {
//                position: absolute;
//                top: size(-142);
//                left: size(336);
//                z-index: -1;
//                display: none;
//                @include large-screen {
//                    display: block;
//                }
//            }
//        }
//
//        .freebies-wrapper {
//            display: flex;
//            flex-wrap: wrap;
//            @include large-screen {
//                max-width: size(485);
//                margin-left: auto;
//                display: block;
//            }
//
//            &:before, &:after {
//                left: size(-46);
//                top: size(-65);
//                display: none;
//                @include large-screen {
//                    display: block;
//                }
//            }
//
//            &:after {
//                height: size(133);
//            }
//
//            .freebies-card {
//                margin-bottom: size(31);
//                flex-basis: 100%;
//                @include large-screen {
//                    flex-basis: 50%;
//                }
//
//                &:before {
//                    left: 30%;
//                }
//
//                .focus-card {
//                    background-color: $takeoff-white;
//                    @include paddingX(size(66), size(40));
//                    @include paddingY(size(81), size(68));
//                    @include large-screen {
//                        min-height: size(562);
//                    }
//
//                    .wrapper {
//                        @include large-screen {
//                            min-height: size(413);
//                        }
//                    }
//
//                    .headline-6 {
//                        color: $takeoff-gray;
//                    }
//
//                    .paragraph {
//                        color: $takeoff-gray;
//                        max-width: 100%;
//
//                        a {
//                            color: #a81934;
//                        }
//                    }
//
//                    .link {
//                        color: $takeoff-gray;
//                    }
//                }
//            }
//
//            .freebies-card-image {
//                @include paddingY(size(83));
//                @include paddingX(size(46), size(25));
//                flex-basis: 100%;
//                display: block;
//                @include large-screen {
//                    min-height: size(562);
//                }
//
//                @include large-screen {
//                    flex-basis: 50%;
//                }
//                @include large-screen {
//                    min-height: size(786);
//                }
//
//                .black-layout {
//                    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, #000000 100%);
//                }
//
//                .wrapper {
//                    @include large-screen {
//                        min-height: size(413);
//                    }
//                    @include large-screen {
//                        min-height: size(618);
//                    }
//                }
//            }
//
//            .focus-card {
//                border: 1px solid $takeoff-gray;
//                @include max-large-screen {
//                    @include paddingX(size(35) !important) ;
//                    @include paddingY(size(60) !important);
//                }
//            }
//        }
//    }
//}
//
//.hero-blog-pages {
//    min-height: 80vh;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    z-index: 1;
//    position: relative;
//    padding-top: size(80);
//    margin-bottom: size(50);
//    @include small-screen {
//        padding-top: size(120);
//        min-height: 60vh;
//    }
//
//    img {
//        position: absolute;
//        left: 0;
//        top: 0;
//        width: 100%;
//        height: 100%;
//        z-index: -1;
//        object-fit: cover;
//    }
//
//    .black-layout {
//        background-image: linear-gradient(180deg, rgba(51, 51, 51, 0.31) 0%, #000000 100%);
//        z-index: -1;
//        position: absolute;
//        width: 100%;
//        height: 100%;
//        left: 0;
//        top: 0;
//    }
//
//    .text-hero {
//        text-align: center;
//        z-index: 1;
//
//        .headline-1 {
//            color: $takeoff-white;
//            width: 100%;
//            word-break: break-all;
//            font-size: size(120);
//            @include small-screen {
//                font-size: size(60);
//            }
//        }
//
//        h2 {
//            margin-top: size(25);
//            font-size: size(40);
//            @include small-screen {
//                font-size: size(30);
//            }
//
//            span {
//                color: $takeoff-gray;
//            }
//        }
//    }
//}
// endregion single post wrapper

.h-100vh {
  min-height: 100vh;
}

.sprite-sheet {
  visibility: hidden;
  
  &__parent {
    overflow: hidden;
    height: auto;
  }
  
  &__aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
  }
  
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    @include square('auto');
  }
}

// custom model
.custom-model {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 400ms, z-index 400ms;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  
  &:before {
    content: '';
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  
  .custom-model-inner {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    max-height: 90vh;
    overflow-y: scroll;
    @include marginX(auto);
    max-width: 90%;
    @include min-medium-screen {
      max-width: 45%;
    }
    
    .custom-model-wrap {
      width: 100%;
      position: relative;
      background-color: $takeoff-white;
      border: size(1) solid $takeoff-gray;
      border-radius: size(6);
      box-shadow: 0 size(3) size(9) rgba(0, 0, 0, 0.5);
      padding: size(60);
      @include max-medium-screen {
        padding: size(30);
      }
    }
  }
  
  .close-btn {
    position: absolute;
    right: 0;
    bottom: calc(100% + 2rem);
    cursor: pointer;
    z-index: 5;
    transition: transform 400ms;
    
    path {
      fill: $takeoff-white;
    }
    
    &:hover {
      transform: scale(1.3);
    }
  }
  
  &.active {
    z-index: 99999;
    opacity: 1;
  }
}

// load more
.load-more {
  margin-top: size(80);
  min-height: size(30);
  display: flex;
  align-items: center;
  padding: size(13) size(30);
  border-radius: size(26);
  width: fit-content;
  @include marginX(auto);
  background: $takeoff-gray;
  cursor: pointer;
  
  span {
    font-family: $freight;
    font-size: size(20);
    color: $takeoff-white;
    margin-right: size(10);
  }
  
  .circle {
    @include square(size(30));
    border: solid size(3) $takeoff-blue;
    border-radius: 50%;
    transition: opacity 400ms;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation-name: rotate;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  &.loading {
    .circle {
      opacity: 1;
    }
  }
  
}

// footer form
.general-footer {
  position: relative;
  z-index: 9;
  margin-top: size(-2);
  
  @include paddingY(size(90));
  
  .container {
    @include min-medium-screen {
      max-width: size(890);
    }
    @include large-screen {
      max-width: size(862) !important;
    }
  }
  
  .footer-title {
    @include marginX(auto);
    text-align: center;
    margin-bottom: size(90);
    width: 100%;
    @include small-screen {
      font-size: size(60);
    }
    @include min-medium-screen {
      width: fit-content;
      margin-bottom: size(73);
    }
    
    &:before {
      top: 80%;
      left: 50%;
      transform: translateX(-50%);
      @include min-medium-screen {
        top: 76%;
      }
      @include large-screen {
        top: 79%;
      }
    }
    
    &:before {
      width: 90%;
      @include min-medium-screen {
        width: 114%;
      }
    }
    
    &:hover {
      &:after {
        width: 90%;
        @include min-medium-screen {
          width: 114%;
        }
      }
    }
  }
  
  .footer-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include marginX(auto);
    max-width: size(400);
    @include min-medium-screen {
      max-width: 100%;
      @include marginX(0);
    }
    
    .left-content, .right-content {
      flex-basis: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      @include min-medium-screen {
        flex-basis: 49%;
        width: 49%;
      }
    }
    
    .input-wrapper {
      position: relative;
      
      .focus-border {
        i:before, i:after, &:before, &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: size(2);
          background-color: $takeoff-orange;
          transition: 500ms;
        }
        
        i:before, i:after {
          width: size(2);
          height: 0;
        }
        
        &:after {
          top: auto;
          bottom: 0;
          left: auto;
          right: 0;
        }
        
        i {
          &:after {
            left: auto;
            right: 0;
            top: auto;
            bottom: 0;
          }
        }
      }
      
      &.has-content {
        label:not(.file-label) {
          top: size(-10) !important;
          left: 0 !important;
          font-size: size(12);
          color: $takeoff-orange !important;
          font-weight: 400;
        }
      }
      
      &.focused {
        
        label:not(.file-label) {
          top: size(-10) !important;
          left: 0 !important;
          font-size: size(12);
          color: $takeoff-orange !important;
        }
        
        input, textarea {
          border-color: $takeoff-orange;
        }
        
        .focus-border {
          &:before, &:after {
            width: 100%;
          }
          
          i:before, i:after {
            height: 100%;
          }
        }
      }
      
      &.invalid {
        border: size(2) solid #ff3131;
        position: relative;
        z-index: 2;
      }
      
      &[class *= 'textarea'] {
        height: size(250);
        @include min-medium-screen {
          height: 100%;
        }
        
        textarea {
          resize: none;
          height: 100%;
        }
        
        label {
          top: size(30);
        }
      }
    }
    
    .input-wrapper, .select-wrapper {
      margin-bottom: size(32);
      height: size(70);
      @include min-medium-screen {
        margin-bottom: 0;
      }
      
      &:not(:last-child) {
        margin-bottom: size(32);
      }
    }
    
    .select-wrapper {
      position: relative;
      display: block;
      
      select {
        margin-bottom: 0;
        padding-right: size(54);
      }
      
      svg {
        position: absolute;
        top: 50%;
        pointer-events: none;
        right: size(30);
        transform: translateY(-50%);
        @include square(size(22));
        
        path {
          fill: $takeoff-white;
        }
      }
    }
    
    .input-file {
      border: size(2) solid #797979;
      border-radius: size(10);
      transition: all 400ms;
      
      input {
        @include paddingY(size(23));
        opacity: 0;
        cursor: pointer;
      }
      
      label {
        font-weight: 700;
        font-size: size(18);
        letter-spacing: size(5.4);
        color: #797979;
        padding-right: size(35);
        line-height: 100%;
        
        &.small-label {
          letter-spacing: size(1.5);
          font-size: size(14);
          animation-name: scaling;
          animation-duration: 2.6s;
        }
      }
      
      &:hover {
        border-color: $takeoff-orange;
        
        label {
          color: $takeoff-orange;
        }
      }
      
      @keyframes scaling {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      
      .clear-input-file {
        @include square(size(20));
        position: absolute;
        right: size(15);
        top: 50%;
        transform: translateY(-50%) scale(0);
        opacity: 0;
        transition: opacity 500ms 200ms, transform 500ms;
        z-index: 1;
        cursor: pointer;
        
        &.active {
          transform: translateY(-50%) scale(1);
          opacity: 1;
        }
        
        &:hover {
          path {
            fill: $takeoff-orange;
          }
        }
        
        path {
          fill: #797979;
        }
      }
    }
    
    select {
      -webkit-appearance: none;
    }
    
    label {
      color: $takeoff-white;
      font-family: $muse;
      font-size: size(14);
      font-weight: 500;
      letter-spacing: size(4.2);
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: size(22);
      transition: color, top, font-size, left, letter-spacing;
      transition-duration: 500ms;
      pointer-events: none;
      z-index: 2;
      @include min-medium-screen {
        left: size(30);
      }
    }
    
    input, textarea, select {
      color: $takeoff-white;
      border: size(1) solid $takeoff-white;
      transform: translateZ(0);
      font-family: $muse;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: size(4.2);
      background: none;
      @include paddingY(size(25));
      @include paddingX(size(22));
      border-radius: size(10);
      transition: border-color 500ms;
      width: 100%;
      height: 100%;
      
      @include min-medium-screen {
        border-width: size(1);
        @include paddingX(size(30));
        font-size: size(14);
      }
    }
    
    .choices {
      margin-bottom: 0;
      font-size: unset;
      height: 100%;
      
      &__inner {
        padding: size(25) size(22) !important;
        border: size(1) solid $takeoff-white;
        transform: translateZ(0);
        border-radius: size(10);
        background: none;
        color: $takeoff-white;
        position: relative;
        z-index: 9;
        height: 100%;
        display: flex;
        align-items: center;
        @include min-medium-screen {
          padding: size(25) size(30) !important;
          border: size(1) solid $takeoff-white;
        }
      }
      
      &__list--dropdown {
        border-top: 0;
        border-color: $takeoff-charcoal;
        padding: size(17) size(5) size(5);
        //visibility: visible;
        box-shadow: 0 size(3) size(6) rgba(0, 0, 0, 0.16);
        margin-top: size(-12);
        
        .choices__list {
          > div {
            &:first-child {
              display: none;
            }
          }
        }
      }
      
      &__item--selectable {
        font-size: size(14);
        font-family: $muse;
        font-weight: 500;
      }
      
      &__item--choice {
        padding: size(20) size(30);
        font-size: size(20);
        transition: background 500ms;
        
        &.is-highlighted {
          background: #f0f0f0;
        }
      }
      
      &__placeholder {
        color: $takeoff-white;
        font-family: $muse;
        font-size: size(14);
        font-weight: 500;
        letter-spacing: size(4.2);
        opacity: 1;
        pointer-events: none;
        text-transform: uppercase;
        cursor: auto;
      }
      
      &[data-type*='select-one'] {
        &:after {
          display: none;
        }
      }
      
      &__list {
        
        &--dropdown {
          z-index: 5;
        }
        
        &--single {
          padding: 0;
        }
      }
    }
    
    .btn {
      min-width: 100%;
      cursor: pointer;
      padding: size(25) size(15);
    }
  }
  
  &.has-clouds {
    @include paddingY(size(0), size(135));
    @include min-medium-screen {
      @include paddingY(size(0), size(135));
    }
    @include large-screen {
      @include paddingY(size(0), size(135));
    }
  }
  
  &.light {
    background: transparent;
    
    label {
      color: #666666;
    }
    
    .select-wrapper {
      svg {
        path {
          fill: $takeoff-charcoal;
        }
      }
    }
    
    .choices {
      &__inner {
        border: size(2) solid #808080;
        color: #111111;
        @include min-medium-screen {
          border: size(1) solid #808080;
        }
      }
      
      &__placeholder {
        color: #666666;
      }
    }
    
    input, textarea, select {
      color: #666666;
      border: size(2) solid #808080;
      @include min-medium-screen {
        border: size(1) solid #808080;
      }
    }
    
    .input-file {
      border-color: #808080;
    }
  }
}

// fading animation
@keyframes fading {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.8;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

// gradient animation
@keyframes gradient {
  from {
    background-position: 0
  }
  to {
    background-position: 100%
  }
  
}

// gray circle
.gray-circle {
  position: absolute;
  top: 100%;
  right: 18.04%;
  border-radius: 50%;
  @include square(size(85));
  background-image: radial-gradient(size(69) size(69) at 884.21% 1662.61%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 81%, #ffffff 100%);
  opacity: 0.37;
  //animation: bouncing alternate-reverse 10s ease-in infinite;
  @include min-medium-screen {
    top: calc(100% + 6rem);
    @include square(size(115));
    right: 13.04%;
  }
  
  &.small-gray-circle {
    @include square(size(58));
    right: 5%;
    top: 99%;
    animation-delay: 200ms;
    @include min-medium-screen {
      @include square(size(78));
    }
    @include large-screen {
      right: size(15);
    }
  }
}

.white-circle {
  position: absolute;
  @include square(size(104));
  background-image: radial-gradient(size(105) size(105) at 16.09% 699.43%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 81%, #ffffff 100%);
  border-radius: 50%;
  box-shadow: 0 0 size(30) $takeoff-off-white;
  //animation: bouncing alternate-reverse 10s ease-in infinite;
  @include large-screen {
    @include square(size(174));
  }
  
  &.white-small-circle {
    @include square(size(50));
    animation-delay: 200ms;
  }
}

.general-circle {
  position: absolute;
  //animation: bouncing alternate-reverse 10s ease-in infinite;
}

// region circles animation delay need to make it with loop sass
.circle-2 {
  animation-delay: 400ms;
}

.circle-3 {
  animation-delay: 600ms;
}

.circle-4 {
  animation-delay: 800ms;
}

.circle-5 {
  animation-delay: 1s;
}

.small-circle-1 {
  animation-delay: 200ms;
}

.small-circle-2 {
  animation-delay: 400ms;
}

.small-circle-3 {
  animation-delay: 600ms;
}

.small-circle-4 {
  animation-delay: 800ms;
}

.small-circle-5 {
  animation-delay: 1s;
}

.small-circle-6 {
  animation-delay: 1.2s;
}

.dark-circle-2 {
  animation-delay: 200ms;
}

.dark-circle-3 {
  animation-delay: 400ms;
}

// endregion circles animation delay need to make it with loop sass

.dots-img {
  animation: fading 10s infinite ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.input-wrapper {
  position: relative;
  
  &:before {
    content: "\2713";
    position: absolute;
    top: 50%;
    right: size(20);
    transform: translateY(-50%);
    color: #368162;
    font-size: size(21);
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms;
    z-index: 2;
  }
  
  &:after {
    content: "This field is required";
    width: fit-content;
    color: #ff3131;
    position: absolute;
    right: 0;
    bottom: calc(100% + 0.5rem);
    font-family: $muse;
    font-size: size(14);
    font-weight: 500;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms;
    z-index: 2;
    @include min-medium-screen {
      font-size: size(16);
    }
  }
  
  &.success {
    input {
      border-color: #1d9107 !important;
    }
    
    &:before {
      opacity: 1;
    }
  }
  
  &.wpcf7-not-valid {
    border-color: #ff3131 !important;
  }
  
  &.error {
    input {
      border-color: #ff3131 !important;
    }
    
    &:after {
      opacity: 1;
    }
  }
}

blockquote {
  color: $takeoff-charcoal;
  font-family: $muse;
  font-size: size(28);
  font-weight: 300;
  font-style: normal;
  letter-spacing: size(0.56);
  line-height: size(44);
  text-align: center;
  margin: size(50) auto;
  max-width: size(500);
  position: relative;
  padding-top: size(40);
  @include min-medium-screen {
    max-width: size(740);
  }
  
  p {
    font-size: size(28) !important;
  }
  
  &:after, &:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-size: 99.5% 99.5%;
    width: size(31);
    height: size(26);
  }
  
  &:after {
    //background-image: url(../html/images/comma-icon.svg);
    background-repeat: no-repeat;
    
  }
  
  &:before {
    display: none;
    //background-image: url(../html/images/dark-comma-icon.svg);
    background-repeat: no-repeat;
  }
  
  &.dark {
    color: $takeoff-white;
    
    &:after {
      display: none;
    }
    
    &:before {
      display: flex;
    }
  }
}

// endregion general classes


// html tag
.html-tag {
  color: #4d4d4d;
  font-family: $muse;
  font-size: size(14);
  font-weight: 400;
  letter-spacing: size(4.8);
  position: absolute;
  top: 0;
  @include min-medium-screen {
    font-size: size(16);
  }
}

// header spacer
.header-spacer {
  margin-bottom: size(-2);
  background: transparent;
  
  &.dark {
    background: $takeoff-charcoal !important;
  }
  
  &.light {
    background: $takeoff-white !important;
  }
  
  &.home-header {
    display: none;
    background-color: transparent !important;
  }
}

// grid lines
.grid-lines {
  position: absolute;
  width: 100%;
  height: 100%;
  //display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  @include paddingX(size(20));
  @include min-medium-screen {
    @include paddingX(size(35));
  }
  @include large-screen {
    @include paddingX(size(20));
    max-width: 76.8%;
  }
  
  div {
    background: #f4f4f4;
    width: size(2);
    height: 100%;
  }
}

// fix ruler width
html {
  overflow: hidden;
}

#wpadminbar ul {
  
  li {
    &:before {
      display: none;
    }
  }
}

.smoke-container {
  margin-top: auto;
  position: relative;
  top: 0;
  left: 50%;
  width: 110%;
  height: 33vw;
  transform: translateX(-50%);
  
  canvas {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
  }
  
}

// region useless styles footer
//section.footer-with-budget {
//  @include paddingY(size(170), size(135));
//  @include min-medium-screen {
//    @include paddingY(size(280), size(135));
//  }
//  @include large-screen {
//    @include paddingY(size(400), size(135));
//  }
//
//  .container {
//    @include min-medium-screen {
//      max-width: size(890);
//    }
//    @include large-screen {
//      max-width: size(862) !important;
//    }
//  }
//
//  .footer-title {
//    @include marginX(auto);
//    text-align: center;
//    margin-bottom: size(90);
//    width: 100%;
//    @include small-screen {
//      font-size: size(60);
//    }
//    @include min-medium-screen {
//      width: fit-content;
//      margin-bottom: size(73);
//    }
//
//    &:before, &:after {
//      top: 80%;
//      @include min-medium-screen {
//        top: 76%;
//      }
//      @include large-screen {
//        top: 79%;
//      }
//    }
//
//    &:before {
//      width: 90%;
//      @include min-medium-screen {
//        width: 114%;
//      }
//    }
//
//    &:hover {
//      &:after {
//        width: 90%;
//        @include min-medium-screen {
//          width: 114%;
//        }
//      }
//    }
//  }
//
//  &.light {
//    background: transparent;
//
//    label {
//      color: #666666;
//    }
//
//    .select-wrapper {
//      svg {
//        path {
//          fill: $takeoff-charcoal;
//        }
//      }
//    }
//
//    .choices {
//      &__inner {
//        border: size(1) solid #808080;
//        color: #111111;
//      }
//
//      &__placeholder {
//        color: #666666;
//      }
//    }
//
//    input, textarea, select {
//      color: #666666;
//      border: size(1) solid #808080;
//    }
//
//    .input-file {
//      border-color: #808080;
//    }
//  }
//}
//
//section.footer-without-budget {
//  @include paddingY(size(170), size(211));
//  @include min-medium-screen {
//    @include paddingY(size(350), size(180));
//  }
//  @include large-screen {
//    @include paddingY(size(350), size(280));
//  }
//
//  .footer-title {
//    margin-bottom: size(73);
//    width: 65%;
//    @include min-medium-screen {
//      width: fit-content;
//    }
//
//    &:before, &:after {
//      width: 85%;
//      @include min-medium-screen {
//        width: 138%;
//      }
//    }
//
//    &:after {
//      width: 0;
//    }
//
//    &:hover {
//      &:after {
//        width: 85%;
//        @include min-medium-screen {
//          width: 138%;
//        }
//      }
//    }
//  }
//}

// endregion

section.in-line-form {
  position: relative;
  z-index: 3;
  @include paddingY(size(85), size(55));
  @include min-medium-screen {
    @include paddingY(size(70), size(43));
  }
  
  &:before, &:after {
    content: "";
    position: absolute;
    height: size(4);
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #e5a335 0%, #8a5b95 33%, #2a77a0 66%, #65b093 100%);
  }
  
  &:after {
    top: auto;
    bottom: 0;
  }
  
  .headline-3 {
    max-width: size(500);
    margin: 0 auto size(70);
    text-align: center;
    @include min-medium-screen {
      margin-bottom: size(49);
    }
  }
  
  .data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: size(494);
    margin: 0 auto;
    @include min-medium-screen {
      max-width: 100%;
    }
    
    .input-wrapper {
      max-width: 100%;
      flex-basis: 100%;
      height: size(71);
      margin-bottom: size(30);
      
      @include min-medium-screen {
        flex-basis: 23.18%;
      }
      
      input {
        width: 100%;
        height: 100%;
        background-color: $takeoff-gray-20;
        position: relative;
        outline: none;
        border-radius: size(10);
        border: size(1) solid $takeoff-gray-80;
        color: $takeoff-gray;
        font-family: $muse;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        letter-spacing: size(4.2);
        padding: size(30);
        transition: border-color 500ms;
        @include min-medium-screen {
          font-size: size(14);
        }
        
        &:focus {
          border-color: $takeoff-white;
        }
        
        @include light {
          display: none;
          
        }
      }
    }
    
    .btn {
      min-width: 100%;
      height: size(71);
      background-color: $takeoff-white;
      
    }
    
  }
  
  &.light {
    .data {
      .input-wrapper {
        input {
          background-color: $takeoff-white;
          color: #7c7c7c;
          
          &:focus {
            border-color: $takeoff-orange;
          }
        }
      }
      
      .btn {
        background-color: $takeoff-charcoal;
        color: $takeoff-white;
      }
    }
  }
}

section.page-not-found-section {
  position: relative;
  z-index: 2;
  margin-bottom: size(1);
  @include marginY(size(-3), size(2));
  @include paddingY(size(100), size(260));
  @include min-medium-screen {
    @include paddingY(size(120), size(470));
  }
  @include large-screen {
    padding-top: size(113);
  }
  
  .planet-circle {
    position: absolute;
    width: size(843);
    height: size(400);
    top: 5%;
    right: -94%;
    z-index: -1;
    @include min-medium-screen {
      right: -50%;
      top: 10%;
      
    }
    @include large-screen {
      right: -24%;
      top: 8%;
    }
  }
  
  .star-1 {
    left: 86%;
    top: 71%;
    
    @include large-screen {
      left: 86%;
      top: 71%;
    }
  }
  
  .star-2 {
    left: 14%;
    top: 48%;
    @include min-medium-screen {
      top: 42%;
    }
    @include large-screen {
      left: 32%;
      top: 51%;
    }
  }
  
  .starts {
    width: size(155);
    height: size(120);
    position: absolute;
    z-index: -1;
    left: 35%;
    bottom: 16%;
    @include min-medium-screen {
      bottom: 25%;
    }
  }
  
  .circle {
    position: absolute;
    
    &.dark-circle-1 {
      @include square(size(177));
      top: 32%;
      left: -17%;
      @include min-medium-screen {
        left: -4%;
      }
    }
    
    &.dark-circle-2 {
      @include square(size(98));
      top: 70%;
      left: 11%;
      @include min-medium-screen {
        top: 67%;
        left: 18%;
      }
      @include large-screen {
        top: 55%;
        left: 21%;
      }
    }
    
    &.dark-circle-3 {
      @include square(size(33));
      top: 84%;
      left: 20.5%;
      @include min-medium-screen {
        top: 68%;
        left: 27.5%;
      }
    }
    
    &.dark-circle-4 {
      @include square(size(18));
      top: 46%;
      left: 19.5%;
    }
    
    &.dark-circle-5 {
      @include square(size(18));
      top: 56.1%;
      left: 18%;
    }
    
    
  }
  
  .cloud {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 33vw;
    top: auto;
  }
  
  .content {
    max-width: size(660);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    
    h2 {
      margin: 0 auto;
      
      &:before, &:after {
        display: none;
      }
    }
    
    p {
      text-align: center;
    }
    
    .astronaut {
      width: size(362);
      height: size(269);
      margin-top: size(66);
      margin-left: size(53);
      @include min-medium-screen {
        margin-top: size(136);
      }
    }
  }
}

.autopilot-rocket-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 30vh;
  margin-top: -15vh;
  z-index: 0;
  
  .rocket {
    position: absolute;
    z-index: 10;
    width: size(431*.75);
    height: size(228*.75);
    @include min-medium-screen {
      width: size(431);
      height: size(228);
    }
  }
  
  .circle {
    position: absolute;
    display: inline-block;
  }
  
  .planet {
    background-color: var(--takeoff-charcoal);
    z-index: 100;
    border-radius: 50%;
  }
  
  .shooting-star {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, $takeoff-white 150%);
  }
  
  .small-circle {
    @include square(size(18));
    left: 100%;
    z-index: 2;
  }
  
  
}


.wpcf7 form .wpcf7-response-output {
  font-size: size(14);
  text-align: center;
  line-height: size(22);
  @include min-medium-screen {
    font-size: size(16);
    text-align: left;
  }
}


.dark .wpcf7-response-output {
  color: #ffffff;
}


.wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
  color: #666666;
  font-weight: 500;
  letter-spacing: size(4.2);
  font-family: $muse;
  border-radius: size(10);
  border: size(1) solid gray !important;
  transform: translateZ(0);
  padding: size(10) size(20) !important;
  max-width: size(400) !important;
  margin: size(20) auto size(10) !important;
  @include min-medium-screen {
    max-width: 100% !important;
    padding: size(20) !important;
    margin: size(20) size(5) size(10) !important;
    
  }
}

.wpcf7 form.invalid .wpcf7-response-output {
  border-color: #ff3131 !important;
  color: #ff3131 !important;
}

section {
  position: relative;
}

.background-animated-elements {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.star {
  //background: url(../html/images/star.png) no-repeat;
  position: absolute;
  width: size(10);
  height: size(10);
  z-index: 0;
  background-size: contain;
}

.rock {
  position: absolute;
  width: size(10);
  height: size(10);
  border-radius: 50%;
  background-color: #ffffff;
  opacity: .2;
  z-index: 0;
}

.shooting-star {
  position: absolute;
  
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $takeoff-white 150%);
  height: size(2);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 0;
  width: size(320);
  
  &.horizontal-shooting-star {
    width: size(2);
    height: size(37);
    background-image: linear-gradient(to top, $takeoff-white 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 5;
  }
}

section.thank-you {
  text-align: center;
  padding-top: size(77);
  position: relative;
  z-index: 3;
  overflow: hidden;
  @include min-medium-screen {
    padding-top: size(127);
  }
  @include large-screen {
    min-height: size(1195);
  }
  
  .thank-you-title {
    width: 100%;
    margin-bottom: size(16);
    
    &:before {
      display: none;
    }
  }
  
  .thank-you-desc {
    max-width: size(650);
    @include marginX(auto);
    margin-bottom: size(33);
    @include min-medium-screen {
      margin-bottom: size(52);
    }
  }
  
  .back-to-page {
    @include marginX(auto);
  }
  
  .ship-space {
    display: none;
    margin-top: size(28);
    @include square(size(301));
    @include min-medium-screen {
      width: size(317);
      height: size(461);
    }
    @include large-screen {
      width: size(427);
      height: size(611);
      margin-top: size(87);
    }
  }
  
  .circle-lines {
    @include square(size(94));
    left: 10.42%;
    top: 50.72%;
    @include min-medium-screen {
      top: 40.72%;
      @include square(size(144));
    }
    @include large-screen {
      @include square(size(234));
      left: 15.42%;
      top: 33.72%;
    }
    
    &-small {
      top: 59.17%;
      left: 77.64%;
      @include min-medium-screen {
        top: 53.17%;
        left: 70.64%;
      }
      @include large-screen {
        @include square(size(166));
      }
    }
  }
  
  .rocket-star {
    width: size(305);
    height: size(139);
    position: absolute;
    z-index: 9;
    top: 8%;
    right: -29%;
    @include min-medium-screen {
      right: -16%;
      top: 11%;
    }
    @include large-screen {
      right: -3%;
    }
  }
  
  .stars {
    left: 48.78%;
    top: 69.44%;
    @include square(size(85));
    @include min-medium-screen {
      width: size(155);
      height: size(119);
    }
  }
  
  .circle {
    top: 53.17%;
    left: size(-130);
    @include square(size(177));
    @include min-medium-screen {
      left: size(-100);
    }
  }
  
  .general-circle {
    @include square(size(18));
    left: 19.21%;
    top: 68.03%;
    
    &-1 {
      left: 23.5%;
      top: 70.45%;
    }
  }
  
  .rocket {
    margin-top: size(30);
    width: size(188);
    height: size(203);
    @include min-medium-screen {
      margin-top: size(50);
      width: size(248);
      height: size(253);
    }
    @include large-screen {
      margin-top: size(116);
    }
  }
  
  .man {
    display: none;
    margin-top: size(28);
    width: size(173);
    height: size(230);
    @include min-medium-screen {
      width: size(233);
      height: size(300);
    }
    @include large-screen {
      margin-top: size(77);
    }
  }
  
  .abs-shape {
    position: absolute;
    z-index: -1;
  }
  
  .smoke-container {
    top: unset;
    z-index: 0;
    bottom: 0;
    margin-bottom: -1px;
    //width: 100%;
    //height: 24vw;
    @include large-screen {
      //bottom: -12%;
    }
  }
  
  .shape-wrapper {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    left: 0;
    //height: 50vh;
    height: size(230);
    
    .shape-circle {
      position: absolute;
      background: #f4f4f4;
      border-radius: 50%;
      
      &-1 {
        left: 7.28%;
        top: 50.94%;
        @include square(size(60));
        @include min-medium-screen {
          left: 13.28%;
          @include square(size(114));
        }
      }
      
      &-2 {
        left: 23.21%;
        top: 20.18%;
        @include square(size(78));
        @include min-medium-screen {
          top: 30.18%;
          left: 26.21%;
        }
      }
      
      &-3 {
        left: 55%;
        top: 64.38%;
        @include square(size(58));
      }
      
      &-4 {
        left: 64.71%;
        top: 22.87%;
        @include square(size(60));
        @include min-medium-screen {
          left: 58.71%;
          @include square(size(100));
        }
        @include large-screen {
          @include square(size(164));
        }
      }
      
      &-5 {
        top: 45.75%;
        left: 82.78%;
        @include square(size(45));
        @include min-medium-screen {
          left: 74.78%;
          @include square(size(95));
        }
      }
    }
    
    @include min-medium-screen {
      height: size(310);
    }
    @include large-screen {
      height: size(430);
    }
    
    .shape-bg {
      width: 100%;
      height: 100%;
    }
  }
  
  &.ver-1 {
    .ship-space {
      display: unset;
    }
    
    .general-circle {
      display: none;
    }
    
    .rocket {
      display: none;
    }
    
    .stars {
      left: 18.42%;
      top: 63.18%;
      @include min-medium-screen {
        top: 59.18%;
      }
    }
  }
  
  &.ver-2 {
    
    .man {
      display: unset;
    }
    
    .shape-wrapper {
      display: unset;
    }
    
    .smoke-container {
      display: none;
    }
    
    .rocket {
      display: none;
    }
    
    .general-circle {
      display: none;
    }
    
    .circle-lines-small {
      @include min-medium-screen {
        top: 47.07%;
      }
    }
    
    .stars {
      display: none;
    }
    
    .smoke-container {
      display: none;
    }
  }
}


