// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;
// color
$takeoff-black: var(--takeoff-black);
$takeoff-white: var(--takeoff-white);
$takeoff-off-white: var(--takeoff-off-white);
$takeoff-gray: var(--takeoff-gray);
$takeoff-nero: var(--takeoff-nero);
$takeoff-charcoal: var(--takeoff-charcoal);
$takeoff-gray-30: var(--takeoff-gray-30);
$takeoff-gray-79: var(--takeoff-gray-79);
$takeoff-gray-80: var(--takeoff-gray-80);
$takeoff-gray-20: var(--takeoff-gray-20);
$takeoff-orange: var(--takeoff-orange);
$takeoff-purple: var(--takeoff-purple);
$takeoff-blue: var(--takeoff-blue);
$takeoff-green: var(--takeoff-green);
$takeoff-dark-green: var(--takeoff-dark-green);
// fonts
$muse: 'MuseoSans';
$freight: "Freight Disp Pro Book - Regular";
$freight_italic: "Freight Disp Italic";
//override bootstrap variables
$grid-gutter-width: 9.5rem; // 95px
$container-max-widths: (
        'sm': 100%, //560px
        'md': 100%, //570px
        'lg': 76.8%, //760px 88.4
);
$grid-breakpoints: (
        'xs': 0,
        'md': $medium-screen-min-width,
        'lg': $large-screen-min-width,
);