@import "variables";
@import "mixins";
@import "root";
@import "swiper/css";

//region HTML tags
* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 10px;
  font-family: $rubik;
  width: 100vw;
  //::-webkit-scrollbar {
  //  display: none;
  //}
}

// region customize html scroll bar


::-webkit-scrollbar {
  width: size(7);
  display: none;
}

::-webkit-scrollbar-track {
  background-color: $rentReporters-shark;
  -webkit-border-radius: size(7);
  border-radius: size(7);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: size(7);
  border-radius: size(7);
  background: $rentReporters-blue;
}

// endregion customize html scroll bar

body, html {
  overflow-x: hidden;
}

body {
  background-color: $rentReporters-off-white;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture {
  display: block;
}

button {
  border: none;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, form {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

//
//section:not(.js-loaded){
//  height: 80vh;
//  overflow: hidden;
//}

//endregion HTML tags

.container {
  @include paddingX(size(30));
  @include large-screen {
    @include paddingX(size(60));
  }
  
  &.large-padding {
    @include paddingX(size(30));
    @include large-screen {
      @include paddingX(size(150));
    }
  }
}

//region scroll animation classes
.line-overflow,
.word-overflow {
  overflow: hidden;
  vertical-align: top;
}

[class ^="iv-st"], [class *= " iv-st"] {
  opacity: 0;
  visibility: hidden;
}

.iv-st-from-top, .iv-st-from-bottom, .iv-st-from-left, .iv-st-from-right, .word-up, .line-up, .real-line-up {
  opacity: 0;
  visibility: hidden;
}

//endregion scroll animation classes

//region utility classes
.overflow-hidden {
  overflow: hidden;
}

.hover-arrow {
  .right-arrow, .left-arrow {
    transition: transform $duration;
  }
  
  &:hover {
    .right-arrow {
      transform: translateX(size(13));
    }
    
    .left-arrow {
      transform: translateX(size(13));
    }
  }
}

.hover-zoom {
  transition: transform 800ms;
  
  &:hover {
    transform: scale(1.04) !important;
  }
}

.hover-zoom-child {
  overflow: hidden;
  position: relative;
  
  &:before {
    position: absolute;
    top: 0;
    left: -85%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    transition: left 400ms;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
  }
  
  > .zoom-in {
    transition: transform 800ms;
  }
  
  &:hover {
    &:before {
      left: 125%;
    }
    
    > .zoom-in {
      transform: scale(1.02) !important;
    }
  }
}

.hover-darken {
  transition: filter 400ms;
  
  &:hover {
    filter: brightness(0.6);
  }
}

.gutter {
  &-0 {
    @include change-gutter(0);
  }
  
  &--115 {
    @include change-gutter(size(50));
    @include large-screen {
      @include change-gutter(size(115))
    }
  }
  
  &--115v {
    @include change-gutter(false, size(50));
    @include large-screen {
      @include change-gutter(false, size(115))
    }
  }
  
  &--98 {
    @include change-gutter(size(76));
    @include large-screen {
      @include change-gutter(size(98));
    }
  }
  
  &--40 {
    @include change-gutter(size(40));
  }
}

.mobile-only {
  display: flex;
  @include min-medium-screen {
    display: none;
  }
}

.desktop-only {
  display: none;
  @include min-medium-screen {
    display: flex;
  }
}

.aspect-ratio {
  position: relative;
  height: 0;
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

// region Awesome Button Hover
//.swiper-button {
//  @include square(size(48));
//  border-radius: 50%;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  cursor: pointer;
//  position: relative;
//  transition: opacity 500ms;
//  color: $rentReporters-blue;
//
//  .swiper-btn-bg {
//    background: currentColor;
//    border-radius: 100%;
//    transform: scale(0);
//  }
//
//  .swiper-btn-border {
//    border: size(3) solid currentColor;
//    border-radius: 50%;
//    @include min-medium-screen {
//      border-width: size(3);
//    }
//  }
//
//  .swiper-btn-bg, .swiper-btn-border {
//    position: absolute;
//    width: 100%;
//    height: 100%;
//    top: 0;
//    left: 0;
//    transition: transform .4s cubic-bezier(.19, 1, .22, 1), opacity .4s cubic-bezier(.19, 1, .22, 1);
//    will-change: transform;
//  }
//
//  &.swiper-button-next {
//    transform: rotate(180deg);
//  }
//
//  &:not(.swiper-button-disabled) {
//    &:hover {
//      .swiper-btn-bg {
//        transform: scale(1);
//        transition: transform .9s cubic-bezier(.19, 1, .22, 1);
//      }
//
//      svg {
//        color: $rentReporters-white;
//      }
//
//      .swiper-btn-border {
//        opacity: 0;
//        transform: scale(1.5);
//        transition: transform .4s cubic-bezier(.19, 1, .22, 1), opacity .3s cubic-bezier(.19, 1, .22, 1);
//      }
//    }
//  }
//
//  svg {
//    position: relative;
//    width: 60.25%;
//    height: 79%;
//    color: currentColor;
//  }
//
//  &.swiper-button-disabled {
//    cursor: no-drop;
//    opacity: 0.5;
//  }
//}
// endregion Awesome Button Hover
.swiper-button {
  @include square(size(46));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: opacity 500ms;
  color: $rentReporters-blue;
  @include min-medium-screen {
    @include square(size(48));
  }
  
  &.swiper-button-next {
    transform: rotate(180deg);
  }
  
  &:hover {
    svg {
      transform: scale(1.1);
      
      path {
        fill: $rentReporters-light-blue;
      }
    }
  }
  
  svg {
    position: relative;
    @include square(100%);
    color: currentColor;
    transition: transform $duration $bouncing;
  }
}

@keyframes bouncing {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(size(-20), size(-50));
  }
}

svg {
  path {
    transition: fill $duration;
  }
}

//endregion utility classes

// region general classes

.headline-1, .wysiwyg-block h1 {
  color: $rentReporters-shark;
  font-size: size(34);
  line-height: size(40);
  font-weight: 700;
  @include min-medium-screen {
    font-size: size(41);
    line-height: size(45);
  }
  @include large-screen {
    font-size: size(48);
    line-height: normal;
  }
}

.headline-2, .wysiwyg-block h2 {
  color: $rentReporters-black;
  font-weight: 600;
  font-size: size(34);
  line-height: size(40);
  @include large-screen {
    font-size: size(36);
    line-height: size(42);
  }
}

.headline-3, .wysiwyg-block h3 {
  color: $rentReporters-black;
  font-size: size(16);
  letter-spacing: size(0.36);
  font-weight: 600;
  line-height: size(24);
  @include large-screen {
    letter-spacing: normal;
    font-size: size(18);
  }
}

.headline-4, .wysiwyg-block h4 {
  color: $rentReporters-black;
  font-size: size(14);
  font-weight: 600;
  line-height: 1.75;
  @include min-medium-screen {
    font-size: size(14);
  }
}

.headline-5, .wysiwyg-block h5 {
  color: $rentReporters-shark;
  font-size: size(24);
  font-weight: 600;
  line-height: size(36);
}

.headline-6, .wysiwyg-block h6 {
  color: $rentReporters-shark;
  font-size: size(14);
  font-weight: 400;
  line-height: size(24);
  @include min-medium-screen {
    font-size: size(16);
  }
  @include large-screen {
    font-size: size(18);
  }
}


.small-text {
  color: $rentReporters-shark;
  font-size: size(14);
  font-weight: 600;
  line-height: size(24);
  @include min-medium-screen {
    line-height: normal;
  }
}

.tiny-text {
  color: $rentReporters-black;
  font-size: size(14);
  font-weight: 600;
}

.paragraph, .wysiwyg-block p {
  color: $rentReporters-shark;
  font-size: size(16);
  font-weight: 300;
  line-height: size(24);
  @include min-medium-screen {
    font-size: size(20);
    line-height: size(28);
  }
  @include large-screen {
    font-size: size(24);
    line-height: size(36);
  }
  
  &.size16 {
    font-size: size(16);
    font-weight: 400;
    line-height: size(24);
    @include min-medium-screen {
      line-height: size(28);
    }
  }
  
  &.size18 {
    font-size: size(18);
    font-weight: 300;
    line-height: size(24);
  }
  
  &.size14 {
    font-size: size(14);
    font-weight: 400;
    line-height: size(24);
  }
  
  &.semi-bold {
    font-size: size(16);
    font-weight: 400;
    line-height: size(30);
    @include large-screen {
      line-height: size(28);
    }
  }
  
  // override strong,b font weight
  strong, b {
    font-weight: 600;
  }
}

//.wysiwyg-block p {
//  span {
//    display: inline-block;
//    line-height: 157%;
//  }
//}

.link, .wysiwyg-block a {
  position: relative;
  font-size: size(14);
  font-weight: 600;
  padding-bottom: size(6);
  width: fit-content;
  //display: block;
  transition: margin-left, color;
  transition-duration: $duration;
  color: $rentReporters-blue;
  line-height: 100%;
  --delay: 200ms;
  display: flex;
  align-items: center;
  
  &:before, &:after {
    content: '';
    position: absolute;
    //top: 100%;
    bottom: 0;
    left: 0;
    transition: transform, background-color; //cubic-bezier(0.51, 0.18, 0, 0.88)
    transition-duration: $duration;
    transform-origin: right;
    background-color: currentColor;
    height: 2px;
    width: 100%;
    display: table;
  }
  
  &:before {
    transition-delay: var(--delay);
  }
  
  &:after {
    transform-origin: left;
    //transition-delay: 300ms;
    transform: scaleX(0);
  }
  
  .arrow {
    transition: margin-left $duration;
    //width: size(21);
    //height: size(24);
    width: size(17);
    height: size(11);
    margin-left: size(10);
    @include path(currentColor, false);
  }
  
  &:hover {
    color: $rentReporters-light-blue;
    
    .arrow {
      margin-left: size(20);
    }
    
    &:before {
      transform: scaleX(0);
      transition-delay: unset;
    }
    
    &:after {
      transition-delay: var(--delay);
      transform: scaleX(1);
    }
  }
  
  &.big-border {
    &:before, &:after {
      height: size(3);
    }
  }
  
  &.has-arrow {
    &:hover {
      margin-left: size(-5);
    }
  }
}

.link-hover {
  position: relative;
  display: inline-block;
  width: fit-content;
  transition: color 0.3s;
  
  &:before {
    position: absolute;
    top: calc(100% + 2.5px);
    left: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    content: '';
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(5px);
    display: table;
  }
  
  &:hover {
    color: $rentReporters-blue;
    
    &:before {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
}

.btn {
  position: relative;
  z-index: 2;
  overflow: hidden;
  @include flex(center, center, false, false);
  width: fit-content;
  //min-width: #{'min(100%, 16rem)'};
  min-width: size(160);
  max-width: 100%;
  background-color: $rentReporters-blue;
  border-radius: size(8);
  color: $rentReporters-white;
  font-size: size(14);
  font-weight: 500;
  line-height: 100%;
  //padding: size(20);
  padding: size(18);
  transition: color, background-color;
  transition-duration: $duration;
  text-align: center;
  font-family: $rubik;
  @include min-medium-screen {
    padding: size(21);
    font-size: size(17);
    //padding: size(23);
    min-width: size(237);
  }
  @include large-screen {
    font-size: size(20);
  }
  
  
  &:hover {
    background-color: $rentReporters-light-blue;
  }
  
  &.has-border {
    background-color: $rentReporters-white;
    //border: size(2) solid $rentReporters-shark;
    color: $rentReporters-shark;
    font-size: size(14);
    padding: size(19);
    min-width: #{'min(100%, 23.7rem)'};
    transition: color, border-color, background-color;
    transition-duration: $duration;
    border: size(2) solid $rentReporters-shark;
    display: table;
    overflow: hidden;
    border-radius: size(8);
    
    &:hover {
      color: $rentReporters-white;
      background-color: $rentReporters-shark;
    }
  }
}

.card-border {
  position: relative;
  z-index: 2;
  overflow: hidden;
  color: $rentReporters-green;
  
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: size(5);
    background-color: currentColor;
    transition: height, opacity;
    transition-duration: $duration;
    transition-timing-function: ease-in-out;
  }
  
  &.bottom-border {
    &:before {
      top: auto;
      bottom: 0;
    }
  }
  
  &:hover {
    &:before {
      height: 100% !important;
      opacity: 0.5;
    }
  }
}

.box-shadow {
  box-shadow: 0 size(2) size(8) rgba(0, 0, 0, 0.1);
  border-radius: size(8);
  background-color: $rentReporters-white;
}

// general logo hover
.logo {
  a {
    img {
      transition: transform $duration;
    }
    
    &:hover img {
      transform: scale(1.05);
    }
  }
}

.social-icon {
  transition: transform 0.3s;
  position: relative;
  
  &:hover {
    transform: translateY(size(-5));
    
    path {
      fill: $rentReporters-shark;
    }
  }
}

ul:not(.reset-ul) {
  li {
    position: relative;
    padding-left: size(31);
    font-size: size(16);
    line-height: size(22);
    font-weight: 400;
    color: $rentReporters-shark;
    @include min-medium-screen {
      font-size: size(24);
      line-height: size(36);
    }
    
    &:not(:last-child) {
      margin-bottom: size(23);
    }
    
    &:before {
      content: '';
      position: absolute;
      top: size(2);
      left: 0;
      //background-image: url(../images/bullet-star.svg);
      background-size: cover;
      transition: transform $duration $bouncing;
      @include square(size(21));
      @include min-medium-screen {
        top: size(6);
      }
    }
    
    &:hover {
      &:before {
        transform: scale(1.1) rotate(75deg);
      }
    }
  }
}

ol {
  list-style: decimal;
  padding-left: size(20);
  
  li {
    font-size: size(20);
    font-weight: 300;
    line-height: size(32);
    position: relative;
    color: $rentReporters-black;
    
    &:not(:last-child) {
      margin-bottom: size(23);
    }
    
    padding-left: size(14) !important;
  }
}

.break-line {
  line-height: 0 !important;
  height: size(25) !important;
}

.sprite-sheet {
  visibility: hidden;
  
  &__parent {
    overflow: hidden;
    height: auto;
  }
  
  &__aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
  }
  
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    @include square('auto');
  }
}

// quote
.quote-icon {
  width: size(36);
  height: size(30);
}

//posts loader
.load-more-wrapper {
  position: relative;
  
  .loader {
    width: size(90);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity $duration;
    opacity: 0;
    
    .loader-ball {
      $anim-drt: 0.4s;
      $anim-ease: cubic-bezier(.6, .05, .15, .95);
      @include square(size(20));
      border-radius: 50%;
      background: $rentReporters-blue;
      
      &:nth-child(1) {
        animation: productsLoader $anim-drt alternate infinite $anim-ease;
      }
      
      &:nth-child(2) {
        animation: productsLoader $anim-drt $anim-drt/4 alternate infinite $anim-ease backwards;
      }
      
      &:nth-child(3) {
        animation: productsLoader $anim-drt $anim-drt/2 alternate infinite $anim-ease backwards;
      }
    }
  }
  
  .btn {
    transition: opacity $duration;
  }
  
  &.loading {
    .loader {
      opacity: 1;
    }
    
    .btn {
      pointer-events: none;
      opacity: 0;
    }
  }
}

@keyframes productsLoader {
  
  0% {
    transform: translate3d(0, 1rem, 0) scale(1.2, 0.85);
  }
  
  100% {
    transform: translate3d(0, -1rem, 0) scale(0.9, 1.1);
  }
}

// animations
@keyframes shaking {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  
  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}

// custom model
.custom-model {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 400ms, z-index 400ms;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  
  &:before {
    content: '';
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  
  .video-wrapper {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    
    iframe, video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  
  .custom-model-inner {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    max-height: 90vh;
    //overflow-y: scroll;
    @include marginX(auto);
    max-width: #{'min(80rem,90%)'};
    
    .custom-model-wrap {
      width: 100%;
      position: relative;
      background-color: $rentReporters-white;
      border: size(1) solid $rentReporters-black;
      border-radius: size(6);
      box-shadow: 0 size(3) size(9) rgba(0, 0, 0, 0.5);
      padding: size(20);
      @include min-medium-screen {
        padding: size(40);
      }
    }
  }
  
  .close-model {
    position: absolute;
    right: 0;
    bottom: calc(100% + 2rem);
    cursor: pointer;
    z-index: 5;
    transition: transform, opacity;
    transition-duration: $duration;
    background: none;
    padding: 0;
    @include square(size(23));
    
    svg {
      @include square(100%);
    }
    
    path {
      fill: $rentReporters-white;
    }
    
    &:hover {
      transform: scale(1.1);
      opacity: 0.7;
    }
  }
  
  &.active {
    z-index: 99999;
    opacity: 1;
    pointer-events: auto;
  }
}

// our prefooter
.our_promise_prefooter_block {
  background-color: $rentReporters-blue-10;
  @include paddingY(size(85), size(85));
  @include min-medium-screen {
    @include paddingY(size(100), size(100));
  }
  @include large-screen {
    @include paddingY(size(130), size(130));
  }
  
  .content {
    @include marginX(auto);
    text-align: center;
    max-width: size(400);
    //max-width: #{'clamp(32rem,51%,41.7%)'};
    @include min-medium-screen {
      max-width: size(500);
    }
    @include large-screen {
      max-width: size(550);
    }
    
    .medal-icon {
      @include square(size(71));
      @include marginX(auto);
      margin-bottom: size(27);
      @include min-medium-screen {
        margin-bottom: size(23);
      }
      
      svg {
        @include square(100%);
      }
    }
    
    .headline-1 {
      margin-bottom: size(13);
      @include small-screen {
        @include paddingX(size(10));
      }
    }
    
    .description {
      position: relative;
      padding-bottom: size(30);
      margin-bottom: size(30);
      
      &:before {
        position: absolute;
        content: "";
        left: 50%;
        bottom: 0;
        transform: translatex(-50%);
        background-color: $rentReporters-blue;
        width: size(91);
        height: size(4);
      }
    }
    
    .paragraph.size16 {
      font-weight: 600;
      
      a {
        transition: color $duration;
        
        &:hover {
          color: $rentReporters-blue;
        }
      }
      
      .break-line{
        height: size(12) !important;
      }
    }
  }
}


// endregion general classes

.page-wrapper {
  @include paddingY(size(200), size(60));
  @include min-medium-screen {
    max-width: 81.25%;
  }
  
  *:first-child {
    margin-top: 0 !important;
  }
  
  figure {
    margin: size(57) auto;
    
    figcaption {
      color: $rentReporters-shark;
      font-family: $rubik;
      font-size: size(16);
      font-weight: 400;
      line-height: size(24);
      margin-top: size(11);
      @include small-screen {
        text-align: center;
      }
    }
    
    img {
      margin: 0 auto;
    }
    
    &.is-style-rounded {
      img {
        border-radius: 50%;
      }
    }
    
    &.wp-block-image, &.wp-block-video {
      @include small-screen {
        max-width: 100%;
      }
      
      img, video {
        @include square(100%);
      }
    }
  }
  
  img {
    margin: size(57) auto;
    max-width: 100%;
  }
  
  
  p {
    color: $rentReporters-shark;
    margin-bottom: size(16);
    font-size: size(16);
    font-weight: 300;
    line-height: size(24);
    @include min-medium-screen {
      font-size: size(20);
      line-height: size(28);
    }
    @include large-screen {
      font-size: size(24);
      line-height: size(36);
    }
  }
  
  h1, .headline-1 {
    margin-top: size(80);
    margin-bottom: size(24);
    color: $rentReporters-shark;
    font-size: size(34);
    line-height: size(40);
    font-weight: 400;
    @include min-medium-screen {
      font-size: size(41);
      line-height: size(45);
    }
    @include large-screen {
      font-size: size(48);
      line-height: normal;
    }
    
  }
  
  h2, .headline-2 {
    margin-top: size(80);
    margin-bottom: size(24);
    color: $rentReporters-black;
    font-weight: 400;
    font-size: size(34);
    line-height: size(40);
    @include large-screen {
      font-size: size(36);
      line-height: size(42);
    }
  }
  
  h3, .headline-3 {
    margin-top: size(32);
    margin-bottom: size(24);
    color: $rentReporters-shark;
    font-size: size(24);
    font-weight: 400;
    line-height: size(36);
  }
  
  h4, .headline-4 {
    margin-top: size(48);
    margin-bottom: size(24);
    color: $rentReporters-black;
    font-size: size(16);
    letter-spacing: size(0.36);
    font-weight: 400;
    line-height: size(24);
    @include large-screen {
      letter-spacing: normal;
      font-size: size(18);
    }
  }
  
  
  h5, .headline-5 {
    margin-top: size(32);
    margin-bottom: size(24);
    color: $rentReporters-black;
    font-size: size(14);
    font-weight: 400;
    line-height: size(24);
    @include min-medium-screen {
      font-size: size(14);
    }
  }
  
  
  h6, .headline-6 {
    margin-top: size(32);
    margin-bottom: size(24);
    color: $rentReporters-shark;
    font-size: size(14);
    font-weight: 400;
    line-height: size(20);
    @include min-medium-screen {
      font-size: size(16);
    }
    @include large-screen {
      font-size: size(14);
    }
  }
  
  .break-line {
    height: size(30) !important;
  }
  
  blockquote {
    margin: size(50) auto;
  }
  
  ol {
    list-style: decimal;
    padding-left: size(20);
    margin-bottom: size(16);
    
    li {
      font-size: size(20);
      font-weight: 300;
      line-height: size(32);
      position: relative;
      color: $rentReporters-black;
      
      &:not(:last-child) {
        margin-bottom: size(5);
      }
      
      padding-left: size(14) !important;
    }
  }
  
  ul:not([class*="footer"]) {
    margin-bottom: size(16);
    padding-top: 0;
    
    li {
      position: relative;
      padding-left: size(31);
      font-size: size(16);
      line-height: size(22);
      font-weight: 400;
      color: $rentReporters-shark;
      
      &:not(:last-child) {
        margin-bottom: size(5);
      }
      
      @include min-medium-screen {
        font-size: size(24);
        line-height: size(36);
      }
      
      &:before {
        content: '';
        position: absolute;
        top: size(2);
        left: 0;
        //background-image: url(../images/bullet-star.svg);
        background-size: cover;
        transition: transform $duration $bouncing;
        @include square(size(21));
        @include min-medium-screen {
          top: size(6);
        }
      }
      
      &:hover {
        &:before {
          transform: scale(1.1) rotate(75deg);
        }
      }
    }
  }
}


.wp-block-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: size(45) size(20) 0;
  @include marginX(auto);
  @include min-medium-screen {
    flex-wrap: nowrap;
    padding-top: size(90);
  }
  @include large-screen {
    @include paddingX(size(90));
  }
  
  &.are-vertically-aligned-top {
    align-items: flex-start
  }
  
  &.are-vertically-aligned-center {
    align-items: center
  }
  
  &.are-vertically-aligned-bottom {
    align-items: flex-end
  }
  
  .wp-block-column {
    //flex-grow: 1;
    //min-width: 0;
    //word-break: break-word;
    //overflow-wrap: break-word;
    @include small-screen {
      flex-basis: 100% !important;
      width: 100% !important;
    }
    
    &:first-child {
      @include medium-screen {
        flex-basis: 40% !important;
        width: 40% !important;
      }
    }
    
    &:last-child {
      @include medium-screen {
        flex-basis: 55% !important;
        width: 55% !important;
      }
    }
    
    &.is-vertically-aligned-top {
      align-self: flex-start
    }
    
    &.is-vertically-aligned-center {
      -ms-grid-row-align: center;
      align-self: center
    }
    
    &.is-vertically-aligned-bottom {
      align-self: flex-end
    }
  }
  
  .container {
    padding: 0;
    max-width: 100%;
  }
  
  .centered_text_and_image_cta .content-wrapper {
    max-width: 100%;
  }
}

nav.navigation.pagination {
  display: flex;
  max-width: 100%;
  flex: 1 1 100%;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  
  h2.screen-reader-text {
    display: none;
  }
  
  .nav-links a, .nav-links span {
    font-size: 1.8rem;
    margin-right: 1.2rem;
    font-weight: 500;
    transition: color $duration;
    
    &:hover {
      color: var(--rentReporters-blue);
    }
  }
  
  a.prev.page-numbers {
    margin-right: size(20);
  }
  
  a.next.page-numbers {
    margin-left: size(20);
  }
  
  span.page-numbers.current {
    color: var(--rentReporters-blue);
    font-weight: bold;
  }
}

.acf-radio-list{
  display: flex !important;
}