:root {
    /* Colors: */
    --rentReporters-black: #000000;
    --rentReporters-black-60: rgba(48, 48, 49, 0.6);
    --rentReporters-black-20: rgba(48, 48, 49, 0.2);
    --rentReporters-white: #ffffff;
    --rentReporters-off-white: #fafafa;
    --rentReporters-shark: #303031;
    --rentReporters-gray: #818181;
    --rentReporters-blue: #0977e9;
    --rentReporters-blue-40: rgba(9, 119, 233, 0.4);
    --rentReporters-blue-10: #e2edf9;
    --rentReporters-milky: rgba(9, 119, 233, 0.1);
    --rentReporters-light-blue: #075fba;
    --rentReporters-dark-blue: #213160;
    --rentReporters-green: #9ac355;
    --rentReporters-dark-green: #82b378;
    --rentReporters-orange: #ed7d2b;
    --rentReporters-yellow: #ffae39;
}