@import "variables";
@import "mixins";

.animated-svg-chat-wrapper {
  position: relative;
  width: 211px;
  height: 78px;
  display: block;
}

.svg-chat-effect {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  margin: auto;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%);
  background-repeat: repeat-y;
  background-size: 50px 200px;
  background-position: -50% 0;
  animation: shine 2s infinite;
}

@keyframes shine {
  to {
    background-position: 150% 0;
  }
}