// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$rentReporters-black: var(--rentReporters-black);
$rentReporters-black-60: var(--rentReporters-black-60);
$rentReporters-black-20: var(--rentReporters-black-20);
$rentReporters-white: var(--rentReporters-white);
$rentReporters-off-white: var(--rentReporters-off-white);
$rentReporters-shark: var(--rentReporters-shark);
$rentReporters-gray: var(--rentReporters-gray);
$rentReporters-blue: var(--rentReporters-blue);
$rentReporters-blue-40: var(--rentReporters-blue-40);
$rentReporters-blue-10: var(--rentReporters-blue-10);
$rentReporters-milky: var(--rentReporters-milky);
$rentReporters-light-blue: var(--rentReporters-light-blue);
$rentReporters-dark-blue: var(--rentReporters-dark-blue);
$rentReporters-green: var(--rentReporters-green);
$rentReporters-dark-green: var(--rentReporters-dark-green);
$rentReporters-orange: var(--rentReporters-orange);
$rentReporters-yellow: var(--rentReporters-yellow);

// fonts
$rubik: 'Rubik';
//default duration
$duration: 500ms;
// bouncing
$bouncing: cubic-bezier(0.18, 0.89, 0.32, 1.28);
//override bootstrap variables
$grid-gutter-width: 4rem;
$container-max-widths: (
    'md': 100%, //570px
    'lg': 100%, //760px 88.4
);
$grid-breakpoints: (
    'xs': 0,
    'md': $medium-screen-min-width,
    'lg': $large-screen-min-width,
);