
@import "styles/sites/propellerheath";

.full_width_image {


  .container {
    padding: 0;
  }

  .full-width {
    padding-top:41.88%;
    border-bottom-right-radius: size(150);


    @include min-medium-screen {
      border-bottom-right-radius: size(300);


    }
    overflow: hidden;

  }


}

/*
  //@include paddingY(size(46),size(25));
  @include min-medium-screen {
    //@include paddingY(size(80),size(47));
  }
  .full-width-image {
    //max-width: size(1440);
    //@include marginX(auto);
    &.aspect-ratio {
      @include small-screen {
        padding-top: 80%;
        margin-left: size(-320);
      }
      padding-top: 41.9%;
      img {
        //max-height: size(300);
        @include min-medium-screen {
          //max-height: size(601);
        border-radius: 0 0 size(300) 0;
        }

      }
    }
  }*/




