@import "styles/sites/raistone";


.question_and_answer_block {
  background: $raistone_plum;
  overflow: hidden;
  @include paddingY(size(32));
  @include min-medium-screen {
    @include paddingY(size(56));
  }
  @include large-screen {
    @include paddingY(size(175), size(215));
  }

  &:after {
    content: "";
    @include square(size(1100));
    border-radius: 50%;
    background: $raistone_mid_plum;
    position: absolute;
    left: 61%;
    top: size(-650);
    opacity: .55;
    @include min-medium-screen {
      left: 72%;
    }
  }

  .container {
    @include min-medium-screen {
      @include paddingX(60);
    }
    @include large-screen {
      @include paddingX(size(120));
    }
  }

  .faqs-content-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 2;

    @include large-screen {
      flex-direction: row;
    }
  }

  .right-content {
    background: $raistone_aluminium;
    padding: size(30) size(15) size(90);
    transition: background-color, padding;
    transition-duration: $duration;
    display: none;
    height: fit-content;
    @include min-medium-screen {
      padding: size(30) size(30) size(90);
    }
    @include large-screen {
      @include flexBasis(42.97%);
      padding: size(50) size(50) size(194);
      margin-top: size(68);
    }

    &.image-content {
      background-color: transparent;
      padding: 0;
    }

    &.content-active {
      display: block;
      @include small-screen {
        display: none;
      }
    }

  }

  .card-content {
    padding-top: 77.9%;
    @include min-medium-screen {
      padding-top: 61.53%;
    }
  }

  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include square(size(85));
    background: $raistone_canary;
    border-radius: 50%;
    @include flex(center, center);
    cursor: pointer;
    transition: opacity $duration, transform $duration;
    transform-origin: center;

    &:before {
      content: "";
      @include square(100%);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(1);
      transform-origin: center;
      background: $raistone_canary;
      transition: opacity $duration, transform $duration;
      border-radius: 50%;
      opacity: 1;
    }

    &:hover {
      &:before {
        transform: translate(-50%, -50%) scale(1.6);
        opacity: 0;
      }
    }

    @include small-screen {
      @include square(size(55));
    }

    svg {
      @include square(size(30));
      transition: opacity $duration, transform $duration;
      position: absolute;
      @include small-screen {
        @include square(size(20));
      }
    }

    .pause {
      transform: scale(0);
      opacity: 0;
    }
  }

  .icon {
    @include square(size(93));
    margin-bottom: size(24);

    @include min-medium-screen {
      margin-bottom: size(42);
    }

    svg {
      @include square(100%);
    }
  }

  .title {
    margin-bottom: size(33);
    font-weight: 600;
    color: $raistone_plum;
    letter-spacing: -0.015em;
    @include min-medium-screen {
      margin-bottom: size(70);
    }
    @include large-screen {
      margin-bottom: size(120);
      @include font-size(32px, 36px);
      letter-spacing: size(-1.5);
    }
  }

  .question {
    margin-bottom: size(16);
    @include min-medium-screen {
      line-height: size(36);
      font-weight: 600;
      letter-spacing: size(-0.15);
    }
  }

  .description {
    @include large-screen {
      padding-right: size(30);
    }
  }

  .left-content {
    margin-bottom: size(50);

    @include min-medium-screen {
      margin-bottom: size(100);
    }
    @include large-screen {
      @include flexBasis(43.68%);
      margin-bottom: 0;
    }

    .content-image {
      padding-top: 92.77%;
      display: block;
      margin-top: size(30);
      @include min-medium-screen {
        display: none !important;
      }
    }

    .card-content {
      padding-top: 77.9%;
      display: block;
      margin-top: size(30);
      @include min-medium-screen {
        padding-top: 61.53%;
        display: none !important;
      }
    }

    .youtube-aspect-ratio {
      display: block;
      margin-top: size(30);
      @include min-medium-screen {
        display: none !important;
      }
    }
  }

  .faq-wrapper {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: padding-bottom $duration, border-color $duration;


    &.active {
      padding-bottom: size(40);
      @include min-medium-screen {
        padding-bottom: size(32);
      }
      @include large-screen {
        padding-bottom: size(40);
      }

      .open-toggle-icon {
        transform: scaleY(-1);
      }
    }

  }

  .number-and-title {
    margin-bottom: size(60);
  }

  .has-question {
    max-width: 82%;
    font-family: $montserrat;
    font-weight: 700;
    @include small-screen {
      @include font-size(18px, 24px)
    }
    @include large-screen {
      max-width: 87%;
    }
  }

  .faq-question-title {
    display: flex;
    position: relative;
    cursor: pointer;
    @include paddingY(size(22));
    @include paddingX(size(10), size(30));
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    @include min-medium-screen {
      @include paddingY(size(42));
    }
  }

  .have-answer {
    height: 0;
    overflow: hidden;
    position: relative;

    .have-title {
      color: $raistone_jet_black;
    }

    .faq-answer-wrapper {
      @include flex(center, space-between);
      margin-bottom: size(30);
    }

  }

  .icon-wrapper {
    background: $raistone_white;
    @include square(size(55));
    border-radius: size(18);
    margin-right: size(20);
    @include flex(center, center);
    padding: size(10);
    flex-shrink: 0;
    @include min-medium-screen {
      @include square(size(65));
    }

    img, svg {
      @include square(100%);
      object-fit: contain;
    }
  }


  .icon-image-wrapper {
    padding: 0;
  }


  .open-toggle-icon {
    position: absolute;
    right: 0;
    transition: transform $duration;
    transform-origin: center;
    @include min-medium-screen {
      right: size(15);
    }
  }

  .list {
    .have-answer-spacer {
      margin-top: size(37);
    }

    ul {
      li {
        @include font-size(18px, 24px);
        color: $raistone_white;
        @include small-screen {
          margin-left: size(25);
        }
        @include min-medium-screen {
          @include font-size(26px, 38px);
        }
      }
    }
  }

  .list-wrapper {
    padding-top: size(37);
  }

  .video-active {
    .play-button {
      opacity: 0;

      .pause {
        transform: scale(1);
        opacity: 1;
      }

      .play {
        transform: scale(0);
        opacity: 0;
      }
    }

    //&:hover {
    //  .play-button {
    //    opacity: 1;
    //    transform: translate(-50%, -50%) scale(.8);
    //    transition-delay: .2s
    //  }
    //}
  }

  .content-image {
    padding-top: 92.77%;

  }

  .youtube-aspect-ratio {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin-top: size(30);

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
