
@import "styles/sites/smartdv";

.whats_new_section {
  @include paddingY(size(34), size(80));
  @include min-medium-screen {
    @include paddingY(size(220), size(30))
  }
  position: relative;
  max-width: size(1440);
  @include marginX(auto);


  .title-posts {
    text-align: center;
    margin-bottom: size(25);

    @include min-medium-screen {
      margin-bottom: size(50);
    }
  }

  .have_link {
    &:not(:last-child) {
      padding-bottom: size(120);
    }
  }

  .aspect-ratio {
    padding-top: 64.41%;
  }

  &.card-img {
    @include paddingY(size(40), size(0));
    @include min-medium-screen {
      @include paddingY(size(0), size(45))
    }
    @include min-medium-screen {
      max-width: size(550);
    }
    @include large-screen {
      max-width: size(800);
    }
  }

  &.has-shape {
    position: relative;
    z-index: 1;

    &:after {
      display: none;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: size(320);
      background: $smart_dv_dark_green;
      z-index: -1;
    }

    .title-posts {
      color: $smart_dv_white;
    }
  }
}
