
@import "styles/sites/towSmart";


.product_installation_difficulty_block {
  //background-color: rgba(0, 0, 0, 0.8);
  @include paddingY(size(30), size(40));
  @include small-screen{
    @include paddingY(0);
  }
  .difficult{
    background: rgba(255, 255, 255, 0.04);
    border-radius: 4px;
    padding: size(30) size(40) size(42) size(40);
    @include min-medium-screen {
      padding: size(20);
    }
  }
  .par-14{
    color:rgba(255,255,255,0.5);
    text-transform: uppercase;
    margin-bottom: size(16);
  }
  
  .par{
    @include font-size(18px, 24px);
    margin-bottom: size(40);
  }
  .progress-wrapper{
    display: flex;
    align-items: center;
    
  }
  .progress{
    width: size(90);
    height: size(4);
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 1px;
    margin-right: size(8);
    position: relative;
    
  }
  
  .pointer{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    margin-bottom: size(12);
    svg{
      width: size(22);
      height: size(24);
    }
  }
  
  .active{
    background-color: $tow_smart_green;
  }
}




  


