@import "root";
@import "variables";

html {
  &.modal-opened {
    overflow: hidden;
  }
}

.datavisor-block {
  
  .container {
    //@include paddingX($container-sm);
    //@include min-medium-screen {
    //  @include paddingX($container-md);
    //}
    //@include large-screen {
    //  @include paddingX($container-lg);
    //}
    
    
  }
  
  
  .headline-1, .wysiwyg-block h1 {
    font-size: 54px;
    font-weight: 700;
    line-height: 67.5px;
    color: $datavisor_blue;
    font-family: $Rubik;
    letter-spacing: 0.28px;
  }
  
  
  .headline-2, .wysiwyg-block h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 52.5px;
    color: $datavisor_blue;
    font-family: $Rubik;
    
  }
  
  
  .headline-3, .wysiwyg-block h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    color: $datavisor_blue;
    font-family: $Rubik;
    letter-spacing: 0.28px;
  }
  
  .headline-4, .wysiwyg-block h4 {
    font-size: 30px;
    font-weight: 700;
    line-height: 37.5px;
    color: $datavisor_blue;
    font-family: $Rubik;
  }
  
  .headline-5, .wysiwyg-block h5 {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    color: $datavisor_blue;
    font-family: $Rubik;
  }
  
  
  .headline-6, .wysiwyg-block h6 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: $datavisor_blue;
    font-family: $Rubik;
    letter-spacing: 0.28px;
  }
  
  
  .paragraph, .wysiwyg-block p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    color: $datavisor_black;
    font-family: $Rubik;
    
    &-small {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: $datavisor_black;
      font-family: $Rubik;
      letter-spacing: 4px;
    }
    
    &-bold {
      font-weight: 700;
    }
  }
  
  .cta-btn {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 35px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: $datavisor_white;
    font-family: $Rubik;
    min-width: 184px;
    max-width: 100%;
    width: fit-content;
    border-radius: 60px;
    background-color: $datavisor_purple;
    transition: color, background-color;
    transition-duration: $duration;
    
    &:hover {
      background-color: #7B36B0;
    }
  }
  
  .cta-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: $datavisor_purple;
    font-family: $Rubik;
    width: fit-content;
    
    svg {
      margin-right: 10px;
      width: 24px;
      height: 32px;
      
      path {
        fill: $datavisor_purple;
      }
    }
    
    &:hover {
    
    }
  }
  
  
  input {
    background: $datavisor_white;
    border: 1px solid #E9E9E9;
    padding: 15px 16px;
    border-radius: 6px;
    max-width: 294.08px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    color: $datavisor_blue;
    font-family: $Rubik;
    
  }
  
  
  .gradient-headline {
    //position: relative;
    //z-index: 9;
    
    //&:after {
    //  content: "";
    //  position: absolute;
    //  background: rgba(126, 233, 143, 0.5);
    //  top: 54%;
    //  height: 42%;
    //  left: 0;
    //  width: 101%;
    //  z-index: -1;
    //}
    background: linear-gradient(0deg, #7ee98f80 0%, #7ee98f80 40%, rgba(0, 212, 255, 0) 40%, rgba(0, 212, 255, 0) 100%);
  }
  
  .aspect-ratio {
    position: relative;
    //height: 0;
    
    img, video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  
  .gutenberg-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: 576px) {
      max-width: 540px;
    }
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1300px) {
      max-width: 1270px;
    }
    @media (min-width: 1920px) {
      max-width: 1440px;
    }
    @media (min-width: 2560px) {
      max-width: 1920px;
    }
  }
}