@import "variables";
@import "mixins";


.page-template-gutenberg-template {
  background-color: #FAFAFA;
  @include large-screen {
    overflow-x: unset !important;
  }
  
  .container.content-wrapper {
    margin: 0;
    padding: 0 !important;
    width: 100%;
    max-width: 100%;
    background: #FAFAFA;
  }
  
  .footer-top {
    display: none;
  }
}
