@import "root";
@import "variables";

body {
  .header-hero {
    .header-hero-slider {
      .header-hero-title {
        line-height: 1.1 !important;
        @media (max-width: 1200px) {
          font-size: 42px !important;
        }
        @media (min-width: 1200px) {
          font-size: 63px !important;
          line-height: 1.3 !important;
        }
        @media (min-width: 1400px) {
          font-size: calc(1.5rem + 1.06vw) !important;
        }
      }

      .header-hero-text {
        p {
          font-size: 24px !important;
          @media (min-width: 1200px) {
            font-size: 30px !important;
          }
        }
      }

      .header-text-cta {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        margin-top: 20px;

        p {
          margin: 0;
          color: currentColor;
        }

        a {
          color: currentColor;
          transition: color 300ms;

          &:hover {
            color: #6abf4b;
          }
        }
      }
    }

    @media (max-width: 768px) {
      .header-hero-slide {
        padding-bottom: 60px;
      }
    }

    .owl-dots {
      left: 50%;
      transform: translateX(-50%);
      z-index: 9999;
      @media (max-width: 768px) {
        bottom: 22px;
      }

      .owl-dot {
        background: none;
        outline: none;

        &.active {
          span {
            background-color: #6abf4b;
          }
        }
      }
    }
  }

  .icons-step-new-version {
    padding-top: 90px;
    //
    //&:before {
    //  display: none;
    //}

    //.icons-steps-footer {
    //  &:after {
    //    display: none;
    //  }
    //}

    .icon-step-title {
      text-align: center;
      margin-bottom: 50px;
      font-size: 54px;
      font-weight: 700;
      line-height: 67.5px;
      color: $datavisor_blue;
      font-family: 'Rubik';
      letter-spacing: 0.28px;
      @include large-screen {
        margin-bottom: 98px;
      }

      p {
        color: inherit;
        font: inherit !important;
        letter-spacing: inherit;
        margin: 0;
      }
    }


    .icon-step-item {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: space-between;
      align-items: center;
      max-width: 1040px;
      margin-right: auto;
      margin-left: auto;

      &:not(:last-child) {
        margin-bottom: 30px;
        @media (min-width: 768px) {
          margin-bottom: 40px;
        }
        @include large-screen {
          margin-bottom: 50px;
        }
      }


      .icon-box-left-content {
        flex-basis: 100%;
        width: 100%;
        @media (min-width: 768px) {
          flex-basis: 45%;
          width: 45%;
        }
        @include large-screen {
          flex-basis: 39%;
          width: 39%;
        }

        h3 {
          font-family: $Rubik;
          font-size: 16px !important;
          line-height: 21px;
          font-weight: 700 !important;
          letter-spacing: 0.28px;
          color: $datavisor_blue;
          margin-bottom: 0;
          @include large-screen {
            font-size: 26px !important;
            line-height: 31px;
          }
        }

        p {
          font-family: $Rubik;
          font-style: normal;
          font-weight: 400 !important;
          font-size: 16px;
          line-height: 24px !important;
          letter-spacing: 0.28px;
          color: #000000;
          margin-top: 40px;
          @include max-medium-screen {
            margin-top: 15px;
            margin-bottom: 11px;
          }
        }

        .link-wrap.link-t a {
          background: none;
        }
      }

      .icon-box-right-content {
        flex-basis: 100%;
        width: 100%;
        margin-bottom: 25px;
        @media (min-width: 768px) {
          flex-basis: 51.9%;
          width: 51.9%;
          margin-bottom: 0;
        }

        .icon-box-content-image {
          display: block;
          position: relative;
          height: 0;
          padding-top: 66.66%;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }

      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
    }

    .icons-steps-footer {
      @include max-medium-screen {
        margin-top: 60px;
      }
    }
  }

  .icon-slider-wrapper {
    .row {
      position: relative;
    }

    .icon-slider-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      background: none;
      border: 0;
      width: 10px;
      height: 18px;
      padding: 0;
      outline: none;
      display: flex;

      svg {
        width: 100%;
        height: 100%;
      }

      &.icon-slider-prev {
        right: calc(100% + 50px);
      }

      &.icon-slider-next {
        left: calc(100% + 50px);
      }
    }
  }

  .testimonials_slider_block_twig {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 50vw 715px 0 !important;
      border-color: transparent #f3f3f5 transparent transparent;
      top: 0;
      right: 0;

      @include max-medium-screen {
        border-width: 0 40vw 384.5px 0 !important
      }
      @include small-screen {
        border-width: 0 50vw 224.5px 0 !important
      }
    }

    &:after {
      content: "";
      background: linear-gradient(0deg, rgba(0, 0, 0, .05), hsla(0, 0%, 100%, 0));
      height: 70px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .testimonials-slider-block-twig-shadow {
      content: "";
      background: #000;
      background: linear-gradient(180deg, rgba(0, 0, 0, .05), hsla(0, 0%, 100%, 0));
      height: 70px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    width: 100%;
    max-width: 100%;

    .swiper {
      width: 80.1%;
      max-width: 1140px;
      margin: 0 auto;
    }

    &.testimonials_slider_block_twig_remove_spacer {
      &:after {
        display: none;
      }
    }

    + .logo_slider_block_twig {
      &:before {
        display: none;
      }
    }

    .description {
      margin-bottom: 23px;
    }

    .slide-content-wrapper {
      @include large-screen {
        padding: 70px 105px 70px 250px;
      }
    }

  }

  .logo_slider_block_twig {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;

    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 50vw 715px 0 !important;
      border-color: transparent #f3f3f5 transparent transparent;
      top: 0;
      right: 0;
      @include max-medium-screen {
        border-width: 0 40vw 384.5px 0 !important
      }
      @include small-screen {
        border-width: 0 50vw 224.5px 0 !important
      }
    }

    &:after {
      content: "";
      background: linear-gradient(0deg, rgba(0, 0, 0, .05), hsla(0, 0%, 100%, 0));
      height: 70px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .logo-slider {
      position: relative;
      z-index: 2;
    }

    .logo-slider-block-twig-shadow {
      content: "";
      background: #000;
      background: linear-gradient(180deg, rgba(0, 0, 0, .05), hsla(0, 0%, 100%, 0));
      height: 70px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    + .testimonials_slider_block {
      &:before, .testimonials-slider-block-twig-shadow {
        display: none;
      }
    }
  }

  .gradient-headline {
    background: linear-gradient(0deg, #7ee98f80 0%, #7ee98f80 40%, rgba(0, 212, 255, 0) 40%, rgba(0, 212, 255, 0) 100%);
  }

}