:root {
  /* Colors: */
  --datavisor_black: #000000;
  --datavisor_purple:#904FC3;
  --datavisor_blue:#132B59;
  --datavisor_green: #82BB5B;
  --datavisor_gray: #555555;
  --datavisor_light_gray:#7F90A5;
  --datavisor_yellow:#F9DE4B;
  --datavisor_flash_white: #F0F8FF;
  --datavisor_white:#ffff;

}
