// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 786px;
$large-screen-min-width: 992px;

// color
$datavisor_black: var(--datavisor_black);
$datavisor_purple: var(--datavisor_purple);
$datavisor_blue: var(--datavisor_blue);
$datavisor_green: var(--datavisor_green);
$datavisor_gray: var(--datavisor_gray);
$datavisor_light_gray: var(--datavisor_light_gray);
$datavisor_yellow: var(--datavisor_yellow);
$datavisor_flash_white: var(--datavisor_flash_white);
$datavisor_white: var(--datavisor_white);

// fonts
$Roboto: 'Roboto';
$Roboto_Condensed: 'Roboto Condensed';
$PT_Serif: 'PT Serif';
$PT_Sans: 'PT Sans';
$Rubik: 'Rubik';
//default duration
$duration: 300ms;
$easing: ease-in-out;
// block border top
$block-border-top: 1.6rem;
//override bootstrap variables
$grid-gutter-width: 2rem;
$container-mobile-padding: 2rem;
$container-tablet-padding: 6rem;
$container-extra-sm: 10rem;
$container-sm: 30px;
$container-md: 30px;
$container-lg: 30px;
$container-max-widths: (
  'md': 100%, //570px
  'lg': 144rem, //760px 88.4
);
$grid-breakpoints: (
  'xs': 0,
  'md': $medium-screen-min-width,
  'lg': $large-screen-min-width,
);

