.editor-styles-wrapper .wp-block {
  max-width: 80% !important;
}

.interface-interface-skeleton__sidebar > div {
  width: 100% !important;
}

.-open .acf-label.acf-accordion-title {
  height: 50px !important;
  background-size: contain !important;
  background-position: center !important;
}

.acf-label.acf-accordion-title {
  transition: height 400ms, background-position 400ms;
  height: 200px !important;
  background-repeat: no-repeat !important;
  //background-size: 100% 84%!important;
  background-size: contain !important;
  background-position: 50% 50px !important;
}

.interface-interface-skeleton__sidebar {
  width: 350px !important;
}

.acf-image-select-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.background_svg_block {
  background: #e8e8e8;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-top: -1px;
  position: relative;

  .block-editor-block-list__layout .block-editor-block-list__block .block-editor-block-list__layout .block-editor-default-block-appender .block-editor-inserter {
    right: 18px;
  }

  .svg-shape, .svg-shape {
    z-index: -1;
    width: 100%;
    height: auto;
    position: absolute;

    &.top-svg-shape {
      margin-bottom: -1px;
    }
  }
}

/*radio button image select */
.acf-image-select .acf-radio-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.acf-image-select .acf-radio-list li {
  flex-basis: 30%;
  width: 30%;
}

.acf-image-select .acf-radio-list li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}

.acf-image-select label input {
  display: none;
}

.acf-image-select label p {
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.acf-image-select label img {
  border: solid 6px #ddd;
}

.acf-image-select label.selected img {
  border: solid 6px green;
}


tr.acf-row {

  > td:first-of-type {
    font-size: 24px !important;
    color: #3a3a3a !important;
    font-weight: 900 !important;
    text-shadow: none !important;
    font-family: initial;
  }

  &:nth-of-type(odd) {
    > td {
      border-top: 5px #dedede solid !important;
      border-bottom: 5px #dedede solid !important;

      &:first-of-type, &:last-of-type {
        background: #dedede !important;
      }

    }
  }

  &:nth-of-type(even) {
    > td {
      border-top: 5px #cbcbcb solid !important;
      border-bottom: 5px #cbcbcb solid !important;

      &:first-of-type, &:last-of-type {
        background: #cbcbcb !important;
      }
    }
  }
}
