@import "styles/sites/rentReports";

.page_header_block {
  .content {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
      //align-items: center;
    }
    @include large-screen {
      flex-direction: row;
      justify-content: space-between;
      @include paddingX(size(90), size(25));
    }
    
    .left-content {
      margin-bottom: size(33);
      padding-left: size(15);
      @include min-medium-screen {
        @include flexBasis(42.8%);
        margin-bottom: 0;
        padding-left: 0;
      }
      
      .headline-1 {
        @include small-screen {
          max-width: size(420);
        }
      }
      
      .description {
        max-width: size(390);
        @include marginY(size(5), size(17));
        @include min-medium-screen {
          max-width: 100%;
          @include marginY(size(17), size(30));
        }
        
        &-faq {
          @include flex(center, false, false, wrap);
          
          p {
            margin-right: size(5);
          }
          
          a {
            font-size: 100%;
            padding-bottom: size(5);
          }
        }
      }
      
      //.btn, .link {
      //  display: none;
      //}
      
      //&.has-link {
      //  .btn, .link {
      //    display: flex;
      //  }
      //}
      
      /*disable animation for text and btn on mobile*/
      .headline-1, .description, .btn {
        @include small-screen {
          opacity: 1 !important;
          visibility: visible !important;
          transition: none !important;
          transform: none !important;
        }
      }
    }
    
    .hero-img {
      
      img {
        max-width: 100%;
        @include marginX(auto);
        @include min-medium-screen {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
    
    .right-content {
      svg, img:not(.confetti-img) {
        width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
      
      .logos-wrapper {
        background-color: $rentReporters-white;
        box-shadow: 0 size(2) size(7) rgba(0, 0, 0, 0.1);
        border-radius: size(7);
        @include flex(center, center, column, false);
        padding: size(32) size(25);
        position: relative;
        
        @include min-medium-screen {
          padding: size(52) size(70) size(52) size(45);
        }
        
        .headline-3 {
          color: $rentReporters-dark-blue;
        }
        
        .logos {
          width: 100%;
          @include flex(false, center, false, wrap);
          margin-right: size(-20);
          @include min-medium-screen {
            justify-content: space-between;
            margin-right: 0;
          }
          
          .logo {
            margin-top: size(23);
            width: size(74);
            height: size(18);
            margin-right: size(14);
            @include min-medium-screen {
              width: size(120);
              height: size(30);
              margin-right: 0;
            }
            
            img {
              @include square(100%);
              object-fit: contain;
            }
          }
        }
        
        .plant {
          position: absolute;
          @include square(size(120));
          max-height: fit-content;
          bottom: 76%;
          left: calc(100% - 8.7rem);
          @include min-medium-screen {
            width: size(117);
            height: size(239);
            bottom: -10%;
            left: calc(100% - 4.85rem);
          }
          @include large-screen {
            width: size(157);
            height: size(309);
            bottom: -16%;
            left: calc(100% - 6.85rem);
          }
        }
      }
    }
  }
}

.page_header_block {
  &.about-hero {
    background-color: #f1f5ea;
    @include paddingY(size(216), size(44));
    @include min-medium-screen {
      @include paddingY(size(200), size(60));
    }
    @include large-screen {
      @include paddingY(size(278), size(146));
    }
    
    .content {
      @include small-screen {
        flex-direction: column-reverse;
      }
      @include large-screen {
        @include paddingX(size(90), size(0));
      }
      
      .left-content {
        @include marginY(size(33), 0);
        @include min-medium-screen {
          margin-top: 0;
          @include flexBasis(48.8%);
          @include paddingY(size(40),size(0));
        }
        @include large-screen {
          @include paddingY(size(74), size(20));
        }
      }
      
      .right-content {
        @include small-screen {
          max-width: size(315);
        }
        @include min-medium-screen {
          @include flexBasis(45%);
        }
        
        @include large-screen {
          @include flexBasis(46.9%);
        }
        position: relative;
        .confetti-fall{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          overflow: hidden;
          &.front{
            z-index: 2;
          }
          .confetti-img{
            position: absolute;
          }
        }
        
        svg{
          position: relative;
          z-index: 1;
        }
      }
    }
  }
}

.page_header_block {
  &.affiliate-program-hero {
    background-color: #ecf2e1;
    @include paddingY(size(216), size(44));
    @include min-medium-screen {
      @include paddingY(size(200), size(60));
    }
    @include large-screen {
      @include paddingY(size(212), size(73));
    }
    
    .content {
      @include small-screen {
        flex-direction: column-reverse;
      }
      @include large-screen {
        @include paddingX(size(85), size(70));
        
      }
      
      .left-content {
        @include marginY(size(33), 0);
        @include min-medium-screen {
          margin-top: 0;
          @include flexBasis(53.1%);
          @include paddingY(size(62), size(30));
        }
        @include large-screen {
          @include flexBasis(51.5%);
          @include paddingY(size(92), size(50));
        }
      }
      
      .right-content {
        @include small-screen {
          max-width: size(315);
        }
        @include min-medium-screen {
          @include flexBasis(45%);
        }
        @include large-screen {
          @include flexBasis(45.9%);
        }
      }
    }
  }
}

.page_header_block {
  &.brokers-hero {
    background-color: #edf6fa;
    @include paddingY(size(170),size(120));
    @include min-medium-screen {
      @include paddingY(size(170),size(80));
    }
    
    .container {
      @include large-screen {
        @include paddingX(size(140));
      }
    }
    
    .content {
      padding: 0;
      align-items: flex-start;
    }
    
    .text-image-wrapper {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(45%);
      }
      text-align: center;
      
      img {
        @include square(100%);
        object-fit: contain;
        @include min-medium-screen {
          max-width: 75%;
          margin: 0 auto;
        }
      }
      
      .headline-1 {
        max-width: 60%;
        margin: 0 auto size(70);
        @include large-screen {
          margin-bottom: size(52);
        }
      }
      
      &-left {
        
        .headline-1 {
          color: #2f7dc1;
        }
      }
      
      &-right {
        @include flexBasis(100%);
        @include min-medium-screen {
          @include flexBasis(35%);
        }
        
        .headline-1 {
          color: #2f7dc1;
          margin-bottom: size(45);
          max-width: size(400);
          @include min-medium-screen {
            margin-bottom: size(70);
          }
          @include large-screen {
            margin-bottom: size(82);
          }
        }
        
        img {
          width: 45%;
          margin-left: 31%;
          @include min-medium-screen {
            margin-left: auto;
            width: 80%;
          }
          @include large-screen {
            width: 65%;
          }
        }
      }
      
    }
    
    .arrow {
      max-width: size(286);
      width: 15%;
      @include small-screen {
        width: size(70);
        transform: rotate(90deg);
        margin: size(60) auto;
      }
      @include min-medium-screen {
        margin-left: size(-50);
      }
      @include large-screen {
        width: 12%;
        margin-left: size(-110);
      }
    }
  }
}

.page_header_block {
  &.competitors-hero {
    background-color: #ecf2e1;
    @include paddingY(size(216), size(44));
    @include min-medium-screen {
      @include paddingY(size(200), size(60));
    }
    @include large-screen {
      @include paddingY(size(212), size(73));
    }
    
    .content {
      @include large-screen {
        @include paddingX(size(85), size(70));
        
      }
      
      .left-content {
        @include min-medium-screen {
          @include flexBasis(45%);
          @include paddingY(size(62), size(30));
        }
        @include large-screen {
          @include flexBasis(45%);
          @include paddingY(size(92), size(50));
        }
        
        .headline-1 {
          @include max-medium-screen {
            z-index: 9;
            position: relative;
            font-size: 3rem;
            margin-bottom: size(20);
          }
        }
        
        .competitors-wrapper {
          display: flex;
          margin-top: 0;
          margin-bottom: size(20);
          align-items: flex-end;
          margin-right: auto;
          margin-left: auto;
          
          img {
            max-width: 100%;
            height: auto;
          }
          
          @include min-medium-screen {
            display: none;
          }
          .rent-img {
            margin-right: size(20);
            width: 60%;
            flex: 0 0 60%;
          }
        }
      }
      
      .right-content {
        @include min-medium-screen {
          @include flexBasis(52%);
        }
        @include large-screen {
          @include flexBasis(52%);
        }
        
        .competitors-wrapper {
          align-items: flex-end;
          margin-top: size(-300);
          display: none;
          @include min-medium-screen {
            display: flex;
            //margin-top: size(-280);
            margin-top: 0;
            max-width: 80%;
            margin-right: auto;
            margin-left: auto;
          }
          @include large-screen {
            //margin-top: size(-300);
            margin-top: 0;
          }
          
          .rent-img {
            position: relative;
            margin-right: size(20);
            width: 60%;
            flex: 0 0 60%;
            .light-animation{
              position: absolute;
              top: -66%;
              animation: flickerI 6s linear reverse;
              //transform-origin: 50% 0%;
              @keyframes flickerI {
                0% {
                  opacity: 0.4;
                }
                5% {
                  opacity: 0.5;
                }
                10% {
                  opacity: 0.6;
                }
                15% {
                  opacity: 0.85;
                }
                25% {
                  opacity: 0.5;
                }
                30% {
                  opacity: 1;
                }
                40% {
                  opacity: 0.25;
                }
                45% {
                  opacity: 0.5;
                }
                60% {
                  opacity: 1;
                }
                70% {
                  opacity: 0.85;
                }
                80% {
                  opacity: 0.4;
                }
                90% {
                  opacity: 0.5;
                }
                100% {
                  opacity: 1;
                }
              }
            }
          }
          
          
        }
      }
    }
  }
}

.page_header_block {
  &.faq-hero {
    background-color: #e2edf8;
    padding-top: size(216);
    @include min-medium-screen {
      padding-top: size(200);
    }
    @include large-screen {
      padding-top: size(217);
    }
    
    .content {
      @include small-screen {
        flex-direction: column-reverse;
      }
      @include large-screen {
        @include paddingX(size(85), size(120));
      }
    }
    
    .left-content {
      @include marginY(size(33), 0);
      @include min-medium-screen {
        margin-top: 0;
        @include paddingY(size(42));
      }
    }
    
    .right-content {
      width: 100%;
      @include small-screen {
        max-width: size(315);
      }
      @include min-medium-screen {
        @include flexBasis(39.99%);
      }
    }
  }
}

.page_header_block {
  &.free-credit-report-hero {
    background-color: #ecf2e1;
    @include paddingY(size(230), size(44));
    @include min-medium-screen {
      @include paddingY(size(220), size(60));
    }
    @include large-screen {
      @include paddingY(size(259), size(102));
    }
    
    .content {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      @include large-screen {
        align-items: flex-start;
        flex-direction: row;
        @include paddingX(size(85), size(83));
      }
      
      
      .left-content {
        margin-top: size(34);
        margin-bottom: 0;
        @include flexBasis(100%);
        padding-left: 0;
        
        .headline-1 {
          text-align: center;
          margin-bottom: size(22);
          @include marginX(auto);
          @include large-screen {
            text-align: left;
            margin-bottom: 0;
          }
        }
        
        .description {
          margin-bottom: 0;
          max-width: size(600);
          @include marginX(auto);
          text-align: center;
          @include large-screen {
            text-align: left;
          }
        }
        
        @include large-screen {
          @include flexBasis(42%);
          margin-top: 0;
        }
      }
      
      .right-content {
        width: 100%;
        
        .headline-3 {
          text-align: center;
        }
        
        @include min-medium-screen {
          @include flexBasis(60%);
        }
        
        @include large-screen {
          @include flexBasis(46.8%);
          
        }
        
        
      }
    }
    
  }
}


.page_header_block {
  &.home-hero {
    background-color: #e2edf8;
    @include paddingY(size(160), size(44));
    
    @include min-medium-screen {
      @include paddingY(size(200), size(60));
    }
    @include large-screen {
      @include paddingY(size(202), size(60));
    }
    
    .container {
      @include small-screen {
        @include paddingX(0);
      }
    }
    
    .content {
      @include small-screen {
        flex-direction: column-reverse;
      }
      @include min-medium-screen {
        align-items: center;
      }
      @include large-screen {
        @include paddingX(size(90), size(25));
        
      }
      
      .left-content {
        @include small-screen {
          @include marginY(size(33), 0);
          @include paddingX(size(45), size(30));
        }
        
        .headline-1 {
          @include small-screen {
            max-width: 98%;
          }
        }
        
        .description {
          max-width: size(290);
          
          @include min-medium-screen {
            max-width: 100%;
          }
        }
        
      }
      
      .right-content {
        @include min-medium-screen {
          @include flexBasis(55%);
        }
        @include large-screen {
          @include flexBasis(56.4%);
        }
      }
    }
    
    .light-me {
      transition: none;
    }
  }
}

.page_header_block {
  &.property-managers-hero {
    background-color: $rentReporters-white;
    @include paddingY(size(216), size(44));
    @include min-medium-screen {
      @include paddingY(size(200), size(60));
    }
    @include large-screen {
      @include paddingY(size(296), size(120));
    }
    
    .content {
      @include small-screen {
        flex-direction: column-reverse;
      }
      @include large-screen {
        @include paddingX(size(90), size(54));
      }
      
      .left-content {
        @include marginY(size(33), 0);
        @include min-medium-screen {
          margin-top: 0;
          @include flexBasis(53%);
          @include paddingY(size(50), size(40));
        }
        @include large-screen {
          @include flexBasis(49%);
          @include paddingY(size(57), size(90));
        }
        
        .headline-1 {
          @include small-screen {
            max-width: size(370);
          }
        }
      }
      
      .right-content {
        @include small-screen {
          max-width: size(315);
        }
        @include min-medium-screen {
          @include flexBasis(40%);
        }
        @include large-screen {
          @include flexBasis(38.6%);
        }
        
        svg {
          overflow: visible;
          @include small-screen{
            margin-left: size(17);
          }
        }
      }
    }
  }
}

.page_header_block {
  &.success-hero {
    background-color: $rentReporters-off-white;
    @include paddingY(size(216), size(40));
    @include min-medium-screen {
      @include paddingY(size(200), size(60));
    }
    @include large-screen {
      @include paddingY(size(231), size(85));
    }
    
    .content {
      @include paddingX(0);
      flex-direction: column-reverse;
      
      .left-content {
        margin-bottom: 0;
        width: 100%;
        padding-left: 0;
        
        @include min-medium-screen {
          margin-top: size(37);
        }
        
        .headline-1 {
          text-align: center;
          margin-bottom: size(22);
          @include marginX(auto);
          max-width: size(320);
          @include min-medium-screen {
            max-width: 100%;
          }
        }
        
        .description {
          text-align: center;
          margin: 0 auto;
          
          @include min-medium-screen {
            max-width: size(520);
          }
          @include large-screen {
            max-width: size(620);
          }
          
        }
        
        .headline-1, .description, .btn {
          @include small-screen {
            opacity: 1 !important;
            visibility: visible !important;
            transition: none !important;
            transform: none !important;
          }
        }
      }
      
      .right-content {
        @include small-screen {
          margin-bottom: size(25);
          max-width: size(315);
          @include marginX(auto);
          svg, img:not(.confetti-img) {
            width: 32.8%;
          }
        }
        @include min-medium-screen {
          @include flex(center, center, false, false);
          width: 100%;
          margin: 0 auto;
          .window {
            flex-basis: 33.3%;
          }
          @include min-medium-screen {
            width: size(571);
            height: size(190);
          }
        }
      }
    }
  }
}
