@import "styles/sites/advisorhub";

.stay_updated_block {
  @include paddingY(size(30), size(30));
  @include min-medium-screen {
    @include paddingY(size(0), size(30));
    margin-top: size(40);
    z-index: 0;
  }

  .title-section {
    max-width: size(349);
    display: flex;
    flex-direction: column;

    .headline-5 {
      color: $advisorhub_red;
      text-transform: capitalize;
      margin-bottom: size(18);
      @include font-size(18px , 23px);
      font-family: $PT_Serif;
      margin-top: 0;
    }

    .description {
      @include font(16px, 400, 22px, $advisorhub_black, $PT_Serif);
      margin-bottom: size(27);
      margin-top: 0;
    }

    .social {
      width: 30px;
      height: 30px;

      svg {
        width: 100%;
        height: 100%;
      }

      &:hover {
        svg {
          path {
            fill: $advisorhub_red;
          }
        }
      }
    }

    .svg-wrapper {
      display: flex;
      justify-content: flex-start;
      margin-bottom: size(45);

      .social {
        margin-right: size(24);

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }


  .row {
    @include change-gutter(size(20), size(20));
    @include min-medium-screen {
      @include change-gutter(size(53), size(53));
    }

  }

  .card {
    border-radius: 4px;
    background: $advisorhub_off_white;
    padding: 10px 20px;
    position: relative;
  }

  .aspect-ratio {
    padding-top: 63.79%;
    @include large-screen {
      padding-top: 64%;
    }
  }

  .magnifier {
    width: 100%;
    height: 100%;
  }


  .magnifier-wrapper {
    position: absolute;
    bottom: 3%;
    right: 3%;
    @include min-medium-screen {
      bottom: 3%;
      right: 3%;
    }
    @include large-screen {
      bottom: 5%;
      right: 5%;
    }
  }

  .social-img {
    width: 100%;
    height: 100%;
  }
}







