
@import "styles/sites/k1_elementor";
@import "~swiper/css";
@import "~swiper/css/pagination";


.latest_news_block {
  @include paddingY(size(70));
  @include min-medium-screen {
    @include paddingY(size(90));
  }
  @include large-screen {
    min-height: size(919);
    @include paddingY(size(125), size(97));
  }
  z-index: 3;

  @at-root .elementor-element-edit-mode & {
    .swiper-slide {
      width: 33.33%;
    }
  }

  .container {
    @include max-medium-screen {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .news-card .link.cta-link {
    color: $k1_project_white;

    &:hover {
      color: $k1_project_light_red;
    }
  }

  .latest-news-wrapper {
    z-index: 0;
  }

  .text-holder {
    margin-bottom: size(36);
  }

  .small-title {
    text-align: center;
    text-transform: uppercase;
    color: $k1_project_white;
    margin-bottom: size(6);
  }

  .big-title {
    @include font(36px, 700, 40px, $k1_project_white, $interstate, size(0.5));
    text-transform: capitalize;
    text-align: center;
    @include large-screen {
      @include font(48px, 900, 57.6px);
    }
  }

  .card-holder {
    display: flex;
    padding-bottom: size(247);
    margin-left: size(122);
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
  }

  .swiper {
    position: relative;
  }

  .swiper-slide {
    height: auto !important;
  }

  .swiper-button {
    margin-top: 0 !important;
  }

  .category-text {
    @include font(14px, 400, 14px, $k1_project_light_grey, $interstate, size(0.5));
    width: 100%;
    text-transform: capitalize;
  }

  .content-wrapper {
    padding-top: size(30);
  }

  .card-description {
    margin-top: size(15);
  }

  .cta-button {
    margin-top: size(55);
    min-width: size(126);
    @include min-medium-screen {
      margin-top: size(88);
    }
  }

  .white-background {
    display: none;
  }

  &.line {
    &:after {
      display: none;
    }
  }

  &.white-theme {
    .dark-background {
      display: none;
    }

    .swiper {
      padding-bottom: size(20);
    }

    .white-background {
      display: block;
    }

    .small-title {
      color: $k1_project_middle_red;
    }

    .big-title {
      color: $k1_project_grey;
    }

    .news-card {
      background: $k1_project_white;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

      .background-white {
        background: white;

        &.background-black {
          display: none;
        }

        &.cover-background {
          display: none;
        }
      }

      .content-wrapper {
        padding: 30px 30px 44px 30px;
      }

      .category-text {
        color: $k1_project_middle_red;
      }

      .card-description {
        color: $k1_project_grey;
      }

      .link {
        color: $k1_project_grey;

        &:hover {
          color: $k1_project_middle_red !important;
        }
      }
    }

  }

  &.video-theme {
    .image-wrapper {
      &:before {
        content: '';
        width: size(32);
        height: size(42);
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        cursor: pointer;
        //background: url("./../../images/Vector.png") no-repeat center/cover;
        z-index: 10;
      }

      &:after {
        content: "";
        @include square(100%);
        background: #bf863f73;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
      }
    }
  }
}









