


@import "styles/sites/zineone";


.global_offices_block {
  background-color: $zineone-dark;
  @include paddingY(size(120), size(80));
  
  .text1 {
    margin-bottom: size(80);
    color: $zineone-white;
  }
  
  .global-offices-head {
    border-left: 3px solid $zineone-Orange;
    padding-left: size(16);
    
    $mb: 0.8rem;
    
    .title {
      margin-bottom: $mb;
      color: $zineone-white;
    }
    
    .subtitle {
      letter-spacing: 0.01em;
    }
    
    .address {
      font-weight: 600;
      color: $zineone-Orange;
    }
    
    .description {
      margin-top: $mb;
      color: $zineone-grey;
    }
    
  }
  
  .paragraph {
    max-width: size(604);
  }
  
  .headline-3 {
    max-width: size(604);
    color: $zineone-white;
    margin-bottom: size(8);
    
  }
  
  .row {
    @include change-gutter(size(40), size(40));
  }
  
  .globally-offices-text {
    margin-top: size(80);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: size(-24);
    @include min-medium-screen {
      margin-top: size(120);
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @include large-screen {
      margin-top: size(160);
    }
    
    .w-100 {
      width: 100%;
    }
    
    .leader-office {
      margin-bottom: size(24);
      @include min-medium-screen {
        max-width: 33.125%;
      }
      
      .paragraph {
        color: $zineone-dark-grey;
      }
      
      .leader-office-value {
        color: $zineone-green;
      }
    }
  }
}


