@import "styles/sites/headversity";

.large_icon_card_block {
  --containerPadding: 2.7rem;
  margin-bottom: size(41);
  @include paddingY(size(51), size(41));

  @include large-screen {
    @include paddingY(size(125), size(116));
  }

  .container {
    @include paddingX(0)
  }

  @include min-medium-screen {
    --containerPadding: 7rem;
  }
  @include large-screen {
    --containerPadding: 15.7rem;

  }

  .platform-wrapper {
    @include flex(flex-start, space-between);
    @include small-screen {
      flex-direction: column;
    }

    & > div {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(50%)
      }
    }
  }

  .platform-content {
    padding: size(40) size(65) 0 var(--containerPadding);
    @include small-screen {
      margin-bottom: size(57);
    }
    @include min-medium-screen {
      padding: size(70) size(70) size(40) var(--containerPadding);
    }
    @include large-screen {
      padding: size(100) size(190) size(120) var(--containerPadding);
    }
  }

  .platform-title {
    margin-bottom: size(10);
    @include min-medium-screen {
      margin-bottom: size(30);
    }
  }

  .platform-media {
    position: relative;

    .aspect-ratio {
      padding-top: 93.6%;
      @include min-medium-screen {
        padding-top: 111.45%;

      }
    }
  }

  .absolute-media {
    @include min-medium-screen {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .advantage-wrapper {
    background: #FFFFFF;
    box-shadow: 0 size(10) size(20) #6137371a;
    border-radius: 0 size(30) size(30) 0;
    width: 93%;
    z-index: 1;
    position: relative;
    padding: 0 size(43) size(20) size(38);
    @include small-screen {
      margin-top: size(-70);
    }
    @include min-medium-screen {
      padding: size(50) size(40) size(50) var(--containerPadding);
      width: 74.45%;
    }
    @include large-screen {
      padding: size(90) size(83) size(102) var(--containerPadding);
    }
  }

  .advantage-parent {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }

  .advantage {
    padding-bottom: size(15);
    padding-right: 0;
    padding-top: size(46);
    @include flexBasis(100%);
    @include small-screen {
      @include paddingY(size(33))
    }
    @include large-screen {
      padding-bottom: size(45);
      padding-right: size(40);
    }

    &:nth-child(odd) {
      @include min-medium-screen {
        padding-right: size(20);
        @include flexBasis(50%);
        border-right: 2px solid $headversity_orange;
      }
      @include large-screen {
        @include flexBasis(46%);
        padding-right: size(90);
      }
    }

    &:nth-child(even) {
      @include min-medium-screen {
        padding-left: size(50);
        @include flexBasis(50%);
      }
      @include large-screen {
        @include flexBasis(54%);
        padding-left: size(70);
      }
    }

    &:not(:last-of-type) {
      @include small-screen {
        border-bottom: 2px solid $headversity_orange;
      }
    }

    &:not(:nth-last-child(-n+2)) {
      @include min-medium-screen {
        border-bottom: 2px solid $headversity_orange;
      }
    }

    &:nth-child(-n+2) {
      @include min-medium-screen {
        padding-top: size(13);
        padding-bottom: size(30);
      }
      @include large-screen {
        padding-bottom: size(52);
      }
    }

  }

  .advantage-icon {
    height: size(45);
    width: size(45);
    margin-bottom: size(10);
    @include min-medium-screen {
      height: size(75);
      width: size(75);
      margin-bottom: size(21);
    }

    svg, img {
      @include square(100%);
    }
  }

  .advantage-title {
    margin-bottom: size(2);
  }

  .advantage-description {
    font-family: $poppins;
  }
}
