@import "styles/sites/senet";

.tabs_block {
  background: #F5F5F5;
  @include paddingY(50px, 50px);

  @include min-medium-screen {
    @include paddingY(100px, 100px);
  }


  .cards-title {
    margin-bottom: 0;

    .title {
      margin-bottom: 0;
      color: $senet_nero;
      @include small-screen {
        margin-bottom: 0;
      }
      @include min-medium-screen {
        max-width: 357px;
        text-align: center;
        @include marginX(auto);
      }
      @include large-screen {
        max-width: 952px;
      }
    }

    .description {
      text-align: start;
      padding-top: 20px;
      @include min-medium-screen {
        text-align: center;
      }
      @include large-screen {
        padding-top: 33px;
      }
    }
  }

  .change_slide {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    @include marginX(auto);
    border-bottom: 1px solid #3A65C1;
    position: relative;
    width: 100%;
    @include min-medium-screen {
      padding-top: 64px;
      width: fit-content;
    }

    .slide_preview {
      position: relative;
      color: #184485;
      font-weight: 400;
      cursor: pointer;
      margin-bottom: 0;
      padding-bottom: 8px;
      @include small-screen {
        width: 47%;
      }

      &:not(:last-child) {
        @include min-medium-screen {
          margin-right: 44px;
        }
      }

      &:before {
        position: absolute;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
        border-bottom: 4px solid currentColor;
        width: 0;
        transition: width $duration;
      }

      &.slide_active {
        font-weight: 700;

        &:before {
          width: 100%;
        }
      }
    }

  }

  .cards {
    padding-top: 32px;
    display: none;

    @include large-screen {
      padding-top: 46px;
    }

    &.active_form {
      display: flex;

      .content-section {
        pointer-events: auto;
        opacity: 1;
      }

    }


    .grid-2-col {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      grid-auto-rows: 1fr;
      @include max-medium-screen {
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .grid-3-col {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      grid-auto-rows: 1fr;
      @include max-medium-screen {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      background: #FFFFFF;
      box-shadow: 0 12px 26px 4px rgba(0, 0, 0, 0.09);
      padding: 20px 18px 20px 18px;
      @include min-medium-screen {
        padding: 45px 40px 40px 40px;
      }
      @include large-screen {
        height: 100%;

      }

      .svg-card {
        padding: 0;
        width: 60px;
        height: 60px;
        margin-bottom: 19px;
        @include min-medium-screen {
          width: 100px;
          height: 100px;
          margin-bottom: 40px;
        }

        svg {
          @include square(100%);
        }
      }

      .title_card {
        margin-bottom: 12px;
      }

      .sub_title {
        margin-bottom: 18px;
        @include min-medium-screen {
          margin-bottom: 20px;
        }
      }

      .description_text {
        @include paddingX(0);
        padding-top: 0;
        margin-bottom: 18px;
        @include small-screen {
          max-width: 300px;
        }
        @include min-medium-screen {
          margin-bottom: 20px;
        }
      }

      .link_card {
        margin-top: auto;
        color: $senet_orange;
        width: 100%;
        display: flex;
        align-items: center;

        p {
          margin-bottom: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        svg {
          flex-shrink: 0;
        }
      }

      &.second_form {
        background: $senet_white;
        box-shadow: 0 12px 26px 4px rgba(0, 0, 0, 0.09);
        padding: 20px;

        @include large-screen {
          padding: 40px;
        }

        .svg-card {
          padding: 0;
          width: 60px;
          height: 60px;
          margin-bottom: 20px;
          @include min-medium-screen {
            padding: 0;
            width: 100px;
            height: 100px;
            margin-bottom: 40px;
          }

          svg {
            @include square(100%);
          }
        }

        .title_card {
          margin-top: 0;
          margin-bottom: 12px;

          @include min-medium-screen {
            margin-bottom: 20px;
            max-width: 308px;
          }
        }

        .second_title {
          margin-bottom: 0;
          color: $senet_gray;
        }

        .description_text {
          padding: 0 !important;
        }
      }

    }

    &.manual-cards {
      .row {
        @include change-gutter(40px, 40px);
      }
    }

    &.automatic-cards {
      .row {
        @include change-gutter(40px, 40px);
        @include large-screen {
          @include change-gutter(40px, 20px);
        }
      }
    }

  }


  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .content-section {
    pointer-events: none;
    animation: fadeIn 500ms;
    transition: opacity 500ms;

  }

}


