@import "styles/sites/headversity";


.hero_block {
  position: relative;
  @include paddingY(size(80), size(58/2));
  @include min-medium-screen {
    @include paddingY(size(88), size(20/2));
  }

  &.has-main-img {
    .images-wrapper {
      display: none;
    }

    .main-img-wrapper {
      display: block;

    }

    .container {
      @include small-screen {
        @include paddingX(size(0));
      }
    }

    .text-wrapper {

    }

    .title {
      @include font-size(30px, 36px);
      @include marginX(auto);
      margin-bottom: size(23);
      @include min-medium-screen {
        max-width: size(1046);
        @include marginX(auto);
        margin-bottom: size(30);
        @include font-size(48px, 60px);

      }
    }

  }

  &.has-no-media {

    .ctas {
      @include small-screen {
        max-width: fit-content;
      }

      .btn {
        @include small-screen {
          font-size: size(13);
        }
      }
    }

    .title {
      @include font-size(30px, 36px);
      @include marginX(auto);
      margin-bottom: size(23);

      @include min-medium-screen {
        max-width: size(1046);
        @include marginX(auto);
        margin-bottom: size(30);
        @include font-size(48px, 60px);

      }
    }
  }

  .text-wrapper {
    text-align: center;
    padding-bottom: size(65);
    @include small-screen {
      @include paddingX(size(25));
    }
    @include min-medium-screen {
      padding-bottom: size(77);
    }
  }

  .sub-title {
    @include marginX(auto);
    margin-bottom: size(10);
    text-align: center;
    max-width: size(1036);
  }

  .title {
    margin-bottom: size(32);
    color: $headversity_dark_blue;
    text-align: center;
    max-width: size(305);
    @include marginX(auto);
    //line-height: size(74);
    @include small-screen {
      font-size: size(30) !important;
      line-height: 135% !important;
    }
    @include min-medium-screen {
      max-width: size(787);
      margin-bottom: size(45);
      line-height: size(55.5);
    }

    p {
      span {
        position: relative;
        text-decoration: none !important;

        &:after {
          content: "";
          position: absolute;
          bottom: size(10);
          left: 0;
          background-color: $headversity_orange;
          width: 100%;
          height: 3px;
          transform-origin: left;
          transform: scaleX(0);
          transition: transform $duration;
        }
      }
    }

    &.animated {
      p {
        span {
          &:after {
            transform: scaleX(1);
          }
        }
      }
    }

  }


  .paragraph {
    text-align: center;
    @include small-screen {
      //margin-bottom: size(24);
      max-width: size(313);

    }
    color: $headversity_gray;
    max-width: size(729);
    @include marginX(auto);
  }

  .btn {
    @include small-screen {
      min-width: size(175);
      @include font-size(14px, 17px);
    }
    min-width: size(222);
    padding: size(13) size(32);;
    @include min-medium-screen {
      @include font-size(20px, 30px);
    }
  }

  .ctas {
    display: flex;
    justify-content: center;
    align-items: baseline;
    //margin-top: size(40);
    @include small-screen {
      @include marginX(auto);
      //margin-top: size(40);
      max-width: fit-content;
      align-items: center;
      flex-direction: column;

    }

    .btn {
      @include small-screen {
        margin-bottom: size(40);
        margin-right: size(0);

      }
      margin-right: size(48);

      &:only-child {
        @include marginX(auto);
        margin-bottom: size(0);
      }
    }
  }

  //Media Section

  .images-wrapper {
    margin-top: size(40);
    @include small-screen {
      margin-top: size(24);
      min-height: size(176);
    }
    position: relative;
    @include marginX(auto);
    max-width: size(943);
    min-height: size(440);

    .pic-1 {
      position: absolute;
      z-index: 10;
      left: 0;
      top: size(34);
      transform: translate(1%, 9%);
      @include min-medium-screen {
        top: size(97);
        left: 1%;
      }
      @include large-screen {
        top: size(97);
        transform: translate(10%, 0%);
      }

      .pic-1-content-wrapper {
        width: size(105);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
        background-color: $headversity_white;
        @include paddingX(size(9.74), size(13.3));
        @include paddingY(size(12));
        @include min-medium-screen {
          @include paddingX(size(13.8), size(26));
          @include paddingY(size(24), size(20.3));
          width: size(205);
        }
      }

      .pic1-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .pic1-left {
        width: 19.512%;
        @include min-medium-screen {
          width: 40.47%;
        }
      }

      .people-svg {
        width: 100%;
        height: size(18);
        @include min-medium-screen {
          height: size(37);
        }

        svg {
          @include objectImg();
        }
      }

      .pic1-right {
        width: 67.07%;
        @include min-medium-screen {
          width: 51.45%;
        }
      }

      .grey-fill {
        display: block;
        margin-bottom: size(3);
        width: 100%;
        height: 3px;
        background-color: #D7D5E1;
        @include min-medium-screen {
          margin-bottom: size(6);
          height: 7px;
        }

        &:last-of-type {
          margin-bottom: size(0);
        }
      }

      &.rounded {
        @include square(22vw);
        @include min-medium-screen {
          @include square(size(173.47));
          border-radius: 50%;
          //overflow: auto;
          top: size(42);
          transform: translate(25%, 0%);
        }

        * {
          border-radius: 50%;

        }
      }

      .img-wrapper {
        padding-top: 100%;
        object-fit: contain;
        @include min-medium-screen {
          padding-top: 100%;
        }
      }

    }

    .pic-2 {
      z-index: 0;
      position: absolute;
      padding-top: 54.9%;
      width: 87.6%;
      left: 50%;
      transform: translate(-50%);
      @include min-medium-screen {
        padding-top: 34.7%;
        width: 55.5%;
        left: 17%;
        transform: unset;
        @include large-screen {
          padding-top: 40.73%;
          width: 65%;
        }
      }

    }

    .pic-3 {
      @include small-screen {
        display: none;
      }
      width: 20.5%;
      padding-top: 39.661%;
      position: absolute;
      z-index: 10;
      right: 14%;
      top: size(64);
    }

    .pic-4 {
      position: absolute;
      z-index: 12;
      padding-top: 24.1%;
      right: 0;
      top: size(64);
      @include square(22vw);
      border-radius: 50%;
      //overflow: auto;
      @include min-medium-screen {
        @include square(size(173.47));
        padding-top: 15.7%;
        right: 4%;
        top: size(156);
      }
    }

    .pic-2, .pic-3, .pic-4 {
      img {
        object-fit: contain;
      }

    }
  }

  .main-img-wrapper {
    padding-top: 66.52%;
    object-fit: contain;
    @include min-medium-screen {
      border-radius: 30px;
      overflow: hidden;
      padding-top: 48.9%;
    }
  }

  .video-wrapper {
    margin-top: size(65);
    border-radius: size(30);
    overflow: auto;
    //display: none;
    background-color: #eeeeee;
    width: 100%;
    padding-top: 48.646%;
  }

  //Modal
  .modal {
    .container {
      @include small-screen {
        padding: 0;
      }
    }

    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .95);
    top: 50%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity $duration, width $duration, height $duration;

    &.show {
      opacity: 1;
      pointer-events: visible;
    }
  }

  .webinar-wrapper {
    @include marginX(auto);
    background-color: $headversity_white;
    position: relative;
    width: 100%;
    height: 100vh;
    @include paddingY(size(26));
    @include paddingX(size(57), size(47));
    @include min-medium-screen {
      box-shadow: 0px 10px 20px rgba(97, 55, 55, 0.1);
      border-radius: 30px 30px 0px 0px;
      width: 90%;
      height: unset;
      @include paddingY(size(16), size(56));
      @include paddingX(size(70));
    }
    @include large-screen {
      @include paddingY(size(16), size(56));
      @include paddingX(size(146), size(144));
      width: 85.02%;
    }
  }

  .form-img {
    width: size(53);
    @include marginX(auto);
    margin-bottom: size(15);
    @include min-medium-screen {
      width: size(73);

    }


    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .form-title {
    @include font(20px, 600, 20px, #081853, $poppins);
    text-align: center;
    @include marginX(auto);
    margin-bottom: size(10);
    max-width: size(270);

    @include min-medium-screen {
      @include font-size(36px, 36px);
      max-width: size(482);

    }
  }

  .form-description {
    margin-bottom: size(25);
    text-align: center;
    max-width: size(270);
    @include marginX(auto);
    @include min-medium-screen {
      margin-bottom: size(40);

      max-width: size(489);

    }
  }

  .exit {
    top: size(27);
    right: size(21);
    cursor: pointer;
    position: absolute;
    @include min-medium-screen {
      top: size(33);
      right: size(39);
    }

  }


  .gfield {
    width: 100%;
    max-width: size(286);
    @include marginX(auto);
    @include min-medium-screen {
      max-width: unset;
      width: calc((100% / 2) - 12px);
    }
  }

  #field_3_11 {
    width: 100% !important;
  }


  .gfield_description {
    padding-top: size(16) !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 14px !important;
    color: $headversity_dark_blue !important;
    font-family: $poppins !important;
    @include large-screen {
      font-size: 14px !important;

    }
  }

  .large {
    &::placeholder {
      font-size: 14px !important;
      font-weight: 400 !important;
      line-height: 24px !important;
      color: $headversity_gray !important;
      font-family: $poppins !important;
    }
  }

  .gfield_html {
    @include marginX(auto);
    text-align: center;
    width: 100%;

  }

  .small-description {
    @include font(10px, 400, 24px, $headversity_gray, $poppins);
    max-width: size(369);
    @include marginX(auto);

  }

  .links-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    min-width: 0 !important;
    max-width: size(175) !important;
  }

  .my-btn {
    display: block !important;
    max-width: size(175) !important;
    margin: unset !important;

    &::after {
      width: 100% !important;
      height: 100% !important;
    }
  }

  &.hero-single-general {
    margin-bottom: size(85);
    @include paddingY(size(116), 0);

    .main-img-wrapper {
      border-radius: size(30) 0;
    }

    .author-name {
      margin-bottom: size(13);
      width: fit-content;
      @include font(16px, 700, 24px, #005DB2, $inter,);
      @include marginX(auto);

      a {

        &:hover {
          color: $headversity_orange;
        }
      }

    }

    .text-wrapper {
      padding: 0;
    }

    .title {
      color: #081853;
      width: 100%;
      max-width: 95%;
      @include font-size(36px, 40px);
      @include min-medium-screen {
        @include font-size(48px, 60px);
        margin-bottom: size(85);
      }
    }
  }

}

