@import "styles/sites/headversity";

.team_member_block {
  @include paddingY(size(125), size(115));
  $postion-of-arrow-large: size(80);

  .team-member-wrapper {
    .team-card {
      cursor: pointer;
    }

    .title, .paragraph {
      max-width: size(672);
      @include marginX(auto);
    }

    .title {
      margin-bottom: size(22);
    }

    .team-member-description {
      max-width: size(672);
      margin-bottom: size(77);
    }

    .team_member-cards {
      @include change-gutter(size(26), size(57));
      @include min-medium-screen {
        @include change-gutter(size(26), size(73));
      }
    }

    .profile-image {
      padding-top: 84%;
      overflow: hidden;

      .img-1 {
        opacity: 1;
        visibility: visible;
        transition: opacity $duration, visibility $duration, transform $duration;
        object-position: 70% 12%;
        //animation: zoom-in-zoom-out 1s ease infinite;

      }

      .img-2 {
        opacity: 0;
        visibility: hidden;
        transition: opacity $duration, visibility $duration;
        object-position: 70% 12%;

      }

      &.hav-hover-img {
        &:hover {

          .img-1 {
            opacity: 0;
            visibility: hidden;
          }

          .img-2 {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      //&.no-hover-img {
      //  &:hover {
      //    .img-1 {
      //      transform: scale(1.1);
      //    }
      //  }
      //}

    }
  }


  .card-content {
    margin-top: size(21);
  }

  .card-title {
    margin-bottom: size(2);
    @include font(16px, 600, 30px, $headversity_compliant_blue, $poppins);
  }

  .content-of-card {
    svg {
      color: $headversity_orange;
      transition: opacity $duration;
      @include square(size(15));
      margin-left: size(8);

      line {
        stroke: currentColor;
      }

      &.minus-icon {
        opacity: 0;
      }
    }

    .remove-to-close {
      transform-origin: center;
      transition-property: opacity, transform;
      transition-duration: .3s;
      transition-timing-function: cubic-bezier(0.97, -0.01, 0.42, 0.56);
    }

    &.active {
      .remove-to-close {
        transform: rotate(90deg);
        opacity: 0;
      }
    }
  }

  .name-and-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .card-descpation {
    height: 0;
    overflow: hidden;
    position: relative;

    &:before {
      content: "";
      position: relative;
      width: 100%;
      height: size(19);
      background: transparent;
      display: block;
    }

    .paragraph {
      font-family: $poppins;
      @include font-size(14px, 24px);
    }
  }


  .link {
    margin-top: size(90);
    @include marginX(auto);
  }


  .swiper-slide {
    height: auto !important;
  }

  .swiper-button-prev {

    left: $postion-of-arrow-large;
    top: 50%;
  }

  .swiper-button-next {
    right: $postion-of-arrow-large;
    top: 50%;
  }

  .modal {
    @include small-screen {
      display: none;
    }
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, .95);
    top: 50%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity $duration;
    width: 100vw;
    height: 100vh;

    &.show {
      opacity: 1;
      pointer-events: visible;

      .modal-content {
        opacity: 1;
        transform: scale(1);
        transition-delay: .5s;
      }
    }
  }

  .modal-content {
    position: relative;
    @include paddingX(size(174));
    width: 100%;
    max-width: size(1440);
    display: none;
    opacity: 0;
    transform: scale(.5);
    transition: opacity $duration, transform $duration;
    @include large-screen {
      display: block;
    }
  }


  .mySwiper {
    background-color: $headversity_white;
    box-shadow: 0 size(10) size(20) rgba(97, 55, 55, 0.1);
  }

  .modal-card {
    width: size(1093);
    position: relative;
    display: flex;
    align-items: flex-start;
    height: 100%;

    .card-left {
      width: size(346);
      position: relative;
      height: 100%;

      .img-wrapper {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;

        img {
          @include square(100%);
          object-fit: cover;
        }
      }
    }

    .card-right {
      flex-grow: 1;
      height: 100%;
      margin-left: auto;
      @include paddingX(size(64), size(116));
      @include paddingY(size(41), size(80));


      .card-title {
        margin-bottom: size(2);
        @include font(16px, 600, 30px, $headversity_compliant_blue, $poppins);
      }

      .name {
        margin-bottom: size(60);
      }

      .description {

        max-width: size(566);
      }
    }

    .exit {
      cursor: pointer;
      position: absolute;
      z-index: 1000;
      top: 5%;
      right: size(20);
    }
  }


  /////////////////

}
