


@import "styles/sites/zineone";

header {
  background-color: #1D4070;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  transition: background-color 300ms;
  $headerPaddingY: 1.6rem;

  
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: padding 300ms;
    padding: size(16) size(24);
    max-width: size(1680);
    @include marginX(auto);
    @include large-screen {
      @include paddingX(size(32));
    }
  }
  
  .header-logo {
    display: block;
    z-index: 10;
    @include flexBasis(size(136));
    @include large-screen {
      max-width: 10.39%;
      @include flexBasis(size(168));
    }
    
    img {
      @include objectImg();
    }
    
    svg {
      width: 100%;
      height: auto;
    }
  }
  
  $headerLinkMobileMB: size(16);
  
  .header-links {
    display: flex;
    @include font(size(14), 700, 171.42%, $zineone-white, 0.20000000298023224px);
    @include max-medium-screen {
      position: fixed;
      z-index: 9;
      top: 0;
      left: 0;
      clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
      //@include square(100%);
      width: 100vw;
      height: 100%;
      background: $zineone-dark;
      padding: size(90) size(24) size(24);
      flex-direction: column;
      pointer-events: none;
      //overflow: hidden scroll;
      transition: clip-path $duration;
      overflow: scroll;
      //@include marginY(-$headerLinkMobileMB);
      &-active {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        pointer-events: auto;
        
        .header-link-active {
        }
      }
      
    }
    @include large-screen {
      max-width: 70%;
      margin-left: auto;
      flex-wrap: wrap;
    }
    
    a {
      color: inherit;
    }
    
    .header-button {
      &:not(:last-child) {
        margin-bottom: size(32);
      }
    }
  }
  
  $headerPaddingX: 1.9rem;
  $headerPaddingY: 1.5rem;
  
  .header-link {
    @include flex(center, space-between, false, wrap);
    transition: color $duration;
    //@include marginY($headerLinkMobileMB);
    &:not(:last-child) {
      margin-bottom: size(32);
    }
    
    @include large-screen {
      justify-content: flex-start;
      padding: $headerPaddingY $headerPaddingX;
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
    
    &:not(.has-megamenu) {
      .header-link-a {
        transition: color $duration;
        
        &:hover {
          color: $zineone-green;
        }
      }
    }
    
    &.no-hover {
      cursor: default;
      transition: color $duration;
      
      &:hover {
        color: $zineone-green;
        
        .header-link-text {
          color: $zineone-green;
        }
      }
    }
    
    &.has-megamenu {
      position: relative;
      cursor: pointer;
      
      &.active-header-link {
        @include max-medium-screen {
          .header-link-a {
            color: $zineone-green;
          }
          .header-link-text {
            color: $zineone-green;
          }
          .megamenu-outside-spacer {
            height: size(32);
          }
          
          .dropdown-angle {
            color: $zineone-green;
            transform: scale(-1);
          }
        }
      }
      
      
      @include large-screen {
        cursor: auto;
        &:before {
          content: '';
          position: absolute;
          z-index: 99;
          display: block;
          width: 100%;
          height: size(30);
          top: calc(100% - #{size(5)});
          left: 0;
        }
        &:hover {
          .header-link-a {
            color: $zineone-green;
          }
          
          .dropdown-angle {
            transform: scale(-1);
          }
          
          &.has-hover {
            .dropdown-angle {
              color: $zineone-green;
            }
          }
          
          .megamenu {
            pointer-events: auto;
            opacity: 1;
            transform: translateY(0);
            transition-delay: 0ms !important;
            
            
            &-two-columns {
              transform: translate(-50%, 0) !important;
            }
          }
        }
      }
    }
  }
  
  .header-link-a {
    @include max-medium-screen {
      &:hover {
        color: $zineone-green;
      }
    }
  }
  
  .megamenu-outside-spacer {
    height: 0;
    width: 100%;
    transition: height 500ms;
  }
  
  .megamenu {
    width: 100%;
    @include paddingX(size(16));
    border-radius: size(8);
    cursor: default;
    @include max-medium-screen {
      height: 0;
      overflow: hidden;
    }
    @include min-medium-screen {
      @include paddingX(size(32));
    }
    @include large-screen {
      position: absolute;
      z-index: 99;
      top: calc(100% + #{$headerPaddingY});
      left: $headerPaddingX;
      width: size(466);
      opacity: 0;
      pointer-events: none;
      transform: translateY(size(20));
      transition: opacity, transform;
      transition-duration: $duration;
      transition-delay: 50ms;
      overflow: auto;
      height: auto !important;
      max-height: calc(95vh - #{size(88)}) !important;
    }
    
    &-outside-right {
      left: auto;
      right: $headerPaddingX;
    }
    
    $megamenuLinksMT: size(24);
    
    &-two-columns {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      @include large-screen {
        transform: translate(-50%, size(20)) !important;
        width: size(1061);
      }
      
      .megamenu-link-wrapper, > .megamenu-link {
        @include flexBasis(100%);
        @include large-screen {
          @include flexBasis(45%);
        }
      }
      
      .megamenu-link-wrapper {
        @include large-screen {
          &:nth-last-of-type(-n+2) {
            margin-bottom: 0;
          }
        }
      }
      
      .megamenu-link {
        @include large-screen {
          &:nth-last-of-type(-n+2) {
            margin-bottom: 0;
          }
        }
      }
    }
    
    .megamenu-link-wrapper {
      @include max-medium-screen {
        cursor: pointer;
      }
      
      &:not(:last-of-type) {
        margin-bottom: size(32);
      }
      
      .megamenu-info-description {
        margin-bottom: 0;
        transition: margin-bottom 500ms;
      }
      
      &.active {
        .megamenu-info-description {
          &:not(:last-child) {
            margin-bottom: $megamenuLinksMT;
          }
        }
        
        .megamenu-info-text {
          color: $zineone-green;
        }
        
        .megamenu-info-title {
          color: $zineone-green;
        }
        
        .megamenu-dropdown-angle {
          transform: scale(-1);
          
          path {
            fill: $zineone-green;
          }
        }
      }
      
      .megamenu-info {
        color: $zineone-dark-grey;
      }
    }
    
    
    &-spacer {
      display: block;
      width: 100%;
      height: size(16);
      @include min-medium-screen {
        height: size(32);
      }
    }
    
    &-link {
      display: flex;
      align-items: flex-start;
      
      &:not(:last-of-type) {
        margin-bottom: size(32);
      }
      
      .megamenu-info-title {
        transition: color $duration;
      }
    }
    
    &-image {
      //@include flexBasis(15.76%);
      @include flexBasis(size(64));
      //width: size(64);
      margin-right: size(16);
      flex-shrink: 0;
    }
    
    .aspect-ratio {
      border-radius: size(8);
      overflow: hidden;
      padding-top: 100%;
    }
    
    &-info {
      position: relative;
      flex-grow: 1;
      @include font(size(18), 600, 155.55%, $zineone-dark, 0.2px);
      
      &-title {
        margin-bottom: size(8);
        font: inherit;
        display: block;
        
        &:hover {
          color: $zineone-green;
        }
        
        @include max-medium-screen {
          width: fit-content;
          max-width: 85%;
        }
      }
      
      &-description {
        font: inherit;
        font-weight: 400;
        color: $zineone-dark-grey;
        @include large-screen {
          &:not(:last-child) {
            margin-bottom: $megamenuLinksMT !important;
          }
        }
      }
    }
    
    &-links {
      overflow: hidden;
      height: 0;
      @include large-screen {
        height: auto !important;
      }
    }
    
    &-links-wrapper {
      @include flex(flex-start, space-between, false, wrap);
      
      ul {
        max-width: 100%;
        @include flexBasis(100%);
        @include small-screen {
          &:not(:last-child) {
            margin-bottom: size(16);
          }
        }
        @include min-medium-screen {
          max-width: 48%;
        }
      }
    }
    
    .megamenu-dropdown-angle {
      position: absolute;
      right: 0;
      top: size(10);
      width: size(12);
      height: auto;
      transition: transform $duration;
    }
    
    &-sublink {
      color: $zineone-dark;
      
      &:not(:last-child) {
        margin-bottom: size(16);
      }
      
      //transition: color $duration;
      
      &:hover {
        color: $zineone-green;
      }
      
      a {
        display: block;
      }
    }
  }
  
  .megamenu-info-text {
    transition: color $duration;
  }
  
  // region burger menu
  
  .burger-menu {
    width: size(18);
    height: size(16);
    //position: relative;
    z-index: 10;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    flex-shrink: 0;
    border: none;
    background: transparent;
    padding: 0;
    
    &:focus {
      outline: none !important;
    }
    
    span {
      display: block;
      width: 100%;
      height: size(3);
      margin-bottom: size(3);
      position: relative;
      z-index: 1;
      transition: color $duration;
      color: $zineone-white;
      
      &:after, &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        opacity: .99;
        transition: background-color $duration;
        display: table;
      }
      
      &:nth-of-type(even) {
        &:before {
          transform-origin: right;
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }
        
        &:after {
          transform-origin: left;
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }
      }
      
      &:before {
        transform-origin: right;
        transform: scaleX(1) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
      }
      
      &:after {
        transform-origin: left;
        transform: scaleX(0) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1);
      }
      
      &:last-child {
        margin: 0 auto;
      }
      
      &:first-child {
        margin: 0 auto size(3);
      }
    }
    
    &:hover {
      span {
        
        &:nth-of-type(even) {
          &:before {
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }
          
          &:after {
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }
        }
        
        &:before {
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }
        
        &:after {
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }
        
      }
    }
  }
  
  // endregion burger menu
  
  .dropdown-angle {
    width: size(12);
    height: auto;
    margin-left: size(6);
    transition: transform $duration;
  }
  
  .header-buttons {
    @include flex(flex-start, space-between, false, false);
    @include flexBasis(16.95%);
    margin-left: 3.8rem - $headerPaddingX;
  }
  
  .btn {
    @include large-screen {
      @include paddingX(size(14));
    }
    
    &-login {
      @include flexBasis(35.03%);
    }
    
    &-book-demo {
      @include flexBasis(59.12%);
    }
  }
  
  &.header-active {
    .header-wrapper {
      @include max-medium-screen {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 10;
          background: $zineone-dark;
        }
      }
    }
  }
  
  &.sticky {
    background: $zineone-dark;
    
    .header-wrapper {
      @include paddingY(size(10));
    }
  }
}


