
@import "styles/sites/datavisor";


.testimonials_slider_block {
  width: 80.1%;
  //margin: auto;
  padding-top: 180px;
  padding-bottom: 50px;
  max-width: 1140px;
  margin: 0 auto;


  @include min-medium-screen {
    //padding: 50px 150px 85px 120px;
    padding-top: 60px;
    padding-bottom: 160px;
  }

  .testimonial-wrapper {
    max-width: 1140px;
    margin: 0 auto;

  }

  .test-wrapper {
    @include min-medium-screen {
      //display: flex;
      //position: relative;
      //padding: 100px 50px 100px 60px;
    }

  }

  .card-image {
    width: 70%;
    display: block;
    z-index: 9;
    margin: 0 auto 20px;
    @include min-medium-screen {
      width: 100%;
      margin: 0 0 20px 0;
    }

    @include large-screen {
      padding-top: 48.68%;
      width: 40.36%;
      background: #ffffff;
      bottom: -40px;
      left: 0;
      top: -20px;
      position: absolute;
    }

    img {
      //box-shadow: 12px 12px 32px 2px rgb(0 0 0 / 15%);
      box-shadow: 12px 12px 32px rgba(0, 0, 0, 0.15);
      object-fit: cover;
      height: 100%;
      width: 100%;
      margin-top: -50%;
      filter: drop-shadow(12px 12px 32px rgba(0, 0, 0, 0.15));
      @include min-medium-screen {
        width: 100%;
        margin-top: 0;
      }
      @include large-screen {
        //box-shadow: 12px 12px 32px 2px rgb(0 0 0 / 15%);
        box-shadow:12px 12px 32px rgba(0, 0, 0, 0.15);
        object-fit: cover;
        height: 100%;
        width: 100%;
        top: 0;
        position: absolute;
      }
    }
  }

  .card-wrapper {
    //padding: 146px 46px 152px 46px;
    box-shadow: 12px 12px 32px 2px rgba(0, 0, 0, 0.15);
    //transform: translateY(-20%);
    @include min-medium-screen {
      display: flex;
      flex-direction: column;
    }
    @include large-screen {
      justify-content: flex-end;
      flex-direction: unset;
      width: 77.94%;
      margin-left: auto;
      background: white;
    }
  }

  .slide-content-wrapper {
    padding: 0 20px 20px 20px;
    @include min-medium-screen {
      padding: 0 20px 20px 20px;
    }

    @include large-screen {
      padding: 70px 120px 70px 230px;
    }

  }

  .logo {
    width: 183.16px;
    height: 96px;
    margin-bottom: 15px;
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .description p {
    max-width: 98%;
    font-family: "Segoe UI" !important;
    font-size: 20px !important;
    font-weight: 300 !important;
    color: $datavisor_black;
    line-height: 30px !important;
    margin-bottom: 50px;
    @include min-medium-screen {
      max-width: 504px;
      margin-bottom: 24px;
    }

    & a {
      color: #6abf4b;
      font-weight: 300;
      text-decoration: underline;

      &:hover {
        color: #000;
      }
    }
  }

  .name {
    font-family: $Rubik;
    font-size: 16px;
    font-weight: 600;
    color: $datavisor_black;
    line-height: 30px;
    text-transform: capitalize;
  }

  .position-wrapper {
    font-family: $Rubik;
    font-size: 16px;
    font-weight: 400;
    color: $datavisor_black;
    line-height: 30px;
    display: flex;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  //swiper style
  .swiper-pagination {
    position: relative;
    width: fit-content;
    margin-right: auto;
  }

  .swiper-pagination-bullet {
    background: #D9D9D9;
    margin-right: 20px !important;
    cursor: pointer;
    opacity: 1;
    transition: background 500ms ease;
    position: relative;

    &:last-of-type {
      margin-right: 0 !important;
    }

    &:hover {
      background: $datavisor_purple;
    }

    &:focus {
      border: 0.25px solid $datavisor_purple;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      background: transparent;
    }
  }


  .swiper-pagination-bullet-active {
    background: $datavisor_purple;
  }

  .swiper {
    overflow: unset !important;
  }

  .position-company::before {
    content: ',';
    margin-right: 6px;
  }

  @media screen and (min-width: 992px) and (max-width: 1024px) {
    .card-image {
      padding-top: 60%;
    }
  }

  @media screen and (max-width: 785px) {
    .testimonials_slider_block {
      padding-top: 130px;
    }
  }
}







