:root {
  /* Colors: */
  --eisgroup_white: #ffffff;
  --eisgroup_real_black: #000;


  --eisgroup_black: #222222;
  --eisgroup_soft_black: #3A3A3A;

  --eisgroup_light_grey: #FAFAFA;

  --eisgroup_light_teal: #5EABAB;
  --eisgroup_dark_teal: #33657E;
  --eisgroup_compliant_teal: #237272;

  --eisgroup_light_green: #80BE5A;
  --eisgroup_dark_green: #6D9B2F;

  --eisgroup_purple: #92508F;
  --eisgroup_dark_purple: #3E3F7B;

  --eisgroup_dark_blue: #304C82;

}