@import "variables";
@import "mixins";
@import "root";

html {
  font-size: 10px;
}

body {
  background: $eisgroup_white;
}

// region container
.container {
  @include paddingX($container-sm);
  @include min-medium-screen {
    @include paddingX($container-md);
  }
  @include large-screen {
    @include paddingX($container-lg);
  }
  @at-root body .section-noContainer & {
    @include paddingX(0);
  }
}

//endregion


// region font  Styling
.headline-1, .wysiwyg-block h1, .blog-content-wrapper h1 {
  @include font(36px, 700, 42px, $eisgroup_black, $Source_Sans_Pro);
  @include min-medium-screen {
    @include font-size(54px, 60px);
  }
}

.headline-2, .wysiwyg-block h2, .blog-content-wrapper h2 {
  @include font(24px, 700, 36px, $eisgroup_black, $Source_Sans_Pro);
  @include min-medium-screen {
    @include font-size(36px, 48px);
  }

}

.headline-3, .wysiwyg-block h3, .blog-content-wrapper h3 {
  @include font(18px, 400, 24px, $eisgroup_black, $Source_Sans_Pro);
  @include min-medium-screen {
    @include font-size(24px, 36px);
  }

  &.bold {
    font-weight: 700;
  }
}

.headline-4, .wysiwyg-block h4, .blog-content-wrapper h4 {
  @include font(16px, 700, 24px, $eisgroup_black, $Source_Sans_Pro);
}

.headline-5, .wysiwyg-block h5, .blog-content-wrapper h5 {
  @include font(16px, 400, 20px, $eisgroup_black, $Source_Sans_Pro);
  @include min-medium-screen {
    @include font-size(18px, 36px);
  }
}

.headline-6, .wysiwyg-block h6, .blog-content-wrapper h6 {
  @include font(14px, 600, 24px, $eisgroup_black, $Source_Sans_Pro);

  @include min-medium-screen {
    @include font-size(16px, 20px);
  }
}


.paragraph, .wysiwyg-block p {
  @include font(14px, 400, 24px, $eisgroup_black, $Source_Sans_Pro);
  @include min-medium-screen {
    @include font-size(18px, 24px);
  }

  &.bold {
    font-weight: 700;
  }

  &-s-paragraph {
    @include min-medium-screen {
      @include font-size(14px, 18px);
    }

    &.bold {
      font-weight: 700;
    }
  }

  &-m-paragraph {
  }

  &-l-paragraph {
    @include min-medium-screen {
      @include font-size(18px, 28px);
    }
  }

}
.small-text {
  @include font(14px, 400, 45px, $eisgroup_dark_teal, $Source_Sans_Pro);

  &.bold {
    font-weight: 700;
  }
}

.wysiwyg-block ul {
  margin-left: size(20);

  li {
    font: inherit;
    color: inherit
  }
}

.wysiwyg-block ol {
  margin-left: size(20);

  li {
    font: inherit;
    color: inherit
  }
}



// endregion

// region cta button
.cta-button {
  @include font(14px, 600, 18px, $eisgroup_white, $Source_Sans_Pro, 0.02em);
  background-color: $eisgroup_dark_teal;
  border: 1px solid $eisgroup_dark_teal;
  border-radius: size(3);
  padding: size(11) size(22);
  @include flex(center, center);
  min-width: size(110);
  width: fit-content;
  transition: background-color 500ms, color 500ms;
  cursor: pointer;
  text-transform: capitalize;
  position: relative;
  transform-origin: center;

  &.cta-large {
    min-width: size(342);
  }

  &:hover {
    background-color: $eisgroup_white;
    color: $eisgroup_dark_teal;
    //box-shadow: 0 size(10) size(20) #95959533;
    path {
      fill: $eisgroup_dark_teal;
    }
  }

  &.cta-secondary {
    color: $eisgroup_dark_teal;
    background: $eisgroup_white;

    &:hover {
      background-color: $eisgroup_dark_teal;
      color: $eisgroup_white;
      //box-shadow: 0 size(10) size(20) #95959533;

    }
  }

  &.cta-small {
    text-decoration: underline;
    color: $eisgroup_dark_teal;
    font-weight: 600;
    background-color: unset;
    border: none;
  }


}


// endregion cta button


// region  wysiwyg
.wysiwyg-block {
  h1, h2, h3, h4, h5, h6, ul, p {
    margin-bottom: size(20);
  }

  ul, ol {
    margin-bottom: size(20);
    padding-top: 0;

    ul, ol {
      margin: size(5) 0 0 size(10);
    }
  }

  ol {
    padding-left: size(17);


    ul {
      margin-bottom: 0;
    }
  }
}

//endregion//

// region swiper navigation
.swiper-arrows-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .swiper-button {
    @include square(size(50));
    cursor: pointer;

    svg {
      @include square(100%);

      circle {
        fill: transparent;
        transition: fill $duration;
      }
    }

    &:hover {
      svg {
        circle {
          fill: $eisgroup_light_grey;
        }
      }
    }
  }

  .arrow-left {
    margin-right: size(30);
  }
}


// endregion swiper navigation

// region swiper pagination
.pagination-wrapper {
  width: fit-content;
  margin: auto;
  position: relative;

  svg {
    height: 2px;
    top: 50%;
    position: absolute;
    width: 100%;
    left: 0;
    transform: translateY(-50%);


    line {
      stroke: $eisgroup_black !important;
      stroke-dasharray: 0.01 3.5;
      stroke-linecap: round;
      stroke-width: 1.5px;
    }
  }
}

.swiper-pagination {
  position: relative;
  @include flex(center);
  width: fit-content !important;
  //overflow: hidden;

  //&:before {
  //  position: absolute;
  //  content: '';
  //  display: block;
  //  //background-image: url("../images/line.png");
  //  top: 50%;
  //  left: 0;
  //  height: 2px;
  //  width: 100%;
  //  transform: translateY(-50%);
  //}

  .swiper-pagination-bullet {
    @include square(size(13.24));
    background: $eisgroup_white;
    position: relative;
    border: 1px solid $eisgroup_dark_blue;
    cursor: pointer;
    opacity: 1;
    border-radius: 50%;
    transition: background-color $duration, border-color $duration;
    color: transparent;

    &:last-child {
      margin-right: unset !important;
    }

    &:not(:last-child) {
      margin-right: size(26) !important;
    }

    &:hover {
      background-color: $eisgroup_dark_blue;
    }


  }

  .swiper-pagination-bullet-active {
    background-color: $eisgroup_black;
    @include square(size(53));
    color: $eisgroup_dark_blue;
    border: none;
    //text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(16px, 600, 60px, $eisgroup_dark_blue, $Source_Sans_Pro);
    @include min-medium-screen {
      @include font(18px, 600, 60px, $eisgroup_dark_blue, $Source_Sans_Pro);

    }
    @include large-screen {
      @include font(22px, 600, 60px, $eisgroup_dark_blue, $Source_Sans_Pro);
    }

    &:hover {
      background-color: $eisgroup_light_grey;
    }

    // region test

    //&:after{
    //  @include square(size(53));
    //  content: "";
    //  position: absolute;
    //  top: 50%;
    //  left: 50%;
    //  transform: translate(-50% , -50%);
    //  border-radius: 50%;
    //  z-index: -1;
    //  background-color: $rockleyphotonics_light_blue_bg;
    //
    //}

    //   endregion
  }


}


// endregion swiper pagination








