// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$eisgroup_white:var(--eisgroup_white);
$eisgroup_real_black:var(--eisgroup_real_black);

$eisgroup_black:var(--eisgroup_black);
$eisgroup_soft_black:var(--eisgroup_soft_black);

$eisgroup_light_grey:var(--eisgroup_light_grey);

$eisgroup_light_teal:var(--eisgroup_light_teal);

$eisgroup_dark_teal:var(--eisgroup_dark_teal);
$eisgroup_compliant_teal:var(--eisgroup_compliant_teal);

$eisgroup_light_green:var(--eisgroup_light_green);
$eisgroup_dark_green:var(--eisgroup_dark_green);

$eisgroup_purple:var(--eisgroup_purple);
$eisgroup_dark_purple:var(--eisgroup_dark_purple);

$eisgroup_dark_blue:var(--eisgroup_dark_blue);


// fonts
$PT_Sans: 'PT Sans';
$Source_Sans_Pro: 'Source Sans Pro';
//default duration
$duration: 300ms;
$easing: ease-in-out;
// block border top
$block-border-top: 1.6rem;
//override bootstrap variables
$grid-gutter-width: 2rem;
$container-mobile-padding: 2rem;
$container-tablet-padding: 6rem;
$container-extra-sm: 10rem;
$container-sm: 2rem;
$container-md: 5rem;
$container-lg: 10rem;
$container-max-widths: (
        'md': 100%, //570px
        'lg': 144rem, //760px 88.4
);
$grid-breakpoints: (
        'xs': 0,
        'md': $medium-screen-min-width,
        'lg': $large-screen-min-width,
);

