@import "styles/sites/raistone";


.faqs_block {
  @include paddingY(size(32));
  @include min-medium-screen {
    @include paddingY(size(56));
  }
  @include large-screen {
    @include paddingY(size(70), size(50));
  }

  .container {
    @include paddingX(0);
    @include large-screen {
      @include paddingX(size(53));
    }
  }

  .faqs-content-wrapper {
    background: $raistone_plum;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include paddingX(size(22));
    @include paddingY(size(78), size(49));
    z-index: 2;
    @include min-medium-screen {
      @include paddingY(size(148), size(69));
      @include paddingX(size(50));
    }
    @include large-screen {
      @include paddingY(size(160), size(192));
      @include paddingX(size(74), size(124));
      flex-direction: row;
    }

    &:after {
      content: "";
      width: size(208);
      height: size(201);
      position: absolute;
      bottom: 0;
      left: 0;
      background: $raistone_mid_plum;
      opacity: 0.5;
      clip-path: polygon(0 0, 0% 100%, 100% 100%);
      pointer-events: none;
      z-index: -1;
      @include min-medium-screen {
        width: size(336);
        height: size(325);
      }
      @include large-screen {
        width: size(464);
        height: size(448);
      }
    }
  }

  .left-content {
    margin-bottom: size(84);
    @include min-medium-screen {
      margin-bottom: size(129);
    }
    @include large-screen {
      padding-top: size(50);
      @include flexBasis(43%);

    }
  }

  .icon {
    @include square(size(93));
    margin-bottom: size(24);

    @include min-medium-screen {
      margin-bottom: size(42);
    }

    svg, img {
      @include square(100%);
    }

    img {
      object-fit: cover;
    }
  }

  .title {
    text-transform: uppercase;
    margin-bottom: size(53);
    @include min-medium-screen {
      margin-bottom: size(32);
    }
  }

  .question {
    margin-bottom: size(16);
    @include min-medium-screen {
      line-height: size(36);
      font-weight: 600;
      letter-spacing: size(-0.15);
    }
  }

  .description {
    @include large-screen {
      padding-right: size(30);
      margin-bottom: size(48);
    }
  }


  .desk-only {
    display: none;
    @include large-screen {
      display: flex;
    }
  }

  .mobile-only {
    display: flex;
    @include marginX(auto);
    margin-top: size(65);
    @include min-medium-screen {
      margin-top: size(110);
    }
    @include large-screen {
      display: none;
      margin-top: 0;

    }
  }

  .btn-arrow {
    svg {
      margin-left: size(8);
    }

    &:hover {
      color: $raistone_mid_canary;
    }
  }

  .right-content {
    @include large-screen {
      @include flexBasis(49.87%);
    }
  }

  .faq-wrapper {
    width: 100%;
    border-bottom: 1px solid $raistone_white;
    transition: padding-bottom $duration, border-color $duration;

    svg {
      position: absolute;
      right: 0;
      top: size(8);
      @include square(size(18));
      transition: opacity $duration;
      @include min-medium-screen {
        @include square(size(25));
        right: size(20);
        top: size(18);
      }

      &.minus-icon {
        opacity: 0;
      }
    }

    .remove-to-close, .arrow-icon {
      transform-origin: center;
      transition-property: opacity, transform;
      transition-duration: .3s;
      transition-timing-function: cubic-bezier(0.97, -0.01, 0.42, 0.56);
    }

    &.active {
      padding-bottom: size(40);
      border-bottom-color: #9CDAE0;
      @include min-medium-screen {
        padding-bottom: size(32);
      }
      @include large-screen {
        padding-bottom: size(40);
      }

      .remove-to-close {
        transform: rotate(90deg);
        opacity: 0;
      }

      .arrow-icon {
        transform: scaleY(-1);

        polyline {
          stroke: $raistone_green;
        }
      }
    }

    &:not(:last-of-type) {
      margin-bottom: size(40);
      @include large-screen {
        margin-bottom: size(66);
      }
    }
  }

  .number-and-title {
    margin-bottom: size(60);
  }

  .has-question {
    max-width: 82%;
    @include large-screen {
      max-width: 87%;
      @include font-size(22px, 36px);
      letter-spacing: size(0.015);
    }
  }

  .faq-question-title {
    display: flex;
    position: relative;
    cursor: pointer;
    padding-bottom: size(32);
    @include large-screen {
      padding-bottom: size(30);
    }
  }

  .arrow-icon {
    display: none;
  }

  .have-answer {
    height: 0;
    overflow: hidden;
    position: relative;

    .have-title {
      color: $raistone_jet_black;
    }

    .faq-answer-wrapper {
      @include flex(center, space-between);
      margin-bottom: size(30);

      svg {
        @include square(size(25));
        cursor: pointer;
      }
    }

    ul, ol {
      margin-left: size(20);
      list-style: unset;
    }
  }

  .faq-answer {
    font-family: $lato;
    @include font-size(18px, 26px);
    @include large-screen {
      @include font-size(18px, 36px);
    }
  }

  &.light {
    background: $raistone_aluminium;
    @include paddingY(size(46), size(43));
    @include min-medium-screen {
      @include paddingY(size(86), size(63));
    }
    @include large-screen {
      @include paddingY(size(105), size(124));
    }

    .container {
      @include paddingX(size(20));
      @include min-medium-screen {
        @include paddingX(size(50));
      }
      @include large-screen {
        @include paddingX(size(135));
      }
    }


    .faqs-content-wrapper {
      background: transparent;
      padding: 0;

      &:after {
        display: none;
      }
    }

    .has-question {
      max-width: 82%;
      font-family: $lato;
      font-weight: 700;
      @include font-size(18px, 27px);
      color: $raistone_jet_black;
      @include min-medium-screen {
        @include font-size(26px, 40px);
      }
    }

    .faq-answer {
      color: $raistone_gery;
      @include small-screen {
        @include font-size(18px, 26px)
      }
      @include min-medium-screen {
        width: 95.3%;
        @include font-size(22px, 36px);
      }
    }

    .faq-wrapper {
      padding-bottom: size(16);
      border-bottom: 1px solid #E5E7EB;
      @include min-medium-screen {
        padding-bottom: size(38);
      }

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      &:not(:last-child) {
        margin-bottom: size(38);

        @include min-medium-screen {
          margin-bottom: size(40);
        }
      }
    }

    .faq-question-title {
      padding-bottom: size(15);

      polyline {
        transition: stroke $duration;
        stroke: $raistone_jet_black;
      }

    }

    .arrow-icon {
      display: block;
      @include square(size(16));
      @include min-medium-screen {
        @include square(size(24));
      }
    }

    .minus-plus {
      display: none;
    }

    .left-content {
      display: none;
    }

    .right-content {
      @include flexBasis(100%)
    }
  }
}
