
@import "styles/sites/cyberhill";


.footer_cta_block {
  position: relative;
  z-index: 9;
  margin-top: -2px;
  
  .footer-cta-wrapper {
    background-color: $cyberHill-tangaroa;
    margin-top: size(64);
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    @include min-medium-screen {
      flex-direction: row;
    }
    
    &:after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 0;
      background: #EDF3F5;
      width: 100%;
      height: size(64);
      z-index: -1;
    }
    
    
    @include large-screen {
      &:before {
        content: "";
        width: size(16);
        height: size(64);
        background: $cyberHill-light-green;
        position: absolute;
        left: 0;
        bottom: 100%;
        z-index: 9;
      }
    }
  }
  
  // region left-content
  .left-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    position: relative;
    background-color: $cyberHill-tangaroa;
    width: 100%;
    @include paddingX($container-padding-sm);
    @include paddingY(size(64), size(79));
    z-index: 2;
    @include min-medium-screen {
      @include paddingY(size(80));
      @include paddingX($container-padding-md, size(30));
      @include flexBasis(58.75%);
      justify-content: center;
      
    }
    
    @include large-screen {
      @include paddingX($container-padding-lg, size(50));
      @include paddingY(size(96), size(158));
    }
  }
  
  .hover-image {
    @include square(100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
    
    img {
      object-fit: cover;
      transition: transform $duration, opacity $duration;
      transform: translateY(10rem);
      opacity: 0;
    }
  }
  
  .title-with-shape {
    margin-bottom: size(32);
    @include min-medium-screen {
      margin-bottom: size(64);
    }
    @include medium-screen {
      font-size: size(14);
    }
  }
  
  .headline-3 {
    margin-bottom: size(24);
    @include min-medium-screen {
      max-width: size(500);
      margin-bottom: size(32);
    }
  }
  
  .paragraph {
    margin-bottom: size(24);
    max-width: size(546);
  }
  
  .button-and-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include min-medium-screen {
      align-items: flex-start;
    }
    @include large-screen {
      flex-direction: row;
      align-items: center;
      max-width: 100%;
    }
  }
  
  .primary-button {
    @include min-medium-screen {
      @include paddingY(size(16.2));
      @include paddingX(size(38.49));
    }
    @include large-screen {
      margin-right: size(24);
    }
  }
  
  .text-link {
    margin-top: size(24);
    @include marginX(auto);
    @include min-medium-screen {
      @include marginX(0);
    }
    @include large-screen {
      margin: 0;
    }
    
    &:after {
      background-color: $cyberHill-light-green !important;
    }
    
    &:before {
      @include min-medium-screen {
        left: 0;
        bottom: -10%;
        content: "";
        background-color: transparent;
        position: absolute;
        width: 200%;
        height: size(50);
      }
      @include large-screen {
        @include square(size(50));
        right: 100%;
        left: unset;
        bottom: unset;
      }
    }
    
    &:hover {
      &:after {
        background-color: $cyberHill-light-green !important;
      }
    }
  }
  
  //  endregion
  
  // region right-content
  
  .right-content {
    position: relative;
    margin-top: size(-64);
    max-width: size(288);
    @include marginX(auto);
    overflow: hidden;
    @include small-screen {
      height: size(311);
    }
    @include min-medium-screen {
      @include flexBasis(55.25%);
      max-width: unset;
      margin-left: auto;
      margin-right: 0;
    }
    @include large-screen {
      @include flexBasis(41.25%);
    }
  }
  
  .image {
    @include square(100%);
    
    img {
      object-fit: cover;
    }
  }
  
  .layout {
    position: absolute;
    @include square(100%);
    width: calc(100% + 2px);
    height: 100%;
    top: 0;
    left: -1px;
    
    img {
      transform: scale(1);
      transition: transform $duration;
      object-fit: cover !important;
      @include min-medium-screen {
        transform: scale(1);
      }
    }
  }
  
  &.hovered-animation {
    .layout {
      img {
        transform: scale(1.8);
      }
    }
    
    .hover-image {
      img {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  
  //  endregion
}


