@import "styles/sites/successkpi";
@import "../../../styles/autoplay-swiper";

.logo_swiper {
  @include paddingY(size(71.5), size(108.5));

  .container {
    @include paddingX(size(0));
  }

  .title {
    @include font(20px, 400, 63px);
    color: $successkpi_dark_blue_2;
    font-family: $roboto;
    text-align: center;
    max-width: 100%;
    margin-bottom: size(22);
    @include marginX(auto);

    @include medium-screen {
      font-size: size(40);
      margin-bottom: unset;

    }
    @include large-screen {
      font-size: size(60);
      margin-bottom: unset;

    }
  }

  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .img-wrapper {
    width: 100%;
    max-height: size(55);
  }


  .image {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }
}






