@import "styles/sites/headversity";

.double_card_cta_block {
  position: relative;
  @include paddingY(size(69), size(114));
  @include min-medium-screen {
    @include paddingY(size(100), size(230));

  }

  .container {
    @include small-screen {
      @include paddingX(0);

    }
    @include min-medium-screen {
      padding-right: size(0);
    }
  }

  .content {
    @include flex(center, space-between, false, wrap);
    @include small-screen {
      padding-bottom: size(120);
    }

    .left-content {
      @include flexBasis(100%);
      margin-bottom: size(50);
      @include paddingX(size(30));
      @include min-medium-screen {
        @include paddingX(size(0));

        margin-bottom: size(0);
        @include flexBasis(28.21316%);
      }
    }

    .right-content {
      @include flexBasis(100%);
      position: relative;
      overflow: visible;
      @include min-medium-screen {
        @include flexBasis(56.42633%);

      }
    }
  }

  .title {
    @include min-medium-screen {
      margin-bottom: size(20);

    }
    margin-bottom: size(14);

  }

  .description {
    margin-bottom: size(30);

  }

  .img-wrapper {
    padding-top: 79.2%;
    @include min-medium-screen {
      padding-top: 111.11%;
    }
  }

  .links-group {
    position: absolute;
    z-index: 100;
    width: size(370);
    top: unset;
    bottom: 0;
    left: 0;
    transform: translateY(80%);
    @include medium-screen {
      width: size(330);

    }

    @include min-medium-screen {

      top: 36.5%;
      left: 0;
      bottom: unset;
      transform: translate(-36%, 0%);
    }
  }

  .custom-link {
    @include paddingX(size(35));
    @include paddingY(size(28), size(27.5));
    border-bottom-right-radius: size(30);
    border-top-right-radius: size(30);
    box-shadow: 0 size(10) size(20) rgba(97, 55, 55, 0.1);
    background-color: $headversity_white;
    justify-content: space-between;
    color: $headversity_dark_blue;
    width: 100%;
    margin-bottom: size(10);
    @include small-screen {
      @include font(14px, 600, 24px, $headversity_dark_blue, $poppins);
    }
    @include medium-screen {
      @include font-size(14px, 24px)
    }
    @include large-screen {
      @include font-size(16px, 30px)

    }


    &:last-child {
      margin-bottom: size(0);
    }

    .arrow {
      @include square(size(31))
    }

    @include min-medium-screen {
      @include paddingX(size(29));
      @include paddingY(size(32), size(32));
      margin-bottom: size(12);

    }

  }

  .small-width {
    @include min-medium-screen {
      min-width: size(200);
    }
  }


}
