
@import "styles/sites/smartdv";

.support_slider_block {
  padding-top: size(70);

  .text-wrapper {
    text-align: center;
    margin-bottom: size(27);
    @include min-medium-screen {
      margin-bottom: size(67);
    }
  }

  .main-description {
    text-align: center;
    max-width: size(700);
    @include marginX(auto);
    margin-top: size(25);
  }

  .sliders-dots {
    position: relative;
    z-index: 1;
  }

  .sliders-wrapper {
    position: relative;
    transform-style: preserve-3d;
    display: grid;
  }

  .slider {
    bottom: 0;
    left: 0;
    transform: translateY(0);
    grid-column: 1;
    grid-row: 1;
    z-index: calc(1 + var(--index));
    transition: z-index 0s 0s;

    .content-wrapper {
      opacity: 1;
      transform: translateY(0);
      transition: opacity .3s, transform .3s;
      transition-delay: .2s;
    }

    .slider-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      overflow: hidden;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: top $duration, width $duration ease-out, height $duration;

      svg {
        @include square(100%);
      }

      path {
        fill: currentColor;
      }
    }

    transform-origin: bottom;
    @include min-medium-screen {
      max-height: size(390);
    }


    &.active ~ .slider {
      z-index: calc(1 - var(--index));
      transition: z-index 0s $duration;

      .slider-bg {
        top: calc(100% - 1px);
        width: calc(100% + 6rem - .4rem);
        height: size(124);
        @include small-screen {
          height: size(60);
        }
      }

      @include medium-screen {

        .slider-bg {
          width: calc(100% + 10rem);
          height: size(124);
        }
      }

      @include large-screen {

        .slider-bg {
          width: calc(100% + 24rem);
        }
      }

      .content-wrapper {
        opacity: 0;
        transition-delay: unset;
        transform: translateY(size(30));
      }
    }
  }

  .content-wrapper {
    @include flex(center, space-between);
    @include small-screen {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: size(402);
    }
    padding: size(36) size(27) size(25);
    @include min-medium-screen {
      padding: size(84) size(130) size(84) size(90);
    }
    @include large-screen {
      padding: size(104) size(250) size(104) size(130);
    }
  }

  .icon {
    width: 34%;
    @include small-screen {
      margin-bottom: size(30);
      width: 50%;
    }

    img, svg {
      @include square(100%);
      object-fit: contain;
    }

    path, g, rect, polyline, polygon, line {
      mix-blend-mode: unset !important;
    }
  }

  .slider-text {
    width: 100%;
    @include min-medium-screen {
      width: 57%;
    }
  }

  .title {
    color: $smart_dv_white;
    margin-bottom: size(10);
    @include min-medium-screen {
      margin-bottom: size(20);
    }
  }

  .description {
    color: $smart_dv_white;
    @include small-screen {
      line-height: size(22);
    }
  }

  .steps-dots-wrapper {
    width: fit-content;
    position: absolute;
    transform: translateY(-50%);
    z-index: 11;
    @include small-screen {
      @include flex(center);
      bottom: size(25);
      left: size(27);

    }
    @include min-medium-screen {
      right: size(65);
      top: 50%;
    }
  }

  .step-dot {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    cursor: pointer;
    transition: background $duration;
    background-color: transparent;
    border: 1px solid $smart_dv_white;
    @include square(size(7));
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: content-box;
    box-sizing: content-box;
    @include small-screen {
      &:not(:last-of-type) {
        margin-right: size(30);

        &:after {
          content: "";
          position: absolute;
          left: 100%;
          top: 50%;
          transform: translateY(-50%);
          background: $smart_dv_white;
          height: size(1);
          width: size(30);
        }

      }
    }
    @include min-medium-screen {
      @include square(size(10));
      &:not(:last-of-type) {
        margin-bottom: size(53);

        &:after {
          content: "";
          position: absolute;
          left: 50%;
          top: 100%;
          transform: translateX(-50%);
          background: $smart_dv_white;
          height: size(53);
          width: 1px;
        }

      }

    }
    @include large-screen {
      @include square(size(18));
    }

    &:hover {
      background-color: $smart_dv_lime;
      border: 1px solid $smart_dv_lime;
    }

    &.active {
      background-color: $smart_dv_lime;
      border: 1px solid $smart_dv_lime;
    }
  }

  .slides-bg {
    height: size(124);
    width: calc(100% + 6rem - .4rem);
    transform: translateX(size(-28));
    @include small-screen {
      height: size(60);
    }
    @include medium-screen {
      width: calc(100% + 10rem);
      transform: translateX(size(-50));
    }
    @include large-screen {
      width: calc(100% + 24rem);
      transform: translateX(size(-120));
    }

    svg {
      @include square(100%)
    }

    path {
      fill: $smart_dv_dark_light_gray;
    }
  }

}



