.editor-styles-wrapper .wp-block {
  max-width: 80% !important;
}

.interface-interface-skeleton__sidebar > div {
  width: 100% !important;
}

.-open .acf-label.acf-accordion-title {
  height: 50px !important;
  background-size: contain !important;
  background-position: center !important;
}

.acf-label.acf-accordion-title {
  transition: height 400ms, background-position 400ms;
  height: 200px !important;
  background-repeat: no-repeat !important;
  //background-size: 100% 84%!important;
  background-size: contain !important;
  background-position: 50% 50px !important;
}

// master image select plugin
.acf-image-select-list {
  display: flex;
  padding: 0;
  margin: 0;
}
