:root {
  /* Colors: */
  --poprev-black: #000000;
  --poprev-black-60: rgba(20, 19, 19, 0.6);
  --poprev-white: #ffffff;
  --poprev-light-white: #fdfeff;
  --poprev-dark-white: rgba(255, 255, 255, 0.6);
  --poprev-gray: #141313;
  --poprev-light-gray: #242424;
  --poprev-off-white: #F2F2F2;
  --poprev-blue-50: rgba(64, 147, 232, 0.5);
  --poprev-red: #FF0000;
  --poprev-yellow: #ffae00;
}
