// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$poprev-black: var(--poprev-black);
$poprev-black-60: var(--poprev-black-60);
$poprev-white: var(--poprev-white);
$poprev-dark-white: var(--poprev-dark-white);
$poprev-off-white: var( --poprev-off-white);
$poprev-gray: var(--poprev-gray);
$poprev-light-gray: var(--poprev-light-gray);
$poprev-light-white: var(--poprev-light-white);
$poprev-yellow: var(--poprev-yellow);
// container padding left
$container-pl: 6.5rem;

// fonts
$bw-modelica: 'Bw Modelica';
//default duration
$duration: 500ms;
// bouncing
$bouncing: cubic-bezier(0.18, 0.89, 0.32, 1.28);
//override bootstrap variables
$grid-gutter-width: 1.6rem;
$container-max-widths: (
    'md': 100%, //570px
    'lg': 1920px, //760px 88.4
);
$grid-breakpoints: (
    'xs': 0,
    'md': $medium-screen-min-width,
    'lg': $large-screen-min-width,
);
