
@import "styles/sites/propellerheath";

.open_positions_block {
  @include paddingY(size(50));
  overflow: hidden;
  @include min-medium-screen {
    @include paddingY(size(80));
  }

  .job-row {
    display: flex;
    flex-direction: column;
    padding-bottom: size(35);
    margin-bottom: size(25);

    @include large-screen {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      padding-bottom: size(45);
      margin-bottom: size(45);
    }
    border-bottom: 2px solid $propellerhealth_fog;

    &:last-child {
      margin-bottom: size(0);
    }
  }

  .job_and_location {

    @include max-medium-screen {
      margin-bottom: size(13);

    }

    .title {
      margin-bottom: size(23);
      @include min-medium-screen {
        max-width: size(284);

        margin-bottom: size(43);

      }
    }

    .location {
      color: $propellerhealth_amethyst;
    }
  }

  .desc {
    @include max-medium-screen {
      margin-bottom: size(43);
    }

    @include min-medium-screen {
      max-width: size(620);
    }
  }

  .arrow-right {
    width: size(15);
    margin-left: size(15);
  }


}



