@import "styles/sites/moving";
@import "swiper/css";

.move_features_block {
  margin-top: -2px;
  padding-top: size(28);
  position: relative;
  z-index: 2;
  background-color: $moving-black-pearl;
  @include min-medium-screen {
    background-color: $moving-light-gray;
    padding-top: size(32);
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: size(344);
    background-color: $moving-black-pearl;
  }

  .container {
    @include small-screen {
      @include paddingX(0);
    }
  }

  .circle-with-line {
    .line-div {
      height: size(34);
      @include min-medium-screen {
        height: size(50);
      }
      @include large-screen {
        height: size(60);
      }
    }
  }

  .move-features {
    position: relative;
    z-index: 6;
    box-shadow: 0 size(4) size(100) rgba(4, 13, 33, 0.2);
    border-radius: size(12);
    background-color: $moving-white;
    //margin-top: size(150);
    padding-top: size(33);
    @include min-medium-screen {
      border-radius: size(50);
      @include paddingY(size(90), size(50));
      @include paddingX(size(25));
    }
    @include large-screen {
      @include paddingX(size(50));
    }
  }

  .headline-1 {
    text-align: center;

    @include min-medium-screen {
      margin-bottom: size(55);
    }
    @include large-screen {
      margin-bottom: size(40);
    }

    span {
      background-image: $moving-orange-gradient;
    }
  }

  .swiper-container {
    padding-top: size(27);
    padding-bottom: size(40);
    @include min-medium-screen {
      flex-wrap: wrap;
      margin: size(-20);
      display: flex;
    }
    @include large-screen {
      margin: size(-25);
    }
  }

  .swiper-wrapper {
    @include min-medium-screen {
      flex-wrap: wrap;
    }
  }

  .perspective-flip {
    perspective: size(1500);
    display: flex;
    //width: 50rem;
    min-height: size(460);
    @include min-medium-screen {
      @include flexBasis(45%);
      margin: 2.5%;
      min-height: size(500);
    }
    @include large-screen {
      @include flexBasis(21.3%);
      margin: size(25);
      min-height: size(564);
    }

    .flip {
      width: 100%;
      height: auto;
      display: flex;
      transition: transform 600ms;
      position: relative;
      transform-style: preserve-3d;

      .flip-card {
        height: 100%;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: size(12);
      }

      &-front {
        height: auto;
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        background: #F2F3F4;
        padding-top: size(24);
        padding-bottom: size(10);
        @include min-medium-screen {
          @include paddingY(size(78), 0);
        }

        .arrow-down {
          display: block;
          width: size(16);
          height: auto;
          margin: 0 auto size(16);
          @include min-medium-screen {
            display: none;
          }
        }

        .paragraph {
          text-align: center;
          @include paddingX(size(10));
        }

        .image-wrapper {
          width: 100%;
          margin-top: size(15);
          padding-bottom: size(20);

          svg {
            width: 100%;
            height: auto;
          }
        }

        //.aspect-ratio {
        //  padding-top: 76.52%;
        //  @include min-medium-screen {
        //    padding-top: 64.77%;
        //  }
        //  @include large-screen {
        //    padding-top: 76.77%;
        //  }
        //
        //  img {
        //    object-fit: contain;
        //    object-position: bottom;
        //  }
        //}
      }

      &-back {
        @include paddingY(size(40));
        @include paddingX(size(30));
        position: absolute;
        top: 0;
        left: 0;
        //z-index: -10;
        z-index: 10;
        transform: rotateY(180deg);
        background: $moving-black-pearl;

        .paragraph {
          text-align: center;
          color: $moving-white;
          @include max-lines(10);
          @include large-screen {
            @include max-lines(15);
          }
        }

        .paragraph-18 {
          margin-top: size(29);
          color: $moving-aluminium;
        }
      }

    }


    &:hover {
      .flip {
        transform: rotateY(180deg);
      }

    }
  }

  .swiper-slide {
    @include small-screen {
      transition: transform $duration;
      //transform: scale(0.9304);
      //transform: scale(0.92);
      transform: scale(0.91);
    }

    &-active {
      transform: scale(1);
    }
  }

  //.bike-tire {
  //  transform-origin: center;
  //  transform-box: fill-box;
  //  animation: bike-tire 5s linear infinite;
  //  @keyframes bike-tire {
  //    to {
  //      transform: rotate(360deg);
  //    }
  //  }
  //}

  // region section lines style

  .full-lines {
    width: 49.09%;
    @include small-screen {
      width: 50%;
      margin-left: $container-padding-sm;
    }

    .line {
      &-width {
        height: 35px;
        @include min-medium-screen {
          height: 115px;
        }
      }

      &-height {
        margin-top: size(32.5);
        height: 35px;
        @include min-medium-screen {
          margin-top: 111.9px;
          height: 103px;
        }
      }
    }
  }

  #car-light {
    animation: light 1s ease-in-out infinite;
    @keyframes light {
      0%, 100% {
        filter: drop-shadow(0 0 25px red);
      }
      50% {
        filter: drop-shadow(0 0 25px blue);
      }
    }
  }

  // endregion section lines style

}


