
@import "styles/sites/advisorhub";

header {
  width: 100%;
  height: size(100);
  z-index: 999;
  position: relative;


  .new-header-section {

    display: flex;
    justify-content: center;
    align-items: center;
    background: black;

    .second-logo-wrapper {
      width: 127.56px;
      height: 19px;
      display: block;
      @include marginY(20px);

      svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

  }

  .hide-logo {
    @include small-screen {
      display: none;
    }
  }

  // header
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-right: size(20);
    background: $advisorhub_black;
    width: 100vw;
    transition: background-color $duration;
    @include max-medium-screen {
      align-items: center;
    }


  }

  .logo-and-text {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 90;
    @include flexBasis(size(310));
    height: 100%;
    @include min-medium-screen {
      @include flexBasis(50%);
    }
    @include large-screen {
      @include flexBasis(35%);
    }
    // logo
    .main-logo {
      width: size(50);
      height: size(50);
      margin-right: size(20);
      flex-shrink: 0;
      transition: 0.3s all;

      img, svg {
        width: 100%;
        height: size(50);
        object-fit: cover;
      }
    }

    .text {
      @include font(12px, 400, 14px, $advisorhub_white, $Roboto);
      text-transform: capitalize;
      transition: color $duration;
      padding: 0;
      margin-bottom: 0 !important;

      &:not(:last-of-type) {
        margin-right: size(4);
      }
    }
  }

  // burger menu
  .burger-menu {
    width: size(20);
    height: size(14);
    z-index: 10;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    flex-shrink: 0;
    border: none;
    background: transparent;
    padding: 0;
    display: block;
    @include large-screen {
      display: none;
    }

    &:focus {
      outline: none !important;
    }

    span {
      display: block;
      width: 100%;
      height: size(3);
      margin-bottom: size(3);
      position: relative;
      z-index: 1;
      transition: color $duration;
      color: $advisorhub_white;

      &:after, &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        opacity: .99;
        transition: background-color $duration;
        display: table;
        border-radius: size(10);
      }

      &:nth-of-type(even) {
        &:before {
          transform-origin: right;
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }

        &:after {
          transform-origin: left;
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }
      }

      &:before {
        transform-origin: right;
        transform: scaleX(1) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
      }

      &:after {
        transform-origin: left;
        transform: scaleX(0) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1);
      }

      &:last-child {
        margin: 0 auto;
      }

      &:first-child {
        margin: 0 auto size(3);
      }
    }

    &:hover {
      span {

        &:nth-of-type(even) {
          &:before {
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }

          &:after {
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }
        }

        &:before {
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }

        &:after {
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }

      }
    }
  }

  // links
  .ah-navbar {
    position: relative;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    @include max-medium-screen {
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      width: 100%;

      transition: transform 300ms ease-in;
    }

    &.header-links-active {
      transform: translateX(0);

      &:before {
        opacity: 0.6;
      }
    }
  }

  .navbar-wrapper {
    @include paddingY(size(90), size(100));
    @include paddingX(size(24));
    background: $advisorhub_black;
    width: 100%;
    height: 100vh;
    transition: padding $duration;
    position: relative;
    @include min-medium-screen {
      padding-top: size(110);
      display: flex;
      //align-items: center;
    }
    @include large-screen {
      background-color: transparent;
      padding: 0;
      width: auto;
      height: 100%;
      overflow: visible;

    }
  }

  .search-content-wrapper {
    height: size(38);
    display: flex;
    align-items: center;
    transform: translateY(-50%);
    z-index: 9;
    min-width: size(335);
    margin-bottom: size(23);
    @include min-medium-screen {
      width: 100%;
    }
    @include large-screen {
      width: size(578);
      position: absolute;
      top: 50%;
      right: 100%;
      opacity: 0;
      pointer-events: none;
      transition: opacity $duration;
      margin-bottom: 0;
      transform: translateY(-50%);
    }

    &.active {
      pointer-events: visible;
      opacity: 1;
    }

    .search-title {
      @include font(12px, 600, 12px, $advisorhub_Flash_White, $Roboto);
      margin-right: size(10);
      display: none;
      @include large-screen {
        display: block;
      }
    }

    .search-box-wrapper {
      background: $advisorhub_black;
      border: size(0.4) solid $advisorhub_white;
      border-radius: size(4);
      width: 100%;
      height: 100%;
      @include paddingX(size(10));
      @include paddingY(size(12));
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include large-screen {
        width: size(530);
      }
    }

    .input-text {
      @include font(12px, 400, 14px, $advisorhub_Flash_White, $Roboto);
    }

    .input-search {
      width: 85%;
      border: none;
      background: transparent;
      margin-top: 0;
      @include large-screen {
        width: 65%;
      }

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        -webkit-appearance: none;
      }
    }

    .info-text {
      display: none;
      @include large-screen {
        display: block;
      }
    }

    .search-icon-in-mobile {
      @include square(size(13));
      @include large-screen {
        display: none;
      }
    }
  }

  .primary-menu {
    @include large-screen {
      display: flex;
      height: 100%;
      margin: unset;
    }
  }


  .menu-item {
    position: relative;
    cursor: pointer;
    color: $advisorhub_white;

    &:not(:last-child) {
      margin-bottom: size(25);
    }


    a, .text-of-dropdown {
      @include font(16px, 700, 19px, $advisorhub_Flash_White, $Roboto);
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      transition: color $duration;
      @include large-screen {
        font-size: size(12);
        color: $advisorhub_white;
        font-weight: 400;
        line-height: 14px;
      }
    }

    .svg-icon, .message-dots {
      path {
        fill: currentColor;
      }
    }

    &.submit {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      @include paddingY(size(20));
      margin-bottom: 0 !important;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        //@include large-screen{
        //  margin: unset;
        //}
      }

      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 0.5px;
        width: 100%;
        background: currentColor;
        transition: background $duration;

        @include large-screen {
          width: 1px;
          height: size(32);
          right: 100%;
          top: 50%;
          transform: translateY(-50%);
        }
      }


      @include large-screen {
        width: fit-content;
        position: relative;
        padding-left: size(20);
        margin-left: size(7);
        border-top: none;
        @include paddingY(0);
      }

      .message-dots {
        @include square(size(18));
        margin-left: size(9);
      }
    }

    &.search-icon {
      display: none;
      margin-bottom: 0;
      position: relative;
      @include large-screen {
        display: flex;
      }

      .open-input-search {
        @include square(size(13));
        transition: opacity $duration;
        height: 100%;

        &.active {
          opacity: 0;
        }
      }
    }

    .close-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include square(size(13));
      opacity: 0;
      transition: opacity $duration;
      pointer-events: none;
      height: 100%;

      &.active {
        opacity: 1;
        pointer-events: visible;
      }
    }

    .arrow {
      display: none;
    }

    @include large-screen {
      &:hover {
        a {
          &:after {
            opacity: 1;
          }
        }
      }
    }

    &.active-page-link {
      a {
        &:after {
          opacity: 1;
        }
      }
    }

    &.menu-item-has-children {
      .sub-menu {
        height: 0;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;

        &:before {
          @include max-medium-screen {
            content: "";
            position: relative;
            width: 100%;
            margin-top: size(40);
            pointer-events: none;
            background: transparent;
          }
        }

        @include large-screen {
          height: auto !important;
          width: size(161);
          background: $advisorhub_white;
          box-shadow: 0 size(4) size(17) rgba(0, 0, 0, 0.31);
          padding: size(30);
          position: absolute;
          top: 100%;
          left: size(-17);
          opacity: 0;
          pointer-events: none;
          transition: opacity $duration;
        }
      }

      .arrow {
        width: size(10);
        height: size(12);
        right: 0;
        transition: transform $duration;
        margin-left: size(5);
        display: block;

        svg {
          @include square(100%);

          path {
            fill: currentColor;
          }
        }
      }

      .menu-item-in-sub-menu {
        &:not(:last-child) {
          margin-bottom: size(20);
        }

        a {
          @include font(16px, 400, 120%, #F3F4F5, $Roboto);
          transition: color $duration;
          @include large-screen {
            color: $advisorhub_Outer_Space;
          }

          @include large-screen {
            font-size: size(12);
          }
        }

        &:hover {
          a {
            color: $advisorhub_Dark_Grey;
            @include large-screen {
              color: $advisorhub_black;
            }
          }
        }

        &.active-page-sublink {
          a {
            color: $advisorhub_black;
          }
        }
      }

      &.menu-item-active {
        //@include max-medium-screen {
        //  .arrow {
        //    transform: scaleY(-1);
        //  }
        //}
      }

      @include large-screen {
        &:hover {
          .arrow {
            transform: scaleY(-1);
          }

          .sub-menu {
            opacity: 1;
            pointer-events: auto;
          }
        }
      }
    }

    @include large-screen {
      display: flex;
      align-items: center;
      @include paddingX(size(13));
      &:not(:last-child) {
        margin-bottom: 0;
      }
      &.disabled, &.disabled-when-open-search {
        color: $advisorhub_Dark_Grey;

        a, .text-of-dropdown {
          color: $advisorhub_Dark_Grey;
        }
      }
    }
  }

  &.no-transition * {
    transition: none !important;
  }


  a {
    border-bottom: none !important;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  &.header-active .header-wrapper {
    position: fixed;
    top: 0;
  }

  &.sticky .header-wrapper {
    position: fixed;
    top: 0;
    //transition: opacity 0.5s;

    //.new-header-section {
    //  display: none;
    //}
  }

  .ticker-news {
    width: 100%;
    height: size(50);
    overflow: hidden;

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: size(50);

      a {
        @include font(12px, 400, 14px, $advisorhub_white, $Roboto);
      }
    }
  }

}

