
@import "styles/sites/wrap";
@import "node_modules/swiper/swiper";

.product_slider_block {
  background-color: #f5f8fa;
  @include paddingY(size(40), size(50));
  @include min-medium-screen{
    padding-top: size(40);
  }
  //padding-bottom: size(50);
  
  .product {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: size(60);
    border-top: 1px solid $wrap-zircon;
    
    @include large-screen {
      flex-direction: row;
    }
    @include min-medium-screen {
      padding-top: size(100);
    }
    
    &:not(:last-child) {
      border-bottom: 1px solid $wrap-zircon;
      padding-bottom: size(60);
      
      margin-bottom: size(60);
      @include large-screen {
        margin-bottom: size(100);
        padding-bottom: size(100);
        
      }
    }
  }
  
  // region right content
  
  .text-wrapper {
    width: 100%;
    margin-top: size(80);
    align-self: center;
    @include large-screen {
      margin-top: 0;
      @include flexBasis(48.360%);
    }
    
    &.text-wrapper-has-tabs {
      align-self: flex-start;
    }
  }
  
  .headline-6 {
    font-family: $montserrat;
    text-transform: uppercase;
  }
  
  .product-title {
    margin-bottom: size(30);
    color: $wrap-dark-orange;
  }
  
  .title {
    margin-bottom: size(30);
    text-transform: uppercase;
    @include large-screen {
      line-height: size(60);
    }
  }
  
  .paragraph-16 {
    margin-bottom: size(40);
    color: $wrap-shuttle-gray;
  }
  
  .product-specs {
    color: #879299;
    border-top: 1px solid $wrap-off-white;
    border-bottom: 1px solid $wrap-off-white;
    $paddingValSM: 1.8rem;
    $paddingValMD: 2.5rem;
    
    .product-specs-title {
      @include paddingY($paddingValSM);
      @include flex(center, space-between, false, false);
      cursor: pointer;
      transition: color $duration;
      @include min-medium-screen {
        @include paddingY($paddingValMD);
      }
      
      &.active {
        color: $wrap-orange;
        
        .product-specs-title-arrow {
          transform: scale(-1);
        }
      }
      
      &:hover {
        color: $wrap-orange;
      }
      
      .headline-6 {
        color: currentColor;
      }
    }
    
    .product-specs-title-arrow {
      transition: transform $duration;
      width: size(14);
      height: auto;
    }
    
    .product-specs-info {
      @include font(size(14), 700, 130%, currentColor, 0.2em, $montserrat);
      height: 0;
      overflow: hidden;
      
      .product-specs-info-spacer {
        height: $paddingValSM;
        @include min-medium-screen {
          height: $paddingValMD;
        }
        
      }
      
      .product-specs-info-text {
        font-weight: 400;
        
        &:not(:last-of-type) {
          margin-bottom: size(15);
        }
      }
    }
  }
  
  .button-wrapper {
    margin-top: size(50);
    display: flex;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
    }
  }
  
  .btn {
    color: $wrap-black;
  }
  
  .btn-border {
    border-color: #D3DADE;
    text-transform: uppercase;
    color: $wrap-shuttle-gray;
    padding: size(16) size(14.4);
    margin-top: size(25);
    @include min-medium-screen {
      padding: size(16) size(52);
      margin-left: size(20);
      margin-top: 0;
    }
  }
  
  //endregion
  
  // region left content
  .swiper-content {
    width: 100%;
    @include large-screen {
      @include flexBasis(43.032%);
    }
  }
  
  .swiper-container {
    width: 100%;
    position: static;
    height: 418px;
    overflow: hidden;
  }
  
  
  .thumbnail-wrapper {
    position: relative;
    margin-top: size(10);
  }
  
  .swiper-button {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    
    &:hover {
      svg {
        path {
          fill: $wrap-white;
        }
      }
    }
    
    &.swiper-button-disabled {
      pointer-events: none;
    }
    
    &.swiper-button-next {
      left: 100%;
    }
    
    &.swiper-button-prev {
      left: 0;
    }
  }
  
  .swiper-slide-container {
    background: #fff;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    border: 1px solid #E2E6E9;
    
    .image-wrap {
      cursor: pointer;
      height: 100%;
      width: 100%;
    }
  }
  
  .gallery-thumbs {
    height: size(97);
    box-sizing: border-box;
    
    .swiper-slide {
      height: 100%;
      
      
    }
  }
  
  picture {
    @include square(100%);
    
    img {
      object-fit: contain;
    }
  }
  
  .gallery-thumbs .swiper-slide-active {
    border: 1px solid #FD9D28;
    opacity: 1;
  }
  
  //endregion
  
  // region tabs
  $tabM: 1.2rem;
  
  .tabs-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$tabM;
    margin-bottom: -$tabM;
  }
  
  .tab-button {
    @include paddingX(size(20));
    border-radius: size(20);
    transition: background-color $duration;
    margin: 0 $tabM $tabM 0;
    
    &:after {
      display: none;
    }
    
    &:hover {
      background: #D3DADE;
    }
    
    &.active {
      background: #D3DADE;
    }
  }
  
  
  .tab-content-wrapper {
    margin-top: size(30);
  }
  
  .tab-content {
    display: none;
    
    &.active {
      display: block;
    }
  }
  
  // endregion tabs
}

  


