:root {
  /* Colors: */
  --advisorhub_black: #000000;
  --advisorhub_red:#A00316;
  --advisorhub_blue:#184B9B;
  --advisorhub_white: #ffffff;
  --advisorhub_off_white: #FAFAFA;
  --advisorhub_Flash_White:#F3F4F5;
  --advisorhub_Platinum:#E5E5E5;
  --advisorhub_American_Silver:#C7D0D5;
  --advisorhub_Cadet_Grey: #AAB8BF;
  --advisorhub_Outer_Space: #474B4F;
  --advisorhub_Dark_Grey: #7F7F7F;

}
