@import "variables";
@import "mixins";
@import "root";


body {
  background-color: #F6F6F6;
}

// region container


.container {
  @include paddingX($container-mobile-padding);
  @include min-medium-screen {
    @include paddingX($container-tablet-padding);
  }
  @include large-screen {
    @include paddingX($container-extra-sm);
  }
  @at-root body .section-noContainer & {
    @include paddingX(0);
  }
  &-small {
    @include large-screen {
      @include paddingX($container-sm);
    }
  }

  &-medium {
    @include large-screen {
      @include paddingX($container-md);
    }
  }

  &-large {
    @include large-screen {
      @include paddingX($container-lg);
    }
  }

  &-left {
    padding-right: 0;
  }

}

.alignwide {
  @include paddingX($container-mobile-padding !important);
  @include min-medium-screen {
    @include paddingX($container-tablet-padding !important);
  }
  @include large-screen {
    @include paddingX($container-extra-sm !important);
  }
  max-width: 120rem;
  margin: 0 auto;
}

// make it lvl up
body .container-settings {
  max-width: 144rem;
  @include paddingX($container-mobile-padding);
  @include marginX(auto);
  @include min-medium-screen {
    @include paddingX($container-tablet-padding);
  }
  @include large-screen {
    @include paddingX($container-lg);
  }
}

//body {
//  background-color: $advisorhub_Platinum;
//}

//endregion

// region font  Styling
.headline-1, .wysiwyg-block h1, .blog-content-wrapper h1 {
  @include font(42px, 700, 49px, $advisorhub_black, $Roboto-Condensed);
  @include min-medium-screen {
    @include font-size(48px, 56px);
  }
}

.headline-2, .wysiwyg-block h2, .blog-content-wrapper h2 {
  @include font(30px, 700, 31.16px, $advisorhub_black, $Roboto-Condensed);

}

.headline-3, .wysiwyg-block h3, .blog-content-wrapper h3 {
  @include font(28px, 700, 33px, $advisorhub_black, $Roboto-Condensed);
}

.headline-4, .wysiwyg-block h4, .blog-content-wrapper h4 {
  @include font(22px, 700, 26px, $advisorhub_black, $Roboto-Condensed);
}

.headline-5, .wysiwyg-block h5, .blog-content-wrapper h5 {
  @include font(18px, 700, 21px, $advisorhub_black, $Roboto-Condensed);
}

.headline-6, .wysiwyg-block h6, .blog-content-wrapper h6 {
  @include font(16px, 700, 19px, $advisorhub_black, $Roboto-Condensed);
}

.seirf {
  font-family: $PT_Serif;
}

//new
.sans {
  font-family: $PT_Sans !important;
}

.paragraph, .wysiwyg-block p {
  @include font(24px, 400, 31.8px, $advisorhub_black, $Roboto);

  &-18 {
    @include font(18px, 700, 21px, $advisorhub_black, $Roboto);
  }

  &-16 {
    @include font(16px, 700, 22px, $advisorhub_black, $Roboto);
  }

  &-14 {
    @include font(14px, 400, 18px, $advisorhub_black, $Roboto);
  }

  &-12 {
    @include font(12px, 400, 16px, $advisorhub_black, $Roboto);
  }

  &-10 {
    @include font(10px, 400, 16px, $advisorhub_black, $Roboto);
  }

  &-Seirf {
    font-family: $PT_Serif;
  }

  &-italic {
    font-style: italic;
  }
}

.small-text {
  @include font(12px, 700, 22px, $advisorhub_Cadet_Grey, $Roboto-Condensed);
}


.list {
  padding-left: size(8);

  li {
    display: flex;
    align-items: center;
    @include font(13px, 500, 16px, $advisorhub_black, $Roboto);
    position: relative;

    &:not(:last-child) {
      margin-bottom: size(16);
    }

    &:after {
      content: "";
      position: absolute;
      @include square(size(3.5));
      border-radius: 50%;
      background: $advisorhub_Outer_Space;
      top: size(7);
      right: calc(100% + 0.5rem);
    }
  }

}


// endregion

// region button  Styling
.ah-btn, .cn-button.wp-default {
  @include font(12px, 700, 22px, $advisorhub_blue, $Roboto-Condensed);
  @include flex(center, center, false, false);
  min-width: size(169);
  width: fit-content;
  //border-bottom-left-radius: size(30);
  padding: size(6) size(44);
  transition: color, background-color;
  transition-duration: $duration;
  transition-timing-function: $easing;
  background-color: $advisorhub_white;
  border: 1px solid $advisorhub_blue;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  @include min-medium-screen {
    //@include paddingY(size(16.40));
  }

  &:hover, &:focus {
    background-color: $advisorhub_blue;
    color: $advisorhub_white;
  }

  &.cta-secondary {
    background-color: transparent;
    color: $advisorhub_blue;
    border: 2px solid $advisorhub_blue;

    &:after {
      display: none;
    }

    &:hover, &:focus {
      background: rgba(40, 55, 100, 0.15);
    }

    &:active {
      background: rgba(40, 55, 100, 0.25);
    }
  }
}


.ah-link {
  @include font(10px, 700, 11.72px, $advisorhub_blue, $Roboto, .6px);
  text-transform: uppercase;
  min-width: size(60);
  cursor: pointer;
  transition: color, border $duration $easing;
  border-bottom: 1px solid currentColor;

  &:hover {
    color: $advisorhub_red;
    border-bottom: 1px solid $advisorhub_red;
  }
}

// endregion

input {
  height: size(40);
  border: 1px solid $advisorhub_black;
  border-radius: 4px;
  padding: size(15);
  @include font(14px, 400, 16px, $advisorhub_black, $Roboto);
  margin-top: size(5);
}

textarea {
  height: size(200);
  border: 1px solid $advisorhub_black;
  border-radius: 4px;
  padding: size(15);
  @include font(14px, 400, 16px, $advisorhub_black, $Roboto);
  margin-top: size(5);

}

.advisorhub-icon {
  opacity: 0;
  @include square(size(95));
  margin-bottom: size(28);
  position: relative;

  svg {
    @include square(100%);

    circle.circle-hover {
      transition: opacity $duration $easing;
    }
  }

  &:hover {
    circle.circle-hover {
      opacity: 1;
    }
  }
}

.ordered-circle {
  width: size(38);
  height: size(38);
  background-color: rgba(107, 201, 159, 0.24);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-border-top {
  position: relative;

  &.border-top-teal {
    &:before {
      height: size(12);
      background: $advisorhub_Outer_Space;
    }
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 33;
    top: 0;
    left: 0;
    width: 100%;
    height: size(16);
    background: $advisorhub_Outer_Space;
  }
}

.swiper-scrollbar {
  height: 3px;
  width: 98%;
  max-width: size(812);
  position: relative;
  display: flex;
  align-items: center;
  -ms-touch-action: none;
  margin: size(20) auto 0;
  @include paddingY(size(10));
  cursor: grab;
  background-clip: content-box;
  @include min-medium-screen {
    margin-top: size(40);
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(18, 128, 148, 0.15);
    border-radius: 2.61106px;
  }

  &-drag {
    height: 5px;
    width: 100%;
    position: relative;
    background: $advisorhub_red;
    border-radius: 35px;
    left: 0;
  }
}

.shadow-inner {
  background: $advisorhub_white;
  box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.18);
  //border-radius: size(20);
}

// region  wysiwyg
.wysiwyg-block {
  h1, h2, h3, h4, h5, h6, ul, p {
    margin-bottom: size(20);
  }

  ul, ol {
    margin-bottom: size(20);
    padding-top: 0;
    list-style-type: none;

    li {
      position: relative;
      color: $advisorhub_black;
      font-weight: 400;
      @include font-size(18px, 27px);
      padding-left: size(18);


      &:not(:last-child) {
        margin-bottom: size(11);
      }

      &:before {
        content: "";
        position: absolute;
        top: size(10);
        left: 0;
        @include square(size(5));
        background-color: currentColor;
        border-radius: 50%;
      }

    }

    ul, ol {
      margin: size(5) 0 0 size(10);
    }
  }

  ol {
    padding-left: size(17);

    li {
      padding-left: size(5);

      &:before {
        display: none;
      }
    }

    ul {
      margin-bottom: 0;
    }
  }

  &.children-inherit {
    > * {
      color: inherit;
    }
  }

}

//endregionyy//

//region card hover
.general-card-hover {
  position: relative;
  overflow: hidden;
  transition-property: transform, border, background-color, box-shadow;
  transition-duration: $duration;
  transition-timing-function: $easing;
  border: 1px solid transparent;

  &:hover {
    transform: translateY(size(-4));
    border-color: #cccccc;
    background-color: $advisorhub_white !important;
    box-shadow: 0 4px 8px rgba(38, 38, 38, 0.2);

    &:before {
      transform: scale(2.15);
    }
  }

}

// Icons Style
.icon-svg {
  overflow: visible;
}


section {
  .advisorhub-logo {
    transform-origin: center center;
    transform: translate(-50%, -50%);
    //  animation: section-logo 5s linear infinite;
    //@keyframes section-logo {
    //  from {
    //    transform:translate(-50%,-50%) rotate(0);
    //  }
    //  to {
    //    transform: translate(-50%,-50%) rotate(360deg);
    //  }
    //}
    &.right {
      transform: translate(50%, -50%);
      //animation: section-logo-right 5s linear infinite;
      //@keyframes section-logo-right {
      //  from {
      //    transform:translate(50%,-50%) rotate(0);
      //  }
      //  to {
      //    transform: translate(50%,-50%) rotate(360deg);
      //  }
      //}
    }
  }
}

.main-logo, .footer-logo {
  .advisorhub-logo {
    transform-origin: center;
    transform-box: fill-box;
    animation: logo-rotate 5s linear;
    @keyframes logo-rotate {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

//endregion card hover

// region background blur
.background-blur {
  background: linear-gradient(90deg, #8AB1BC -21.35%, #3B7E92 98.1%);
  filter: blur(150px);
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: size(266);
  bottom: 0;
  z-index: -1;
  pointer-events: none;

  &.bg-blur-top {
    bottom: auto;
    top: 0;
  }

  &.bg-blur-center {
    bottom: 30%;
  }
}

// endregion background blurx`

// adjust bold elements
strong, b {
  font-weight: 900;
}

section {

  .advisorhub-logo {
    @include square(size(48.74));
    @include min-medium-screen {
      @include square(size(67));
    }
    @include large-screen {
      @include square(size(107));
    }
  }
}

.admin-bar .progress-container-top {
  top: auto;
}

.card-team-member {
  padding: size(30);
  background-color: $advisorhub_white;
  border-bottom-left-radius: size(30);
  height: 100%;
  display: flex;
  flex-direction: column;
  @include small-screen {
    max-width: size(400);
    @include marginX(auto);
  }
  @include max-medium-screen {
    margin-bottom: size(40);
  }

  .img-wrapper {
    @include square(size(152));
    border-radius: 50%;
    overflow: hidden;
    @include marginY(size(14), size(30));
    @include objectImg(cover);
  }

  .member-name {
    margin-bottom: size(4);
    max-width: size(255);
    color: $advisorhub_Cadet_Grey;
    letter-spacing: 0.02rem;
    font-weight: 800;

  }

  .member-jop {
    margin-bottom: size(10);
    max-width: size(255);
    color: $advisorhub_Platinum;
    letter-spacing: 0.02rem;
    font-weight: 600;
    @include min-medium-screen {
      max-width: size(280);
    }
  }

  .jop-description {
    font-weight: 700;
    max-width: size(255);
    margin-bottom: size(18);
    @include max-lines(3);
    @include min-medium-screen {
      max-width: size(280);
    }
  }

  .card-link {
    margin-top: auto;
    font-family: $Roboto;
  }
}

// region Pop Up

.pop-up {
  @include paddingY(size(40));
  @include paddingX(size(20));
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  //background-color: #d5d5d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //justify-content: center;
  z-index: 99;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity $duration;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include square(100%);
    z-index: -1;
    background-color: #414141;
    opacity: 0.2;
  }

  @include min-medium-screen {
    @include paddingX(0);
  }

  &.show {
    opacity: 1;
    pointer-events: visible;
  }

  .pop-up-desc {
    margin-bottom: size(20);
  }

  .pop-up-content {
    position: relative;
    @include paddingX(size(35));
    @include paddingY(size(59), size(74));
    background-color: $advisorhub_white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: size(30);
    border-radius: 0 0 0 30px;
    @include min-medium-screen {
      @include paddingX(size(40));
      width: 90%;
    }

    @include large-screen {
      width: 76.5%;
      @include paddingX(size(75));
    }

    .exit {
      position: absolute;
      top: 1.5%;
      right: 3%;
      cursor: pointer;
      width: 29px;
      @include min-medium-screen {
        top: 5%;
        right: 3%;
      }

      svg {
        width: 100%;
        height: 100%;
      }

      &:hover {
        svg {
          line {
            transition: stroke $duration;
            stroke: $advisorhub_blue;
          }
        }
      }
    }

  }

  .left-content {
    width: 50%;
    margin-bottom: size(30);
    @include marginX(auto);

    .pop-up-image {
      border-radius: 50%;
      overflow: hidden;
      padding-top: 100%;
    }

    @include min-medium-screen {
      width: 25%;
      margin-bottom: 0;
      margin-right: size(40) !important;
      @include marginX(0);
    }
    @include large-screen {
      margin-right: size(53);
      width: 34.4%;
    }
  }

  .right-content {
    width: auto;

    .pop-up-user-name, .pop-up-user-position, .paragraph, .quote {
      @include small-screen {
        text-align: center;
      }
    }

    .pop-up-user-name {
      color: $advisorhub_red;
      font-weight: 700;
    }

    .pop-up-user-position {
      margin-bottom: size(22);
      color: $advisorhub_red;
      font-weight: 400;
    }

    .pop-up-user-description {
      font-weight: 700;
      margin-bottom: size(12);
      max-width: size(508);
    }

    .quote {
      @include font(16px, 500, 24px, $advisorhub_black, $Roboto);
      font-style: italic;
      max-width: size(508);
    }
  }
}

//endregion Pop Up

// region all posts card styles

.ah-post-card {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $advisorhub_Cadet_Grey;

  //region general between cards

  .post-image {
    padding-top: 62.978%;
    border-radius: size(5) size(5) 0 0;
    overflow: hidden;
    position: relative;
    z-index: 2;
    width: 100%;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      @include square(100%);
      background-color: $advisorhub_black;
      opacity: 0;
      transition: opacity $duration;
      z-index: 1;
    }

    &:hover {
      &:before {
        opacity: 0.3;
      }
    }

  }

  .card-content {
    @include paddingY(size(16))
  }

  .post-title {
    font-weight: 700;
    margin-bottom: auto;
    font-family: $Roboto-Condensed;
    color: $advisorhub_black;
    transition: color $duration;

    &.post-title-size-1 {
      @include font-size(16px, 18px);
    }

    &.post-title-size-2 {
      @include font-size(16px, 19px);
      @include min-medium-screen {
        @include font-size(18px, 21px);
      }
    }

    &.post-title-size-3 {
      @include font-size(22px, 25px);
    }

    &.post-title-size-4 {
      @include font-size(30px, 35px);
    }


    &:hover {
      color: $advisorhub_blue !important;
    }
  }

  .post-tag {
    color: $advisorhub_Outer_Space;
    text-transform: capitalize;
    margin-bottom: size(9);
    letter-spacing: size(0.02);
    display: none;
  }

  .date {
    @include font(12px, 400, 13px, $advisorhub_Outer_Space, $Roboto, size(0.02));
    margin-top: size(10);
    //display: none;
  }

  .ah-post-card-description {
    font-family: $PT_Serif;
    @include font-size(13px, 18px);
    color: $advisorhub_Outer_Space;
    //display: none;
    margin-top: size(8);

  }

  // endregion

  &.ah-post-card-horizontal {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid $advisorhub_Cadet_Grey;
    @include min-medium-screen {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .image-wrapper {
      display: none;
      @include min-medium-screen {
        @include flexBasis(size(200))
      }
      @include large-screen {
        @include flexBasis(41%);
      }

      .post-image {
        padding-top: 62.66%;
      }
    }

    .card-content {
      @include paddingY(size(16));
      @include flexBasis(100%);

      .post-tag {
        display: none;
      }
    }

    .post-title {
      @include font(16px, 700, 19px, $advisorhub_black, $Roboto-Condensed);
      @include min-medium-screen {
        @include font-size(18px, 21px);
      }
    }

    &.has-image {
      border-top: none;
      @include min-medium-screen {
        padding-bottom: size(16);
      }

      .image-wrapper {
        display: block;
      }

      .card-content {
        @include paddingY(size(16));
        @include min-medium-screen {

          @include paddingY(0);
          @include flexBasis(size(290));
        }
        @include large-screen {
          @include flexBasis(55.4%);
        }


        .post-title {
          @include font(32px, 700, 38px, $advisorhub_black, $Roboto-Condensed);
        }


      }

    }

    &.has-tag {
      .post-tag {
        display: block !important;
      }
    }

    &.has-description {
      .ah-post-card-description {
        margin-top: size(10);
      }
    }


  }

  &.ah-post-card-video {
    border-top: none;

    .post-image {
      position: relative;
      display: block;
      padding-top: 62.704%;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include square(size(80));
        //background-image: url("../../src/svgs/play-circle.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include min-medium-screen {
          @include square(size(100));
        }
      }
    }
  }

  &.has-date {
    .date {
      display: block !important;
    }
  }

  &.has-description {
    .ah-post-card-description {
      display: block;
    }
  }

  &.has-image {
    border-top: none;

    .post-image, .image-wrapper {
      display: block;

    }
  }

  &.has-only-title {
    .post-image, .post-tag {
      display: none;
    }
  }

  &.has-post-tag {
    .post-tag {
      display: block;
    }
  }

  a {
    border-bottom: none !important;
  }

  .post-tag {
    a {
      color: inherit;

      &:hover {
        color: $advisorhub_red;
      }
    }
  }

}


// region magazine-card
.magazine-card {
  height: 100%;
  padding: size(24);
  background: $advisorhub_off_white;
  border: 0.4px solid rgba(170, 184, 191, 0.6);
  border-radius: size(4);
  display: flex;
  flex-direction: column;
  @include medium-screen {
    padding: size(14);
  }

  .image-wrapper {
    padding-top: 62.903%;
    border-radius: size(5) size(5) 0 0;
    overflow: hidden;
    margin-bottom: size(12);

  }

  .data {
    @include medium-screen {
      margin-top: 6px;
    }
  }

  .ah-post-card-description {
    margin-top: size(16);
  }

  .ah-post-card-description p {
    @include medium-screen {
      margin-top: 0;
    }
  }
}

// endregion


.most-popular-cards {
  margin-bottom: size(50);

  @include min-medium-screen {
    max-width: size(300);
    margin: auto;
  }

  .large-sub-title {
    margin-bottom: 0;
  }

  .ah-most-popular-card {
    display: flex;
    @include paddingY(size(16));
    border-bottom: 0.4px solid $advisorhub_Cadet_Grey;


    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    .number {
      @include font(30px, 700, 30px, $advisorhub_red, $PT_Serif);
      margin-right: size(20);
      flex-shrink: 0;
    }

    .most-popular-card-title {
      @include font(14px, 700, 18px, $advisorhub_black, $Roboto_Condensed);
      display: flex;
      align-items: center;
      transition: color $duration;

      &:hover {
        color: $advisorhub_blue;
      }
    }
  }

  a {
    border-bottom: none !important;
  }
}


// endregion

.main-title {
  border-bottom: size(4) solid currentColor;

  &.center {
    text-align: center;
  }
}

// region sub-title style
.small-sub-title, .medium-sub-title, .large-sub-title {
  font-family: $PT_Serif;
  font-weight: 700;
  color: $advisorhub_red;
  letter-spacing: size(0.06);
  margin-bottom: size(18);
  width: 100%;
}

.small-sub-title {
  font-family: $Roboto;
  @include font-size(10px, 12px);
  text-transform: uppercase;

  &.small-sub-title-12 {
    @include font-size(12px, 14px);
  }
}

.medium-sub-title {
  @include font-size(14px, 19px);
  text-transform: capitalize;
}

.large-sub-title {
  @include font-size(18px, 24px);
  text-transform: capitalize;

}

// endregion

.video-cards {
  @include change-gutter(size(25), size(30));
}

.magazine-cards {
  @include change-gutter(size(20), size(20));
}

.block-wrapper {
  background: $advisorhub_white !important;
  border-radius: size(4);
  padding: size(24);
}

.block-post-wrapper {
  max-width: size(594);
  @include paddingY(size(24), size(8));

  .large-sub-title {
    padding-top: size(10);
    border-top: 1px solid $advisorhub_red;
  }

  .ah-post-card-horizontal {
    .post-image {
      border-radius: size(5);
    }
  }

}

// region table

.border-top {
  border-top: 1px solid $advisorhub_red;
  padding-top: size(10);
}

.main-table {
  width: 100%;
  border-collapse: collapse;


  .table-header {
    th {
      @include font(10px, 700, 12px, $advisorhub_red, $Roboto);
      text-transform: uppercase;
      padding-right: size(30);
      text-align: left;
      padding-bottom: size(10);

      &:last-of-type {
        padding-right: 0;
      }
    }

    .arrow-down {
      display: none;
    }

    &.has-arrow {
      .arrow-down {
        display: inline-block !important;
        margin-left: size(4);
      }
    }
  }

  .table-body {

    border-top: 1px solid $advisorhub_Cadet_Grey;
    border-bottom: 1px solid $advisorhub_Cadet_Grey;

    td {
      @include font(12px, 400, 14px, $advisorhub_Outer_Space, $Roboto);
      @include paddingY(size(14), size(18));

    }
  }

  .table-body:nth-child(even) {
    background: $advisorhub_white;
  }
}

// endregion

// region wp-pagination
.wp-pagination {
  display: flex;
  align-items: center;
  max-width: size(275);
  justify-content: space-between;
  @include marginX(auto);
  margin-top: size(40);
  @include large-screen {
    margin-top: size(30);
    max-width: size(356);
  }

  .page-numbers {
    @include font(18px, 700, 21px, $advisorhub_American_Silver, $Roboto);
    transition: color $duration;
    display: flex;

    &:hover {
      &:not(.dots) {
        color: $advisorhub_blue;
      }
    }

    &.current {
      color: $advisorhub_blue;
    }

  }

  .arrow-pagination {
    @include square(size(33));
  }

  .prev, .next {
    display: flex !important;
  }
}

// endregion

//region main_title_block

.ah-title {
  border-bottom: 4px solid currentColor;

  .text {
    &.text-center {
      text-align: center;
    }
  }
}

// endregion

//region remove container from specific sections in wp columns
.wp-block-columns {
  .masthead_block {
    .container {
      @include max-medium-screen {
        @include paddingX(0);
      }
    }
  }
}

//endregion remove container from specific sections in wp columns -


// region flex wrap reverse to wp columns in  title_and_content_block

@media screen and (max-width: 782px) {
  .wp-block-columns:not(.stack-in-mobile).wpColumns-reverse {
    flex-wrap: wrap-reverse !important;
  }
}

.wp-block-columns.stack-in-mobile.wpColumns-reverse {
  @include small-screen {
    flex-wrap: wrap-reverse !important;
  }
}

// endregion flex wrap reverse to wp columns in  title_and_content_block


.wp-block-columns {
  .wp-block-column {
    //@include min-medium-screen {
    //  order: unset !important;
    //}


    section {
      margin: 0;

      &.advisorhub_posts_block {
        .col-md-6 {
          flex: 0 0 auto;
          width: 100%;
        }
      }

      //.row{
      //  --bs-gutter-x: initial;
      //  --bs-gutter-y: initial;
      //  display: initial;
      //  -webkit-flex-wrap: initial;
      //  flex-wrap: initial;
      //  margin-top: initial;
      //  margin-right: initial;
      //  margin-left: initial;
      //}
    }
  }

  &.stack-in-tablet-50 {
    @include max-medium-screen {
      flex-wrap: wrap !important;
    }

    .wp-block-column {
      @include max-medium-screen {
        @include flexBasis(47% !important);
      }
      @include small-screen {
        @include flexBasis(100% !important);
      }
    }
  }

  &.stack-in-tablet-100 {
    @include max-medium-screen {
      flex-wrap: wrap !important;
    }

    .wp-block-column {
      @include max-medium-screen {
        @include flexBasis(100% !important);
      }
    }
  }

  &.stack-in-mobile {
    @include small-screen {
      flex-wrap: wrap !important;
    }

    .wp-block-column {
      @include small-screen {
        @include flexBasis(100% !important);
      }
    }
  }
}

.wp-block-columns {
  @include min-medium-screen {
    gap: 3rem;
    margin-bottom: 3.6rem;
  }
}

.same-height {
  .wp-block-column {
    .advisorhub_posts_block {
      @include min-medium-screen {
        max-width: size(300);
        height: 100%;
        margin: auto;
      }
    }
  }
}



//
iframe {
  max-width: 100% !important;
}

//footer {
//  margin-top: size(50);
//}

a {
  //@include font(10px, 700, 100%, $advisorhub_blue, $Roboto, size(0.06));
  //width: fit-content;
  //padding-bottom: size(2);
  color: $advisorhub_blue;
  transition: color $duration, border-bottom-color $duration;
  text-decoration: none;

  &:hover {
    color: $advisorhub_red;
  }
}

a:hover, a:focus {
  text-decoration: none;
}


.form-control {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: none !important;
  margin-bottom: 15px;
}

.form-control:focus {
  border: 1px solid #34495e;
}

// region select2

.general-select {
  display: none;
}

.select2.select2-container {
  width: 100% !important;
  cursor: pointer;
  //position: relative;
  //display: flex;
  //align-items: center;
  margin-right: size(10);

  .selection {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: size(8);
      height: size(6);
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      //background-image: url("../../src/svgs/article(bottom).svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: transform $duration;
      pointer-events: none;
    }

  }


  .select2-selection--single {
    height: auto;
    background-color: transparent;
    border: 0;
    border-radius: 0;
  }

  &.select2-container--open {
    &:after {
      transform: scaleY(-1);
    }
  }

}

.select2-search__field {
  display: none;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
  @include font(10px, 700, 12px, $advisorhub_red, $Roboto, size(0.06));
  text-transform: uppercase;
  padding-right: 1.3rem;
}


.select2-container .select2-dropdown {
  background: transparent;
  border: none;
  margin-top: -5px;
}

.select2-container .select2-dropdown .select2-results {
  padding: 0;
}

.select2-container .select2-dropdown .select2-results ul {
  background: $advisorhub_white;
  box-shadow: 0 size(4) size(17) rgba(0, 0, 0, 0.31);
  width: size(199);
  padding: size(30) size(24);
  text-transform: uppercase;
  @include min-medium-screen {
    padding: size(30);
  }
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option {
  @include font(14px, 400, 18px, $advisorhub_Outer_Space, $Roboto);
  text-transform: capitalize;
  cursor: pointer;
  transition: color $duration;
  list-style: none;
  @include min-medium-screen {
    @include font-size(12px, 16px);
  }

  &:not(:last-child) {
    margin-bottom: size(20);
  }
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--disabled {
  display: none;
}

//.select2-container .select2-dropdown .select2-results ul li:first-child {
//  display: none;
//}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--selected {
  color: $advisorhub_black !important;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
  color: $advisorhub_black;
}

.select2-container {
  z-index: 99;
}

// endregion

.header-ad-code {
  margin-top: 30px;
  margin-bottom: 30px;

  iframe {
    display: block;
    margin: 0 auto;
  }
}

#homeBottom #top_header_ad .homePromoTopOver {
  width: 380px;
  height: 90px;
  padding: 13px 0 0;
  margin: 0 0 0 26px;
  vertical-align: top;
}

@media only screen and (max-width: 1140px) {
  #homeBottom #top_header_ad .homePromoTopOver {
    margin: 0;
  }
}

#homeBottom #top_header_ad #homePromoTop .promo_text_over {
  font-size: 16px;
  width: 60%;
}

#homeBottom #top_header_ad #homePromoTop .promo_button_over {
  width: 40%;
}

#interior #recruiting_wires_ads #top_header_ad {
  padding: 0 0 34px;
}

@media screen and (min-width: 970px) {

  #top_header_ad .top-header-ad-inner .ad_promo {
    display: none;
  }

  #top_header_ad .top-header-ad-inner #header_ad {
    max-width: none;
    width: auto;
    height: auto;
    margin: 0 auto;

  }
}

.center_oao_ad {
  overflow: hidden;
  text-align: center;
  margin: 0 0 32px 0;
}

footer .footerStickyAd {
  text-align: center;
  overflow: hidden;
  background: #000;
  max-height: 50px;
  max-width: 320px;
  position: fixed;
  bottom: 12px;
  z-index: 10000;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media (min-width: 768px) {
  footer .footerStickyAd {
    max-height: 90px;
    max-width: 728px;
  }
}

@media (min-width: 1200px) {
  footer .footerStickyAd {
    max-height: 90px;
    max-width: 970px;
  }
}

footer .footerStickyAd .footerStickyAdClose {
  border: 1px #111 solid;
  border-radius: 50%;
  display: block;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #111;
  background: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  float: right;
  z-index: 1000;
}

footer .footerStickyAd .footerStickyAdClose i {
  position: relative;
  top: -1px;
  color: #111;
}

/* Ads */
#posts_ad_top {
  padding-top: 40px;
}

#top_header_ad,
#top_header_ad_second,
#top_header_ad_third,
#top_header_ad_fourth {
  overflow: hidden;
  text-align: center;
  margin: 0 0 32px 0;
}

#top_header_ad div,
#top_header_ad_second div,
#top_header_ad_third div,
#top_header_ad_fourth div {
  display: inline-block;
}

#top_header_ad .ad_promo,
#top_header_ad_second .ad_promo,
#top_header_ad_third .ad_promo,
#top_header_ad_fourth .ad_promo {
  display: inline-block;
  vertical-align: top;
  margin: 20px 13px 0;
}

@media (min-width: 1200px) {
  #top_header_ad .ad_promo,
  #top_header_ad_second .ad_promo,
  #top_header_ad_third .ad_promo,
  #top_header_ad_fourth .ad_promo {
    margin: 0 0 0 26px;
  }
}

.container-gray {
  //background: #EFEFEF;
  padding: 32px 0 0 0;
}


//region category-php

.category-content-ads {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-category-content {
  flex-basis: 100%;
  max-width: 100%;
  @include min-medium-screen {
    flex-basis: 59.67%;
    width: 59.67%;
  }
}

.right-category-content {
  flex-basis: 100%;
  max-width: 100%;
  //max-width: 100%;
  @include min-medium-screen {
    flex-basis: 32.13%;
    width: 32.13%;
  }
}

// endregion


// region remove last sidebar spacer height

.sidebar-spacer:last-child {
  height: 0 !important;
}

// endregion remove last sidebar spacer height

//region style for single.php tags
.tags {
  display: flex;

  & h5 {
    align-self: center !important;
    margin-right: 5px !important;
    text-transform: capitalize !important;
  }

  & .tag-inner {
    margin-right: 5px !important;
    border-bottom: 0 !important;
    color: $advisorhub_Outer_Space !important;
    font-size: 12px !important;
    font-style: italic !important;
    border-bottom: 1px solid transparent !important;

    &:hover {
      border-bottom: 1px solid currentColor !important;
      transition: border $duration !important;
    }
  }
}

//endregion

//region style for tag.php
.tag-php {
  max-width: 100% !important;
}

//endregion

.broken_link, a.broken_link {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

//region style for related posts
.border-related-top {
  padding-top: size(10);
  border-top: 1px solid $advisorhub_red;
}

.related-top {
  margin-top: size(30);
}

//endregion


//region style for the image alt in sing resources

.photo-title {
  padding-top: size(3);
  max-width: size(334);
  @include font(12px, 400, 22px, $advisorhub_Outer_Space, $PT_Sans);
  //font-style: italic;
  @include min-medium-screen {
    max-width: unset;
  }
}

//endregion


.daterangepicker ul li {
  list-style: none !important;
}

#threexequity-iframe {
  height: 2500px;
}

.has-border {
  border: 0.4px solid rgba(170, 184, 191, 0.6);
}

