// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$advisorhub_black: var(--advisorhub_black);
$advisorhub_white: var(--advisorhub_white);
$advisorhub_off_white: var(--advisorhub_off_white);
$advisorhub_blue: var(--advisorhub_blue);
$advisorhub_Flash_White: var(--advisorhub_Flash_White);
$advisorhub_Platinum: var(--advisorhub_Platinum);
$advisorhub_American_Silver: var(--advisorhub_American_Silver);
$advisorhub_Cadet_Grey: var(--advisorhub_Cadet_Grey);
$advisorhub_Outer_Space: var(--advisorhub_Outer_Space);
$advisorhub_Dark_Grey: var(--advisorhub_Dark_Grey);
$advisorhub_red: var(--advisorhub_red);
// fonts
$Roboto: 'Roboto';
$Roboto_Condensed: 'Roboto Condensed';
$PT_Serif: 'PT Serif';
$PT_Sans: 'PT Sans';
//default duration
$duration: 300ms;
$easing: ease-in-out;
// block border top
$block-border-top: 1.6rem;
//override bootstrap variables
$grid-gutter-width: 2rem;
$container-mobile-padding: 2rem;
$container-tablet-padding: 6rem;
$container-extra-sm: 10rem;
$container-sm: 2rem;
$container-md: 7rem;
$container-lg: 10.1rem;
$container-max-widths: (
  'md': 100%, //570px
  'lg': 120rem, //760px 88.4
);
$grid-breakpoints: (
  'xs': 0,
  'md': $medium-screen-min-width,
  'lg': $large-screen-min-width,
);

