
@import "styles/sites/k1_elementor";

.careers_image_block {
  width: 100%;
  overflow: hidden;
  @include paddingY(size(80), size(72));
  @include min-medium-screen {
    @include paddingY(size(112));
  }

  .careers-image-group {
    img {
      border-radius: size(12);
    }
  }

  .left-bg {
    height: fit-content;
  }

  .right-bg {
    height: fit-content;
  }

  .top-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include small-screen {
      max-width: size(500);
      @include marginX(auto);
    }
  }

  .left-content {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(47%);
    }
    @include large-screen {
      @include flexBasis(44.16%);
    }
  }

  .left-img {
    padding-top: 124.3%;
    z-index: 1;

  }

  .careers-image-text {
    font-weight: 400;
    color: $k1_project_black;
    max-width: size(450);
    @include font-size(28px, 40px);
    letter-spacing: size(-0.5);
    margin-bottom: size(24);
    @include min-medium-screen {
      margin-bottom: size(20);
      max-width: 100%;
    }

    @include large-screen {
      letter-spacing: size(-1);
      @include font-size(40px, 60px);
    }

    span {
      color: $k1_project_middle_red;
    }
  }

  .careers-link {
    @include font(16px, 400, 20px, $k1_project_purple, $interstate);
    font-weight: 400;
    letter-spacing: -1px;
    color: $k1_project_purple;
    &:not(.no-hover):hover {
      color: $k1_project_dark_red;
    }
  }

  .right-content {
    @include flexBasis(100%);
    margin-top: size(32);
    @include min-medium-screen {
      @include flexBasis(47.5%);
      margin-top: 0;
      @include paddingY(size(100), size(25));
    }
    @include large-screen {
      @include paddingY(size(143), size(125));
    }
  }

  .bottom-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin-top: size(60);
    @include min-medium-screen {
      margin-top: size(112);
    }
  }

  .left-content-wrapper {
    @include flexBasis(100%);
    margin-top: size(20);
    @include min-medium-screen {
      @include flexBasis(34%);
      margin-top: 0;
    }

    @include large-screen {
      @include flexBasis(31.66%);
    }

    .left-career-img {
      padding-top: 117.36%;
    }
  }

  .right-content-wrapper {
    @include flexBasis(100%);
    transform: translateY(-2%);
    @include min-medium-screen {
      @include flexBasis(62.66%);
      margin-top: -15%;
    }

    @include large-screen {
      margin-top: -20%;

    }

    .right-career-img {
      padding-top: 60.505%;
    }
  }

  .aspect-ratio {
    overflow: hidden;
  }

  .blue-gradient {
    &:after {
      content: "";
      position: absolute;
      width: 102%;
      height: 102%;
      top: -1%;
      left: -1%;
      z-index: 0;
      background: linear-gradient(0deg, rgba(123, 97, 255, 0.3), rgba(123, 97, 255, 0.3))
    }

    border-radius: size(12);
  }
}





