@import "styles/sites/headversity";
@import "~swiper/css";

.uncharted_block {
  position: relative;
  padding-top: size(55);
  @include min-medium-screen {
    padding-top: size(80);
  }

  .card {
    max-width: 100%;

    .card-title {
      transition: color $duration;
      cursor: pointer;
    }
  }

  // region swiper in mobile
  .main-swiper {
    .swiper-wrapper {
      @include small-screen {
        flex-wrap: wrap;
        .swiper-slide {
          &:not(:last-child) {
            margin-bottom: size(50);
          }

          &:nth-child(3) ~ .swiper-slide {
            display: none;
          }
        }
      }
    }

  }

  .swiper-button {
    @include small-screen {
      display: none;
    }
  }

  // endregion swiper in mobile


  //  region modal
  .modal {
    @include paddingY(size(108), 0);
    overflow: auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    //width: 0;
    //height: 0;
    background-color: rgba(255, 255, 255, .95);
    top: 50%;
    z-index: 999;
    display: flex;
    //justify-content: center;
    //align-items: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;

    width: 100vw;
    height: 100vh;
    transition: opacity $duration, transform $duration;

    &.show {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      pointer-events: visible;
    }

    .exit {
      @include small-screen {
        top: 30px;
      }
      cursor: pointer;
      position: absolute;
      top: 24px;
      right: 20px;
    }

    .modal-content {
      width: 95%;
      @include min-medium-screen {
        width: 82%;
        //margin-bottom: size(44);
      }
      @include large-screen {
        width: 66%;
      }
    }

    .modal-video {
      padding-top: 55.5%;
      cursor: pointer;
      //margin-bottom: size(63);
    }

    .bottom-section {
      margin-top: size(63);

      border-top: 3px solid $headversity_orange;
      @include paddingY(size(28))
    }

    .episodes-section-title {
      margin-bottom: size(22);
    }

    //.episodes-wrapper {
    //  display: flex;
    //  flex-wrap: wrap;
    //  justify-content: space-between;
    //}

    .episode {
      display: flex;
      cursor: pointer;
      //justify-content: center;
      //width: calc((100% / 3) - 112px);
    }

    .poster-img {
      margin-right: size(16);
      width: size(150);
      height: size(85);

      img {
        @include objectImg()
      }
    }

    .episode-desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .episode-title {
      @include font(16px, 700, 20px, $headversity_dark_blue, $poppins, normal);
      margin-bottom: size(3);
      width: size(77);
    }

    .episode-time {
      @include font(14px, 500, 20px, $headversity_dark_blue, $poppins, normal);

    }

  }

  //  endregion modal

}
