@import "styles/sites/successkpi";

.additional_resources {
  .container {
    @include min-medium-screen {
      @include paddingX(size(90));
    }
  }

  .resources {
    @include paddingY(size(30));
    @include large-screen {
      padding-top: size(100);
      padding-bottom: size(120);
    }
  }

  .title {
    text-align: center;
    margin-bottom: size(14);
    font-weight: 400;
    @include small-screen {
      font-size: size(36);
    }
  }

  .description {
    color: $successkpi_gray;
    @include small-screen {
      margin-bottom: size(36);
      text-align: center;
    }
    @include min-medium-screen {
      text-align: center;
      margin-bottom: size(56);
    }
  }

  .row {
    @include change-gutter(size(39), size(39));
  }

  .card {
    flex-wrap: wrap;
    background: $successkpi_white;
    box-shadow: size(12)  size(12) size(32) rgba(0, 0, 0, 0.05);
    border-radius: size(4);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: size(27);

    &.no-disc {
      @include paddingY(size(40));
    }
  }

  .title-and-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    .card-title {
      @include font(24px, 700, 35px, $successkpi_dark_blue_2, $roboto);
      @include small-screen {
        font-size: size(20);
      }

    }

    .svg-wrapper {
      width: size(24);
      height: size(26);
      margin-right: size(16);
      flex-shrink: 0;

      svg {
        @include square(100%);
        object-fit: contain;
        @include small-screen {
          width: size(20);
          height: size(22) ;
        }

        path {
          fill: #234CC6;
        }
      }
    }
  }

  .card-disc {
    flex-basis: 100%;
    color: $successkpi_gray;
    text-align: center;
    position: relative;
    margin-top: size(5);
    @include paddingX(size(2));
  }
}


