@import "styles/sites/headversity";

@import "~swiper/css";

.steps_to_launch_block {
  @include paddingY(size(81), size(125));
  @include min-medium-screen {
    @include paddingY(size(62), size(125));

  }

  .container {
    @include large-screen {
      @include paddingX(size(162), size(170));
    }
  }

  .main-title {
    text-align: left;
    max-width: size(528);
  }

  $postion-of-arrow-small: size(105);
  $postion-of-arrow-medium: size(10);
  $postion-of-arrow-large: size(50);

  .swiper-button {
    cursor: pointer;
    position: static;
    width: size(15);
    height: size(16);
    transform: translate(0);
    @include min-medium-screen {
      @include square(size(27));
    }
    @include large-screen {
      @include square(size(27));

    }

    svg {
      @include objectImg()
    }

    &:hover {
      svg {
        path {
          stroke: $headversity_hover_orange;
        }
      }
    }
  }

  .swiper-arrows-container {
    @include small-screen {
      padding-top: size(15);
      @include marginX(auto);
      width: 45%;
      @include paddingX(0, size(13));
    }
    max-width: size(1440);
    display: flex;
    align-items: center;
    justify-content: center;
    @include paddingX(size(12), size(22));
    transition: top $duration;
    @include min-medium-screen {
      position: absolute;
      z-index: 22;
      width: calc(95% + 3rem);
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      justify-content: space-between;
      @include paddingX(0);
    }
    @include large-screen {
      width: calc(80% + 15rem);
    }
  }

  .swiper-pagination {
    display: flex;
    @include min-medium-screen {
      display: none;
    }
  }

  .description-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: size(20);
    @include marginY(size(20), size(82));
  }

  .left-description {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(49.45%);
    }
  }

  .right-description {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(42.77%);
    }
  }

  .left-desc {
    color: $headversity_gray;
    //max-width: size(548);
  }

  .right-desc {
    font-weight: 700;
    color: $headversity_dark_blue;
    max-width: size(447);
    padding-left: size(27);
    border-left: 2px solid #FF9900;
    @include max-medium-screen {
      margin-top: size(35);
    }
  }


  .swiper {
    overflow: hidden;
    @include small-screen {
      @include marginX(size(-25));
    }
    @include min-medium-screen {
      border-radius: size(30);

    }
  }

  .step-img {
    width: 100%;
    padding-top: 80.64%;
    @include min-medium-screen {
      padding-top: 48.64%;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: size(30);
    @include small-screen {
      border-radius: 0;
    }
  }

  //.swiper-pagination-bullets {
  //  bottom: -1%;
  //  left: 11%;
  //  position: static;
  //
  //  .swiper-pagination-bullet-active {
  //    background-color: $headversity_orange;
  //  }
  //}
  .swiper-pagination {
    .swiper-pagination-bullet {
      &:not(:last-child) {
        margin-right: 0.9rem !important;
        margin-left: 0 !important;
      }
    }
  }

  .swiper-pagination-bullet {
    @include square(size(6));

    @include min-medium-screen {
      @include square(size(10.27));

    }
  }

  .myswiper-wrapper {
    display: flex;
    align-items: center;
    min-width: size(216);
    margin-top: size(28);
    transition: left $duration;
    position: absolute;
    bottom: size(-45);
    @include min-medium-screen {
      left: 0;
      transform: translateX(-50%);
    }
    @include small-screen {
      min-width: size(138);
      left: 0 !important;
    }
  }

  .step-numbers {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: size(96);
    margin-top: size(22);
    @include min-medium-screen {
      margin-top: size(42);
    }
  }

  .step-number {
    //width: 36%;
    //width: auto;
    @include marginX(auto);
    text-align: center;
    width: auto;
    flex-grow: 1;
    overflow: hidden;
    margin-top: 0;
    cursor: pointer;
    background: $headversity_white;
    height: 100%;

    .number {
      display: block;
      opacity: 0.3;
      @include font(16px, 700, 50px, $headversity_new_blue, $poppins);
      @include min-medium-screen {
        display: none;
      }
    }

    .step-number-text {
      @include font(20px, 700, 50px, $headversity_new_blue, $poppins);
      opacity: 0.3;
      display: block;
      @include small-screen {
        display: none;
      }
    }

    .step-description {
      @include font(16px, 600, 18px, $headversity_dark_blue, $poppins);
      opacity: 0.3;
      max-width: size(158);
      @include marginX(auto);
      text-align: center;
      display: block;
      @include small-screen {
        display: none;
      }
    }

    &.active-step {
      transition-property: margin, background;
      transition-duration: $duration;
      background: #FFFFFF;
      box-shadow: 0 size(10) size(20) rgba(97, 55, 55, 0.1);
      border-radius: size(30) size(30) 0 0;
      border-bottom: 11px solid #FF9900;
      padding: size(27) size(13) size(70) size(13);
      text-align: center;
      margin-top: size(-100);
      z-index: 2;
      position: relative;
      cursor: pointer;
      height: fit-content;
      width: min-content;
      flex-grow: 1;
      flex-shrink: 0;

      .step-number-text {
        @include font-size(24px, 50px);
        opacity: 1;
        margin-bottom: size(26);
        @include min-medium-screen {
          @include font(40px, 700, 50px, $headversity_new_blue, $poppins);
        }
        @include small-screen {
          display: block;
        }
      }

      .step-description {
        @include font-size(14px, 16px);
        opacity: 1;
        text-align: center;
        @include marginX(auto);
        @include min-medium-screen {
          @include font-size(24px, 24px);
        }
        @include small-screen {
          display: block;
        }
      }

      @include small-screen {
        padding: size(29) size(21.3) size(48) size(17);
      }

      .number {
        display: none;
      }
    }
  }
}
