@import "styles/sites/headversity";

@import "~swiper/css";

.testimonials_block {

  @include paddingY(size(86.5), size(66.5));
  //@include paddingX(size(166));

  .content-wrapper {
    //@include min-medium-screen
    //{
    //  max-width: size(1440);
    //}
  }

  $swiper-additional-padding: 3rem;

  .container {
    @include small-screen {
      @include paddingX(0);
    }
    @include min-medium-screen {
      @include paddingX($container-padding-md - $swiper-additional-padding);
    }
    @include large-screen {
      @include paddingX($container-padding-lg - $swiper-additional-padding)
    }
  }

  .content-wrapper {
    position: relative;
  }

  .ellipse {
    top: size(40);
    left: -11.5%;
    @include square(size(250));
    @include large-screen {
      @include square(size(1118));
      left: -19.5%;
    }

  }

  .title {
    text-align: left;
    @include marginX(size(26), size(37));
    margin-bottom: size(3);
    @include min-medium-screen {
      text-align: center;
      @include marginX(0);
      @include font-size(48px, 50px);
      margin-bottom: size(75);
    }

  }

  .swiper {
    margin-bottom: size(10);
    @include paddingY(size(30));
    height: 100% !important;

    @include min-medium-screen {
      padding: size(30);
      margin-bottom: 0;

    }
  }


  $postion-of-arrow-small: size(105);
  $postion-of-arrow-medium: size(10);
  $postion-of-arrow-large: size(50);

  .swiper-button {
    cursor: pointer;
    position: static;
    transform: translate(0);
    @include square(size(20));
    @include min-medium-screen {
      @include square(size(27));
    }
    @include large-screen {
      width: size(23);
      height: size(37);
    }

    svg {
      @include square(100%);
    }

    &:hover {
      svg {
        path {
          stroke: $headversity_hover_orange;
        }
      }
    }
  }

  .swiper-arrows-container {

    max-width: size(1440);
    display: flex;
    align-items: center;
    justify-content: center;
    @include paddingX(size(12), size(22));
    transition: top $duration;
    @include min-medium-screen {
      position: absolute;
      z-index: 22;
      width: calc(100% + 3rem);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      justify-content: space-between;
      @include paddingX(0);
    }
    @include large-screen {
      width: calc(100% + 15rem);
    }
  }

  .swiper-wrapper {
    //height: 100% !important;
  }

  &.hide-swiper-button {
    display: none;
  }


  .swiper-pagination {
    @include marginX(size(16));
    @include min-medium-screen {
      display: none;
    }
  }

  .testimonial-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 size(10) size(10) rgba(97, 55, 55, 0.1);
    border-radius: size(20);
    @include paddingY(size(66), size(66));
    @include paddingX(size(66), size(38));
    //margin-bottom: size(95);
    //max-width: calc(100% - 2rem);
    background-color: $headversity_white;
    height: 100%;
    @include min-medium-screen {
      @include paddingY(size(0), size(0));
      @include paddingX(size(0));
      border-radius: size(30);
      //margin-bottom: size(85);
      flex-direction: row;
      justify-content: space-between;
    }


    .card-left {
      display: none;
      position: relative;

      @include min-medium-screen {
        display: block;
        @include flexBasis(36%);
      }
      // double quotes after till get the svg


      .img-wrapper {
        overflow: hidden;
        border-radius: 30px 0 0 30px;
        padding-top: 143.75%;
        height: 100%;
      }
    }

    .upper-line {
      border-top: 3px solid $headversity_orange;
    }

    .card-right {

      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      @include min-medium-screen {
        @include flexBasis(64.621%);
        @include paddingY(size(46), size(42));
        @include paddingX(size(46.3), size(50));
      }
      @include large-screen {
        @include paddingY(size(76), size(42));
        @include paddingX(size(56.3), size(81.3));
      }

      .quotations {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: size(26);
        height: size(24);
        transform: translateY(-25%);

        @include min-medium-screen {

          top: size(0);
          left: -10%;
          width: size(52);
          height: size(45.2);

          transform: translate(-50%, 0%);
        }


      }


      .right-content {
        color: $headversity_dark_blue;
        padding-bottom: size(41);
        position: relative;

        @include medium-screen {
          max-width: size(450);
          padding-bottom: size(41);
        }
        @include large-screen {
          @include font-size(24px, 36px);
          padding-bottom: size(53);
          max-width: size(558.26);

        }

      }


      .card-footer {
        padding-top: size(39);
        margin-top: auto;
        @include min-medium-screen {
          padding-top: size(42);
          //max-width: size(420);
          display: flex;
          //flex-wrap: wrap;
          //justify-content: space-between;
        }

        .card-footer-img-wrapper {
          width: size(70);
          height: size(28);
          margin-bottom: size(16);
          margin-right: size(30);
          flex-shrink: 0;
          @include min-medium-screen {
            margin-bottom: size(0);

            width: size(132);
            height: size(53);
          }
          @include large-screen {
            margin-right: size(51);
          }

          img {
            @include objectImg();
          }
        }

        .card-footer-content-title {
          font-weight: 700;
          @include small-screen {
            @include font-size(14px, 20px);
          }
        }

        .card-footer-content-content {
          //max-width: size(230);
          font-weight: 400;
        }
      }

    }

    &.has-no-img {
      @include min-medium-screen {
        justify-content: flex-end;

      }

      .card-left {
        @include min-medium-screen {
          display: none;
        }

      }

      .card-right {

        @include min-medium-screen {
          @include flexBasis(100%);
          //@include paddingY(size(46), size(42));
          //@include paddingX(size(46.3), size(81.3));
          @include paddingY(size(86), size(59));
          @include paddingX(size(212), size(102));
          .quotations {
            top: size(0);
            left: -10%;
            transform: translateX(-50%);
          }
        }
        //@include large-screen {
        //  @include paddingY(size(76), size(59));
        //  @include paddingX(size(212), size(102));
        //}

        .right-content {
          color: $headversity_dark_blue;
          max-width: size(280);
          padding-bottom: size(10);
          @include medium-screen {
            max-width: size(550);
            padding-bottom: size(15);
          }
          @include large-screen {
            @include font-size(24px, 36px);
            padding-bottom: size(55);
            max-width: size(794);
          }
        }

        .card-footer {
          @include min-medium-screen {
            padding-top: size(54);
            //max-width: size(420);
          }
        }

      }
    }

  }

  .under-line {
    border-bottom: 3px solid $headversity_orange;
  }

  .cta-link {
    position: relative;
    @include marginX(auto);
    margin-top: size(40);
    @include min-medium-screen {
      margin-top: size(55);
    }
    @include large-screen {
      margin-top: size(87);
    }

  }


  .swiper-slide {
    //height: 100% !important;
    height: auto;
    align-self: stretch;
  }
}
