@import "styles/sites/successkpi";

.our_story_block {
  @include paddingY(size(30), size(45));

  @include medium-screen {
    @include paddingY(size(75), size(35));

  }
  @include large-screen {
    @include paddingY(size(100), size(70));

  }

  .title {
    line-height: size(63);
    text-align: center;
    font-size: size(40);
    font-weight: 400;
    margin-bottom: size(20);

    @include medium-screen {
      margin-bottom: size(33);
      font-size: size(60);

    }
    @include large-screen {
      margin-bottom: size(79);
      font-size: size(60);

    }
  }

  .image-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include medium-screen {
      flex-direction: row;
    }
    @include large-screen {
      flex-direction: row;
      align-items: center;

    }
  }

  .photo {
    width: 100%;
    margin-bottom: size(30);

    @include medium-screen {

      @include flexBasis(45.9%);
      margin-top: size(10);
      align-self: flex-start;
    }
    @include large-screen {

      @include flexBasis(34.9%);
      margin-bottom: size(40);
      margin-right: size(10);
    }

  }

  .aspect-ratio {
    padding-top: 86.5%;
    @include medium-screen {
      padding-top: 95.5%;
    }
    @include large-screen {
      padding-top: 86.5%;
    }
  }


  .text {
    @include flexBasis(95%);

    @include medium-screen {
      @include flexBasis(49.8%);

    }

    @include large-screen {
      @include flexBasis(59.8%);

    }
  }

  .our-paragraph {
    font-size: size(16);
    color: $successkpi_gray;
    margin-bottom: size(25);
    @include medium-screen {
      font-size: size(18);
      margin-bottom: size(30);

    }
    @include large-screen {
      margin-bottom: size(40);
      font-size: size(18);


    }
  }

  .link-items {
    font-size: size(18);
    list-style: none;
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    margin-bottom: size(10);
    color: $successkpi_gray;
    @include min-medium-screen {
      font-size: size(16);
      margin-bottom: size(20);
    }
    @include large-screen {
      font-size: size(18);
      margin-bottom: size(26);

    }
  }

  svg {
    width: size(20);
    height: size(20);
    margin-right: size(10);
    flex-shrink: 0;
    margin-top: size(5);
    @include min-medium-screen {
      width: size(25);
      height: size(25);
      margin-top: size(3);
    }
    @include large-screen {
      width: size(34);
      height: size(34);
      margin-right: size(16);
      margin-top: 0;
    }
  }

}


