
@import "styles/sites/k1_elementor";


.our_team_block {
  position: relative;

  .block-content {
    @include paddingY(size(84));
    @include min-medium-screen {
      @include paddingY(size(100));
    }
    @include large-screen {
      @include paddingY(size(134), size(142));
    }
  }

  .small-title, .title, .description {
    text-align: center;
  }

  .small-title {
    margin-bottom: size(6);
  }

  .title {
    margin-bottom: size(6);
    color: $k1_project_black;
  }

  .description {
    @include font-size(18px, 24px);
    color: $k1_project_black;
    max-width: size(723);
    @include marginX(auto);
    margin-bottom: size(56);

  }

  .links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: size(39);
    @include min-medium-screen {
      flex-direction: row;
      margin-bottom: size(69);
    }
  }

  .links .cta-button {
    position: relative;
    min-width: fit-content;
    margin: 0;
    margin-bottom: size(10);
    width: fit-content;
    background-color: transparent;


    input {
      position: absolute;
      z-index: 99;
      top: 0;
      left: 0;
      @include square(100%);
      opacity: 0;
      cursor: pointer;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    @include min-medium-screen {
      min-width: fit-content;
      margin-right: size(10);
      margin-bottom: unset;
    }
    @include large-screen {
      margin-right: size(20);
    }
  }

  .first-btn {
    background-color: $k1_project_middle_red;;
    @include min-medium-screen {
      min-width: size(212);
    }
  }


  .team-members {
    animation: fading 1s ease;
  }

  @keyframes fading {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  ////////////card ///////////

  .row {
    @include change-gutter(size(20), size(20));
    @include min-medium-screen {
      @include change-gutter(size(30), size(30));
    }
  }

  .card {

    position: relative;
    background-image: linear-gradient(0, #6B6C70, #D3D5D6 53%);
    overflow: hidden;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, rgba(18, 18, 18, 0) 30%, rgba(18, 18, 18, 0.63) 150%);
      top: 0;
      left: 0;
    }

    &:before {
      content: "";
      position: absolute;
      @include square(100%);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 4;
      opacity: 0;
      transition: opacity $duration;
      background-image: linear-gradient(180deg, #6f16ff8c 40%, #6F16FF 100%);
      mix-blend-mode: color;
    }

    &:hover {

      &:before {
        opacity: 0.5;
      }

      .img-wrapper {
        filter: grayscale(1);
      }

      .linkedin-icon {
        opacity: 1;
      }
    }
  }

  .img-wrapper {
    padding-top: 100%;
    transition: filter $duration;
  }

  .name {
    position: absolute;
    z-index: 1;
    bottom: size(20);
    left: size(12);
    transform: translateY(50%);
    @include font-size(14px  , 125%);
    width: 75%;
  }

  .linkedin-icon {
    display: block;
    @include square(size(24));
    position: absolute;
    bottom: size(20);
    right: size(12);
    transform: translateY(50%);
    opacity: 0;
    z-index: 99;
    transition: opacity $duration;
    cursor: pointer;

    svg {
      @include square(100%);
    }

    &:hover {
      path {
        fill: $k1_project_light_red;
      }
    }
  }

  .active-btn {
    background-color: $k1_project_middle_red;
  }

  .search-opacity {
    opacity: 1;
  }

  .load-more-wrapper {
    padding: 0;
    margin: size(80) auto 0;

    .loader .loader-ball {
      background-color: $k1_project_black;
    }
  }

  &:not(.dark-bg) {

    .links .cta-button {
      &:not(:hover) {
        color: $k1_project_grey;
      }
    }

    .active-btn {
      color: $k1_project_white !important;
      background-color: #6943F3;
    }

  }



  @at-root .dark-theme-background &{
    .title {
      color: $k1_project_white;
    }

    .oval-button {
      color: $k1_project_white;
    }

    .active-btn {
      background-color: #6943F3;
    }
  }
}





