
@import "styles/sites/advisorhub";


.recruiting_wire_block {
  @include paddingY(size(30));

  .main-title {
    margin-bottom: size(30);
    //max-width: size(594);
    @include min-medium-screen {
      margin-bottom: size(40);
      //max-width: 100%; !important;
    }
  }

  .block-wrapper {
    position: relative;
    padding: size(20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include min-medium-screen {
      padding: size(34);
      align-items: flex-start;
      flex-direction: row;

    }
    @include large-screen {
      padding: size(40);
    }

    .items-wrapper{
      width: 100%;
      flex: 0 0 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include min-medium-screen {
        width: 45%;
        flex: 0 0 45%;
      }
    }
  }

  .box-steps {
    display: flex;
    width: 100%;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: size(30);
    }

    @include min-medium-screen {
      &:not(:last-child) {
        margin-bottom: size(39);
      }
    }
  }

  .recruiting-wire{
    max-width: size(800);
    @include marginX(auto);
  }

  .recruiting-box  {
    @include flexBasis(size(215));
    @include min-medium-screen {
      @include flexBasis(45%);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-transform: capitalize;
    }
    @include large-screen {
      @include flexBasis(size(220));
    }
  }

  .win {
    position: relative;
    padding-bottom: size(38);

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      width: size(255);
      height: 1px;
      left: 50%;
      transform: translate(-50%);
      background-color: $advisorhub_American_Silver;
      display: block;
      @include min-medium-screen {
        display: none;
      }
    }

    @include min-medium-screen {
      padding-bottom: 0;
    }
  }

  .loss {
    padding-top: size(38);
    @include min-medium-screen {
      padding-top: 0;
    }
  }

  .winner-title, .loser-title {
    width: 100%;
    margin-bottom: size(20);
    @include font(22px, 700, 29.15px, $advisorhub_red, $PT_Serif);
  }

  .step-number {
    @include font(30px, 700, 39.75px, $advisorhub_red, $PT_Serif);
    margin-right: size(20);
  }

  .step-title {
    @include font(14px, 700, 18px, $advisorhub_black, $Roboto_Condensed);
    margin-bottom: size(4);
  }

  .step-text {
    @include font(12px, 700, 14.06px, $advisorhub_black, $Roboto);
    padding-bottom: 2px;
    width: size(157);
    @include min-medium-screen {
      width: size(120);
    }
    @include large-screen {
      width: size(157);
    }

    span {
      @include font(12px, 400, 14.06px, $advisorhub_Outer_Space, $Roboto);
      letter-spacing: 0.06em;
      margin-right: size(10);
      @include min-medium-screen {
        @include font(12px, 400, 14.06px, $advisorhub_Cadet_Grey, $Roboto);
      }
    }
  }

  .line {
    display: none;
    @include min-medium-screen {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: calc(100% - 8rem);
      width: 1px;
      background-color: $advisorhub_American_Silver;
    }
  }

  .box-content {
    border-bottom: size(1) solid $advisorhub_American_Silver;
  }


}



