@import "styles/sites/advisorhub";

.four_small_card_block {
  @include paddingY(size(30));



  .row {
    @include change-gutter(size(30), size(30));
    @include min-medium-screen{
      @include change-gutter(size(59), size(59));
    }
  }
  .col{
    height: auto;
  }

  .small-card {
    padding-bottom: size(51);
    border-bottom: 0.4px solid $advisorhub_Cadet_Grey;
    height: 100%;
    position: relative;
    @include small-screen{
      max-width: size(335);
    }

    .icon {
      width: size(38);
      height: size(43);
      margin-bottom: size(10);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .small-card-title {
      margin-bottom: size(13);
    }

    .small-card-text {
      margin-bottom: size(20);
      @include font(12px, 400, 18px , $advisorhub_Outer_Space , $PT_Serif);
    }

    .ah-btn {
      padding: size(6) 0;
      min-width: size(109);
      margin-top: auto;
      position: absolute;
      bottom: size(16);
    }
  }
}





