@import "styles/sites/towSmart";
@import "~select2/dist/css/select2.min.css";

$main-select-padding: 1.6rem;
$main-button-padding: 1.2rem;
.configure_your_vehicle_block {
  @include paddingY(size(69), size(219));
  background-color: #272A33;
  $radius: 4rem;
  
  .general-select-wrapper-styling {
    display: flex;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
    /* Note: backdrop-filter has minimal browser support */
    backdrop-filter: blur(10px);
    border-radius: $radius;
  }
  
  .configure-your-vehicle-title {
    @include font(18px, 400, 22px, $tow_smart_red);
    margin-bottom: size(8);
  }
  
  .configure-your-vehicle-subtitle {
    margin-bottom: size(40);
  }
  
  .configure-your-vehicle {
    max-width: size(340);
    @include marginX(auto);
    flex-wrap: wrap;
    overflow: hidden;
    @include min-medium-screen {
      max-width: size(908);
    }
  }
  
  .configure-your-vehicle-select {
    position: relative;
    padding: $main-select-padding size(30);
    transition: background-color, border-radius;
    transition-duration: $duration;
    border-radius: $radius;
    @include flexBasis(100%);
    cursor: pointer;
    @include min-medium-screen {
      @include paddingX(size(40));
      @include flexBasis(30.838%);
    }
    
    &:last-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(38.324%);
        @include paddingY($main-button-padding);
        padding-right: size(12);
      }
      
      .clear-select-value {
        right: size(80);
        @include min-medium-screen {
          right: size(100);
        }
      }
    }
    
    &:not(:last-child) {
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: size(40);
        width: 1px;
        background: rgba(255, 255, 255, 0.12);
        transition: opacity 300ms 100ms;
        display: none;
        @include min-medium-screen {
          display: block;
        }
      }
    }
    
    &.select-active {
      background: $tow_smart_white;
      
      &:after {
        opacity: 0;
        transition-delay: 0ms;
      }
      
      .configure-your-vehicle-select-label {
        color: #0B0B0B;
      }
      
      .confirm-your-selection {
        background-color: $tow_smart_light_black;
        color: $tow_smart_white;
      }
    }
    
    &.select-remove-border {
      &:after {
        opacity: 0;
        transition-delay: 0ms;
      }
    }
  }
  
  .configure-your-vehicle-select-wrapper {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(67.577%);
    }
  }
  
  .configure-your-vehicle-select-label {
    @include font(16px, 700, 19px, $tow-smart_white);
    display: block;
    margin-bottom: size(10);
    transition: color $duration;
    pointer-events: none;
  }
  
  .confirm-your-selection {
    @include square(size(36));
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.3);
    transition: color, background-color;
    transition-duration: $duration;
    @include small-screen {
      position: absolute;
      top: 50%;
      right: size(20);
      transform: translateY(-50%);
    }
    @include min-medium-screen {
      @include square(size(56));
    }
    
    &.btn-not-allowed {
      cursor: not-allowed;
    }
    
    &.btn-allowed {
      background: $tow_smart_white;
      color: $tow_smart_light_black;
    }
    
    svg {
      pointer-events: none;
      width: size(16);
      height: auto;
    }
  }
  
  .clear-select-value {
    position: absolute;
    top: 50%;
    right: size(30);
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    @include square(size(26));
    background: #F0F0F0;
    border-radius: 50%;
    opacity: 0;
    transition: opacity $duration;
    pointer-events: none;
    
    &.clear-select-active {
      opacity: 1;
      pointer-events: auto;
    }
    
    svg {
      width: size(10);
      height: auto;
    }
  }
  
  .configure-your-vehicle-values {
    @include font-size(14px, 17px);
    color: $tow_smart_white;
    //max-width: size(532);
    width: fit-content;
    max-width: size(908);
    @include marginX(auto);
    @include flex(center, center, false, wrap);
    @include min-medium-screen {
      flex-wrap: nowrap;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
      /* Note: backdrop-filter has minimal browser support */
      backdrop-filter: blur(10px);
      border-radius: $radius;
      padding: size(8) size(10) size(8) size(20);
    }
  }
  
  .configure-your-vehicle-values-wrapper {
    display: flex;
    @include small-screen {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
      /* Note: backdrop-filter has minimal browser support */
      backdrop-filter: blur(10px);
      border-radius: $radius;
      padding: size(18);
    }
  }
  
  .select-values-changers-wrapper {
    display: flex;
    justify-content: center;
    margin-left: size(4);
    margin-top: size(17);
    @include flexBasis(100%);
    @include min-medium-screen {
      margin-top: 0;
      @include flexBasis(auto);
    }
  }
  
  .select-value {
    //max-width: 33.33%;
    //flex-shrink: 0;
    @include paddingX(size(10));
    position: relative;
    @include min-medium-screen {
      @include paddingX(size(20));
    }
    
    &:not(.vehicle-model-value) {
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: size(20);
        width: 1px;
        background: rgba(255, 255, 255, 0.12);
        transition: opacity 300ms 100ms;
      }
    }
  }
  
  .select-values-changer {
    @include square(size(44));
    background-color: rgba(255, 255, 255, 0.1);
    color: $tow_smart_white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: background-color $duration;
    
    path {
      fill: currentColor;
    }
    
    &:hover {
      background-color: $tow_smart_white;
      color: $tow_smart_light_black;
    }
  }
  
  .edit-select-values {
    margin-right: size(10);
    
    svg {
      width: size(16);
      height: auto;
    }
  }
  
  .reset-select-values {
    svg {
      width: size(18);
      height: auto;
    }
  }
  
  //  vehicle result styling
  .vehicle-result {
    @include flex(flex-start, space-between, false, wrap);
    margin: size(40) auto 0;
    padding: size(10);
    background: #F2F2F2;
    border-radius: size(6);
    max-width: size(335);
    @include min-medium-screen {
      max-width: size(842);
      padding: size(10) size(32) size(10) size(10);
    }
  }
  
  .vehicle-image {
    background: $tow_smart_white;
    border-radius: size(6);
    @include flexBasis(100%);
    margin-bottom: size(20);
    @include min-medium-screen {
      @include flexBasis(37.5%);
      margin-bottom: 0;
    }
    
    .aspect-ratio {
      padding-top: 74.92%;
      @include min-medium-screen {
        padding-top: 100%;
      }
    }
    //
    //img {
    //  object-fit: contain;
    //}
  }
  
  .vehicle-details {
    @include flexBasis(100%);
    @include min-medium-screen {
      padding-top: size(20);
      @include flexBasis(58.75%);
    }
  }
  
  .vehicle-title {
    color: $tow_smart_light_black;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: size(10);
    @include small-screen {
      font-size: size(20);
      line-height: 150%;
    }
  }
  
  .vehicle-price {
    @include font(16px, 700, 19px, #173261);
  }
  
  .vehicle-description {
    color: rgba(51, 51, 51, 0.7);
    margin-top: size(20);
    @include small-screen {
      font-size: size(16);
      line-height: 150%;
    }
  }
  
  .vehicle-classes {
    display: flex;
    flex-wrap: wrap;
    margin: size(20) size(-10) size(-10) 0;
    @include min-medium-screen {
      margin-right: size(-16);
      margin-bottom: size(-16);
    }
    
    .btn {
      padding: size(8) size(16);
      background: rgba(235, 55, 55, 0.08);
      color: $tow_smart_light_black;
      margin-right: size(10);
      margin-bottom: size(10);
      @include min-medium-screen {
        margin-right: size(16);
        margin-bottom: size(16);
      }
      
      &:hover {
        background-color: $tow_smart_light_black !important;
        color: $tow_smart_white !important;
      }
    }
  }
  
  .vehicle-add-to-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: size(30);
    @include min-medium-screen {
      justify-content: flex-start;
    }
    @include large-screen {
      margin-top: size(40);
    }
  }
  
  .btn-add-to-cart {
    background-color: $tow_smart_light_black;
    @include paddingY(size(12));
    @include small-screen {
      @include flexBasis(64.27%);
      @include font-size(14px, 17px);
      @include paddingX(size(20));
    }
    
    svg {
      margin-right: size(10);
      width: size(20);
      height: auto;
    }
    
    &:hover {
      background-color: $tow_smart_red !important;
    }
  }
  
  .added_to_cart {
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: size(12);
    font-weight: 400;
    color: $tow_smart_light_black;
    transition: color $duration;
    
    &:hover {
      color: $tow_smart_green;
    }
  }
  
  .learn-more {
    @include flexBasis(32.13%);
    @include min-medium-screen {
      @include flexBasis(auto);
      margin-left: size(30);
    }
    
    &:hover {
      color: $tow_smart_red !important;
    }
  }
  
  .block-spacer {
    height: size(30);
  }
  
  .results-wrapper {
    height: 0;
    overflow: hidden;
  }
  
  .no-hitch-found {
    margin-top: size(20);
  }
}

// select2 styling

$input-height-general: 1.8rem;

.select2-selection {
  background-color: transparent !important;
  border: 0 !important;
  border-radius: 0 !important;
  height: size(18) !important;
  font-weight: 400;
  @include font-size(14px, 17px);
  pointer-events: none; // disable click on select2
  &__rendered {
    padding: 0 !important;
    line-height: inherit !important;
    color: rgba(255, 255, 255, 0.5) !important;
    height: 100%;
  }
  
  &__placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    height: $input-height-general;
  }
  
  &__arrow {
    display: none;
  }
}

.configure-your-vehicle-select.select-active {
  //.select2-selection__placeholder {
  //  color: rgba(51, 51, 51, 0.5) !important;
  //}
}

.select2-container--open .select2-selection {
  box-shadow: none !important;
}

.select2-search--dropdown {
  padding: 0 !important;
}

.select2-results {
  margin-top: calc(#{$main-select-padding} + 1rem);
  background: $tow_smart_white;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: size(4) !important;
  @include font-size(16px, 16px);
  font-weight: 400;
  color: $tow_smart_light_black;
  @include paddingY(size(15));
  transform: translateX(-4.5%);
  @include min-medium-screen {
    transform: translateX(-8%);
  }
  
  &__options {
    max-height: size(200) !important;
  }
  
  &__option {
    padding: size(12) !important;
    text-align: center;
    transition: background-color, border-radius;
    transition-duration: $duration;
    
    &:not(:last-child) {
      margin-bottom: size(10);
    }
  }
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: rgba(0, 0, 0, 0.06) !important;
  border-radius: size(4);
  color: currentColor;
}

.select2-container--open .select2-selection .select2-selection__arrow {
  z-index: 9999; /* example */
}

.select2-dropdown {
  margin-top: -$input-height-general !important;
  background-color: transparent !important;
  border: 0 !important;
}

.select2-dropdown .select2-search {
}

.select2-dropdown .select2-search .select2-search__field {
  height: $input-height-general;
  background: transparent;
  border: 0 !important;
  padding: 0 !important;
  @include font-size(14px, 17px);
  font-weight: 400;
  font-family: $product_sans;
  //color: rgba(255, 255, 255, 0.5);
  color: rgba(51, 51, 51, 0.5);
  
  &:focus {
    &::placeholder {
      opacity: 1;
    }
  }
}

.select2-dropdown.select2-dropdown--above {
  margin-top: $input-height-general !important;
}


  


