


@import "styles/sites/zineone";

.benefits_and_perks_block {
  @include paddingY(size(80)) ;
  
  .headline-2 {
    text-align: center;
    margin: 0 auto size(80) auto;
  }
  
  .row {
    @include change-gutter(size(40), size(40));
  }
  
  .benefits_and_perks_group {
    height: 100%;
    padding: size(38) size(35) size(32) size(35);
  }
  
  .paragraph {
    color:$zineone-dark;
    //max-width: size(336);
  }
  
  .benefits_and_perks_img {
    max-width: size(80);
    //height: size(80);
    margin-bottom: size(42);
    
    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}



