
@import "styles/sites/propellerheath";

.homepage_hero {
  overflow: hidden;
  background-color: rgba(255,255,255,.5);

  .site-dots {
    bottom: 37%;
    @include min-medium-screen {
      bottom: 10%;
    }
  }

  .hero-wrapper-content {
    max-width: size(1440);
    @include marginX(auto);
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }


  &.hero-version-1 {
    position: relative;
    //50
    @include paddingY(size(38), size(55));
    @include min-medium-screen {
      @include paddingY(size(65), size(75));
    }

    .moving-shape:after {
      width: 90%;
      height: 90%;
      background-color: #0075E3;
      opacity: 1;
      left: 65%;
      @include small-screen {
        left: 65%;
        top: 41%;
      }
      @include min-medium-screen {
        width: size(651);
        height: size(599);
      }
      @include large-screen {
        width: size(867);
        height: size(820);
        //height: size(710);

      }
    }


    .container {
      position: relative;
      padding-right: 0;
    }


    .wrapper-one {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      @include small-screen {
        flex-wrap: wrap;
      }

      .left-side {
        @include flexBasis(100%);

        @include min-medium-screen {
          margin-top: size(42);
          @include flexBasis(50%);
        }

        .title-1 {
          margin-bottom: size(15);
          font-weight: 400;
          max-width: size(320);
          @include min-medium-screen {
            margin-bottom: size(24);
          }
          @include large-screen {
            max-width: size(620);
          }
        }

        .description-1 {
          margin-bottom: size(20);
          @include small-screen {
            padding-right: size(32);
          }
          @include min-medium-screen {
            margin-bottom: size(29);
            max-width: size(520);
          }
        }

      }

      .right-side {
        position: relative;
        @include flexBasis(100%);
        @include min-medium-screen {
          @include flexBasis(70.548%);
        }

        .background-svg {
          position: absolute;
          //right: 0;
          //top: 0;
          //width: size(451);
          //height: size(429);
          right: -100px;
          top: 0;
          width: size(369);
          height: size(339);
          @include min-medium-screen {
            right: 0;
            top: 0;
            width: size(451);
            height: size(499);
          }
          @include large-screen {
            width: size(758);
            //height: size(739);
            height: size(710);
            left: size(70);
            top: size(30);
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: initial;
        }
      }

      .image-wrapper {
        //-webkit-mask-image: url('../../images/hero-blob.png');
        //mask-image: url('../../images/hero-blob.png');
        -webkit-mask-size: 100%;
        mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        padding-top: 112.9%;
        left: size(55);
        @include min-medium-screen {
          padding-top: 97.49%;
          left: size(30);
        }
        @include large-screen {
          left: size(50);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .cta-button {
      @include paddingY(size(11.41), size(11.41));
      @include min-medium-screen {
        @include paddingY(size(17.5), size(17.5));
      }
    }

  }

  &.hero-version-2 {
    position: relative;
    overflow: visible;
    display: flex;
    padding-top: size(32);
    justify-content: flex-start;
    @include small-screen {
      background-color: transparent !important;
      &:after {
        content: "";
        width: 100%;
        height: calc(100% - 12.6rem);
        background-color: currentColor;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
    @include min-medium-screen {
      @include paddingY(0);
      min-height: size(356);
      background-color: $propellerhealth_hover_color;
    }
    @include large-screen {

      min-height: size(475);

    }

    .container {
      @include min-medium-screen {
        padding-right: 0;
      }
    }

    .content-two {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include min-medium-screen {
        flex-direction: row;
        justify-content: space-between;
      }

      .text-content {
        @include large-screen {
          @include paddingY(size(30));
        }
        @include small-screen {
          align-self: center;
        }
      }

      .sub-title-2 {
        margin-bottom: size(6);
        text-align: center;
        @include font(20px, 700, 30px, $propellerhealth_white, $Lato);
        max-width: size(316);
        @include min-medium-screen {
          max-width: size(582);
          text-align: left;
          @include font(16px, false, 24px, false, false);
          margin-bottom: size(25);
        }
        @include large-screen {
          @include font(24px, false, 30px, false, false);
        }
      }

      .title-2 {
        @include font(36px, 400, 42px, $propellerhealth_white, $Lato);
        max-width: size(316);
        text-align: center;
        @include min-medium-screen {
          text-align: left;
          max-width: size(482);
          @include font(36px, 700, 40px, false, false);
          margin-bottom: 0;
        }
        @include large-screen {
          @include font(52px, 700, 56px, false, false);
          max-width: size(582);
        }
      }

      .hero-shape {
        display: none;
        @include min-medium-screen {
          height: 0;
          width: 0;
          display: inline-block;
        }
      }

      .img-left {
        @include marginX(auto);
        width: size(269);
        height: size(269);
        left: 0;
        right: 0;
        border-radius: 50%;
        overflow: hidden;
        @include small-screen {
          margin-top: size(50);
        }
        @include min-medium-screen {
          position: absolute;
          margin-left: auto;
          margin-right: initial;
          right: size(-90);
          top: size(-50);
          width: size(466);
          height: size(456);
        }
        @include large-screen {
          width: size(705);
          height: size(695);
          right: size(-130);
          top: size(-120);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          @include min-medium-screen {
            border-radius: 0;
          }
        }
      }

      .cta-button {
        margin-top: size(19.4);
        min-width: size(152.42);
        @include font(16px, 800, 30.78px);
        @include paddingY(size(6.3), size(6.3));
        @include marginX(auto);
        @include min-medium-screen {
          margin-left: initial;
          margin-right: auto;
          @include font-size(24px, 42px);
          padding: size(11.5) size(1) size(11.5);
          min-width: size(265);
          margin-top: size(25);
        }


      }

    }

  }

  // leadership
  &.hero-version-3 {
    position: relative;
    @include paddingY(size(50), size(30));
    @include min-medium-screen {
      @include paddingY(size(100), size(65.5));
    }

    .chain-links {
      margin-bottom: size(47);
    }

    .breadcrumbs {
      display: flex;
      align-items: center;
      margin-bottom: size(28);
      @include large-screen {
        margin-bottom: size(47);
        margin-left: size(-43);
      }

      .referer-link {
        font-weight: 400;
        margin-right: size(10);
      }
    }

    .author-role {
      text-transform: capitalize;
    }

    .content-three {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: size(1122);

      .left-side {
        @include flexBasis(100%);
        margin-bottom: size(44);
        @include min-medium-screen {
          @include flexBasis(48%);
          margin-bottom: 0;
        }

        @include large-screen {
          @include flexBasis(42.34%);
        }

        .aspect-ratio {
          position: relative;
          padding-top: 126.3%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .right-side {
        @include flexBasis(100%);
        @include min-medium-screen {
          @include flexBasis(45.544%);
          padding-top: size(12);
        }
        @include large-screen {
          padding-top: size(44);
        }

        .title-3 {
          margin-bottom: size(18);
          font-weight: 700;
          max-width: size(316);
          @include min-medium-screen {
            margin-bottom: size(32);
            max-width: size(511);
            @include font-size(52px, 58px);
          }
        }

        .sub-text-3 {
          margin-bottom: size(35);
          max-width: size(316);
          @include min-medium-screen {
            max-width: size(511);
          }
        }

        .text-3 {
          @include min-medium-screen {
            @include font-size(16px, 24px);
            max-width: size(511);
          }
        }

        .cta-button {
          margin-top: size(32);
        }


      }
    }
  }

  &.hero-version-3, &.hero-version-4 {
    .chain-links {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .parent-link {
        @include font(16px, 400, 17.9px, $propellerhealth_coal, $Lato);
        //text-transform: capitalize;
        margin-right: size(14);

        svg {
          margin-left: size(14);
        }
      }

      .parent-link:last-child {
        @include font(16px, 700, 17.9px, $propellerhealth_coal, $Lato);

        svg {
          display: none;
        }
      }

      .sub-link {
        font-weight: 700;
        @include large-screen {
          @include font-size(16px, 18px)
        }
      }
    }
  }

  &.hero-version-4 {
    @include paddingY(0, size(64));
    @include min-medium-screen {
      @include paddingY(0, size(100));
    }


    .container {
      padding-left: 0;
    }

    .chain-links {
      //opacity: 1 !important;
      position: absolute;
      top: 5%;
      left: 0;
      z-index: 9;
      background: $propellerhealth_white;
      border-radius: 0 0 size(20) 0;
      width: fit-content;
      padding: size(13);

      @include small-screen {
        min-width: size(150);
      }

      .parent-link {
        svg {
          margin-left: size(4);
        }
      }

      @include min-medium-screen {
        padding: size(12) size(50) size(14);
      }
      @include medium-screen {
        padding: size(12) size(50) size(14);
        min-width: size(250);
      }
      @include large-screen {
        @include paddingX(size(100), size(53))
      }
    }

    .content-four {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: size(1312);

      .left-side {
        position: relative;
        @include flexBasis(100%);
        align-self: flex-start;
        @include min-medium-screen {
          @include flexBasis(52.701%);
        }

        .aspect-ratio {
          position: relative;
          padding-top: 87.9%;

          img {
            border-radius: 0 0 size(150) 0;

            @include large-screen {
              border-radius: 0 0 size(300) 0;
            }
          }
        }
      }

      .right-side {
        @include flexBasis(100%);
        margin-top: size(40);
        padding-left: size(35);
        @include min-medium-screen {
          padding-left: 0;
          margin-top: 0;
          @include flexBasis(40.284%);
        }

        .sub-title-4 {
          @include font(17.9px, 700, 26.85px, $propellerhealth_amethyst, $Lato);
          max-width: size(316);
          margin-bottom: size(12);
          @include min-medium-screen {
            max-width: size(548);
            text-align: left;
            @include font(24px, 700, 30px, $propellerhealth_amethyst, $Lato);
            margin-bottom: size(12);
          }
        }

        .date-time {
          @include font(18px, 400, 17.9px, $propellerhealth_coal, $Lato);
          margin-bottom: size(18);
        }

        .title-4 {
          margin-bottom: size(25);
          font-weight: 700;
          max-width: size(316);
          @include min-medium-screen {
            max-width: size(548);
            margin-bottom: size(55);

          }
        }

        .text-4 {
          max-width: size(278);
          @include min-medium-screen {
            @include font-size(24px, 30px);
            max-width: size(503);

          }
        }

        .author-title {
          @include font(18px, 700, 17.9px, $propellerhealth_coal, $Lato);
          margin-bottom: size(11);
        }

        .author-organization {
          @include font(18px, 400, 17.9px, $propellerhealth_coal, $Lato);
          margin-bottom: size(35);
        }

        .cta-button {
          margin-top: size(32);
          @include paddingY(size(11.41), size(11.41));
          @include min-medium-screen {
            @include paddingY(size(17.5), size(17.5));
          }
        }

      }
    }


  }

  &.hero-version-5 {
    @include paddingY(0, size(64));
    @include min-medium-screen {
      @include paddingY(0, size(100));
    }

    .chain-links {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-top: size(32);

      .parent-link {
        @include font(16px, 400, 17.9px, $propellerhealth_coal, $Lato);
        margin-right: size(14);
        //text-transform: capitalize;

        svg {
          margin-left: size(14);
        }
      }

      .parent-link:last-child {
        @include font(16px, 700, 17.9px, $propellerhealth_coal, $Lato);

        svg {
          display: none;
        }
      }
    }

    .content-five {
      @include marginX(auto);
      text-align: center;


      .title-5 {
        margin-bottom: size(23);
        @include marginX(auto);
        text-align: center;
        margin-top: size(50);
        @include min-medium-screen {
          max-width: size(881);
          margin-top: size(80);
          margin-bottom: size(32);
        }
      }

      .title-large {
        @include font-size(52px, 57px);
        font-weight: 700;
        @include min-medium-screen {
          @include font-size(68px, 72px);
          font-weight: 700;
        }
      }

      .title-wide {

        @include min-medium-screen {
          max-width: size(881);
        }
        @include large-screen {
          max-width: size(997);
        }
      }

      .text-and-cta {
        display: flex;
        flex-direction: column;
        @include flex(center, center);

        &:last-of-type {
          margin-top: 0 !important;
        }
      }

      .text-5 {
        @include marginX(auto);
        text-align: center;
        margin-bottom: size(31);
        @include min-medium-screen {
          //margin-bottom: size(41);

          @include font(36px, 400, 42px, $propellerhealth_coal, $Lato);
          max-width: size(864);
        }
      }

      .cta-button {
        @include marginX(auto);

        margin-bottom: size(30);
        @include paddingY(size(11.41), size(11.41));
        @include min-medium-screen {
          min-width: size(265);
          @include paddingY(size(20.5), size(20.5));
        }

      }

      .order-button {
        flex-direction: column-reverse;
      }
    }


  }


  .single-hero {
    background-color: #FAFAFA !important;
    padding-bottom: 0 !important;

    .sub-title-4, .author-name {
      font-weight: 700;
      font-size: size(18) !important;
      line-height: size(26) !important;
      margin-bottom: size(12);
      text-transform: capitalize;

    }

    .sub-title-4 {
      display: block;
      text-decoration: none;
      transition: color $duration ease;

      &:hover {
        color: $propellerhealth_hover_color !important;
      }
    }

    .title-4 {
      @include small-screen {
        max-width: 80% !important;
      }
      @include font(26px, 700, 30px, $propellerhealth_coal, $Lato);
      @include min-medium-screen {
        margin-bottom: size(32) !important;
        @include font-size(36px, 42px);
      }
      @include large-screen {
        margin-bottom: size(55) !important;
      }
    }

    .post-author-social-wrapper {
      .social-text {
        margin-top: size(35);
        @include font(18px, 700, 17.9px, $propellerhealth_coal, $Lato);
        margin-bottom: size(19);
      }

      .post-author-social {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-right: size(-18);
        margin-bottom: size(-10);

        .post-author-social-item {
          list-style-type: none;
          margin-right: size(18);
          margin-bottom: size(10);
          cursor: pointer;

          a {
            display: block;
          }

          svg {
            //@include square(size(22));
            max-width: size(27);
            color: $propellerhealth_coal;
            transition: color $duration;

            path {
              fill: currentColor;
            }
          }

          .clipboard {
            position: relative;

            &:after {
              content: attr(data-placeHolder);
              position: absolute;
              bottom: 100%;
              left: 100%;
              transform: translateY(-50%);
              background-color: $propellerhealth_primary;
              @include font(14px, 400, 14px, $propellerhealth_white, $Lato);
              padding: size(10);
              text-align: center;
              border-radius: size(10) 0 size(10) 0;
              display: block;
              opacity: 0;
              visibility: hidden;
              pointer-events: none;
              transition: opacity $duration, visibility $duration;

            }

            &.clicked {
              &:after {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
              }
            }
          }

          &:hover {
            svg {
              color: $propellerhealth_hover_color;
            }
          }
        }
      }
    }

    .author-name {
      line-height: 100% !important;
      display: block;
      transition: color $duration;

      &:hover {
        color: $propellerhealth_hover_color;
      }
    }

    .right-side {
      @include max-medium-screen {
        @include paddingY(size(25), size(50));
      }
      @include min-medium-screen {
        @include paddingY(size(30));
      }

      .header-nav-title .sub-title-4 {
        width: fit-content;
      }
    }

    .left-side {
      @include medium-screen {
        @include flexBasis(55.701% !important) ;
      }
    }


  }

}
