
@import "styles/sites/senet";


.content_and_media_block {
  background-color: #F5F5F5;

  @include paddingY(40px);

  @include small-screen {
    @include paddingY(88px, 82px);

  }


  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include large-screen {
      flex-direction: row;
      justify-content: space-between;
    }

  }

  .left-content {
    @include paddingY(40px);
    @include small-screen {
      background-color: $senet_white;
    }

    @include large-screen {
      @include flexBasis(46%);
      @include paddingY(100px);
    }
  }

  .title {
    color: $senet_3131;
    margin-bottom: 20px;
  }

  .desc {
    margin-bottom: 20px;
    @include small-screen {
      line-height: 24px;
    }
    @include large-screen {
      max-width: 566px;

    }
  }

  .cta-btn {
    display: block;

    @include max-medium-screen {
      @include marginX(auto)
    }
  }

  .right-content {
    @include flexBasis(100%);
    @include large-screen {
      @include flexBasis(49.9%);
    }
  }


  .video-section {
    position: relative;

    .video-wrapper {
      padding-top: 56.25%;
      //@include medium-screen {
      //  padding-top: 52.3%;
      //
      //}
      //@include large-screen {
      //  padding-top: 83.8%;
      //}
      #vimeo-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }

      img {
        transition: opacity $duration;
        z-index: 1;
      }

      .video, .embed-responsive {
        opacity: 0;
        pointer-events: none;
        transition: opacity $duration;

      }
    }

    .open-video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      background-color: transparent;
      border-radius: 50%;
      border: none;
      transition: opacity $duration;
      cursor: pointer;
      @include square(74px);

      @include min-medium-screen {
        @include square(100px);
      }

      svg {
        path {
          transition: fill $duration;
        }
      }

      @include large-screen {
        @include square(174px)
      }

      svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &:hover {
        svg {
          path {
            fill: $senet_orange;
          }
        }
      }
    }

    &.active-video {
      img {
        opacity: 0;
        z-index: -1;
      }

      .open-video {
        opacity: 0;
        pointer-events: none;
        z-index: -1;
      }

      .video, .embed-responsive {
        opacity: 1;
        pointer-events: auto;
      }


    }

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }
  }

  .embed-responsive {
    position: absolute;
    top: 0;
    left: 0;
  }
}
