@import "styles/sites/raistone";

.interested_in_block {
  background: $raistone_aluminium;
  @include paddingY(size(55), size(33));

  .interested-in-wrapper {
    @include paddingY(size(75), size(75));
    @include marginX(auto);
    @include large-screen {
      max-width: size(1382);
      @include paddingY(size(55), size(115));

    }
  }

  .interested-title {
    text-align: center;
    color: $raistone_jet_black;
    margin-bottom: size(73);
  }

  .row {
    @include change-gutter(size(30), size(30));
    @include min-medium-screen {
      @include change-gutter(size(56), size(56));
    }
  }

  .interested-box {
    background: $raistone_white;
    box-shadow: 0 size(2.61875) size(13.0938) size(6.54688) rgba(195, 195, 195, 0.19);
    border-radius: size(20);
    height: 100%;
    padding: size(40) size(20);
    @include small-screen {
    }
    @include min-medium-screen {
      padding: size(70) size(53);
    }
  }

  .way-name {
    font-weight: 600;
    color: $raistone_jet_black;
    margin-bottom: size(8);
  }

  .interested-description {
    color: $raistone_gery;
    margin-bottom: size(8);
  }

  .help-link {
    font-family: $montserrat;
    color: $raistone_gery;
    margin-bottom: size(83);
  }

  .interested-wrapper {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: size(66);
    }

    svg {
      flex-shrink: 0;
      @include square(size(29));
      margin-right: size(16);
    }
  }

  .right-description {
    width: 100%;

    strong {
      font-weight: 600;
      font-family: $montserrat;
    }
  }

  .interested-img {
    @include square(size(30));
    margin-right: size(16);
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
