
@import "styles/sites/towSmart";


.products-cards{
  padding: size(30) size(50);
  @include min-medium-screen{
    padding: size(40) size(70);
  }
  @include large-screen{
    padding: size(100) ;
  }
  
  
  .products ul,
  ul.products {
    margin: 0 0 size(-30) 0;
    padding: 0;
    list-style: none outside;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include min-medium-screen {
      margin-right: -2.76%;
      justify-content: flex-start;
    }
    
    &:before, &:after {
      display: none;
    }
    
    li.product {
      list-style: none outside;
      background: rgba(255, 255, 255, 0.1);
      border-radius: size(6);
      position: relative;
      z-index: 2;
      margin: 0 0 size(30) 0;
      float: none;
      display: flex;
      flex-direction: column;
      @include flexBasis(47.76%);
      @include min-medium-screen {
        @include flexBasis(30.57%);
        margin-right: 2.76%;
      }
      
      .onsale {
        top: 0;
        right: 0;
        left: auto;
        margin: -0.5em -0.5em 0 0;
      }
      
      h3,
      .woocommerce-loop-product__title,
      .woocommerce-loop-category__title {
        padding: 0;
        margin: 0 0 size(20);
        transition: color 500ms ease;
        @include font(16px, 400, 23px, $tow_smart_white, $product_sans, false);
        @include min-medium-screen {
          @include font-size(18px, 27px);
          margin: 0;
        }
      }
      
      .woocommerce-LoopProduct-link {
        display: block;
      }
      
      a {
        text-decoration: none;
      }
      
      a img {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0;
        box-shadow: none;
        border-top-left-radius: size(6);
        border-top-right-radius: size(6);
      }
      
      strong {
        display: block;
      }
      
      .product-information {
        padding: size(16) size(10) size(20);
        transition: color 500ms ease;
        height: 100%;
        display: flex;
        flex-direction: column;
        @include min-medium-screen {
          @include paddingX(size(20));
        }
        
        .label-group {
          display: flex;
          flex-direction: column;
          margin-bottom: size(8);
          text-transform: uppercase;
          @include font(12px, 700, 17px, rgba(255, 255, 255, 0.5), $product_sans, false);
          @include min-medium-screen {
            @include font-size(14px, 17px);
          }
          
          a.label {
            display: inline-block;
            width: fit-content;
            
            &:hover {
              color: $tow_smart_green;
            }
            
            &:not(:last-child) {
              margin-bottom: size(7);
            }
          }
        }
        
        .product-tags-spacer {
          width: 100%;
          height: size(12);
          display: none;
          @include min-medium-screen {
            display: block;
          }
        }
        
        .product-tags {
          flex-wrap: wrap;
          margin-top: auto;
          margin-bottom: size(-16);
          display: none;
          @include min-medium-screen {
            display: flex;
          }
          
          .btn {
            border-radius: 2px;
            padding: size(8) size(16);
            margin-bottom: size(16);
            
            &:hover {
              background-color: $tow_smart_light_black !important;
              color: $tow_smart_white !important;
            }
            
            &:not(:last-child) {
              margin-right: size(16);
            }
          }
          
        }
        
        .product-short-description {
          color: rgba(255, 255, 255, 0.5);
          font-weight: 400;
          transition: color 300ms;
          margin-top: size(20);
        }
        
        .hidden-info-spacer {
          width: 100%;
          margin-top: auto;
          display: none;
          @include min-medium-screen {
            display: block;
          }
        }
        
        .product-hidden-info {
          width: 100%;
          display: flex;
          justify-content: space-between;
          max-width: size(100);
          margin-top: auto;
          @include min-medium-screen {
            margin-top: size(20);
            max-width: 100%;
          }
          @include large-screen {
            position: absolute;
            pointer-events: none;
            top: 100%;
            left: 0;
            z-index: 999;
            opacity: 0;
            transform: translateY(20%);
            transition: transform, opacity;
            transition-duration: 100ms;
            @include paddingX(size(20));
            margin-top: 0;
          }
          
          .add-to-cart-svg {
            display: flex;
            align-items: center;
            justify-content: center;
            @include square(size(40));
            background: rgba(255, 255, 255, 0.1);
            border-radius: 2px;
            cursor: pointer;
            transition: background-color $duration;
            @include min-medium-screen {
              @include square(size(44));
              max-width: 20%;
            }
            @include large-screen {
              background-color: $tow_smart_light_black;
            }
            
            &:hover {
              background-color: $tow_smart_red;
            }
            
            svg {
              width: size(24);
              height: auto;
            }
          }
          
          .btn-desktop {
            @include paddingY(size(14));
            color: $tow_smart_white;
            background: rgba(255, 255, 255, 0.1);
            //transition: none !important;
            @include flexBasis(75.32%);
            display: none;
            @include min-medium-screen {
              display: flex;
            }
            @include large-screen {
              background: rgba(51, 51, 51, 0.08);
              color: $tow_smart_light_black;
            }
            
            &:hover {
              background-color: $tow_smart_light_black !important;
              color: $tow_smart_white !important;
              
              path {
                fill: $tow_smart_white;
              }
            }
            
            svg {
              width: size(16);
              height: auto;
              margin-left: size(10);
              flex-shrink: 0;
              
              path {
                fill: $tow_smart_white;
                @include large-screen {
                  fill: $tow_smart_light_black;
                }
              }
            }
          }
          
          .btn-mobile {
            display: flex;
            align-items: center;
            justify-content: center;
            @include square(size(40));
            background: rgba(255, 255, 255, 0.1);
            border-radius: 2px;
            @include min-medium-screen {
              display: none;
            }
            
            svg {
              width: size(24);
              height: auto;
            }
          }
        }
      }
      
      .woocommerce-placeholder {
        border: 1px solid #f2f2f2;
      }
      
      .star-rating {
        font-size: 0.857em;
      }
      
      .button {
        margin-top: 1em;
        background-color: red;
      }
      
      .price {
        color: wheat;
        display: block;
        font-weight: normal;
        margin-bottom: 0.5em;
        font-size: 0.857em;
        
        del {
          color: inherit;
          opacity: 0.5;
          display: inline-block;
        }
        
        ins {
          background: none;
          font-weight: 700;
          display: inline-block;
        }
        
        .from {
          font-size: 0.67em;
          margin: -2px 0 0 0;
          text-transform: uppercase;
          color: rgba(desaturate(wheat, 75%), 0.5);
        }
      }
      
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 50%;
        top: size(-10);
        width: calc(100% + #{size(20)});
        height: calc(100% + #{size(75)});
        border-radius: size(6);
        transform: translateX(-50%) scale(0.95);
        box-shadow: 0 7px 35px rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: transform, opacity;
        transition-duration: 300ms;
        background: $tow_smart_white;
      }
      
      @include large-screen {
        &:hover {
          z-index: 9;
          
          &::before {
            transform: translateX(-50%) scale(1);
            opacity: 1;
          }
          
          .product-hidden-info {
            transform: translateY(0);
            opacity: 1;
            pointer-events: auto;
            transition-duration: $duration;
          }
          
          .product-tags {
            .btn {
              background: rgba(235, 55, 55, 0.08);
              color: $tow_smart_light_black;
            }
          }
          
          .woocommerce-loop-product__title,
          .woocommerce-loop-category__title {
            color: $tow_smart_light_black !important;
          }
          
          .product-short-description {
            color: rgba(51, 51, 51, 0.5) !important;
          }
          
          .label-group {
            color: rgba(51, 51, 51, 0.5) !important;
          }
          
        }
      }
    }
  }
  
}


  


