@import "styles/sites/raistone";


header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transform: translateX(0);
  transition: background-color $duration;

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: size(12) size(20);
    transition: padding $duration;
    @include min-medium-screen {
      padding: size(31);
    }
    @include large-screen {
      @include paddingX(size(73), size(56));
      @include paddingY(0);

    }
  }

  .header-link {
    transition: padding $duration, color $duration;
  }

  .left-wrapper {
    display: flex;
    align-items: center;

    // logo
    .main-logo {
      width: size(132);
      height: size(35);
      flex-shrink: 0;
      @include min-medium-screen {
        width: size(234);
        height: size(49);
      }
      @include large-screen {
        margin-right: size(60);
      }

      picture {
        @include square(100%);
      }

      img, svg {
        @include square(100%);
        object-fit: contain;
        overflow: visible;
      }
    }

    .white-logo {
      display: block;
    }

    .dark-logo {
      display: none;
    }

    .burger-and-menu {
      z-index: 90;
      margin-right: size(24);
      @include min-medium-screen {
        margin-right: size(16);
      }
    }

    // burger menu
    .burger-menu {
      span {
        &:first-of-type {
          @include small-screen {
            margin-bottom: 5px !important;
          }
        }
      }
    }

    .burger-menu-active {
      //span {
      //  &:first-of-type {
      //    @include small-screen {
      //      margin-bottom: 1px !important;
      //    }
      //  }
      //}
    }

    .burger-menu {
      @include square(size(24));
      z-index: 10;
      cursor: pointer;
      transform: translate3d(0, 0, 0);
      flex-shrink: 0;
      border: none;
      background: transparent;
      padding: 0;
      display: block;
      @include min-medium-screen {
        @include square(size(40));
      }

      &:focus {
        outline: none !important;
      }

      span {
        display: block;
        width: 100%;
        height: size(3);
        margin-bottom: size(3);
        position: relative;
        z-index: 1;
        transition: color $duration;
        color: $raistone_black;

        &:after, &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: currentColor;
          opacity: .99;
          transition: background-color $duration;
          display: table;
          border-radius: size(10);
        }

        &:nth-of-type(even) {
          &:before {
            transform-origin: right;
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }

          &:after {
            transform-origin: left;
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }
        }

        &:before {
          transform-origin: right;
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }

        &:after {
          transform-origin: left;
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }

        &:last-child {
          margin: 0 auto;
        }

        &:nth-child(2) {
          width: 80%;
          margin-bottom: size(5);
          @include min-medium-screen {
            margin-bottom: size(8);
          }
        }

        &:first-child {
          margin: 0 auto size(5);
          @include min-medium-screen {
            margin: 0 auto size(8);
          }
        }
      }

      @include large-screen {
        display: none;
      }

      &:hover {
        span {

          &:nth-of-type(even) {
            &:before {
              transform: scaleX(1) translateZ(0);
              transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
            }

            &:after {
              transform: scaleX(0) translateZ(0);
              transition: transform .6s cubic-bezier(.165, .84, .44, 1);
            }
          }

          &:before {
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }

          &:after {
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }

        }
      }
    }

    // links
    .navbar {
      position: relative;
      align-items: center;
      flex-direction: row;
      margin-left: auto;
      background: $raistone_white;
      @include large-screen {
        background: transparent;
      }

      .small-logo-and-login {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include paddingX(size(62), size(17));
        @include paddingY(size(22.3));
        @include min-medium-screen {
          @include paddingY(size(41), size(34));
          @include paddingX(size(110));
        }
        @include large-screen {
          display: none;
        }

        .small-logo {
          @include square(size(34));
          @include large-screen {
            @include square(size(24));
          }

          picture {
            @include square(100%);

            img {
              @include square(100%);
              object-fit: contain;
            }
          }

          .small-logo-dark {
            display: none;
          }

        }
      }


      @include max-medium-screen {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        width: 100%;

        transition: transform 300ms ease-in;
      }

      &.header-links-active {
        transform: translateX(0);

        &:before {
          opacity: 0.6;
        }
      }
    }

    .navbar-wrapper {
      @include paddingY(size(80), size(100));
      @include paddingX(size(35));
      width: 100%;
      height: 100vh;
      //overflow: auto;
      transition: padding $duration;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include min-medium-screen {
        @include paddingX(size(110));
      }
      @include large-screen {
        background-color: transparent;
        padding: 0;
        width: auto;
        height: auto;
        overflow: visible;
      }

      .primary-menu {
        @include large-screen {
          display: flex;
          align-items: center;
        }
      }

      .menu-item {
        position: relative;
        cursor: pointer;
        margin-bottom: size(48);

        @include large-screen {
          margin-bottom: 0;
        }

        a {
          @include font(18px, 600, 22px, $raistone_jet_black, $montserrat);
          position: relative;
          z-index: 2;
          overflow: hidden;
          @include large-screen {
            display: flex !important;
            flex-direction: column;
          }

          &:after {
            content: "";
            position: absolute;
            height: 2px;
            width: 0;
            background: $raistone_mid_plum;
            left: 0;
            transition: width $duration;
            bottom: size(-5);
            @include large-screen {
              bottom: size(-5);
              position: relative;

            }
          }

          @include large-screen {
            display: block;
            @include font-size(16px, 22px);
            margin-right: size(44);
            @include paddingY(size(55), size(52));

          }

        }


        &:hover {
          a {
            &:after {
              width: 100%;
            }
          }
        }

        .header-link-active {
          &:after {
            width: 100%;
          }
        }

        &.menu-item-has-children {
          .sub-menu {
            height: 0;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            @include paddingX(size(20));

            &:before {
              @include max-medium-screen {
                content: "";
                position: relative;
                width: 100%;
                margin-top: size(30);
                pointer-events: none;
                background: transparent;
              }
            }

            @include large-screen {
              height: auto;
              width: size(200);
              background: rgba(245, 245, 245, 0.98);
              @include paddingY(size(20));
              position: absolute;
              top: 100%;
              left: 50%;
              transform: translateX(-50%);
              opacity: 0;
              transition: opacity $duration;
              pointer-events: none;
            }
          }

          .arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            transform-origin: 50% 50%;
            width: size(12);
            height: size(28);
            right: 0;
            transition: transform $duration;
            color: $raistone_jet_black;

            svg {
              @include square(100%);

              path {
                fill: currentColor;
              }
            }

            @include large-screen {
              display: none;
            }
          }

          .menu-item-in-sub-menu {
            &:not(:last-child) {
              margin-bottom: size(22);
            }

            a {
              @include font(14px, 700, 20px, $raistone_jet_black, $montserrat);
              transition: color $duration;
              padding: 0;
              @include large-screen {
                color: $raistone_jet_black;
              }

              &:after {
                display: none;
              }
            }

            &:hover {
              a {
                color: $raistone_mid_plum;
              }
            }

            &.active-page-sublink {
              a {
                color: $raistone_mid_green;
              }
            }
          }

          &.menu-item-active {
            .arrow {
              transform: scaleY(-1);
            }
          }

          @include large-screen {
            &:hover {
              .sub-menu {
                opacity: 1;
                pointer-events: auto;
              }
            }
          }
        }
      }

      .btn-in-mobile {
        width: 100%;
        font-size: size(16);
        @include paddingY(size(22.9));
        @include large-screen {
          display: none;
        }
      }
    }
  }

  .right-wrapper {
    display: flex;
    align-items: center;

    .login {
      display: none;
      @include large-screen {
        display: block;
      }
    }

    .btn-desktop {
      font-size: size(14);
      min-width: size(132);
      padding: size(10) size(8);
      @include small-screen {
        min-width: size(112);
      }
      @include min-medium-screen {
        min-width: size(215);
        font-size: size(18);
        @include paddingY(size(21.5));
      }
    }


  }

  .login {
    @include font(16px, 600, 20px, $raistone_jet_black, $montserrat);
    transition: color $duration;
    @include large-screen {
      margin-right: size(24);
    }

    &:hover {
      color: $raistone_canary;
    }
  }

  &.sticky {
    background-color: $raistone_mid_plum;
  }

  .header-wrapper {
    @include max-medium-screen {
      @include paddingY(size(15))
    }
  }

  &.dark-theme {
    //background: transparent;
    background: rgba(42, 10, 28, .9);


    .dark-logo {
      display: flex;
    }

    .white-logo {
      display: none;
    }

    .navbar {
      background: $raistone_plum;
      @include large-screen {
        background: transparent;
      }

      .small-logo-and-login {

        .small-logo {
          @include square(size(24));

          picture {
            @include square(100%);

            img {
              @include square(100%);
              object-fit: contain;
            }
          }

          .small-logo-dark {
            display: block;
          }

          .small-logo-white {
            display: none;
          }

        }
      }

      .header-sublink {
        &:hover {
          color: $raistone_canary !important;
        }

        @include large-screen {
          color: $raistone_jet_black !important;

        }
      }
    }

    .menu-item {
      a {
        color: $raistone_white !important;

        &:after {
          background: $raistone_white !important;
        }
      }

      &.menu-item-has-children {

        .arrow {
          color: $raistone_white !important;
        }

      }

    }

    .burger-menu {

      span {
        color: $raistone_white;
      }

      @include large-screen {
        display: none;
      }

      &:hover {
        span {

          &:nth-of-type(even) {
            &:before {
              transform: scaleX(1) translateZ(0);
              transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
            }

            &:after {
              transform: scaleX(0) translateZ(0);
              transition: transform .6s cubic-bezier(.165, .84, .44, 1);
            }
          }

          &:before {
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }

          &:after {
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }

        }
      }
    }

    .login {
      color: $raistone_white;

      &:hover {
        color: $raistone_canary;
      }
    }
  }

  &.sticky {
    background: rgba(42, 10, 28, 0.9);


    .header-wrapper {
      .navbar {
        .navbar-wrapper {
          .header-link {
            color: $raistone_white;
            @include large-screen {
              @include paddingY(size(35));
            }

            &:after {
              background-color: $raistone_white !important;
            }
          }
        }
      }

    }

    .login {
      color: $raistone_white;

      &:hover {
        color: $raistone_canary !important;
      }
    }

    .logo-name {
      path {
        fill: $raistone_white;
      }
    }

    .burger-menu {

      span {
        color: $raistone_white;
      }

      &.burger-menu-active {
        span {
          color: $raistone_black;
        }
      }
    }

    .header-links-active {
      .login {
        color: $raistone_jet_black;
      }

      .header-link {
        color: $raistone_jet_black !important;
      }

      .small-logo-and-login {
        @include min-medium-screen {
          @include paddingY(size(34));
        }
        @include large-screen {
          @include paddingY(0);
        }
      }

    }

    &.dark-theme {
      .header-links-active {
        .login, .header-link {
          color: $raistone_white !important;
        }


        .login {
          &:hover {
            color: $raistone_canary;
          }
        }
      }

      .burger-menu {


        &.burger-menu-active {
          span {
            color: $raistone_white;
          }
        }
      }

    }


  }

}
