
@import "styles/sites/rentReports";


.how_it_works_slideshow_block {
  @include paddingY(size(30));
  
  .how-it-works-wrapper {
    position: relative;
    height: auto;
    padding: size(40) size(31) size(3) size(24);
    //overflow: hidden;
    display: flex;
    flex-direction: column;
    @include min-medium-screen {
      padding: size(60) size(40);
      max-height: calc(100vh - #{size(100)});
    }
    @include large-screen {
      padding: size(95) size(100) size(70);
    }
    
    &:after {
      position: absolute;
      z-index: -1;
      content: '';
      width: 100%;
      left: 50%;
      height: size(5);
      bottom: 0;
      transform: translateX(-50%);
      //top: calc(100% - 0.2rem);
      background-color: $rentReporters-green;
      border-radius: size(4);
      @include min-medium-screen {
        bottom: size(60);
        width: calc(100% - 8rem);
      }
      @include large-screen {
        bottom: size(35);
        width: calc(100% - 9rem);
      }
    }
    
    .how-it-works-title {
      text-align: center;
      margin-bottom: size(23);
      @include min-medium-screen {
        margin-bottom: size(60);
      }
      @include large-screen {
        margin-bottom: size(120);
      }
      
      .headline-1 {
        margin-bottom: size(16);
      }
      
      .link {
        @include marginX(auto);
      }
    }
    
    .step-bullets {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50%;
      right: size(31);
      transform: translateY(-50%);
      @include min-medium-screen {
        right: size(40);
      }
      @include large-screen {
        right: size(100);
      }
      
      .step-bullet {
        display: inline-block;
        @include square(size(13));
        border: size(2) solid $rentReporters-green;
        border-radius: 50%;
        transition: background-color;
        transition-duration: $duration;
        cursor: pointer;
        
        &:hover {
          background-color: $rentReporters-green;
        }
        
        &:not(:last-child) {
          margin-right: size(12);
          @include min-medium-screen {
            margin-bottom: size(12);
          }
        }
        
        &-active {
          background-color: $rentReporters-green;
        }
      }
    }
    
    .steps-wrapper {
      position: relative;
      flex-grow: 1;
      display: grid;
      grid-template: 1fr / 1fr;
      align-items: center;
      
      .step {
        width: calc(100% - #{size(13)});
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        @include flex(false, space-between, false, wrap);
        z-index: 2;
        
        transition: opacity 500ms;
        
        &:not(.active) {
          opacity: 0;
          pointer-events: none;
        }
        
        //&:not(:last-child) {
        //  margin-bottom: size(168);
        //  @include max-medium-screen {
        //    margin-bottom: size(80) !important;
        //  }
        //  @include small-screen {
        //    margin-bottom: size(40) !important;
        //  }
        //}
        //
        .step-content {
          padding-bottom: size(23);
          @include flexBasis(100%);
          //@include small-screen {
          //  padding-right: size(10);
          //}
          @include min-medium-screen {
            padding-bottom: size(30);
            @include flexBasis(46.25%);
          }
          @include large-screen {
            @include flexBasis(30.25%); //30.17
            @include paddingY(size(74))
          }
          
          .headline-3 {
            font-size: size(14);
            color: $rentReporters-green;
            letter-spacing: normal;
            line-height: 100%;
            margin-bottom: size(9);
            @include min-medium-screen {
              margin-bottom: size(18);
              font-size: size(16);
            }
          }
          
          .headline-2 {
            margin-bottom: size(12);
            @include small-screen {
              font-size: size(24);
              line-height: size(30);
            }
          }
          
          .paragraph {
            padding-right: size(1);
            @include small-screen {
              font-size: size(14);
              line-height: size(18);
            }
          }
          
          .logos-wrapper {
            @include flex(flex-end, false, false, wrap);
            margin-bottom: size(18);
            padding-top: size(3);
            gap: size(22);
            @include min-medium-screen {
              margin-bottom: size(28);
            }
            
            .logo {
              max-width: 30%;
              
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: bottom;
              }
            }
          }
        }
        
        .step-illustration {
          @include flexBasis(100%);
          margin-right: size(14);
          height: fit-content;
          margin-top: auto;
          @include min-medium-screen {
            @include flexBasis(50%);
          }
          @include large-screen {
            @include flexBasis(59.3%);
          }
          
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
  
  &.editable-version {
    .how-it-works-wrapper {
      @include small-screen {
        //padding: size(40) size(24) size(5);
        padding: size(23) size(24) size(5);
      }
      @include min-medium-screen {
        padding: size(60) size(40);
      }
      @include large-screen {
        padding: size(35) size(45);
      }
      
      .how-it-works-title {
        .headline-1 {
          @include small-screen {
            font-size: size(30);
            line-height: size(35);
            margin-bottom: size(12);
          }
        }
        
        @include large-screen {
          margin-bottom: size(40);
        }
      }
      
      .step-bullets {
        z-index: 9;
        @include small-screen {
          flex-direction: row;
          right: auto;
          left: 50%;
          top: calc(100% + 2rem);
          transform: translate(-50%, 0);
        }
      }
      
      .steps-wrapper {
        .step {
          height: 100%;
          max-height: calc(100vh - 30.3rem);
          width: 100%;
          @include small-screen {
            width: 100%;
            align-content: space-between;
          }
          
          .step-content {
            padding-top: 0;
            @include small-screen {
              //height: 30vh;
              //height: 36vh;
              height: 40vh;
            }
            @include min-medium-screen {
              @include flexBasis(46.25%);
              height: 100%;
              overflow: hidden;
            }
            @include large-screen {
              @include flexBasis(40%);
            }
          }
          
          .step-illustration {
            margin-top: 0;
            margin-right: 0;
            height: 100%;
            @include small-screen {
              
              height: 19.7vh;
              //height: 27.3vh;
              max-width: 77%;
              @include marginX(auto);
              //padding-top: size(10);
            }
            @include min-medium-screen {
              @include flexBasis(50%);
            }
            @include large-screen {
              @include flexBasis(48%);
            }
            
            img {
              object-position: bottom;
            }
          }
        }
      }
    }
  }
}



  


