
@import "styles/sites/propellerheath";

.accordion_block {
  position: relative;
  @include paddingY(size(50), size(50));
  @include min-medium-screen {
    @include paddingY(size(150), size(150));
  }
  z-index: 2;


  .accordion-cards {
    display: flex;
    flex-direction: column;

    @include min-medium-screen {
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }

    .accordion-left {
      margin-bottom: size(20);

      @include min-medium-screen {
        margin-bottom: 0;
        max-width: size(390);
      }
      @include large-screen {
        max-width: size(500);
      }

      .accordion-title {
        @include font(36px, 400, 42px, $propellerhealth_coal);
        @include large-screen {
          @include font-size(52px, 56px);
        }
      }


      .accordion-title-second-form {
        display: none;
      }
    }

    .accordion-right {
      margin-top: 0;
      @include min-medium-screen {
        width: 43.16%;
        flex-basis: 43.16%;
      }

      .accordion-description {
        @include font(20px, 400, 24px, $propellerhealth_coal);
        @include large-screen {
          @include font-size(24px, 28px);
        }
      }

    }

  }

  .accordion-cards-wrapper {
    padding-top: size(76);

    .accordion-card {
      position: relative;
      border-top: size(1) solid $propellerhealth_fog;
      @include paddingY(size(35), 0);

      &:not(:last-child) {
        border-top: size(1) solid $propellerhealth_fog;
      }

      @include min-medium-screen {
        @include paddingY(size(43), 0);
      }

      &:not(:last-child) {
        padding-bottom: size(30);
        @include min-medium-screen {
          padding-bottom: size(50);
        }
      }

      .content-svg {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .faq-title {
          max-width: size(260);
          @include min-medium-screen {
            max-width: size(550);
            font-weight: 700;
          }
          @include large-screen {
            max-width: size(668);

          }
        }

        .circle-arrow {
          transition: 600ms;
        }
      }

      .accordion-description-faq {
        height: 0;
        overflow: hidden;
        position: relative;
        @include min-medium-screen {
          & > p {
            max-width: size(612);
          }
        }


        &::before {
          position: relative;
          display: block;
          content: "";
          left: 0;
          top: 0;
          width: 100%;
          background-color: var(--rockleyphotonics_seafoam);
          //background: red;
          transition: height 500ms;
          height: size(8);
          @include min-medium-screen {
            height: size(11);
          }
        }
      }

      &.accordion-active {
        .accordion-description-faq {
          height: 0;
        }

        .circle-arrow {
          transform: scaleY(-1);
        }
      }
    }

  }

  .site-dots {
    bottom: 0;
  }

  .accordion-svg {
    @include square(size(30));

    svg {
      left: 0;
      width: 100%;
      height: 100%;

      circle {
        width: 100%;
        height: 100%;
      }
    }

    @include min-medium-screen {
      @include square(size(37.5));

    }
  }


  path {
    animation: dashoffset .4s infinite linear;

  }

  @keyframes dashoffset {
    to {
      stroke-dashoffset: -11;
    }
  }

  &.tight-content {

    &:after {
      content: "";
      height: 100%;
      width: 100vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #E6E6E7;
      opacity: 0.2;
      pointer-events: none;
      z-index: -1;
    }


    .accordion-cards-wrapper-center {
      max-width: size(375);
      @include min-medium-screen {
        max-width: size(710);
        @include marginX(auto);
      }
      @include large-screen {
        max-width: size(800);
      }
    }

    .accordion-cards {
      flex-direction: column;
      align-items: unset;

      .accordion-left {
        margin-bottom: 0;
        @include min-medium-screen {
          max-width: size(600);
        }

        .accordion-title {
          @include font(20px, 400, 24px, $propellerhealth_coal);

          @include large-screen {
            @include font-size(24px, 28px);
          }
        }

        .accordion-title-second-form {
          display: block;
          @include min-medium-screen {
            //text-align: center;
            font-weight: 900;
          }
        }
      }

      .accordion-right {
        width: 100%;
        margin-top: size(25);
        @include min-medium-screen {
          margin-top: size(36);
        }

        .accordion-description {
          @include font(16px, 400, 20px, $propellerhealth_coal);
          @include large-screen {
            @include font-size(18px, 24px);
          }
        }

      }
    }

    .accordion-cards-wrapper {
      padding-top: size(80);
      @include min-medium-screen {
        padding-top: size(115);
      }

      .accordion-card {
        border-top: transparent;
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: transparent;

        &:not(:last-child) {
          border-bottom: size(1) solid $propellerhealth_fog;
          padding-bottom: size(30);
          @include min-medium-screen {
            padding-bottom: size(50);
          }
        }

        &:not(:first-child) {
          padding-top: size(35);
          @include min-medium-screen {
            padding-top: size(43);
          }
        }

        .content-svg {
          .faq-title {
            max-width: size(270);
            @include min-medium-screen {
              max-width: size(568);
            }
            @include large-screen {
              max-width: size(668);
            }
          }
        }

        .accordion-description-faq {
          .media-wrapper {
            @include min-medium-screen {
              max-width: size(550);
            }
            @include large-screen {
              max-width: size(660);
            }
          }
        }
      }
    }

    .faq-title {
      @include font(20px, 400, 24px, $propellerhealth_coal);
      @include large-screen {
        @include font-size(24px, 28px);
      }
    }

    .load-more-wrapper {
      @include small-screen {
        margin-bottom: size(30);
      }
    }
  }

  .media-wrapper {
    cursor: pointer;
    position: relative;
    z-index: 2;
    margin-top: size(40);
    width: 100%;
    @include min-medium-screen {
      max-width: size(800);
      @include marginX(auto);
      margin-top: size(65);
    }
    @include large-screen {
      margin-top: size(83);
    }

    .aspect-ratio {
      padding-top: 62.5%;
    }

    .video-wrapper, .poster-image, .video-player {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include square(100%);
      @include small-screen {
        object-fit: contain;
      }
    }


    .poster-image {
      z-index: 2;
      transition: opacity $duration;

      &.active {
        z-index: -1;
        opacity: 0;
      }
    }

    .svg-video-start {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: size(90);
      @include square(size(50));
      @include min-medium-screen {
        @include square(size(90));
      }
      @include min-medium-screen {
        @include square(size(115));
      }
      cursor: pointer;

      rect {
        fill: $propellerhealth_hover_color;
        transition: fill $duration;
      }

      &.active {
        opacity: 0;
        z-index: -1;
      }

      &:hover {
        path {
          fill: #0058AA;
        }

        rect {
          fill: $propellerhealth_white;
        }
      }
    }


  }

  strong {
    font-weight: 900;
  }

  .load-more-wrapper {
    margin-top: size(40);
    @include min-medium-screen {
      margin-top: size(60);
    }
  }
}



$border-radius-sm: size(150);
$border-radius-md: size(200);
$border-radius-lg: size(400);

.background_shape_block {
  position: relative;
  z-index: 2;

  .background-shape, .background-trigger {
    position: absolute;
    width: 100%;
    background-color: $propellerhealth_moss;
    z-index: -1;

    &.top-right, &.top-left {
      top: size(97);
      bottom: 0;
      @include min-medium-screen {
        top: size(140);
      }
    }

    &.top-right {
      transform-origin: bottom left;
      border-top-right-radius: $border-radius-sm;
      @include min-medium-screen {
        border-top-right-radius: $border-radius-md;
      }
      @include large-screen {
        border-top-right-radius: $border-radius-lg;
      }
    }

    &.top-left {
      transform-origin: bottom right;
      border-top-left-radius: $border-radius-sm;
      @include min-medium-screen {
        border-top-left-radius: $border-radius-md;
      }
      @include large-screen {
        border-top-left-radius: $border-radius-lg;
      }
    }

    &.bottom-left, &.bottom-right {
      bottom: size(78);
      top: 0;

      @include min-medium-screen {
        bottom: size(20);
      }
      @include large-screen {
        bottom: size(78);
      }
    }

    &.bottom-left {
      transform-origin: top right;
      border-bottom-left-radius: $border-radius-sm;
      @include min-medium-screen {
        border-bottom-left-radius: $border-radius-md;
      }
      @include large-screen {
        border-bottom-left-radius: $border-radius-lg;
      }
    }

    &.bottom-right {
      transform-origin: top left;
      border-bottom-right-radius: $border-radius-sm;
      @include min-medium-screen {
        border-bottom-right-radius: $border-radius-md;
      }
      @include large-screen {
        border-bottom-right-radius: $border-radius-lg;
      }
    }

    &.padding-content {
      top: 0;
      bottom: 0;
    }
  }

  .background-trigger {
    background-color: transparent;
  }

  section {
    background-color: transparent !important;
  }

  section * {

    .headline-1, .headline-2, .headline-3, .headline-4, .headline-5, .paragraph, .number_title {
      color: $propellerhealth_white !important;
    }

    .cta-button {
      color: $propellerhealth_denim;
      background-color: $propellerhealth_white !important;

      &:hover {
        color: $propellerhealth_white;
        background: $propellerhealth_denim !important;
      }

    }

    .cta-link {
      color: $propellerhealth_white;

      .arrow-head, .arrow-line {
        fill: currentColor !important;
      }

      &:not(:hover) {
        background: transparent !important;

      }

      &:hover {
        color: rgb(0, 117, 227);
      }
    }

    .faqs-svg-wrapper {
      svg {
        line {
          stroke: #BFD730;
        }
      }

      &:hover {
        svg {
          line {
            stroke: $propellerhealth_white;
          }
        }
      }
    }

    .hover-svg {
      &:hover {
        path {
          &:not(.bg) {
            fill: $propellerhealth_white;
          }
        }
      }
    }

    .circle-arrow {
      @include square(size(30));
      cursor: pointer;

      circle {
        transition: fill $duration;
        fill: $propellerhealth_white;
      }

      path {
        stroke: $propellerhealth_denim;
      }

      &:hover {
        path {
          stroke: $propellerhealth_white;
        }

        circle {
          fill: $propellerhealth_hover_color;
        }
      }
    }

  }

  .load-more-wrapper {
    .loader {
      .loader-ball {
        background: $propellerhealth_white;
      }
    }
  }
}

