
@import "styles/sites/rentReports";


.credit_score_calculator_block {
  @include paddingY(size(30), size(60));
  @include min-medium-screen {
    @include paddingY(size(80), size(85));
  }
  
  .credit-score-wrapper {
    @include flex(flex-end, false, false, wrap);
    @include min-medium-screen {
      max-width: size(960);
      @include marginX(auto);
    }
    
    .rent-calculator {
      max-width: 100%;
      margin-bottom: size(40);
      @include min-medium-screen {
        @include flexBasis(59.89%);
        margin-bottom: size(0);
      }
      
      .headline-1 {
        margin-bottom: size(20);
        font-size: size(36);
        line-height: normal;
        @include min-medium-screen {
          font-size: size(48);
          margin-bottom: size(12);
        }
      }
      
      .description {
        margin-bottom: size(27);
        @include small-screen {
          max-width: size(270);
        }
      }
      
      .rent-calc {
        margin-bottom: size(25);
        @media (max-width: 575px) {
          max-width: 80%;
          margin-right: auto;
          margin-left: auto;
        }
        @include min-medium-screen {
          margin-bottom: size(52);
        }
        
        .rent-calc-title {
          margin-bottom: size(5);
          line-height: size(34);
          opacity: 0.6;
          @include min-medium-screen {
            margin-bottom: size(12);
            line-height: size(28);
          }
        }
        
        .headline-3 {
          color: $rentReporters-shark;
          font-size: size(24);
          font-weight: 600;
          line-height: size(36);
          margin-bottom: size(15);
        }
        
        .calculator {
          position: relative;
          @include min-medium-screen {
            max-width: size(400);
          }
          
          .progress-line {
            width: 100%;
            height: size(4);
            border-radius: size(8);
            background-color: $rentReporters-blue;
            opacity: 0.4;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
          }
          
          .progress {
            width: 50%;
            height: size(4);
            border-radius: size(8);
            background-color: $rentReporters-blue;
            position: relative;
            top: 0;
            left: 0;
            pointer-events: none;
            
            .progress-circle {
              width: size(24);
              height: size(24);
              border: size(4) solid $rentReporters-blue;
              background-color: $rentReporters-white;
              border-radius: size(50);
              position: absolute;
              right: 0;
              top: 50%;
              transform: translate(50%, -50%);
              cursor: pointer;
            }
          }
          
          input {
            position: absolute;
            left: 0;
            top: 50%;
            margin: 0;
            @include square(100%);
            transform: translateY(-100%);
            cursor: pointer;
            opacity: 0;
          }
        }
        
        .rent-range {
          display: flex;
          justify-content: space-between;
          margin-top: size(7);
          pointer-events: none;
          
          .headline-4 {
            font-weight: 400;
            color: $rentReporters-black-60;
          }
        }
        
        &.months-in-unit {
          margin-bottom: 0;
          @include min-medium-screen {
            margin-bottom: size(14);
          }
        }
      }
    }
    
    .rent-result {
      position: relative;
      padding-bottom: size(10);
      @include flexBasis(auto);
      @include min-medium-screen {
        @include flexBasis(40.11%);
      }
      
      .rent-result-card {
        width: 100%;
        border-radius: size(8);
        background-color: $rentReporters-white;
        padding: size(40);
        
        .rent-result-title {
          color: $rentReporters-black-60;
          font-size: size(14);
          font-weight: 400;
          line-height: normal;
          @include min-medium-screen {
            font-size: size(14);
            line-height: size(24);
          }
        }
        
        .total-amount {
          color: $rentReporters-blue;
          font-size: size(36);
          line-height: normal;
          @include marginY(size(20), size(11));
          @include min-medium-screen {
            @include marginY(size(12), size(10));
            line-height: size(42);
          }
        }
        
        .paragraph {
          margin-bottom: size(46);
          @include min-medium-screen {
            margin-bottom: size(36);
          }
        }
      }
      
      .tiny-text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        top: 100%;
        margin: 0;
        text-align: center;
        @include max-medium-screen {
          font-size: size(14);
        }
      }
    }
  }
}


  


