
@import "../../../styles/sites/kiwi/index";


section.block-slider-team {
  @include marginY(size(60), size(30));
  @include min-large-screen {
    @include marginY(size(110), size(77));
  }
  
  .block-slider-team-wrapper {
    @include x-large-screen {
      max-width: size(1342);
    }
  }
  
  .title {
    text-align: center;
    margin-bottom: size(50);
    @include min-medium-screen {
      margin-bottom: size(96);
    }
    
    .headline-3 {
      color: $kiwi-nero;
      
      span {
        color: $kiwi-dark-red;
      }
    }
  }
  
  .team-swiper {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    @include x-large-screen {
      align-items: flex-start;
    }
    
    &:after {
      position: absolute;
      content: '';
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: size(1);
      height: 100%;
      background-color: $kiwi-dark-gray;
      display: none;
      @include min-medium-screen {
        display: block;
      }
    }
    
    .swiper-by-name {
      flex-basis: 100%;
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap-reverse;
      text-align: center;
      @include min-medium-screen {
        flex-basis: 44%;
        width: 44%;
        text-align: left;
        flex-wrap: wrap;
      }
      @include x-large-screen {
        flex-wrap: nowrap;
        max-width: size(530);
      }
      
      .swiper-btns {
        margin-bottom: size(30);
        @include marginX(auto);
        
        @include min-medium-screen {
          @include marginX(0);
        }
        @include x-large-screen {
          display: flex;
          flex-direction: column-reverse;
          margin-right: size(97);
          margin-bottom: 0;
        }
        @include max-large-screen {
          flex-direction: row !important;
        }
        
        .swiper-button {
          &:not(:last-child) {
            margin-right: size(10);
            margin-left: 0;
            @include x-large-screen {
              margin-bottom: 0;
              margin-top: size(10);
            }
          }
        }
      }
      
      .swiper-container {
        height: size(360) !important;
        overflow: hidden;
        width: 100%;
        //@include paddingY(size(10));
        padding-top: size(10);
        @include min-medium-screen {
          padding-top: 0;
          height: size(431) !important;
        }
        @include x-large-screen {
          flex-grow: 1;
        }
      }
      
      .swiper-slide {
        .name {
          font-family: $Avenir;
          color: #bfbfbf;
          font-weight: 300;
          transition: color, font-size 400ms linear;
          margin-bottom: size(5);
          @include medium-screen {
            font-size: size(35)
          }
          @include x-large-screen {
            margin-bottom: 0;
            font-size: size(36);
          }
        }
        
        .job-title {
          font-family: $Avenir;
          font-weight: 300;
          color: #bfbfbf;
          font-size: size(18);
          transition: color, font-size 400ms linear;
        }
        
        &.swiper-slide-active {
          .name {
            font-weight: 500;
            color: $kiwi-gray;
            @include x-large-screen {
              font-size: size(45);
            }
          }
          
          .job-title {
            color: $kiwi-dark-red;
            font-size: size(22);
          }
        }
      }
    }
    
    .swiper-by-image {
      flex-basis: 100%;
      width: 100%;
      text-align: center;
      margin-bottom: size(15);
      @include min-medium-screen {
        flex-basis: 44%;
        width: 44%;
        text-align: left;
      }
      @include x-large-screen {
        max-width: size(424);
        flex-basis: 34%;
        width: 34%;
        margin-bottom: 0;
      }
      
      .swiper-slide {
        width: 100% !important;
        
        .aspect-ratio {
          padding-top: 51.38%;
          margin-bottom: size(25);
          width: 40%;
          @include marginX(auto);
          @include min-medium-screen {
            padding-top: 71.38%;
            width: 100%;
          }
          @include x-large-screen {
            margin-bottom: size(44);
            padding-top: 57.38%;
          }
          
          img {
            @include min-medium-screen {
              width: auto;
              max-width: size(220);
            }
          }
        }
        
        .paragraph {
          font-size: size(18);
          color: #0d0d0d;
          line-height: size(27);
        }
      }
    }
  }
}





  


