@import "variables";
@import "mixins";
@import "root";

//region HTML tags
*, :before, :after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 10px;
  font-family: $helvetica;
  overflow-x: hidden;
  //width: 100vw;
  //region customize html scroll bar firefox
  //scrollbar-color: rgb(90, 90, 90) rgba(0, 0, 0, 0.2);
  //scrollbar-width: thin;
  //endregion customize html scroll bar firefox
}

body{
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
}
////region customize html scroll bar
//::-webkit-scrollbar {
//  width: 4px; /* width of the entire scrollbar */
//}
//
//::-webkit-scrollbar-track {
//  background: rgba(0, 0, 0, 0.2);
//  //background: rgba(0, 0, 0, 0.5); /* color of the tracking area */
//}
//
//::-webkit-scrollbar-thumb {
//  background: rgb(90, 90, 90);
//  //background-color: red; /* color of the scroll thumb */
//}
//
//.hide-scrollbar{
//  scrollbar-width: none !important; // Hide Scrollbar FireFox
//  &::-webkit-scrollbar { // Hide Scrollbar Chrome
//    display: none;
//  }
//}

//endregion customize html scroll bar

//body, html {
//  overflow-x: hidden;
//}

a {
  text-decoration: none;
  color: inherit;
}

img, picture {
  display: block;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input {
  &::placeholder {
    transition: opacity $duration;
    font: inherit;
    color: inherit;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}

//endregion HTML tags

//region scroll animation classes
.line-overflow,
.word-overflow {
  overflow: hidden;
  vertical-align: top;
}

[class ^="iv-st"], [class *= " iv-st"] {
  opacity: 0;
  visibility: hidden;
}

.iv-st-from-top, .iv-st-from-bottom, .iv-st-from-left, .iv-st-from-right, .word-up, .line-up, .real-line-up {
  opacity: 0;
  visibility: hidden;
}

//endregion scroll animation classes

//region utility classes
.hover-zoom-child {
  overflow: hidden;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: -85%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    transition: left 400ms;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
  }

  > .zoom-in {
    transition: transform 800ms;
  }

  &:hover {
    &:before {
      left: 125%;
    }

    > .zoom-in {
      transform: scale(1.02) !important;
    }
  }
}

.aspect-ratio {
  position: relative;
  height: 0;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.swiper-button {
  @include square(size(30));
  background: $moving-white;
  border-radius: 50%;
  border: 0.5px solid $moving-black;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  color: #1C3A58;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color, opacity;
  transition-duration: $duration;
  @include min-medium-screen {
    @include square(size(40));
  }
  @include large-screen {
    @include square(size(50));
  }

  svg {
    width: 15.56%;
    height: auto;
    color: currentColor;
  }

  &:not(&-disabled) {
    &:hover {
      background: #1C3A58;
      color: $moving-white;
    }
  }
}

.cover-background {
  position: absolute;
  @include square(100%);
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;

  img {
    @include objectImg(cover);
  }
}

.break-line {
  line-height: 0 !important;
  height: size(30) !important;
}

.hide {
  &-only-sm {
    @include small-screen {
      display: none !important;
    }
  }

  &-only-md {
    @include medium-screen {
      display: none !important;
    }
  }

  &-only-lg {
    @include large-screen {
      display: none !important;
    }
  }

  &-between-sm-md {
    @include max-medium-screen {
      display: none !important;
    }
  }

  &-between-md-lg {
    @include min-medium-screen {
      display: none !important;
    }
  }
}

.text-uppercase {
  text-transform: uppercase;
}

path {
  transition: fill, stroke;
  transition-duration: $duration;
}

.load-more-wrapper {
  position: relative;
  transition: opacity 500ms;
  width: fit-content;

  .loader {
    width: size(90);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity $duration;
    opacity: 0;
    pointer-events: none;

    .loader-ball {
      $anim-drt: 0.4s;
      $anim-ease: cubic-bezier(.6, .05, .15, .95);
      @include square(size(20));
      border-radius: 50%;
      background: $moving-black;

      &:nth-child(1) {
        animation: itemsLoader $anim-drt alternate infinite $anim-ease;
      }

      &:nth-child(2) {
        background: $moving-black;
        animation: itemsLoader $anim-drt $anim-drt/4 alternate infinite $anim-ease backwards;
      }

      &:nth-child(3) {
        //background: $cheq-gradient-purple;
        animation: itemsLoader $anim-drt $anim-drt/2 alternate infinite $anim-ease backwards;
      }
    }
  }

  .btn {
    transition: opacity, background;
    transition-duration: $duration;
  }

  &.loading {
    .loader {
      opacity: 1;
    }

    .btn {
      pointer-events: none;
      opacity: 0;
    }
  }

  &.hidden {
    //opacity: 0 !important;
    display: none;
    pointer-events: none;
  }
}

//endregion utility classes

//region animations

@keyframes bouncing {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(size(-20), size(-50));
  }
}

@keyframes itemsLoader {
  0% {
    transform: translate3d(0, 1rem, 0) scale(1.2, 0.85);
  }
  100% {
    transform: translate3d(0, -1rem, 0) scale(0.9, 1.1);
  }
}

@keyframes shaking {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}

//endregion animations

// region custom modal
.custom-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 400ms, z-index 400ms;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  pointer-events: none;

  &:before {
    content: '';
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .video-wrapper {
    position: relative;
    height: 0;
    padding-top: 56.25%;

    iframe, video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .custom-modal-inner {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    max-height: 90vh;
    //overflow-y: scroll;
    @include marginX(auto);
    max-width: #{'min(80rem,90%)'};

    .custom-modal-wrap {
      width: 100%;
      position: relative;
      //background-color: $poprev-black;
      background-color: transparent;
      //border: size(1) solid $moving-black;
      border-radius: size(6);
      //box-shadow: 0 size(3) size(9) rgba(0, 0, 0, 0.5);
      padding: size(20);
      @include min-medium-screen {
        padding: size(40);
      }
    }
  }

  iframe {
    border: none;
  }

  .close-modal {
    position: absolute;
    right: 0;
    bottom: calc(100% + 2rem);
    cursor: pointer;
    z-index: 5;
    transition: transform, opacity;
    transition-duration: $duration;
    background: none;
    padding: 0;
    opacity: 0.5;
    @include square(size(17));
    @include min-medium-screen {
      @include square(size(23));
    }

    svg {
      @include square(100%);
    }

    path {
      fill: $moving-white;
    }

    &:hover {
      transform: scale(1.1);
      opacity: 0.7;
    }
  }

  &.active {
    z-index: 99999;
    opacity: 1;
    pointer-events: auto;
  }
}

// endregion custom modal

// region container padding classes
.g-container {

  // region remove container padding in media

  &-remove-sm-md {
    @include max-medium-screen {
      @include paddingX(0 !important);
    }
  }

  &-remove-sm-0 {
    @include small-screen {
      @include paddingX(0 !important);
    }
  }

  &-remove-md-0 {
    @include medium-screen {
      @include paddingX(0 !important)
    }
  }

  &-remove-lg-0 {
    @include large-screen {
      @include paddingX(0 !important)
    }
  }

  // endregion remove container padding in media

  // region set container padding in  media

  &-set-sm {
    @include small-screen {
      @include paddingX($container-padding-sm !important);
    }
  }

  &-set-md {
    @include medium-screen {
      @include paddingX($container-padding-md !important)
    }
  }

  &-set-lg {
    @include large-screen {
      @include paddingX($container-padding-lg !important)
    }
  }

  // endregion set container padding in  media

  // region set container padding between media
  &-set-sm-md {
    @include small-screen {
      @include paddingX($container-padding-sm !important);
    }
    @include medium-screen {
      @include paddingX($container-padding-md !important);
    }
  }

  &-set-all {
    @include paddingX($container-padding-sm !important);
    @include min-medium-screen {
      @include paddingX($container-padding-md !important);
    }
    @include large-screen {
      @include paddingX($container-padding-lg !important);
    }
  }

  // endregion set container padding between media
}

// endregion container padding classes
