:root {
  /* Colors: */
  --moving-black: #000000;
  --moving-white: #ffffff;
  --moving-white-65: rgba(255, 255, 255, 0.65);
  --moving-green-gradient: linear-gradient(180deg, #a5dd70 0%, #438d72 100%);
  --moving-pink-gradient: linear-gradient(to right, #ea4aaa 0%, #ed4e50 100%);
  --moving-yellow-gradient: linear-gradient(to right, #4aea6a 0%, #eae24a 100%);
  --moving-orange-gradient: linear-gradient(to right, #ea844a, #ed4e50, #ea844a, #ed4e50);
  --moving-blue-gradient: linear-gradient(to right, #00cfc8 0%, #79b8ff 100%);
  --moving-light-blue-gradient: linear-gradient(to right, #80f6fc 0%, #d751ea 100%);
  --moving-aqua-gradient: linear-gradient(to right, #01cfc9 0%, #79b8ff 100%);
  --moving-black-rock: rgba(29, 6, 62, 0.4);
  --moving-black-pearl: #061230;
  --moving-scorpion: #595959;
  --moving-link-water: #EEF2FA;
  --moving-cloud-burst: #1f2a45;
  --moving-aluminium: #a8acb6;
  --moving-input-color: #6e7587;
  --moving-light-gray: #F2F2F2;
  --moving-section-border: #dedfe3;
}
