@import "variables";
@import "mixins";
@import "root";

body {
  overflow-x: hidden;
  &.fixed-body {
    overflow: hidden;
  }
}

.container {
  @include paddingX($container-padding-sm);
  @include min-medium-screen {
    @include paddingX($container-padding-md);
  }
  @include large-screen {
    @include paddingX($container-padding-lg);
  }
}


.main-logo {
  max-width: size(80);
  height: size(40);

  svg {
    @include square(100%);
  }

  img {
    @include square(100%);
    object-fit: contain;
  }
}


.headline-1, .wysiwyg-block h1 {
  @include font(size(35), 500, 128.57%, $moving-black);
  @include min-medium-screen {
    font-size: size(40);
    line-height: 125%;
    font-weight: 900;
  }
  @include large-screen {
    font-size: size(64);
  }

  &-gradient {
    @include min-medium-screen {
      line-height: 100%;
      letter-spacing: size(2.56);

    }
  }

  span {
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #ea4aaa 0%, #ed4e50 100%);
    -webkit-text-fill-color: transparent;
    //background-size: 500px 200px;
    //animation: text-gradient 3s infinite forwards;
  }
}

.headline-2, .wysiwyg-block h2 {
  @include font(size(35), 900, 128.57%, $moving-black-pearl, size(2));
  @include min-medium-screen {
    line-height: 100%;
    font-size: size(43);
  }
  @include large-screen {
    font-size: size(50);
  }
}

.headline-3, .wysiwyg-block h3 {
  @include font(size(16), 900, 118.75%, rgba(0, 0, 0, 0.4));
  @include min-medium-screen {
    font-size: size(30);
    line-height: 110%;
  }
  @include large-screen {
    font-size: size(45);
  }
}

.headline-4, .wysiwyg-block h4 {
  @include font(size(24), 900, 138.46%, $moving-cloud-burst);
  @include min-medium-screen {
    line-height: 127.77%;
  }
  @include large-screen {
    font-size: size(36);
  }
}

.headline-5, .wysiwyg-block h5 {
  @include font(size(24), 500, 108.33%, $moving-scorpion);
}

.headline-6, .wysiwyg-block h6 {
  @include font(size(7), 700, 130%, $moving-white, 0.47px);
  @include min-medium-screen {
    font-size: size(14);
    letter-spacing: 1px;
  }
}

.paragraph, .wysiwyg-block p {
  @include font(size(18), 400, 144.44%, rgba(31, 42, 69, 0.65));
  @include min-medium-screen {
    line-height: 133.33%;
  }
  @include large-screen {
    font-size: size(24);
  }

  &-20 {
    color: $moving-aluminium;
    font-size: size(14);
    @include large-screen {
      font-size: size(20);
      line-height: 140%;
    }
  }

  &-18 {
    color: $moving-white-65;
    font-size: size(18);
    line-height: 144.44%;
  }

}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: size(17.2);
  @include font(size(14), 700, 100%, $moving-black);
  border-radius: size(5);
  transition: color, background-color, background-position;
  transition-duration: $duration;
  transition-timing-function: ease-in-out;
  background: linear-gradient(#a5dd70, #438d72, #a5dd70) 0 0;
  background-size: 100% 200%;
  color: $moving-white;
  @include min-medium-screen {
    font-size: size(20);
    padding: size(15) size(33);
  }

  &:hover {
    background-position: 0 110%;
  }
}

ul:not(.reset-ul), .wysiwyg-block ul {
  li {
    position: relative;
    font-size: size(16);
    line-height: size(20);
    font-weight: 400;
    padding-left: size(23);
    @include min-medium-screen {
      font-size: size(20);
      line-height: 125%;
    }
    @include large-screen {
      font-size: size(24);
    }

    &:not(:last-child) {
      margin-bottom: size(15);
      @include min-medium-screen {
        margin-bottom: size(20);
      }
      @include large-screen {
        margin-bottom: size(25);
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: size(6);
      left: 0;
      @include square(size(5));
      background-color: currentColor;
      border-radius: 50%;
      //transform: translateY(-50%);
      @include min-medium-screen {
        top: size(10);
        @include square(size(8));
      }
    }
  }
}

//@keyframes text-gradient {
//  0% {
//    background-position: 0 500px;
//  }
//  100% {
//    background-position: 500px 0;
//  }
//}
// region section lines style

.section-border {
  position: relative;
  padding-left: $section-g-pl-sm;
  @include min-medium-screen {
    padding-left: $section-g-pl-md;
  }
  @include large-screen {
    padding-left: $section-g-pl-lg;
  }

  .title-circle {
    top: size(6);
    transform: translateX(-50%);
    @include square(size(12));
    @include min-medium-screen {
      @include square(size(24));
    }
    @include large-screen {
      @include square(size(30));
    }

    &.dark {
      background: $moving-black-pearl;
    }
  }

  .subtitle-circle {
    position: absolute;
    top: 0;
    transform: translateY(-30%);
    width: size(30);
    height: auto;
    left: -$section-g-pl-sm !important;
    color: $moving-section-border;
    @include small-screen {
      path {
        stroke-width: 4;
      }
    }
    @include min-medium-screen {
      width: size(50);
      transform: translateY(-50%);
      left: -$section-g-pl-md !important;
    }
    @include large-screen {
      width: size(64);
      left: -$section-g-pl-lg !important;
    }
  }

  svg[class*="circle"] {
    position: absolute;
    left: calc(-#{$section-g-pl-sm} + 1px);
    @include min-medium-screen {
      left: calc(-#{$section-g-pl-md} + 1.5px);
    }
    @include large-screen {
      left: calc(-#{$section-g-pl-lg} + 1.5px);
    }
    @at-root .title-circle-wrapper {
      position: relative;
      z-index: 1;
    }
  }


  &-light {
    .title-circle {
      //background-color: $moving-light-gray;
      background-color: $moving-white;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: $moving-section-border;
    width: 2px;
    height: 100%;
    @include min-medium-screen {
      width: 3px;
    }
  }
}

.full-lines {
  width: 100%;
  overflow: hidden;
  display: flex;

  .line {
    &-width {
      //height: size(10);
      height: 30px;
      border-radius: 0 0 0 $section-line-radius;
      border-bottom: 2px solid $moving-section-border;
      border-left: 2px solid $moving-section-border;
      flex-grow: 1;
      @include min-medium-screen {
        border-bottom-width: 3px;
        border-left-width: 3px;
      }
    }

    &-height {
      flex-shrink: 0;
      //width: size(10);
      width: $horizontal-section-line-width;
      //height: size(100);
      height: 78px;
      //margin-top: 0.875rem;
      //margin-top: 2.78rem;
      //margin-top: 2.69rem;
      margin-top: 28px;
      border-radius: 0 $section-line-radius 0 0;
      border-top: 2px solid $moving-section-border;
      border-right: 2px solid $moving-section-border;
      margin-left: -1px;
      @include min-medium-screen {
        border-top-width: 3px;
        border-right-width: 3px;
        margin-top: 27px;
      }
    }
  }

  &-flipped {
    transform: scaleX(-1);
  }
}

.circle-with-line {
  width: fit-content;
  @include marginX(auto);

  //svg {
  //  @include square(size(30));
  //}

  .circle-div {
    @include square(size(12));
    border-radius: 50%;
    border: 3px solid $moving-section-border;
    @include min-medium-screen {
      @include square(size(30));
    }
  }

  .line-div {
    width: 3px;
    height: 40px;
    @include marginX(auto);
    background-color: $moving-section-border;
    @include min-medium-screen {
      height: 60px;
    }
    @include large-screen {
      height: 80px;
    }
  }
}

.green-gradiant {
  background: linear-gradient(to right, #4aea6a 20%, #eae24a 40%, #eae24a 60%, #4aea6a 80%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  //animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200%;
    }
  }
}

.green-gradiant {
  background-image: linear-gradient(to right, #4aea6a, #eae24a, #4aea6a, #eae24a) !important;
}

.red-gradiant {
  background-image: linear-gradient(to right, #ea4aaa, #ed4e50, #ea4aaa, #ed4e50) !important;
}

.blue-gradiant {
  background-image: linear-gradient(to right, #01cfc9, #79b8ff, #01cfc9, #79b8ff) !important;
}

.purple-gradiant {
  background-image: linear-gradient(to right, #80f6fc, #d751ea, #80f6fc, #d751ea) !important;
}

.green-gradiant, .red-gradiant, .blue-gradiant, .purple-gradiant {
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  //animation: shine 2.5s linear infinite;
}

//@keyframes shine {
//  to {
//    background-position: 100%;
//  }
//}

// endregion section lines style
