// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$moving-black: var(--moving-black);
$moving-white: var(--moving-white);
$moving-white-65: var(--moving-white-65);
$moving-green-gradient: var(--moving-green-gradient);
$moving-pink-gradient: var(--moving-pink-gradient);
$moving-yellow-gradient: var(--moving-yellow-gradient);
$moving-orange-gradient: var(--moving-orange-gradient);
$moving-blue-gradient: var(--moving-blue-gradient);
$moving-light-blue-gradient: var(--moving-light-blue-gradient);
$moving-aqua-gradient: var(--moving-aqua-gradient);
$moving-black-rock: var(--moving-black-rock);
$moving-black-pearl: var(--moving-black-pearl);
$moving-scorpion: var(--moving-scorpion);
$moving-link-water: var(--moving-link-water);
$moving-cloud-burst: var(--moving-cloud-burst);
$moving-aluminium: var(--moving-aluminium);
$moving-input-color: var(--moving-input-color);
$moving-light-gray: var(--moving-light-gray);
$moving-section-border: var(--moving-section-border);
// fonts
$helvetica: 'Helvetica Neue';
//default duration
$duration: 500ms;
// bouncing
$bouncing: cubic-bezier(0.18, 0.89, 0.32, 1.28);
// design width
$design-width: 192rem;
//section border padding
$section-g-pl-sm: 3.4rem;
$section-g-pl-md: 6.4rem;
$section-g-pl-lg: 8rem;
$vertical-section-line-height: 3rem;
$horizontal-section-line-width: 2.5rem;
$section-line-radius: 2rem;
//override bootstrap variables
$grid-gutter-width: 4rem;
$container-padding-sm: 1.6rem;
//$container-padding-md: 10rem;
$container-padding-md: 8rem;
$container-padding-lg: 24rem;
$container-max-widths: (
  'md': 100%,
  'lg': $design-width,
);
$grid-breakpoints: (
  'xs': 0,
  'md': $medium-screen-min-width,
  'lg': $large-screen-min-width,
);


