@import "styles/sites/swc";

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: background-color $duration;
  background-color: transparent;
  //box-shadow: 0 size(4) size(25) #d0d9e1;
  transform: translate(0);
  
  &:before {
    content:"";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 300ms ease-in;
    pointer-events: none;
    @include large-screen {
      display: none;
    }
  }
  
  &.active {
    background-color: #ecf1f6 !important;
    @include large-screen {
      background-color: $swc-white !important;
    }
    
    .bottom-menu {
      background: transparent;
    }
    
    &:before {
      transition-delay: 200ms;
      opacity: 0.6;
    }
  }
  
  .menu-item {
    color: $swc-black;
    position: relative;
    width: fit-content;
    cursor: pointer;
    
    &:not(:last-child) {
      margin-bottom: size(20);
    }
    
    a {
      font-size: size(14);
      font-family: $openSans;
      font-weight: 600;
      letter-spacing: size(0.37);
      transition: color $duration;
      position: relative;
      z-index: 3;
      cursor: text;
      
      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 1px;
        transform: scaleX(0);
        background-color: $swc-black;
        transition: transform 0.3s;
        display: flex;
        width: 100% !important;
      }
      
    }
    
    a[href] {
      cursor: pointer;
      
      &:hover {
        &:after {
          transform: scaleX(1);
        }
      }
    }
    
    
    @include large-screen {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
    
    
    &.current-menu-item {
      > a {
        color: $swc-blue;
        
        &:after {
          background-color: $swc-blue;
          transform: scaleX(1);
        }
      }
    }
    
  }
  
  .menu-top-menu-container {
    min-height: size(40);
    background-color: $swc-off-white;
    @include paddingX(size(28), size(24));
    transition: margin-top 400ms;
    display: none;
    @include large-screen {
      display: flex;
      justify-content: flex-end;
    }
    
    .top-menu {
      @include large-screen {
        @include flex(center, flex-end, false, false);
        padding-right: size(15);
      }
      
      .menu-item {
        height: 100%;
        display: flex;
        align-items: center;
        
        &:hover {
          .sub-menu {
            opacity: 1;
            pointer-events: visible;
          }
        }
        
        &:not(:last-child) {
          margin-right: size(20);
        }
      }
      
      
      // sub menu in top header
      .sub-menu {
        position: absolute;
        top: 100%;
        left: -79%;
        width: size(357);
        z-index: 99;
        background: $swc-off-white;
        box-shadow: 0 size(10) size(25) size(-7) #d0d9e1;
        padding: size(23) size(23) size(33) size(24);
        opacity: 0;
        pointer-events: none;
        transition: opacity $duration;
        
        .menu-item {
          padding: size(8) size(4);
          width: 100%;
          transition: background-color $duration;
          
          &:not(:last-child) {
            margin-bottom: size(3);
          }
          
          a {
            font-size: size(14);
            letter-spacing: size(0.15);
          }
          
          &:hover {
            background-color: #d0d9e1;
            
            a {
              &:after {
                transform: scaleX(1);
              }
            }
          }
        }
      }
      
    }
  }
  
  //  text support-and-search
  .text {
    display: flex;
    align-items: center;
    color: $swc-black;
    font-family: $openSans;
    font-size: size(14);
    font-weight: 400;
    font-style: italic;
    letter-spacing: size(0.37);
    margin-right: size(24);
    line-height: 100%;
    transition: color $duration;
    
    svg {
      path {
        fill: currentColor;
      }
    }
    
    &:hover:not(span) {
      color: $swc-blue;
    }
  }
  
  .support-and-search {
    display: flex;
    align-items: center;
    padding-left: size(15);
    position: relative;
    
    &:before {
      content: "";
      width: size(1);
      height: size(22);
      background-color: $swc-black;
      position: absolute;
      top: 50%;
      right: 100%;
      transform: translateY(-50%);
    }
    
    .icon-and-text {
      &:not(:last-child) {
        margin-right: size(20);
      }
    }
  }
  
  // region input-search
  .input-search {
    position: fixed;
    top: 0;
    left: 0;
    @include square(100%);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -95;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms;
    
    &.active {
      opacity: 1;
      pointer-events: visible;
      z-index: 95;
    }
  }
  
  .cross {
    position: absolute;
    top: 5%;
    right: 5%;
    transform: rotate(45deg);
    @include square(size(30));
    cursor: pointer;
    @include min-medium-screen {
      @include square(size(50));
    }
    
    &:hover {
      @include path($swc-red);
    }
  }
  
  .input-and-results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    @include min-medium-screen {
      width: 65%;
    }
    @include large-screen {
      width: 60%;
    }
  }
  
  input {
    width: 100%;
    height: size(70);
    border: none;
    @include paddingX(size(10));
    color: $swc-off-white;
    font-family: $openSans;
    font-size: size(30);
    font-weight: 900;
    letter-spacing: size(0.37);
    line-height: size(24);
    border-bottom: 1px solid $swc-white;
    background-color: transparent;
    text-transform: uppercase;
    
    
    &::placeholder {
      color: $swc-off-white;
      font-family: $openSans;
      letter-spacing: size(0.15);
      
    }
    
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
    
  }
  
  .result {
    padding: size(20) size(10);
    border-bottom: 1px solid $swc-white;
    color: $swc-off-white;
    font-family: $openSans;
    font-size: size(20);
    font-weight: 400;
    letter-spacing: size(0.37);
    line-height: size(32);
  }
  
  // endregion input-search
  
  .icon-and-text {
    display: flex;
    align-items: center;
    
    svg {
      margin-right: size(9);
    }
    
    &.text {
      font-weight: 600;
      font-style: normal;
      margin-right: 0;
    }
  }
  
  .search {
    cursor: pointer;
  }
  
  .bottom-menu {
    background: $swc-white;
    @include flex(center, space-between, false, false);
    position: relative;
    z-index: 98;
    @include paddingX(size(24));
    @include paddingY(size(20));
    transition: background $duration;
    @include large-screen {
      @include paddingX(size(28), size(24));
      @include paddingY(size(4));
    }
    
    @media(min-width: 1920px) {
      @include paddingY(size(0));
    }
    
    .header-logo {
      flex-shrink: 0;
      width: size(124);
      height: size(40);
      z-index: 99;
      transition: height 400ms;
      position: relative;
      margin-right: size(100);
      @include min-medium-screen {
        width: size(162);
        height: size(63);
      }
      @media(min-width: 1920px) {
        width: size(200);
        height: size(80);
      }
      
      img, svg {
        @include square(100%);
        object-fit: contain;
      }
    }
    
    .header-logo-dark {
      @include square(100%);
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      transition: opacity $duration;
      opacity: 1;
    }
    
    .header-logo-white {
      display: none;
    }
    
    .navbar {
      position: fixed;
      top: 100%;
      left: 0;
      transform: translateX(-100%);
      width: 100%;
      z-index: 90;
      transition: transform 300ms ease-in;
      @include large-screen {
        position: relative;
        align-items: center;
        flex-direction: row;
        overflow-y: visible;
        transform: unset;
        width: auto;
      }
      
      &.active {
        transform: translateX(0);
        
        &:before {
          opacity: 0.6;
        }
      }
    }
    
    .navbar-wrapper {
      @include paddingY(size(40), size(100));
      background-color: #ecf1f6;
      width: 100%;
      height: 100vh;
      //overflow: auto;
      transition: padding $duration;
      overflow: scroll;
      @include min-medium-screen {
        @include paddingY(size(70), size(150));
      }
      @include large-screen {
        background-color: transparent;
        padding: 0;
        width: auto;
        height: auto;
        overflow: unset;
        
      }
      
      
      // top-menu in small screen
      .top-menu {
        max-width: size(700);
        @include marginX(auto);
        @include paddingY(size(25));
        
        @include small-screen {
          @include paddingX(size(20));
        }
        
        .sub-menu {
          margin-left: size(10);
          height: 0;
          overflow: hidden;
          position: relative;
          
          &:before {
            content: "";
            position: relative;
            width: 100%;
            height: size(10);
            pointer-events: none;
            opacity: 0;
            display: block;
          }
          
          .menu-item {
            padding: size(8) size(4);
            width: 100%;
            transition: background-color $duration;
            margin-bottom: 0;
            
            &:hover {
              background-color: #d0d9e1;
              
              a {
                &:after {
                  transform: scaleX(1);
                }
              }
            }
            
            &.current-menu-item {
              a {
                
                color: $swc-blue;
                
                &:after {
                  background-color: $swc-blue;
                  transform: scaleX(1);
                }
                
              }
            }
            
          }
          
          a {
            font-size: size(14);
            letter-spacing: size(0.15);
            color: $swc-black;
            font-weight: normal;
          }
          
        }
        
        @include large-screen {
          display: none;
        }
      }
    }
    
    .primary-menu {
      display: flex;
      flex-direction: column;
      border-bottom: size(1) solid rgba(0, 0, 0, 0.2);
      max-width: size(700);
      @include small-screen {
        @include paddingX(size(20));
        padding-bottom: size(11);
      }
      @include marginX(auto);
      @include large-screen {
        flex-direction: row;
        align-items: center;
        padding: 0;
        border: none;
        max-width: 100%;
        margin: 0;
      }
      
      
      .menu-item {
        a {
          font-weight: 700;
          letter-spacing: size(0.15);
          line-height: size(24);
          transition: color $duration;
          
          
          @include large-screen {
            color: $swc-black;
          }
        }
        
        &.current-menu-item {
          a {
            color: $swc-blue;
          }
        }
        
        @include large-screen {
          @include paddingX(size(30));
          @include paddingY(size(23));
        }
        
      }
      
      
      .cta-button {
        width: fit-content;
        min-width: size(142);
        @include flex(center, center, false, false);
        background-color: $swc-blue;
        color: $swc-white;
        font-size: size(15);
        font-family: $openSans;
        font-weight: 600;
        line-height: 100%;
        padding: size(9);
        cursor: pointer;
        text-align: center;
        transition: color, border-color, background-color;
        transition-duration: $duration;
        display: none;
        margin-left: size(60);
        
        a {
          color: $swc-white !important;
          
          &:after {
            
            display: none;
          }
        }
        
        
        &:hover {
          background-color: $swc-black;
        }
        
        @include large-screen {
          display: block;
        }
      }
      
    }
    
    .cta-btn-mob {
      width: fit-content;
      min-width: size(225);
      @include flex(center, center, false, false);
      background-color: $swc-blue;
      color: $swc-white;
      font-size: size(14);
      font-weight: 500;
      line-height: 100%;
      padding: size(18);
      border-radius: size(8);
      cursor: pointer;
      text-align: center;
      transition: background-color $duration;
      margin: 0 auto;
      
      &:hover {
        background-color: $swc-blue;
      }
      
      @include large-screen {
        display: none;
      }
    }
  }
  
  // general menu-item-has-children
  .menu-item-has-children {
    position: relative;
    width: 100%;
    @include large-screen {
      width: fit-content;
    }
    
    &:before {
      content: "";
      position: absolute;
      right: 0;
      top: size(2);
      @include square(size(20));
      //background-image: url(../../images/down-arrow.svg);
      transition: transform $duration;
      background-repeat: no-repeat;
      background-size: contain;
    }
    
    @include large-screen {
      &:before {
        display: none;
      }
    }
    
    &.active {
      &:before {
        transform: scaleY(-1);
      }
    }
  }
  
  // sub menu in bottom header
  ul#menu-primary-menu > li > .sub-menu {
    height: 0;
    overflow: hidden;
    position: relative;
    margin-left: size(10);
    
    &:before {
      content: "";
      position: relative;
      width: 100%;
      height: size(20);
      pointer-events: none;
      opacity: 0;
      display: block;
      @include large-screen {
        display: none;
      }
    }
    
    @include large-screen {
      position: fixed;
      width: 100%;
      left: 0;
      top: 98%;
      padding: size(28) size(70) size(32);
      background: #ffffff;
      box-shadow: 0 size(10) size(25) size(-7) #d0d9e1;
      display: flex;
      opacity: 0;
      pointer-events: none;
      transition: opacity $duration;
      height: auto !important;
      margin: 0;
      .menu-item-has-children {
        @include flexBasis(size(310));
        
        a {
          font-weight: 700;
          color: $swc-black;
        }
        
        &:not(:last-child) {
          margin-right: size(24);
        }
        
        .sub-menu {
          margin-top: size(14);
        }
        
      }
      
      .two-columns {
        flex-grow: 1;
        
        
        .sub-menu {
          max-height: size(230);
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          width: 50%;
        }
      }
      @media(min-width: 1920px) {
        top: 97%;
      }
    }
    
    .menu-item-has-children {
      padding: 0;
      
      a {
        font-weight: 700;
        color: $swc-black;
      }
      
      
      .sub-menu {
        margin-left: size(10);
        height: 0;
        overflow: hidden;
        position: relative;
        
        @include large-screen {
          overflow: visible;
        }
        
        &:before {
          content: "";
          position: relative;
          width: 100%;
          height: size(10);
          pointer-events: none;
          opacity: 0;
          display: block;
          @include large-screen {
            display: none;
          }
        }
        
        .menu-item {
          padding: size(8) size(4);
          width: 100%;
          transition: background-color $duration;
          margin-bottom: 0;
          
          &:hover {
            background-color: #d0d9e1;
            
            a {
              &:after {
                transform: scaleX(1);
              }
            }
          }
          
          &.current-menu-item {
            a {
              color: $swc-blue;
            }
          }
          
        }
        
        a {
          font-size: size(14);
          letter-spacing: size(0.15);
          color: $swc-black;
          font-weight: normal;
        }
        
        @include large-screen {
          height: auto !important;
          margin-left: 0;
        }
      }
    }
  }
  
  .primary-menu > .menu-item-has-children a {
    @include large-screen {
      &:hover {
        z-index: 1;
        
        &:before {
          content: '';
          position: absolute;
          //z-index: 5;
          z-index: -1;
          width: 34vw;
          height: 5rem;
          left: 50%;
          bottom: 130%;
          top: 0;
          transform: translateX(-50%);
          //background: red;
          //transform: translateX(-50%);
        }
        
        + .sub-menu {
          opacity: 1 !important;
          pointer-events: visible !important;
        }
      }
    }
  }
  
  .primary-menu > .menu-item-has-children .sub-menu:hover {
    @include large-screen {
      opacity: 1 !important;
      pointer-events: visible !important;
    }
  }
  
  .burger-and-menu {
    display: flex;
    align-items: center;
    z-index: 99;
    
    span {
      color: $swc-black;
      font-size: size(12);
      font-weight: 500;
    }
    
    @include large-screen {
      display: none;
    }
  }
  
  .menu {
    width: size(19);
    height: size(19);
    position: relative;
    z-index: 99;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    flex-shrink: 0;
  }
  
  .burger-menu {
    border: none;
    background: transparent;
    cursor: pointer;
    @include square(100%);
    padding: 0;
    
    &:focus {
      outline: none !important;
    }
    
    span {
      display: block;
      width: 100%;
      height: size(3);
      margin-bottom: size(3);
      position: relative;
      z-index: 1;
      border-radius: size(10);
      
      &:after, &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $swc-black;
        opacity: .99;
        transition: background-color 600ms;
        border-radius: size(10);
        display: table;
      }
      
      &:nth-of-type(even) {
        &:before {
          transform-origin: right;
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }
        
        &:after {
          transform-origin: left;
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }
      }
      
      &:before {
        transform-origin: right;
        transform: scaleX(1) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
      }
      
      &:after {
        transform-origin: left;
        transform: scaleX(0) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1);
      }
      
      &:last-child {
        margin: 0 auto;
      }
      
      &:first-child {
        margin: 0 auto size(3);
      }
    }
    
    &:hover {
      span {
        
        &:nth-of-type(even) {
          &:before {
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }
          
          &:after {
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }
        }
        
        &:before {
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }
        
        &:after {
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }
        
      }
    }
    
    &.active {
      span {
        &:after, &:before {
          background-color: $swc-black;
        }
      }
    }
  }
  
  &.home-header {
    box-shadow: unset;
    
    .header-logo {
      .header-logo-dark {
        opacity: 0;
      }
      
      .header-logo-white {
        display: block;
      }
    }
    
    .bottom-menu {
      background: transparent;
      
    }
    
    .navbar {
      &-wrapper {
        .menu-item {
          a {
            @include large-screen {
              color: $swc-white;
              &:after {
                background-color: $swc-white;
              }
            }
          }
          
          
          &.cta-button {
            a {
              color: $swc-white;
            }
          }
        }
      }
    }
    
    .burger-and-menu {
      .menu {
        .burger-menu {
          span {
            &:after, &:before {
              background-color: $swc-white;
              
            }
          }
          
          &.active {
            span {
              &:after, &:before {
                background-color: $swc-black;
                
              }
            }
          }
        }
      }
    }
    
    &.sticky {
      background-color: $swc-white;
      
      .menu-item {
        a {
          color: $swc-black;
          
          &:after {
            background-color: $swc-black;
            
          }
        }
        
      }
      
      .burger-menu {
        span {
          &:after, &:before {
            background-color: $swc-black !important;
          }
        }
      }
    }
    
    &.active {
      .header-logo {
        .header-logo-dark {
          opacity: 1;
        }
        
        .header-logo-white {
          display: none;
        }
      }
    }
    
  }
  
  &.sticky {
    box-shadow: .1rem 0 .6rem -.3rem rgba(0, 0, 0, .5);
    
    .bottom-menu {
      background: $swc-white !important;
      
      .header-logo {
        .header-logo-dark {
          opacity: 1;
        }
        
        .header-logo-white {
          visibility: hidden;
        }
      }
      
      .navbar {
        &-wrapper {
          padding-top: size(40);
          @include min-medium-screen {
            padding-top: size(70);
          }
          @include large-screen {
            padding: 0;
          }
        }
      }
      
      @include large-screen {
        .header-logo {
          height: size(53);
        }
      }
    }
    
    .menu-top-menu-container {
      margin-top: size(-40);
    }
  }
  
}



