@import "styles/sites/raistone";

@import "~swiper/css";
@import "swiper/css/effect-fade";
//@import "swiper/css/pagination";

.how_early_payments_work_v3_block {
  position: relative;
  z-index: 2;
  padding-top: size(100);
  overflow: hidden;
  @include paddingY(size(75), 0);
  @include large-screen {
    @include paddingY(size(100), size(156));
  }

  &:after {
    @include large-screen {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: size(744);
      background-color: #F7F7F7;
    }
  }

  .container {
    @include paddingX(0);
  }

  .what-can-do-title {
    max-width: size(570);
    @include large-screen {
      margin-bottom: size(75);
    }
  }


  .main-title {
    margin-bottom: size(20);
    @include small-screen {
      @include font-size(32px, 36px);
    }
  }

  .main-title, .info-title {
    color: $raistone_jet_black;
  }

  .what-can-do-sub-title {
    color: $raistone_mid_plum;
    margin-bottom: size(22);
    text-transform: uppercase;
    font-weight: 700;
    font-family: $montserrat;
    letter-spacing: 0.05em;
    @include small-screen {
      font-size: size(16);
      max-width: 74%;
      margin-bottom: size(12);
    }
  }

  .step {
    @include flex(false, space-between);
    flex-direction: column;
    @include small-screen {
      &:not(:last-of-type) {
        margin-bottom: size(65);
      }
    }
    @include min-medium-screen {
      &:not(:last-of-type) {
        margin-bottom: size(100);
      }
    }
    @include large-screen {
      flex-direction: row;
      position: absolute;
      z-index: 2;
      transition: opacity 500ms;
      height: 100vh;
      width: 100%;
      &:not(.active) {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .step-illustration {
    @include flexBasis(100%);
    background: $raistone_light_canary;
    overflow: hidden;
    @include flex(center, center);
    @include paddingX(size(80));
    position: relative;
    @include large-screen {
      @include flexBasis(66.7%);
      height: 45%;
      @include marginX(auto);
      border-radius: size(13);
      box-shadow: 0 2.61875px 13.0938px #c3c3c330;
      @include paddingY(size(60));
      z-index: 9;
    }

    .svg-steps-wrapper {
      position: absolute;
      top: size(80);
      right: 0;
      height: fit-content;
      width: 90%;
    }
  }

  .info-description {
    color: $raistone_mid_plum;
    @include font-size(14px, 20px);
    font-weight: 700;
  }

  .info-title {
    margin-bottom: size(24);
    font-weight: 600;
    @include font-size(18px, 22px);
    @include min-medium-screen {
      @include font-size(23px, 40px)
    }
  }

  .dot-link {
    color: $raistone_mid_gery;
    @include font-size(14px, 17px);
    font-weight: 600;
    font-family: $montserrat;
  }

  .active {
    .dot-circle {
      background: $raistone_mid_plum;
    }

    .dot-link {
      color: $raistone_mid_plum;
    }
  }

  .what-can-do-info {
    display: flex;
    justify-content: space-between;

  }

  .info-content {
    @include flexBasis(100%);
    @include paddingX(size(20));
    margin-bottom: size(39);
    @include min-medium-screen {
      @include paddingX(size(50));
      margin-bottom: size(30);
    }
    @include large-screen {
      margin-top: size(84);
      @include flexBasis(100%);
      @include paddingX(0);
    }
  }

  .step-dot {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    transition: color $duration;

    &:not(:last-of-type) {
      margin-bottom: size(48);
    }

    &:before {
      content: '';
      @include square(size(6));
      background: $raistone_plum;
      display: block;
      border-radius: 50%;
      margin-right: size(30);
    }

    &:hover {
      color: $raistone_plum;
    }

    &.active {
      color: $raistone_plum;

      ~ :before {
        background: currentColor;
      }
    }
  }

  .steps-dots-wrapper {
    position: relative;
    @include max-medium-screen {
      display: none;
    }

    .progress {
      width: size(2);
      background: $raistone_plum;
      height: calc(100% - 1.5rem);
      position: absolute;
      left: size(2);
      top: size(10);
      opacity: 0;
      z-index: 1;
    }

    &:before {
      content: "";
      width: size(2);
      background: $raistone_mid_gery;
      height: calc(100% - 1.5rem);
      position: absolute;
      left: size(2);
      top: size(10);
      z-index: 0;
    }
  }

  .what-can-do-wrapper {
    position: relative;
    display: flex;

    @include max-medium-screen {
      flex-direction: column;
      z-index: -1;
    }

    @include large-screen {
      //height: 100vh;
      justify-content: space-between;
    }

    .how-it-works-title {
      text-align: center;
      margin-bottom: size(23);
      @include min-medium-screen {
        margin-bottom: size(60);
      }
      @include large-screen {
        margin-bottom: size(120);
      }

      .headline-1 {
        margin-bottom: size(16);
      }

      .link {
        @include marginX(auto);
      }
    }


    .steps-wrapper {
      position: relative;
      width: 100%;
      @include large-screen {
        height: 100vh;
        @include flexBasis(26.2%)
      }
    }
  }

  .btn-raistone {
    color: $raistone_gery;

    &:hover {
      color: $raistone_moss;
    }
  }

  .svg-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;

    .card-img {
      width: 45%;
      top: 10.4%;
      left: 14%;
      position: absolute;
      height: fit-content;
    }

    .woman-shape {
      width: 45%;
      top: 64%;
      right: 0;
      position: absolute;
      height: fit-content;

    }
  }

  .step-logo {
    @include square(size(60));
    margin-bottom: size(16);
  }

  .sub-title {
    color: $raistone_mid_plum;
    font-weight: 700;
    margin-bottom: size(20);
  }

  .list-wrapper {
    list-style: disc;
    padding-left: size(24);
    margin-bottom: size(30);
  }

  .list-info {
    color: $raistone_jet_black;
  }

  .toggle-wrapper {
    margin-left: size(145);
    width: 80%;
    transform: translateY(size(60));
    @include large-screen {
      width: 38%;
    }
    @include max-medium-screen {
      @include marginX(auto);
    }
  }

  .toggle-action {
    background: $raistone_mid_plum;
    border-radius: size(60);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    box-shadow: 0 2.61875px 13.0938px 6.54688px rgba(195, 195, 195, 0.19);
    margin: size(40) auto;
    list-style: none;
    @include max-medium-screen {
      @include marginX(auto);

    }
  }

  .toggle-btn {
    color: $raistone_mid_gery;
    padding: size(22) size(30);
    cursor: pointer;
    border-radius: size(60);
    transition-property: background, color, transform;
    transition-duration: $duration;

    &.active-btn {
      background: $raistone_white;
      color: $raistone_mid_plum;
      //transform: scale(1.05);
    }

    @include small-screen {
      padding: size(10);
    }
  }

  .content-wrapper {
    max-width: size(1000);
    @include marginX(auto);
    text-align: center;
    margin-bottom: size(55);
    @include max-medium-screen {
      @include paddingX(size(20));
    }
  }

  .content-wrapper-description {
    color: $raistone_jet_black;
    margin-bottom: size(50);
  }

  .content-wrapper-sub-title {
    color: $raistone_mid_plum;
    margin-bottom: size(30);
    text-transform: uppercase;
  }

  .content-wrapper-title {
    color: $raistone_green;
    margin-bottom: size(20);
  }

  .icon-wrapper {
    @include square(size(115));
    @include marginX(auto);
    border: 8px solid $raistone_white;
    background: #214D42;
    transition: background-color, border-color;
    transition-duration: $duration;
    @include flex(center, center);
    border-radius: 50%;
    @include small-screen {
      @include square(size(70));
    }

    svg {
      @include square(size(25));
      overflow: visible;
      @include min-medium-screen {
        @include square(size(45));
      }
    }
  }

  .step-title {
    //margin-top: size(20);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $raistone_mid_plum;
    transition: opacity $duration;
    //width: fit-content;
    margin-top: size(10);
    @include max-medium-screen {
      flex-direction: row;
    }

    strong {
      font-weight: 900;
      margin-right: size(5);
    }

  }

  .icon-background {
    fill: #214D42;
    transition: fill $duration;
  }

  .raistone-logo {
    position: absolute;
    width: size(1187);
    height: size(1398);
    right: size(100);
    top: size(-110);
    z-index: -1;
    pointer-events: none;
  }

  .svg-icon {
    opacity: 1;
    transition: opacity $duration
  }

  .small-title {
    color: #214D42;
    max-width: size(600);
    @include marginX(auto)
  }

  .background {
    width: 100%;
    position: absolute;
    left: 0;
    height: 100%;
    z-index: -1;
    top: 12%;
  }


  .step-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .left-content {
    @include flexBasis(100%);
    @include large-screen {
      @include flexBasis(31%);
      margin-top: auto;
    }

    .left-title {
      margin-top: size(16);
      color: $raistone_mid_plum;
      display: flex;
    }

    .left-text {
      color: $raistone_jet_black;
      margin-top: size(20);
      max-width: size(533);

    }
  }

  .right-content {
    @include flexBasis(100%);
    @include large-screen {
      @include flexBasis(57.96%);
    }

  }

  .description {
    ol, ul {
      margin-left: size(22);
    }
  }

  .icons-wrapper {
    display: flex;
    width: 64%;
    @include marginX(auto);
    margin-top: 0;
    z-index: 2;
    flex-direction: column;
    position: relative;
    @include large-screen {
      margin-top: size(30);
      flex-direction: row;
      justify-content: space-between;
    }

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      top: size(57.2);
      left: 50%;
      transform: translateX(-50%);
      background: #521437;
      width: 90%;
      height: 3px;
      @include max-medium-screen {
        display: none;
      }
    }
  }

  .example-text {
    @include font-size(14px, 20px);
    font-weight: 700;
    font-family: $lato;
    color: #521437;
    margin-top: size(30);
    max-width: size(400);
    @include min-medium-screen {
      max-width: size(500);
    }
    @include large-screen {
      max-width: 100%;
    }
  }

  ul {
    list-style: disc;

    li {
      color: #0A0A0A;
      font-family: $lato;
    }
  }

  .step-title-circle {
    cursor: pointer;
    transition: opacity $duration;
    @include large-screen {
      opacity: 1;
      &.active-step {
        ~ .step-title-circle {
          .icon-wrapper {
            border-color: #FAFAFA;
            background: #A1B3AF;
          }

          .step-title {
            opacity: 0.5;
          }

        }
      }
      max-width: 23%;
    }
    @include max-medium-screen {
      position: relative;
      margin-bottom: 60px;
      width: fit-content;
      display: flex;
      &:after {
        position: absolute;
        content: "";
        top: 100%;
        right: 79%;
        height: 60px;
        width: 1px;
        background: #521437;
        border-radius: 8.125px;
      }
      &:last-of-type {
        &:after {
          display: none;
        }
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .how-early-wrapper {
    display: block;
    animation: fadeIn 0.5s ease;
    @include max-medium-screen {
      display: none;

    }

  }

  //mobile
  .how-early-wrapper-mobile {
    display: none;
    animation: fadeIn 0.5s ease;
    @include max-medium-screen {
      display: block;
      .icons-wrapper {
        width: 90%;
      }
      .what-can-do-wrapper {
        display: flex;
        flex-direction: row-reverse;
        background: $raistone_light_canary;
        padding-bottom: size(20);
      }
      .svg-steps-wrapper {
        position: absolute;
        top: size(80);
        right: 0;
        height: fit-content;
        width: 90%;
      }
      .step-illustration-wrapper {
        position: relative;


        .raistone-logo {
          position: absolute;
          width: size(977);
          height: size(748);
          right: size(-110);
          top: size(10);
          pointer-events: none;
        }

      }
      .step-title-circle {
        margin-right: size(20);
        @include large-screen {
          &.active-step {
            opacity: 0.3;
          }
        }
        @include max-medium-screen {
          position: relative;
          margin-bottom: 60px;
          width: fit-content;
          display: flex;
        }

        &:after {
          position: absolute;
          content: "";
          top: 25%;
          right: 50%;
          height: 100%;
          width: 2px;
          background: #521437;
          border-radius: 8.125px;
        }

        &:last-of-type {
          &:after {
            display: none;
          }
        }

        @include small-screen {
          &:after {
            position: absolute;
            top: 17%;

          }
        }
      }
      .steps-wrapper {
        display: flex;
        padding: size(20) 0;
      }
      .step-wrapper {
        margin-top: size(30);

        .left-text {
          margin-bottom: size(20);
          @include small-screen {
            @include font-size(22px, 30px);
          }
        }
      }
      .step-title {
        font-weight: 600 !important;
      }
      ul {
        li {
          @include small-screen {
            @include font-size(16px, 22px);
          }
        }
      }
      .paragraph-l-paragraph {
        @include small-screen {
          @include font-size(16px, 22px);
        }
      }
    }
    z-index: 2;
    position: relative;
  }

  .swiper-button-next, .swiper-button-prev {
    &:after {
      display: none;
    }
  }

  .swiper-button-next {
    right: 8%;
  }

  .swiper-button-prev {
    left: 10%;

  }

  .swiper-button-next, .swiper-button-prev {
    transition: opacity $duration;
  }

  .left-arrow {
    display: none;
    @include large-screen {
      position: absolute;
      display: block;

      width: size(33.5);
      height: size(67);
    }
  }

  .right-arrow {
    display: none;

    @include large-screen {
      display: block;
      position: absolute;

      width: size(33.5);
      height: size(67);
    }

  }

  //   tabs
  .tab-content {
    display: none;

    &.tab-content-active {
      display: block;
    }
  }
}
