@import "styles/sites/k1_elementor";

.your_team_block {
  @include paddingY(size(60));
  @include large-screen {
    @include paddingY(size(120))
  }
  $imgZindex: 3;
  $boxZindex: 6;
  $iconZindex: 5;

  .container{
    @include min-medium-screen{
      @include paddingX(size(120));
    }
  }

  .background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .sub-title {
    color: $k1_project_middle_red;
    margin-bottom: size(6);
    @include marginX(auto);
    text-align: center;
  }
  .intelligent-title {
    color: $k1_project_black;
    @include marginX(auto);
    text-align: center;
    margin-bottom: size(50);
  }

  .intelligent-operations {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }


  .search-plus {
    opacity: 0;
    position: absolute;
    z-index: $iconZindex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    @include square(size(53));
    background: $k1_project_middle_red;
    border-radius: 50%;
    @include flex(center, center);
    transition-property: opacity, width, height, border-radius;
    transition-duration: 0.5s;

    svg {
      transition: opacity $duration 200ms;
      @include square(size(23))
    }

    &.active {
      width: 100%;
      height: 100%;
      border-radius: 0;
      opacity: 1;
      pointer-events: none;
      //transition-duration: 500ms;

      svg {
        opacity: 0;
        transition-delay: 0s;
      }
    }

  }

  .intelligent-card {
    position: relative;
    @include flexBasis(100%);
    min-height: size(400);
    @include small-screen {
      max-width: size(370);
      @include marginX(auto);
    }
    @include min-medium-screen {
      @include flexBasis(33.33%);
      min-height: size(350);
    }
    @include large-screen {
      min-height: size(460);
    }

    .card-img {
      position: absolute;
      z-index: $imgZindex;
      top: 0;
      left: 0;
      @include square(100%);
      padding: size(35) size(25);

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        @include square(100%);
        pointer-events: none;
        background: rgba(30, 30, 30, 0.7);
        transition: opacity $duration;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        @include objectImg(cover);
      }
    }

    .card-title {
      @include font(16px, 400, 16.1px, $k1_project_white, $interstate, 0.08em);
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      transition: color $duration;
    }

    .box {
      position: relative;
      z-index: $boxZindex;
      padding: size(15);
      transition: opacity $duration 600ms;
      @include min-medium-screen {
        padding: size(16) size(25) size(20);
      }
      @include large-screen {
        padding: size(16) size(25);
      }

      .close-box {
        margin-left: auto;
        cursor: pointer;
        width: fit-content;
        margin-bottom: size(10);
        @include min-medium-screen {
          margin-bottom: 0;
        }
      }

      .card-title {
        margin-bottom: size(25);
      }

      .video-poster {
        position: relative;
        margin-bottom: size(25);
      }

      .card-video-img {
        //width: size(350);
        //height: size(197);
        //z-index: -1;
        padding-top: 56.28%;;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          @include square(100%);
          z-index: 1;
          background: linear-gradient(0deg, rgba(18, 18, 18, 0.25), rgba(18, 18, 18, 0.25))
        }
      }

      .video-modal-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        cursor: pointer;
        width: size(60);
        height: size(50);
        padding: size(15);
        border-radius: size(100);
        filter: drop-shadow(0px 0px 6px #999);
        //background-color:transparent !important;
        svg {
          @include square(100%);
        }
      }

      .box-text {
        .box-title {
          @include font(20px, 700, 30px, $k1_project_white, $interstate);
          margin-bottom: size(4);
        }
      }

      &.hide {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.1s ease-in;
      }
    }

    &:not(.no-hover):hover {
      .card-img:after {
        opacity: 0.4;
      }

      .search-plus {
        opacity: 1;
        //transition-duration: 300ms;
      }
    }
  }

  .close-modal {
    position: absolute;
    top: size(30);
    right: size(20);
    @include square(size(30));
    background-color: transparent;
    border-radius: 0;
    color: $k1_project_white;
    @include flex(center, center);
    border: size(2) solid $k1_project_white;
    @include min-medium-screen {
      top: size(80);
      right: size(40);
      @include square(size(40));
    }

    svg {
      width: 100%;
      height: auto;
    }
  }


  @at-root .dark-theme-background &{
    .sub-title {
      color: $k1_project_white;
    }
    .intelligent-title {
      color: $k1_project_white;
    }
  }
}




