@import "styles/sites/headversity";

.three_card_block {
  @include paddingY(size(88), size(59));

  .container {
    @include large-screen {
      @include paddingX(size(168));
    }
  }

  .glow {
    position: absolute;
    left: 0;
    top: -33%;
    z-index: -1;
  }

  .row {
    @include change-gutter(size(33), size(33));
  }

  .contact-title {
    margin-bottom: size(60);

    p {
      span {
        position: relative;
        text-decoration: none !important;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: $headversity_orange;
          width: 100%;
          height: 3px;
        }
      }
    }

  }


  .contact-us-wrapper {
    @include marginX(auto);
    text-align: center;
  }

  .contact-column {
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(97, 55, 55, 0.1);
    border-radius: size(30) size(30) 0 0;
    padding: size(55) size(51) size(61) size(52);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  .title {
    @include font-size(20px, 24px);
    font-weight: 600;
    margin-bottom: size(8);
    @include min-medium-screen {
      @include font(22.6px, 700, 35px, $headversity_dark_blue, $dm-Sans);
    }
  }

  .contact-description {
    margin-bottom: size(26);
    text-align: left;
  }

  .link {
    margin-top: auto;

    svg {
      width: size(28);
      margin-left: 0;
    }
  }


  .modal-form {

    .container {
      @include small-screen {
        padding: 0;
      }
    }

    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .95);
    top: 50%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity $duration, width $duration, height $duration;

    &.show {
      opacity: 1;
      pointer-events: visible;
    }

    .webinar-wrapper {
      @include marginX(auto);
      background-color: $headversity_white;
      position: relative;
      width: 100%;
      height: 100vh;
      @include paddingY(size(66));
      @include paddingX(size(57), size(47));
      @include min-medium-screen {
        box-shadow: 0 size(10) size(20) rgba(97, 55, 55, 0.1);
        border-radius: size(30) size(30) 0 0;
        width: 90%;
        height: unset;
        @include paddingY(size(31), size(66));
        @include paddingX(size(70));
      }
      @include large-screen {
        @include paddingX(size(146), size(144));
        width: 85.34%;
      }
    }

    .form-img {
      width: size(53);
      @include marginX(auto);
      margin-bottom: size(15);
      @include min-medium-screen {
        width: size(73);

      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .form-title {
      @include font(20px, 600, 20px, #081853, $poppins);
      text-align: center;
      @include marginX(auto);
      margin-bottom: size(10);
      max-width: size(270);
      @include min-medium-screen {
        @include font-size(36px, 36px);
        max-width: size(482);

      }
    }

    .form-description {
      margin-bottom: size(25);
      text-align: center;
      max-width: size(270);
      @include marginX(auto);
      @include min-medium-screen {
        margin-bottom: size(40);

        max-width: size(489);

      }
    }

    .exit {
      top: size(27);
      right: size(21);
      cursor: pointer;
      position: absolute;
      @include min-medium-screen {
        top: size(33);
        right: size(39);
      }

    }

    .gfield {
      width: 100%;
      max-width: size(286);
      @include marginX(auto);
      @include min-medium-screen {
        max-width: unset;
        width: calc((100% / 2) - 12px);
      }
    }

    .w-100 {
      width: 100% !important;
    }

    .w-50 {
      width: 100% !important;
      @include min-medium-screen {
        width: calc(50% - 10px) !important;
      }
    }

    input {
      padding-top: size(16) !important;
      font-size: 12px !important;
      font-weight: 600 !important;
      line-height: 14px !important;
      color: $headversity_dark_blue !important;
      font-family: $poppins !important;
      @include large-screen {
        font-size: 14px !important;

      }
    }

    .large {
      &::placeholder {
        font-size: 14px !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        color: $headversity_gray !important;
        font-family: $poppins !important;
      }
    }

    .gfield_html {
      @include marginX(auto);
      text-align: center;
      width: 100%;

    }

    .small-description {
      @include font(10px, 400, 24px, $headversity_gray, $poppins);
      max-width: size(369);
      @include marginX(auto);

    }

    textarea {
      @include small-screen {
        //height: size(83) !important;

      }
      border-radius: size(50) !important;
      resize: none;
      border: 2px solid #0A1B57 !important;

      height: size(50) !important;
      font-size: size(16) !important;
      line-height: size(24) !important;
      font-family: $inter !important;
      font-weight: 400 !important;
      color: #616262 !important;
      padding: size(13) size(26) size(8) !important;

      overflow: hidden;
    }

    .links-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: size(30);
    }

    //
    //.my-btn {
    //  min-width: unset !important;
    //  max-width: size(175) !important;
    //}

    .button {
      min-width: 0 !important;
      max-width: size(175) !important;
      width: size(175) !important;
      font-size: size(20) !important;
    }

    .my-btn {
      display: block !important;
      max-width: size(175) !important;
      margin: unset !important;


      &::after {
        width: 100% !important;
        height: 100% !important;
      }
    }


  }
}

.gform_title {
  display: none !important;
}

.gravity-theme {
  .large {
    border: 2px solid #0A1B57 !important;
    border-radius: 50px !important;
    background-color: $headversity_white;

    &:focus {
      border: 2px solid $headversity_orange !important;
      color: #0A1B57 !important;
      font-weight: 600 !important;
    }
  }

  .gfield_label {
    font-size: size(16) !important;
    line-height: size(16) !important;
    font-family: $poppins !important;
    font-weight: 400 !important;
    color: $headversity_gray !important;
    text-align: center !important;
    display: none !important;
  }

  .gfield {
    width: 100% !important;
  }
}

.gfield {
  input, select {
    font-size: size(14) !important;
    line-height: size(30) !important;
    font-family: $poppins !important;
    font-weight: 400 !important;
    color: $headversity_gray !important;
    padding: size(8) size(26) !important;

  }

  select {
    appearance: none !important;
    cursor: pointer !important;
    color: $headversity_gray !important;
    border: none !important;
    height: 100% !important;
    //outline: 0!important;
    width: 100% !important;
    //position: absolute!important;
    //top: 0!important;
    //right: 0!important;
    //padding: 6px 0 6px 10px!important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
  }

}

select * {
  border-radius: size(15);
}

select {
  background-color: white !important;
}

.ginput_container_select {

  position: relative !important;


}


.gform_footer {
  position: relative;
  padding: 0 !important;
  margin: size(30) auto 0 !important;
  width: fit-content !important;
  border-radius: size(30);
  z-index: 0;
  @include flex(center, false, row-reverse, wrap);

  .gform_button {
    min-width: size(175);
    margin-bottom: 0 !important;
    @include large-screen {
      @include paddingY(1.55rem);
    }

    &.disabled {
      background: $headversity_gray;
      color: $headversity_white;
      pointer-events: none;
    }


    //&:hover {
    //  &:after {
    //
    //
    //  }
    //
    //}
  }

  .reset-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0 size(30) 0 0 !important;
    padding: 0;
    width: fit-content;
    font-size: size(16);
    font-weight: 600;
    line-height: 100%;
    color: $headversity_dark_blue;
    font-family: $poppins;
  }
}

.gform_wrapper {
  .gform_validation_errors {
    display: none !important;
  }

  .gravity-theme {
    .gfield
    &:not(.gfield--width-full) {
      margin-bottom: size(20) !important;
    }
  }

  //.gravity-theme {
  //  .gfield {
  //    margin-bottom: size(20) !important;
  //  }
  //}

  .gform_validation_errors > h2 {
    font-size: size(14) !important;
    font-weight: 400 !important;
    color: $headversity_dark_blue !important;
    line-height: size(30) !important;

    .gform-icon {
      align-items: center !important;
      display: flex !important;
      font-size: size(22);
      height: 100%;
      left: size(4);
      position: absolute;
      top: 0;
    }

  }

  .gfield_required {
    display: none !important;
  }

  //  region additional text styling
  .form-additional-text {
    @include font(14px, 400, 18px, $headversity_gray, $poppins, 0.02em);
    @include min-medium-screen {
      max-width: size(570);
      @include marginX(auto);
    }
  }

  //  endregion additional text styling

  // region general styling
  .gform_fields {
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap !important;
    grid-row-gap: size(22) !important;
    width: 100% !important;
    //margin-bottom: size(29);
  }

  // endregion general styling

}

.validation_message {
  font-size: size(18) !important;
  line-height: size(30) !important;
  clear: both;
  font-family: $poppins !important;
  font-weight: 500 !important;
  width: 100%;
  color: $headversity_orange !important;
  background: none !important;
  border: none !important;
  margin-top: 0 !important;
  padding: size(12) size(14) !important;
}

#field_4_9, #field_4_5 {
  width: 100%;
}

.lds-roller {
  //display: none !important;
  width: 20px !important;
}

.gform_ajax_spinner {
  box-sizing: border-box;
  border: size(3) solid $headversity_orange;
  border-left: size(3) solid rgba(247, 150, 33, 0);
  border-top: size(3) solid rgba(247, 150, 33, .15);
  border-right: size(3) solid rgba(247, 150, 33, .5);
  animation: spinner 1.1s infinite linear;
  border-radius: 50%;
  @include square(size(30));
  position: absolute;
  top: 125%;
  right: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin-top: size(5);
}

b {
  display: none !important;
}


.chosen-single {
  border: 2px solid #0A1B57 !important;
  background: unset !important;
  padding: size(8) size(26) !important;
  height: size(47) !important;
  line-height: 0 !important;
  display: flex !important;
  align-items: center !important;

  span {
    font-size: size(14) !important;
    line-height: size(30) !important;
    font-family: $poppins !important;
    font-weight: 400 !important;
    color: $headversity_gray !important;
    text-align: left !important;
    display: flex !important;
    align-items: center;
  }

  .chosen-search-input {
    display: none !important;
  }
}

.chosen-drop {
  border: 2px solid #0A1B57 !important;
  border-radius: 0 0 25px 25px !important;
  border-top: 0px !important;
  margin-top: unset !important;
}

.chosen-search {
  display: none !important;
}

.chosen-container {
  .chosen-results {
    li.highlighted {
      background-color: unset !important;
      background-image: unset !important;
      color: unset !important;
    }
  }

  span {
    &:not(.ginput_price) {
      margin-bottom: 0 !important;
    }
  }
}

a.chosen-single {
  border-radius: 50px !important;
}


.chosen-results li {
  padding: size(23) size(10) size(10) size(15) !important;
  text-align: left !important;
}

.chosen-container {
  position: relative;

  &:after {
    content: "";
    //background: url(../../images/select-arrow.png) no-repeat right !important;
    position: absolute !important;
    width: 40px !important;
    height: 40px !important;
    top: 6% !important;
    right: 6% !important;
    cursor: pointer !important;
    pointer-events: none !important;
    transition: transform $duration !important;
    @include min-medium-screen {
      width: 25px !important;
      height: 25px !important;
      top: 18% !important;
      right: 6% !important;
    }
    @include large-screen {
      width: 23px !important;
      height: 23px !important;
      top: 28% !important;
      right: 6% !important;
    }
  }
}

.chosen-container-active.chosen-with-drop {
  a.chosen-single {
    border-radius: size(25) size(25) 0 0 !important
  }


  &:after {
    transform: scaleY(-1) !important;
  }


}


.gform_confirmation_message {
  @include font(16px, 600, 24px, $headversity_black, $poppins, normal);
  @include min-medium-screen {
    font-size: size(20);
  }
}

// region safari

/* Safari 11+ */

@media not all and (min-resolution: .001dpcm) {
  .gform_wrapper .gform_fields {
    display: block !important;

    .gfield:not(:last-child) {
      margin-bottom: size(16);
    }
  }
}


.gfield_label{
  display: none !important;
}