
@import "styles/sites/smartdv";

.section_with_centered_text {
  max-width: size(1440);
  width: 100%;
  overflow: hidden;
  @include marginX(auto);
  perspective: 16vw;
  @include min-medium-screen {
    perspective: 10vw;
  }

  .container {
    perspective: 63.3vw;

  }

  .content {
    background-color: $smart_dv_green_2;
    width: 100%;
    @include marginX(auto);
    padding: size(36) size(27) size(80) size(27);
    transform-origin: bottom;
    @include min-medium-screen {
      padding: size(35) size(50);
    }
    @include large-screen {
      padding: size(77) size(162);
    }


    .main-title {
      color: $smart_dv_white;
      margin-bottom: size(20);
      @include min-medium-screen {
        margin-bottom: size(32);
      }
    }

    .description {
      color: $smart_dv_white;
      max-width: size(322);
      margin-bottom: size(20);
      @include min-medium-screen {
        max-width: size(692);
      }
      @include large-screen {
        max-width: size(955);
      }
    }
  }

  .bottom-background {
    height: size(60);
    @include min-medium-screen {
      height: size(124);
    }

    svg {
      @include square(100%)
    }

    path {
      fill: $smart_dv_green_3;
    }
  }

  form {
    display: flex !important;
    width: 53.8% !important;
    @include marginX(auto);
    //padding-top: size(27) !important;
    @include small-screen {
      width: 100% !important;
      flex-direction: column !important;
    }
  }

  .cta-link {
    color: $smart_dv_white;
  }


  &.centered {

    .main-title, .description, .cta-link {
      text-align: center;
      @include marginX(auto);
    }

  }

  .gform_wrapper.gravity-theme {
    .gform_body {
      width: 100% !important;
    }

    .gform_footer {
      padding: 0 !important;
      margin: 0 !important;

      button {
        border: 1px solid $smart_dv_lime;
        height: size(50) !important;
        padding-top: size(19) !important;
        padding-bottom: size(19) !important;
        color: $smart_dv_white !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        @include small-screen {
          width: 100% !important;
          margin-top: size(10) !important;
          margin-bottom: size(20) !important;
        }

        &:after {
          display: none !important;
        }

        &:before {
          display: none !important;
        }
      }

    }

    .ginput_container.ginput_container_email {
      input {
        width: 100% !important;
        background-color: #075D69 !important;
        padding-top: size(19) !important;
        padding-bottom: size(19) !important;
        border-color: $smart_dv_white !important;
        color: $smart_dv_white !important;
        height: size(50) !important;
        padding-left: size(20);
        padding-right: size(40);
      }

    }

    .validation_message {
      position: absolute !important;
      top: size(124) !important;
      max-width: size(290);
      font-size: size(10) !important;
      line-height: size(18) !important;
      @include min-medium-screen {
        top: size(55) !important;
        max-width: size(490);
        font-size: size(14) !important;
        line-height: size(18) !important;
      }

    }

    .gform_fields .gfield {
      margin-bottom: 1.5rem !important;
    }

    .gfield_error {
      .gform_footer {
        button {
          margin-bottom: 10rem !important;
        }
      }

    }

    .gfield_label {
      color: $smart_dv_white !important;
      display: none !important;
    }
  }

  .gform_confirmation_message {
    text-align: center !important;
  }

  .gfield.gfield_error {
    margin-bottom: 0 !important;
    @include min-medium-screen {
      margin-bottom: size(43) !important;
    }
    @include large-screen {
      margin-bottom: 0 !important;
    }

    .gform_footer {
      margin-bottom: 10rem !important;
    }

  }

  .description-text {
    margin-left: size(-20);
  }

  &.list {
    .content {

      @include large-screen {
        @include paddingX(size(100), size(80));
      }
      @include small-screen {
        @include paddingY(size(36), size(30))
      }
    }

    .list-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .description-wrapper {
      margin-left: size(20);
      max-width: size(839);

    }

    .description-list {
      margin-bottom: size(18);
      position: relative;
      list-style: none;
      font-weight: 600;
      line-height: size(19.2);
      color: $smart_dv_white;
      @include small-screen {
        margin-left: size(20);
      }

      &:before {
        content: '';
        position: absolute;
        left: size(-20);
        top: 0;
        transform: translateY(50%);
        @include square(size(8));
        border-radius: 50%;
        background-color: $smart_dv_lime;
      }
    }

    .left-content {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(43.78%);
      }
      @include large-screen {
        @include flexBasis(47.78%);
      }
    }

    .right-content {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(47.78%);
      }
    }
  }

}



