
@import "styles/sites/wrap";
@import "node_modules/swiper/swiper";

footer {
  position: relative;
  background-color: #111D29;
  padding-bottom: size(84);
  color: rgba(232, 239, 244, 0.8);
  margin-top: size(100);
  @include min-medium-screen {
    padding-bottom: size(110);
  }
  @include large-screen {
    margin-top: size(200);
    padding-bottom: size(154);
  }
  
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: size(4);
    background: $wrap-orange-gradient;
  }
  
  .prefooter {
    //margin-bottom: size(80);
    position: relative;
    z-index: 2;
    //@include min-medium-screen {
    //  margin-bottom: size(110);
    //}
    //@include large-screen {
    //  margin-bottom: size(150);
    //}
    
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      //height: 47.5%;
      height: 53.5%;
      background-color: $wrap-white;
    }
    
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    &-card {
      @include flexBasis(100%);
      padding: size(60) size(30);
      background: $wrap-light-white;
      border-radius: size(5);
      text-align: center;
      display: flex;
      flex-direction: column;
      
      &:not(:last-child) {
        margin-bottom: size(30);
        @include min-medium-screen {
          margin-bottom: 0;
        }
      }
      
      @include min-medium-screen {
        @include flexBasis(48.36%);
      }
      @include large-screen {
        padding: size(88) size(50);
      }
      
      &-title {
        margin-bottom: size(20);
        letter-spacing: $letter-spacing-06;
        @include small-screen {
          font-size: size(24);
        }
      }
      
      &-description {
        color: $wrap-shuttle-gray;
        max-width: size(370);
        margin: 0 auto size(30);
        @include large-screen {
          margin-bottom: size(40);
        }
      }
      
      &-btn {
        margin: auto auto 0;
        color: $wrap-gable-green;
        @include small-screen {
          width: 100%;
        }
      }
    }
  }
  
  .footer-container {
    padding-top: size(80);
    @include min-medium-screen {
      padding-top: size(110);
    }
    @include large-screen {
      padding-top: size(150);
    }
  }
  
  .footer-wrapper {
    @include flex(flex-start, space-between, false, wrap);
  }
  
  .footer-logo {
    @include flexBasis(size(120));
    margin-bottom: size(60);
    display: block;
    @include min-medium-screen {
      @include flexBasis(12.29%);
      margin-bottom: 0;
    }
    
    &:hover {
      path {
        fill: $wrap-orange;
      }
    }
    
    :is(svg, img) {
      width: 100%;
      height: auto;
    }
    
  }
  
  .footer-links-parent {
    @include flexBasis(100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: size(-60);
    @include min-medium-screen {
      @include flexBasis(80%);
      margin-bottom: 0;
    }
    @include large-screen {
      @include flexBasis(74.50%);
    }
  }
  
  .footer-links-wrapper {
    
    @include small-screen {
      order: 2;
      margin-bottom: size(60);
      @include flexBasis(50%);
      max-width: size(143);
      &.footer-contact-wrapper {
        order: 0;
      }
      &.footer-social-wrapper {
        order: 1;
      }
    }
    @include min-medium-screen {
      max-width: calc(96% / 4);
    }
    
    &:not(.footer-social-wrapper) {
      @include font(size(14), 400, 210%, currentColor, false, $montserrat);
    }
  }
  
  .footer-link {
    max-width: size(145);
    
    a {
      position: relative;
      display: block;
      transition: color $duration;
      
      &:hover {
        color: $wrap-orange;
      }
      
      //&:before {
      //  position: absolute;
      //  top: 0;
      //  left: 0;
      //  overflow: hidden;
      //  color: $wrap-orange;
      //  content: attr(data-hover);
      //  transition: transform, opacity;
      //  pointer-events: none;
      //  transition-duration: 0.3s;
      //  //transition-timing-function: ease-out;
      //  transform: scale(1.4);
      //  opacity: 0;
      //
      //}
      //
      //&:hover {
      //  &::before {
      //    transform: scale(1);
      //    opacity: 1;
      //  }
      //}
    }
  }
  
  .footer-street {
    margin-bottom: size(30);
  }
  
  .footer-link-title {
    @include font(size(16), 700, 100%, $wrap-white, 0.2em, $din);
    margin-bottom: size(20);
    text-transform: uppercase;
    height: size(16);
  }
  
  //.footer-social-wrapper {
  //  @include flexBasis(22%);
  //  @include large-screen {
  //    //@include flexBasis(13.93%);
  //    @include flexBasis(18.70%);
  //  }
  //}
  
  .footer-social {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: size(-19.5);
    
    &-link {
      margin-bottom: size(19.5);
      @include small-screen {
        @include flexBasis(size(16));
      }
      
      a {
        display: block;
      }
      
      svg {
        width: size(16);
        height: auto;
      }
      
      &:hover {
        path {
          fill: $wrap-orange;
        }
      }
      
      &-facebook {
        svg {
          width: size(9);
        }
      }
      
      &:not(:last-child) {
        margin-right: size(22);
      }
    }
  }
  
}


  


