:root {
  /* Colors: */
  --virtual_world_black: #000000;
  --virtual_world_white: #ffffff;
  --virtual_world_off_white: #E4E4E4;
  --virtual_world_blue: #30AAE2;
  --virtual_world_fogra: #040b0e;
  --virtual_world_grey:#0c1318
}
