@import "variables";
@import "mixins";
@import "root";
@import "swiper/css";
body {
  background-color: #040b0e;
  overflow: hidden;
}

// region container
.container {
  @include paddingX($container-padding-sm);
  @include min-medium-screen {
    @include paddingX($container-padding-md);
  }
  @include large-screen {
    @include paddingX($container-padding-lg);
  }

}

//endregion

// region font  Styling
.headline-1, .wysiwyg-block h1, .blog-content-wrapper h1 {
  font-size: 14vw;
  line-height: 100%;
  font-weight: 900;
  font-family: $lato;
  letter-spacing: size(2.11);
  text-transform: capitalize;
  white-space: nowrap;
  color: transparent;
  //text-shadow: -.1px 0 #30AAE2, 0 .1px #30AAE2, .1px 0 #30AAE2, 0 -.1px #30AAE2;
  -webkit-text-stroke: 1px #30AAE2;
  text-align: center;
  @include min-medium-screen {
    font-size: 13.5vw;
    letter-spacing: size(10.2);
  }
  @include large-screen {
    font-size: 14.4vw;
  }
}

.headline-2, .wysiwyg-block h2, .blog-content-wrapper h2 {
  @include font(24px, 700, 29px, $virtual_world_white, $lato, size(0.82));

  &-28 {
    @include font-size(28px, 34px);
    letter-spacing: size(0.95);
  }

  @include min-medium-screen {
    @include font-size(75px, 98px);
  }
  @include large-screen {
    @include font-size(115px, 138px);
    letter-spacing: size(3.91);
  }

}

.headline-3, .wysiwyg-block h3, .blog-content-wrapper h3 {
  @include font(18px, 400, 22px, $virtual_world_white, $lato);

  @include min-medium-screen {
    @include font-size(24px, 29px)
  }

  @include large-screen {
    @include font-size(34px, 41px)
  }
}

.headline-4, .wysiwyg-block h4, .blog-content-wrapper h4 {
  @include font(16px, 400, 19px, $virtual_world_white, $lato);
  @include min-medium-screen {
    @include font-size(28px, 34px);
  }

}

.headline-5, .wysiwyg-block h4, .blog-content-wrapper h5 {
  @include font(16px, 400, 17px, $virtual_world_white, $lato);
  @include min-medium-screen {
    @include font-size(20px, 24px);
  }
}

.headline-6, .wysiwyg-block h6, .blog-content-wrapper h6 {
  @include font(12px, 400, 15px, $virtual_world_white, $lato);
  @include min-medium-screen {
    @include font-size(18px, 22px);
  }

}

.paragraph, .wysiwyg-block p, .blog-content-wrapper p {
  @include font(16px, 400, 19px, $virtual_world_white, $lato, size(0.54));

  @include min-medium-screen {
    @include font-size(20px, 25px);
    letter-spacing: normal;
  }
  @include large-screen {
    @include font-size(24px, 29px);
  }

  &.bold {
    font-weight: 700;
  }
}


.read-more-links {
  @include font(16px, 700, 100%, $virtual_world_white, $lato);
  @include min-medium-screen {
    font-size: size(20);
  }
  display: flex;
  align-items: center;
  text-align: center;
  transition: color $duration;

  svg {
    margin-left: size(10);
    @include square(size(17));

    path {
      stroke: currentColor;
    }
  }

  &:hover {
    color: $virtual_world_blue;
  }
}


.load-more {
  position: relative;
  width: fit-content;
  display: flex;
  @include font(16px, 400, 19px, $virtual_world_blue, $lato);
  padding-bottom: size(10);
  @include marginX(auto);
  transition: color $duration;

  @include min-medium-screen {
    @include font-size(24px, 29px);
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    top: 100%;
    left: 0;
    transition: background-color $duration;
  }

  &:hover {
    color: $virtual_world_white;
  }
}

// endregion

// region button  Styling
$btnClipPath: polygon(100% 0, 100% 85%, 95% 100%, 0 100%, 0 15%, 5% 1%);

.btn {
  @include font(16px, 400, 19px, $virtual_world_white, $lato);
  @include flex(center, center, false, false);
  width: fit-content;
  background: $virtual_world_blue;
  padding: size(7.5) size(47);
  transition: color $duration, background-color $duration;
  cursor: pointer;
  position: relative;
  z-index: 2;
  clip-path: $btnClipPath; //border-radius: 15px 0 15px 0;
  @include min-medium-screen {
    @include font-size(24px, 29px);
    padding: size(12) size(65);
  }

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: #040b0e;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    clip-path: $btnClipPath;
    transition: background $duration ease-in-out;
  }

  &:hover {
    &:after {
      background: $virtual_world_blue;
    }
  }
}

// endregion

// region  wysiwyg
.wysiwyg-block {
  h1, h2, h3, h4, h5, h6, ul, p {
    margin-bottom: size(20);
  }

  ul, ol {
    margin-bottom: size(20);
    padding-top: 0;

    li {
      position: relative;
      color: $virtual_world_white;
      font-weight: 400;
      @include font-size(16px, 24px);
      padding-left: size(11);

      &:not(:last-child) {
        margin-bottom: size(5);
        @include min-medium-screen {
          margin-bottom: size(5);
        }
        @include large-screen {
          margin-bottom: size(10);
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: size(6);
        right: 100%;
        @include square(4px);
        background-color: currentColor;
        border-radius: 50%;
        @include min-medium-screen {
          top: size(10);
        }
      }
    }
  }

  ol {
    margin-left: size(25);

    > li {
      padding-left: 0;

      &:before {
        display: none;
      }
    }

    ul {
      margin-bottom: 0;
    }
  }
}

//endregionyy//


.line {
  width: size(20);
  height: 2px;
  border-radius: 3px;
  background-image: linear-gradient(180deg, #30aae2 0%, #62bb92 100%);

  @include min-medium-screen {
    width: size(60);
    height: 4px;
  }
}

.border-text {
  @include square(100%);
  border: 2px solid #30AAE2;
  border-radius: size(13);
  position: absolute;
}

.back-to-top {
  @include square(size(40));
  background-color: rgba(26, 31, 41, 0.5);
  transition: background-color, opacity;
  transition-duration: 200ms;
  @include flex(center, center, false, false);
  border-radius: 50%;
  color: #d1d1d1;
  position: fixed;
  cursor: pointer;
  z-index: 99;
  //right: 10.41%;
  right: 2%;
  bottom: 15%;
  //bottom: 30%;
  opacity: 0;
  pointer-events: none;
  @include min-medium-screen {
    @include square(size(60));
    //bottom: 37%;
    right: 2%;
  }

  &.back-to-top-active {
    opacity: 1;
    pointer-events: auto;
    transition-duration: 300ms;
  }

  &:hover {
    background-color: $virtual_world_blue;
  }

  svg {
    width: 35%;
    height: auto;
  }

  path {
    fill: currentColor;
  }
}

//section {
//  overflow: hidden;
//}

// region swiper pagination
.swiper-paginations, .swiper-pagination {
  position: relative;
  @include flex(center);
  width: fit-content;
  @include marginX(auto);

  .swiper-pagination-bullet {
    @include square(size(10));
    background: $virtual_world_white;
    cursor: pointer;
    opacity: 1;
    border-radius: 50%;
    transition: background-color $duration;

    @include min-medium-screen {
      @include square(size(13));
    }

    &:not(:last-child) {
      margin-right: size(10) !important;
      margin-left: size(0) !important;
    }

    &:hover {
      background-color: $virtual_world_blue;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $virtual_world_blue;
  }

}

// endregion swiper pagination
