// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color
$virtual_world_black: var(--virtual_world_black);
$virtual_world_blue: var(--virtual_world_blue);
$virtual_world_white: var(--virtual_world_white);
$virtual_world_off_white: var(--virtual_world_off_white);
$virtual_world_fogra: var(--virtual_world_fogra);
$virtual_world_grey: var(--virtual_world_grey);


// fonts
$lato: 'lato';

//default duration
$duration: 500ms;
//override bootstrap variables
$grid-gutter-width: 4rem;
$container-padding-sm: 1.7rem;
$container-padding-md: 7rem;
$container-padding-lg: 10rem;

$container-max-widths: (
    'md': 100%, //570px
    'lg': 192rem, //760px 88.4
);
$grid-breakpoints: (
    'xs': 0,
    'md': $medium-screen-min-width,
    'lg': $large-screen-min-width,
);

