
@import "styles/sites/cyberhill";


.contact_block {
  height: 100vh;
  
  .container {
    @include paddingX(0);
    
  }
  
  .two-card {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 9;
    width: 100%;
    
    
    @include min-medium-screen {
      display: flex;
      
    }
    
    
    &.hide-block {
      pointer-events: none;
      visibility: hidden;
      
      .white-card {
        transform: translateX(-100%);
        transition: all $duration ease;
        opacity: 0;
      }
      
      .blue-card {
        transform: translateX(100%);
        transition: all $duration ease;
        opacity: 0;
      }
    }
    
  }
  
  
  .white-card, .blue-card {
    min-height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    @include paddingX(size(44), size(43));
    @include paddingY(size(2));
    
    .headline-3 {
      color: $cyberHill-Blue;
      margin-bottom: size(24);
      @include min-medium-screen {
        margin-bottom: size(32);
      }
    }
    
    @include min-medium-screen {
      padding: size(20) size(63) size(20) size(81);
      width: 50%;
    }
  }
  
  .white-card {
    background: $cyberHill-white;
    @include small-screen{
      @include paddingY(size(150) , size(90));
    }
    .primary-button {
      @include paddingY(size(14.6));
    }
    
    @include large-screen {
      padding: size(20) size(126) size(20) size(162);
    }
  }
  
  .blue-card {
    background-color: $cyberHill-tangaroa;
    
    .headline-3 {
      color: $cyberHill-white;
    }
    
    .primary-button {
      color: $cyberHill-white;
      border-color: $cyberHill-white;
      
      &:hover {
        color: $cyberHill-Blue;
      }
    }
    
    @include large-screen {
      padding: size(20) size(162) size(20) size(126);
    }
  }
}


