
@import "styles/sites/rentReports";

.text_and_image_card_block {
  position: relative;
  z-index: 1;
  //@include marginY(size(60), size(90));
  
  &:before {
    position: absolute;
    z-index: -1;
    content: '';
    width: 100%;
    height: 15.61%;
    background-color: $rentReporters-white;
  }
  
  .container {
    @include small-screen {
      @include paddingX(size(24));
    }
  }
  
  .text-and-image-card {
    @include flex(false, false, false, wrap);
    box-shadow: 0 size(2) size(8) rgba(0, 0, 0, 0.1);
    border-radius: size(8);
    background-color: $rentReporters-white;
    @include large-screen {
      min-height: size(583);
    }
    
    .text-card-image {
      height: size(292);
      overflow: hidden;
      border-radius: size(8) size(8) 0 0;
      @include small-screen {
        @include aspect-ratio(88.18%);
      }
      @include min-medium-screen {
        height: auto;
        border-radius: size(8) 0 0 size(8);
      }
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    
    .text-card-content {
      border-radius: 0 0 size(8) size(8);
      @include flex(false, center, column, false);
      background-color: #ffffff;
      padding: size(23) size(20) size(20);
      @include min-medium-screen {
        padding: size(40);
        border-radius: 0  size(8) size(8) 0;
      }
      @include large-screen {
        padding: size(92) size(79);
      }
      
      .headline-3 {
        color: $rentReporters-dark-blue;
        margin-bottom: size(12);
        @include min-medium-screen {
          margin-bottom: size(20);
        }
      }
      
      .title {
        margin-bottom: size(13);
        @include min-medium-screen {
          padding-right: size(3);
        }
      }
      
      .btn {
        cursor: pointer;
        margin-top: size(18);
        font-weight: 600;
        //margin-top: #{'clamp(1.5rem,2.4rem,3.2rem)'};
        @include small-screen {
          min-width: 100%;
        }
        @include min-medium-screen {
          margin-top: size(22);
        }
        @include large-screen {
          margin-top: size(32);
        }
      }
      
      .terms {
        padding-top: size(10);
        border-top: size(1) solid $rentReporters-gray;
        margin-top: size(25);
        @include large-screen {
          margin-top: size(50);
        }
        
        .headline-4 {
          font-weight: 700;
        }
        
        .terms-text {
          font-size: size(14);
          font-weight: 300;
          line-height: size(24);
        }
      }
    }
    
    .text-and-image {
      @include flexBasis(100%);
      @include min-medium-screen {
        @include flexBasis(50%);
      }
    }
  }
}


  


