

@import "styles/sites/kiwi";

section.block-focus {
  @include marginX(auto);
  @include marginY(size(70), size(46));
  @include min-medium-screen {
    margin-top: size(110);
  }
  
  
  .block-focus-wrapper {
    @include x-large-screen {
      max-width: size(1265);
    }
    
    .row {
      @include change-gutter(false, size(50));
      @include x-large-screen {
        @include change-gutter(false, size(115));
      }
    }
  }
  
  .title {
    margin-bottom: size(28);
    
    .headline-3 {
      margin-bottom: size(20);
    }
    
    .paragraph {
      .get-result, a {
        color: $kiwi-green;
      }
    }
    
    .view-news {
      flex-shrink: 0;
      margin-top: size(10);
      @include min-medium-screen {
        margin-left: size(20);
        margin-top: 0;
      }
    }
  }
  
  .focus-card {
    @include min-large-screen {
      max-width: size(520);
      height: 100%;
    }
    display: block !important;
    
    &.focus-border {
      border: 1px solid $kiwi-dark-gray;
      
      .headline-6 {
        color: $kiwi-gray;
      }
      
      .paragraph {
        color: $kiwi-gray;
        max-width: 100%;
        
        a {
          color: #a81934;
        }
      }
      
      .link {
        color: $kiwi-dark-gray;
      }
    }
  }
  
}


  


