
@import "styles/sites/cyberhill";


.text_content_block {
  @include paddingY(size(64));
  @include min-medium-screen {
    @include paddingY(size(99), size(135))
  }
  
  
  .content-wrapper {
    @include small-screen {
      flex-direction: column-reverse;
    }
    @include flex(center, space-between);
    
    &.right {
      
      @include min-medium-screen {
        flex-direction: row-reverse;
      }
    }
    
  }
  
  .img-wrapper {
    @include flexBasis(100%);
    margin-bottom: size(48);
    @include min-medium-screen {
      @include flexBasis(41%);
      margin-bottom: 0;
    }
    @include large-screen {
      @include flexBasis(38.71%);
    }
  }
  
  .text-content {
    @include flexBasis(100%);
    @include min-medium-screen {
      @include flexBasis(48.92%)
    }
  }
  
  .aspect-ratio {
    padding-top: 133.39%;
  }
  
  .title-with-shape {
    margin-bottom: size(32);
    @include large-screen {
      margin-bottom: size(64);
    }
    
  }
  
  .headline-3 {
    margin-bottom: size(16);
    @include min-medium-screen {
      margin-bottom: size(24);
    }
  }
  
  .paragraph {
    margin-bottom: size(32);
    max-width: size(432);
    
    &.is-full-width {
      max-width: 100%;
    }
  }
  
  .input-wrapper {
    width: 100%;
    
    .ginput_container_email {
      max-width: 100% !important;
    }
    
    
    .gform_wrapper input[type=submit] {
      margin-top: size(24);
      border-color: $cyberHill-white;
      color: $cyberHill-white;
      margin-left: 0;
      
      &:hover {
        border-color: transparent !important;
      }
      
      @include min-medium-screen {
        margin-top: size(32);
      }
    }
    
  }
  
  
  ul {
    list-style-type: disc;
  }
  
  ul:not(.reset-ul):not(.sub-menu) li {
    font-size: size(20);
    line-height: 140%;
    padding-left: 0;
    margin-bottom: size(10);
  }
  
  ul:not(.reset-ul):not(.sub-menu) li:before {
    display: none;
  }
  
  
  &.white {
    background: $cyberHill-white;
    
    .img-wrapper {
      @include small-screen {
        margin-bottom: size(32);
      }
    }
    
    .title-with-shape {
      margin-bottom: size(48);
      display: flex;
      color: $cyberHill-tangaroa;
      @include large-screen {
        margin-bottom: size(64);
      }
    }
    
    .headline-3 {
      color: $cyberHill-Blue;
    }
    
    .paragraph {
      color: $cyberHill-matterhorn !important;
      margin-bottom: size(24);
      @include min-medium-screen {
        margin-bottom: size(32);
      }
    }
    
    .input-wrapper {
      width: 100%;
      
      
      .gform_wrapper .ginput_container input:not([type=radio]):not([type=checkbox]), .gform_wrapper .ginput_container select, .gform_wrapper .ginput_container textarea {
        color: $cyberHill-Nero;
        border-bottom: 1px solid #cad5d9;
        transition: border-bottom-color $duration;
        
        &::placeholder {
          transition: opacity $duration;
          color: $cyberHill-Nero;
          
        }
        
        &:focus {
          border-bottom-color: $cyberHill-Blue;
          
          &::placeholder {
            opacity: 0;
          }
          
        }
      }
      
      .gform_wrapper input[type=submit] {
        border-color: $cyberHill-Blue;
        color: $cyberHill-Blue;
        margin-left: 0;
        font-size: size(16);
        @include paddingY(size(7));
        
        @include min-medium-screen {
          @include paddingY(size(15));
        }
        
        &:hover {
          border-color: transparent !important;
        }
        
      }
      
    }
    
    .primary-button {
      border-color: $cyberHill-Blue;
      color: $cyberHill-Blue;
    }
  }
  
  .primary-button {
    
    .arrow {
      display: none;
    }
    
    &.has-arrow {
      font-size: size(14);
      justify-content: flex-start;
      transition: padding-right $duration;
      
      .arrow {
        width: size(18);
        height: size(16);
        
        path {
          fill: CurrentColor;
        }
        
        display: flex;
        position: absolute;
        right: size(19);
        transform: translateX(size(90));
        transition: transform $duration;
      }
      
      &:hover {
        padding-right: size(64);
        
        .arrow {
          transform: translateX(0);
        }
      }
    }
  }
  
  
  &.grey {
    background-color: $cyberHill-alice-blue;
    
    .title-with-shape {
      color: $cyberHill-tangaroa;
    }
    
    .headline-3 {
      color: $cyberHill-Blue;
    }
    
    .paragraph {
      color: $cyberHill-dark-Blue !important;
    }
    
    .input-wrapper {
      width: 100%;
      
      .gform_wrapper input[type=submit] {
        border-color: $cyberHill-Blue;
        color: $cyberHill-Blue;
        margin-left: 0;
        font-size: size(16);
        @include paddingY(size(7));
        
        @include min-medium-screen {
          @include paddingY(size(15));
        }
        
        &:hover {
          border-color: transparent !important;
        }
      }
    }
    
    .primary-button {
      color: $cyberHill-Blue;
      border-color: $cyberHill-Blue;
    }
    
  }
  
  .input-wrapper {
    width: 100%;
    
    .gform_wrapper .ginput_container, .gform_wrapper .gsection_title {
      max-width: 100% !important;
    }
    
    .gform_wrapper .ginput_container input:not([type=radio]):not([type=checkbox]), .gform_wrapper .ginput_container select, .gform_wrapper .ginput_container textarea {
      color: $cyberHill-Nero;
      border-bottom: 1px solid #cad5d9;
      transition: border-bottom-color $duration;
      -webkit-appearance: none;
      border-radius: 0 !important;
      
      &::placeholder {
        transition: opacity $duration;
        color: $cyberHill-Nero;
        
      }
      
      &:focus {
        border-bottom-color: $cyberHill-Blue;
        
        &::placeholder {
          opacity: 0;
        }
        
      }
    }
    
    .gform_wrapper input[type=submit] {
      border-color: $cyberHill-Blue;
      color: $cyberHill-Blue;
      margin-left: 0;
      font-size: size(16);
      @include paddingY(size(7));
      
      @include min-medium-screen {
        @include paddingY(size(15));
      }
      
      &:hover {
        border-color: transparent !important;
      }
    }
    
    
    .gform_validation_errors {
      max-width: 100%;
      border-radius: 0;
      border: none !important;
      border-bottom: 1px solid $cyberHill-danger !important;
      box-shadow: none !important;
      
      h2 {
        color: $cyberHill-danger !important;
      }
    }
    
    .validation_message {
      color: $cyberHill-danger !important;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid $cyberHill-danger;
      letter-spacing: size(0.2);
      @include paddingY(size(10) !important);
      width: 100% !important;
      max-width: 100% !important;
    }
    
    .gfield_label {
      clip-path: none !important;
      clip: unset !important;
      //left: -35px !important;
      color: transparent !important;
      pointer-events: none !important;
      
      @include min-medium-screen {
        //left: -4% !important;
      }
      
      @include large-screen {
        //left: -7% !important;
      }
      
      .gfield_required {
        font-size: size(19);
        color: $cyberHill-danger;
      }
    }
    
  }
  
  &.blue {
    background: $cyberHill-tangaroa;
    
    .input-wrapper {
      
      .gform_wrapper .ginput_container input:not([type=radio]):not([type=checkbox]), .gform_wrapper .ginput_container select, .gform_wrapper .ginput_container textarea {
        color: $cyberHill-white !important;
        border-bottom: 1px solid $cyberHill-white;
        transition: border-bottom-color $duration;
        background-color: transparent !important;
        
        &::placeholder {
          transition: opacity $duration;
          color: $cyberHill-white !important;
          
        }
        
        &:focus {
          border-bottom-color: $cyberHill-white !important;
          
          &::placeholder {
            opacity: 0;
          }
          
        }
      }
      
      .gform_wrapper input[type=submit] {
        border-color: $cyberHill-white;
        color: $cyberHill-white;
        margin-left: 0;
        font-size: size(16);
        @include paddingY(size(7));
        
        @include min-medium-screen {
          @include paddingY(size(15));
        }
        
        &:hover {
          border-color: transparent !important;
        }
      }
      
    }
    
  }
  
  
}


