@import "styles/sites/propellerheath";


.icon_text_columns_block {
  @include paddingY(size(75));
  @include min-medium-screen {
    @include paddingY(size(60));
  }

  .title {
    font-weight: 700;
    @include marginX(auto);
    text-align: center;
    margin-bottom: size(32);
    @include min-medium-screen {
      margin-bottom: size(85);
    }
  }

  .row {
    @include change-gutter(size(45), size(45));
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include small-screen {
      max-width: size(400);
      @include marginX(auto);
    }

    picture {
      @include square(size(50));
      @include min-medium-screen {
        @include square(size(100));
      }
    }
  }

  .icon-wrapper {
    width: size(100);
    height: size(100);
    margin-bottom: size(20);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include marginX(auto);
    // this will be deleted when you use this block
    background-color: rebeccapurple;
    // // // //
    @include min-medium-screen {
      width: size(160);
      height: size(160);
    }

    img, svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    svg {
      padding: size(25);
    }
  }

  .description {
    text-align: center;
  }

  .sub-description {
    text-align: center;
    @include marginY(size(8), size(25));
  }


  .cta-button {
    @include marginX(auto);
    margin-top: size(75);
  }

  .link {
    margin-top: auto;

  }
}


