
@import "styles/sites/cyberhill";


.customer_stories_block {
  font-family: $space-grotesk;
  background-color: #fff;
  .container {
    @include small-screen {
      @include paddingX(0)
    }
  }
  
  .customer {
    background-color: $cyberHill-alice-blue;
    padding-bottom: size(130);
    @include min-medium-screen {
      background-color: $cyberHill-white;
      @include paddingY(size(80), size(58));
    }
    @include large-screen {
      min-height: size(866);
      @include paddingY(size(160), size(116));
    }
    
    
    .title-with-shape {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: size(48);
      line-height: 1.5;
      @include min-medium-screen {
        position: relative;
        margin-bottom: size(24);
      }
      
    }
    
    .swiper {
      
      .swiper-slide {
        display: flex;
        justify-content: center;
        overflow: hidden;
        min-height: size(453);
        width: 100%;
        
        .content {
          display: flex;
          flex-direction: column;
          width: 100%;
          @include min-medium-screen {
            flex-direction: row-reverse;
            justify-content: space-between;
          }
          
          .right-side {
            min-height: size(375);
            margin-bottom: size(48);
            @include min-medium-screen {
              @include flexBasis(49%);
              min-height: auto;
            }
            
            .aspect-ratio {
              padding-top: 100%;
            }
          }
          
          .left-side {
            @include paddingX(size(44));
            
            @include min-medium-screen {
              padding-left: 0;
            }
            @include min-medium-screen {
              @include flexBasis(50%);
            }
          }
        }
        
        .headline-3 {
          font-family: $macklin;
          color: $cyberHill-Blue;
          padding-top: size(2);
          margin-bottom: size(16);
          @include text-lines(2);
          min-height: size(64);
          @include min-medium-screen {
            font-size: size(28);
            margin-bottom: size(0);
          }
          @include large-screen {
            font-size: size(48);
            margin-bottom: size(24);
            @include text-lines(2);
            
          }
        }
        
        .paragraph {
          margin-bottom: size(24);
          padding-top: size(2);
          @include text-lines(4);
          min-height: size(130);
          
          @include min-medium-screen {
            width: size(350);
            margin-top: size(16);
            margin-bottom: size(35);
            min-height: size(100);
            @include text-lines(3);
            
          }
          @include large-screen {
            margin-bottom: size(20);
            width: size(432);
          }
          
        }
        
      }
      
      .next {
        padding-top: size(2);
        margin-bottom: size(32);
      }
      
      .small-text-14 {
        padding-top: size(2);
        color: $cyberHill-Blue;
      }
    }
    
    
    .card-arrow {
      display: flex;
      align-items: center;
      
      button {
        display: flex;
        align-items: center;
        //margin-right: size(8);
        width: size(48);
        height: size(48);
        border: size(1) solid $cyberHill-Blue;
        border-radius: size(32);
        transition: border-color 500ms, color 500ms, background 500ms;
        z-index: 99;
        cursor: pointer;
        
        @include max-medium-screen {
          &.add-active {
            border-color: $cyberHill-light-green;
            background: $cyberHill-light-green;
            color: $cyberHill-Blue;
          }
        }
        
        @include large-screen{
          &:hover{
            border-color: $cyberHill-light-green;
            background: $cyberHill-light-green;
            color: $cyberHill-Blue;
          }
        }
      }
      
      .swiper-button-prev {
        margin-right: size(8);
        //left: size(44);
        background-color: transparent;
        @include large-screen {
          left: size(162);
        }
      }
      
      .swiper-button-next {
        background-color: transparent;
        //left: size(100);
        @include large-screen {
          left: size(218);
        }
      }
      
      .swiper-button-prev:after {
        content: '';
        
      }
      
      .swiper-button-next:after {
        content: '';
      }
      
    }
    
    
    .next-slide-title {
      @include text-lines(1);
    }
  }
  
  .swiper-scrollbar {
    position: static !important;
    bottom: size(127);
    padding: size(15) 0;
    height: 2px;
    background-clip: content-box;
    box-sizing: content-box;
    cursor: grab;
    width: 100%;
    @include min-medium-screen {
      width: 80%;
    }
    @include large-screen {
      
      margin-left: 0;
    }
  }
  
  .swiper-pagination-fraction {
    font-size: size(14);
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    
  }
  
  .swiper-container {
    @include max-medium-screen {
      overflow: visible;
    }
  }
  
  .moves {
    position: absolute;
    bottom: -7.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include paddingX($container-padding-sm);
    
    @include min-medium-screen {
      width: 50%;
      bottom: size(20);
      padding: 0;
      align-items: flex-start;
    }
    @include large-screen {
      bottom: size(45);
    }
  }
  
  .s-btn {
    display: flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
    margin-top: size(16);
    width: 100%;
    
    @include min-medium-screen {
      width: 80%;
    }
    
  }
  
  &.blue {
    .customer {
      background-color: transparent;
    }
    
    .small-text-14, .next-slide-title {
      color: $cyberHill-white !important;
    }
    
    .swiper-scrollbar {
      background-color: #CAD5D9;
    }
    
    .swiper-button {
      border: 1px solid $cyberHill-white;
      
      &:not(&-disabled) {
        
        &:hover {
          
          border-color: $cyberHill-light-green !important;
        }
      }
      
      svg {
        color: $cyberHill-white;
      }
    }
    
    .swiper-scrollbar-drag {
      background-color: $cyberHill-light-green;
      
    }
    
    .swiper-pagination-fraction {
      color: $cyberHill-white;
      
      span {
        color: $cyberHill-white;
      }
      
      
    }
    
    .card-arrow {
      
      button {
        border-color: $cyberHill-white;
        
        svg {
          path {
            fill: $cyberHill-white;
          }
        }
        
        &:hover {
          svg {
            path {
              fill: $cyberHill-Blue;
            }
          }
        }
      }
    }
  }
  
  &.grey {
    .customer {
      background-color: transparent;
    }
    
  }
}






