@import "styles/sites/headversity";


.product_fixed_viewport {
  @include paddingY(size(67), size(82));
  @include large-screen {
    @include paddingY(size(125), size(88));
  }

  .container {
    @include small-screen {
      @include paddingX(size(30))
    }
  }

  .block-title {
    @include marginX(auto);
    text-align: center;
    position: relative;
    @include small-screen {
      margin-bottom: size(64);
      max-width: size(346);
    }
    @include min-medium-screen {
      width: size(450);
      margin-bottom: size(64);
    }
    @include large-screen {
      width: size(600);
      line-height: size(52);
      margin-bottom: size(100);
    }

  }

  .top_button {
    @include marginX(auto);
    margin-top: size(35);
  }

  .block-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    @include min-medium-screen {
      align-items: center;
    }
    @include small-screen {
      flex-direction: column;
    }
  }

  .image-wrapper {
    position: relative;
    margin-bottom: size(40);
    height: fit-content;

    @include min-medium-screen {
      @include flexBasis(45.84%);
      margin-bottom: unset;
    }

    .ellipse {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 300ms;
    }


  }

  .mobile-wrapper {
    &.desktop {
      width: 87.3%;

      .pic-2 {
        padding-top: 62.7%;
      }
    }
  }

  .text-screen-case {
    &.desktop {
      .pic-1 {
        @include small-screen {
          left: 0;

        }
        left: -16%;
      }

      .pic-3 {
        @include small-screen {
          right: 0;

        }
        right: -16%;
        left: unset;
      }
    }
  }

  .mobile-wrapper {
    width: size(128);
    @include marginX(auto);
    opacity: 0;
    transition: opacity 300ms;

    &:not(:first-of-type) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    @include min-medium-screen {
      width: size(190);
    }
    @include large-screen {
      width: size(235);
    }

    &.active {
      opacity: 1;

      .ellipse {
        opacity: 0.3;

        //opacity: 1;
      }
    }
  }

  .pic-2 {
    width: 100%;
    height: 100%;
    padding-top: 194.5%;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
    border-radius: size(10);
    @include min-medium-screen {
      border-radius: size(30);
    }
    @include large-screen {
      padding-top: 195.7%;
    }

    * {
      border-radius: size(10);
      @include min-medium-screen {
        border-radius: size(30);
      }
    }
  }

  .small-card {
    position: absolute;
    width: size(111);
    height: size(45);
    @include min-medium-screen {
      width: size(150);
      height: size(65);
    }
    @include large-screen {
      width: size(205);
      height: size(84);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .small-box {
    @include large-screen {
      width: size(205);
      height: size(84);
      display: flex;
      align-items: center;
      background-color: $headversity_white;
    }
  }

  .rounded {
    border-radius: 50%;
    overflow: hidden;
    @include square(size(80));
    @include min-medium-screen {
      @include square(size(130));
    }
    @include large-screen {
      @include square(size(173.47));
    }
  }

  .pic-1 {
    top: 26%;
    right: 62%;
    transform: translateX(-20%);

    @include large-screen {
      transform: translateX(5%);
      left: 0;
      right: unset;
    }
  }

  .pic-3 {
    bottom: 29%;
    left: 62%;
    transform: translateX(20%);
    @include min-medium-screen {
      right: 0;
      left: unset;
      transform: translateX(-12%);
    }
    @include large-screen {

      transform: translateX(-5%);
    }

  }

  .yellow-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    @include square(size(205));
    border-radius: 50%;
    border: 2px solid $headversity_orange;
    @include min-medium-screen {
      @include square(size(300));
    }
    @include large-screen {
      @include square(size(381));
    }


    img {
      width: 100%;
      height: 100%;
    }
  }

  .my-ellipse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, #FAC20A 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.3;
    @include square(size(446));
    @include large-screen {
      @include square(size(824));

    }
  }

  //text section
  .mySwiper {
    width: 100%;
    padding-top: size(40);
    cursor: pointer;
    @include min-medium-screen {
      width: 38.5%;
      padding-top: unset;

    }
  }

  .text-screen-case {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;

    &.active {
      opacity: 1;
    }
  }

  .text-wrapper {
    width: 100%;
    transition: opacity 300ms;
    padding-left: size(19);
    opacity: 0;
    pointer-events: none;
    @include min-medium-screen {
      padding-right: size(10);
    }

    &:not(:first-of-type) {
      position: absolute;
    }

    &.active {
      opacity: 1;
      pointer-events: auto;
    }

    .section-title {
      @include font(24px, 600, 30px, $headversity_dark_blue, $poppins, normal);
      margin-bottom: size(14);
      @include large-screen {
        @include font-size(32px, 40px);

      }

    }

    .section-desc {
      @include small-screen {
        margin-bottom: size(39);
      }
      @include min-medium-screen {
        margin-bottom: size(20);
      }
      @include large-screen {
        margin-bottom: size(39);

      }

    }

  }

  .steps-dots-wrapper {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: fit-content;
    @include small-screen {
      padding-left: size(19);
      margin-top: size(10);
      @include marginX(auto)
    }
    @include min-medium-screen {
      position: absolute;
      left: 65%;
      bottom: size(-50);
      transform: translateX(-50%);
    }
    @include large-screen {
      left: 66%;
      bottom: 0;
    }
  }

  .step-dot {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    cursor: pointer;
    transition: background 300ms;
    background-color: #E9E9E9;
    @include square(size(10));
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: content-box;
    box-sizing: content-box;
    padding: size(5);
    @include min-medium-screen {
      @include square(size(15.53));
    }

    &:not(:last-of-type) {
      margin-right: size(10);
    }

    &:hover {
      background-color: $headversity_yellow;
    }

    &.active {
      background-color: $headversity_orange;
    }
  }

  .text-overflow {
    @include flexBasis(100%);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    align-items: center;
    @include small-screen {
      margin-top: size(30);
    }
    @include min-medium-screen {
      @include flexBasis(42%);
      margin-top: size(20);
    }
    @include large-screen {
      padding-top: size(50);
      margin-bottom: size(50);
      @include flexBasis(40%);
    }
  }

  &.has-main-image {
    .container {
      @include small-screen {
        @include paddingX(0);
      }
      @include min-medium-screen {
        padding-left: 0;
      }
    }

    .image-wrapper {
      @include small-screen {
        width: 100%;
      }
      width: 56.5%;
    }

    .main-img {
      padding-top: 111.43%;
    }

    .mySwiper {
      @include min-medium-screen {
        width: 36.3%;
      }
    }

    .text-wrapper {
      @include small-screen {
        @include paddingX(size(25));
        @include marginX(auto);

      }
      padding-top: size(45);
      @include large-screen {
        padding-top: size(91);
      }

      .with-main-img-title {
        margin-bottom: size(60);
        @include large-screen {
          margin-bottom: size(120);
        }
      }

      .section-title {
        margin-bottom: size(32);
      }

    }

  }

}
