.autoplay-swiper-cont {
  overflow: hidden;
  width: 100%;
  
  .autoplay-swiper {
    display: flex;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: autoplay;
    @keyframes autoplay {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
        
      }
    }
    
    .autoplay-swiper-wrapper {
      display: flex;
      align-items: center;
      
      .autoplay-swiper-slide {
        height: 100%;
        flex-shrink: 0;
      }
    }
  }
}