@import "variables";
@import "mixins";
@import "swiper/css";

.homePage {
  @include flex();
  width: 100vw;
  height: 100vh;
  
  .preloader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    z-index: 99999999;
    
    svg {
      width: 30vw;
      animation: preloaderOpacity 2s infinite alternate;
    }
    
    @keyframes preloaderOpacity {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }
}

//Start sidebar section
.sideBar {
  flex: 0 0 17vw;
  width: 17vw;
  min-width: size(326);
  background-color: $n-blacks-squeeze;
  
  .companyLogo {
    @include marginY(size(58));
  }
  
  .sideBar_links {
    @include marginY(size(25.5));
    display: flex;
    flex-direction: column;
    
    .sideBar_link {
      @include flex(center);
      @include marginY(size(18.5));
      @include paddingY(size(4));
      cursor: pointer;
      
      .headline-3-light {
        color: $cello;
      }
      
      .sideBar_link_icon {
        @include marginX(0, size(40));
        
        svg {
          color: $cello;
          @include square(size(28));
        }
      }
      
      &:hover {
        .headline-3-light {
          color: $p-java;
        }
        
        .sideBar_link_icon {
          svg {
            color: $p-java;
          }
        }
      }
    }
    
    
    .active_sideBar_link {
      .headline-3-light {
        @include font(size(24), 700, 112.5%, $p-java);
      }
      
      .sideBar_link_icon {
        svg {
          color: $p-java;
        }
      }
    }
  }
  
  .modeSwitchCont {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6.67%;
    
    input[type=checkbox] {
      height: 0;
      width: 0;
      visibility: hidden;
    }
    
    label {
      cursor: pointer;
      text-indent: -9999px;
      width: 61px;
      height: 30px;
      border-radius: 50px;
      border: 1px solid $emperor;
      background-color: $titan-white;
      margin: 0 auto;
      position: relative;
      @include flex(center, center);
    }
    
    .switchIcon {
      position: absolute;
      background-color: $p-java;
      width: 21px;
      height: 20px;
      border-radius: 50%;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
      transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
      
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $titan-white;
      }
    }
    
    input:checked + label {
      background: $p-java;
    }
    
    input:checked + label .switchIcon {
      left: calc(100% - 8px);
      transform: translate(-100%, -50%);
      background-color: $titan-white;
      
      svg {
        color: $p-java;
      }
    }
  }
}

//End sidebar section

main {
  flex: 1 1 83vw;
  min-height: 100vh;
  overflow: auto;
  display: block;
  background: $white;
  
  .loaderCont {
    position: fixed;
    width: 83vw;
    left: 17vw;
    background: $white;
    z-index: 99999;
    display: none;
    justify-content: center;
  }
}

//Start Header Section
.header {
  @include paddingY(size(25));
  position: fixed;
  width: calc(83vw - 4px);
  @supports (-moz-appearance:none) {
    width: calc(83vw - 17px);
  }
  
  top: 0;
  left: 17vw;
  z-index: 9;
  background: $white;
  transition: top 0.5s;
  
  .container {
    @include flex(center, space-between);
  }
  
  .searchInputCont {
    max-width: 49.7%;
    flex: 1 1;
    border: size(2) solid $gallery;
    background-color: transparent;
    @include paddingY(size(6));
    @include paddingX(size(29));
    @include flex(center);
    
    label {
      width: size(20);
      height: size(18);
      margin-right: size(22);
      
      svg {
        @include square(100%);
      }
    }
    
    #searchInput {
      flex: 1 1;
      height: 100%;
      padding: 0;
      border: none;
      background: transparent;
      outline: none;
      color: $dusty-gray;
      
      &::placeholder {
        color: $dusty-gray;
        
      }
    }
  }
  
  .libraryLogo {
    svg {
      width: size(259);
    }
    
    @include marginX(8.5%);
  }
}

//End Header Section

//Start Animations Section
.animations {
  margin-top: size(70);
  
  .animation_screenshot {
    cursor: pointer;
    position: relative;
    border-radius: size(13);
    min-height: 190px;
  
    img {
      border-radius: inherit;
    }
    
    .animation_screenshot_overlay {
      opacity: 0;
      @include flex(center, center);
      position: absolute;
      border-radius: inherit;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      transition: opacity 0.6s ease;
      background: linear-gradient(rgba(8, 255, 200, 0.7) 0%, rgba(21, 183, 185, 0.7) 100%);
      
      p {
        font-size: size(28);
        color: #ffffff;
      }
    }
    
    &:hover {
      .animation_screenshot_overlay {
        opacity: 1;
      }
    }
  }
  
  .grid {
    margin: 0 auto;
    
    .grid-sizer,
    .grid-item {
      width: 100%;
      @media (min-width: 992px) {
        width: 25%;
      }
    }
    
    .grid-item {
      
      @include paddingX(size(9));
      margin-bottom: 15px;
      
      img {
        display: block;
        width: 100%;
      }
    }
    
    .gutter-sizer {
      width: size(18);
    }
  }
  
}

//End Animations Section

//Start Modal
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  .modal_loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: $white;
    z-index: 9;
    @include flex(center, center);
  }
  
  
  &.showModal {
    opacity: 1;
    z-index: 99;
    animation: show .5s;
    transform: scale(1);
    @keyframes show {
      from {
        transform: scale(0);
        opacity: 0;
        z-index: -1;
      }
      to {
        transform: scale(1);
        opacity: 1;
        z-index: 2;
      }
    }
  }
  
  .modal-content {
    margin: auto;
    @include square(100%);
    background-color: $cello;
    
    .closeBtn {
      position: absolute;
      top: 0;
      right: 0;
      margin: 5px size(25);
      padding: 5px size(25);
      color: #fff;
      mix-blend-mode: difference;
      font-size: 28px;
      font-weight: bold;
      transform: rotate(0deg);
      transition: transform 0.3s ease;
      z-index: 10;
    }
    
    .closeBtn:hover,
    .closeBtn:focus {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      transform: rotate(180deg);
    }
    
    .animation_iframe {
      width: 100%;
      height: 100%;
      position: relative;
      transform-origin: top left;
      
      .iframe_wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.8s ease;
        z-index: -1;
        opacity: 0;
        
        &:first-child {
          z-index: 0;
          opacity: 1;
        }
      }
    }
    
    
  }
  
  .modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    @include paddingX(size(50));
    padding-bottom: size(20);
    @include flex(center, space-between);
    
    .sliderNavigation {
      font-size: size(40);
      
      .prevBtn, .nextBtn {
        text-align: center;
        display: inline-block;
        mix-blend-mode: difference;
        cursor: pointer;
        @include square(size(80));
        background-color: #ffffff;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        
        .prevBtnTxt, .nextBtnTxt {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #000;
        }
        
      }
      
      .prevBtn {
        &:hover {
          .prevBtnTxt {
            animation: prevHover 0.35s ease;
            @keyframes prevHover {
              0% {
                left: 50%;
              }
              25% {
                left: 25%;
              }
              50% {
                left: 75%;
              }
              100% {
                left: 50%;
              }
            }
          }
        }
      }
      
      .nextBtn {
        &:hover {
          .nextBtnTxt {
            animation: nextHover 0.35s ease;
            @keyframes nextHover {
              0% {
                left: 50%;
              }
              25% {
                left: 75%;
              }
              50% {
                left: 25%;
              }
              100% {
                left: 50%;
              }
            }
          }
        }
      }
    }
    
    .sourceCodeBtn, .originalPageBtn {
      color: $dusty-gray;
      font-size: size(28);
      mix-blend-mode: difference;
      background: none;
      cursor: pointer;
      
      &:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $dusty-gray;
        transition: width .3s;
      }
      
      &:hover::after {
        width: 100%;
      }
    }
    
  }
}

//End Modal

//Start Mobile Alert
.mobileAlert {
  @include paddingY(size(38));
  background-color: #ffffff;
  position: fixed;
  z-index: 99999999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  text-align: center;
  display: none;
  
  .container {
    width: 100%;
    height: 100%;
    @include flex(center, space-between, column);
    
  }
  
  .logo {
    width: 66%;
    display: block;
    margin: 0 auto;
  }
  
  h3 {
    @include paddingX(size(3));
    font-size: size(30);
    font-weight: 700;
    color: #000000;
    margin-top: size(30);
  }
  
  a {
    display: inline-block;
    color: #15b7b9;
    font-size: size(20);
    font-weight: 800;
    text-align: center;
    text-decoration: underline;
    margin-bottom: size(80);
  }
}

//End Mobile Alert
