// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 991.98px;


$medium-screen-min-width: 600px;
$large-screen-min-width: 992px;

// color

// fonts
$montserrat: 'Montserrat';
$Lato: 'Lato';
//default duration
$duration: 500ms;
//override bootstrap variables
$grid-gutter-width: 4rem;
$container-padding-sm: 2.4rem;
$container-padding-md: 8rem;
$container-padding-lg: 20rem;
$container-max-widths: (
    'md': 100%, //570px
    'lg': 168rem, //760px 88.4
);
$grid-breakpoints: (
    'xs': 0,
    'md': $medium-screen-min-width,
    'lg': $large-screen-min-width,
);