@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --p-bright-turquoise: #0fd8c0;
    --p-java: #15b7b9;
    --p-linear: linear-gradient(#08ffc8 0%, #15b7b9 100%);
    --s-casablanca: #f7ce46;
    --s-froly: #f57170;
    --n-blacks-squeeze: #eff3f9;
    --n-link-water: #d4e5f2;
    --d-shark1: #282c31;
    --d-shark2: #212427;
    --cello: #204969;
    --gallery: #ebebeb;
    --titan-white: #fdfdff;
    --dusty-gray: #979797;
    --emperor: #4f4f4f;
    --white: #fff;
    --black: #000;
    --heather: #b8c0cc;
    --puerto-rico: #50bfa5;
}

:root[data-theme=dark] {
    --n-blacks-squeeze: #282c31;
    --cello: #d0d5dd;
    --white: #212427;
    --gallery: #4c4c4c;
    --heather: #64748b;
    --black: rgba(255, 255, 255, 0.8);
}

*, :before, :after {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 10px;
    font-family: "Nunito";
    width: 100vw;
    scrollbar-color: var(--cello) rgba(0, 0, 0, 0.2);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 4px;
    /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    background: var(--cello);
}

.hide-scrollbar {
    scrollbar-width: none !important;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

body, html {
    overflow-x: hidden;
    font-family: "Nunito";
}

a {
    text-decoration: none;
    color: inherit;
}

img, picture {
    display: block;
}

picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, form {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.section {
    position: relative;
}

.line-overflow,
.word-overflow {
    overflow: hidden;
    vertical-align: top;
}

.aspect-ratio {
    position: relative;
    height: 0;
}

.aspect-ratio img, .aspect-ratio video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cover-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.cover-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

:root {
    --p-bright-turquoise: #0fd8c0;
    --p-java: #15b7b9;
    --p-linear: linear-gradient(#08ffc8 0%, #15b7b9 100%);
    --s-casablanca: #f7ce46;
    --s-froly: #f57170;
    --n-blacks-squeeze: #eff3f9;
    --n-link-water: #d4e5f2;
    --d-shark1: #282c31;
    --d-shark2: #212427;
    --cello: #204969;
    --gallery: #ebebeb;
    --titan-white: #fdfdff;
    --dusty-gray: #979797;
    --emperor: #4f4f4f;
    --white: #fff;
    --black: #000;
    --heather: #b8c0cc;
    --puerto-rico: #50bfa5;
}

:root[data-theme=dark] {
    --n-blacks-squeeze: #282c31;
    --cello: #d0d5dd;
    --white: #212427;
    --gallery: #4c4c4c;
    --heather: #64748b;
    --black: rgba(255, 255, 255, 0.8);
}

.container {
    padding-right: 3.3rem;
    padding-left: 3.3rem;
}

.headline-2 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 112.5%;
    color: var(--p-bright-turquoise);
}

.headline-3-bold {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 112.5%;
    color: var(--p-bright-turquoise);
}

.headline-3-light {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 112.5%;
    color: var(--p-bright-turquoise);
}

.loader {
    border: 10px solid var(--n-blacks-squeeze);
    border-radius: 50%;
    border-top: 10px solid var(--p-java);
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.homePage {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.homePage .preloader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    z-index: 99999999;
}

.homePage .preloader svg {
    width: 30vw;
    animation: preloaderOpacity 2s infinite alternate;
}

@keyframes preloaderOpacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.sideBar {
    flex: 0 0 17vw;
    width: 17vw;
    min-width: 32.6rem;
    background-color: var(--n-blacks-squeeze);
    overflow: auto;
}

.sideBar .companyLogo {
    margin-top: 5.8rem;
    margin-bottom: 5.8rem;
}

.sideBar .sideBar_links {
    margin-top: 10rem;
    margin-bottom: 2.55rem;
    display: flex;
    flex-direction: column;
}

.sideBar .sideBar_links .sideBar_link {
    display: flex;
    align-items: center;
    margin-top: 1.85rem;
    margin-bottom: 1.85rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    cursor: pointer;
}

.sideBar .sideBar_links .sideBar_link .headline-3-light {
    color: var(--cello);
}

.sideBar .sideBar_links .sideBar_link .sideBar_link_icon {
    margin-right: 4rem;
    margin-left: 0;
}

.sideBar .sideBar_links .sideBar_link .sideBar_link_icon svg {
    color: var(--cello);
    width: 2.8rem;
    height: 2.8rem;
}

.sideBar .sideBar_links .sideBar_link:hover .headline-3-light {
    color: var(--p-java);
}

.sideBar .sideBar_links .sideBar_link:hover .sideBar_link_icon svg {
    color: var(--p-java);
}

.sideBar .sideBar_links .active_sideBar_link .headline-3-light {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 112.5%;
    color: var(--p-java);
}

.sideBar .sideBar_links .active_sideBar_link .sideBar_link_icon svg {
    color: var(--p-java);
}

.sideBar .modeSwitchCont {
    position: absolute;
    left: 3.3rem;
    /*transform: translateX(-50%);*/
    top: 14rem;
}

.sideBar .modeSwitchCont input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.sideBar .modeSwitchCont label {
    cursor: pointer;
    text-indent: -9999px;
    width: 61px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid var(--emperor);
    background-color: var(--titan-white);
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideBar .modeSwitchCont .switchIcon {
    position: absolute;
    background-color: var(--p-java);
    width: 21px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}

.sideBar .modeSwitchCont .switchIcon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--titan-white);
}

.sideBar .modeSwitchCont input:checked + label {
    background: var(--p-java);
}

.sideBar .modeSwitchCont input:checked + label .switchIcon {
    left: calc(100% - 8px);
    transform: translate(-100%, -50%);
    background-color: var(--titan-white);
}

.sideBar .modeSwitchCont input:checked + label .switchIcon svg {
    color: var(--p-java);
}

main {
    flex: 1 1 83vw;
    min-height: 100vh;
    overflow: auto;
    display: block;
    background: var(--white);
}

main .loaderCont {
    position: fixed;
    width: 83vw;
    left: 17vw;
    background: var(--white);
    z-index: 99999;
    display: none;
    justify-content: center;
}

.header {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    position: fixed;
    width: calc(83vw - 4px);
    top: 0;
    left: 17vw;
    z-index: 9;
    background: var(--white);
    transition: top 0.5s;
}

@supports (-moz-appearance: none) {
    .header {
        width: calc(83vw - 17px);
    }
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .searchInputCont {
    max-width: 49.7%;
    flex: 1 1;
    /*border: 0.2rem solid var(--gallery);*/
    background-color: transparent;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    /*padding-right: 2.9rem;*/
    /*padding-left: 2.9rem;*/
    display: flex;
    /*align-items: center;*/
}

.header .searchInputCont label {
    width: 100%;
    /*height: 1.8rem;*/
    height: 42px;
    /*margin-right: 2.2rem;*/
}

.header .searchInputCont label span {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select2-container {
    display: block !important;
}

.select2-selection--multiple {
    display: flex !important;
}

.header .searchInputCont label ul {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
}

.header .searchInputCont label ul li {
    height: 24px;
    font-family: Nunito;
    font-size: 14px;
    line-height: 33px;
    color: #979797;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.select2-results__options {
    font-family: Nunito;
    font-size: 14px;
    line-height: 33px;
    color: #979797;
}

.header .searchInputCont label textarea::placeholder {
    /*width: 100%!important;*/
    font-family: Nunito;
    font-size: 24px;
    line-height: 33px;
    color: #979797;
}

.header .searchInputCont label textarea {
    width: 100% !important;
    height: 100% !important;
    margin-top: 0 !important;
    font-family: Nunito !important;
    font-size: 24px !important;
    line-height: 33px;
    color: #979797;
}

.header .searchInputCont label svg {
    width: 100%;
    height: 100%;
}

.header .searchInputCont #searchInput {
    flex: 1 1;
    height: 100%;
    padding: 0;
    border: none;
    background: transparent;
    outline: none;
    color: var(--dusty-gray);
}

.header .searchInputCont #searchInput::placeholder {
    color: var(--dusty-gray);
}

.header .libraryLogo {
    margin-right: 8.5%;
    margin-left: 8.5%;
}

.header .libraryLogo svg {
    width: 25.9rem;
}

.animations {
    margin-top: 7rem;
}

.animations .animation_screenshot {
    cursor: pointer;
    position: relative;
    border-radius: 1.3rem;
    min-height: 190px;

}

.animations .animation_screenshot img {
    border-radius: inherit;
}

.animations .animation_screenshot .animation_screenshot_overlay {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.6s ease;
    background: linear-gradient(rgba(8, 255, 200, 0.7) 0%, rgba(21, 183, 185, 0.7) 100%);
}

.animations .animation_screenshot .animation_screenshot_overlay p {
    font-size: 2.8rem;
    color: #ffffff;
}

.animations .animation_screenshot:hover .animation_screenshot_overlay {
    opacity: 1;
}

.animations .grid {
    margin: 0 auto;
}

.animations .grid .grid-sizer,
.animations .grid .grid-item {
    width: 100%;
}

@media (min-width: 992px) {
    .animations .grid .grid-sizer,
    .animations .grid .grid-item {
        width: 25%;
    }
}

.animations .grid .grid-item {
    padding-right: 0.9rem;
    padding-left: 0.9rem;
    margin-bottom: 15px;
}

.animations .grid .grid-item img {
    display: block;
    width: 100%;
}

.animations .grid .gutter-sizer {
    width: 1.8rem;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    z-index: -1;
    opacity: 0;
    transform: scale(0);
}

.modal .modal_loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: var(--white);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.showModal {
    opacity: 1;
    z-index: 99;
    animation: show 0.5s;
    transform: scale(1);
}

@keyframes show {
    from {
        transform: scale(0);
        opacity: 0;
        z-index: -1;
    }
    to {
        transform: scale(1);
        opacity: 1;
        z-index: 2;
    }
}

.modal .modal-content {
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: var(--cello);
}

.modal .modal-content .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 2.5rem;
    padding: 5px 2.5rem;
    color: #fff;
    mix-blend-mode: difference;
    font-size: 28px;
    font-weight: bold;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    z-index: 10;
}

.modal .modal-content .closeBtn:hover,
.modal .modal-content .closeBtn:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transform: rotate(180deg);
}

.modal .modal-content .animation_iframe {
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: top left;
}

.modal .modal-content .animation_iframe .iframe_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: all 0.8s ease;
    z-index: -1;
    opacity: 0;
}

.modal .modal-content .animation_iframe .iframe_wrapper:first-child {
    z-index: 0;
    opacity: 1;
}

.modal .modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal .modal-footer .sliderNavigation {
    font-size: 4rem;
}

.modal .modal-footer .sliderNavigation .prevBtn, .modal .modal-footer .sliderNavigation .nextBtn {
    text-align: center;
    display: inline-block;
    mix-blend-mode: difference;
    cursor: pointer;
    width: 8rem;
    height: 8rem;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.modal .modal-footer .sliderNavigation .prevBtn .prevBtnTxt, .modal .modal-footer .sliderNavigation .prevBtn .nextBtnTxt, .modal .modal-footer .sliderNavigation .nextBtn .prevBtnTxt, .modal .modal-footer .sliderNavigation .nextBtn .nextBtnTxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

.modal .modal-footer .sliderNavigation .prevBtn:hover .prevBtnTxt {
    animation: prevHover 0.35s ease;
}

@keyframes prevHover {
    0% {
        left: 50%;
    }
    25% {
        left: 25%;
    }
    50% {
        left: 75%;
    }
    100% {
        left: 50%;
    }
}

.modal .modal-footer .sliderNavigation .nextBtn:hover .nextBtnTxt {
    animation: nextHover 0.35s ease;
}

@keyframes nextHover {
    0% {
        left: 50%;
    }
    25% {
        left: 75%;
    }
    50% {
        left: 25%;
    }
    100% {
        left: 50%;
    }
}

.modal .modal-footer .sourceCodeBtn, .modal .modal-footer .originalPageBtn {
    color: var(--dusty-gray);
    font-size: 2.8rem;
    mix-blend-mode: difference;
    background: none;
    cursor: pointer;
}

.modal .modal-footer .sourceCodeBtn:after, .modal .modal-footer .originalPageBtn:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--dusty-gray);
    transition: width 0.3s;
}

.modal .modal-footer .sourceCodeBtn:hover::after, .modal .modal-footer .originalPageBtn:hover::after {
    width: 100%;
}

.mobileAlert {
    padding-top: 3.8rem;
    padding-bottom: 3.8rem;
    background-color: #ffffff;
    position: fixed;
    z-index: 99999999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    text-align: center;
    display: none;
}

.mobileAlert .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.mobileAlert .logo {
    width: 66%;
    display: block;
    margin: 0 auto;
}

.mobileAlert h3 {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
    margin-top: 3rem;
}

.mobileAlert a {
    display: inline-block;
    color: #15b7b9;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 8rem;
}

/*# sourceMappingURL=style.css.map */
