@import "styles/sites/raistone";
@import "~swiper/css";


.finance_and_technology_block {
  background-color: $raistone_aluminium;
  @include paddingY(size(80), size(115));
  z-index: 2;
  overflow: hidden;
  @include min-medium-screen {
    @include paddingY(size(101), size(200));
  }
  @include large-screen {
    @include paddingY(size(150), size(247));

  }

  .title {
    text-align: center;
    color: $raistone_jet_black;
    max-width: size(306);
    margin-bottom: size(26);
    @include marginX(auto);
    @include min-medium-screen {
      max-width: size(616);
    }
    @include large-screen {
      margin-bottom: size(28);
    }
  }

  .description {
    max-width: size(317);
    text-align: center;
    color: $raistone_gery;
    @include marginX(auto);
    margin-bottom: size(130);
    @include min-medium-screen {
      max-width: size(582);
      margin-bottom: size(180);
    }
    @include large-screen {
      max-width: size(806);
      margin-bottom: size(40);
    }

  }

  .boxes {
    transition-timing-function: linear;
  }

  .box {
    @include paddingX(size(20), size(17));
    @include paddingY(size(21), size(37));
    flex-shrink: 0;
    border-radius: size(7.88546);
    background-color: $raistone_jet_black;
    @include marginX(auto);
    //width: size(350);
    //margin-right: size(18);
    @include min-medium-screen {
      @include paddingX(size(43), size(25));
      @include paddingY(size(31), size(50));
      //width: size(518);
      //margin-right: size(43);
    }
    @include large-screen {
      //width: size(710);
      //margin-right: size(56);
      @include paddingX(size(57), size(57));
      @include paddingY(size(46), size(74));
    }

    .icon {
      width: size(80);
      height: size(79);
      margin-bottom: size(-24);
      margin-left: auto;
      @include min-medium-screen {
        width: size(120);
        height: size(117);
      }
      @include large-screen {
        width: size(164);
        height: size(150);
      }

      svg, img {
        @include square(100%);
      }

      img {
        object-fit: contain;
      }
    }

    .card-image {
      max-width: 100%;

      img {
        max-width: 100%;
        height: auto;
        max-height: size(140);
        object-fit: contain;
        margin: 0 auto;
      }
    }

    &.content-only-logo {
      @include paddingY(size(40));
      @include large-screen {
        @include paddingY(size(60));

      }
    }

    &:nth-child(even) {
      margin-top: size(70);

      @include large-screen {
        margin-top: size(209);
      }
    }

  }

  .price {
    font-weight: 700;
    margin-bottom: size(7);
    @include min-medium-screen {
      margin-bottom: size(12);
    }
    @include large-screen {
      font-weight: 600;
      @include font-size(64px, 77px);
      margin-bottom: size(20);
    }
  }

  .only-logo {
    .icon {
      width: 100%;
      margin-bottom: 0;
    }
  }

  .box-description {

    @include large-screen {
      @include font-size(32px, 40px);
    }
  }


  .line {
    display: none;
    @include large-screen {
      display: block;
      z-index: -1;
      position: absolute;
      bottom: 0;

    }
  }

  .line-1 {
    @include large-screen {
      width: size(700);
      height: size(700);
      left: -3%;
      bottom: 0;
    }
  }

  .line-2 {
    @include large-screen {
      display: block;
      width: size(982);
      height: size(885);
      right: 0;
    }
  }

  .dash-line {
    @include min-medium-screen {
      position: absolute;

    }

  }

  .dash-line-1 {
    width: size(237);
    height: size(106);
    left: size(-142);
    position: absolute;
    top: 43%;
    @include min-medium-screen {
      width: size(267);
      height: size(136);
      left: size(-142);
      top: 35%;
    }

    @include large-screen {
      top: 18%;
      left: -7.7%;
      width: size(357);
    }
  }

  .dash-line-2 {
    height: size(96);
    right: size(-282);
    bottom: size(-20);
    position: absolute;
    @include min-medium-screen {
      height: size(96);
      right: size(-282);
      bottom: size(-20);
    }
    @include large-screen {
      height: size(136);
      right: size(-210);
      bottom: size(52)
    }
  }

  .avatar {
    //display: none;
    @include square(size(68));
    border-radius: 50%;
    @include min-medium-screen {
      //display: block;
      position: absolute;
      @include square(size(98));

    }
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));

    img {
      @include square(100%);
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .avatar-2 {
    bottom: size(29);
    right: size(36);
    position: absolute;
    @include min-medium-screen {
      bottom: size(29);
      right: size(36);
    }
    @include large-screen {
      bottom: size(80);
      right: size(200);
    }

  }

  .avatar-1 {
    left: size(68);
    position: absolute;
    top: 44%;
    @include min-medium-screen {
      top: 37%;
      left: size(78);
    }
    @include large-screen {
      top: 20%;
      left: size(149);
    }
  }


}
