@import "styles/sites/raistone";

.contact_us_block {
  @include paddingY(size(45), size(105));
  overflow: hidden;
  color: #0A0A0A;


  .contact-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include large-screen {
      padding-right: size(57);
    }
  }

  .left-content {
    @include flexBasis(100%);
    @include large-screen {
      @include flexBasis(42.5%);
      padding-top: size(140);
    }
  }

  .right-content {
    position: relative;
    z-index: 2;
    min-height: size(350);

    @include flexBasis(100%);
    @include large-screen {
      @include flexBasis(47.03%);
      min-height: size(728);
    }
  }

  .contact-img {
    position: absolute;
    top: size(-55);
    z-index: -1;
    @include square(size(350));
    right: 30%;
    @include min-medium-screen {
      right: 60%;
      @include square(size(419));
    }


    img {
      @include square(100%);
      object-fit: cover;
    }
  }

  .form-img {
    position: absolute;
    width: size(267.5);
    left: 78%;
    bottom: 7%;
    z-index: -1;
    @include small-screen {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

  }


  .form-box {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px size(2.61875) size(13.0938) size(6.54688) rgba(195, 195, 195, 0.19);
    border-radius: size(20);
    padding: size(53) size(20);
    @include min-medium-screen {
      padding: size(53) size(40) size(66) size(42);
    }
    @include large-screen {
      padding: size(53) size(41) size(40) size(43);
    }
  }

  .form-text {
    font-weight: 600;
    @include font-size(32px, 36px);
    letter-spacing: -0.015em;
    margin-bottom: size(55);
  }


  .contact-title {
    color: $raistone_jet_black;
    margin-bottom: size(24);
  }

  .contact-description {
    color: $raistone_gery;
    @include max-medium-screen {
      margin-bottom: size(56);
    }
    @include small-screen {
      @include font-size(22px, 36px);
    }
  }

  //   form
  form {
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      //@include font-size(14px,17px);
      color: #0A0A0A;
      font-family: $montserrat;
      margin-bottom: size(4);
      text-transform: capitalize;
    }

  }

  input[type=text], input[type=password], [type=email] {
    box-sizing: border-box;
    font-family: $lato;
    font-weight: 400;
    width: 100%;
    height: 100%;
    color: #414042;
    background: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #9DAAA7;
    display: block;

    &::placeholder {
      color: #9DAAA7;
      text-transform: capitalize;
    }

    @include min-medium-screen {
      padding: size(23) size(16) !important;
    }

    margin-bottom: size(20) !important;


  }

  .checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: size(40);

  }


  input[type=submit] {
    background: $raistone_green;
    @include paddingY(size(15) !important);
    @include paddingX(size(10) !important);
    color: $raistone_white;
    border: none;
    width: 100%;
    @include min-medium-screen {
      height: size(65);
    }
    @include min-medium-screen {
      height: size(110);
    }


    &:hover {
      background-color: $raistone_mid_green;
    }
  }

  .email-wrapper {
    position: relative;

    &:after {
      //content: url("../../images/arrow-input.svg");
      position: absolute;
      left: 93%;
      top: 23%;
      @include square(size(24));
      @include small-screen {
        position: absolute;
        left: 89%;
        top: 23%;
      }
    }

    //.gf_browser_chrome {
    //  .gform_heading {
    //    .gform_title {
    //      display: none !important;
    //    }
    //  }
    //}
    //
    //.gform_wrapper {
    //
    //    .gfield_label {
    //      color: red !important;
    //
    //  }
    //}


  }

  .gchoice {

    label {
      color: $raistone_jet_black !important;
      font-family: $montserrat !important;
      font-weight: 600 !important;
    }

  }

  input[type=checkbox] {
    width: size(18) !important;
    height: size(18) !important;
  }

  .gform_wrapper.gravity-theme .gfield_description {
    width: 100% !important;
  }

  .gform_wrapper.gravity-theme .gform_footer, .gform_wrapper.gravity-theme .gform_page_footer {
    margin-top: size(36) !important;

  }

  .gform_ajax_spinner {
    top: 115% !important;
  }

}

.gform_title {
  display: none !important;
}

.gfield_label {
  font-size: size(14) !important;
  line-height: size(17) !important;
  color: $raistone_jet_black !important;
  font-weight: 600 !important;
  text-transform: uppercase;

}

.gform_wrapper {
  .gfield {
    input {
      font-size: size(18) !important;
      line-height: size(36) !important;
      font-weight: 400 !important;
      font-family: $lato;
      padding: size(14) size(16) !important;
      transition: border-color $duration;

      @include min-medium-screen {
        padding: size(23) size(16) !important;
        font-size: size(22) !important;

      }

      &::placeholder {
        font-size: size(22) !important;
        line-height: size(32) !important;
        font-weight: 400 !important;
        font-family: $lato;
        color: $raistone_jet_black !important;
      }

    }
  }

}


.gform_wrapper.gravity-theme .gfield textarea.large {
  min-height: size(129) !important;
  height: size(129) !important;
  resize: none;

  font-size: size(18) !important;
  line-height: size(36) !important;
  font-weight: 400 !important;
  font-family: $lato;
  padding: size(14) size(16) !important;
  transition: border-color $duration;

  @include min-medium-screen {
    padding: size(23) size(16) !important;
    font-size: size(22) !important;

  }

  &::placeholder {
    font-size: size(22) !important;
    line-height: size(32) !important;
    font-weight: 400 !important;
    font-family: $lato;
    color: $raistone_jet_black !important;
  }
}

.gchoice_1_4_1 {
  .gfield-choice-input {

  }

  display: flex !important;
  align-items: center !important;

  .gfield-choice-input {
    margin: 0 !important;
  }

  label {
    font-size: size(14) !important;
    line-height: size(17) !important;
    color: $raistone_jet_black !important;
    font-weight: 600 !important;
    margin-left: size(10) !important;
  }

}

input[type=submit] {
  font-size: size(18);
  line-height: size(22);
  font-weight: 600;
  padding: size(30) size(164);
  border-radius: size(10);
  font-family: $montserrat;
  cursor: pointer;
  border: none;
  transition: background-color $duration;

  @include small-screen {
    padding: size(18) size(80);
  }
}

.gform_wrapper {
  position: relative;

  .gform_validation_errors {
    border: none;
    border-bottom: 1px solid $raistone_cherry;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 0 0 size(8) 0;
    display: none;
    width: fit-content;
  }

  .gform_validation_errors > h2 {
    font-size: size(16);
    line-height: size(22);
    color: $raistone_cherry;
    font-weight: 600;


    .gform-icon {
      font-size: size(38) !important;
      height: 100%;
      left: size(6) !important;
      display: none;
    }
  }

  .gfield_validation_message {
    .validation_message {
      margin-top: size(8);
      padding: size(12.992) size(24);
    }
  }
}


.gform_wrapper.gravity-theme .gfield_description, .gform_wrapper.gravity-theme .instruction {
  font-size: size(16);
  line-height: size(22);
  color: $raistone_cherry;
  font-weight: 600;
  border: none;
  border-bottom: 1px solid $raistone_cherry;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  padding-bottom: size(8);
  display: none;
  width: fit-content;
}


.gform_confirmation_wrapper {
  .gform_confirmation_message {
    font-size: size(18) !important;
    line-height: size(27) !important;
    color: $raistone_jet_black !important;
    font-weight: 600 !important;
  }

  .gform_ajax_spinner {
    //display: none!important;
    box-sizing: border-box;
    border: 3px solid $raistone_cherry !important;
    border-left: 3px solid rgba(247, 150, 33, 0) !important;
    border-top: 3px solid rgba(247, 150, 33, .15) !important;
    border-right: 3px solid rgba(247, 150, 33, .5) !important;
    animation: spinner 1.1s infinite linear !important;
    border-radius: 50% !important;
    @include square(size(40));
    position: absolute !important;
    top: 0 !important;
    right: 110% !important;
    z-index: 1 !important;
  }
}

.gchoice {
  display: flex;
  align-items: center;
  margin-top: size(11);

  label {
    margin-left: size(12);
    color: $raistone_white;
    font-size: size(16) !important;
    font-weight: 400;
    line-height: 100%;
    font-family: $lato;
  }
}

.gfield_required {
  color: currentColor !important;
}

.gfield-choice-input {
  margin: 0 !important;
  @include square(16px);
  position: relative;
  z-index: 2;
  border-radius: 50% !important;
  height: fit-content !important;

  &:after {
    content: "";
    @include square(18px);
    background-color: $raistone_white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    transition: background-color $duration;
    border-radius: 3px;
    border: 1.5px solid $raistone_gery;
  }

  &:before {
    content: "";
    @include square(9px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //background-image: url(../../images/cheqed.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity $duration;
  }

  &:checked {

    &:after {
      background-color: $raistone_mid_plum;
    }

    &:before {
      opacity: 1;
    }
  }
}

.gform_wrapper.gravity-theme .gform_footer, .gform_wrapper.gravity-theme .gform_page_footer {
  padding: 0 !important;
  margin-top: size(27);
  position: relative;
}

.gform_wrapper.gravity-theme .gform_footer button, .gform_wrapper.gravity-theme .gform_footer input, .gform_wrapper.gravity-theme .gform_page_footer button, .gform_wrapper.gravity-theme .gform_page_footer input {
  margin-bottom: 0;
}


// region Spinner
.gform_ajax_spinner {
  box-sizing: border-box;
  border: size(3) solid $raistone_canary;
  border-left: size(3) solid rgba(247, 150, 33, 0);
  border-top: size(3) solid rgba(247, 150, 33, .15);
  border-right: size(3) solid rgba(247, 150, 33, .5);
  animation: spinner 1.1s infinite linear;
  border-radius: 50%;
  @include square(size(30));
  position: absolute;
  top: 125%;
  right: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin-top: size(5);
}

//endregion

.gform_wrapper.gravity-theme .gfield {
  position: relative;
}


.gform_wrapper .gfield_error [aria-invalid=true] {

  border-color: #414042;
}

.ginput_container_phone{
  input{
    width: 100% !important;
  }
}
.gfield_visibility_visible{
  border: none !important;
}
.gfield_label_before_complex{
  display: none !important;
}
.gfield--width-half{

display: inline-block !important;
  width: 49.5% !important;
}
