@import "styles/sites/advisorhub";

.advisorhub_posts_block {

  .most-read-posts {
    max-width: size(300);
    margin: auto;
    padding-bottom: size(8);
    @include small-screen {
      padding-bottom: 0;
    }

    .large-sub-title {
      margin-bottom: 0;
    }

    .ah-post-card-horizontal {
      border-top: none;

      &:not(:last-child) {
        border-bottom: 1px solid $advisorhub_Cadet_Grey;
      }
    }

    .card-content {
      .post-tag {
        @include font-size(12px, 14px);
        margin-bottom: size(4);
      }

      .post-title {
        @include font-size(14px, 18px);
      }
    }
  }

  .lists-posts-wrapper {
    @include min-medium-screen {
      height: 100%;
    }
    //@include paddingY(size(24));
    //margin-bottom: size(24);

    .list {
      li {
        transition: color;

        a {
          color: $advisorhub_black;
          @include font(13px, 500, 16px, $advisorhub_black, $Roboto);
        }

        &:hover {
          color: $advisorhub_blue;

          a {
            color: $advisorhub_blue;
          }
        }
      }
    }
  }

  .small-horizontal-card {
    padding-bottom: size(8);

    @include min-medium-screen {
      height: 100%;
    }

    .small-sub-title {
      margin-bottom: 0;
    }

    .ah-post-card.has-image {
      flex-direction: row-reverse !important;
      justify-content: space-between;
      padding-top: size(16);

      &:not(:last-child) {
        border-bottom: 0.4px solid $advisorhub_Cadet_Grey;
      }

      .image-wrapper {
        width: size(40);
        @include min-medium-screen {
          @include flexBasis(size(48));
        }

        .post-image {
          padding-top: 100%;
          border-radius: 0;
        }
      }

      .card-content {
        @include max-medium-screen {
          @include paddingY(0);
          @include flexBasis(size(209));
        }
        @include flexBasis(size(189));

        .post-title.post-title-size-2 {
          @include font(12px, 500, 16px, $advisorhub_black, $Roboto);
        }
      }


      &.reverse {
        flex-direction: row !important;
      }
    }
  }

  .only-vertical-card {
    display: flex;
    flex-direction: column;
    //@include min-medium-screen {
    //  max-width: size(300);
    //  margin: auto;
    //  height: 100%;
    //}

    .post-image {
      border-radius: 0 0 size(4) size(4);
      padding-top: 62.8%;
      @include min-medium-screen {
        padding-top: 75.978%;
      }
    }

    .image-wrapper{
      order: 2;
    }

    .card-content {
      order: 1;
      padding: size(18);
      @include min-medium-screen {
        @include paddingY(size(24), size(12));
        @include paddingX(size(20));

      }
      background-color: $advisorhub_white;
      border: 0.4px solid rgba(170, 184, 191, 0.6);
      border-bottom: none;
      border-radius: size(4) size(4) 0 0;

      .post-title {
        @include small-screen {
          @include font-size(28px, 32px);
        }
      }

    }
  }

  .wide-horizontal-card {
    max-width: 100%;
    @include paddingY(size(24), size(8));
    margin-bottom: size(15);

    .large-sub-title {
      padding-top: size(10);
      border-top: 1px solid $advisorhub_red;
    }

    .ah-post-card-horizontal {
      .post-image {
        border-radius: size(5);
      }
    }

  }

  .post-img-title {
    @include min-medium-screen {
      //max-width: size(300);
      //height: 100%;
      //margin: auto !important;
      &.row {
        @include change-gutter(0);
      }
    }
  }

  .three-same-cards {
    padding-bottom: size(8);

    .row {
      @include change-gutter(size(16), size(16));
    }

    .head-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: size(10);
      border-top: 1px solid $advisorhub_red;
      margin-bottom: size(20);
    }

    .category-name {
      margin-bottom: 0;
    }

    .left-text {
      min-width: fit-content;
      @include font(10px, 700, 12px, $advisorhub_Outer_Space, $Roboto, size(0.06));
      text-transform: uppercase;
    }

  }

  .only-title {
    //@include min-medium-screen {
    //  max-width: size(300);
    //  height: 100%;
    //  margin: auto;
    //}


    .ah-post-card {
      border-top: none;

      &:not(:last-child) {
        border-bottom: 0.4px solid $advisorhub_Cadet_Grey;
      }
    }
  }

  .wide-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .ah-post-card {
      @include flexBasis(100%);
      @include min-medium-screen {
        &:first-child {
          @include flexBasis(100%);
        }
        @include flexBasis(size(200));
      }
      @include large-screen {
        @include flexBasis(size(221));
      }
      border-top-color: $advisorhub_red;
    }
  }

  .most-popular-cards {
    max-width: 100%;
    @include min-medium-screen {
      max-width: size(300);
    }
  }

  .right-category-content {
    > div {
      max-width: 100%;
      @include min-medium-screen {
        max-width: 300px;
        margin: 0;
      }
    }

    .upfront_deals_block {
      @include paddingY(0);
      max-width: 100%;
      @include min-medium-screen {
        max-width: size(300);
      }
    }

  }

  &.taxonomy-template {
    @include paddingY(size(40));

    .ah-title {
      max-width: size(594);
      margin-bottom: size(30);
      padding-bottom: size(15);
    }

    .most-popular-cards {
      margin-bottom: 0;
    }

    //
    //.block-wrapper {
    //  &:not(:last-child) {
    //    margin-bottom: size(20);
    //  }
    //}
  }

  a {
    border-bottom: none !important;
  }

}





