@import "styles/sites/headversity";


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  padding: size(19) size(20);
  transition-property: border-radius, box-shadow, padding, background-color, transform;
  transition-duration: $duration;
  background-color: $headversity_white;

  .banner {
    position: fixed;
    top: 0;
    left: 0;
    height: size(57);
    width: 100%;
    @include paddingY(size(13));
    @include paddingX(size(15));
    display: flex;
    transform: translateY(-100%);
    visibility: hidden;
    pointer-events: none;
    transition: transform $duration, visibility $duration, padding $duration;


    background-color: $headversity_dark_blue;
    @include min-medium-screen {
      height: size(45);
    }
    @include large-screen {
      @include paddingY(size(7));
      @include paddingX(size(40));

    }

    .banner-link {
      text-align: center;
      max-width: size(1440);
      @include marginX(auto);
      color: $headversity_white !important;
      @include font(12px, 400, 16px, $headversity_white, $poppins);
      @include max-medium-screen {
        svg {
          @include square((size(18)));
          margin-left: size(17);
        }
      }
      @include large-screen {
        svg {
          margin-left: size(30);
        }
        @include font-size(14px, 30px);
      }
    }
  }

  @include min-medium-screen {
    padding: size(19) size(31);
  }
  @include large-screen {
    @include paddingX(size(40), size(44));
    @include paddingY(size(20), size(24));

  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: size(1440);
    @include marginX(auto)
  }

  .header-link {
    transition: padding $duration, color $duration;
  }

  .left-wrapper {
    display: flex;
    align-items: center;

    // logo
    .main-logo {
      width: size(132);
      height: size(31);
      flex-shrink: 0;
      cursor: pointer;
      z-index: 99;
      @include min-medium-screen {
        width: size(185);
        height: size(31);
      }
      @include large-screen {
        margin-right: size(24);
      }


      picture {
        @include square(100%);
      }

      img, svg {
        @include square(100%);
        object-fit: contain;
        overflow: visible;
      }
    }

    .burger-and-menu {
      z-index: 90;
      margin-right: size(24);
      @include min-medium-screen {
        margin-right: size(16);
      }
    }

    // burger menu
    .burger-menu {
      @include square(size(26));
      z-index: 10;
      cursor: pointer;
      transform: translate3d(0, 0, 0);
      flex-shrink: 0;
      border: none;
      background: transparent;
      padding: 0;
      display: block;
      @include min-medium-screen {
        @include square(size(40));
      }

      &:focus {
        outline: none !important;
      }

      span {
        display: block;
        width: 100%;
        height: size(3);
        margin-bottom: size(5);
        position: relative;
        z-index: 1;
        transition: color $duration;
        color: $headversity_black;

        &:after, &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: currentColor;
          opacity: .99;
          transition: background-color $duration;
          display: table;
          border-radius: size(10);
        }

        &:nth-of-type(even) {
          &:before {
            transform-origin: right;
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }

          &:after {
            transform-origin: left;
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }
        }

        &:before {
          transform-origin: right;
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }

        &:after {
          transform-origin: left;
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }

        &:last-child {
          margin: 0 auto;
        }
      }

      @include large-screen {
        display: none;
      }

      &:hover {
        span {

          &:nth-of-type(even) {
            &:before {
              transform: scaleX(1) translateZ(0);
              transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
            }

            &:after {
              transform: scaleX(0) translateZ(0);
              transition: transform .6s cubic-bezier(.165, .84, .44, 1);
            }
          }

          &:before {
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }

          &:after {
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }

        }
      }
    }

  }

  .middle-wrapper {
    // links
    .navbar {
      position: relative;
      align-items: center;
      flex-direction: row;
      background: $headversity_white;
      @include large-screen {
        background: transparent;
      }

      @include max-medium-screen {
        border-bottom: size(10) solid $headversity_orange;
        position: absolute;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        width: 100%;
        transition: transform 300ms ease-in;
      }

      &.header-links-active {
        transform: translateX(0);

        &:before {
          opacity: 0.6;
        }
      }

    }

    .navbar-wrapper {
      @include paddingY(size(130), size(100));
      @include paddingX(size(30));
      width: 100%;
      height: 100vh;
      //overflow: auto;
      transition: padding $duration;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include min-medium-screen {
        @include paddingX(size(110));
      }
      @include large-screen {
        background-color: transparent;
        padding: 0;
        width: auto;
        height: auto;
        overflow: visible;
      }

      .primary-menu {
        @include large-screen {
          display: flex;
          align-items: center;
        }
      }

      .menu-item {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        margin-bottom: size(40);

        @include large-screen {
          margin-bottom: 0;

          &:before {
            content: "";
            position: absolute;
            width: 150%;
            height: size(22);
            z-index: 5;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        .link-and-icon {
          display: flex;
          align-items: center;

        }

        .menu-item-flex {
          @include font(24px, 600, 100%, $headversity_dark_blue, $poppins);
          position: relative;
          z-index: 1;
          overflow: hidden;
          @include max-medium-screen {
            display: block;
          }
          @include large-screen {
            flex-direction: column;
            display: block;
            @include font-size(16px, 24px);
            @include paddingY(size(10));
            @include paddingX(size(25));
            &:after {
              content: "";
              position: absolute;
              bottom: size(5);
              left: size(25);
              height: size(3);
              background-color: $headversity_orange;
              width: 0;
              transition: width $duration;
            }
          }
        }

        &.language {
          position: relative;
          display: block;
          @include large-screen {
            display: none;
          }
        }

        &:hover {
          @include large-screen {
            &.menu-item-has-children {
              .mega-menu {
                opacity: 1;
                pointer-events: auto;
              }
            }
          }

          .menu-item-flex {

            &:after {
              width: calc(100% - 5rem);
            }

          }
        }

        .mega-menu-wrapper {
          display: none;
        }

        &.menu-item-has-children {

          .menu-item-flex {
            display: flex;
            align-items: center;
          }

          .mega-menu-wrapper {
            display: flex;
            @include max-medium-screen {
              width: 100vw;
              height: 100vh;
              position: fixed;
              z-index: 9;
              top: 0;
              left: 0;
              transform: translateX(-100%);
              transition: transform $duration;
              background-color: $headversity_white;

            }

          }

          .mega-menu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            pointer-events: auto;
            @include paddingX(size(40));
            @include paddingY(size(82), size(80));
            @include square(100%);
            z-index: 9;
            @include max-medium-screen {
              overflow: scroll;
            }
            @include medium-screen {
              overflow: hidden;
              position: relative;
              @include paddingX(size(110));
              padding-top: size(110);
              @include marginX(auto);

            }

            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 10px;
              background-color: $headversity_orange;
            }

            @include large-screen {
              height: auto;
              justify-content: space-between;
              flex-direction: row;
              width: size(716);
              background: $headversity_white;
              border-radius: 0 0 size(30) size(30);
              box-shadow: 0 size(10) size(20) rgba(97, 55, 55, 0.1);
              @include paddingX(size(49), size(77));
              @include paddingY(size(25), size(33));
              position: absolute;
              top: 112%;
              left: 0;
              bottom: unset;
              transform: translate(-45%, 5%);
              opacity: 0;
              border-bottom: 10px soild $headversity_orange;
              transition: opacity $duration;
              pointer-events: none;
              overflow: hidden;
            }

            .upper-mega-menu {
              border-bottom: 1px solid $headversity_black;
              padding-bottom: size(13);
              margin-bottom: size(35);
              width: 100%;
              @include large-screen {
                display: none;
              }

              .back-link {
                @include small-screen {
                  padding-right: size(20);
                }
              }
            }

            .mega-menu-left {
              margin-bottom: size(35);

              @include large-screen {
                @include flexBasis(52.542%);
                padding-top: size(22);
              }

              .title {
                @include font(24px, 600, 24px, $headversity_dark_blue, $poppins);
                margin-bottom: size(12);
                @include min-medium-screen {
                  margin-bottom: size(14);
                }
              }

              .description {
                @include font(16px, 400, 24px, $headversity_gray, $poppins);
                margin-bottom: size(17);
                @include min-medium-screen {
                  max-width: size(309);
                  margin-bottom: size(17);
                }

              }
            }

            .mega-menu-right {
              display: flex;
              flex-direction: column;
              @include large-screen {
                @include flexBasis(34%);

              }

              .img-wrapper {
                position: relative;
                padding-top: 84.718%;
                margin-bottom: size(22);
                @include min-medium-screen {
                  padding-top: 84.23%;
                  margin-bottom: size(16);
                }

                .play-icon {
                  display: block;
                  @include square(size(55));
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
                  cursor: pointer;
                }
              }

              .title {
                @include font(16px, 600, 30px, $headversity_compliant_blue, $poppins);

                &:hover {
                  color: $headversity_hover_orange;
                }
              }

              .description {
                @include font(14px, 400, 24px, $headversity_gray, $poppins);
              }

            }
          }

          .sub-menu {
            height: 0;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            @include paddingX(size(26));

            .menu-item-flex {
              @include font(24px, 600, 100%, $headversity_dark_blue, $poppins, normal);
              transition: color $duration;
              padding: 0;

              &:hover {
                color: $headversity_orange;
              }

              &:after {
                display: none;
              }

              &:not(:last-child) {
                margin-bottom: size(20);
              }

              @include large-screen {
                font-size: size(16);
              }
            }

            &:before {
              @include max-medium-screen {
                content: "";
                position: relative;
                width: 100%;
                margin-top: size(30);
                pointer-events: none;
                background: transparent;
              }
            }

            @include large-screen {
              height: auto !important;
              width: size(200);
              background: $headversity_white;
              box-shadow: 0 size(10) size(20) rgba(97, 55, 55, 0.1);
              @include paddingY(size(20));
              position: absolute;
              top: 153%;
              left: 50%;
              z-index: 99;
              transform: translateX(-50%) !important;
              opacity: 0 !important;
              transition: opacity $duration;
              pointer-events: none;
            }
          }

          &.menu-item-active {
            .mega-menu-wrapper {
              transform: translateX(0%);
            }

          }

          .menu-item-in-sub-menu {
            &:not(:last-child) {
              margin-bottom: size(22);
            }

            .menu-item-flex {
              @include font(14px, 400, 100%, $headversity_dark_blue, $poppins, normal);
              transition: color $duration;
              padding: 0;
              @include large-screen {
                color: $headversity_dark_blue;
              }

              &:after {
                display: none;
              }
            }

            &:hover {
              a {
                color: $headversity_dark_blue;
              }
            }

            &.active-page-sublink {
              a {
                color: $headversity_dark_blue;
              }
            }
          }

          &.menu-item-active {
            .arrow {
              transform: scaleY(-1);
            }
          }

          &:hover {
            .sub-menu {
              opacity: 1 !important;
              pointer-events: visible;
            }
          }
        }

        &.header-links-active {
          > :after {
            width: calc(100% - 5rem);
          }

          .mega-menu {
            opacity: 1;
            pointer-events: auto;
          }
        }


        .minus-plus {
          line {
            stroke: $headversity_orange;
          }

          margin-left: size(10);
          @include square(size(19));
          display: block;
          @include large-screen {
            display: none;
          }
        }
      }


      .btn-in-mobile {
        font-size: size(14);
        margin-bottom: size(100);
        @include medium-screen {
          margin-bottom: size(50);

        }
        @include large-screen {
          display: none;
        }
      }
    }

    .arrow-left {
      transform: scale(-1) rotate(0) !important;
    }

  }

  .right-wrapper {
    display: flex;
    align-items: center;

    .login {
      display: none;
      @include large-screen {
        display: block;
      }
    }

    a {
      @include font(14px, 600, 20px, $headversity_dark_blue, $poppins);
      @include min-medium-screen {
        @include font-size(16px, 24px);
      }
    }

    .btn-desktop {
      font-size: size(14);
      min-width: size(132);
      padding: size(10) size(8);
      @include small-screen {
        min-width: size(112);
      }
      @include min-medium-screen {
        min-width: size(215);
        font-size: size(18);
        @include paddingY(size(21.5));
      }
    }

    .language {
      display: none;
      @include large-screen {
        margin-right: size(43);
        display: block;
        .language-text {
          text-transform: uppercase;
        }
      }
    }
  }


  .link {
    color: #0A1B57 !important;
  }

  &.sticky {
    box-shadow: 0 size(10) size(20) rgba(97, 55, 55, 0.1);
    border-bottom-right-radius: size(20);
    border-bottom-left-radius: size(20);
    transition: padding $duration, transform $duration, background-color $duration;
    padding: size(19) size(20) !important;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);

    .menu-item-has-children {
      &:after {
        pointer-events: none;
      }
    }

    .banner {
      transform: translateY(-100%);
      visibility: hidden;
      pointer-events: none;
    }

    .right-wrapper {
      .ellipse {
        display: none;
      }
    }

    @include min-medium-screen {
      padding: size(19) size(31) !important;
    }
    @include large-screen {
      border-bottom-right-radius: size(30);
      border-bottom-left-radius: size(30);
      @include paddingX(size(40), size(44) !important) ;
      @include paddingY(size(20), size(24) !important);
    }
  }

  &.scroll-up {
    background-color: transparent;
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    .banner {
      transform: translateY(0%);
      visibility: visible;
      pointer-events: auto;
    }
  }


  .language {
    position: relative;
    text-transform: uppercase;

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      width: size(30);
      background-color: transparent;
      height: size(30);
      z-index: -1;
    }


    .list-of-language {
      position: absolute;
      top: calc(100% + 0.4rem);
      left: 50%;
      transform: translateX(-50%);
      min-height: size(61);
      width: size(52);
      display: flex;
      padding: size(5);
      align-items: center;
      justify-content: center;
      background-color: $headversity_white;
      text-align: center;
      opacity: 0;
      transition: opacity $duration;
      box-shadow: 0 size(10) size(20) rgba(97, 55, 55, 0.1);
      border-radius: 0 0 size(10) size(10);
      pointer-events: none;
      overflow: hidden;

      &:after, &:before {
        content: "";
        position: absolute;
        background-color: $headversity_orange;
      }

      &:before {
        transform: translateX(-50%);
        left: 50%;
        width: size(22);
        height: size(3);
        top: 0;
      }

      &:after {
        left: 0;
        width: 100%;
        height: size(10);
        bottom: 0;
      }

      .language-text {
        @include font-size(16px, 24px);
        transition: color $duration;
        text-transform: capitalize;

        &:not(:last-child) {
          margin-bottom: size(20);
        }


      }
    }

    &:hover {
      .list-of-language {
        opacity: 1;
        pointer-events: auto;

      }
    }
  }

  .mobile-only {
    display: flex;
    @include min-medium-screen {
      display: none;
    }
  }

  .media-card {
    .category-title {
      display: none;
    }

    .card-image {
      margin-bottom: size(21);
      padding-top: 79.971%;
    }

    .play-icon {
      @include square(size(68));
      @include large-screen {
        width: size(40) !important;
        height: size(40) !important;
      }
    }

    .card-title {
      color: $headversity_compliant_blue;
      @include font-size(16px, 24px);
      margin-bottom: 0;
    }

    .date, .arrow-icon {
      display: none;
    }


  }

  .card-text {
    @include font-size(16px, 24px);
  }

  .language-mobile {
    display: flex;
    @include large-screen {
      display: none !important;
    }


    .arrow-icon {
      transition: transform $duration;
      margin-left: size(12);
    }

    .menu-item-flex {
      font-size: size(24) !important;
      text-transform: uppercase;
    }

    &.menu-item-active {
      .link-and-icon {
        .arrow-icon {
          transform: scaleY(-1);
        }
      }
    }
  }

  &.has-banner {
    @include paddingY(size(65), size(19));
    @include paddingX(size(20));
    @include large-screen {
      @include paddingX(size(40), size(44));
      @include paddingY(size(55), size(24));
    }

    .middle-wrapper {
    }


    .mega-menu {
      @include small-screen {
        padding-top: size(122) !important;

      }
    }
  }

  .ellipse {
    @include square(size(687));
    pointer-events: none;
    opacity: 0.2;
    @include large-screen {
      display: none;
    }
  }
}

