@import "styles/sites/raistone";


.text_with_left_image_block {
  @include paddingY(size(50));

  .inner-block {
    background-color: #F7F7F7;
    padding: size(30) size(20);
    @include flex(flex-start, space-between, false, wrap);
    @include min-medium-screen {
      padding: size(50);
    }
    @include large-screen {
      padding: size(80);
    }

    .block-image {
      margin-bottom: size(20);
      text-align: center;
      @include flexBasis(100%);
      @include min-medium-screen {
        margin-bottom: size(0);
      }
      @include large-screen {
        @include flexBasis(45.75%);
      }

      img {
        display: inline-block;
      }
    }

    .aspect-ratio {
      padding-top: 97%;
    }

    .block-info {
      @include flexBasis(100%);
      align-self: center;
      margin-top: size(30);
      @include large-screen {
        @include flexBasis(48.7%);
        margin-top: 0;
      }

      .title {
        color: #0A0A0A;
        margin-bottom: size(20);
        @include min-medium-screen {
          margin-bottom: size(30);
        }
      }

      a.title {
        transition: color $duration;

        &:hover {
          color: $raistone_canary;
        }
      }

      .text {
        font-weight: 500;
        font-size: size(22);
        line-height: size(30);
        color: #0A0A0A;
        margin-bottom: size(20);
        @include min-medium-screen {
          font-size: size(32);
          line-height: size(45);
          margin-bottom: size(30);
        }
      }

      .btn {
        padding: size(20) 0;
        min-width: #{'min(45.2rem,100%)'};
      }
    }

    &.right-img {
      flex-direction: row-reverse;
    }
  }


}
