@import "styles/sites/raistone";

.quick_links_block {
  z-index: 90;

  .container {
    @include min-medium-screen {
      @include paddingX(size(20));
    }

    @include large-screen {
      @include paddingX(size(58))
    }
  }

  .quick-links-group {
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: column;
      align-items: center;
    }
    @include large-screen {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .quick-title {
    color: $raistone_gery;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: size(26);
    margin-bottom: size(20);
    @include min-medium-screen {
      @include paddingY(size(25), size(25));
    }

    @include large-screen {
      margin-right: size(40);
      margin-bottom: 0 !important;
    }
  }

  .quick-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include min-medium-screen {
      flex-direction: row;
      flex-wrap: wrap;
      @include paddingX(size(40))
    }
    @include large-screen {
      @include paddingX(0);
    }
  }

  .quick-links {
    color: $raistone_gery;
    transition: color $duration;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    padding-bottom: size(20);
    @include font(16px, 600, 20px, $raistone_jet_black, $montserrat);

    @include min-medium-screen {
      @include paddingX(size(20));
    }
    @include large-screen {
      @include paddingY(size(25), size(25));

    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      top: calc(100% + 1px);
      left: 0;
      width: 0;
      height: 2px;
      background-color: currentColor;
      transition: width $duration;
      @include max-medium-screen {
        display: none;
      }
    }

    &:hover {
      color: $raistone_green;

      &:after {
        width: 100%;
      }
    }

    &.active {
      color: $raistone_green;

      &:after {
        width: 100%;
      }

    }
  }

}
