
@import "styles/sites/wrap";
@import "node_modules/swiper/swiper";

header {
  background-color: green;
  position: fixed;
  width: 100%;
  z-index: 9;
  $headerPaddingX: 5rem;
  //position: relative;
  transition: background-color, padding;
  transition-duration: $duration;
  padding: size(24) size(20) size(10);
  @include flex(center, space-between, false, wrap);
  @include min-medium-screen {
    @include paddingX(size(25));
    padding-top: size(35);
  }
  @include large-screen {
    padding-top: size(40);
    @include paddingX($headerPaddingX);
  }
  
  &.header-sticky, &.header-white-bg {
    background-color: rgba(25, 43, 56, 0.75);
    padding-top: size(25);
    padding-bottom: size(20);
    z-index: 999;
    @include large-screen {
      padding-top: size(10);
      padding-bottom: size(5);
    }
    
    .header-link {
      @include min-medium-screen {
        color: white;
      }
    }
    
    .header-logo {
      width: size(120);
      @include large-screen {
        width: size(150);
      }
    }
  }
  
  &:after {
    content: '';
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: size(4);
    background-image: $wrap-orange-gradient;
  }
  
  .header-logo {
    width: size(120);
    display: block;
    position: relative;
    z-index: 6;
    color: $wrap-white;
    transition: color $duration;
    @include large-screen {
      width: size(150);
      max-width: 11.19%;
    }
    
    &:hover {
      color: $wrap-orange;
    }
    
    &-active {
      color: $wrap-orange;
    }
    
    img {
      width: 100%;
    }
    
    svg {
      width: 100%;
      height: auto;
      
      path {
        fill: currentColor;
      }
    }
  }
  
  .header-links {
    pointer-events: none;
    @include font(size(32), 700, size(41), $wrap-gable-green, $letter-spacing-08);
    text-transform: uppercase;
    position: relative;
    z-index: 5;
    display: flex;
    @include max-medium-screen {
      position: fixed;
      top: 0;
      left: 0;
      clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
      @include square(100%);
      background: #E5E5E5;
      @include paddingY(size(99), size(20));
      flex-direction: column;
      overflow: scroll;
      transition: clip-path $duration;
      pointer-events: none;
    }
    @include large-screen {
      pointer-events: auto;
      flex-wrap: wrap;
      max-width: 76%;
      color: rgba(232, 239, 244, 0.5);
      font-size: size(12);
      line-height: size(16);
    }
    
    &-active {
      pointer-events: visible;
      @include large-screen {
        color: rgba(25, 43, 56, 0.5);
      }
      @include max-medium-screen {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        pointer-events: all;
      }
      
      .header-link-active {
        a {
          color: $wrap-gable-green !important;
        }
        
        .header-link-angle {
          color: rgba(25, 43, 56, 0.5);
          transform: scale(-1);
        }
        
        &:after {
          transition-delay: 200ms;
          opacity: 1;
        }
      }
    }
  }
  
  .header-link {
    $headerLinkPaddingY: 2rem;
    $headerLinkPaddingX: 2.5rem;
    $borderPositionTop: 0.8rem - $headerLinkPaddingY;
    $borderWidth: $headerLinkPaddingX * 2 ;
    padding: size(15) size(20);
    cursor: pointer;
    //transition: color $duration;
    position: relative;
    @include min-medium-screen {
      padding: $headerLinkPaddingY $headerLinkPaddingX;
    }
    @include large-screen {
      cursor: default;
      z-index: unset !important;
    }
    
    &:after {
      content: '';
      position: absolute;
      top: calc(100% - #{-$borderPositionTop});
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - #{$borderWidth});
      height: 2px;
      background: $wrap-orange;
      border-radius: size(20);
      opacity: 0;
      transition: opacity 300ms;
      //@include marginX($headerLinkPaddingX);
    }
    
    a {
      transition: color $duration;
      
      &:hover {
        color: $wrap-orange;
      }
    }
    
    &-angle {
      margin-left: size(6.52);
      width: size(15);
      height: auto;
      transition: transform, color;
      transition-duration: $duration;
      @include max-medium-screen {
        color: rgba(25, 43, 56, 0.5);
      }
      @include large-screen {
        width: size(10);
      }
    }
    
    &-active {
      .header-link-angle {
        transition-delay: 50ms;
      }
    }
    
    &.active-header-link {
      //color: $wrap-orange;
      
      .header-link-angle {
        transform: scale(-1);
      }
    }
    
    &-contact {
      margin: size(60) size(20) 0;
      
      a {
        max-width: 100%;
        width: 100%;
      }
      
      @include min-medium-screen {
        @include marginX($headerLinkPaddingX)
      }
    }
    
    &.has-megamenu {
      cursor: pointer;
      @include flex(center, space-between, false, wrap);
      @include large-screen {
        justify-content: flex-start;
      }
    }
  }
  
  .header-contact {
    padding: size(14) size(21.3);
    position: relative;
    z-index: 2;
  }
  
  //  megamenu styling
  
  .megamenu {
    //position: absolute;
    width: 100%;
    transition: top $duration;
    cursor: default;
    @include max-medium-screen {
      height: 0;
      overflow: hidden;
    }
    @include large-screen {
      position: fixed;
      z-index: -1;
      left: 0;
      top: -100%;
      @include paddingY(size(166), size(45));
      @include paddingX($headerPaddingX);
      background: $wrap-white;
      height: auto !important;
    }
    
    .swiper-wrapper {
      @include max-medium-screen {
        display: block;
      }
    }
    
    .swiper-slide {
      @include max-medium-screen {
        height: auto;
      }
    }
    
    &-active {
      top: 0;
    }
    
    &-spacer {
      height: size(20);
    }
    
    &-slide {
      border-radius: size(5);
      overflow: hidden;
      
      &:not(:last-child) {
        margin-bottom: size(10);
        @include large-screen {
          margin-bottom: 0;
        }
      }
      
      &-title {
        color: $wrap-black;
        display: block;
        transition: color $duration;
        
        &:hover {
          color: $wrap-orange;
        }
        
        @include max-medium-screen {
          font-size: size(14);
          font-weight: 400;
          line-height: 210%;
          text-transform: capitalize;
        }
        @include large-screen {
          margin-bottom: size(20);
        }
      }
      
      &-image {
        padding-top: 100%;
        overflow: hidden;
        
        img {
          transition: transform $duration;
        }
      }
      
      &-has-video {
        cursor: pointer;
        
        .megamenu-slide-image {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
          border-radius: size(5);
          overflow: hidden;
          
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            @include square(100%);
            pointer-events: none;
            border: 1px solid $wrap-orange;
            border-radius: inherit;
          }
        }
      }
      
      &:hover {
        .megamenu-slide-title {
          color: $wrap-orange !important;
        }
        
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  
  
  .open-video-modal {
    @include square(size(50));
    color: #1C3A58;
    
    svg {
      width: size(8);
      height: auto;
    }
    
  }
  
  // region burger menu
  
  .burger-menu {
    width: 2.88rem;
    height: 2.55rem;
    position: relative;
    z-index: 99;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    flex-shrink: 0;
    border: none;
    background: transparent;
    padding: 0;
    
    &:focus {
      outline: none !important;
    }
    
    span {
      display: block;
      width: 100%;
      height: 0.48rem;
      margin-bottom: 0.48rem;
      position: relative;
      z-index: 1;
      transition: color $duration;
      color: $wrap-white;
      
      &:after, &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        opacity: .99;
        transition: background-color $duration;
        display: table;
      }
      
      &:nth-of-type(even) {
        &:before {
          transform-origin: right;
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }
        
        &:after {
          transform-origin: left;
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }
      }
      
      &:before {
        transform-origin: right;
        transform: scaleX(1) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
      }
      
      &:after {
        transform-origin: left;
        transform: scaleX(0) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1);
      }
      
      &:last-child {
        margin: 0 auto;
      }
      
      &:first-child {
        margin: 0 auto 0.48rem;
      }
    }
    
    &:hover {
      span {
        
        &:nth-of-type(even) {
          &:before {
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }
          
          &:after {
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }
        }
        
        &:before {
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }
        
        &:after {
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }
        
      }
    }
    
    &-active {
      span {
        color: #1C3A58;
      }
    }
  }
  
  // endregion burger menu
  
  
  &.header-active {
    .header-logo {
      color: $wrap-gable-green;
    }
  }
  
  &.header-sticky {
    //background-color: $wrap-black;
    //padding-top: size(20);
  }
  
  /*control order of elements on mobile*/
  @include max-medium-screen {
    .burger-menu {
      order: 1;
    }
    .header-logo {
      order: 2;
      position: absolute;
      left: 50%;
      transform: translateX(-65%);
    }
    .header-contact.hide-between-sm-md {
      display: inline-block !important;
      order: 3;
      padding: size(10) size(12);
      font-size: size(10);
      z-index: 9;
    }
  }
}

  


