@import "styles/sites/smartdv";
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  transition: background-color $duration, transform $duration, padding $duration, boxshadow $duration;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: $smart_dv_white;

  // header

  .menu-btn, .close {

    .btn-border {
      transform: translate(-50%, -50%) scaleX(0.5);
      height: size(40);
      width: 85%;
    }
  }

  .header-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    @include paddingY(size(18));
    @include paddingX(size(35), size(25));
    transition: padding $duration;
    transform: translate(0);

    //@include min-medium-screen {
    //  padding: size(31);
    //}
    @include large-screen {
      transition: padding $duration,;
      max-width: size(1440);
      @include paddingY(size(15), size(15));
      @include paddingX(size(60), size(43));
      @include marginX(auto)
    }
  }

  .header-link {
    transition: padding $duration, color $duration;
  }

  .main-logo {
    width: size(144.62);
    height: size(30);
    flex-shrink: 0;
    display: block;
    @include min-medium-screen {
      width: size(216);
      height: size(45);
    }
    @include large-screen {
      margin-right: size(60);
    }
    cursor: pointer;

    picture {
      @include square(100%);
    }

    img, svg {
      @include square(100%);
      object-fit: contain;
      overflow: visible;
    }
  }

  .overlay {
    position: absolute;
    top: 100%;
    right: 0;
    height: vh(100);
    width: 100%;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity $duration, visibility $duration;
    background-color: rgba(28, 35, 38, 0.6);

  }

  .middle-wrapper {
    @include large-screen {
      flex-grow: 1;
      //margin-left: size(55);
      margin-right: size(20);
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 10px;
      background-color: $smart_dv_lime;

      @include large-screen {
        display: none;
      }


    }

    @include max-medium-screen {
      background-color: $smart_dv_white;
      position: fixed;
      overflow: hidden;
      top: 100%;
      //height: vh(100);
      height: calc(#{vh(100)} - #{size(85)});
      left: 0;
      transform: translateX(-100%);
      width: Min(100%, size(500));
      transition: transform 0.4s ease-in;
    }
    @include medium-screen {
      height: calc(#{vh(100)} - #{size(70)});
    }

    &.header-links-active {
      transform: translateX(0);

      &:before {
        opacity: 0.6;
      }
    }

    .navbar {
      position: relative;
      align-items: center;
      flex-direction: row;
      margin-left: auto;
      background: transparent;

      @include max-medium-screen {
        background-color: $smart_dv_white;
        height: vh(100);
        width: 100%;
        overflow: auto;
      }


    }


    .navbar-wrapper {
      @include paddingY(size(78), size(80));
      @include paddingX(size(35));
      width: Min(100%, size(500));
      height: auto;
      position: relative;
      transition: padding $duration;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $smart_dv_white;


      @include min-medium-screen {
        @include paddingX(size(30));
      }
      @include large-screen {
        background-color: transparent;
        padding: 0;
        width: auto;
        height: auto;
        overflow: visible;
      }

      .primary-menu {
        @include large-screen {
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-width: size(680);
          margin-right: size(0);
          margin-left: size(80);

        }
      }

      .menu-item {
        position: relative;
        cursor: pointer;
        margin-bottom: size(48);
        @include large-screen {

          margin-bottom: 0;
        }

        &.menu-item-has-arrow {
          @include max-medium-screen {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .arrow {
              @include square(size(36));

              circle {
                transition: fill $duration;
              }

              &:hover {
                circle {
                  fill: $smart_dv_lime;
                }
              }

              @include large-screen {
                display: none;
              }
            }
          }
          @include large-screen {
            .arrow {
              display: none;
            }
          }
        }

        > a {
          box-sizing: border-box;
          @include font(24px, 400, 30px, $smart_dv_dark_metal_green, $ibm-plex-sans);
          position: relative;
          z-index: 2;
          overflow: hidden;
          @include large-screen {
            @include paddingX(size(10));
            @include paddingY(size(16.6));

          }
          transition: color $duration, padding $duration;

          .menu-item-text {
            position: relative;

            &:after {
              @include max-medium-screen {
                display: none;
              }
              content: "";
              position: absolute;
              width: 0;
              height: 7px;
              z-index: -1;
              //clip-path: polygon(0% 0%, 97% 0%, 100% 100%, 3% 100%);
              background: #d7f044;
              left: 0;
              transition: width 500ms;
              bottom: 0;
              transform: skewX(20deg);
            }

          }

          @include large-screen {
            display: block;
            @include font-size(16px, 20px);
            &.header-link-active {
              .menu-item-text {
                &:after {
                  width: calc(100% + 20px);
                }
              }
            }
          }

        }


        &:last-of-type {
          margin-right: size(0);
          @include max-medium-screen {
            &:after {
              display: none;
            }
          }

        }

        &:hover {
          a {
            @include max-medium-screen {
              color: $smart_dv_dark_metal_green;
            }
            @include large-screen {
              .menu-item-text {
                &:after {
                  width: calc(100% + 20px);
                }
              }
            }
          }

        }


        &.menu-item-has-children {
          .svg-wrapper {
            display: flex;
            align-items: flex-end;
            width: size(35.5);
            height: size(20.5);
            position: absolute;
            opacity: 0;
            transition: opacity $duration;
            top: 90%;
            left: 50%;
            transform: translateX(-50%);

            svg {
              filter: drop-shadow(-1px 0px 4px rgba(116, 116, 116, 0.2));

              path {

                fill: white;
              }

              width: 100%;
              height: calc(100% - 3px);
              object-fit: contain;
            }

            @include max-medium-screen {
              display: none;
            }
          }

          .sub-menu {
            height: 0;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            @include paddingX(size(20));

            &:before {
              @include max-medium-screen {
                content: "";
                position: relative;
                width: 100%;
                margin-top: size(30);
                pointer-events: none;
                background: transparent;
              }
            }

            @include large-screen {
              height: auto;
              width: size(200);
              background-color: $smart_dv_green;
              box-shadow: 2px 2px 15px #80808066;
              border-radius: size(5);
              @include paddingY(size(20));
              position: absolute;
              top: 100%;
              left: 50%;
              transform: translateX(-50%);
              opacity: 0;
              transition: opacity $duration;
              pointer-events: none;
              .menu-item-in-sub-menu {
                a {
                  color: $smart_dv_white;
                }
              }
            }
          }

          .menu-item-in-sub-menu {
            &:not(:last-child) {
              margin-bottom: size(22);
            }

            a {
              @include font(14px, 700, 20px, $smart_dv_white, $ibm-plex-sans);
              transition: color $duration;
              padding: 0;
              @include large-screen {
                color: $smart_dv_white;
              }

              &:after {
                display: none;
              }
            }

            &:hover {
              a {
                color: $smart_dv_dark_metal_green
              }
            }

            &.active-page-sublink {
              a {
                color: $smart_dv_white;
              }
            }
          }


          .mega-menu {
            overflow: visible;
            //background-image: $smart_dv_green;
            background-color: $smart_dv_white;
            position: absolute;

            .mega-menu-wrapper {
              display: flex;
              background-color: $smart_dv_white;

              .mega-menu-left {
                position: relative;

                .border-title {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  @include max-medium-screen {
                    margin-bottom: size(20);
                  }
                }

                .title {
                  @include font(24px, 700, 30px, $smart_dv_dark_metal_green, $ibm-plex-sans);
                  margin-bottom: size(7);
                  @include large-screen {
                    display: none;
                  }
                }

                .desc {
                  svg {
                    margin-bottom: size(20);
                  }
                }

                .border {
                  border-bottom: 1px solid #086875;
                  width: 185px;
                  height: 0;
                  @include large-screen {
                    display: none;
                  }
                }

                .menu-title {
                  @include font(20px, 400, 25px, $smart_dv_dark_metal_green, $montserrat);
                  margin-bottom: size(16);
                  @include medium-screen {
                    margin-bottom: size(24);

                  }

                }

                .menu-item-in-mega-menu {
                  a {
                    @include font(16px, 400, 125%, $smart_dv_dark_metal_green, $ibm-plex-sans);
                    transition: color $duration;

                    &.header-sublink-active {
                      color: $smart_dv_lime;
                    }

                    &:hover {
                      color: $smart_dv_lime;
                    }
                  }

                  &:last-of-type {
                    margin-bottom: size(0);
                  }
                }
              }

              .mega-menu-right {
                .desc {
                  svg {
                    margin-bottom: size(20);
                  }
                }

                .menu-items-in-mega-menu {
                  display: flex;
                  width: 100%;
                  align-content: space-between;
                  flex-direction: column;
                  max-width: size(480);
                  flex-wrap: wrap;


                }

                .menu-title {
                  @include font(20px, 400, 25px, $smart_dv_dark_metal_green, $montserrat);
                  margin-bottom: size(16);
                  @include medium-screen {
                    margin-bottom: size(24);

                  }


                }

                .menu-item-in-mega-menu {
                  a {
                    @include font(16px, 400, 125%, $smart_dv_dark_metal_green, $ibm-plex-sans);
                    transition: color $duration;

                    &.header-sublink-active {
                      color: $smart_dv_lime;
                    }

                    &:hover {
                      color: $smart_dv_lime;
                    }
                  }

                  &:last-of-type {
                    margin-bottom: size(0);
                  }
                }
              }

            }

            @include max-medium-screen {
              position: fixed;
              width: Min(100vw, size(500));
              height: vh(100);
              z-index: 9;
              top: 0;
              left: 0;
              transform: translateX(-100%);
              transition: transform $duration, opacity $duration;
              opacity: 0;
              .mega-menu-wrapper {
                flex-direction: column;
                @include paddingY(size(40), size(200));
                @include paddingX(size(36));
                height: auto;

                .back-arrow {
                  @include square(size(37));
                  margin-bottom: size(31);
                  overflow: visible;
                }

              }
              .mega-menu-left {
                position: relative;
                margin-bottom: size(60);

                .menu-item-in-mega-menu {
                  a {
                    @include font(16px, 400, 125%, $smart_dv_dark_metal_green, $ibm-plex-sans);
                    transition: color $duration;

                    &.header-sublink-active {
                      color: $smart_dv_lime;
                    }

                    &:hover {
                      color: $smart_dv_lime;
                    }
                  }

                  &:not(:last-of-type) {
                    margin-bottom: size(10);
                  }
                }

                &:after {
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 100%;
                  width: 100%;
                  height: 0.25px;
                  background-color: rgba(255, 255, 255, 0.4);
                }
              }
              .mega-menu-right {
                .menu-item-in-mega-menu {
                  a {
                    @include font(16px, 400, 125%, $smart_dv_dark_metal_green, $ibm-plex-sans);
                    transition: color $duration;

                    &.header-sublink-active {
                      color: $smart_dv_lime;
                    }

                    &:hover {
                      color: $smart_dv_lime;
                    }
                  }

                  &:not(:last-of-type) {
                    margin-bottom: size(10);
                  }
                }

                .menu-title {
                  @include font(20px, 400, 25px, $smart_dv_dark_metal_green, $montserrat);
                  margin-bottom: size(16);
                  @include medium-screen {
                    margin-bottom: size(24);

                  }


                }
              }
            }
            @include large-screen {
              position: fixed;

              height: auto;
              width: fit-content;
              filter: drop-shadow(0px size(10) size(4) rgba(0, 0, 0, 0.1));
              top: 100%;
              left: 50%;
              transform: translateX(-50%);
              opacity: 0;
              transition: opacity $duration;
              pointer-events: none;

              .mega-menu-wrapper {
                max-height: vh(85);
                width: size(780);
                @include paddingY(size(55), size(143.8));
                @include paddingX(size(87), size(70));
                justify-content: center;
                @include marginX(auto);
                border-bottom: 8px solid #BFD730;

                .back-arrow {
                  display: none;
                }

              }
              .desc {
                svg {
                  margin-bottom: size(20);
                }
              }
              .menu-title {
                @include font(20px, 400, 25px, $smart_dv_dark_metal_green, $montserrat);
                margin-bottom: size(16);

              }
              .menu-item-in-mega-menu {
                a {
                  @include font-size(16px, 20px);

                  &.header-sublink-active {
                    color: $smart_dv_lime;
                  }
                }

                margin-bottom: size(12);

              }
              .mega-menu-left {
                position: relative;
                @include flexBasis(43%);
                padding-right: size(100);

                &:after {
                  position: absolute;
                  content: '';
                  left: 100%;
                  top: 0;
                  background-color: #086875;
                  width: 1px;
                  height: 109.15%;


                }

                .title {
                  @include font-size(30px, 37.5px);
                }


                //&:after {
                //
                //  left: 100%;
                //  top: 0;
                //  width: 0.25px;
                //  height: size(195);
                //
                //}

              }
              .mega-menu-right {
                @include flexBasis(61%);
                padding-left: size(95);

                .menu-title {
                  @include font(20px, 400, 25px, $smart_dv_dark_metal_green, $montserrat);

                }

                .menu-item-in-mega-menu {
                  a {
                    @include font-size(16px, 20px);

                    &.header-sublink-active {
                      color: $smart_dv_lime;
                    }
                  }

                  margin-bottom: size(12);

                }

              }

            }

            &:after {
              content: "";
              position: absolute;
              top: calc(100% - 82px);
              left: 0;
              width: 100%;
              height: size(10);
              background-color: $smart_dv_lime;
              @include medium-screen {
                top: calc(100% - 66px);

              }
              @include large-screen {
                display: none
              }
            }


          }

          @include large-screen {
            &:hover {
              .sub-menu {
                opacity: 1;
                pointer-events: auto;
              }

              .svg-wrapper {
                opacity: 1;
              }

              .mega-menu {
                opacity: 1;
                pointer-events: auto;
              }
            }
          }

          &:after {
            @include large-screen {
              position: absolute;
              top: 70%;
              content: '';
              width: 140%;
              height: size(30);
            }

          }

        }

        &.menu-item-active {
          //transform: unset !important;
          @include max-medium-screen {
            .mega-menu {
              transform: translateX(0%);
              opacity: 1 !important;
            }
          }
        }

      }

      .btn-in-mobile {
        width: fit-content;
        font-size: size(16);
        min-width: size(123);
        @include paddingY(size(6.5));
        @include paddingX(size(18));
        @include large-screen {
          display: none;
        }

        &:after {
          display: none;
        }
      }

      .contact-us {
        display: none;

        @include max-medium-screen {
          @include font-size(20px, 26px);
          display: block;
          width: fit-content;
          margin-top: size(54);
          margin-left: size(-20);
        }
      }
    }
  }

  .right-wrapper {
    display: flex;
    align-items: center;


    .btn-desktop {
      display: none;
      @include min-medium-screen {
        min-width: size(123);
        font-size: size(16);
        @include paddingY(size(6.5));
        @include paddingX(size(18))
      }
      @include large-screen {
        display: block;
      }

      &:after {
        display: none;
      }
    }

    .btn-navmenu {
      padding: size(6.5) size(20);
      min-width: size(84);
      @include large-screen {
        display: none;
      }

      &:after {
        display: none;
      }

      &:hover {
        background-color: transparent;
      }

    }

    .menu-btn {
      .cta-title {
        background-color: transparent;
      }
    }

    .cta-button {
      @include large-screen {
        padding: size(10);
      }

      &.close {
        .cta-title {
          background-color: transparent;
        }

      }
    }

    .close {
      display: none;
    }

    .contact-us {
      display: none;
    }

    @include large-screen {
      .menu-btn {
        display: none;
      }
      .contact-us {
        display: block;
      }

    }
  }

  .header-wrapper {
    @include max-medium-screen {
      @include paddingY(size(15))
    }
  }

  //  class sticky

  ul, ol {
    list-style: none;
  }

  .menu-text {
    transition: opacity $duration ease-in-out;

  }

  .close-icon-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: opacity $duration ease-in-out;
    opacity: 0;

    span {
      width: 1.5rem;
      height: 2px;
      background: white;
      display: block;
      position: absolute;

      &:first-of-type {
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:last-of-type {
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  &.sticky {
    transform: translateY(-100%);
    box-shadow: unset;
    @include large-screen {
      pointer-events: none;
      .menu-item-has-arrow {
        .mega-menu {
          pointer-events: none !important;
        }
      }
    }

    .menu-item-has-children {
      &:after {
        pointer-events: none;
      }
    }
  }

  &.fixed {
    transform: translateY(0);

    .header-wrapper {
      @include small-screen {
        @include paddingY(size(24), size(20));
      }

    }

    @include large-screen {
      @include paddingY(size(20), size(10));
      .header-wrapper {
        @include paddingY(0)
      }

    }
    background-color: transparent;
    box-shadow: unset;
    transition: transform $duration, box-shadow $duration, background-color $duration, padding $duration;

  }

  &.no-transition * {
    transition: none !important;
  }

  &.header-active {
    @include max-medium-screen {
      .overlay {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }


    }
    @include small-screen {
      background-color: $smart_dv_white;
    }

    //background-image: $smart_dv_green;

    .menu-text {
      opacity: 0;
    }

    .right-wrapper {
      @include max-medium-screen {
        .close {
          display: block;
        }
      }
    }

    .menu-btn {
      display: none;
    }

    .close-icon-wrapper {
      opacity: 1;
    }
  }

  &.dark-header {
    background-color: $smart_dv_lime;
  }

  .search {
    @include max-medium-screen {
      display: none;
    }
    display: flex;
    align-items: center;

    svg {
      margin-right: size(12);

      circle {
        stroke: $smart_dv_green;
        transition: stroke $duration;
      }

      line {
        stroke: $smart_dv_green;
        transition: stroke $duration;

      }

      &.active {
        circle {
          stroke: $smart_dv_lime;
        }

        line {
          stroke: $smart_dv_lime;

        }
      }

      @include max-medium-screen {
        display: none;
      }
    }

    .search-input {
      position: relative;
      z-index: 5;
      transition: z-index 0.8s, width $duration, border 0.3s, padding 0.3s;
      @include font(16px, 400, 16px, #162932, $montserrat);
      height: size(45);
      width: 0;
      margin: 0;
      box-sizing: border-box;
      border: transparent;
      padding: 0;
      cursor: pointer;

      &.opened {
        width: size(120);
        padding-bottom: size(11);
        padding-left: size(10) !important;
        outline: none;
        border-bottom: 1px solid #086875 !important;
      }

    }
  }

  .search-mob {
    @include large-screen {
      display: none;
    }
    max-width: size(350);
    @include marginY(size(66), size(40));

    display: flex;
    align-items: center;

    svg {

      circle {
        stroke: $smart_dv_green;
        transition: stroke $duration;
      }

      line {
        stroke: $smart_dv_green;
        transition: stroke $duration;

      }

      &.active {
        circle {
          stroke: $smart_dv_lime;
        }

        line {
          stroke: $smart_dv_lime;

        }
      }
    }

    .search-input-mob {
      position: relative;
      z-index: 5;
      transition: z-index 0.8s, width 0.5s, border 0.3s, padding 0.3s;
      @include font(16px, 400, 16px, #162932, $montserrat);
      height: size(45);
      margin: 0;
      box-sizing: border-box;
      -webkit-border-bottom-left-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      border: transparent;
      cursor: pointer;
      max-width: size(500);
      padding-bottom: size(11);
      outline: none;
      border-bottom: 1px solid #086875 !important;


    }

    @include large-screen {
      display: none;
    }

  }

  input {
    background-color: transparent !important;
  }
}
