
@import "../../../styles/sites/kiwi/index";

section.block-slider-circle-horizontal {
  @include marginY(size(60));
  @include min-large-screen {
    @include marginY(size(113), size(121));
  }
  position: relative;
  
  .slide-circle-wrapper {
    max-width: size(1170);
    
    @media screen and (min-width: 1500px) {
      @include marginX(auto);
    }
    
    .slide-top-part {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap-reverse;
      @include x-large-screen {
        flex-wrap: nowrap;
      }
      
      .laptop-hr {
        position: absolute;
        width: 100%;
        padding: 0;
        margin: 0;
        top: size(479); //calc(70.90% - 10rem)
        left: 0;
        border: none;
        height: size(1);
        background: $kiwi-dark-gray;
        display: none;
        @include x-large-screen {
          display: block;
        }
      }
      
      .swiper-btns {
        flex-direction: row;
        margin-top: size(-10);
        position: relative;
        @include marginX(auto);
        z-index: 6;
        @include min-medium-screen {
          margin-top: size(-50);
        }
        @include x-large-screen {
          display: flex;
          margin-right: size(64);
          flex-direction: column-reverse;
          margin-bottom: size(140);
          margin-top: 0;
        }
        
        .swiper-button {
          width: size(62);
          height: size(62);
          @include min-medium-screen {
            width: size(82);
            height: size(82);
          }
          
          &:not(:last-child) {
            margin-right: size(10);
            margin-left: 0;
            @include x-large-screen {
              margin-top: size(10);
              margin-bottom: 0;
              margin-right: 0;
            }
          }
        }
      }
      
      .slides-wrapper {
        flex-grow: 1;
        position: relative;
        height: 100% !important;
        
        .half-circle {
          position: absolute;
          width: 100%;
          top: 8%;
          display: none;
          @include x-large-screen {
            display: block;
          }
        }
        
        .swiper-images {
          max-width: size(847);
          @include marginX(auto);
          position: relative;
          width: 100%;
          
          .iframe {
            width: 100%;
          }
          
          .swiper-container {
            overflow: hidden;
            position: absolute;
            top: 8.7%;
            width: 75.7%;
            height: 68.8% !important;
            left: 50%;
            transform: translateX(-50%);
            
            .swiper-wrapper {
              height: 100% !important;
              
              .swiper-slide {
                max-width: 100%;
              }
            }
            
          }
          
          .site-image {
            width: 100%;
            height: 100%;
            
            img {
              width: 100%;
              transition: transform 10s ease 0s;
              height: auto;
              
              &:hover {
                transform: translate(0%, calc(-100% + 25.6rem));
                @include min-medium-screen {
                  transform: translate(0%, calc(-100% + 31.6rem));
                }
                @include min-large-screen {
                  transform: translate(0%, calc(-100% + 36rem));
                }
                @include x-large-screen {
                  transform: translate(0%, calc(-100% + 40rem));
                }
              }
            }
          }
        }
      }
    }
    
    .slide-bottom-part {
      max-width: size(1024);
      margin-left: auto;
      @include x-large-screen {
        margin-top: size(-48);
      }
      
      .swiper-container {
        overflow: hidden;
        @include paddingY(size(10));
        
        .swiper-wrapper {
          height: 100% !important;
          
          .swiper-slide {
            max-width: 100%;
          }
        }
      }
      
      .site-details {
        margin-bottom: size(24);
        text-align: center;
        min-height: size(100);
        
        .headline-4 {
          flex-basis: 100%;
          margin-bottom: size(20);
          @include min-medium-screen {
            flex-basis: auto;
            margin-bottom: 0;
          }
        }
        
        img {
          max-width: size(235);
        }
        
        //.logo-wrapper {
        //    width: 100%;
        //    max-width: size(235);
        //    @include min-medium-screen {
        //        width: 23%;
        //    }
        //
        //    .aspect-ratio {
        //        padding-top: 40%;
        //
        //        img {
        //            object-fit: contain;
        //        }
        //    }
        //}
        
        @include min-medium-screen {
          text-align: left;
        }
        @include x-large-screen {
          margin-bottom: 0;
        }
      }
      
      .view-site {
        @include marginX(auto);
        @include x-large-screen {
          margin-top: size(56);
        }
        
        .btn-bg {
          background: $kiwi-blue;
        }
        
        &:hover {
          .btn-text {
            color: $kiwi-white !important;
          }
        }
      }
    }
  }
  
}





  


