
@import "styles/sites/towSmart";


.how_to_tow_smart_block {
  background-color: #1a1c22;
  @include paddingY(size(60));
  @include min-medium-screen {
    @include paddingY(size(80));
  }
  
  .has-padding {
    padding-top: size(80);
  }
  
  @include paddingY(size(40), size(40));
  
  @include min-medium-screen {
    @include paddingY(size(80), size(70));
  }
  
  .headline-2 {
    text-align: center;
    margin-bottom: size(20);
    @include min-medium-screen {
      margin-bottom: size(60);
    }
  }
  
  .container {
    @include small-screen {
      padding: 0;
    }
  }
  
  .paragraph-16 {
    color: $tow_smart_white_70;
  }
  
  .wysiwyg-block {
    p {
      color: $tow_smart_white_70;
    }
    
    ul {
      margin-left: size(10);
      
      li {
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }
    
    ol {
      li {
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }
    
  }
  
  .bold {
    font-weight: bold;
    color: $tow_smart_white;
  }
  
  .how-to-tow-smart-wrapper-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    
    .paragraph {
      color: $tow_smart_white_70;
      margin-bottom: size(30);
      
    }
    
    .headline-3 {
      @include small-screen {
        @include font-size(24px, 29px);
      }
      margin-bottom: size(20);
    }
    
    .left-content-smart-group {
      @include flexBasis(100%);
      overflow: hidden;
      @include min-medium-screen {
        border-radius: 8px;
      }
      
      @include large-screen {
        @include flexBasis(49.52%);
      }
      
    }
    
    .right-content-smart-group {
      position: relative;
      @include flexBasis(100%);
      margin-top: size(30);
      @include small-screen {
        @include paddingX($container-padding-sm);
      }
      @include large-screen {
        @include flexBasis(48.21%);
        margin-top: 0;
      }
      
      .first-smart {
        @include font-size(18px, 22px);
        color: $tow_smart_red;
        margin-bottom: size(6);
      }
      
      
      .smart-towing-img {
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      
    }
    
    .aspect-ratio {
      padding-top: 75.71%;
      @include min-medium-screen {
        padding-top: 75%;
        border-radius: 8px;
        overflow: hidden;
      }
      
      img {
        object-fit: contain;
      }
    }
    
    &.has-img {
      .left-content-smart-group {
        .swiper-wrapper {
          display: none;
        }
        
        .video-wrapper {
          display: none;
        }
      }
    }
    
    &.has-swiper {
      .left-content-smart-group {
        padding: size(30);
        background-color: #1F2229;
        position: relative;
        height: size(260);
        @include min-medium-screen {
          height: size(450);
        }
        @include large-screen {
          height: size(450);
        }
        
        .aspect-ratio {
          padding-top: 37%;
          @include min-medium-screen {
            padding-top: 46%;
          }
          @include large-screen {
            padding-top: 57%;
          }
        }
      }
      
      
      .tow-smart-swiper-img {
        height: size(168);
        width: 100%;
        @include min-medium-screen {
          height: size(352);
        }
        
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      
      
      .video-wrapper {
        display: none;
      }
      
      .smart-towing-img {
        display: none;
      }
      
      .swiper-pagination {
        display: flex;
        position: absolute;
        bottom: size(20);
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        text-align: center;
        margin: 0;
        @include min-medium-screen {
          bottom: size(30);
        }
      }
    }
    
    &.wide {
      
      .tow-smart-swiper-img {
        margin: 0 auto;
      }
      
      .left-content-smart-group {
        @include large-screen {
          @include flexBasis(65.2%);
        }
      }
      
      .right-content-smart-group {
        @include flexBasis(100%);
        @include large-screen {
          @include flexBasis(32.46%);
        }
        
        
        a {
          svg {
            @include square(size(20));
            margin-right: size(10);
          }
        }
        
        
        
      }
      
      &.has-swiper {
        .left-content-smart-group {
          height: size(211);
          @include flexBasis(100%);
          @include paddingX(size(15));
          @include paddingY(size(46));
          @include min-medium-screen {
            padding: size(80);
            height: auto;
          }
          @include large-screen {
            @include flexBasis(65.16%);
            padding: size(109) size(62);
          }
          
          .swiper-pagination {
            @include small-screen {
              bottom: size(10);
            }
          }
        }
        
        .tow-smart-swiper-img {
          height: size(118);
          @include min-medium-screen {
            height: size(232);
          }
          
        }
        
      }
    }
    
    &.reversed {
      flex-direction: row-reverse;
    }
    
    &.has-video {
      video {
        @include square(100%);
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
      }
      
      .video-wrapper {
        position: relative;
        
      }
      
      .video-wrapper-img {
        @include square(100%);
        position: absolute;
        top: 0;
        
        img {
          object-fit: cover;
        }
        
        &.active {
          opacity: 0;
          pointer-events: none;
        }
      }
      
      .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        cursor: pointer;
        @include square(size(53));
        @include min-medium-screen {
          @include square(size(61));
        }
        
        svg {
          @include square(100%);
        }
        
        &.active {
          opacity: 0;
          pointer-events: none;
        }
      }
      
      .playing {
        .video-wrapper {
          opacity: .2;
        }
      }
      
      .swiper-wrapper {
        display: none;
      }
      
      .smart-towing-img {
        display: none;
      }
      
      
      .btn, .btn-arrow {
        display: flex;
      }
    }
    
    .btn-arrow {
      margin-right: auto;
      margin-left: 0;
      margin-top: size(14);
    }
    
    .btn {
      margin-top: size(10);
      padding: size(14) size(71);
      background: rgba(255, 255, 255, 0.2);
      @include small-screen {
        width: 100%;
      }
    }
  }
  
  .swiper-container {
    position: unset;
    overflow: hidden;
  }
  
  .swiper-button {
    color: rgba(255, 255, 255, 0.1);
    transition: color $duration;
    
    svg {
      @include square(size(32));
      
      path {
        fill: rgba(255, 255, 255, 0.1);
      }
    }
    
    &:hover {
      path {
        fill: rgba(255, 255, 255, 1);
      }
    }
    
    display: none;
  }
  
  .swiper-button-prev, .swiper-button-next {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    transform: translateY(-50%);
    @include small-screen {
      display: none;
    }
  }
  
  .swiper-button-prev {
    top: 50%;
    left: 92%;
  }
  
  .swiper-button-next {
    right: 92%;
    top: 50%;
    
  }
}


  


