@import "styles/sites/virtual_world";


.about_hero_block {
  @include paddingY(size(61), size(50));
  @include min-medium-screen {
    @include paddingY(size(111), size(75));
  }
  
  overflow: visible;
  
  .main-title, .description {
    text-align: center;
    margin-bottom: size(30);
    @include min-medium-screen {
      margin-bottom: size(50);
    }
  }
  
  .description {
    max-width: size(1620);
    @include marginX(auto);
  }
  
  .hero-shape {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: size(20);
    width: 2px;
    background-image: linear-gradient(180deg, #30aae2 0%, #62bb92 100%);
    border-radius: 3px;
    
    @include min-medium-screen {
      height: size(40);
      width: 4px;
    }
    
  }
  
  .gallery-wrapper {
    position: relative;
    @include marginX(auto);
    max-width: size(320);
    height: size(119);
    
    @include min-medium-screen {
      max-width: 77%;
      height: size(245);
    }
    @include large-screen {
      max-width: size(1514);
      height: size(560);
    }
  }
  
  .media-wrapper {
    width: size(114);
    height: size(59);
    position: absolute;
    @include min-medium-screen {
      width: size(230);
      height: size(120);
    }
    @include large-screen {
      width: size(537);
      height: size(278);
    }
    
    video {
      @include square(100%);
      object-fit: cover;
      
    }
    picture {
      @include square(100%);
      
      img {
        @include square(100%);
        object-fit: cover;
      }
    }
  }
  
  .right {
    clip-path: polygon(30% 0, 100% 0, 70% 100%, 0 100%);
  }
  
  .left {
    clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
  }
  
  .media-wrapper-1, .media-wrapper-3, .media-wrapper-5 {
    top: 0;
  }
  
  .media-wrapper-2, .media-wrapper-4, .media-wrapper-6 {
    bottom: 0;
  }
  
  .media-wrapper-1 {
    right: 0;
  }
  
  .media-wrapper-2 {
    right: 10.89%;
  }
  
  .media-wrapper-3 {
    left: 0;
  }
  
  .media-wrapper-4 {
    left: 10.89%;
  }
  
  .media-wrapper-5 {
    right: 32.430%;
  }
  
  .media-wrapper-6 {
    width: size(66);
    height: size(59);
    
    @include min-medium-screen {
      width: size(136);
      height: size(119);
    }
    @include large-screen {
      width: size(314);
      height: size(279);
    }
    
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    left: 36.195%;
  }
}




